Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix E2E tests
  e2e/test/scenarios/visualizations-tabular/smartscalar-trend.cy.spec.js
Due: none

Handle mocha reports outside test run hooks
  .github/scripts/handle-mochawesome-report.js
  .github/workflows/e2e-component-tests-embedding-sdk-cross-version.yml
  .github/workflows/e2e-component-tests-embedding-sdk.yml
  .github/workflows/e2e-test.yml
  e2e/support/config.js
Due: none

Delete custom util
  e2e/runner/utils/reporter.js
Due: none

moved plugins, added eslint rule
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/context.tsx
  enterprise/frontend/src/embedding-sdk/components/public/MetabaseProvider.tsx
  enterprise/frontend/src/embedding-sdk/index.ts
  enterprise/frontend/src/embedding-sdk/lib/plugins.ts
  enterprise/frontend/src/embedding-sdk/store/reducer.ts
  enterprise/frontend/src/embedding-sdk/store/types.ts
  frontend/src/metabase/.eslintrc
  frontend/src/metabase/dashboard/components/DashCard/DashCardMenu/DashCardMenu.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardMenu/DashCardMenuItems.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderView.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/use-dashboard-load-handlers.ts
  frontend/src/metabase/visualizations/click-actions/Mode/Mode.ts
  frontend/src/metabase/visualizations/click-actions/lib/modes.ts
  frontend/src/metabase/visualizations/components/ChoroplethMap.jsx
Due: front-end

Update error colors following the new design (#52029)
  .loki/reference/chrome_laptop_Design_System_colors_Default.png
  e2e/test/scenarios/visualizations-tabular/smartscalar-trend.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/ColorSettings/ColorSettings.unit.spec.tsx
  frontend/src/metabase/css/core/colors.module.css
  frontend/src/metabase/lib/colors/palette.ts
Due: front-end

Expand the documentation
  docs/developers-guide/e2e-tests.md
Due: none

Generate HTML report in `cypress/reports`
  package.json
Due: none

Actually await for the report to generate
  .github/workflows/e2e-component-tests-embedding-sdk-cross-version.yml
  .github/workflows/e2e-component-tests-embedding-sdk.yml
  .github/workflows/e2e-test.yml
Due: none

Fix module errors when Embedding SDK Cypress tests running in development mode
  .gitignore
  webpack.embedding-sdk.config.js
Due: none

Update error colors following the new design (#52029) (#52091)
  .loki/reference/chrome_laptop_Design_System_colors_Default.png
  e2e/test/scenarios/visualizations-tabular/smartscalar-trend.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/ColorSettings/ColorSettings.unit.spec.tsx
  frontend/src/metabase/css/core/colors.module.css
  frontend/src/metabase/lib/colors/palette.ts
Due: front-end

Add a warning/disclaimer for H2 uploads
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettingsForm.tsx
Due: front-end

Make dataset loading chunk-size dynamic
  modules/drivers/databricks/test/metabase/test/data/databricks.clj
Due: none

send when archive collection too
  src/metabase/api/collection.clj
  src/metabase/channel/impl/email.clj
  src/metabase/models/card.clj
  test/metabase/api/card_test.clj
  test/metabase/api/collection_test.clj
  test/metabase/email_test.clj
Due: back-end

Update SDK error style
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/SdkError.tsx
  frontend/src/metabase/core/components/Alert/Alert.styled.tsx
  frontend/src/metabase/css/core/colors.module.css
Due: front-end

remove duplicated file
  enterprise/frontend/src/embedding-sdk/lib/theme/get-embedding-chart-colors.ts
Due: front-end

Cleanup
  modules/drivers/athena/test/metabase/driver/athena_test.clj
Due: none

Adjust old keys removal
  modules/drivers/athena/src/metabase/driver/athena.clj
Due: none

Remove old bucket reference
  modules/drivers/deps.edn
Due: none

Upgrade Athena jdbc driver to 3.3.0
  deps.edn
  modules/drivers/athena/deps.edn
  modules/drivers/athena/resources/metabase-plugin.yaml
  modules/drivers/athena/src/metabase/driver/athena.clj
  modules/drivers/athena/test/metabase/test/data/athena.clj
  modules/drivers/deps.edn
Due: none

Cleanup
  deps.edn
  modules/drivers/athena/src/metabase/driver/athena.clj
  modules/drivers/athena/test/metabase/driver/athena_test.clj
Due: none

Adjust driver to conform tests
  modules/drivers/athena/src/metabase/driver/athena.clj
  modules/drivers/athena/test/metabase/driver/athena_test.clj
Due: none

Expand the component test
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettings.unit.spec.tsx
Due: front-end

fix hostname
  test/metabase/api/alert_test.clj
  test/metabase/api/card_test.clj
  test/metabase/api/notification_test.clj
  test/metabase/dashboard_subscription_test.clj
  test/metabase/notification/test_util.clj
  test/metabase/pulse/send_test.clj
  test/metabase/pulse/test_util.clj
Due: none

Use the built in margin bottom
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettingsForm.tsx
Due: front-end

clean up ui.tsx
  enterprise/frontend/src/embedding-sdk/test/__support__/ui.tsx
Due: front-end

more nice changes
  src/metabase/models/model_index.clj
Due: back-end

fix tests
  src/metabase/models/model_index.clj
  test/metabase/search/appdb/index_test.clj
Due: back-end

Chris' review comments
  src/metabase/models/model_index.clj
  src/metabase/search/core.clj
  test/metabase/search/appdb/index_test.clj
Due: back-end

[search] update/delete indexed entities on change
  src/metabase/models/model_index.clj
  src/metabase/search/appdb/index.clj
  src/metabase/search/core.clj
  src/metabase/search/engine.clj
  src/metabase/search/spec.clj
  test/metabase/search/appdb/index_test.clj
Due: back-end

Is the fix really this simple?
  src/metabase/search/appdb/specialization/h2.clj
Due: back-end

Update error components copy
  e2e/test-component/scenarios/embedding-sdk/editable-dashboard.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/interactive-dashboard.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/static-dashboard.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/static-question.cy.spec.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/SdkError.tsx
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
Due: front-end

Use Code from metabase/ui
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/SdkError.tsx
Due: front-end

[search] mysql support for appdb engine
  src/metabase/search/appdb/core.clj
  src/metabase/search/appdb/index.clj
  src/metabase/search/appdb/scoring.clj
  src/metabase/search/appdb/specialization/mysql.clj
  src/metabase/search/appdb/specialization/postgres.clj
  test/metabase/search/appdb/index_test.clj
  test/metabase/search/appdb/scoring_test.clj
Due: back-end

almost working mysql
  src/metabase/search/appdb/index.clj
  src/metabase/search/appdb/scoring.clj
  src/metabase/search/appdb/specialization/api.clj
  src/metabase/search/appdb/specialization/h2.clj
  src/metabase/search/appdb/specialization/mysql.clj
  src/metabase/search/appdb/specialization/postgres.clj
  test/metabase/search/appdb/index_test.clj
Due: back-end

Remove change accidentally commited
  enterprise/frontend/src/embedding-sdk/components/public/StaticDashboard/StaticDashboard.stories.tsx
Due: front-end

fix: correct layout of viz settings on dashboard with reduced motion (#51960)
  frontend/src/metabase/visualizations/components/ChartSettings/DashboardChartSettings/DashboardChartSettings.tsx
Due: front-end

search_index.model_id is text now
  src/metabase/search/appdb/scoring.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
