Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Dummy commit to test the CI
  frontend/src/metabase/lib/compose-event-handlers.ts
  src/metabase/db.clj
Due: back-end, front-end

Expand native query's text with the embedded snippet
  frontend/src/metabase/parameters/utils/cards.ts
  frontend/src/metabase/query_builder/actions/core/core.js
Due: front-end

parse template_tags in snippet form
  frontend/src/metabase-lib/lib/queries/NativeQuery.ts
  frontend/src/metabase/entities/snippets.js
Due: front-end

E2E test for snippet tags
  frontend/test/metabase/scenarios/native/snippets/snippets.cy.spec.js
Due: front-end

Filter snippet tags found in query parameter tags list
  frontend/src/metabase/parameters/utils/cards.ts
Due: front-end

Propagate the snippet tags as query parameters
  frontend/src/metabase/parameters/utils/cards.ts
Due: front-end

Temporarily always show the duplicate button
  frontend/src/metabase/query_builder/components/QuestionActions.tsx
Due: front-end

Post-merge fixes
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/query_builder/components/QueryModals.jsx
Due: front-end

Fix data app context logging
  frontend/src/metabase/writeback/containers/DataAppContext/DataAppContextProvider.tsx
Due: front-end

Remove color-related settings migration for 0.45
  src/metabase/public_settings.clj
Due: back-end

AppBarRightContainer justify-content to end
  frontend/src/metabase/nav/components/AppBar/AppBarLarge.styled.tsx
Due: front-end

Remove unused data-test-id attr
  frontend/src/metabase/query_builder/components/view/QuestionSummaries.jsx
Due: front-end

Serdes v2 for Metrics (#23868)
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/e2e/yaml_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  src/metabase/models/metric.clj
Due: back-end

Move common UI to a component
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/ImageToggle/ImageToggle.styled.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/ImageToggle/ImageToggle.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/ImageToggle/index.ts
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/MetabotToggleWidget/MetabotToggleWidget.styled.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/MetabotToggleWidget/MetabotToggleWidget.tsx
Due: front-end

Fix docstring generation.
  src/metabase/api/common.clj
  test/metabase/api/common_test.clj
  test/metabase/util/schema_test.clj
Due: back-end

Add lighthouse widget
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/ImageToggle/ImageToggle.styled.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/LighthouseToggleWidget.styled.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/LighthouseToggleWidget.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/index.ts
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/types.ts
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/MetabotToggleWidget/MetabotToggleWidget.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/index.js
Due: front-end

Another test fix :wrench:
  test/metabase/api/common_test.clj
Due: none

Remove unused namespaces
  test/metabase/api/common_test.clj
Due: none

Parallelize some of the defendpoint tests
  test/metabase/api/common_test.clj
Due: none

Add lighthouse widget
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/LighthouseToggleWidget.styled.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/LighthouseToggleWidget.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/MetabotToggleWidget/MetabotToggleWidget.styled.tsx
Due: front-end

Modify image sizes
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/LighthouseToggleWidget.styled.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/MetabotToggleWidget/MetabotToggleWidget.styled.tsx
Due: front-end

Add tests
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LighthouseToggleWidget/LighthouseToggleWidget.unit.spec.tsx
Due: front-end

Remove irrelevant test
  enterprise/backend/test/metabase_enterprise/public_settings_test.clj
Due: back-end

Update question name on duplicate (#23907)
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/test/metabase/scenarios/question/saved.cy.spec.js
Due: front-end

Revert "Create HTTP Actions (#23755)"
  frontend/src/metabase/components/NewItemMenu/NewItemMenu.tsx
  frontend/src/metabase/containers/NewItemMenu/NewItemMenu.tsx
  frontend/src/metabase/css/core/hide.css
  frontend/src/metabase/css/vendor.css
  frontend/src/metabase/dashboard/components/ClickBehaviorSidebar.jsx
  frontend/src/metabase/dashboard/components/ClickMappings.jsx
  frontend/src/metabase/dashboard/containers/ActionParametersInputModal.tsx
  frontend/src/metabase/lib/click-behavior.js
  frontend/src/metabase/modes/components/drill/DashboardClickDrill.jsx
  frontend/src/metabase/query_builder/actions/writeback.ts
  frontend/src/metabase/query_builder/components/notebook/NotebookStep.jsx
  frontend/src/metabase/routes.jsx
  frontend/src/metabase/services.js
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldPicker.jsx
  frontend/src/metabase/visualizations/visualizations/Gauge.jsx
  frontend/src/metabase/writeback/actions.ts
  frontend/src/metabase/writeback/components/HttpAction/BodyTab.tsx
  frontend/src/metabase/writeback/components/HttpAction/Header.tsx
  frontend/src/metabase/writeback/components/HttpAction/HttpAction.tsx
  frontend/src/metabase/writeback/components/HttpAction/HttpHeaderTab.tsx
  frontend/src/metabase/writeback/components/HttpAction/JsonEditor/JsonEditor.styled.tsx
  frontend/src/metabase/writeback/components/HttpAction/JsonEditor/JsonEditor.tsx
  frontend/src/metabase/writeback/components/HttpAction/MethodSelector.tsx
  frontend/src/metabase/writeback/components/HttpAction/ParametersTab.tsx
  frontend/src/metabase/writeback/components/HttpAction/Selector.tsx
  frontend/src/metabase/writeback/components/HttpAction/Tabs.tsx
  frontend/src/metabase/writeback/components/HttpAction/UrlInput.tsx
  frontend/src/metabase/writeback/containers/CreateActionPage.tsx
  frontend/src/metabase/writeback/containers/EditActionPage.tsx
  frontend/src/metabase/writeback/hooks.ts
  frontend/src/metabase/writeback/types.ts
  frontend/src/metabase/writeback/utils.ts
  package.json
  postcss.config.js
  src/metabase/api/action.clj
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: back-end, front-end

Add safe-guard for existing http actions
  frontend/src/metabase/dashboard/components/ClickBehaviorSidebar.jsx
  frontend/src/metabase/dashboard/containers/ActionParametersInputModal.tsx
  frontend/src/metabase/modes/components/drill/DashboardClickDrill.jsx
  frontend/src/metabase/writeback/types.ts
  frontend/src/metabase/writeback/utils.ts
Due: front-end

AppBarRightContainer justify-content to end (#23912)
  frontend/src/metabase/nav/components/AppBar/AppBarLarge.styled.tsx
Due: front-end

Fix behavior for settings without the default value
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/auth/containers/AuthLayout/AuthLayout.tsx
  frontend/src/metabase/home/homepage/containers/HomeGreeting/HomeGreeting.tsx
  frontend/src/metabase/home/homepage/containers/HomeLayout/HomeLayout.tsx
Due: front-end

split permissions guide by main permission types (collection and data)
  docs/troubleshooting-guide/collection-permissions.md
  docs/troubleshooting-guide/data-permissions.md
  docs/troubleshooting-guide/permissions.md
Due: none

update routing
  docs/troubleshooting-guide/cant-see-tables.md
  docs/troubleshooting-guide/error-message.md
Due: none

Fix search results covered by dashboard filters
  frontend/src/metabase/nav/components/AppBar/AppBar.styled.tsx
Due: front-end

Fix search results covered by dashboard filters (#23920)
  frontend/src/metabase/nav/components/AppBar/AppBar.styled.tsx
Due: front-end

bulk filter modal v3
  frontend/src/metabase-lib/lib/DimensionOptions/DimensionOptions.ts
  frontend/src/metabase-lib/lib/queries/structured/Filter.ts
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/components/ListField/ListField.tsx
  frontend/src/metabase/components/ListField/types.ts
  frontend/src/metabase/components/Modal.jsx
  frontend/src/metabase/components/PopoverWithTrigger/TippyPopoverWithTrigger.tsx
  frontend/src/metabase/core/components/Tab/Tab.styled.tsx
  frontend/src/metabase/core/components/TabList/TabList.styled.tsx
  frontend/src/metabase/css/components/modal.css
  frontend/src/metabase/query_builder/components/QueryModals.jsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopoverPicker.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterItem/BulkFilterItem.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterItem/BulkFilterItem.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterList/BulkFilterList.styled.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterList/BulkFilterList.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterModal/BulkFilterModal.styled.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterModal/BulkFilterModal.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterSelect/BulkFilterSelect.styled.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterSelect/BulkFilterSelect.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineDatePicker/InlineDatePicker.styled.ts
  frontend/src/metabase/query_builder/components/filters/modals/InlineOperatorSelector/InlineOperatorSelector.styled.ts
  frontend/src/metabase/query_builder/components/filters/modals/InlineOperatorSelector/InlineOperatorSelector.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.styled.ts
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/pickers/DefaultPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/SelectPicker.jsx
  frontend/test/metabase/scenarios/admin/datamodel/metrics.cy.spec.js
  frontend/test/metabase/scenarios/filters/filter-bulk.cy.spec.js
  frontend/test/metabase/scenarios/filters/filter.cy.spec.js
  frontend/test/metabase/scenarios/models/models-revision-history.cy.spec.js
  frontend/test/metabase/scenarios/models/models.cy.spec.js
  frontend/test/metabase/scenarios/question/saved.cy.spec.js
Due: front-end

Actions multimethod refactor.
  src/metabase/actions.clj
  src/metabase/api/action.clj
  src/metabase/api/card.clj
  src/metabase/driver/sql_jdbc/actions.clj
  src/metabase/query_processor/writeback.clj
  test/metabase/actions/test_util.clj
  test/metabase/api/action_test.clj
Due: back-end

Remove `u/optional` (#23877)
  src/metabase/api/common.clj
  src/metabase/util.clj
  test/metabase/api/common_test.clj
  test/metabase/api/setup_test.clj
  test/metabase/http_client.clj
  test/metabase/test/data/users.clj
  test/metabase/util/schema_test.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
