Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 40%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend
      - frontend
    carryforward: true

Fix mobile search
  frontend/src/metabase/nav/components/AppBar/AppBar.styled.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.styled.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.tsx
Due: front-end

Test private fn
  enterprise/backend/test/metabase_enterprise/email/messages_test.clj
Due: back-end

Unskip repro for #18021
  frontend/test/metabase/scenarios/organization/reproductions/18021-verified-badge-not-visible-in-recents.cy.spec.js
Due: front-end

Fix desktop search
  frontend/src/metabase/nav/components/SearchBar.styled.tsx
Due: front-end

Fix desktop search
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.tsx
Due: front-end

Simplify "recently viewed" test by visiting the table directly
  frontend/test/metabase/scenarios/onboarding/search/recently-viewed.cy.spec.js
Due: front-end

Do not hard code IDs
  frontend/test/metabase/scenarios/onboarding/search/recently-viewed.cy.spec.js
Due: front-end

Merge repro for #18021 with the related spec
  frontend/test/metabase/scenarios/onboarding/search/recently-viewed.cy.spec.js
  frontend/test/metabase/scenarios/organization/reproductions/18021-verified-badge-not-visible-in-recents.cy.spec.js
Due: front-end

Fix visibility issues
  frontend/src/metabase/nav/components/AppBar/AppBarLarge.styled.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.styled.tsx
Due: front-end

Automatic container image on a tagged release (#23274)
  .github/workflows/release.yml
Due: none

Fix search in the app bar (#23613)
  frontend/src/metabase/nav/components/AppBar/AppBar.styled.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarLarge.styled.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.styled.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.tsx
  frontend/src/metabase/nav/components/SearchBar.styled.tsx
Due: front-end

remove excess headers
  docs/troubleshooting-guide/cant-log-in.md
  docs/troubleshooting-guide/saml.md
Due: none

Writeback http action execution (#23598)
  bin/build-mb/resources/overrides.edn
  deps.edn
  src/metabase/actions/http_action.clj
  src/metabase/api/emitter.clj
  src/metabase/models/action.clj
Due: back-end

add setting UI
  enterprise/frontend/src/metabase-enterprise/auth/components/SessionTimeoutSetting/SessionTimeoutSetting.styled.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SessionTimeoutSetting/SessionTimeoutSetting.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SessionTimeoutSetting/index.ts
  enterprise/frontend/src/metabase-enterprise/auth/index.js
  src/metabase/public_settings.clj
Due: back-end, front-end

Moving titleToFileName inside of failure analysis
  frontend/test/__support__/e2e/cypress.js
Due: front-end

links and formatting
  docs/enterprise-guide/saml-google.md
  docs/enterprise-guide/saml-keycloak.md
  docs/troubleshooting-guide/cant-log-in.md
  docs/troubleshooting-guide/saml.md
Due: none

Add bug link to changes
  shared/src/metabase/mbql/normalize.cljc
  shared/test/metabase/mbql/normalize_test.cljc
Due: back-end

allow links in the banner content
  frontend/src/metabase/components/Banner/Banner.jsx
Due: front-end

Change hour-of-day exclude units to integers, not time with time zones (#23500)
  frontend/src/metabase/lib/query_time.js
Due: front-end

Fix error with custom column on tables sandboxed by a UUID column (#23600)
  shared/src/metabase/mbql/normalize.cljc
  shared/test/metabase/mbql/normalize_test.cljc
Due: back-end

Add last_activity column to session table
  resources/migrations/000_migrations.yaml
Due: none

Start implementing session middleware to check for expired sessions
  src/metabase/server/handler.clj
  src/metabase/server/middleware/session.clj
  test/metabase/server/middleware/session_test.clj
Due: back-end

handle non = category filters (#23597)
  frontend/src/metabase/query_builder/components/filters/modals/InlineCategoryPicker/InlineCategoryPicker.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineCategoryPicker/InlineCategoryPicker.unit.spec.tsx
Due: front-end

fix the path for the calendar icon
  frontend/src/metabase/icon_paths.ts
Due: front-end

address PR comments
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterModal/utils.ts
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.styled.ts
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.tsx
Due: front-end

update unit test for new hour format
  frontend/src/metabase/parameters/utils/mbql.unit.spec.js
Due: front-end

Change last_activity field to include timezone offset
  resources/migrations/000_migrations.yaml
Due: none

Update session middleware to check user activity timeout
  src/metabase/api/session.clj
  src/metabase/models/session.clj
  src/metabase/public_settings.clj
  src/metabase/server/middleware/session.clj
  test/metabase/server/middleware/session_test.clj
Due: back-end

Update last_activity after checking the timeout, or not at all if the setting is nil
  src/metabase/server/middleware/session.clj
Due: back-end

Move session-timeout settings to server.middleware.session
  src/metabase/public_settings.clj
  src/metabase/server/middleware/session.clj
Due: back-end

update unit test for new hour format (#23623)
  frontend/src/metabase/parameters/utils/mbql.unit.spec.js
Due: front-end

merge with better share embed state
  frontend/src/metabase/public/components/widgets/SharingPane.tsx
Due: front-end

Address feedback: Add missing translation
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingLegalese/EmbeddingLegalese.tsx
Due: front-end

Update test after embedding copy changes
  frontend/test/metabase/scenarios/embedding/embedding-smoketests.cy.spec.js
Due: front-end

Better share embed widget disabled state
  frontend/src/metabase/public/components/widgets/SharingPane.jsx
  frontend/src/metabase/public/components/widgets/SharingPane.styled.tsx
  frontend/src/metabase/public/components/widgets/SharingPane.tsx
Due: front-end

Update embedding in other application copies
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingLegalese.jsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingLegalese/EmbeddingLegalese.styled.ts
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingLegalese/EmbeddingLegalese.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingLegalese/index.js
  frontend/src/metabase/admin/settings/selectors.js
  frontend/src/metabase/public/components/widgets/SharingPane.tsx
Due: front-end

Address feedback: Split big component + fix misaligned option
  frontend/src/metabase/public/components/widgets/SharingPane.styled.tsx
  frontend/src/metabase/public/components/widgets/SharingPane.tsx
Due: front-end

Handcode timeout for testing
  src/metabase/server/middleware/session.clj
Due: back-end

Fix migrations validation error
  resources/migrations/000_migrations.yaml
Due: none

Fix whitespace
  resources/migrations/000_migrations.yaml
  test/metabase/server/middleware/session_test.clj
Due: none
