Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix timeseries value detection (#66161)
  frontend/src/metabase/visualizations/lib/date-validation.ts
  frontend/src/metabase/visualizations/lib/date-validation.unit.spec.ts
Due: front-end

Lint fixes
  enterprise/backend/src/metabase_enterprise/library/api.clj
  enterprise/backend/test/metabase_enterprise/library/api_test.clj
  test/metabase/pulse/send_test.clj
  test/metabase/warehouse_schema_rest/api/table_test.clj
Due: back-end

If DRIVERS env var is not set, proceed with tests
  .github/actions/test-driver/action.yml
Due: none

Whitespace
  enterprise/backend/src/metabase_enterprise/representations/v0/core.clj
Due: back-end

Better database tests
  enterprise/backend/test/metabase_enterprise/representations/v0/database_test.clj
Due: back-end

Fixed failing test
  enterprise/backend/test/metabase_enterprise/library/api_test.clj
Due: back-end

core test pass
  enterprise/backend/test/metabase_enterprise/representations/core_test.clj
Due: back-end

Remove e2e test that was expecting the previous undesired behavior
  e2e/test/scenarios/permissions/admin-permissions.cy.spec.js
Due: none

Fix tests
  enterprise/backend/test/metabase_enterprise/representations/v0/collection_test.clj
  enterprise/backend/test/metabase_enterprise/representations/v0/metric_test.clj
  enterprise/backend/test/metabase_enterprise/representations/v0/model_test.clj
  enterprise/backend/test/metabase_enterprise/representations/v0/question_test.clj
  enterprise/backend/test/metabase_enterprise/representations/v0/snippet_test.clj
  enterprise/backend/test/metabase_enterprise/representations/v0/transform_test.clj
Due: back-end

fix: api regexes for all routes without them
  dev/src/dev/api/prototype.clj
  enterprise/backend/src/metabase_enterprise/content_translation/routes.clj
  enterprise/backend/src/metabase_enterprise/transforms_python/api.clj
  src/metabase/api/common/internal.clj
  src/metabase/api/macros.clj
  src/metabase/dashboards_rest/api.clj
  src/metabase/embedding_rest/api/common.clj
  src/metabase/embedding_rest/api/embed.clj
  src/metabase/embedding_rest/api/preview_embed.clj
  src/metabase/user_key_value/api.clj
  src/metabase/users_rest/api.clj
  src/metabase/util/malli/schema.clj
  src/metabase/warehouses_rest/api.clj
  src/metabase/xrays/api/automagic_dashboards.clj
Due: back-end

Updates advancePage to use onChangeLocation
  frontend/src/metabase/search/containers/SearchApp.jsx
Due: front-end

Fix #65501 - Resets page when filters change. Also works with browser back/forward buttons.
  frontend/src/metabase/search/containers/SearchApp.jsx
Due: front-end

Adds e2e test
  e2e/test/scenarios/search/search-pagination.cy.spec.js
Due: none

Prevent driver tests (#66156)
  .github/actions/prepare-backend/action.yml
  .github/actions/test-driver/action.yml
  .github/workflows/drivers.yml
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Due: none

revert fix
  frontend/src/metabase/querying/notebook/components/NotebookDataPicker/NotebookDataPicker.tsx
Due: front-end

Reapply "Added `collection` argument to search"
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  src/metabase/search/api.clj
  src/metabase/search/config.clj
  src/metabase/search/filter.clj
  src/metabase/search/impl.clj
  src/metabase/search/in_place/filter.clj
  test/metabase/search/api_test.clj
  test/metabase/search/filter_test.clj
Due: back-end

Fetch uberjar using a proper action
  .github/workflows/embedding-sdk-component-tests.yml
  .github/workflows/embedding-sdk-e2e-tests.yml
Due: none

REST API endpoints for creating/deleting/moving Table Symlinks
  .clj-kondo/config/modules/config.edn
  src/metabase/api_routes/routes.clj
  src/metabase/query_permissions/impl.clj
  src/metabase/warehouse_schema_rest/api.clj
  src/metabase/warehouse_schema_rest/api/table_symlink.clj
Due: back-end

Fetch uberjar using a proper action (#66165)
  .github/workflows/embedding-sdk-component-tests.yml
  .github/workflows/embedding-sdk-e2e-tests.yml
Due: none

Clean up backend-test matrix (#66158)
  .github/workflows/backend.yml
Due: none

Fix flaky Remote Sync test (#65862)
  e2e/test/scenarios/admin/remote-sync.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/RemoteSyncAdminSettings/RemoteSyncAdminSettings.tsx
Due: front-end

Quick fix in CollectionPicker/utils.ts
  frontend/src/metabase/common/components/Pickers/CollectionPicker/utils.ts
Due: front-end

fix embedding column picking
  frontend/src/metabase/querying/notebook/components/DataStep/DataStep.tsx
  frontend/src/metabase/querying/notebook/components/JoinStep/JoinTablePicker/JoinTablePicker.tsx
  frontend/src/metabase/querying/notebook/components/NotebookDataPicker/NotebookDataPicker.tsx
Due: front-end

Rename the workflow
  .github/workflows/embedding-sdk-host-sample-apps-tests.yml
  .github/workflows/embedding-sdk.yml
Due: none

Add a dedicated sdk package build workflow
  .github/workflows/embedding-sdk-package-build.yml
Due: none

Remove superfluous inputs
  .github/workflows/embedding-sdk-component-tests.yml
  .github/workflows/embedding-sdk-e2e-tests.yml
Due: none

Parallelize jobs
  .github/workflows/embedding-sdk.yml
  .github/workflows/run-tests.yml
Due: none

Fix the missing condition
  .github/workflows/embedding-sdk.yml
Due: none

Fix syntax
  .github/workflows/embedding-sdk.yml
Due: none

Fix inputs (again)
  .github/workflows/run-tests.yml
Due: none

Fix typo
  .github/workflows/embedding-sdk-package-build.yml
Due: none

Improve file paths
  .github/file-paths.yaml
  .github/workflows/run-tests.yml
Due: none

Add the required input type
  .github/workflows/embedding-sdk.yml
Due: none

Actually output results
  .github/workflows/run-tests.yml
Due: none

Fix broken input references
  .github/workflows/embedding-sdk-component-tests.yml
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
