Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Sortable cleanup (#54865)
  frontend/src/metabase/core/components/Sortable/Sortable.module.css
  frontend/src/metabase/core/components/Sortable/Sortable.tsx
  frontend/src/metabase/core/components/TabLink/TabLink.styled.tsx
  frontend/src/metabase/core/components/TabLink/TabLink.tsx
  frontend/src/metabase/core/components/TabLink/index.ts
  frontend/src/metabase/core/components/TabRow/TabRow.stories.tsx
  frontend/src/metabase/core/components/TabRow/TabRow.styled.tsx
  frontend/src/metabase/dashboard/components/DashboardTabs/DashboardTabs.module.css
  frontend/src/metabase/dashboard/components/DashboardTabs/DashboardTabs.tsx
Due: front-end

whitespace
  src/metabase/cmd/env_var_dox.clj
Due: back-end

Make react-draggable compatible with React 19 (#54901)
  frontend/src/metabase/visualizations/components/TableInteractive/TableInteractive.jsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTableCell.tsx
Due: front-end

Only prevent closing popover when the source has changed
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
Due: front-end

Make react-draggable compatible with React 19 (#54902)
  frontend/src/metabase/visualizations/components/TableInteractive/TableInteractive.jsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTableCell.tsx
Due: front-end

add clickhouse to ci
  .github/workflows/drivers.yml
Due: none

Fix e2e test
  e2e/test/scenarios/custom-column/custom-column-reproductions.cy.spec.js
Due: none

Hide lint point
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.module.css
Due: front-end

do not bundle react-dom/client
  webpack.embedding-sdk.config.js
Due: none

Make pivot tables draggable compatible with React 19 (#54914)
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTableCell.tsx
Due: front-end

Object detail
  e2e/support/test_tables.js
  e2e/test/scenarios/filters/filter-bigint.cy.spec.ts
Due: none

Fix types
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
Due: front-end

Object detail
  e2e/test/scenarios/filters/filter-bigint.cy.spec.ts
Due: none

test
  .github/workflows/drivers.yml
Due: none

test ci - remove ulimits, build in steps
  .github/workflows/drivers.yml
Due: none

do not render the react-router Link if we are in an embedded context
  frontend/src/metabase/visualizations/components/legend/LegendLabel.tsx
Due: front-end

remove defunct backend tests
  test/metabase/setup/api_test.clj
Due: none

remove legacy setup checklist
  frontend/src/metabase-types/api/mocks/index.ts
  frontend/src/metabase-types/api/mocks/setup.ts
  frontend/src/metabase-types/api/setup.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/admin/settings/selectors/selectors.js
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/SetupCheckList.jsx
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/SetupCheckList.styled.tsx
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/SetupCheckList.unit.spec.tsx
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/index.ts
  frontend/src/metabase/admin/utils.js
  frontend/src/metabase/services.js
  frontend/test/__support__/server-mocks/setup.ts
  src/metabase/setup/README.md
  src/metabase/setup/api.clj
Due: back-end, front-end

update e2e tests
  e2e/test/scenarios/admin/admin-reproductions.cy.spec.js
  e2e/test/scenarios/onboarding/command-palette.cy.spec.js
Due: none

update tests
  e2e/test/scenarios/admin-2/settings.cy.spec.js
  frontend/src/metabase/palette/components/test/PaletteResults/PaletteResults-oss.unit.spec.tsx
Due: front-end

update test
  e2e/test/scenarios/admin-2/settings.cy.spec.js
Due: none

remove dead imports
  src/metabase/setup/api.clj
Due: back-end

update upsell test
  e2e/test/scenarios/admin-2/settings.cy.spec.js
Due: none

happy kondo
  test/metabase/setup/api_test.clj
Due: none

feat(enterprise): add category editing with dropdown combobox
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/EditingBodyCell.module.css
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/EditingBodyCell.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataView.module.css
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataView.tsx
  frontend/src/metabase/ui/index.ts
Due: front-end

tests
  test/metabase/cmd/env_var_dox_test.clj
Due: none

test ci, use start containers in steps instead of services
  .github/workflows/drivers.yml
Due: none

Add tests
  e2e/test/scenarios/filters/filter-bigint.cy.spec.ts
Due: none

Extend BE test with more literal values
  test/metabase/driver/sql/query_processor_test.clj
Due: none

Update expression-with-name to support expressions with false as value
  src/metabase/legacy_mbql/util.cljc
Due: back-end

config file test
  src/metabase/cmd/config_file_gen.clj
  test/metabase/cmd/config_file_gen_test.clj
Due: back-end

remove docker-compose.yml from .git/info/exclude
  modules/drivers/clickhouse/docker-compose.yml
Due: none

fix(sdk): mark react-dom/client as external to fix warnings in React 19 (#54919)
  webpack.embedding-sdk.config.js
Due: none

dont use github.workspace var to find docker-compose.yml
  .github/workflows/drivers.yml
Due: none

whitespace
  test/metabase/cmd/env_var_dox_test.clj
Due: none

Legacy permission and cloud migration modals
  frontend/src/metabase/admin/permissions/components/LegacyPermissionsModal/LegacyPermissionsModal.tsx
  frontend/src/metabase/admin/settings/components/CloudPanel/MigrationInProgress.tsx
  frontend/src/metabase/admin/settings/components/CloudPanel/MigrationStart.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
