Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

markdown plans for faster cloud driver tests
  CLOUD_DRIVER_TEST_OPTIMIZATION_PLAN.md
  HOW_TO_IDENTIFY_PARALLEL_TESTS.md
  PARALLEL_TEST_CONSTRAINTS.md
  TEST_DATA_OPTIMIZATION_GUIDE.md
Due: none

add integration tests
  test/metabase/task_history/models/task_run_test.clj
Due: none

note on slack notifications (#68153)
  docs/permissions/impersonation.md
  docs/permissions/notifications.md
  docs/permissions/row-and-column-security.md
Due: none

depend on no-op nested behavior, add comment
  src/metabase/notification/api/notification.clj
  src/metabase/notification/send.clj
  src/metabase/notification/task/send.clj
  src/metabase/pulse/api/pulse.clj
  src/metabase/pulse/send.clj
  src/metabase/pulse/task/send_pulses.clj
  test/metabase/task_history/models/task_run_test.clj
Due: back-end

🤖 backported "Fix flake in model test" (#68180)
  e2e/test/scenarios/models/reproductions.cy.spec.js
Due: none

🤖 backported "Increase the unreturned cxn timeout for appdb" (#68175)
  src/metabase/app_db/connection_pool_setup.clj
Due: back-end

.
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

Fixes computing columns for Question -> Question -> Model on the FE (#68140)
  src/metabase/lib/card.cljc
  test/metabase/lib/card_test.cljc
Due: back-end

fix
  test/metabase/task_history/api_test.clj
Due: none

Improve styling
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/DiffView.tsx
Due: front-end

Show basic target diff
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/DiffView.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/TransformSourceTablesDiff.tsx
  frontend/src/metabase-types/api/transform.ts
Due: front-end

Extract TransformTargetDiff
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/DiffView.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/TransformTargetDiff.tsx
Due: front-end

fix: coerce
  src/metabase/task_history/api.clj
Due: back-end

Fix merge
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/hooks/useTransformSources.ts
Due: front-end

GDGT-1497 add TaskRun UI part
  frontend/src/metabase-types/api/task.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/admin/tools/components/Logs/LogsViewer.tsx
  frontend/src/metabase/admin/tools/components/RunTypePicker/TaskRunTypePicker.tsx
  frontend/src/metabase/admin/tools/components/RunTypePicker/index.ts
  frontend/src/metabase/admin/tools/components/TaskListPage/TaskListPage.tsx
  frontend/src/metabase/admin/tools/components/TaskListPage/TasksTable.tsx
  frontend/src/metabase/admin/tools/components/TaskModal/TaskModal.tsx
  frontend/src/metabase/admin/tools/components/TaskRunDetailsPage/TaskRunDetailsPage.tsx
  frontend/src/metabase/admin/tools/components/TaskRunDetailsPage/index.ts
  frontend/src/metabase/admin/tools/components/TaskRunEntityPicker/TaskRunEntityPicker.tsx
  frontend/src/metabase/admin/tools/components/TaskRunEntityPicker/index.ts
  frontend/src/metabase/admin/tools/components/TaskRunModal/TaskRunModal.tsx
  frontend/src/metabase/admin/tools/components/TaskRunModal/index.ts
  frontend/src/metabase/admin/tools/components/TaskRunsPage/TaskRunsPage.tsx
  frontend/src/metabase/admin/tools/components/TaskRunsPage/TaskRunsTable.tsx
  frontend/src/metabase/admin/tools/components/TaskRunsPage/utils.ts
  frontend/src/metabase/admin/tools/components/TasksApp/index.ts
  frontend/src/metabase/admin/tools/components/TasksTabs/TasksTabs.tsx
  frontend/src/metabase/admin/tools/components/TasksTabs/index.ts
  frontend/src/metabase/admin/tools/routes.tsx
  frontend/src/metabase/admin/tools/utils.ts
Due: front-end

Refactor /workspace/checkout API to add more info
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  frontend/src/metabase-types/api/workspace.ts
Due: back-end, front-end

Remove payload from schema ids
  frontend/src/metabase-lib/v1/metadata/utils/saved-questions.js
  frontend/src/metabase-lib/v1/metadata/utils/saved-questions.unit.spec.js
  frontend/src/metabase-lib/v1/metadata/utils/schema.ts
  frontend/src/metabase-lib/v1/metadata/utils/schema.unit.spec.js
  frontend/src/metabase-lib/v1/metadata/utils/schema.unit.spec.ts
  frontend/src/metabase/entities/schemas.js
  frontend/src/metabase/entities/tables.js
Due: front-end

Add tests
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/test/metabase_enterprise/workspaces/api_test.clj
Due: back-end

fix
  frontend/src/metabase-lib/v1/metadata/utils/schema.unit.spec.js
Due: front-end

fixes
  enterprise/frontend/src/embedding-sdk-package/cli/steps/pick-database-tables.ts
Due: front-end

added a wait to see if that helps
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

fixes
  frontend/src/metabase-lib/v1/metadata/utils/schema.unit.spec.ts
Due: front-end

🤖 backported "UXW-2586: Acquire locks before changing data permissions" (#68074)
  src/metabase/permissions/models/data_permissions.clj
  test/metabase/permissions/models/data_permissions_test.clj
Due: back-end

Fixing test failures
  enterprise/backend/test/metabase_enterprise/transforms/util_test.clj
Due: back-end

Merged from master
  src/metabase/collections_rest/api.clj
Due: back-end

improved table & field metadata
  .clj-kondo/config/modules/config.edn
  src/metabase/llm/context.clj
Due: back-end

Add more info to checkout API (#68186)
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/test/metabase_enterprise/workspaces/api_test.clj
  frontend/src/metabase-types/api/workspace.ts
Due: back-end, front-end

🤖 backported "Fixes computing columns for Question -> Question -> Model on the FE" (#68185)
  src/metabase/lib/card.cljc
  test/metabase/lib/card_test.cljc
Due: back-end

Correctly detect funnel chart config in static-viz
  src/metabase/channel/render/body.clj
Due: back-end

Add backport resolution script
  backport.sh
Due: none

add unit tests for quality checks section of the merge modal
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/QualityChecksSection.unit.spec.tsx
  frontend/src/metabase-types/api/mocks/index.ts
  frontend/src/metabase-types/api/mocks/workspace.ts
  frontend/test/__support__/server-mocks/index.ts
  frontend/test/__support__/server-mocks/workspace.ts
Due: front-end

better waits
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

improve tests
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/QualityChecksSection.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/QualityChecksSection.unit.spec.tsx
  frontend/test/__support__/server-mocks/workspace.ts
Due: front-end

Update api_test.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/api_test.clj
Due: back-end

fix(embed-js): Fix EmbedJS/SDK dashboard styles to properly display the EmbedJS branding footer (#68090)
  frontend/src/embedding-sdk-bundle/components/public/dashboard/SdkDashboardStyleWrapper.module.css
  frontend/src/embedding-sdk-bundle/components/public/dashboard/SdkDashboardStyleWrapper.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk/components/SdkIframeEmbedRoute.module.css
  frontend/src/metabase/embedding/embedding-iframe-sdk/components/SdkIframeEmbedRoute.tsx
Due: front-end

feat: configure initial read-only mode for python transforms
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonDataPicker/PythonDataPicker.tsx
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonEditorBody/PythonEditorBody.tsx
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonTransformEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonTransformTopBar/PythonTransformTopBar.module.css
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonTransformTopBar/PythonTransformTopBar.tsx
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonTransformTopBar/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformQueryPage/TransformPaneHeaderActions.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
  frontend/src/metabase/plugins/oss/transforms.ts
Due: front-end

Attach type info the plain string literal expressions
  src/metabase/driver/sql/query_processor.clj
Due: back-end
