Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

images and edits
  docs/questions/images/add-column.png
  docs/questions/images/aggregation-expression.png
  docs/questions/images/column-actions.png
  docs/questions/images/custom-column.png
  docs/questions/images/detail-view.png
  docs/questions/images/sql-sidebar.png
  docs/questions/images/table.png
  docs/questions/images/view-the-sql.png
  docs/questions/query-builder/editor.md
  docs/questions/visualizations/table.md
Due: none

Less test noise
  test/metabase/query_processor/middleware/annotate_test.clj
Due: none

Revert "Squash #58712"
  src/metabase/lib/card.cljc
  src/metabase/lib/equality.cljc
  src/metabase/lib/field/util.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/join/util.cljc
  src/metabase/lib/stage.cljc
  src/metabase/lib/util.cljc
  test/metabase/lib/card_test.cljc
  test/metabase/lib/equality_test.cljc
  test/metabase/lib/field_test.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/metadata/calculation_test.cljc
  test/metabase/lib/order_by_test.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

Stabilize flaky mongo tests (#59059) (#59071)
  e2e/test/scenarios/visualizations-charts/visualizations-charts-reproductions.cy.spec.js
Due: none

Only one test failure to go!
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Due: back-end

fix re-rendering error modal on collection upload
  frontend/src/metabase/status/components/StatusLarge/StatusLarge.tsx
Due: front-end

static size for watermark background, changing source url (#58647)
  frontend/src/metabase/visualizations/components/Visualization/Watermark/Watermark.module.css
  frontend/src/metabase/visualizations/components/Visualization/Watermark/Watermark.tsx
  resources/frontend_client/app/assets/img/watermark-background.svg
Due: front-end

use defonce to avoid repeated `test-var` overwrite
  test/metabase/test.clj
Due: none

fix: add dummy migration
  resources/migrations/056_update_migrations.yaml
Due: none

get binning roughly working
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPartition.tsx
  src/metabase/lib/binning.cljc
  src/metabase/query_processor/pivot.clj
Due: back-end, front-end

fix no binnings
  src/metabase/query_processor/pivot.clj
Due: back-end

Remove `require` call from `__require` helper
  frontend/build/embedding-sdk/utils/remove_require_call.mjs
  tsup.embedding-sdk.config.mjs
Due: none

Fields values work for secondary series in a dashcard
  src/metabase/dashboards/api.clj
  src/metabase/parameters/params.clj
Due: back-end

column removal
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPartition.tsx
Due: front-end

Add more documentation; code cleanup
  src/metabase/driver/sql/query_processor.clj
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/annotate/legacy_helper_fns.clj
  src/metabase/query_processor/middleware/pre_alias_aggregations.clj
  src/metabase/query_processor/util/nest_query.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Due: back-end

update auto backport workflow (#58943)
  .github/actions/create-backport/action.yml
  .github/workflows/auto-backport.yml
Due: none

Improved column looping code.
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Due: back-end

partially fix temporal bucketing
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPartition.tsx
  src/metabase/query_processor/pivot.clj
Due: back-end, front-end

Test fix :wrench:
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Due: back-end

Code cleanup
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/annotate/legacy_helper_fns.clj
Due: back-end

fix: move metabot migrations back to 001 (#59066)
  resources/migrations/001_update_migrations.yaml
  resources/migrations/056_update_migrations.yaml
Due: none

fix: move metabot migrations back to 001 (#59066)
  resources/migrations/001_update_migrations.yaml
Due: none

clean ns
  src/metabase/query_processor/pivot.clj
Due: back-end

Remove generation of metafile
  tsup.embedding-sdk.config.mjs
Due: none

update test
  e2e/test/scenarios/native/native.cy.spec.js
Due: none

add e2e tests for optional usage of time grouping (#59045)
  e2e/test/scenarios/native/native.cy.spec.js
Due: none

Don't count dashboard subscriptions as a reason to count a card as recently viewed
  src/metabase/activity_feed/events/recent_views.clj
  test/metabase/events/recent_views_test.clj
Due: back-end

migrate picker to new api
  enterprise/frontend/src/metabase-enterprise/api/table-data-edit.ts
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/ActionPicker/ActionList.tsx
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/ActionPicker/ModelActionPicker.tsx
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/ActionPicker/ModelList.tsx
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/ActionPicker/TableActionPicker.tsx
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/ActionPicker/utils.ts
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/AddOrEditActionSettingsContent/ActionParameterMappingForm.tsx
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/TableOrModelDataPicker.tsx
  frontend/src/metabase-types/api/actionV2.ts
  frontend/src/metabase/api/actionV2.ts
  src/metabase/actions/api.clj
Due: back-end, front-end

Use existing Join renaming code.
  .clj-kondo/config/modules/config.edn
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk/query_processor.clj
  src/metabase/lib/core.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/schema/expression/conditional.cljc
  src/metabase/lib/walk.cljc
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/resolve_source_table.clj
  src/metabase/query_processor/postprocess.clj
  src/metabase/query_processor/preprocess.clj
  src/metabase/query_processor/util/nest_query.clj
  test/metabase/lib/schema/expression/conditional_test.cljc
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor/util/nest_query_test.clj
Due: back-end

timing logs
  frontend/src/metabase/visualizer/components/DataImporter/DatasetsList/DatasetsList.tsx
  frontend/src/metabase/visualizer/components/DataImporter/DatasetsList/getIsCompatible.ts
  src/metabase/search/api.clj
Due: back-end, front-end

Fixup search - only actions for now
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/ActionPicker/TableActionPicker.tsx
  enterprise/frontend/src/metabase-enterprise/table-actions/settings/TableOrModelDataPicker.tsx
  frontend/src/metabase/common/components/EntityPicker/components/ResultItem/ResultItem.tsx
  frontend/src/metabase/common/components/EntityPicker/types.ts
Due: front-end

add athena bytes scanned
  modules/drivers/athena/src/metabase/driver/athena.clj
  src/metabase/query_processor/middleware/process_userland_query.clj
Due: back-end

BE support for inline_parameters field on dashboard cards
  resources/migrations/001_update_migrations.yaml
  src/metabase/dashboards/api.clj
  src/metabase/dashboards/models/dashboard_card.clj
Due: back-end

FIX QUE-1330
  src/metabase/lib/field.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

unit testing
  enterprise/frontend/src/metabase-enterprise/api/metabot.ts
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminPage.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminSuggestedPrompts.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminSuggestedPrompts.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/constants.ts
  enterprise/frontend/src/metabase-enterprise/metabot/metabot.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/state/selectors.ts
  frontend/src/metabase/plugins/index.ts
Due: front-end

Fix #30397 / QUE-147
  src/metabase/lib/expression.cljc
  src/metabase/lib/metadata/calculation.cljc
  src/metabase/lib/schema/expression/conditional.cljc
  test/metabase/lib/expression_test.cljc
Due: back-end

Kondo cleanup
  .clj-kondo/config/modules/config.edn
  src/metabase/lib/walk.cljc
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/annotate/legacy_helper_fns.clj
  src/metabase/query_processor/postprocess.clj
  src/metabase/query_processor/util/nest_query.clj
  test/metabase/query_processor/util/nest_query_test.clj
Due: back-end

Show only linked parameters
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/ParameterLinkedFilters.tsx
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/use-filter-fields.ts
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/utils.ts
Due: front-end

Test fixes.
  test/metabase/lib/schema/expression/conditional_test.cljc
  test/metabase/lib/walk_test.cljc
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
