Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

does not exist / is not initialized splice
  src/metabase/search/postgres/core.clj
Due: back-end

docs: add greptimedb community driver plugin
  docs/developers-guide/partner-and-community-drivers.md
Due: none

Update enterprise/backend/src/metabase_enterprise/serialization/api.clj
  enterprise/backend/src/metabase_enterprise/serialization/api.clj
Due: back-end

fix unit tests
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/setup.tsx
Due: front-end

Enable the CORS origin input based on the SDK enable setting
  enterprise/frontend/src/metabase-enterprise/embedding-sdk/index.js
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings.tsx
Due: front-end

Correct token feature `embedding_sdk` name
  enterprise/backend/test/metabase_enterprise/api/session_test.clj
  enterprise/frontend/src/metabase-enterprise/embedding-sdk/index.js
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  src/metabase/embed/settings.clj
  src/metabase/public_settings.clj
Due: back-end, front-end

Add embedding SDK toggle to its settings page
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings.tsx
Due: front-end

Add the embedding SDK toggle to the SDK card
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingOption/EmbeddingOption.tsx
  src/metabase/embed/settings.clj
Due: back-end, front-end

Fix BE tests
  enterprise/backend/test/metabase_enterprise/api/session_test.clj
  src/metabase/embed/settings.clj
Due: back-end

pass `embedding-sdk` flag in `token-features`
  frontend/src/metabase-types/api/settings.ts
  src/metabase/public_settings.clj
  src/metabase/public_settings/premium_features.clj
Due: back-end, front-end

Add embedding SDK settings page toggle tests
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
Due: front-end

Add embedding SDk toggle tests
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
Due: front-end

Remove useMemo from tabs computation (#47505)
  frontend/src/metabase/common/components/DataPicker/components/DataPickerModal.tsx
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/EntityPickerModal.tsx
Due: front-end

[serdes] option to dump full stacktraces on errors (#47676)
  enterprise/backend/src/metabase_enterprise/serialization/api.clj
  enterprise/backend/src/metabase_enterprise/serialization/cmd.clj
  enterprise/backend/src/metabase_enterprise/serialization/v2/ingest.clj
  enterprise/backend/test/metabase_enterprise/serialization/api_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
  src/metabase/cmd.clj
  src/metabase/models/serialization.clj
  test/metabase/cmd_test.clj
Due: back-end

[serdes] api: better error when archive looks weird (#47721)
  enterprise/backend/src/metabase_enterprise/serialization/api.clj
Due: back-end

Hook up the new settingss, feature flag together
  src/metabase/server/middleware/security.clj
  test/metabase/server/middleware/security_test.clj
Due: back-end

Company Details
  resources/migrations/001_update_migrations.yaml
Due: none

a bit more stable sort for tests
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
Due: back-end

[serdes] api: better error when archive looks weird (#47721) (#47756)
  enterprise/backend/src/metabase_enterprise/serialization/api.clj
Due: back-end

break out tests
  dev/src/dev/search.clj
  src/metabase/search/postgres/core.clj
  test/metabase/search/postgres/core_test.clj
  test/metabase/search/postgres/index_test.clj
Due: back-end

Add destinations and recipients tables
  dev/src/dev/migrate.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/models/notification.clj
  test/metabase/models/notification_test.clj
Due: back-end

Browse metrics page (#47277)
  e2e/test/scenarios/metrics/browse.cy.spec.ts
  e2e/test/scenarios/onboarding/home/browse.cy.spec.ts
  frontend/src/metabase/browse/components/BrowseMetrics.tsx
  frontend/src/metabase/browse/components/BrowseMetrics.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/BrowseTable.styled.tsx
  frontend/src/metabase/browse/components/EllipsifiedWithMarkdownTooltip.tsx
  frontend/src/metabase/browse/components/MetricsTable.tsx
  frontend/src/metabase/browse/components/ModelsTable.module.css
  frontend/src/metabase/browse/components/utils.tsx
  frontend/src/metabase/browse/components/utils.unit.spec.tsx
  frontend/src/metabase/browse/test-utils.ts
  frontend/src/metabase/browse/types.tsx
  frontend/src/metabase/common/hooks/use-fetch-metrics.tsx
  frontend/src/metabase/core/components/MarkdownPreview/MarkdownPreview.module.css
  frontend/src/metabase/core/components/MarkdownPreview/MarkdownPreview.tsx
  frontend/src/metabase/core/components/MarkdownPreview/MarkdownPreview.unit.spec.tsx
  frontend/src/metabase/css/core/colors.module.css
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/BrowseNavSection.tsx
  frontend/src/metabase/nav/containers/MainNavbar/utils/index.ts
  frontend/src/metabase/nav/containers/MainNavbar/utils/useHasMetrics.ts
  frontend/src/metabase/routes.jsx
  resources/frontend_client/app/assets/img/metrics_bot.svg
Due: front-end

Add metric actions
  frontend/src/metabase/browse/components/MetricsTable.tsx
Due: front-end

Fix dot menu width
  frontend/src/metabase/browse/components/BrowseTable.styled.tsx
  frontend/src/metabase/browse/components/MetricsTable.tsx
Due: front-end

Refetch card when it's being (un-)bookmarked
  frontend/src/metabase/api/bookmark.ts
Due: front-end

Add tests for metric dot menu
  e2e/test/scenarios/metrics/browse.cy.spec.ts
  frontend/src/metabase/browse/components/MetricsTable.tsx
Due: front-end

feat(sdk): add the create question component demo to the cli (#47348)
  enterprise/frontend/src/embedding-sdk/cli/snippets/analytics-dashboard-snippet.ts
  enterprise/frontend/src/embedding-sdk/cli/steps/create-models-and-xrays.ts
  enterprise/frontend/src/embedding-sdk/cli/steps/setup-permission.ts
  enterprise/frontend/src/embedding-sdk/cli/types/cli.ts
  enterprise/frontend/src/embedding-sdk/cli/utils/create-collection.ts
  enterprise/frontend/src/embedding-sdk/cli/utils/create-model-from-table.ts
  enterprise/frontend/src/embedding-sdk/cli/utils/get-sandboxed-collection-permissions.ts
  enterprise/frontend/src/embedding-sdk/cli/utils/permissions-graph.unit.spec.ts
Due: front-end

Only run the tests for postgres
  test/metabase/search/postgres/core_test.clj
  test/metabase/search/postgres/index_test.clj
Due: none

Remove comment
  test/metabase/search/postgres/core_test.clj
Due: none

add snowplow mention to e2e docs
  docs/developers-guide/e2e-tests.md
Due: none

tweak new snowplow doc page to be more in line with old section
  docs/developers-guide/e2e-tests.md
Due: none

Extra line
  test/metabase/search/postgres/index_test.clj
Due: none

DRY up more
  test/metabase/search/postgres/index_test.clj
Due: none

[serdes] option to dump full stacktraces on errors (#47676) (#47720)
  enterprise/backend/src/metabase_enterprise/serialization/api.clj
  enterprise/backend/src/metabase_enterprise/serialization/cmd.clj
  enterprise/backend/src/metabase_enterprise/serialization/v2/ingest.clj
  enterprise/backend/test/metabase_enterprise/serialization/api_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  src/metabase/cmd.clj
  src/metabase/models/serialization.clj
  test/metabase/cmd_test.clj
Due: back-end

destination => handler
  resources/migrations/001_update_migrations.yaml
  src/metabase/models/notification.clj
  test/metabase/models/notification_test.clj
Due: back-end

Recalculate "graph.metrics" and "graph.dimensions" if empty (#47692)
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  frontend/src/metabase/dashboard/components/AddSeriesModal/AddSeriesModal.unit.spec.tsx
  frontend/src/metabase/visualizations/lib/settings/graph.js
Due: front-end

migration id order
  resources/migrations/001_update_migrations.yaml
Due: none

serdes and copy test fixes
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  enterprise/backend/test/metabase_enterprise/models/entity_id_test.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/cmd/copy.clj
Due: back-end

index stuffs
  resources/migrations/001_update_migrations.yaml
  test/metabase/db/schema_migrations_test.clj
Due: none
