Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 40%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend
      - frontend
    carryforward: true

update comments
  src/metabase/models/permissions.clj
  test/metabase/test/util.clj
Due: back-end

Add popular views
  frontend/src/metabase/home/homepage/components/HomeGreeting/HomeGreeting.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeLayout/HomeLayout.styled.tsx
Due: front-end

Use `aside` + `nav`
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbar.styled.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer.tsx
  frontend/src/metabase/nav/containers/Navbar.jsx
  frontend/src/metabase/nav/containers/Navbar.styled.tsx
Due: front-end

Use `header` for app bar
  frontend/src/metabase/nav/containers/AppBar.styled.tsx
  frontend/src/metabase/nav/containers/AppBar.tsx
Due: front-end

Update E2E tests
  frontend/test/metabase/scenarios/collections/items-metadata.cy.spec.js
  frontend/test/metabase/scenarios/collections/permissions.cy.spec.js
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/17775-filter-custom-column-date.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/bookmarks.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/caching.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/dashboard.cy.spec.js
Due: front-end

Fix `navigationSidebar` E2E helper
  frontend/test/__support__/e2e/helpers/e2e-ui-elements-helpers.js
Due: front-end

Update E2E UI helpers
  frontend/test/__support__/e2e/helpers/e2e-ui-elements-helpers.js
Due: front-end

Hide app bar in fullscreen dashboard (#21437)
  frontend/src/metabase/dashboard/hoc/DashboardControls.jsx
Due: front-end

Fix check
  frontend/src/metabase/home/homepage/components/HomeContent/HomeContent.tsx
Due: front-end

Fix check
  frontend/src/metabase/home/homepage/components/HomeCard/HomeCard.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeHelpCard/HomeHelpCard.styled.tsx
Due: front-end

update driver contact api format
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/components/DriverWarning/DriverWarning.stories.tsx
  frontend/src/metabase/components/DriverWarning/DriverWarning.tsx
  frontend/src/metabase/components/DriverWarning/DriverWarning.unit.spec.tsx
Due: front-end

Add breakpoints
  frontend/src/metabase/home/homepage/components/HomePopularSection/HomePopularSection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeRecentSection/HomeRecentSection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.styled.tsx
Due: front-end

Add caption
  frontend/src/metabase/home/homepage/components/HomeCaption/HomeCaption.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeCaption/HomeCaption.tsx
  frontend/src/metabase/home/homepage/components/HomeCaption/index.ts
Due: front-end

Lint
  frontend/test/metabase/scenarios/native-filters/helpers/e2e-field-filter-helpers.js
Due: front-end

add correct currency symbol to filter inputs
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/components/TokenField.jsx
  frontend/src/metabase/lib/formatting.js
  frontend/test/metabase/lib/formatting.unit.spec.js
  shared/src/metabase/shared/util/currency.cljc
Due: back-end, front-end

remove unused function
  frontend/src/metabase/query_builder/components/filters/pickers/DefaultPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/NumberPicker.jsx
Due: front-end

show currency symbol in between inputs
  frontend/src/metabase/query_builder/components/filters/pickers/DefaultPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/NumberPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/TextPicker.jsx
Due: front-end

test currency prefixes
  frontend/src/metabase/components/TokenField.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/TextPicker.jsx
  frontend/test/metabase/components/FieldValuesWidget.unit.spec.js
  frontend/test/metabase/components/TokenField.unit.spec.js
  frontend/test/metabase/query_builder/components/filters/pickers/NumberPicker.unit.spec.js
  frontend/test/metabase/query_builder/components/filters/pickers/TextPicker.unit.spec.js
  frontend/test/metabase/scenarios/question/filter.cy.spec.js
Due: front-end

lift currency prefix logic up component tree
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/DefaultPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/NumberPicker.jsx
Due: front-end

fix existing tests
  frontend/test/metabase/components/FieldValuesWidget.unit.spec.js
Due: front-end

fix test nesting
  frontend/test/metabase/components/FieldValuesWidget.unit.spec.js
Due: front-end

Add caption
  frontend/src/metabase/home/homepage/components/HomeCaption/HomeCaption.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeCaption/HomeCaption.tsx
  frontend/src/metabase/home/homepage/components/HomePopularSection/HomePopularSection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomePopularSection/HomePopularSection.tsx
  frontend/src/metabase/home/homepage/components/HomeRecentSection/HomeRecentSection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeRecentSection/HomeRecentSection.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.tsx
Due: front-end

Add caption
  frontend/src/metabase/home/homepage/components/HomeCaption/HomeCaption.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.tsx
Due: front-end

monitoring permission
  enterprise/frontend/src/metabase-enterprise/audit_app/index.js
  enterprise/frontend/src/metabase-enterprise/audit_app/routes.jsx
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/index.ts
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/utils.ts
  enterprise/frontend/src/metabase-enterprise/general_permissions/index.ts
  enterprise/frontend/src/metabase-enterprise/general_permissions/selectors.ts
  enterprise/frontend/src/metabase-enterprise/general_permissions/types/permissions.ts
  enterprise/frontend/src/metabase-enterprise/general_permissions/utils.ts
  enterprise/frontend/src/metabase-enterprise/tools/index.js
  enterprise/frontend/src/metabase-enterprise/tools/routes.jsx
  frontend/src/metabase-types/api/user.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/admin/settings/containers/RedirectToAllowedSettings.jsx
  frontend/src/metabase/nav/components/AdminNavbar/AdminNavbar.tsx
  frontend/src/metabase/nav/components/ProfileLink.jsx
  frontend/src/metabase/nav/components/RecentsList.jsx
  frontend/src/metabase/nav/utils/admin-paths.ts
  frontend/src/metabase/nav/utils/index.js
  frontend/src/metabase/nav/utils/model-names.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/routes.jsx
  frontend/src/metabase/search/components/InfoText.jsx
Due: front-end

Address nav cleanup feedback (#21447)
  frontend/src/metabase/nav/components/SidebarButton/SidebarButton.styled.tsx
  frontend/src/metabase/nav/components/SidebarButton/SidebarButton.tsx
  frontend/src/metabase/nav/components/SidebarButton/index.ts
  frontend/src/metabase/nav/containers/AppBar.styled.tsx
  frontend/src/metabase/nav/containers/AppBar.tsx
  frontend/src/metabase/nav/containers/MainNavbar/BookmarkList/BookmarkList.styled.tsx
Due: front-end

[skip ci] fix types
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/index.ts
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/types/user.ts
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/utils.ts
  frontend/src/metabase-types/api/mocks/user.ts
  frontend/src/metabase-types/api/user.ts
Due: front-end

fix import order
  enterprise/frontend/src/metabase-enterprise/audit_app/routes.jsx
  enterprise/frontend/src/metabase-enterprise/tools/routes.jsx
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/admin/utils.js
Due: front-end

specs
  frontend/test/metabase/scenarios/permissions/general-permissions.cy.spec.js
Due: front-end

fix spec
  frontend/test/metabase/scenarios/permissions/general-permissions.cy.spec.js
Due: front-end

Use semantic HTML for new nav elements (#21435)
  frontend/src/metabase/dashboard/hoc/DashboardControls.jsx
  frontend/src/metabase/nav/containers/AppBar.styled.tsx
  frontend/src/metabase/nav/containers/AppBar.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbar.styled.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer.tsx
  frontend/src/metabase/nav/containers/Navbar.jsx
  frontend/src/metabase/nav/containers/Navbar.styled.tsx
  frontend/test/__support__/e2e/helpers/e2e-ui-elements-helpers.js
  frontend/test/metabase/scenarios/collections/items-metadata.cy.spec.js
  frontend/test/metabase/scenarios/collections/permissions.cy.spec.js
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/17775-filter-custom-column-date.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/bookmarks.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/caching.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/dashboard.cy.spec.js
Due: front-end

Bump clojure to the latest version in CI
  .devcontainer/Dockerfile
  .github/actions/prepare-backend/action.yml
  .github/scripts/run-presto-kerberos-integration-test.sh
Due: none

Add keyboard shortcut to control the sidebar
  frontend/src/metabase/nav/containers/AppBar.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer.tsx
  frontend/src/metabase/nav/containers/Navbar.jsx
Due: front-end

try to reduce db calls for :has_question_and_dashboard
  src/metabase/api/activity.clj
  src/metabase/api/user.clj
  src/metabase/models/user.clj
  test/metabase/api/activity_test.clj
Due: back-end

Add `:is_installer` key to users returned from api/user/current
  src/metabase/api/user.clj
  src/metabase/models/user.clj
Due: back-end

Add `:has_question_and_dashboard` Key to current users via hydration
  src/metabase/api/user.clj
  src/metabase/models/user.clj
Due: back-end

Moved `permissions-set` function up so I can use it in hydration
  src/metabase/models/user.clj
  test/metabase/api/user_test.clj
Due: back-end

Adjust recents query and first pass at popular items query
  src/metabase/api/activity.clj
  test/metabase/api/activity_test.clj
Due: back-end

Fixed mistake and renamed endpoint
  src/metabase/api/activity.clj
Due: back-end

remove old app db location reference
  docs/operations-guide/migrating-from-h2.md
  docs/operations-guide/running-metabase-on-docker.md
Due: none
