Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Remove xl font size usage in DescriptionSection
  frontend/src/metabase/metrics/pages/MetricAboutPage/MetricAbout/DescriptionSection/DescriptionSection.tsx
Due: front-end

docs: document auth method switching behavior for existing accounts (#75900)
  docs/people-and-groups/authenticating-with-jwt.md
  docs/people-and-groups/authenticating-with-oidc.md
  docs/people-and-groups/authenticating-with-saml.md
  docs/people-and-groups/managing.md
Due: none

🤖 backported "Fix memory leak with notifications and GraalVM" (#76172)
  frontend/src/metabase-shared/color_selector.js
  resources/frontend_shared/color_selector.js
  src/metabase/channel/render/js/color.clj
  src/metabase/channel/render/js/engine.clj
  test/metabase/channel/render/js/color_test.clj
Due: back-end, front-end

fix: make no results text neutral
  e2e/test-component/scenarios/embedding-sdk/sdk-question.cy.spec.tsx
  e2e/test/scenarios/custom-column/custom-column-reproductions-1.cy.spec.js
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
  e2e/test/scenarios/dashboard-filters/shared/dashboard-filters-text-category.js
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
  e2e/test/scenarios/metrics/metrics-explorer.cy.spec.ts
  e2e/test/scenarios/models/reproductions-2.cy.spec.ts
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native-filters/sql-filters.cy.spec.js
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-4.cy.spec.js
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
  frontend/src/metabase/metrics-viewer/components/MetricsViewerVisualization/MetricsViewerVisualization.tsx
  frontend/src/metabase/querying/components/QueryVisualization/VisualizationResult.tsx
  frontend/src/metabase/visualizations/components/TableInteractive/TableInteractive.tsx
  frontend/src/metabase/visualizations/components/Visualization/NoResultsView/NoResultsView.tsx
Due: front-end

Fix flaky template-tags transform test by waiting on the save request (#76157)
  e2e/test/scenarios/data-studio/transforms/template-tags.cy.spec.ts
Due: none

Remove xl font size usage in DataComplexityCards
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.tsx
Due: front-end

Fix CI
  e2e/test/scenarios/visualizations-tabular/smartscalar-trend.cy.spec.js
Due: none

remove pointless comment
  frontend/src/metabase/visualizations/visualizations/TreemapChart/use-label-measurement.ts
Due: front-end

fix test
  frontend/src/metabase/querying/notebook/components/NotebookStep/NotebookStep.tsx
Due: front-end

Address metamben's
  src/metabase/lib/drill_thru/underlying_records.cljc
  test/metabase/lib/drill_thru/underlying_records_test.cljc
Due: back-end

Address review: gate fetch-table-indexes, quote-aware ClickHouse parser
  docs/developers-guide/driver-changelog.md
  modules/drivers/clickhouse/src/metabase/driver/clickhouse.clj
  modules/drivers/clickhouse/test/metabase/driver/clickhouse_test.clj
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  src/metabase/driver.clj
  src/metabase/driver/postgres.clj
  test/metabase/transforms/index_test.clj
Due: back-end

Remove xl font size usage in ScalarCard
  enterprise/frontend/src/metabase-enterprise/transforms-inspector/pages/TransformInspectPage/components/LensSections/DefaultLensSections/components/ScalarCard.tsx
Due: front-end

Remove lg font size and xl line height usage in EditUserStrategyModal
  enterprise/frontend/src/metabase-enterprise/tenants/EditUserStrategyModal/EditUserStrategyModal.tsx
Due: front-end

Add indexes.reconcile: normalize/match/merge managed + warehouse hints
  .clj-kondo/config/modules/config.edn
  src/metabase/indexes/reconcile.clj
  test/metabase/indexes/reconcile_test.clj
Due: back-end

Gate index verification behind the full-create guard; review cleanups
  src/metabase/indexes/reconcile.clj
  src/metabase/transforms_base/util.clj
  test/metabase/transforms/index_test.clj
Due: back-end

Mark a managed index :failed when its DDL throws
  src/metabase/transforms_base/util.clj
  test/metabase/transforms/index_test.clj
Due: back-end

reconcile: fetch-warehouse-indexes with graceful degrade
  src/metabase/indexes/reconcile.clj
  test/metabase/indexes/reconcile_test.clj
Due: back-end

Verify managed indexes against the warehouse after a transform run
  .clj-kondo/config/modules/config.edn
  src/metabase/transforms/util.clj
  src/metabase/transforms_base/util.clj
  test/metabase/transforms/index_test.clj
Due: back-end

GET /api/indexes merges managed + warehouse hints
  src/metabase/indexes/api.clj
  test/metabase/indexes/api_test.clj
Due: back-end

Reshape merged index entries to one structured-based shape
  src/metabase/indexes/api.clj
  src/metabase/indexes/reconcile.clj
  src/metabase/transforms_base/util.clj
  test/metabase/indexes/api_test.clj
  test/metabase/indexes/reconcile_test.clj
Due: back-end

Wire managed TableIndex rows into the transform apply path
  src/metabase/transforms/execute.clj
  test/metabase/transforms/index_test.clj
Due: back-end

Make warehouse->structured a total, lossless conversion
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  src/metabase/driver.clj
  src/metabase/driver/postgres.clj
  src/metabase/indexes/api.clj
  src/metabase/indexes/reconcile.clj
  test/metabase/indexes/reconcile_test.clj
  test/metabase/transforms/index_test.clj
  test/metabase/transforms/index_test_util.clj
Due: back-end

Remove xl line height usage in SettingHeader
  frontend/src/metabase/admin/settings/components/SettingHeader/SettingHeader.tsx
Due: front-end

Batch verify-managed-indexes! status writes
  src/metabase/transforms_base/util.clj
Due: back-end

Address review: distkey key trap, dedup index-name, document verify guard
  src/metabase/indexes/api.clj
  src/metabase/indexes/reconcile.clj
  src/metabase/transforms_base/util.clj
Due: back-end

Reshape merged index list to a reality-first observation shape
  src/metabase/indexes/api.clj
  src/metabase/indexes/reconcile.clj
  test/metabase/indexes/api_test.clj
  test/metabase/indexes/reconcile_test.clj
  test/metabase/transforms/index_test.clj
  test/metabase/transforms/index_test_util.clj
Due: back-end

Trim index docstrings/comments to the point
  src/metabase/indexes/api.clj
  src/metabase/indexes/reconcile.clj
  src/metabase/transforms_base/util.clj
Due: back-end

Verify warehouse->structured against real driver fetches
  test/metabase/transforms/index_test.clj
  test/metabase/transforms/index_test_util.clj
Due: none

Drop redundant sortkey comment
  modules/drivers/redshift/src/metabase/driver/redshift.clj
Due: none

Make the ClickHouse key-expr parser quote-aware
  modules/drivers/clickhouse/src/metabase/driver/clickhouse.clj
  modules/drivers/clickhouse/test/metabase/driver/clickhouse_test.clj
Due: none

Drop the redshift sortkey access-method enrichment
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  test/metabase/transforms/index_test_util.clj
Due: none

Make SQL guardrail skills always-on
  resources/metabot/skills/create-sql-query.md
  resources/metabot/skills/edit-sql-query.md
  resources/metabot/skills/read-resource.md
  resources/metabot/skills/replace-sql-query.md
  src/metabase/metabot/agent/profiles.clj
  src/metabase/metabot/skills.clj
  test/metabase/metabot/skills_test.clj
Due: back-end

Remove xl line height usage in UpsellBigCard
  frontend/src/metabase/common/components/upsells/components/UpsellBigCard.tsx
Due: front-end

feat(sdk): Custom visualizations in the Embedding SDK (#75920)
  e2e/test-component/scenarios/embedding-sdk/custom-visualizations.cy.spec.tsx
  e2e/test/scenarios/visualizations-charts/custom-viz.cy.spec.ts
  enterprise/frontend/src/embedding-sdk-ee/custom-viz/initialize.ts
  enterprise/frontend/src/embedding-sdk-ee/custom-viz/initialize.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/custom_viz/custom-viz-plugins.tsx
  enterprise/frontend/src/metabase-enterprise/custom_viz/index.ts
  enterprise/frontend/src/metabase-enterprise/custom_viz/sandbox/distortions-dom-read.ts
  enterprise/frontend/src/metabase-enterprise/sdk-plugins.ts
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/ChartTypeDropdown/ChartTypeDropdown.tsx
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/util/ToolbarButton/ToolbarButton.tsx
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/context/SdkQuestionProvider.tsx
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/context/types.ts
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/hooks/use-sensible-visualizations.ts
  frontend/src/embedding-sdk-bundle/components/public/SdkQuestion/SdkQuestion.tsx
  frontend/src/embedding-sdk-bundle/hooks/private/use-load-question.ts
  frontend/src/embedding-sdk-bundle/index.ts
  frontend/src/embedding-sdk-bundle/lib/sdk-question/run-question-query.ts
  frontend/src/embedding-sdk-bundle/types/metabase-provider.ts
  frontend/src/metabase/api/client/types.ts
  frontend/src/metabase/plugins/oss/custom-viz.ts
  frontend/src/metabase/visualizations/custom-visualizations/custom-viz-utils.ts
Due: front-end

Add UseThriftClient configuration to Databricks driver
  modules/drivers/databricks/src/metabase/driver/databricks.clj
Due: none

🤖 backported "Fix memory leak with notifications and GraalVM" (#76171)
  frontend/src/metabase-shared/color_selector.js
  resources/frontend_shared/color_selector.js
  src/metabase/channel/render/js/color.clj
  src/metabase/channel/render/js/engine.clj
  test/metabase/channel/render/js/color_test.clj
Due: back-end, front-end

Remove xl line height usage in DatabaseRoutingStepContent
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DatabaseRoutingStepContent.tsx
Due: front-end

Use 999 for xl so that it's obvious it should not be used
  frontend/src/metabase/ui/theme.ts
Due: front-end

docs: add driver removal steps and required driver exception (#75870)
  docs/developers-guide/drivers/basics.md
Due: none

Coerce breakout-count SUM to long for MySQL/MariaDB app DBs
  src/metabase/usage_metadata/interestingness.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
