Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

workspaces sync: enrich from-spec with :db slot so MySQL remap lookups hit (GHY-3588)
  enterprise/backend/src/metabase_enterprise/workspaces/table_remapping.clj
  enterprise/backend/test/metabase_enterprise/workspaces/table_remapping_test.clj
Due: back-end

Precompute exploration_query_result display + viz_settings at result-write time
  frontend/src/metabase/api/exploration.ts
  frontend/src/metabase/explorations/components/ExplorationVisualization/DocumentMenu.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/ExplorationGroupVisualization.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/ExplorationVisualizationHeader.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/GroupDocumentMenu.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/GroupDocumentMenu.unit.spec.tsx
  src/metabase/explorations/api.clj
  src/metabase/explorations/auto_insights.clj
  src/metabase/explorations/auto_insights/phase2.clj
  src/metabase/explorations/task/runner.clj
  test/metabase/explorations/auto_insights_test.clj
Due: back-end, front-end

Fix formatting
  frontend/src/metabase/collections/components/CollectionContent/CollectionContentView.tsx
Due: front-end

Set up collection endpoints
  frontend/src/metabase/questions/components/CopyCardForm/CopyCardForm.unit.spec.tsx
Due: front-end

Fix visitDashboard flake by waiting for dashboard load first
  e2e/support/helpers/e2e-misc-helpers.js
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_Viz_Static_Viz_BoxPlotChart_Dense_Temporal_Data.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_BoxPlotChart_Medium_Dense_Temporal_Data.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_ComboChart_Bar_Stacked_Series_Labels_And_Totals_Ordinal.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_WaterfallChart_Time_Series_Data_As_Ordinal_X_Scale.png
Due: none

Fix data race in initializeQB overriding itself
  frontend/src/metabase/query_builder/actions/core/initializeQB.ts
Due: front-end

Handle hash-only changes in QB
  frontend/src/metabase/query_builder/actions/navigation.ts
Due: front-end

Add missing mock
  frontend/src/metabase/query_builder/components/template_tags/SnippetFormModal/SnippetFormModal.unit.spec.tsx
Due: front-end

Handle when user has no access to the root collection
  enterprise/frontend/src/embedding/data-picker/saved-entity-picker/SavedEntityPicker.jsx
Due: front-end

Fix clj-kondo errors regarding Nippy (#73985)
  .clj-kondo/config.edn
  .clj-kondo/src/hooks/taoensso/nippy.clj
Due: none

🤖 backported "Fix clj-kondo errors regarding Nippy" (#74203)
  .clj-kondo/config.edn
  .clj-kondo/src/hooks/taoensso/nippy.clj
Due: none

Get rid of VisualizationSettingDefinition["hidden"] (#74074)
  frontend/src/metabase/list-view/components/ListViz/ListViz.tsx
  frontend/src/metabase/visualizations/lib/settings.ts
  frontend/src/metabase/visualizations/lib/settings.unit.spec.ts
  frontend/src/metabase/visualizations/lib/settings/column.ts
  frontend/src/metabase/visualizations/lib/settings/graph.ts
  frontend/src/metabase/visualizations/types/visualization.ts
  frontend/src/metabase/visualizations/visualizations/Funnel/Funnel.tsx
  frontend/src/metabase/visualizations/visualizations/Map/Map.jsx
  frontend/src/metabase/visualizations/visualizations/ObjectDetail.tsx
  frontend/src/metabase/visualizations/visualizations/PieChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/settings.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/Scalar/Scalar.tsx
  frontend/src/metabase/visualizations/visualizations/Table/Table.tsx
Due: front-end

GDGT-1999 Get rid of VisualizationSettingDefinition["section"]
  frontend/src/metabase/dashboard/components/ActionViz/ActionViz.tsx
  frontend/src/metabase/dashboard/visualizations/Text/index.ts
  frontend/src/metabase/visualizations/lib/settings.ts
  frontend/src/metabase/visualizations/lib/settings.unit.spec.ts
  frontend/src/metabase/visualizations/lib/settings/column.ts
  frontend/src/metabase/visualizations/lib/settings/goal.ts
  frontend/src/metabase/visualizations/lib/settings/graph.ts
  frontend/src/metabase/visualizations/lib/settings/nested.ts
  frontend/src/metabase/visualizations/types/visualization.ts
  frontend/src/metabase/visualizations/visualizations/Funnel/Funnel.tsx
  frontend/src/metabase/visualizations/visualizations/Gauge/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/PieChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/settings.ts
  frontend/src/metabase/visualizations/visualizations/Progress/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/RowChart/utils/settings-definitions.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/Scalar/Scalar.tsx
  frontend/src/metabase/visualizations/visualizations/SmartScalar/SmartScalar.tsx
  frontend/src/metabase/visualizations/visualizations/Table/Table.tsx
  frontend/src/metabase/visualizations/visualizations/WaterfallChart/WaterfallChart.tsx
Due: front-end

Add design spec for Metabase Slides feature
  docs/superpowers/specs/2026-05-14-metabase-slides-design.md
Due: none

Slides: backend scaffold (migration, model, CRUD API, route wiring)
  .clj-kondo/config/modules/config.edn
  resources/migrations/062/20260514_slides.yaml
  src/metabase/api_routes/routes.clj
  src/metabase/core/init.clj
  src/metabase/models/resolution.clj
  src/metabase/slides/api.clj
  src/metabase/slides/api/generate.clj
  src/metabase/slides/api/slides.clj
  src/metabase/slides/init.clj
  src/metabase/slides/models/slides.clj
Due: back-end

Slides: implement AI deck generation via Anthropic
  .clj-kondo/config/modules/config.edn
  src/metabase/slides/ai.clj
  src/metabase/slides/api/generate.clj
Due: back-end

Move no-migration appdb bootstrap into app-db; bump digest buffer to 64 KiB
  enterprise/backend/src/metabase_enterprise/data_complexity_score/cli.clj
  enterprise/backend/src/metabase_enterprise/data_complexity_score/representation.clj
  enterprise/backend/test/metabase_enterprise/data_complexity_score/cli_test.clj
  src/metabase/app_db/core.clj
Due: back-end

docs: add installation guide for Metabase MCP server
  src/metabase/mcp/llms-install.md
Due: back-end

POC: 'currently viewing' presence indicator for questions & dashboards
  .clj-kondo/config/modules/config.edn
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/api/index.ts
  frontend/src/metabase/api/presence.ts
  frontend/src/metabase/common/components/PresenceAvatarStack/PresenceAvatarStack.tsx
  frontend/src/metabase/common/components/PresenceAvatarStack/index.ts
  frontend/src/metabase/common/hooks/use-presence/index.ts
  frontend/src/metabase/common/hooks/use-presence/use-presence.ts
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderView.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/ViewTitleHeader.tsx
  resources/migrations/062/20260514_user_presence.yaml
  src/metabase/api_routes/routes.clj
  src/metabase/presence/api.clj
  src/metabase/presence/models/user_presence.clj
  src/metabase/presence/settings.clj
  test/metabase/presence/api_test.clj
Due: back-end, front-end

Slides: frontend editor, presenter, generate modal, browse page
  frontend/src/metabase/api/index.ts
  frontend/src/metabase/api/slides.ts
  frontend/src/metabase/api/tags/constants.ts
  frontend/src/metabase/common/components/NewItemMenu/NewItemMenuView.tsx
  frontend/src/metabase/reducers-common.ts
  frontend/src/metabase/routes.jsx
  frontend/src/metabase/selectors/app.ts
  frontend/src/metabase/slides/components/GenerateModal/GenerateModal.module.css
  frontend/src/metabase/slides/components/GenerateModal/GenerateModal.tsx
  frontend/src/metabase/slides/components/Presenter/Presenter.module.css
  frontend/src/metabase/slides/components/Presenter/Presenter.tsx
  frontend/src/metabase/slides/components/Slide/Slide.module.css
  frontend/src/metabase/slides/components/SlideThumbnail/SlideThumbnail.module.css
  frontend/src/metabase/slides/components/SlideThumbnail/SlideThumbnail.tsx
  frontend/src/metabase/slides/components/SlideThumbnailList/SlideThumbnailList.module.css
  frontend/src/metabase/slides/components/SlideThumbnailList/SlideThumbnailList.tsx
  frontend/src/metabase/slides/components/SlidesBrowse/SlidesBrowse.module.css
  frontend/src/metabase/slides/components/SlidesBrowse/SlidesBrowse.tsx
  frontend/src/metabase/slides/components/SlidesHeader/SlidesHeader.module.css
  frontend/src/metabase/slides/components/SlidesHeader/SlidesHeader.tsx
  frontend/src/metabase/slides/components/SlidesPage/SlidesPage.module.css
  frontend/src/metabase/slides/components/SlidesPage/SlidesPage.tsx
  frontend/src/metabase/slides/routes.tsx
  frontend/src/metabase/slides/selectors.ts
  frontend/src/metabase/slides/slides.slice.ts
  frontend/src/metabase/slides/types.ts
  frontend/src/metabase/slides/utils/extractText.ts
Due: front-end

Skip milestone backfill instead of throwing when no PR is referenced
  release/src/milestones.ts
  release/src/milestones.unit.spec.ts
Due: none

Pick deterministic avatar color per viewer
  frontend/src/metabase/common/components/PresenceAvatarStack/PresenceAvatarStack.tsx
Due: front-end

Slides: lint and type cleanup
  .clj-kondo/config/modules/config.edn
  frontend/src/metabase/api/slides.ts
  frontend/src/metabase/slides/components/GenerateModal/GenerateModal.tsx
  frontend/src/metabase/slides/components/Presenter/Presenter.tsx
  frontend/src/metabase/slides/components/SlidesHeader/SlidesHeader.tsx
  frontend/src/metabase/slides/components/SlidesPage/SlidesPage.tsx
  frontend/src/metabase/slides/selectors.ts
  frontend/src/metabase/slides/slides.slice.ts
Due: front-end

Fix possible race with resolveCards
  frontend/src/metabase/query_builder/actions/core/initializeQB.ts
Due: front-end

Add test for the new isStale check
  frontend/src/metabase/query_builder/actions/core/initializeQB.unit.spec.ts
Due: front-end

AppDb support for Data Complexity Score CLI (#74142)
  enterprise/backend/src/metabase_enterprise/data_complexity_score/api.clj
  enterprise/backend/src/metabase_enterprise/data_complexity_score/cli.clj
  enterprise/backend/src/metabase_enterprise/data_complexity_score/models/data_complexity_score.clj
  enterprise/backend/src/metabase_enterprise/data_complexity_score/representation.clj
  enterprise/backend/src/metabase_enterprise/data_complexity_score/task/complexity_score.clj
  enterprise/backend/test/metabase_enterprise/data_complexity_score/api_test.clj
  enterprise/backend/test/metabase_enterprise/data_complexity_score/cli_test.clj
  enterprise/backend/test/metabase_enterprise/data_complexity_score/complexity_test.clj
  enterprise/backend/test/metabase_enterprise/data_complexity_score/task/complexity_score_trimmer_test.clj
  resources/migrations/061/20260513_data_complexity_score_source.yaml
  src/metabase/app_db/core.clj
  src/metabase/app_db/setup.clj
  src/metabase/core/bootstrap.clj
Due: back-end

Check undefined as well as null to check if navigation is external
  frontend/src/metabase/query_builder/actions/navigation.ts
Due: front-end

Move trackCustomHomepageDashboardEnabled to shared (#74128)
  frontend/lint/eslint-plugin-metabase/rules/no-analytics-import-outside-analytics-files.js
  frontend/lint/module-boundaries.mjs
  frontend/lint/tests/no-analytics-import-outside-analytics-files.unit.spec.js
  frontend/src/metabase/admin/settings/analytics.ts
  frontend/src/metabase/admin/settings/components/widgets/CustomHomepageDashboardSetting.tsx
  frontend/src/metabase/common/analytics/homepage.ts
  frontend/src/metabase/common/analytics/index.ts
  frontend/src/metabase/home/components/CustomHomePageModal/CustomHomePageModal.tsx
Due: front-end

Phase 1: clickable popover with full viewer list
  frontend/src/metabase/common/components/PresenceAvatarStack/PresenceAvatarStack.tsx
Due: front-end

Slides: dashboard-as-context for AI generation
  .clj-kondo/config/modules/config.edn
  bin/slides-set-llm-key
  frontend/src/metabase/slides/components/SlidesBrowse/SlidesBrowse.tsx
  src/metabase/slides/ai.clj
  src/metabase/slides/api/generate.clj
Due: back-end, front-end

update comment
  enterprise/frontend/src/embedding/auth-common/jwt.ts
Due: front-end

add explicit unit test for POST and body
  enterprise/frontend/src/embedding-sdk-ee/tests/auth-flow/jwt.unit.spec.tsx
Due: front-end

fix test
  e2e/test-component/scenarios/embedding-sdk/loading-performance.cy.spec.tsx
Due: none

wip
  e2e/test-component/scenarios/embedding-sdk/requests.cy.spec.tsx
  e2e/test/scenarios/embedding/sdk-iframe-embedding/authentication.cy.spec.ts
  enterprise/frontend/src/embedding-sdk-ee/tests/auth-flow/jwt.unit.spec.tsx
  enterprise/frontend/src/embedding/auth-common/jwt.ts
  frontend/src/embedding-sdk-bundle/test/mocks/sso.ts
Due: front-end

update comment
  enterprise/frontend/src/embedding-sdk-ee/tests/auth-flow/jwt.unit.spec.tsx
Due: front-end

Convert with-redefs → with-dynamic-fn-redefs in 3 test files
  test/metabase/actions/actions_test.clj
  test/metabase/actions/execution_write_pool_test.clj
  test/metabase/analytics/snowplow_test.clj
Due: none

Guard with-dynamic-fn-redefs against common misuse
  .clj-kondo/config.edn
  .clj-kondo/src/hooks/clojure/core/with_redefs.clj
  .clj-kondo/test/hooks/clojure/core/with_redefs_test.clj
  test/metabase/test/util/dynamic_redefs.clj
  test/metabase/test/util_test.clj
Due: none
