Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Remove test
  test/metabase/lib/schema/filter_test.cljc
Due: none

Test fix :wrench:
  test/metabase/lib/expression_test.cljc
Due: none

Finish wrappers for remove-clause and replace-clause
  frontend/src/metabase-lib/order_by.ts
  frontend/src/metabase-lib/order_by.unit.spec.ts
  src/metabase/lib/js.cljs
Due: back-end, front-end

(1/n) refactor custom `TabList` from `ModelDetailPage` into a core component (#29669)
  frontend/src/metabase/core/components/TabButton/TabButton.styled.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.tsx
  frontend/src/metabase/core/components/TabButton/index.ts
  frontend/src/metabase/core/components/TabRow/TabRow.stories.tsx
  frontend/src/metabase/core/components/TabRow/TabRow.styled.tsx
  frontend/src/metabase/core/components/TabRow/TabRow.tsx
  frontend/src/metabase/core/components/TabRow/TabRow.unit.spec.tsx
  frontend/src/metabase/core/components/TabRow/index.ts
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.tsx
Due: front-end

Added lots of tests
  src/metabase/api/metabot.clj
  src/metabase/metabot.clj
  src/metabase/metabot/client.clj
  src/metabase/metabot/infer_model.clj
  src/metabase/metabot/infer_sql.clj
  src/metabase/metabot/util.clj
  test/metabase/api/metabot_test.clj
  test/metabase/metabot/metabot_util_test.clj
  test/metabase/metabot_test.clj
Due: back-end

(1.5/n) add menu to `TabButton`
  frontend/src/metabase/core/components/Tab/utils.ts
  frontend/src/metabase/core/components/TabButton/TabButton.styled.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.unit.spec.tsx
  frontend/src/metabase/core/components/TabButton/TabButtonMenu.tsx
  frontend/src/metabase/core/components/TabButton/index.ts
  frontend/src/metabase/core/components/TabRow/TabRow.stories.tsx
Due: front-end

(1.5/n) add menu to `TabButton` (#29697)
  frontend/src/metabase/core/components/Tab/utils.ts
  frontend/src/metabase/core/components/TabButton/TabButton.styled.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.unit.spec.tsx
  frontend/src/metabase/core/components/TabButton/TabButtonMenu.tsx
  frontend/src/metabase/core/components/TabButton/index.ts
  frontend/src/metabase/core/components/TabRow/TabRow.stories.tsx
Due: front-end

(2/n) rename `DashboardHeader.tsx` to `DashboardHeaderView` to avoid collision with `DashboardHeader.jsx`
  frontend/src/metabase/dashboard/components/DashboardHeaderView.styled.tsx
  frontend/src/metabase/dashboard/components/DashboardHeaderView.tsx
  frontend/src/metabase/dashboard/containers/DashboardHeader.jsx
Due: front-end

(2/n) rename `DashboardHeader.tsx` to `DashboardHeaderView` to avoid collision with `DashboardHeader.jsx` (#29684)
  frontend/src/metabase/dashboard/components/DashboardHeaderView.styled.tsx
  frontend/src/metabase/dashboard/components/DashboardHeaderView.tsx
  frontend/src/metabase/dashboard/containers/DashboardHeader.jsx
Due: front-end

update settings mock
  frontend/src/metabase-types/api/mocks/settings.ts
Due: front-end

(1.6/n) add `disabled` prop to `TabButton`
  frontend/src/metabase/core/components/TabButton/TabButton.styled.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.unit.spec.tsx
  frontend/src/metabase/core/components/TabRow/TabRow.stories.tsx
Due: front-end

Fixing test whitespace
  e2e/test/scenarios/native/native.cy.spec.js
Due: none

Added pretty? option to POST api/dataset/native route (#29336)
  frontend/src/metabase/query_builder/components/view/PreviewQueryModal/PreviewQueryModal.tsx
  frontend/src/metabase/query_builder/selectors.js
  src/metabase/api/dataset.clj
  src/metabase/db/query.clj
  test/metabase/api/dataset_test.clj
  test/metabase/db/query_test.clj
  test_resources/metabase/db/mongodbquery.json
Due: back-end, front-end

(1.6/n) add `disabled` prop to `TabButton` (#29772)
  frontend/src/metabase/core/components/TabButton/TabButton.styled.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.tsx
  frontend/src/metabase/core/components/TabButton/TabButton.unit.spec.tsx
  frontend/src/metabase/core/components/TabRow/TabRow.stories.tsx
Due: front-end

Better logging
  src/metabase/metabot.clj
  src/metabase/metabot/settings.clj
Due: back-end

Manual backport persistent schema cache info table (#29741)
  src/metabase/driver/ddl/interface.clj
  src/metabase/driver/mysql/ddl.clj
  src/metabase/driver/postgres/ddl.clj
  test/metabase/query_processor/persistence_test.clj
Due: back-end

Returning database_id for collection items where the item is a model
  src/metabase/api/collection.clj
  test/metabase/api/collection_test.clj
Due: back-end

add e2e spec
  e2e/test/scenarios/onboarding/metabot.cy.spec.js
  frontend/src/metabase/components/EntityMenu/EntityMenu.jsx
  frontend/src/metabase/components/EntityMenuTrigger/EntityMenuTrigger.tsx
  frontend/src/metabase/query_builder/components/QuestionActions.tsx
  frontend/src/metabase/query_builder/components/RunButton.tsx
Due: front-end

fix can't prune cards
  src/metabase/api/dashboard.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

Fix the `@example` in JSDoc
  e2e/test/scenarios/admin/databases/helpers/e2e-database-helpers.js
Due: none

Rename to set-json-unfolding!
  test/metabase/api/field_test.clj
Due: none

use malli for schema
  src/metabase/api/dashboard.clj
Due: back-end

Fix load-from-csv arglists
  src/metabase/driver.clj
Due: back-end

Undo whitespace change
  src/metabase/driver/postgres.clj
Due: back-end

Use empty db instead
  test/metabase/actions/test_util.clj
  test/metabase/driver/postgres_test.clj
  test/metabase/test.clj
Due: none

toucan hooks and convert card to toucan2
  .clj-kondo/config.edn
  src/metabase/db/util.clj
  src/metabase/models/card.clj
  src/metabase/models/interface.clj
  src/metabase/models/params.clj
  src/metabase/models/revision.clj
  src/metabase/models/serialization.clj
  test/metabase/cmd/copy_test.clj
  test/metabase/test/util.clj
Due: back-end

convert card api and card model tests to use the new :m/Card
  test/metabase/api/card_test.clj
  test/metabase/models/card_test.clj
Due: none

remove the used of new method that'll be defined later
  src/metabase/models/card.clj
Due: back-end

Add table and field tests
  test/metabase/driver/postgres_test.clj
Due: none

Add whitespace
  .github/workflows/clean-cache.yml
Due: none

Clean cache after branch closes
  .github/workflows/clean-cache.yml
Due: none

Finalize caches cleanup workflow
  .github/workflows/clean-cache.yml
Due: none

CSV: schema detection (#29650)
  src/metabase/api/card.clj
  src/metabase/csv.clj
  test/metabase/csv_test.clj
Due: back-end

Add CSV uploads feature and have postgres and H2 support it (#29636)
  src/metabase/driver.clj
  src/metabase/driver/h2.clj
  src/metabase/driver/postgres.clj
Due: back-end

basic CSV uploads from collections
  frontend/src/metabase/collections/components/CollectionHeader/CollectionHeader.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUpload.styled.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUpload.tsx
  frontend/src/metabase/services.js
Due: front-end

allow formData uploads
  frontend/src/metabase/lib/api.js
Due: front-end

add dropzone support for collections
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUpload.tsx
  frontend/src/metabase/collections/components/UploadOverlay/UploadOverlay.styled.tsx
  frontend/src/metabase/collections/components/UploadOverlay/UploadOverlay.tsx
  frontend/src/metabase/collections/components/UploadOverlay/index.ts
  frontend/src/metabase/collections/containers/CollectionContent.jsx
  frontend/src/metabase/collections/containers/CollectionContent.styled.tsx
  frontend/src/metabase/collections/upload.ts
  package.json
  yarn.lock
Due: front-end

Remove prn
  src/metabase/driver/sql_jdbc.clj
Due: back-end

Whether or not uploads are enabled
  src/metabase/public_settings.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
