Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

rebase rescue
  rebase-continue
Due: none

interrupted: restack branch "integration-embedding-onboarding-improvements"
  rebase-continue
Due: none

Add "configure data permissions and enable tenants" skeleton for onboarding (#68895)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/admin/routes.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  resources/frontend_client/app/assets/img/embedding-onboarding/multi-tenant-user-strategy.svg
  resources/frontend_client/app/assets/img/embedding_hub_create_embed.png
  resources/frontend_client/app/assets/img/embedding_hub_create_embed@2x.png
  resources/frontend_client/app/assets/img/embedding_hub_row_column_security.png
  resources/frontend_client/app/assets/img/embedding_hub_row_column_security@2x.png
  resources/frontend_client/app/assets/img/embedding_hub_secure_embeds_diagram.png
  resources/frontend_client/app/assets/img/embedding_hub_secure_embeds_diagram@2x.png
Due: front-end

Add enable tenants and create shared collection button (#69131)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  enterprise/backend/test/metabase_enterprise/embedding_hub/api_test.clj
  frontend/src/metabase/api/collection.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: back-end, front-end

Lock steps 2 to 5 in data permissions setup checklist (#69135)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/types.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Create a multi-select database selector component (#69635)
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.module.css
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.stories.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.unit.spec.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/index.ts
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
Due: front-end

Add tenant creation and tenant summary step for tenants onboarding (#69454)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/api/tenants.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/index.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/TenantSummaryCard.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/TenantsSummaryOnboardingStep.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/index.ts
  enterprise/frontend/src/metabase-enterprise/tenants/index.tsx
  frontend/src/metabase/admin/components/RelatedSettingsSection/RelatedSettingsSection.tsx
  frontend/src/metabase/admin/components/RelatedSettingsSection/index.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.unit.spec.tsx
  frontend/src/metabase/common/components/OnboardingStepper/hooks/use-auto-advance-step.ts
  frontend/src/metabase/common/components/OnboardingStepper/utils/get-next-incomplete-step-from.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/plugins/oss/tenants.ts
Due: front-end

Add connection impersonation onboarding step (#69644)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Add data segregation strategy selection step for embedding onboarding (#69127)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.unit.spec.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepperStep.tsx
  frontend/src/metabase/common/components/OnboardingStepper/hooks/use-auto-advance-step.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DataSegregationStrategyPicker.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DataSegregationStrategyPicker.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/ui/components/icons/Icon/icons/corner_up_right.svg
  frontend/src/metabase/ui/components/icons/Icon/icons/database_routing.svg
  frontend/src/metabase/ui/components/icons/Icon/icons/index.ts
  frontend/src/metabase/ui/components/icons/Icon/icons/layout_grid.svg
Due: front-end

Onboarding stepper should navigate to next steps correctly even when all steps are done (#69653)
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.unit.spec.tsx
  frontend/src/metabase/common/components/OnboardingStepper/hooks/use-auto-advance-step.ts
  frontend/src/metabase/common/components/OnboardingStepper/types.ts
  frontend/src/metabase/common/components/OnboardingStepper/utils/get-next-incomplete-step-from.ts
  frontend/src/metabase/common/components/OnboardingStepper/utils/get-next-step-to-activate.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Add link to documentation for database routing in the onboarding step (#69138)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.module.css
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepperStep.tsx
  frontend/src/metabase/common/components/OnboardingStepper/types.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DatabaseRoutingStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Add completion checks for data segregation and tenants (#68890)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  enterprise/backend/test/metabase_enterprise/embedding_hub/api_test.clj
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
Due: back-end, front-end

Add JWT authentication onboarding for embedding hub (#69823)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/admin/routes.tsx
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.tsx
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/AddEndpointStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupJwtStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/TestJwtStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-help-url.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
  src/metabase/embedding/settings.clj
Due: back-end, front-end

Add row and column level security step for onboarding (#69622)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  frontend/src/metabase/api/group-table-access-policy.ts
  frontend/src/metabase/api/index.ts
  frontend/src/metabase/api/settings.ts
  frontend/src/metabase/api/tags/constants.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/EnableTenantsStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/TableColumnCard.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-update-all-tenant-users-group-permissions.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-upsert-group-table-access-policies.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/utils/permission-utils.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/utils/permission-utils.unit.spec.ts
  frontend/src/metabase/ui/components/overlays/Menu/index.ts
Due: front-end

Remove create models step from embedding onboarding checklist (#70256)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
Due: front-end

Show tenant_identifier autocompletion from column values in RLS (#69829)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/TenantIdentifierInput.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/hooks/use-field-distinct-values.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/hooks/use-field-distinct-values.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/containers/NewTenantModal/NewTenantModal.tsx
  frontend/src/metabase-types/api/tenants.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-upsert-group-table-access-policies.ts
  frontend/src/metabase/plugins/oss/tenants.ts
Due: front-end

Tenant creation should differ the data isolation field by strategy (#70258)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  enterprise/backend/test/metabase_enterprise/embedding_hub/api_test.clj
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.module.css
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/TenantIdentifierInput.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/isolation-field-config.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/TenantSummaryCard.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/TenantsSummaryOnboardingStep.tsx
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DataSegregationStrategyPicker.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.tsx
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
  frontend/src/metabase/embedding/embedding-hub/types/index.ts
  frontend/src/metabase/plugins/oss/tenants.ts
Due: back-end, front-end

Embed wizard should default to newly created dashboards (#69907)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-entity.cy.spec.ts
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-experience.cy.spec.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/hooks/use-recent-items.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/hooks/use-recently-created-dashboards.ts
Due: front-end

Mark get embed snippet step as done when guest embed is published (#69889)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase/api/card.ts
  frontend/src/metabase/api/dashboard.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCodeStep.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeEmbedSetupModal.tsx
Due: back-end, front-end

integration-embedding-onboarding-improvements: branch was restacked externally
  branches/integration-embedding-onboarding-improvements
Due: none

emb-1351-show-segregation-strategy-specific-data-permissions-in: restacked on integration-embedding-onboarding-improvements
  branches/emb-1351-show-segregation-strategy-specific-data-permissions-in
Due: none

emb-1382-update-in-app-jwt-onboarding-to-use-snippets-instead-of: restacked on integration-embedding-onboarding-improvements
  branches/emb-1382-update-in-app-jwt-onboarding-to-use-snippets-instead-of
Due: none

Add data migration to fix existing computed transform tables marked as writable
  resources/migrations/059_update_migrations.yaml
Due: none

feat: Add horizontal scrolling for charts with more than 50 data points
  frontend/src/metabase/visualizations/echarts/cartesian/option/index.ts
Due: front-end

Fix duplicate alerts/subscriptions firing in multi-pod clusters
  resources/quartz.properties
  src/metabase/app_db/custom_migrations/util.clj
Due: back-end

Improve types
  frontend/src/metabase/list-view/components/ListView/ColumnValue.tsx
Due: front-end

Improve types
  frontend/src/metabase/visualizations/lib/mapping.ts
Due: front-end

Fix types
  frontend/src/metabase-types/store/admin.ts
Due: front-end

emb-1382-update-in-app-jwt-onboarding-to-use-snippets-instead-of: onto emb-1351-show-segregation-strategy-specific-data-permissions-in
  branches/emb-1382-update-in-app-jwt-onboarding-to-use-snippets-instead-of
Due: none

Fix types
  frontend/src/metabase-types/store/mocks/admin.ts
Due: front-end

create branch emb-1390-fix-rls-tenant-users-unable-to-query-database
  branches/emb-1390-fix-rls-tenant-users-unable-to-query-database
Due: none

emb-1390-fix-rls-tenant-users-unable-to-query-database: save prepared branch
  prepared/emb-1390-fix-rls-tenant-users-unable-to-query-database
Due: none

emb-1390-fix-rls-tenant-users-unable-to-query-database: clear prepared branch
  prepared/emb-1390-fix-rls-tenant-users-unable-to-query-database
Due: none

branch submit emb-1390-fix-rls-tenant-users-unable-to-query-database
  branches/emb-1390-fix-rls-tenant-users-unable-to-query-database
Due: none

Post stack navigation comments
  branches/emb-1390-fix-rls-tenant-users-unable-to-query-database
Due: none

create branch emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
  branches/emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
Due: none

emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge: save prepared branch
  prepared/emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
Due: none

emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge: clear prepared branch
  prepared/emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
Due: none

branch submit emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
  branches/emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
Due: none

Post stack navigation comments
  branches/emb-1391-polish-tenant-creation-sso-copy-and-ui-before-merge
Due: none
