Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 35%
        threshold: 5%
        flags:
          - front-end

    patch:
      back-end:
        # Changes must have at least 75% test coverage (by line)
        target: 75%
        flags:
          - back-end

      front-end:
        target: 35%
        flags:
          - front-end

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase

  front-end:
    paths:
      - frontend

key -> label
  frontend/src/metabase/lib/schema_metadata.js
Due: front-end

more options
  enterprise/frontend/src/metabase-enterprise/tools/containers/ErrorDetail.jsx
Due: none

Remove public settings now that we get it from the metadata
  src/metabase/pulse/render/common.clj
Due: back-end

fix
  frontend/src/metabase/modes/lib/modes.js
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Due: front-end

fixes
  frontend/src/metabase-lib/lib/Question.js
  frontend/src/metabase/query_builder/components/view/QuestionDataSource.jsx
  frontend/src/metabase/query_builder/components/view/QuestionDescription.jsx
  frontend/src/metabase/query_builder/components/view/QuestionFilters.jsx
  frontend/src/metabase/query_builder/components/view/QuestionSummaries.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

added check for borderless buttons when setting compact padding
  frontend/src/metabase/query_builder/components/RunButton.jsx
Due: front-end

fix my own silly regression
  frontend/src/metabase/query_builder/components/RunButton.jsx
Due: front-end

Fix #17397 - "Showing first 2000 rows" is always displayed when results are loading (#17954)
  frontend/src/metabase/query_builder/components/view/QuestionRowCount.jsx
  frontend/test/__support__/e2e/helpers/e2e-misc-helpers.js
  frontend/test/metabase/scenarios/question/notebook.cy.spec.js
Due: front-end

Static Viz Formatting (#17957)
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/common.clj
  src/metabase/query_processor/middleware/visualization_settings.clj
  test/metabase/pulse/render/common_test.clj
  test/metabase/query_processor/middleware/visualization_settings_test.clj
Due: back-end

Tweak comment and message
  frontend/src/metabase/lib/expressions/typechecker.js
  frontend/test/metabase/scenarios/question/filter.cy.spec.js
Due: front-end

Fix #17975 by supporting getting MBQL field literal (#17982)
  frontend/src/metabase/lib/query/field_ref.js
  frontend/test/metabase/lib/query/query.unit.spec.js
  frontend/test/metabase/scenarios/binning/binning-reproductions.cy.spec.js
Due: front-end

Simplifying names
  helm-chart/metabase/templates/deployment.yaml
  helm-chart/metabase/values.yaml
Due: none

add schema back in
  enterprise/backend/src/metabase_enterprise/audit_app/pages/queries.clj
  enterprise/backend/src/metabase_enterprise/audit_app/pages/query_detail.clj
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/queries.js
  enterprise/frontend/src/metabase-enterprise/tools/containers/ErrorDetail.jsx
Due: back-end

Support updating secret values as part of encryption key rotation
  src/metabase/cmd/rotate_encryption_key.clj
  src/metabase/db/jdbc_protocols.clj
  test/metabase/cmd/rotate_encryption_key_test.clj
  test/metabase/models/secret_test.clj
  test/metabase/test.clj
  test/metabase/test/util.clj
Due: back-end

dashboard names. links will be tricky
  enterprise/backend/src/metabase_enterprise/audit_app/pages/common/cards.clj
  enterprise/backend/src/metabase_enterprise/audit_app/pages/query_detail.clj
  enterprise/frontend/src/metabase-enterprise/tools/containers/ErrorDetail.jsx
Due: back-end

qp: fetch_source_query: store card-id for each query
  src/metabase/query_processor/middleware/fetch_source_query.clj
  test/metabase/query_processor/middleware/fetch_source_query_test.clj
Due: back-end

unskip cypress tests
  frontend/test/metabase/scenarios/binning/qb-explicit-joins.cy.spec.js
  frontend/test/metabase/scenarios/question/nested.cy.spec.js
Due: front-end

qp: annotate: remove join-alias if source is a card
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Due: back-end

on component styling
  2
Due: none

linter
  enterprise/frontend/src/metabase-enterprise/tools/containers/ErrorDetail.jsx
Due: none

whack console log stuff
  enterprise/frontend/src/metabase-enterprise/audit_app/containers/AuditTableVisualization.jsx
  enterprise/frontend/src/metabase-enterprise/tools/containers/ErrorDetail.jsx
Due: none

Separate positive and negative labels within stacked series
  frontend/src/metabase/visualizations/lib/chart_values.js
Due: front-end

fix tables are not clickable in recents (#17995)
  frontend/src/metabase/lib/urls.js
  frontend/test/metabase/scenarios/onboarding/search/recently-viewed.cy.spec.js
Due: front-end

Fix slow query when using nested native question with many rows
  src/metabase/query_processor/middleware/mbql_to_native.clj
  test/metabase/query_processor_test/query_to_native_test.clj
Due: back-end

increase readability
  frontend/src/metabase/visualizations/lib/settings/graph.js
Due: front-end

Style zero grid line
  frontend/src/metabase/visualizations/components/LineAreaBarChart.css
  frontend/src/metabase/visualizations/lib/LineAreaBarPostRender.js
Due: front-end

Fix default formatting options for numeric types (#17978)
  frontend/src/metabase/visualizations/lib/settings/column.js
  frontend/test/metabase/scenarios/admin/settings/localization.cy.spec.js
Due: front-end

show meaningful error for waterfall chart of multiple series questions (#17992)
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldPicker.jsx
  frontend/src/metabase/visualizations/index.js
  frontend/src/metabase/visualizations/lib/RowRenderer.js
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/visualizations/RowChart.jsx
  frontend/src/metabase/visualizations/visualizations/WaterfallChart.jsx
  frontend/test/metabase/scenarios/visualizations/waterfall.cy.spec.js
Due: front-end

Do not unset filter values with click behavior
  frontend/src/metabase/dashboard/actions.js
  frontend/src/metabase/modes/components/drill/DashboardClickDrill.jsx
Due: front-end

review fixes
  enterprise/frontend/src/metabase-enterprise/audit_app/components/AuditNotificationDeleteModal/AuditNotificationDeleteModal.jsx
  enterprise/frontend/src/metabase-enterprise/audit_app/components/AuditNotificationEditModal/AuditNotificationEditModal.jsx
  enterprise/frontend/src/metabase-enterprise/audit_app/components/AuditParameters.jsx
  enterprise/frontend/src/metabase-enterprise/audit_app/components/AuditSidebar.jsx
Due: none

Fix unit tests
  frontend/src/metabase/dashboard/actions.js
  frontend/src/metabase/dashboard/actions.unit.spec.js
Due: front-end

restore original file name
  docs/troubleshooting-guide/timezones.md
Due: none

Fix unit tests
  frontend/src/metabase/dashboard/actions.unit.spec.js
Due: front-end

links
  docs/operations-guide/handling-timezones.md
  docs/troubleshooting-guide/index.md
Due: none

docs - restore original file name (#18026)
  docs/operations-guide/handling-timezones.md
  docs/troubleshooting-guide/index.md
  docs/troubleshooting-guide/timezones.md
Due: none

Fix ENV case for `QA_DB_ENABLED`
  frontend/test/metabase-db/README.md
Due: front-end

Fix ENV case for `QA_DB_ENABLED` (#18027)
  frontend/test/metabase-db/README.md
Due: front-end
