Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Bookmarked results should not show up in recents/ popular.
  src/metabase/api/activity.clj
Due: back-end

Document Title and favicon updates for loading questions
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

PR Feedback
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

fix more errors
  enterprise/backend/src/metabase_enterprise/advanced_permissions/models/permissions.clj
Due: back-end

Misc
  frontend/src/metabase-lib/lib/queries/StructuredQuery.ts
Due: front-end

Add missing properties in Parameter
  frontend/src/metabase-types/types/Parameter.ts
Due: front-end

Add missing React keys in DashCard
  frontend/src/metabase/dashboard/components/DashCard.jsx
Due: front-end

Move comment to an appropriate place
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Limit the number of results to speed things up
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Wait for both `dataset` responses to come back
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Use second to last index
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Use a helper function instead of aliases
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Add some additional comments
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Handle native queries
  src/metabase/query_processor/middleware/fetch_source_query.clj
Due: back-end

Update test title
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Stress-test the fix in the current branch
  .github/workflows/e2e-tests.yml
Due: none

Refactoring Dashboard Title and Favicon logic
  frontend/src/metabase/dashboard/actions.js
  frontend/src/metabase/dashboard/containers/DashboardApp.jsx
  frontend/src/metabase/dashboard/reducers.js
  frontend/src/metabase/dashboard/reducers.unit.spec.js
  frontend/src/metabase/dashboard/selectors.js
Due: front-end

Create dynamically rebindable `metabase.db.connection/*application-db*` (#21332)
  enterprise/backend/src/metabase_enterprise/sandbox/models/params/field_values.clj
  enterprise/backend/src/metabase_enterprise/sandbox/query_processor/middleware/row_level_restrictions.clj
  enterprise/backend/src/metabase_enterprise/serialization/dump.clj
  enterprise/backend/src/metabase_enterprise/serialization/load.clj
  enterprise/backend/src/metabase_enterprise/serialization/names.clj
  enterprise/backend/src/metabase_enterprise/serialization/upsert.clj
  src/metabase/cmd/dump_to_h2.clj
  src/metabase/db.clj
  src/metabase/db/connection.clj
  src/metabase/db/connection_pool_setup.clj
  src/metabase/db/setup.clj
  src/metabase/driver/util.clj
  src/metabase/models/permissions_group.clj
  src/metabase/models/setting.clj
  src/metabase/models/setting/cache.clj
  src/metabase/query_processor/middleware/cache_backend/db.clj
  src/metabase/server/middleware/log.clj
  src/metabase/util/honeysql_extensions.clj
  test/metabase/cmd/dump_to_h2_test.clj
  test/metabase/cmd/load_and_dump_test.clj
  test/metabase/cmd/load_from_h2_test.clj
  test/metabase/cmd/rotate_encryption_key_test.clj
  test/metabase/db/connection_pool_setup_test.clj
  test/metabase/db/schema_migrations_test/impl.clj
  test/metabase/models/setting/cache_test.clj
  test/metabase/server/middleware/log_test.clj
  test/metabase/test/fixtures.clj
Due: back-end

handle datetimetz in persisting
  src/metabase/driver/postgres.clj
Due: back-end

tests for field APIs
  enterprise/backend/test/metabase_enterprise/advanced_permissions/common_test.clj
  src/metabase/models/field.clj
Due: back-end

table perms changes
  enterprise/backend/test/metabase_enterprise/advanced_permissions/common_test.clj
  src/metabase/models/field.clj
  src/metabase/models/permissions.clj
  src/metabase/models/table.clj
Due: back-end

Unskip repro for #13097
  frontend/test/metabase/scenarios/question/reproductions/13097-mongo-apply-distinct-count-multiple-columns.cy.spec.js
Due: front-end

tests for table API
  enterprise/backend/test/metabase_enterprise/advanced_permissions/common_test.clj
Due: back-end

Reset e2e workflow to the defaults
  .github/workflows/e2e-tests.yml
Due: none

fix function call
  src/metabase/models/field.clj
Due: back-end

Document Title and favicon updates for loading questions (#21425)
  frontend/src/metabase/dashboard/actions.js
  frontend/src/metabase/dashboard/containers/DashboardApp.jsx
  frontend/src/metabase/dashboard/reducers.js
  frontend/src/metabase/dashboard/reducers.unit.spec.js
  frontend/src/metabase/dashboard/selectors.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

fix redux console error (#21457)
  frontend/src/metabase/plugins/index.ts
Due: front-end

Merge `:google` driver into `:googleanalytics` (#21002)
  deps.edn
  modules/drivers/deps.edn
  modules/drivers/google/deps.edn
  modules/drivers/google/resources/metabase-plugin.yaml
  modules/drivers/googleanalytics/deps.edn
  modules/drivers/googleanalytics/resources/metabase-plugin.yaml
  modules/drivers/googleanalytics/src/metabase/driver/google.clj
  modules/drivers/googleanalytics/src/metabase/driver/googleanalytics.clj
  modules/drivers/googleanalytics/test/metabase/driver/google_test.clj
Due: none

Remove NOCOMMIT
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
Due: back-end

PR feedback
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
Due: back-end

Select schema
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.tsx
  frontend/src/metabase/home/homepage/containers/HomeXraySection/HomeXraySection.tsx
Due: front-end

[E2E] Fix 13455 flake (#21476)
  frontend/test/metabase/scenarios/question/settings.cy.spec.js
Due: front-end

Remove unnecessary steps from the `e2e` job
  .github/workflows/e2e-tests.yml
Due: none

Select schema
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.tsx
Due: front-end

Clean namespace
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
Due: back-end

fix test
  test/metabase/integrations/slack_test.clj
Due: none

Select schema
  frontend/src/metabase/home/homepage/components/HomeContent/HomeContent.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.tsx
Due: front-end

Errors saved into persisted_info
  resources/migrations/000_migrations.yaml
  src/metabase/driver/ddl/postgres.clj
Due: back-end

Select schema
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.tsx
Due: front-end

Select schema
  frontend/src/metabase/home/homepage/components/HomeXraySection/HomeXraySection.unit.spec.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
