Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Add tests
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/CurrentDatePicker.tsx
  frontend/src/metabase/querying/parameters/components/DateAllOptionsWidget/DateAllOptionsWidget.unit.spec.tsx
Due: front-end

Add tests
  frontend/src/metabase/querying/parameters/components/DateSingleWidget/DateSingleWidget.unit.spec.tsx
Due: front-end

Add tests
  frontend/src/metabase/querying/parameters/components/DateRangeWidget/DateRangeWidget.unit.spec.tsx
Due: front-end

Change label
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
  e2e/test/scenarios/question/native-query-drill.cy.spec.ts
  e2e/test/scenarios/visualizations-tabular/drillthroughs/table_drills.cy.spec.js
  frontend/src/metabase/querying/drills/utils/quick-filter-drill.tsx
Due: front-end

Update Loki Snapshots
  .loki/reference/chrome_laptop_Design_System_Overlays_Legacy_Modal_Can_Launch_Mantine_Modal.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Number.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Text_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_Search_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedQuestionView_Light_Theme_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedQuestionView_Transparent_Theme_Default.png
  .loki/reference/chrome_laptop_viz_SankeyChart_Sankey_Edge_Labels_Auto.png
  .loki/reference/chrome_laptop_viz_SankeyChart_Sankey_Node_Align_Justify.png
  .loki/reference/chrome_laptop_viz_SankeyChart_Sankey_Node_Align_Right.png
Due: none

Change size
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/RelativeDateShortcutPicker.tsx
Due: front-end

A test in JoinStep was flaking locally. Let's use findBy queries to avoid this
  frontend/src/metabase/querying/notebook/components/JoinStep/JoinStep.unit.spec.tsx
  frontend/test/__support__/ui.tsx
Due: front-end

Don't modify the waitForLoader function
  frontend/test/__support__/ui.tsx
Due: none

Update Loki snapshots for 2025 in x.51.x (#51780)
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Quarter_Year_Dropdown.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Quarter_Year_Dropdown.png
Due: none

Fix compare-aggregations drill for multi-stage queries (#51608)
  src/metabase/lib/drill_thru/compare_aggregations.cljc
  test/metabase/lib/drill_thru/compare_aggregations_test.cljc
Due: back-end

renamed people to ants
  test/metabase/actions_test.clj
Due: none

revert unintended change to cypress helper
  e2e/test/scenarios/admin/performance/helpers/e2e-strategy-form-helpers.ts
Due: none

Fix FormTextInput styling (#51721)
  frontend/src/metabase/forms/components/FormTextInput/FormTextInput.tsx
Due: front-end

Add backport resolution script
  backport.sh
Due: none

Fix compare-aggregations drill for multi-stage queries (#51608) (#51767)
  src/metabase/lib/drill_thru/compare_aggregations.cljc
  test/metabase/lib/drill_thru/compare_aggregations_test.cljc
Due: back-end

Trim dashboard tab names and replace with default if just whitespace
  frontend/src/metabase/dashboard/components/DashboardTabs/use-dashboard-tabs.ts
Due: front-end

Don't try to style tables ourselves
  src/metabase/cmd/endpoint_dox/markdown/schema.clj
Due: back-end

Update API dox
  docs/api-documentation.md
  docs/api/card.md
  docs/api/cards.md
  docs/api/collection.md
  docs/api/dashboard.md
  docs/api/database.md
  docs/api/search.md
  docs/api/user-key-value.md
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_Design_System_Overlays_Mantine_Modal_Can_Launch_Legacy_Select.png
  .loki/reference/chrome_laptop_Design_System_Overlays_Mantine_Popover_Can_Launch_Legacy_Tooltip.png
  .loki/reference/chrome_laptop_Parameters_DatePicker_Relative_Next.png
  .loki/reference/chrome_laptop_Parameters_DatePicker_Relative_Next_Dark_Theme.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Single.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Number.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Text_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_Search_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Text_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedQuestionView_Dark_Theme_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedQuestionView_Transparent_Theme_Default.png
  .loki/reference/chrome_laptop_viz_SankeyChart_Sankey_Node_Align_Justify.png
  .loki/reference/chrome_laptop_viz_SankeyChart_Sankey_Node_Align_Right.png
Due: none

Fix type checks
  frontend/src/metabase-lib/column_types.ts
  frontend/src/metabase-lib/v1/parameters/utils/click-behavior.ts
  frontend/src/metabase-lib/v1/parameters/utils/filters.ts
  frontend/src/metabase-lib/viz/display.ts
  frontend/src/metabase/query_builder/components/CompareAggregations/utils.ts
  src/metabase/lib/types/constants.cljc
  src/metabase/lib/types/isa.cljc
  test/metabase/lib/types/isa_test.cljc
Due: back-end, front-end

Fix type checks
  frontend/src/metabase-lib/viz/display.ts
Due: front-end

Fix lint errors
  src/metabase/api/macros.clj
  src/metabase/cmd/endpoint_dox/markdown/defendpoint.clj
  src/metabase/cmd/endpoint_dox/markdown/schema.clj
  src/metabase/cmd/endpoint_dox/metadata.clj
Due: back-end

Fix type checks
  frontend/src/metabase/query_builder/components/CompareAggregations/utils.ts
Due: front-end

Fix tests :wrench:
  test/metabase/cmd/endpoint_dox/markdown_test.clj
Due: none

Updated model/Setting capitalization
  src/metabase/models/setting/cache.clj
Due: back-end

Fix Kondo warnings
  src/metabase/cmd/endpoint_dox/markdown/generate.clj
Due: back-end

Remove disabled "compare-aggregations" drill
  frontend/src/metabase-lib/drills.ts
  frontend/src/metabase-lib/types.ts
Due: front-end

Convert aggregation order-bys to reference by index instead of uuid before hashing
  src/metabase/lib/schema/util.cljc
  src/metabase/query_processor/util.clj
  test/metabase/query_processor/util_test.clj
Due: back-end

Preemptive caching FE (#51684)
  e2e/test/scenarios/admin/performance/helpers/constants.ts
  e2e/test/scenarios/admin/performance/helpers/e2e-strategy-form-helpers.ts
  e2e/test/scenarios/admin/performance/strategyForm.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/cache/strategies.clj
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForDatabases.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForQuestionsAndDashboards/utils.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncher.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/caching/constants.ts
  frontend/src/metabase-types/api/mocks/performance.ts
  frontend/src/metabase-types/api/performance.ts
  frontend/src/metabase/admin/performance/components/StrategyForm.tsx
  frontend/src/metabase/admin/performance/components/test-utils.tsx
  resources/migrations/001_update_migrations.yaml
  src/metabase/models/cache_config.clj
  src/metabase/plugins/classloader.clj
  test/metabase/test/data.clj
Due: back-end, front-end

Remove disabled "compare-aggregations" drill
  frontend/src/metabase-lib/v1/parameters/utils/click-behavior.ts
  frontend/src/metabase-lib/v1/parameters/utils/filters.ts
  frontend/src/metabase-lib/viz/display.ts
  frontend/src/metabase/components/MetadataInfo/ColumnFingerprintInfo/ColumnFingerprintInfo.tsx
  src/metabase/lib/types/constants.cljc
  test/metabase/lib/types/isa_test.cljc
Due: back-end, front-end

Update API dox (#51795)
  docs/api-documentation.md
  docs/api/card.md
  docs/api/cards.md
  docs/api/collection.md
  docs/api/dashboard.md
  docs/api/database.md
  docs/api/search.md
  docs/api/user-key-value.md
Due: none

Fix the zoom-in.binning drill thru for multi-stage queries (#51489)
  frontend/src/metabase/visualizations/lib/table.js
  src/metabase/lib/drill_thru.cljc
  src/metabase/lib/drill_thru/automatic_insights.cljc
  src/metabase/lib/drill_thru/common.cljc
  src/metabase/lib/drill_thru/underlying_records.cljc
  src/metabase/lib/drill_thru/zoom_in_bins.cljc
  src/metabase/lib/drill_thru/zoom_in_timeseries.cljc
  src/metabase/lib/underlying.cljc
  test/metabase/lib/drill_thru/underlying_records_test.cljc
  test/metabase/lib/drill_thru/zoom_in_bins_test.cljc
  test/metabase/lib/underlying_test.cljc
Due: back-end, front-end

Fix the zoom-in.binning drill thru for multi-stage queries (#51489) (#51769)
  frontend/src/metabase/visualizations/lib/table.js
  src/metabase/lib/drill_thru.cljc
  src/metabase/lib/drill_thru/automatic_insights.cljc
  src/metabase/lib/drill_thru/common.cljc
  src/metabase/lib/drill_thru/underlying_records.cljc
  src/metabase/lib/drill_thru/zoom_in_bins.cljc
  src/metabase/lib/drill_thru/zoom_in_timeseries.cljc
  src/metabase/lib/underlying.cljc
  test/metabase/lib/drill_thru/underlying_records_test.cljc
  test/metabase/lib/drill_thru/zoom_in_bins_test.cljc
  test/metabase/lib/underlying_test.cljc
Due: back-end, front-end

Remove disabled "compare-aggregations" drill
  src/metabase/lib/types/constants.cljc
Due: back-end

Update OpenAPI dox generator to handle Defendpoint v2
  src/metabase/api/common.clj
  src/metabase/api/common/openapi.clj
  src/metabase/api/docs.clj
  src/metabase/api/macros.clj
  src/metabase/api/routes.clj
  src/metabase/server/routes.clj
  test/metabase/api/common/openapi_test.clj
Due: back-end

Update OpenAPI dox generator to handle Defendpoint v2
  src/metabase/api/common/openapi.clj
  src/metabase/api/docs.clj
  src/metabase/api/routes.clj
  test/metabase/api/common/openapi_test.clj
Due: back-end

When duplicating a dashboard, persist the :width setting
  src/metabase/api/dashboard.clj
Due: back-end

Update setting table name reference to :model/setting (#51783)
  src/metabase/models/setting/cache.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
