Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

only search in frontend and enterprise/frontend
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
Due: none

whitelist mantine css variables
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
Due: none

temporarily allow some css variables
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
Due: none

ci: find css variables that are used but never defined
  .github/workflows/frontend.yml
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
  bin/find-never-defined-css-variables/find-never-defined-css-variables.unit.spec.ts
  package.json
Due: none

read mantine variables directly from mantine css file
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
Due: none

[MANTINE] ci: find css variables that are used but never defined (#52947)
  .github/workflows/frontend.yml
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
  bin/find-never-defined-css-variables/find-never-defined-css-variables.unit.spec.ts
  package.json
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Light_Theme_No_Background_Scroll.png
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Component_Compatibility.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Dark_Theme_No_Background_Scroll.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Dark_Theme_Scroll.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Light_Theme_Scroll.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Text.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Text_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_Search.png
  .loki/reference/chrome_laptop_static_viz_WaterfallChart_Nulls.png
Due: none

More robust handling of search negation
  src/metabase/search/appdb/specialization/postgres.clj
  test/metabase/search/appdb/specializations/postgres_test.clj
Due: back-end

Better?
  src/metabase/search/appdb/specialization/postgres.clj
Due: back-end

fix(entity-id): don't call to the card endpoint if the entity id starts with digits (#52892) (#52970)
  e2e/test/scenarios/question/questions-entity-id.cy.spec.ts
  frontend/src/metabase/nav/containers/MainNavbar/getSelectedItems.ts
  frontend/src/metabase/routes.jsx
Due: front-end

fix(entity-id): show 404 for entity id that starts with digits
  e2e/test/scenarios/dashboard/dashboard.cy.spec.js
  e2e/test/scenarios/question/questions-entity-id.cy.spec.ts
  frontend/src/metabase/routes-stable-id-aware.tsx
Due: front-end

If the is_group_manager value is not passed to set-user-group-memberships, use the existing value
  enterprise/backend/src/metabase_enterprise/advanced_permissions/models/permissions/group_manager.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/group_manager_test.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/models/permissions/group_manager_test.clj
Due: back-end

Reuse getMappingOptionByTarget in `ParameterTarget` component (#52903) (#52971)
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/ParameterTargetWidget.jsx
  enterprise/frontend/src/metabase-enterprise/sandboxes/containers/QuestionParameterTargetWidget.jsx
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/actions.ts
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapper.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapperButton.tsx
  frontend/src/metabase/dashboard/components/DashCard/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/utils.unit.spec.ts
  frontend/src/metabase/parameters/components/ParameterTargetList.jsx
  frontend/src/metabase/parameters/utils/mapping-options.ts
  frontend/src/metabase/parameters/utils/mapping-options.unit.spec.js
Due: front-end

Backport "Reuse getMappingOptionByTarget in ParameterTarget component"
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/ParameterTargetWidget.jsx
  enterprise/frontend/src/metabase-enterprise/sandboxes/containers/QuestionParameterTargetWidget.jsx
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/actions.ts
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapper.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapperButton.tsx
  frontend/src/metabase/dashboard/components/DashCard/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/utils.unit.spec.ts
  frontend/src/metabase/parameters/components/ParameterTargetList.jsx
  frontend/src/metabase/parameters/utils/mapping-options.ts
  frontend/src/metabase/parameters/utils/mapping-options.unit.spec.js
Due: front-end

Only add views to dynamic datasets
  test/metabase/driver/sql_jdbc/sync/describe_table_test.clj
Due: none

Backport missing function
  frontend/src/metabase-types/guards/parameters.ts
Due: front-end

simplify logic by removing support for sequential ids with slugs for the tab
  e2e/test/scenarios/dashboard/dashboard.cy.spec.js
  frontend/src/metabase/routes-stable-id-aware.tsx
  frontend/src/metabase/routes.jsx
Due: front-end

tag model index search tests as flaky (#52969)
  e2e/test/scenarios/models/model-indexes.cy.spec.js
Due: none

Add standalone tests for the invite-user tool
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/invite_user_test.clj
Due: back-end

tag model index search tests as flaky (#52969) (#52981)
  e2e/test/scenarios/models/model-indexes.cy.spec.js
Due: none

Revert "enterprise only (#52151)"
  docs/embedding/sdk/introduction.md
Due: none

Fix format
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/invite_user_test.clj
Due: back-end

Backport "Reuse getMappingOptionByTarget in ParameterTarget component" (#52978)
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/ParameterTargetWidget.jsx
  enterprise/frontend/src/metabase-enterprise/sandboxes/containers/QuestionParameterTargetWidget.jsx
  frontend/src/metabase-types/guards/parameters.ts
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/actions.ts
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapper.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapperButton.tsx
  frontend/src/metabase/dashboard/components/DashCard/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/utils.unit.spec.ts
  frontend/src/metabase/parameters/components/ParameterTargetList.jsx
  frontend/src/metabase/parameters/utils/mapping-options.ts
  frontend/src/metabase/parameters/utils/mapping-options.unit.spec.js
Due: front-end

Upsell Better Support (#52955)
  frontend/src/metabase/admin/tasks/components/Help/Help.tsx
  frontend/src/metabase/admin/upsells/UpsellBetterSupport.tsx
  frontend/src/metabase/admin/upsells/index.ts
Due: front-end

Fix parameter popover width when the datepicker changes its width
  frontend/src/metabase/parameters/components/ParameterValueWidget.tsx
Due: front-end

Add upsell component for uploads
  frontend/src/metabase/admin/upsells/UpsellUploads.tsx
  frontend/src/metabase/admin/upsells/index.ts
Due: front-end

Implement upsell for uploads and storage
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettings.tsx
Due: front-end

Fix cljfmt spacing
  src/metabase/query_processor/streaming/xlsx.clj
Due: back-end

Revise wording about shared user accounts when using SDK
  docs/embedding/sdk/authentication.md
  docs/embedding/sdk/dashboards.md
  docs/embedding/sdk/introduction.md
Due: none

Will this work?
  src/metabase/api/open_api.clj
  src/metabase/api/routes.clj
  src/metabase/api/util/handlers.clj
Due: back-end

Add updated api.macros
  src/metabase/api/macros.clj
Due: back-end

Update docs/embedding/sdk/dashboards.md
  docs/embedding/sdk/dashboards.md
Due: none

Add missing file
  src/metabase/api/macros/defendpoint/open_api.clj
Due: back-end

fixup
  frontend/src/metabase/dev.js
  package.json
Due: front-end

Availability
  .tool-versions
  docs/embedding/sdk/appearance.md
  docs/embedding/sdk/collections.md
  docs/embedding/sdk/config.md
  docs/embedding/sdk/dashboards.md
  docs/embedding/sdk/next-js.md
  docs/embedding/sdk/plugins.md
  docs/embedding/sdk/questions.md
  docs/embedding/sdk/quickstart-cli.md
  docs/embedding/sdk/quickstart.md
  docs/embedding/sdk/version.md
Due: none

Test fix :wrench:
  src/metabase/api/open_api.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
