Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

airgap token check user creation fix (#66770)
  bin/mage.bb
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotQueryBuilder/MetabotQueryBuilder.module.css
  src/metabase/core/core.clj
  src/metabase/premium_features/core.clj
  src/metabase/premium_features/token_check.clj
  src/metabase/users/models/user.clj
  test/metabase/premium_features/token_check_test.clj
Due: back-end, front-end

Add e2e test
  e2e/test/scenarios/dashboard-cards/click-behavior-reproductions.cy.spec.ts
Due: none

QUE-418 fix hidden column check test (#67444)
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Disable nonworking email and URL extractions for BigQuery and 7 other broken drivers (#66982)
  docs/developers-guide/driver-changelog.md
  frontend/src/metabase-types/api/database.ts
  frontend/src/metabase/querying/expressions/config.ts
  modules/drivers/athena/src/metabase/driver/athena.clj
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  modules/drivers/clickhouse/src/metabase/driver/clickhouse.clj
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/presto-jdbc/src/metabase/driver/presto_jdbc.clj
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
  src/metabase/driver.clj
  src/metabase/driver/mysql.clj
  src/metabase/lib/drill_thru/column_extract.cljc
  src/metabase/lib/extraction.cljc
  test/metabase/lib/drill_thru/column_extract_test.cljc
  test/metabase/lib/extraction_test.cljc
  test/metabase/lib/filter/desugar/jvm_test.clj
  test/metabase/lib/test_metadata.cljc
  test/metabase/query_processor_test/string_extracts_test.clj
Due: back-end, front-end

Fix flaky pinned metrics e2e test (#67481)
  e2e/test/scenarios/metrics/metrics-editing.cy.spec.js
Due: none

draft some happy path tests
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/entity_details_test.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/filters_test.clj
Due: back-end

GDGT-1423 flaky test fix
  e2e/support/helpers/e2e-misc-helpers.js
  e2e/test/scenarios/actions/actions-reproductions.cy.spec.js
Due: none

fix selection
  e2e/test/scenarios/data-studio/data-model/datamodel-data-studio.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/SearchNew.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/TablePicker.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/TablePickerTreeTable.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/wrappers.tsx
  frontend/src/metabase/ui/components/data-display/TreeTable/TreeTable.tsx
  frontend/src/metabase/ui/components/data-display/TreeTable/TreeTableRow/TreeTableRow.tsx
  frontend/src/metabase/ui/components/data-display/TreeTable/hooks/useTreeTableInstance.ts
  frontend/src/metabase/ui/components/data-display/TreeTable/types.ts
Due: front-end

Fix flaky pinned metrics e2e test (#67481) (#67487)
  e2e/test/scenarios/metrics/metrics-editing.cy.spec.js
Due: none

more failures
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/TablePickerTreeTable.tsx
  frontend/src/metabase/ui/components/data-display/TreeTable/TreeTable.tsx
Due: front-end

Does this clause make it better?
  src/metabase/query_processor/middleware/wrap_value_literals.clj
Due: back-end

Don't show metrics in the join step
  e2e/test/scenarios/question-reproductions/reproductions.cy.spec.ts
  frontend/src/metabase/common/components/Pickers/DataPicker/components/DataPickerModal.tsx
Due: front-end

Remove parallel.
  test/metabase/driver/postgres_test.clj
Due: none

bump macaw for context stripping
  deps.edn
Due: none

Add tests for expand button
  frontend/src/metabase/data-grid/utils/columns/data-column.unit.spec.tsx
Due: front-end

Apply PieChartContainer classname to inner component
  frontend/src/metabase/visualizations/components/ChartWithLegend.tsx
  frontend/src/metabase/visualizations/visualizations/PieChart/PieChart.tsx
Due: front-end

GDGT-1423 flaky test fix
  e2e/test/scenarios/actions/actions-reproductions.cy.spec.js
Due: none

New test and fix for two literals
  src/metabase/query_processor/middleware/wrap_value_literals.clj
  test/metabase/query_processor/filter_test.clj
Due: back-end

Use collection in breadcrumbs for nested questions (#67154)
  e2e/support/helpers/e2e-bi-basics-helpers.js
  e2e/test/scenarios/joins/joins-reproductions.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions.cy.spec.ts
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/SourceQuestionBreadcrumbs.tsx
Due: front-end

GDGT-1423 flaky test fix
  e2e/support/helpers/e2e-misc-helpers.js
Due: none

Also test coerced datetime column
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
Due: none

Add Legend position setting for Cartesian charts
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/visualizations/components/legend/LegendItem.styled.tsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.styled.tsx
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/visualizations/CartesianChart/CartesianChart.tsx
  frontend/src/metabase/visualizations/visualizations/CartesianChart/chart-definition.ts
Due: front-end

Add e2e reproduction for opening the datetime filter for coerced fields
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
Due: none

Also check :effective-type in original-isa
  src/metabase/lib/util.cljc
Due: back-end

Apply field settings to parameter field widget (#67428)
  frontend/src/metabase-types/api/field.ts
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/ParameterFieldWidget.tsx
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/ParameterFieldWidget.unit.spec.tsx
Due: front-end

Fix flake in model test
  e2e/test/scenarios/models/reproductions.cy.spec.js
Due: none

Fix test
  test/metabase/lib/filter_test.cljc
Due: none

Apply field settings to parameter field widget (#67428) (#67497)
  frontend/src/metabase-types/api/field.ts
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/ParameterFieldWidget.tsx
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/ParameterFieldWidget.unit.spec.tsx
Due: front-end

Add broken test for build-matrix
  .github/scripts/build-e2e-matrix.unit.spec.js
Due: none

green ci
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/SearchNew.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/hooks/useExpandedState.ts
  frontend/src/metabase/ui/components/data-display/TreeTable/ExpandButton/ExpandButton.tsx
Due: front-end

test: improve testing logic for ExcludeDatePicker
  frontend/src/metabase/querying/filters/components/DatePicker/ExcludeDatePicker/ExcludeDatePicker.unit.spec.tsx
Due: front-end

internal: use specialized useSetting hook
  frontend/src/metabase/querying/filters/components/DatePicker/ExcludeDatePicker/ExcludeDatePicker.tsx
Due: front-end

Hide Data Permissions sections that are irrelevant to oss (#67354) (#67412)
  e2e/test/scenarios/permissions/admin-permissions.cy.spec.js
  frontend/src/metabase/admin/permissions/components/DataPermissionsHelp/DataPermissionsHelp.tsx
  frontend/src/metabase/admin/permissions/components/DataPermissionsHelp/DataPermissionsHelp.unit.spec.tsx
  frontend/src/metabase/admin/permissions/components/PermissionHelpDescription/PermissionHelpDescription.tsx
  frontend/src/metabase/admin/permissions/constants/messages.ts
Due: front-end

Remove embedding subscriptions email links (#67181)
  e2e/test-component/scenarios/embedding-sdk/editable-dashboard.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/interactive-dashboard.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/static-dashboard.cy.spec.tsx
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
  resources/migrations/058_update_migrations.yaml
  src/metabase/embedding/util.clj
  src/metabase/pulse/api/pulse.clj
  src/metabase/pulse/models/pulse.clj
  test/metabase/pulse/api/pulse_test.clj
  test/metabase/pulse/dashboard_subscription_test.clj
  test/metabase/pulse/models/pulse_test.clj
Due: back-end

Add transforms.target_database_id column (#66953)
  enterprise/backend/src/metabase_enterprise/transforms/models/transform.clj
  enterprise/backend/src/metabase_enterprise/transforms/query_impl.clj
  enterprise/backend/src/metabase_enterprise/transforms_python/impl.clj
  enterprise/backend/test/metabase_enterprise/transforms/api_test.clj
  enterprise/backend/test/metabase_enterprise/transforms/models_test.clj
  enterprise/backend/test/metabase_enterprise/transforms_python/ordering_test.clj
  resources/migrations/058_update_migrations.yaml
  src/metabase/app_db/custom_migrations.clj
  test/metabase/app_db/custom_migrations_test.clj
  test/metabase/test/util.clj
Due: back-end
