Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

fix type
  frontend/test/__support__/server-mocks/session.ts
Due: none

stupid me
  frontend/src/metabase/admin/settings/components/widgets/AdminSettingInput.tsx
Due: front-end

stupid typescript
  frontend/src/metabase/admin/settings/components/widgets/AdminSettingInput.tsx
Due: front-end

Rewrite General Settings Settings Page
  frontend/src/metabase/admin/settings/selectors/selectors.js
Due: front-end

remove rage comments 😁
  frontend/src/metabase/admin/settings/selectors/selectors.js
Due: front-end

localized strings in query builder
  frontend/src/metabase/common/components/QueryColumnPicker/QueryColumnPicker.tsx
  frontend/src/metabase/querying/notebook/components/BreakoutStep/BreakoutStep.tsx
  frontend/src/metabase/querying/notebook/components/ClauseStep/ClauseStep.tsx
  frontend/src/metabase/querying/notebook/components/SortStep/SortStep.tsx
  frontend/src/metabase/querying/segments/components/SegmentEditor/FilterStep/FilterStep.tsx
Due: front-end

Refactor Upload Settings to use RTK + Mantine
  enterprise/frontend/src/metabase-enterprise/upload_management/UploadManagementTable.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/UploadSettingsPage.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSetting.styled.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettingsForm.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettingsForm.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/index.ts
  frontend/src/metabase/admin/settings/components/UploadSettings/utils.ts
  frontend/src/metabase/admin/settings/components/UploadSettings/utils.unit.spec.ts
  frontend/src/metabase/admin/settings/selectors/selectors.js
Due: front-end

use confirm modal component
  enterprise/frontend/src/metabase-enterprise/upload_management/DeleteConfirmModal.tsx
Due: front-end

PoC
  frontend/src/metabase/querying/filters/components/FilterValuePicker/FilterValuePicker.tsx
  frontend/src/metabase/querying/filters/components/FilterValuePicker/FilterValuePicker.unit.spec.tsx
Due: front-end

parens
  enterprise/frontend/src/metabase-enterprise/upload_management/DeleteConfirmModal.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettingsForm.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/utils.ts
  frontend/src/metabase/admin/settings/components/UploadSettings/utils.unit.spec.ts
Due: front-end

update e2e test
  e2e/test/scenarios/collections/uploads.cy.spec.js
Due: none

PoC
  frontend/src/metabase/parameters/components/widgets/NumberInputWidget/NumberInputWidget.tsx
Due: front-end

PoC
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/use-multi-autocomplete.ts
Due: front-end

Add explicit CAST when compiling string literal expressions in H2 driver (#55920)
  e2e/test/scenarios/custom-column/cc-literals.cy.spec.ts
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  frontend/src/metabase-lib/v1/expressions/__support__/expressions.ts
  frontend/src/metabase-lib/v1/expressions/compiler.unit.spec.ts
  frontend/src/metabase-lib/v1/expressions/matchers.ts
  frontend/src/metabase-lib/v1/expressions/passes.ts
  frontend/src/metabase-types/api/mocks/database.ts
  src/metabase/driver/h2.clj
  src/metabase/legacy_mbql/normalize.cljc
  test/metabase/legacy_mbql/normalize_test.cljc
  test/metabase/lib/convert_test.cljc
  test/metabase/lib/expression_test.cljc
  test/metabase/lib/js_test.cljs
  test/metabase/lib/test_metadata.cljc
  test/metabase/query_processor_test/expression_aggregations_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Due: back-end, front-end

Add e2e test to ensure that sandboxing on literal custom column fails closed
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Due: none

Review feedback: dedup CustomColumnType definition
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Due: none

Use lib.metadata/database-supports? to check for database :features
  src/metabase/lib/aggregation.cljc
  src/metabase/lib/extraction.cljc
  src/metabase/lib/field.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/metadata.cljc
  src/metabase/lib/native.cljc
  test/metabase/lib/aggregation_test.cljc
  test/metabase/lib/field_test.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/metadata_test.cljc
  test/metabase/lib/native_test.cljc
Due: back-end

Fix issues with duplicated columns
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/EditTableDataContainer.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/inputs/EditingBodyCellFKSelect.tsx
Due: front-end

PoC
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/use-multi-autocomplete.ts
Due: front-end

add additional fields to payload for create-release-issues (#55956)
  .github/workflows/release.yml
Due: none

Fix issues with duplicated columns (#56243)
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/EditTableDataContainer.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/inputs/EditingBodyCellFKSelect.tsx
Due: front-end

fix: make saml issuer identity required in FE (#56154) (#56224)
  e2e/test/scenarios/admin-2/sso/saml.cy.spec.js
  e2e/test/scenarios/admin-2/sso/shared/helpers.js
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsSAMLForm/SettingsSAMLForm.jsx
Due: front-end

Convert a couple more tests to use meta/updated-metadata-provider
  test/metabase/lib/expression_test.cljc
  test/metabase/lib/native_test.cljc
Due: none

localize categorical strings in more places
  enterprise/frontend/src/metabase-enterprise/sandboxes/containers/QuestionParameterTargetWidget.jsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapper.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapperButton.tsx
  frontend/src/metabase/parameters/components/ParameterTargetList.jsx
  frontend/src/metabase/parameters/utils/mapping-options.ts
  frontend/src/metabase/querying/filters/components/FilterValuePicker/ListValuePicker/ListValuePicker.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingOrderedItems/ChartSettingOrderedItems.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingTableColumns/TableColumnPanel/TableColumnPanel.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingTableColumns/TableColumnPanel/utils.ts
  frontend/src/metabase/visualizations/echarts/cartesian/option/axis.ts
  frontend/src/metabase/visualizations/echarts/cartesian/option/index.ts
  frontend/src/metabase/visualizations/visualizations/CartesianChart/CartesianChart.tsx
  frontend/src/metabase/visualizations/visualizations/CartesianChart/use-models-and-option.ts
  src/metabase/lib/metadata/calculation.cljc
Due: back-end, front-end

feat: extend AccordionList with keyboard support to use it in lang selector
  frontend/src/metabase/admin/settings/selectors/selectors.js
  frontend/src/metabase/core/components/AccordionList/AccordionList.jsx
Due: front-end

test: wait for data in a flaky test
  e2e/test/scenarios/native/native.cy.spec.js
Due: none

one more check
  e2e/test/scenarios/native/native.cy.spec.js
Due: none

fix: make saml issuer identity required in FE (#56154) (#56225)
  e2e/test/scenarios/admin-2/sso/saml.cy.spec.js
  e2e/test/scenarios/admin-2/sso/shared/helpers.js
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsSAMLForm/SettingsSAMLForm.jsx
Due: front-end

validate with repro
  modules/drivers/athena/src/metabase/driver/athena.clj
Due: none

skip tooltip loki specs
  frontend/src/metabase/visualizations/components/ChartTooltip/EChartsTooltip/EChartsTooltip.stories.tsx
Due: front-end

specify catalog to avoid permissions error
  modules/drivers/athena/test/metabase/test/data/athena.clj
Due: none

Fixing static viz for visualizer cards with multiple dimensions
  frontend/src/metabase/static-viz/index.js
Due: front-end

Temp
  frontend/src/metabase/dashboard/actions/core.ts
  frontend/src/metabase/dashboard/components/ConfigureEditableTableSidebar.tsx
  frontend/src/metabase/dashboard/reducers-typed.ts
Due: front-end

skip tooltip loki specs (#56250)
  frontend/src/metabase/visualizations/components/ChartTooltip/EChartsTooltip/EChartsTooltip.stories.tsx
Due: front-end

Add e2e test to ensure that sandboxing on literal custom column fails closed (#56190)
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Due: none

Add explicit CAST when compiling string literal expressions in H2 driver (#55920)
  e2e/test/scenarios/custom-column/cc-literals.cy.spec.ts
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  frontend/src/metabase-lib/v1/expressions/compiler.unit.spec.ts
  frontend/src/metabase-lib/v1/expressions/matchers.ts
  frontend/src/metabase-lib/v1/expressions/passes.ts
  frontend/src/metabase-types/api/mocks/database.ts
  src/metabase/driver/h2.clj
  src/metabase/legacy_mbql/normalize.cljc
  test/metabase/legacy_mbql/normalize_test.cljc
  test/metabase/lib/convert_test.cljc
  test/metabase/lib/expression_test.cljc
  test/metabase/lib/js_test.cljs
  test/metabase/lib/test_metadata.cljc
  test/metabase/query_processor_test/expression_aggregations_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Due: back-end, front-end

Use lib.metadata/database-supports? to check for database :features (#56114)
  src/metabase/lib/aggregation.cljc
  src/metabase/lib/extraction.cljc
  src/metabase/lib/field.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/metadata.cljc
  src/metabase/lib/native.cljc
  test/metabase/lib/aggregation_test.cljc
  test/metabase/lib/expression_test.cljc
  test/metabase/lib/field_test.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/metadata_test.cljc
  test/metabase/lib/native_test.cljc
Due: back-end
