Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Update test name
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Handle error when creating dashboard
  frontend/src/metabase/dashboard/containers/CreateDashboardForm.tsx
Due: front-end

Refactor
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Add repro for metabase#63176
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
Due: none

Fix types
  e2e/support/helpers/api/createComment.ts
Due: none

update is not deleted eh
  frontend/src/metabase-types/api/comments.ts
Due: front-end

Add test for the comment button
  e2e/support/helpers/api/index.ts
  e2e/support/helpers/api/updateComment.ts
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Add test
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Remove `driver/set-use-database` in favour of setting the DB in the jdbc spec (#63047)
  enterprise/backend/test/metabase_enterprise/impersonation/driver_test.clj
  modules/drivers/snowflake/resources/metabase-plugin.yaml
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
  src/metabase/driver.clj
  src/metabase/driver/sql_jdbc/execute.clj
Due: back-end

fix
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  src/metabase/driver.clj
Due: back-end

FIx naming
  .github/scripts/extract-changed-timings.js
  .github/workflows/e2e-test.yml
Due: none

Adjust 'Check Host and Port settings' button / Fix css lint
  frontend/src/metabase/css/core/colors.module.css
  frontend/src/metabase/databases/components/DatabaseForm/DatabaseFormBody.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/CheckHostAndPortButton.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/CheckHostAndPortButton.unit.spec.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/DatabaseFormError.module.css
  frontend/src/metabase/databases/components/DatabaseFormError/DatabaseFormError.unit.spec.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/useTroubleshootingTips.tsx
Due: front-end

note on custom expressions
  docs/ai/metabot.md
Due: none

Add a test
  e2e/support/helpers/e2e-document-helpers.ts
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Fix test
  frontend/src/metabase/databases/components/DatabaseFormError/ContactSupportButtonSection.unit.spec.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/test-utils/TestFormErrorProvider.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/useTroubleshootingTips.tsx
  frontend/src/metabase/databases/components/DatabaseFormError/useTroubleshootingTips.unit.spec.tsx
  frontend/src/metabase/databases/components/DatabaseNameField/DatabaseNameField.tsx
Due: front-end

Flaky test
  e2e/test/scenarios/admin/transforms.cy.spec.ts
Due: none

test: basic resolve/unresolve tests
  e2e/support/helpers/e2e-comment-helpers.ts
  e2e/test/scenarios/documents/comments.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/comments/components/Discussion/DiscussionActionPanel.tsx
  enterprise/frontend/src/metabase-enterprise/comments/components/Discussion/DiscussionComment.tsx
  enterprise/frontend/src/metabase-enterprise/documents/components/CommentsSidesheet/CommentsSidesheet.tsx
Due: front-end

test: basic resolve/unresolve tests (#63243)
  e2e/support/helpers/e2e-comment-helpers.ts
  e2e/test/scenarios/documents/comments.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/comments/components/Discussion/DiscussionActionPanel.tsx
  enterprise/frontend/src/metabase-enterprise/comments/components/Discussion/DiscussionComment.tsx
  enterprise/frontend/src/metabase-enterprise/documents/components/CommentsSidesheet/CommentsSidesheet.tsx
Due: front-end

WIP
  src/metabase/sync/sync_metadata/fks.clj
Due: back-end

Fix empty ResizeNode after card dnd
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/hooks/useCardEmbedDnD.tsx
Due: front-end

test: add resolve other person thread test
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

handle dbrefs properly
  modules/drivers/mongo/src/metabase/driver/mongo/execute.clj
  modules/drivers/mongo/test/metabase/driver/mongo_test.clj
Due: none

Add test for disabling document editing when comments are open
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Add test for show all comments button and fix the issue
  e2e/test/scenarios/documents/comments.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/documents/components/DocumentHeader.tsx
Due: front-end

Add test for unsaved document changes
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

Add tests for deleting/editing other people's comments
  e2e/test/scenarios/documents/comments.cy.spec.ts
Due: none

add tests and polishing
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
  enterprise/backend/src/metabase_enterprise/transforms/util.clj
  enterprise/backend/test/metabase_enterprise/transforms/execute_test.clj
  src/metabase/driver/sql_jdbc.clj
Due: back-end

Table swapping instead of delete then create
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
  enterprise/backend/src/metabase_enterprise/transforms/util.clj
  src/metabase/driver.clj
  src/metabase/driver/sql_jdbc.clj
Due: back-end

feat(library): working load directly from files
  enterprise/backend/src/metabase_enterprise/library/api.clj
  enterprise/backend/src/metabase_enterprise/library/core.clj
  enterprise/backend/src/metabase_enterprise/mbml/core.clj
  enterprise/backend/src/metabase_enterprise/mbml/schema.clj
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
  enterprise/backend/src/metabase_enterprise/transforms/models/transform.clj
  enterprise/backend/test/metabase_enterprise/library/core_test.clj
  enterprise/backend/test/metabase_enterprise/mbml/core_test.clj
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/TransformPage.tsx
  resources/migrations/057_update_migrations.yaml
Due: back-end, front-end

try switching out table name generation
  enterprise/backend/src/metabase_enterprise/semantic_search/repair.clj
Due: back-end

proper transform ordering
  enterprise/backend/src/metabase_enterprise/transforms/ordering.clj
  enterprise/backend/test/metabase_enterprise/transforms/ordering_test.clj
Due: back-end

test: refactor datetime table editing tests (#63239)
  e2e/test/scenarios/table-editing/table-editing.cy.spec.ts
Due: none

handle dbrefs properly (#63244)
  modules/drivers/mongo/src/metabase/driver/mongo/execute.clj
  modules/drivers/mongo/test/metabase/driver/mongo_test.clj
Due: none

remove use database from snowflake transforms (#63199)
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
Due: none

disable vertica tests
  .github/workflows/drivers-stress-test.yml
  .github/workflows/drivers.yml
Due: none

note on custom expressions (#63249)
  docs/ai/metabot.md
Due: none
