Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Hide dimensions and filters without access in the metric explorer (#71692)
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/sandbox/api/metric.clj
  enterprise/backend/test/metabase_enterprise/sandbox/api/metric_test.clj
  src/metabase/measures/api.clj
  src/metabase/metrics/api.clj
  src/metabase/metrics/core.clj
  src/metabase/metrics/permissions.clj
  test/metabase/metrics/permissions_test.clj
Due: back-end

🤖 backported "Update translations 2026-04-01" (#71946)
  e2e/test-component/scenarios/embedding-sdk/content-translations.cy.spec.tsx
  locales/ar-SA.po
  locales/ar.po
  locales/bg.po
  locales/ca.po
  locales/cs.po
  locales/da.po
  locales/de.po
  locales/es.po
  locales/fa.po
  locales/fi.po
  locales/fr.po
  locales/he.po
  locales/hu.po
  locales/id.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/lv.po
  locales/metabase.po
  locales/ms.po
  locales/nb.po
  locales/nl.po
  locales/pl.po
  locales/pt-BR.po
  locales/ru.po
  locales/sk.po
  locales/sl.po
  locales/sq.po
  locales/sr.po
  locales/sv.po
  locales/tr.po
  locales/uk.po
  locales/vi.po
  locales/zh-CN.po
  locales/zh-HK.po
  locales/zh-TW.po
Due: none

v60 viz improvements
  docs/questions/images/freeze-columns.png
  docs/questions/images/stacked-scatter.png
  docs/questions/images/stacked-series-mix.png
  docs/questions/images/stacked-series.png
  docs/questions/visualizations/line-bar-and-area-charts.md
  docs/questions/visualizations/scatterplot-or-bubble-chart.md
  docs/questions/visualizations/table.md
Due: none

Optimized 4 images, saved 715.3 KB (43.9% smaller)
  docs/questions/images/freeze-columns.png
  docs/questions/images/stacked-scatter.png
  docs/questions/images/stacked-series-mix.png
  docs/questions/images/stacked-series.png
Due: none

Fix CI failures: MySQL returns 0/1 for boolean CASE, not true/false
  enterprise/backend/test/metabase_enterprise/audit_app/analytics_dev_test.clj
  test/metabase/query_processor/api_test.clj
  test/metabase/view_log/events/view_log_test.clj
Due: back-end

fix e2e tests
  e2e/support/helpers/e2e-metrics-viewer-helpers.ts
  e2e/test/scenarios/metrics/metrics-explorer.cy.spec.ts
  frontend/src/metabase/metrics-viewer/components/BreakoutLegend/BreakoutLegend.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricExpressionPill/MetricExpressionPill.tsx
Due: front-end

edits
  docs/questions/metrics-explorer.md
Due: none

docs: metrics (#71778)
  docs/data-modeling/images/entity-picker-metrics-tab.png
  docs/data-modeling/images/formula.png
  docs/data-modeling/images/metric-definition.png
  docs/data-modeling/images/metric-explorer.png
  docs/data-modeling/images/metric.png
  docs/data-modeling/images/metrics-built-on-other-metrics.png
  docs/data-modeling/images/use-metric-in-qb.png
  docs/data-modeling/metrics.md
  docs/data-studio/data-structure.md
  docs/questions/images/break-out-metric.png
  docs/questions/images/breakout-chart-explorer.png
  docs/questions/images/compare-metrics.png
  docs/questions/images/filtered-metric.png
  docs/questions/images/metrics-explorer.png
  docs/questions/images/pick-first-dimension.png
  docs/questions/images/pick-second-dimension.png
  docs/questions/images/two-metrics.png
  docs/questions/metrics-explorer.md
  docs/questions/start.md
Due: none

Auto-update documentation for master (#71949)
  docs/api.json
  docs/configuring-metabase/config-template.md
  docs/configuring-metabase/environment-variables.md
Due: none

compute result metadata for processing:
  enterprise/backend/src/metabase_enterprise/checker/semantic.clj
  enterprise/backend/test/metabase_enterprise/checker/semantic_test.clj
Due: back-end

🤖 backported "docs: metrics" (#71953)
  docs/data-modeling/images/entity-picker-metrics-tab.png
  docs/data-modeling/images/formula.png
  docs/data-modeling/images/metric-definition.png
  docs/data-modeling/images/metric-explorer.png
  docs/data-modeling/images/metric.png
  docs/data-modeling/images/metrics-built-on-other-metrics.png
  docs/data-modeling/images/use-metric-in-qb.png
  docs/data-modeling/metrics.md
  docs/data-studio/data-structure.md
  docs/questions/images/break-out-metric.png
  docs/questions/images/breakout-chart-explorer.png
  docs/questions/images/compare-metrics.png
  docs/questions/images/filtered-metric.png
  docs/questions/images/metrics-explorer.png
  docs/questions/images/pick-first-dimension.png
  docs/questions/images/pick-second-dimension.png
  docs/questions/images/two-metrics.png
  docs/questions/metrics-explorer.md
  docs/questions/start.md
Due: none

Polish tests
  e2e/test/scenarios/metabot/ai-controls.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsSettingsSection.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsTab.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/TenantLimitsTab.tsx
Due: front-end

migration works with mysql8
  dev/docker-compose.yml
Due: none

extending the task history table with column
  resources/migrations/001_update_migrations.yaml
Due: none

no MySQL8 image for docker compose in this track
  dev/docker-compose.yml
Due: none

Replaced explicit parent ID threading with *parent-task-id* dynamic var
  src/metabase/notification/send.clj
  src/metabase/sync/util.clj
  src/metabase/task_history/models/task_history.clj
  test/metabase/notification/send_test.clj
Due: back-end

Proper name for parent ID column
  resources/migrations/001_update_migrations.yaml
  src/metabase/notification/send.clj
  src/metabase/sync/util.clj
  src/metabase/task_history/models/task_history.clj
  test/metabase/sync/util_test.clj
Due: back-end

Switched to namespace-level :db fixture in sync util tests
  test/metabase/sync/util_test.clj
Due: none

inserting parents' name in the step record
  src/metabase/sync/util.clj
  src/metabase/task_history/models/task_history.clj
  test/metabase/sync/util_test.clj
Due: back-end

Track nested task history with parent IDs (#42943)
  resources/migrations/001_update_migrations.yaml
  src/metabase/notification/send.clj
  src/metabase/sync/util.clj
  src/metabase/task_history/models/task_history.clj
  test/metabase/notification/send_test.clj
  test/metabase/sync/util_test.clj
Due: back-end

Fix e2e tests
  e2e/test/scenarios/metabot/ai-controls.cy.spec.ts
Due: none

Match MySQL view SQL to Postgres/H2: use TRUE/FALSE not 1/0
  resources/migrations/instance_analytics_views/query_log/v5/mysql-query_log.sql
  resources/migrations/instance_analytics_views/view_log/v4/mysql-view_log.sql
Due: none

Remove MySQL boolean workarounds now that views use bit literals
  enterprise/backend/test/metabase_enterprise/audit_app/analytics_dev_test.clj
  test/metabase/view_log/events/view_log_test.clj
Due: back-end

🤖 backported "Hide dimensions and filters without access in the metric explorer" (#71951)
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/sandbox/api/metric.clj
  enterprise/backend/test/metabase_enterprise/sandbox/api/metric_test.clj
  src/metabase/measures/api.clj
  src/metabase/metrics/api.clj
  src/metabase/metrics/core.clj
  src/metabase/metrics/permissions.clj
  test/metabase/metrics/permissions_test.clj
Due: back-end

🤖 backported "Fix notification send test retry config key (:max-attempts → :max-retries)" (#71730)
  test/metabase/notification/send_test.clj
Due: none

Add e2e tests
  e2e/test/scenarios/metrics/metrics-explorer.cy.spec.ts
  frontend/src/metabase/metrics-viewer/components/DimensionPillBar/ExpressionDimensionPill.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/MetricSearchInput.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/hooks/use-viewer-state.ts
Due: front-end

Implement table privileges support for SQLite.
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
  modules/drivers/sqlite/test/metabase/driver/sqlite_test.clj
Due: none

Fix bug on custom quota-reached message input
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GeneralLimitsSettingsSection.tsx
Due: front-end

Add option for striped rows in data grid
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.module.css
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.tsx
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.unit.spec.tsx
Due: front-end

Pass striped option to row
  frontend/src/metabase/data-grid/components/DataGridRow/DataGridRow.tsx
Due: front-end

Pass striped option to DataGrid
  frontend/src/metabase/visualizations/components/TableInteractive/TableInteractive.tsx
Due: front-end

Add striped optoin to table configuration
  frontend/src/metabase/visualizations/visualizations/Table/Table.tsx
  frontend/src/metabase/visualizations/visualizations/Table/Table.unit.spec.tsx
Due: front-end

Add to storybook
  frontend/src/metabase/visualizations/visualizations/Table/Table.stories.tsx
Due: front-end

🤖 backported "fix unnecessary data grid row remounting" (#71933)
  e2e/test/scenarios/visualizations-tabular/table.cy.spec.js
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.tsx
  frontend/src/metabase/data-grid/components/DataGridRow/DataGridRow.tsx
Due: front-end

Refactor
  frontend/src/metabase/metrics-viewer/hooks/use-metrics-viewer.ts
  frontend/src/metabase/metrics-viewer/hooks/use-viewer-state.ts
  frontend/src/metabase/metrics-viewer/types/viewer-state.ts
  frontend/src/metabase/metrics-viewer/utils/tabs.ts
Due: front-end

Block database routing when transforms already exist (#71931)
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/database_routing/api.clj
  enterprise/backend/test/metabase_enterprise/database_routing/api_test.clj
  enterprise/frontend/src/metabase-enterprise/database_routing/DatabaseRoutingSection/DatabaseRoutingSection.tsx
  enterprise/frontend/src/metabase-enterprise/database_routing/DatabaseRoutingSection/DatabaseRoutingSection.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/database_routing/DatabaseRoutingSection/utils.tsx
  frontend/src/metabase-types/api/transform.ts
  src/metabase/transforms/crud.clj
Due: back-end, front-end

Search memory improvements: - Introduced streaming-reducible-query - sooner encoding of json strings into json - improved indexed-entity query
  dev/src/dev/search_perf.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  src/metabase/app_db/core.clj
  src/metabase/app_db/query.clj
  src/metabase/search/appdb/index.clj
  src/metabase/search/in_place/legacy.clj
  src/metabase/search/ingestion.clj
Due: back-end

Fix issues with auto-saving and debounced requests
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotCustomizationPage/MetabotCustomizationPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/AiFeatureAccessTable.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/GroupPermissionRow.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/utils.ts
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotSystemPromptsPage/hooks/useSystemPromptInput.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
