Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

BE: cascade delete (#58559)
  enterprise/backend/src/metabase_enterprise/data_editing/api.clj
  enterprise/backend/src/metabase_enterprise/data_editing/data_editing.clj
  enterprise/backend/test/metabase_enterprise/data_editing/api_test.clj
  src/metabase/actions/core.clj
  src/metabase/actions/foreign_keys.clj
  src/metabase/driver/h2/actions.clj
  src/metabase/driver/mysql/actions.clj
  src/metabase/driver/postgres/actions.clj
  src/metabase/driver/sql_jdbc/actions.clj
  test/metabase/actions/actions_test.clj
  test/metabase/actions/foreign_keys_test.clj
  test/metabase/actions/test_util.clj
  test/metabase/driver/sql_jdbc/actions_test.clj
Due: back-end

Cleanup
  frontend/src/metabase/metadata/components/FkTargetPicker/FkTargetPicker.tsx
  frontend/src/metabase/metadata/components/NameDescriptionInput/NameDescriptionInput.tsx
  frontend/src/metabase/metadata/components/SemanticTypeAndTargetPicker/SemanticTypeAndTargetPicker.tsx
  frontend/src/metabase/metadata/components/SortableField/SortableField.tsx
  frontend/src/metabase/metadata/pages/DataModel/DataModel.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/FieldSection/DataSection/DataSection.module.css
  frontend/src/metabase/metadata/pages/DataModel/components/FieldSection/DataSection/DataSection.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/FieldSection/DataSection/illustrations/sub-input-follow.svg
  frontend/src/metabase/metadata/pages/DataModel/components/FieldSection/DataSection/illustrations/sub-input.svg
  frontend/src/metabase/metadata/pages/DataModel/components/FieldSection/DataSection/index.ts
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/Error.module.css
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/Error.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/Error/Error.module.css
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/Error/Error.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/Error/index.ts
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/ObjectDetailPreview.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/PreviewSection.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/PreviewSection.unit.spec.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/TablePreview.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/index.ts
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/types.ts
  frontend/src/metabase/metadata/pages/DataModel/components/PreviewSection/utils.ts
  frontend/src/metabase/metadata/pages/DataModel/components/SectionPill/SectionPill.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Results.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TablePicker.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TableVisibilityToggle.tsx
Due: front-end

Fix uncontrolled/controller input react warning
  frontend/src/metabase/ui/components/inputs/TextInputBlurChange/TextInputBlurChange.tsx
  frontend/src/metabase/ui/components/inputs/TextareaBlurChange/TextareaBlurChange.tsx
Due: front-end

Remove isPreferredAuthMethod from tests since its not necessary
  enterprise/frontend/src/embedding-sdk/hooks/private/use-init-data/test/specify-auth-method.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/test/mocks/sso.ts
Due: front-end

Introduce the option to add data from the sidebar via "Add data" modal (#58408)
  e2e/test/scenarios/onboarding/add-initial-data.cy.spec.ts
  frontend/src/metabase-types/analytics/event.ts
  frontend/src/metabase/admin/databases/containers/DatabaseConnectionModal.tsx
  frontend/src/metabase/databases/components/DatabaseEngineList/DatabaseEngineList.module.css
  frontend/src/metabase/databases/components/DatabaseEngineList/DatabaseEngineList.tsx
  frontend/src/metabase/databases/components/DatabaseEngineList/DatabaseEngineList.unit.spec.tsx
  frontend/src/metabase/databases/components/DatabaseEngineList/index.ts
  frontend/src/metabase/databases/components/DatabaseForm/DatabaseForm.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/AddDataModal.module.css
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/AddDataModal.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/AddDataModal.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/Panels/DatabasesPanel.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/Panels/PanelsHeader.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/analytics.ts
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/AddDataModal/index.ts
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/BrowseNavSection.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/BrowseNavSection.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/GettingStartedSection.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/GettingStartedSection.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/AddDatabase.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/analytics.ts
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/index.tsx
  frontend/src/metabase/nav/containers/MainNavbar/analytics.ts
  frontend/src/metabase/nav/containers/MainNavbar/tests/common.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/premium-dwh.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/premium-whitelabel.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/premium.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/setup.tsx
  resources/frontend_client/app/assets/img/empty-states/databases.svg
Due: front-end

Add explanatory tooltips for disabled options
  frontend/src/metabase/metadata/components/RemappingPicker/DisplayValuesPicker/DisplayValuesPicker.module.css
  frontend/src/metabase/metadata/components/RemappingPicker/DisplayValuesPicker/DisplayValuesPicker.tsx
Due: front-end

Fix 1px of background leaking into view
  frontend/src/metabase/metadata/components/RemappingPicker/DisplayValuesPicker/DisplayValuesPicker.module.css
Due: front-end

fix currency formatting bug (#58733)
  frontend/src/metabase/admin/settings/components/widgets/FormattingWidget.tsx
  frontend/src/metabase/admin/settings/components/widgets/FormattingWidget.unit.spec.tsx
  frontend/src/metabase/lib/formatting/currency.js
  frontend/src/metabase/lib/formatting/currency.unit.spec.js
Due: front-end

Add missing memoization
  frontend/src/metabase/metadata/components/RemappingPicker/RemappingPicker.tsx
Due: front-end

Reset state when cancelling
  frontend/src/metabase/metadata/components/RemappingPicker/CustomMappingModal/CustomMappingModal.tsx
Due: front-end

Define the number of engines in a constant
  frontend/src/metabase/databases/components/DatabaseEngineList/DatabaseEngineList.tsx
  frontend/src/metabase/databases/components/DatabaseEngineList/DatabaseEngineList.unit.spec.tsx
  frontend/src/metabase/databases/constants.tsx
Due: front-end

test: wait for card data in a flaky test (#58778)
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Improve callback naming
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
Due: front-end

Use t-shirt sizing
  frontend/src/metabase/databases/components/DatabaseEngineList/DatabaseEngineList.tsx
Due: front-end

fix currency formatting bug (#58733) (#58782)
  frontend/src/metabase/admin/settings/components/widgets/FormattingWidget.tsx
  frontend/src/metabase/admin/settings/components/widgets/FormattingWidget.unit.spec.tsx
  frontend/src/metabase/lib/formatting/currency.js
  frontend/src/metabase/lib/formatting/currency.unit.spec.js
Due: front-end

undoable
  enterprise/backend/src/metabase_enterprise/data_editing/actions.clj
  enterprise/backend/src/metabase_enterprise/data_editing/data_editing.clj
  enterprise/backend/src/metabase_enterprise/data_editing/models/undo.clj
  enterprise/backend/test/metabase_enterprise/data_editing/models/undo_test.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/driver/sql_jdbc/actions.clj
Due: back-end

fix two more flaky tests
  test/metabase/parameters/custom_values_test.clj
  test/metabase/premium_features/token_check_test.clj
Due: none

Fix a flaky test for max-refingerprint-field-count
  test/metabase/sync/analyze/fingerprint_test.clj
Due: none

use string literals for i18n context
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminPage.tsx
Due: front-end

test: wait for card data in a flaky test (#58778) (#58783)
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Remove superfluous e2e test
  e2e/test/scenarios/onboarding/add-initial-data.cy.spec.ts
Due: none

Change tab as well when url changes
  frontend/src/metabase/query_builder/actions/navigation.ts
Due: front-end

Do not get confused about editor height
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditorInner.jsx
Due: front-end

Add repro for metabase#55486
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Add breadcrumbs panel boilerplate
  frontend/src/metabase/metadata/pages/DataModel/DataModel.module.css
  frontend/src/metabase/metadata/pages/DataModel/DataModel.tsx
Due: front-end

Add original aliases
  src/metabase/query_processor/middleware/escape_join_aliases.clj
Due: back-end

Add original aliases
  src/metabase/query_processor/middleware/resolve_joined_fields.clj
  src/metabase/query_processor/middleware/resolve_joins.clj
Due: back-end

Add original aliases
  src/metabase/query_processor/middleware/annotate.clj
Due: back-end

Add original aliases
  src/metabase/query_processor/util/add_alias_info.clj
Due: back-end

Fix the code blocks in README.md to facilitate the copy feature (#53159)
  README.md
Due: none

Update data-sandboxes.md (#58754)
  docs/permissions/data-sandboxes.md
Due: none

Handle datetime extracted values in filters for xrays (#58725)
  src/metabase/xrays/automagic_dashboards/names.clj
  test/metabase/xrays/automagic_dashboards/names_test.clj
Due: back-end

Share common Host App tests between all Host Apps
  e2e/runner/cypress-runner-run-tests.js
  e2e/test-host-app/next-14-app-router-host-app/compatibility.cy.spec.js
  e2e/test-host-app/next-14-pages-router-host-app/compatibility.cy.spec.js
  e2e/test-host-app/shared/compatibility.cy.spec.js
Due: none

rollback model changes in BE test
  test/metabase/session/api_test.clj
Due: none

Add original aliases
  src/metabase/query_processor/middleware/escape_join_aliases.clj
  src/metabase/query_processor/util/add_alias_info.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
