Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix config.edn
  .clj-kondo/config/modules/config.edn
Due: none

Fix team name
  .clj-kondo/config/modules/config.edn
Due: none

Fixes after rebase
  frontend/src/embedding-sdk-bundle/lib/query-question.ts
  frontend/src/metabase/app-data-app.tsx
  frontend/src/metabase/data_apps/host-sdk-init.ts
Due: front-end

Move migration to v63
  resources/migrations/063/20260528_data_app.yaml
Due: none

Adjust version text in skill
  .claude/skills/create-data-app/SKILL.md
Due: none

Fix duplicated config
  .clj-kondo/config/modules/config.edn
Due: none

Remove `actions` from config edn
  .clj-kondo/config/modules/config.edn
Due: none

Add custom actions for data apps (#75627)
  .claude/skills/create-data-app/SKILL.md
  .claude/skills/metabase-data-app-actions/SKILL.md
  .clj-kondo/config/modules/config.edn
  e2e/test-component/scenarios/embedding-sdk/sdk-bundle-hooks.cy.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/index.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/lib/to-action-execute-error.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/lib/to-action-execute-error.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/types.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/use-action.stories.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/use-action.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/use-action.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/index.ts
  frontend/src/embedding-sdk-bundle/index.ts
  frontend/src/embedding-sdk-bundle/lib/execute-action.ts
  frontend/src/embedding-sdk-bundle/lib/execute-action.unit.spec.ts
  frontend/src/embedding-sdk-bundle/types/action.ts
  frontend/src/embedding-sdk-bundle/types/index.ts
  frontend/src/embedding-sdk-bundle/types/sdk-bundle.ts
  frontend/src/metabase/data_apps/host-sdk-init.ts
  frontend/src/metabase/data_apps/sandbox.ts
  src/metabase/actions_rest/api.clj
  src/metabase/typed_schemas/api.clj
  test/metabase/actions_rest/api_test.clj
Due: back-end, front-end

Fix data app bundle uploading after legacy client removal
  frontend/src/metabase/api/data-app.ts
  src/metabase/api/macros.clj
Due: back-end, front-end

Fix imports
  .clj-kondo/config/modules/config.edn
  src/metabase/typed_schemas/api.clj
Due: back-end

Fix failing test #2
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  enterprise/backend/test/metabase_enterprise/serialization/models/entity_id_test.clj
Due: back-end

Fix failing test
  test/metabase/app_db/general_schema_tests.clj
Due: none

Fix type annotations
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-action/types.ts
Due: front-end

Adjust migration
  resources/migrations/063/20260528_data_app.yaml
Due: none

Adjust permissions
  src/metabase/data_apps/models/data_app.clj
  test/metabase/data_apps/api_test.clj
Due: back-end

Fixed iframe security
  src/metabase/request/core.clj
  src/metabase/request/util.clj
  src/metabase/server/middleware/security.clj
  test/metabase/server/middleware/security_test.clj
Due: back-end

Harden the flaky text fix command
  .claude/commands/fix-flaky-test.md
  .github/workflows/claude-e2e-flake-fix.yml
Due: none

Data Apps publishing via remote repository POC (#75702)
  .claude/skills/create-data-app/SKILL.md
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/remote_sync/impl.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/data_apps_test.clj
  enterprise/frontend/src/metabase-enterprise/remote_sync/middleware/remote-sync-listener-middleware.ts
  frontend/src/metabase-types/api/data-app.ts
  frontend/src/metabase/admin/settings/components/SettingsPages/DataAppsSettingsPage.tsx
  frontend/src/metabase/admin/settingsRoutes.tsx
  frontend/src/metabase/api/data-app.ts
  frontend/src/metabase/data_apps/DataAppFormPage.tsx
  frontend/src/metabase/data_apps/DataAppListItem.tsx
  frontend/src/metabase/data_apps/DataAppSummary.tsx
  frontend/src/metabase/data_apps/JsBundleDropzone.module.css
  frontend/src/metabase/data_apps/JsBundleDropzone.tsx
  frontend/src/metabase/data_apps/ManageDataAppsPage.tsx
  frontend/src/metabase/data_apps/ReplaceDataAppBundleModal.tsx
  resources/frontend_client/data-app.html
  resources/migrations/063/20260528_data_app.yaml
  src/metabase/data_apps/api.clj
  src/metabase/data_apps/config.clj
  src/metabase/data_apps/init.clj
  src/metabase/data_apps/models/data_app.clj
  src/metabase/data_apps/sync.clj
  test/metabase/data_apps/api_test.clj
  test/metabase/data_apps/config_test.clj
Due: back-end, front-end

Update gitignore with data-app.html
  .gitignore
  resources/frontend_client/data-app.html
Due: none

update release workflow temporarily
  .github/workflows/release-embedding-sdk.yml
Due: none

[PoC] Type safety and modularity improvements for custom data apps (#75381)
  .claude/skills/metabase-semantic-schema-data-apps/SKILL.md
  .clj-kondo/config/modules/config.edn
  .github/workflows/release-embedding-sdk.yml
  enterprise/frontend/src/embedding-sdk-package/bin/generate-package-support-files.ts
  enterprise/frontend/src/embedding-sdk-package/data-app.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/data-schema.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/guards.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/index.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/map-dataset-query-data.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/metric-query-builder.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/runtime-types.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/stable-query-key.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/table-query-builder.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/types.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/use-metabase-query.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/use-metabase-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/validation.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metric-query/use-metric-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/index.ts
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.schema.ts
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.tsx
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.schema.ts
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.tsx
  frontend/src/embedding-sdk-bundle/lib/sdk-question-query.ts
  frontend/src/embedding-sdk-bundle/types/question.ts
  frontend/src/metabase-types/api/metric.ts
  frontend/src/metabase/data_apps/sandbox.ts
  rspack.embedding-sdk-package.config.js
  src/metabase/lib_metric/ast/build.cljc
  src/metabase/lib_metric/ast/compile.cljc
  src/metabase/lib_metric/ast/schema.cljc
  src/metabase/lib_metric/schema.cljc
  src/metabase/metrics/api.clj
  src/metabase/server/middleware/security.clj
  src/metabase/typed_schemas/api.clj
  test/metabase/api/common_test.clj
  test/metabase/metrics/api_dataset_test.clj
  test/metabase/server/middleware/security_test.clj
  test/metabase/typed_schemas/api_test.clj
Due: back-end, front-end

hotfix: allow esm usage in vite dev mode
  .github/workflows/release-embedding-sdk.yml
  enterprise/frontend/src/embedding-sdk-package/bin/generate-package-support-files.ts
  rspack.embedding-sdk-package.config.js
Due: front-end

fix type errors in useMetabaseQuery
  bin/embedding-sdk/fixup-types-after-compilation.js
  enterprise/frontend/src/embedding-sdk-package/embedding-sdk-data-app-api-extractor.json
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/types.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/use-metabase-query.ts
Due: front-end

update skill description
  .claude/skills/metabase-semantic-schema-data-apps/SKILL.md
Due: none

skill file update for table caveat
  .claude/skills/metabase-data-app-semantic-layer/SKILL.md
Due: none

update sandbox
  frontend/src/metabase/data_apps/sandbox.ts
Due: front-end

update skill to use more generic examples
  .claude/skills/create-data-app/SKILL.md
  .claude/skills/metabase-data-app-semantic-layer/SKILL.md
Due: none

update skill file to use the 63-data-apps version
  .claude/skills/create-data-app/SKILL.md
  .claude/skills/metabase-data-app-semantic-layer/SKILL.md
  .claude/skills/metabase-semantic-schema-data-apps/SKILL.md
Due: none

Add error handling for data apps
  enterprise/frontend/src/metabase-enterprise/data_apps/AppView.module.css
  enterprise/frontend/src/metabase-enterprise/data_apps/AppView.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/DataAppIframeApp.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/DataAppListItem.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/DataAppSummary.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/constants.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/lib/attach-iframe-url-mirror.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/lib/derive-iframe-src.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/lib/describe-error.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/lib/read-name-from-url.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/lib/report-error-to-parent.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/loader.ts
  frontend/src/metabase/common/components/ErrorDetails/ErrorBox.tsx
  frontend/src/metabase/common/components/ErrorDetails/ErrorDetails.tsx
  frontend/src/metabase/common/components/ErrorDetails/types.ts
Due: front-end

add v0.63.2 to release workflow
  .github/workflows/release-embedding-sdk.yml
Due: none

remove skill file alias
  .claude/skills/metabase-semantic-schema-data-apps/SKILL.md
Due: none

remove useQuestionQuery and useMetricQuery hook
  .claude/skills/create-data-app/SKILL.md
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metric-query/index.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metric-query/use-metric-query.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metric-query/use-metric-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-question-query/index.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-question-query/use-question-query.stories.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-question-query/use-question-query.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-question-query/use-question-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/index.ts
  enterprise/frontend/src/metabase-enterprise/data_apps/sandbox.ts
Due: front-end

Add spinner while iframe is loading
  enterprise/frontend/src/metabase-enterprise/data_apps/AppView.tsx
Due: front-end

ensure a fixed height is set if container has height
  .claude/skills/metabase-data-app-semantic-layer/SKILL.md
Due: none

remove id field from rendered comment
  src/metabase/typed_schemas/api.clj
  test/metabase/typed_schemas/api_test.clj
Due: back-end

Allow including everything in data and metric library in schema endpoint (#75944)
  .claude/skills/metabase-data-app-semantic-layer/SKILL.md
  src/metabase/typed_schemas/api.clj
  test/metabase/typed_schemas/api_test.clj
Due: back-end

Add OSS/no token upsell banner placeholder for data apps (#75893)
  enterprise/frontend/src/metabase-enterprise/data_apps/DataAppsNav.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/index.tsx
  frontend/src/metabase/admin/settings/components/SettingsNav/DataAppsNav.tsx
  frontend/src/metabase/admin/settings/components/SettingsNav/SettingsNav.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/DataAppsSettingsPage.tsx
  frontend/src/metabase/admin/settingsRoutes.tsx
  frontend/src/metabase/admin/upsells/UpsellDataApps.tsx
  frontend/src/metabase/admin/upsells/index.ts
  frontend/src/metabase/plugins/oss/data-apps.ts
Due: front-end

Round out fetch-table-indexes coverage in the per-driver index tests
  modules/drivers/clickhouse/test/metabase/driver/clickhouse/index_test.clj
  modules/drivers/redshift/test/metabase/driver/redshift/index_test.clj
Due: none

Prepare Constructor changes
  .dockerignore
  .github/CODEOWNERS
  README.md
  frontend/src/metabase/data-grid/constants.ts
  frontend/src/metabase/data-grid/hooks/use-data-grid-instance.tsx
  frontend/src/metabase/data-grid/hooks/use-row-sizing.ts
  frontend/src/metabase/visualizations/lib/formatting/image.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
