Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

auto decode channel type
  src/metabase/api/channel.clj
Due: back-end

remove todo
  src/metabase/api/channel.clj
Due: back-end

fix(webapp/collections): Make collections tabbable
  frontend/src/metabase/collections/components/ActionMenu/ActionMenu.tsx
Due: front-end

🤖 backported "fix cache config migration fails with float setting on mysql" (#45559)
  resources/migrations/001_update_migrations.yaml
  resources/migrations/custom_sql/fill_cache_config.h2.sql
  resources/migrations/custom_sql/fill_cache_config.my.sql
  resources/migrations/custom_sql/fill_cache_config.pg.sql
  resources/migrations/custom_sql/fill_cache_config_root_fix.my.sql
  test/metabase/db/schema_migrations_test.clj
Due: none

fix(sdk): Remove default Count aggregation without triggering a query update (#45556)
  frontend/src/metabase-lib/aggregation.ts
  frontend/src/metabase/query_builder/actions/object-detail.js
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar/SummarizeContent/use-summarize-query.ts
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar/SummarizeSidebar.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar/SummarizeSidebar.unit.spec.tsx
  frontend/src/metabase/reference/utils.js
Due: front-end

remove unnecessary explicit size (#45612) (#45617)
  frontend/src/metabase/visualizations/components/legend/LegendLayout.jsx
  frontend/src/metabase/visualizations/visualizations/CartesianChart/CartesianChart.styled.tsx
  frontend/src/metabase/visualizations/visualizations/CartesianChart/CartesianChart.tsx
  frontend/src/metabase/visualizations/visualizations/RowChart/RowChart.styled.tsx
  frontend/src/metabase/visualizations/visualizations/RowChart/RowChart.tsx
Due: front-end

Skip fetching collection permissions graph on update (#45561)
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/permissions/admin-permissions.cy.spec.js
  frontend/src/metabase-types/api/permissions.ts
  frontend/src/metabase/admin/permissions/pages/CollectionPermissionsPage/tests/common.unit.spec.tsx
  frontend/src/metabase/admin/permissions/pages/CollectionPermissionsPage/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/admin/permissions/permissions.js
  frontend/src/metabase/admin/permissions/utils/graph/partial-updates.ts
  frontend/src/metabase/admin/permissions/utils/graph/partial-updates.unit.spec.ts
  src/metabase/api/collection.clj
  test/metabase/api/collection_test.clj
Due: back-end, front-end

test fixes and add a partial failure test
  src/metabase/pulse.clj
  test/metabase/models/pulse_channel_test.clj
  test/metabase/pulse_test.clj
  test/metabase/test/mock/util.clj
Due: back-end

fix alert api tests
  test/metabase/api/alert_test.clj
Due: none

getting ready for the demo
  src/metabase/channel/http.clj
  src/metabase/pulse.clj
  test/metabase/channel/http_test.clj
Due: back-end

Swap out devex team (#45608)
  .github/team.json
Due: none

Be more specific which element is to be scrolled
  e2e/test/scenarios/dashboard-cards/dashboard-card-reproductions.cy.spec.js
Due: none

Avoid realMouseWheel which does not work reliably in CI
  e2e/test/scenarios/dashboard-cards/dashboard-card-reproductions.cy.spec.js
Due: none

dastardly file
  test.db
Due: none

DRY up test a bit
  test/metabase/task/analyze_queries_test.clj
Due: none

Rename test
  test/metabase/task/analyze_queries_test.clj
Due: none

Kill analyzer if analysis is disabled
  src/metabase/task/analyze_queries.clj
Due: back-end

More hygeine
  test/metabase/task/analyze_queries_test.clj
Due: none

Implement query analysis worker
  src/metabase/models/card.clj
  src/metabase/query_analysis.clj
  src/metabase/task/analyze_queries.clj
  src/metabase/task/backfill_query_fields.clj
  src/metabase/upload.clj
  src/metabase/util.cljc
  src/metabase/util/queue.clj
  test.db
  test/metabase/task/analyze_queries_test.clj
  test/metabase/util/queue_test.clj
Due: back-end

fix tests because master now has last_used_at is non-nil
  test/metabase/query_processor/middleware/update_used_cards_test.clj
Due: none

Bring in main feature
  src/metabase/public_settings.clj
Due: back-end

[notification] namespaced channel type (#45527)
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/channel_test.clj
  src/metabase/api/channel.clj
  src/metabase/models/channel.clj
  test/metabase/api/channel_test.clj
  test/metabase/models/channel_test.clj
Due: back-end

Move test latch over to producers
  src/metabase/models/query_field.clj
  src/metabase/query_analysis.clj
  test/metabase/models/query_field_test.clj
  test/metabase/query_analysis_test.clj
  test/metabase/task/analyze_queries_test.clj
Due: back-end

Suggest custom expression based on name
  frontend/src/metabase-lib/v1/ai/generate-expression/custom-expressions.ts
  frontend/src/metabase-lib/v1/ai/generate-expression/index.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/ExpressionEditorTextfield.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  src/metabase/server/middleware/security.clj
Due: back-end, front-end

Fix #45594: Segment name is missing from the segment revision history title (#45604)
  e2e/test/scenarios/admin/datamodel/datamodel.cy.spec.js
  frontend/src/metabase/admin/datamodel/components/revisions/Revision.jsx
  frontend/src/metabase/admin/datamodel/components/revisions/RevisionDiff.jsx
  frontend/src/metabase/admin/datamodel/components/revisions/RevisionHistory.jsx
  frontend/src/metabase/admin/datamodel/containers/RevisionHistoryApp.jsx
Due: front-end

Have a test for archiving a question and a collection
  e2e/test/scenarios/question/notebook-data-source.cy.spec.ts
Due: none

Fix - More than 10 Series (using Add Series Dashboard Feature) cause Filter UI to be inaccessible (#45550)
  e2e/test/scenarios/dashboard-cards/dashboard-card-reproductions.cy.spec.js
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardParameterMapper.jsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardParameterMapper.styled.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardVisualization.tsx
Due: front-end

fix png export when on dark theme (public/embed) not having the dark … (#45497)
  frontend/src/metabase/dashboard/components/DashCard/DashCard.styled.tsx
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.module.css
  frontend/src/metabase/visualizations/lib/save-chart-image.ts
Due: front-end

Refactor cy.createCollection and cy.archiveCollection to TS
  e2e/support/commands/api/collection.js
  e2e/support/commands/api/collection.ts
  e2e/support/helpers/e2e-collection-helpers-ts.ts
  e2e/support/helpers/index.js
Due: none

Refactor collection and user helpers to TS
  e2e/support/helpers/e2e-collection-helpers.ts
  e2e/support/helpers/e2e-users-helpers.js
  e2e/test/scenarios/organization/bookmarks-collection.cy.spec.js
  e2e/test/scenarios/organization/bookmarks-question.cy.spec.js
Due: none

Keep collection helpers together
  e2e/support/helpers/e2e-collection-helpers-ts.ts
  e2e/support/helpers/e2e-collection-helpers.ts
  e2e/support/helpers/e2e-users-helpers.ts
  e2e/support/helpers/index.js
Due: none

Sort code
  e2e/support/commands/api/collection.ts
Due: none

Format code
  e2e/support/helpers/e2e-collection-helpers.ts
Due: none

Use new createCollection helper
  e2e/test/scenarios/question/notebook-data-source.cy.spec.ts
Due: none

Fix-up test tripped up by REPL difference
  test/metabase/task/analyze_queries_test.clj
Due: none

Wipzz
  .clj-kondo/config.edn
  .clj-kondo/macros/metabase/models/query_field_test.clj
  .clj-kondo/macros/metabase_enterprise/query_field_validation/api_test.clj
  enterprise/backend/test/metabase_enterprise/query_field_validation/api_test.clj
  test/metabase/models/query_field_test.clj
  test/metabase/util/queue_test.clj
Due: back-end

Delete same-thread method
  src/metabase/query_analysis.clj
Due: back-end

Analyze queries asynchronously when cards are saved
  src/metabase/models/card.clj
  src/metabase/query_analysis.clj
  src/metabase/task/backfill_query_fields.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
