Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Remove label for now:
  frontend/src/metabase/visualizations/components/settings/ChartSettingRadio.tsx
Due: front-end

git merge --squash 51213-entity-loader
  frontend/src/metabase-lib/v1/metadata/utils/schema.ts
  frontend/src/metabase-lib/v1/metadata/utils/schema.unit.spec.js
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/collections/components/PinnedQuestionCard/PinnedQuestionLoader.tsx
  frontend/src/metabase/dashboard/components/ClickBehaviorSidebar/LinkOptions/LinkedEntityPicker/LinkedEntityPicker.tsx
  frontend/src/metabase/entities/containers/index.js
  frontend/src/metabase/entities/containers/rtk-query/EntityObjectLoaderRtkQuery.tsx
  frontend/src/metabase/entities/schemas.js
  frontend/src/metabase/entities/schemas.unit.spec.js
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/ParameterLinkedFilters.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParamParts/FieldMappingSelect.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/DataSourceCrumbs.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/QuestionDataSource.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/SourceDatasetBreadcrumbs.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/SourceQuestionBreadcrumbs.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/ModelCacheManagementSection/ModelCacheManagementSection.unit.spec.tsx
Due: front-end

Use pr-str so log data is parseable (#51275) (#51278)
  src/metabase/search/appdb/index.clj
Due: back-end

more css
  frontend/src/metabase/query_builder/components/view/ViewFooter.styled.tsx
  frontend/src/metabase/query_builder/components/view/ViewFooter/LeftViewFooterButtonGroup.module.css
  frontend/src/metabase/query_builder/components/view/ViewFooter/LeftViewFooterButtonGroup.tsx
  frontend/src/metabase/query_builder/components/view/ViewFooter/ViewFooter.tsx
  frontend/src/metabase/query_builder/components/view/ViewSection.tsx
Due: front-end

should fix performance test
  frontend/src/metabase/env.ts
  frontend/src/metabase/lib/redux/custom-context.tsx
Due: front-end

Convert title to label
  frontend/src/metabase/visualizations/components/settings/ChartSettingInput.tsx
Due: front-end

Add label to TextInput itself
  frontend/src/metabase/visualizations/components/settings/ChartSettingInput.tsx
  frontend/src/metabase/visualizations/lib/settings.js
Due: front-end

Ensure id is matched with label for tests and accessibility
  frontend/src/metabase/visualizations/components/settings/ChartSettingInput.tsx
Due: front-end

Actually make sure that inputGroup is removed
  frontend/src/metabase/visualizations/components/settings/ChartSettingInputGroup.jsx
Due: front-end

Ensure that inputGroup is removed
  frontend/src/metabase/visualizations/lib/settings.js
Due: front-end

Remove label for now
  frontend/src/metabase/visualizations/components/settings/ChartSettingInput.tsx
Due: front-end

npx browserslist@latest --update-db
  yarn.lock
Due: none

fixme - check why require.resolve is erroring
  e2e/support/component-webpack.config.js
Due: none

more css
  frontend/src/metabase/components/MetadataInfo/ColumnInfo/ColumnInfo.tsx
  frontend/src/metabase/components/MetadataInfo/MetadataInfo.module.css
  frontend/src/metabase/components/MetadataInfo/MetadataInfo.styled.tsx
  frontend/src/metabase/components/MetadataInfo/MetadataInfo.tsx
  frontend/src/metabase/components/MetadataInfo/TableInfo/TableInfo.tsx
  frontend/src/metabase/query_builder/components/dataref/QuestionPane/QuestionPane.tsx
  frontend/src/metabase/query_builder/components/dataref/TablePane.tsx
Due: front-end

Convert ChartSettingToggle to Mantine
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.tsx
  frontend/src/metabase/visualizations/lib/settings.js
Due: front-end

Add label
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.tsx
Due: front-end

Convert title to label
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.tsx
Due: front-end

Remove label prop and other styles for now
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.tsx
Due: front-end

Remove the removal of an unused component
  frontend/src/metabase/visualizations/lib/settings.js
Due: front-end

Fix some more tests
  e2e/test/scenarios/dashboard-cards/visualization-options.cy.spec.js
  e2e/test/scenarios/dashboard/dashboard.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-2.cy.spec.js
  e2e/test/scenarios/visualizations-charts/sankey.cy.spec.js
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
  e2e/test/scenarios/visualizations-tabular/smartscalar-trend.cy.spec.js
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.tsx
Due: front-end

Fix flaky test
  e2e/test/scenarios/actions/model-actions.cy.spec.js
Due: none

fixme - add console log to get resolved package path
  e2e/support/component-webpack.config.js
Due: none

Fix flake in all tests
  e2e/test/scenarios/actions/model-actions.cy.spec.js
Due: none

[refs] Preserve `:ident`s in `replace-clause`
  src/metabase/lib/common.cljc
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/util.cljc
  test/metabase/lib/remove_replace_test.cljc
Due: back-end

Use useGetActionQuery in ActionExecuteModal
  frontend/src/metabase/actions/containers/ActionExecuteModal/ActionExecuteModal.tsx
Due: front-end

Remove use-action-query
  frontend/src/metabase/common/hooks/entity-framework/index.ts
  frontend/src/metabase/common/hooks/entity-framework/use-action-query/index.ts
  frontend/src/metabase/common/hooks/entity-framework/use-action-query/use-action-query.ts
  frontend/src/metabase/common/hooks/entity-framework/use-action-query/use-action-query.unit.spec.tsx
Due: front-end

fixme - additional ci debugging logs
  e2e/support/component-webpack.config.js
Due: none

npx browserslist@latest --update-db (#51280)
  yarn.lock
Due: none

Fix test that was using boolean values for a string thing
  frontend/src/metabase/visualizations/components/settings/ChartSettingRadio.tsx
  frontend/src/metabase/visualizations/lib/settings.js
  frontend/src/metabase/visualizations/lib/settings/column.js
Due: front-end

Fix one more test
  e2e/test/scenarios/visualizations-tabular/smartscalar-trend.cy.spec.js
Due: none

remove extra layer of wrapping in try catch
  frontend/src/metabase/lib/redux/custom-context.tsx
Due: front-end

Remove Actions.load usage in ActionCreator
  frontend/src/metabase/actions/containers/ActionCreator/ActionCreator.tsx
Due: front-end

Remove unused initialAction prop
  frontend/src/metabase/actions/containers/ActionCreator/ActionCreator.tsx
Due: front-end

fixme - try limiting module search path to node_modules
  e2e/support/component-webpack.config.js
Due: none

Convert the numeric input to Mantine
  frontend/src/metabase/visualizations/components/settings/ChartSettingInputNumeric.tsx
  frontend/src/metabase/visualizations/components/settings/types.ts
Due: front-end

Remove label prop for now
  frontend/src/metabase/visualizations/components/settings/ChartSettingInputNumeric.tsx
  frontend/src/metabase/visualizations/components/settings/types.ts
Due: front-end

Convert title to label
  frontend/src/metabase/visualizations/components/settings/ChartSettingInputNumeric.tsx
  frontend/src/metabase/visualizations/components/settings/types.ts
Due: front-end

Fix another test by adding ID to the input
  frontend/src/metabase/visualizations/components/settings/ChartSettingInputNumeric.tsx
Due: front-end
