Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 35%
        threshold: 5%
        flags:
          - front-end

    patch:
      back-end:
        # Changes must have at least 75% test coverage (by line)
        target: 75%
        flags:
          - back-end

      front-end:
        target: 35%
        flags:
          - front-end

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase

  front-end:
    paths:
      - frontend

prevent leakage of 'null' moderation icon
  enterprise/frontend/src/metabase-enterprise/moderation/constants.js
  enterprise/frontend/src/metabase-enterprise/moderation/service.js
Due: none

add tests / rmv redundant fn
  enterprise/frontend/src/metabase-enterprise/moderation/components/ModerationActions/ModerationActions.styled.jsx
  enterprise/frontend/src/metabase-enterprise/moderation/constants.js
  enterprise/frontend/src/metabase-enterprise/moderation/service.js
  enterprise/frontend/src/metabase-enterprise/moderation/service.unit.spec.js
Due: none

rename styled component
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionDetailsSidebarPanel.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionDetailsSidebarPanel.styled.jsx
Due: front-end

remove should('exist') from moderation cy tests
  frontend/test/metabase/scenarios/moderation/question-moderation.cy.spec.js
Due: front-end

refactor to make biz logic of a null mod status clearer
  enterprise/frontend/src/metabase-enterprise/moderation/constants.js
  enterprise/frontend/src/metabase-enterprise/moderation/service.js
  enterprise/frontend/src/metabase-enterprise/moderation/service.unit.spec.js
Due: none

fix logic for nested lists
  src/metabase/pulse/markdown.clj
Due: back-end

escape html characters
  src/metabase/pulse/markdown.clj
Due: back-end

add selector unit test
  frontend/test/metabase/query_builder/selectors.unit.spec.js
Due: front-end

Avoid prop shorthand in the navbar
  frontend/src/metabase/nav/containers/Navbar.jsx
Due: front-end

tests and refactor
  src/metabase/pulse.clj
  src/metabase/pulse/markdown.clj
  test/metabase/pulse/markdown_test.clj
Due: back-end

refactor/move parameter object transformations to one place
  enterprise/frontend/src/metabase-enterprise/sharing/components/MutableParametersSection.jsx
  frontend/src/metabase-lib/lib/Question.js
  frontend/src/metabase/dashboard/components/DashCard.jsx
  frontend/src/metabase/dashboard/components/Dashboard/ParametersWidget/ParametersWidget.jsx
  frontend/src/metabase/dashboard/containers/AutomaticDashboardApp.jsx
  frontend/src/metabase/dashboard/dashboard.js
  frontend/src/metabase/meta/Card.js
  frontend/src/metabase/meta/Parameter.js
  frontend/src/metabase/parameters/components/Parameters/Parameters.jsx
  frontend/src/metabase/parameters/components/Parameters/syncQueryParamsWithURL.js
  frontend/src/metabase/parameters/components/ParametersList.jsx
  frontend/src/metabase/public/components/EmbedFrame.jsx
  frontend/src/metabase/public/components/widgets/EmbedModalContent.jsx
  frontend/src/metabase/public/containers/PublicQuestion.jsx
  frontend/src/metabase/query_builder/containers/QuestionEmbedWidget.jsx
  frontend/src/metabase/query_builder/selectors.js
  frontend/test/metabase/meta/Parameter.unit.spec.js
Due: front-end

Fix propType warning for `RawMaybeLink`
  frontend/src/metabase/components/Badge.styled.jsx
Due: front-end

codecov config: enable carryforward (#17454)
  codecov.yml
Due: none

Use tooltips for CollectionAuthorityLevelIcon
  enterprise/frontend/src/metabase-enterprise/collections/components/CollectionAuthorityLevelIcon.jsx
Due: none

Display tooltip in collections sidebar
  frontend/src/metabase/collections/components/CollectionIcon.jsx
Due: front-end

Add tooltips to authority level configs
  enterprise/frontend/src/metabase-enterprise/collections/constants.js
Due: none

Pass tooltips to getCollectionIcon result
  frontend/src/metabase/entities/collections.js
Due: front-end

Accept icon props as a TreeNode's icon prop value
  frontend/src/metabase/components/tree/TreeNode.jsx
Due: front-end

Display tooltip in ItemPicker
  frontend/src/metabase/containers/ItemPicker.jsx
Due: front-end

Display tooltip on the homepage
  frontend/src/metabase/components/CollectionItem.jsx
Due: front-end

Display tooltip in CollectionHeader
  frontend/src/metabase/collections/components/CollectionHeader/CollectionHeader.jsx
Due: front-end

Display tooltip in saved question picker
  frontend/src/metabase/query_builder/components/saved-question-picker/utils.js
Due: front-end

Accept icon props as a SelectListItem's icon prop value
  frontend/src/metabase/components/select-list/SelectListItem.jsx
Due: front-end

Display tooltip in dashboard's question picker
  frontend/src/metabase/dashboard/components/add-card-sidebar/QuestionPicker.jsx
Due: front-end

Add "Belongs to an Official collection" tooltip
  enterprise/frontend/src/metabase-enterprise/collections/constants.js
  frontend/src/metabase/dashboard/components/DashboardGrid.jsx
  frontend/src/metabase/visualizations/components/Visualization.jsx
Due: front-end

Fix prop-types errors
  frontend/src/metabase/components/select-list/SelectListItem.jsx
  frontend/src/metabase/components/tree/TreeNode.jsx
Due: front-end

Fix action buttons issue
  frontend/src/metabase/visualizations/components/legend/LegendLayout.styled.jsx
Due: front-end

Remove use callback
  frontend/src/metabase/visualizations/components/legend/LegendItem.jsx
Due: front-end

Add LegendLayout to LineChart (#17412)
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/LineAreaBarChart.styled.jsx
  frontend/src/metabase/visualizations/components/legend/Legend.jsx
  frontend/src/metabase/visualizations/components/legend/Legend.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendActions.jsx
  frontend/src/metabase/visualizations/components/legend/LegendActions.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendCaption.jsx
  frontend/src/metabase/visualizations/components/legend/LegendCaption.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItem.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItem.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.styled.jsx
  frontend/test/metabase/scenarios/visualizations/line_chart.cy.spec.js
Due: front-end

Add empty state
  frontend/src/metabase/user/components/NotificationList.jsx
  frontend/src/metabase/user/components/NotificationList.styled.jsx
  frontend/src/metabase/user/components/UserSettings.jsx
Due: front-end

Add empty state
  frontend/src/metabase/user/components/NotificationSettings.jsx
  frontend/src/metabase/user/components/UserSettings.jsx
Due: front-end

Add LegendLayout to LineChart (#17467)
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/LineAreaBarChart.styled.jsx
  frontend/src/metabase/visualizations/components/legend/Legend.jsx
  frontend/src/metabase/visualizations/components/legend/Legend.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendActions.jsx
  frontend/src/metabase/visualizations/components/legend/LegendActions.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendCaption.jsx
  frontend/src/metabase/visualizations/components/legend/LegendCaption.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItem.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItem.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.styled.jsx
  frontend/test/metabase/scenarios/visualizations/line_chart.cy.spec.js
Due: front-end

Fix button
  frontend/src/metabase/visualizations/components/legend/LegendLayout.styled.jsx
Due: front-end

Fix callbacks
  frontend/src/metabase/visualizations/components/legend/LegendItem.jsx
Due: front-end

Hide < 400px
  frontend/src/metabase/visualizations/components/legend/LegendLayout.jsx
Due: front-end

Add vertical legends with Popover (#17433)
  frontend/src/metabase/visualizations/components/LineAreaBarChart.styled.jsx
  frontend/src/metabase/visualizations/components/legend/Legend.jsx
  frontend/src/metabase/visualizations/components/legend/Legend.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItem.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItem.styled.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.jsx
  frontend/src/metabase/visualizations/components/legend/LegendLayout.styled.jsx
Due: front-end

Add tests for CollectionAuthorityLevelIcon
  enterprise/frontend/src/metabase-enterprise/collections/components/CollectionAuthorityLevelIcon.unit.spec.js
Due: none

Add tests for isRegularCollection
  enterprise/frontend/src/metabase-enterprise/collections/index.js
  enterprise/frontend/src/metabase-enterprise/collections/utils.js
  enterprise/frontend/src/metabase-enterprise/collections/utils.unit.spec.js
Due: none

Fix search results collection icons
  frontend/src/metabase/entities/collections.js
  frontend/src/metabase/search/components/SearchResult.jsx
Due: front-end
