Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

substring from right
  docs/questions/query-builder/expressions/substring.md
Due: none

Always rerun updated questions if they have a dirty query
  frontend/src/metabase/query_builder/actions/core/core.js
Due: front-end

Add action that only reruns dirty question queries
  frontend/src/metabase/query_builder/actions/querying.js
Due: front-end

Stop rerunning model queries in a few scenarios where they don't need to run
  frontend/src/metabase/query_builder/actions/models.js
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
Due: front-end

Fix e2e tests
  frontend/test/metabase/scenarios/models/models-metadata.cy.spec.js
  frontend/test/metabase/scenarios/models/reproductions/19180-native-model-results-disappear.cy.spec.js
  frontend/test/metabase/scenarios/models/reproductions/22517-add-remove-column-drops-metadata.cy.spec.js
Due: front-end

Fix tests
  frontend/src/metabase/query_builder/actions/core/initializeQB.unit.spec.ts
Due: front-end

Remove website update from the release script (#25647) (#25668)
  bin/release/src/release.clj
  bin/release/src/release/update_website.clj
Due: none

more expert links
  docs/README.md
  docs/installation-and-operation/installing-metabase.md
  docs/installation-and-operation/start.md
Due: none

more expert links (#25683)
  docs/README.md
  docs/installation-and-operation/installing-metabase.md
  docs/installation-and-operation/start.md
Due: none

Fixing Tests
  frontend/test/metabase/visualizations/components/LineAreaBarRenderer-bar.unit.spec.js
  frontend/test/metabase/visualizations/components/settings/ChartSettingStacked.unit.spec.js
Due: front-end

jeff's feedback
  docs/questions/query-builder/expressions/substring.md
Due: none

Update README.md
  README.md
Due: none

remove about blanks for github browsing
  docs/installation-and-operation/installing-metabase.md
  docs/installation-and-operation/start.md
  docs/installation-and-operation/upgrading-metabase.md
Due: none

formatting
  docs/questions/query-builder/expressions/substring.md
Due: none

update api docs
  docs/api-documentation.md
  docs/api/google.md
  docs/api/permissions.md
Due: none

update README.md (#25686)
  README.md
  docs/installation-and-operation/installing-metabase.md
  docs/installation-and-operation/start.md
  docs/installation-and-operation/upgrading-metabase.md
Due: none

Upgrade Cypress to `v10.9.0` (#25665)
  frontend/test/__runner__/cypress-runner-generate-snapshots.js
  frontend/test/__runner__/cypress-runner-run-tests.js
  frontend/test/__support__/e2e/config.js
  frontend/test/__support__/e2e/cypress-plugins.js
  frontend/test/__support__/e2e/cypress-snapshots.config.js
  frontend/test/__support__/e2e/cypress-snapshots.json
  frontend/test/__support__/e2e/cypress.config.js
  frontend/test/__support__/e2e/cypress.json
  package.json
  yarn.lock
Due: front-end

docs - substring (#25667)
  docs/questions/query-builder/expressions-list.md
  docs/questions/query-builder/expressions/substring.md
Due: none

update api docs (#25688)
  docs/api-documentation.md
  docs/api/google.md
  docs/api/permissions.md
Due: none

Upgrade `@bahmutov/cypress-esbuild-preprocessor`
  package.json
  yarn.lock
Due: none

Upgrade `@testing-library/cypress`
  package.json
  yarn.lock
Due: none

Upgrade `cypress-real-events`
  package.json
  yarn.lock
Due: none

Upgrade `@percy/cypress`
  package.json
  yarn.lock
Due: none

update links
  README.md
  docs/installation-and-operation/installing-metabase.md
  docs/installation-and-operation/start.md
  docs/installation-and-operation/upgrading-metabase.md
Due: none

update links (#25690)
  README.md
  docs/installation-and-operation/installing-metabase.md
  docs/installation-and-operation/start.md
  docs/installation-and-operation/upgrading-metabase.md
Due: none

add dev guide to readme sidebar section
  docs/README.md
  docs/developers-guide/start.md
Due: none

Remove Stacking option when only 1 stackable series is present (#25654)
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/test/metabase/visualizations/components/LineAreaBarRenderer-bar.unit.spec.js
  frontend/test/metabase/visualizations/components/settings/ChartSettingStacked.unit.spec.js
Due: front-end

Changing axis label copy in Viz Settings (#25652)
  frontend/src/metabase/visualizations/lib/settings/series.js
  frontend/test/metabase/scenarios/visualizations/reproductions/17619-line-more-options.cy.spec.js
Due: front-end

Adding missing placeholders to various viz settings (#25649)
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting.jsx
  frontend/src/metabase/visualizations/lib/settings/column.js
  frontend/src/metabase/visualizations/visualizations/List.tsx
  frontend/src/metabase/visualizations/visualizations/Table.jsx
Due: front-end

PR Feedback
  frontend/src/metabase/components/SegmentedControl.jsx
  frontend/src/metabase/visualizations/lib/settings/graph.js
Due: front-end

Changing graph viz settings toggles to inline, updating radio buttons to (#25664)
  frontend/src/metabase/components/SegmentedControl.jsx
  frontend/src/metabase/visualizations/lib/settings/graph.js
Due: front-end

Advanced datetime extraction (#25277)
  .github/scripts/run-presto-kerberos-integration-test.sh
  frontend/src/metabase/lib/expressions/config.js
  frontend/src/metabase/lib/expressions/helper-text-strings.ts
  frontend/test/metabase/scenarios/custom-column/cc-data-type.cy.spec.js
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk/query_processor.clj
  modules/drivers/mongo/src/metabase/driver/mongo.clj
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/presto-jdbc/test/metabase/driver/presto_jdbc_test.clj
  modules/drivers/presto-jdbc/test/metabase/test/data/presto_jdbc.clj
  modules/drivers/presto/src/metabase/driver/presto.clj
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  shared/src/metabase/mbql/normalize.cljc
  shared/src/metabase/mbql/predicates.cljc
  shared/src/metabase/mbql/schema.cljc
  shared/src/metabase/mbql/util.cljc
  shared/test/metabase/mbql/util_test.cljc
  src/metabase/driver.clj
  src/metabase/driver/postgres.clj
  src/metabase/driver/sql/query_processor.clj
  src/metabase/query_processor/middleware/desugar.clj
  src/metabase/util/date_2.clj
  src/metabase/util/honeysql_extensions.clj
  test/metabase/automagic_dashboards/core_test.clj
  test/metabase/query_processor/middleware/desugar_test.clj
  test/metabase/query_processor_test/date_time_zone_functions_test.clj
Due: back-end, front-end

DateAdd and DateSubtract expression (#25414)
  frontend/src/metabase/lib/expressions/config.js
  frontend/src/metabase/lib/expressions/helper-text-strings.ts
  frontend/test/metabase/scenarios/custom-column/cc-data-type.cy.spec.js
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk/query_processor.clj
  modules/drivers/mongo/src/metabase/driver/mongo.clj
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  modules/drivers/mongo/test/metabase/driver/mongo/query_processor_test.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
  shared/src/metabase/mbql/normalize.cljc
  shared/src/metabase/mbql/schema.cljc
  shared/test/metabase/mbql/normalize_test.cljc
  src/metabase/driver.clj
  src/metabase/driver/sql/query_processor.clj
  src/metabase/util/date_2.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor_test/date_time_zone_functions_test.clj
Due: back-end, front-end

[E2E] Upgrade Cypress-related libraries (#25678)
  package.json
  yarn.lock
Due: none

Handle metric filters in drilldowns (#25573)
  frontend/src/metabase-lib/lib/Question.ts
  frontend/src/metabase-lib/lib/metadata/Metadata.ts
  frontend/src/metabase-lib/lib/metadata/Metric.ts
  frontend/src/metabase-lib/lib/queries/structured/Aggregation.ts
  frontend/src/metabase/modes/components/drill/UnderlyingRecordsDrill.jsx
  frontend/src/metabase/modes/lib/actions.js
  frontend/test/__support__/sample_database_fixture.js
  frontend/test/__support__/sample_database_fixture.json
  frontend/test/metabase-lib/lib/Question.unit.spec.js
  frontend/test/metabase/scenarios/visualizations/reproductions/6010-metric-filter-drill.cy.spec.js
Due: front-end

Infer types for new date functions
  frontend/src/metabase/lib/expressions/config.js
  frontend/src/metabase/lib/expressions/typeinferencer.js
Due: front-end

quick stab
  frontend/src/metabase/lib/expressions/config.js
  shared/src/metabase/mbql/schema.cljc
  src/metabase/driver.clj
  src/metabase/driver/postgres.clj
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/format_rows.clj
  src/metabase/query_processor/middleware/results_metadata.clj
  test/metabase/query_processor_test/date_time_zone_functions_test.clj
Due: back-end, front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
