Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Restore earlier German translation
  e2e/test/scenarios/embedding/embedding-questions.cy.spec.js
Due: none

trying something
  e2e/test/scenarios/dashboard/visualizer/cartesian.cy.spec.ts
Due: none

trigger paused modal
  enterprise/frontend/src/metabase-enterprise/google_drive/PausedModal.tsx
  enterprise/frontend/src/metabase-enterprise/google_drive/index.ts
  enterprise/frontend/src/metabase-enterprise/upload_management/index.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/status/components/FileUploadStatusLarge/FileUploadErrorModal.tsx
  frontend/src/metabase/status/components/FileUploadStatusLarge/FileUploadStatusLarge.tsx
Due: front-end

add unit tests
  enterprise/frontend/src/metabase-enterprise/google_drive/PausedModal.unit.spec.tsx
Due: front-end

add paused modal
  enterprise/frontend/src/metabase-enterprise/google_drive/PausedModal.tsx
  enterprise/frontend/src/metabase-enterprise/google_drive/database-error.svg
  frontend/src/metabase-types/api/settings.ts
Due: front-end

refactor(dashboard): extract ReplaceCardModal to separate component
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
  frontend/src/metabase/dashboard/components/ReplaceCardModal.tsx
Due: front-end

refactor(dashboard): inline AddSeriesModal rendering to simplify code
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
Due: front-end

Bump com.amazonaws/aws-java-sdk-core from 1.12.782 to 1.12.783 (#57586)
  modules/drivers/redshift/deps.edn
Due: none

Add analytics for new entity creation being initiated (#57673)
  e2e/test/scenarios/collections/collections.cy.spec.js
  e2e/test/scenarios/onboarding/home/browse.cy.spec.ts
  e2e/test/scenarios/onboarding/home/homepage.cy.spec.js
  frontend/src/metabase-types/analytics/event.ts
  frontend/src/metabase/browse/metrics/BrowseMetrics.tsx
  frontend/src/metabase/browse/metrics/analytics.ts
  frontend/src/metabase/browse/models/BrowseModels.tsx
  frontend/src/metabase/browse/models/analytics.ts
  frontend/src/metabase/collections/components/CollectionEmptyState/CollectionEmptyState.tsx
  frontend/src/metabase/collections/components/CollectionEmptyState/analytics.ts
  frontend/src/metabase/collections/components/CollectionHeader/CollectionNewButton.tsx
  frontend/src/metabase/collections/components/CollectionHeader/analytics.ts
  frontend/src/metabase/components/NewItemMenu/NewItemMenu.tsx
  frontend/src/metabase/components/NewItemMenu/analytics.ts
  frontend/src/metabase/nav/components/NewItemButton/NewItemButton.tsx
  frontend/src/metabase/nav/components/NewItemButton/analytics.ts
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
  frontend/src/metabase/nav/containers/MainNavbar/analytics.ts
Due: front-end

Remove zh from the list of supported translations (#57672)
  docs/configuring-metabase/localization.md
Due: none

Mark setup tests flaky (#57710)
  e2e/test/scenarios/onboarding/setup/setup.cy.spec.ts
Due: none

Fix parameter types! (#57677)
  frontend/src/metabase-lib/v1/metadata/Field.ts
  frontend/src/metabase-lib/v1/parameters/utils/click-behavior.unit.spec.ts
  frontend/src/metabase-lib/v1/parameters/utils/filters.ts
  frontend/src/metabase-lib/v1/parameters/utils/filters.unit.spec.ts
  frontend/src/metabase-lib/v1/parameters/utils/parameter-parsing.ts
  frontend/src/metabase-lib/v1/parameters/utils/template-tag-options.unit.spec.js
  frontend/src/metabase-lib/v1/types/utils/isa.js
  frontend/src/metabase/querying/parameters/utils/parsing.ts
  frontend/src/metabase/querying/parameters/utils/parsing.unit.spec.ts
  src/metabase/lib/filter/operator.cljc
  src/metabase/lib/types/isa.cljc
  src/metabase/xrays/automagic_dashboards/filters.clj
  test/metabase/lib/fe_util_test.cljc
  test/metabase/lib/filter_test.cljc
  test/metabase/lib/types/isa_test.cljc
  test/metabase/xrays/api/automagic_dashboards_test.clj
  test/metabase/xrays/automagic_dashboards/core_test.clj
Due: back-end, front-end

Shutdown index sync while its results are unused (#56885)
  modules/drivers/mongo/src/metabase/driver/mongo.clj
  modules/drivers/mongo/test/metabase/driver/mongo_test.clj
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  src/metabase/driver.clj
  src/metabase/driver/h2.clj
  src/metabase/driver/mysql.clj
  src/metabase/driver/postgres.clj
  test/metabase/api/database_test.clj
  test/metabase/api/field_test.clj
  test/metabase/api/table_test.clj
Due: back-end

fix audit log to record external emails when sending notifications (#57679)
  enterprise/backend/test/metabase_enterprise/sandbox/pulse_test.clj
  src/metabase/notification/payload/impl/card.clj
  src/metabase/notification/payload/impl/dashboard.clj
  test/metabase/notification/payload/impl/card_test.clj
Due: back-end

Bump io.github.tonsky/clj-reload from 0.9.4 to 0.9.5 (#57578)
  deps.edn
Due: none

Bump org.apache.poi/poi-ooxml-full from 5.4.0 to 5.4.1 (#56357)
  deps.edn
Due: none

Patch the metabot-v3 merge (#57731)
  enterprise/frontend/src/metabase-enterprise/metabot/index.tsx
  frontend/src/metabase/components/NewItemMenu/NewItemMenu.tsx
  frontend/src/metabase/nav/components/NewItemButton/NewItemButton.tsx
  frontend/src/metabase/plugins/index.ts
Due: front-end

Fix flaky e2e test in the onboarding `setup` spec (#57735)
  e2e/test/scenarios/onboarding/setup/setup.cy.spec.ts
Due: none

feat: add a link to field filter docs from dashboard sidebar with native question (#57687)
  frontend/src/metabase/common/hooks/use-docs-url/use-docs-url.ts
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.tsx
  frontend/src/metabase/dashboard/components/DashboardSidebars.tsx
  frontend/src/metabase/dashboard/containers/DashboardApp/DashboardApp.tsx
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/ParameterLinkedFilters.tsx
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/ParameterLinkedFilters.unit.spec.tsx
  frontend/src/metabase/parameters/components/ParameterSidebar/ParameterSidebar.tsx
  frontend/src/metabase/parameters/components/ParameterSidebar/ParameterSidebar.unit.spec.tsx
Due: front-end

remove unused slider component (#57745)
  frontend/src/metabase/core/components/Slider/Slider.stories.tsx
  frontend/src/metabase/core/components/Slider/Slider.styled.tsx
  frontend/src/metabase/core/components/Slider/Slider.tsx
  frontend/src/metabase/core/components/Slider/Slider.unit.spec.tsx
Due: front-end

Bump commons-io/commons-io from 2.18.0 to 2.19.0 (#56654)
  deps.edn
Due: none

Remove "Model" and "Action" from the "New" button menu (#57647)
  e2e/support/helpers/e2e-action-helpers.js
  e2e/test/scenarios/actions/actions-reproductions.cy.spec.js
  e2e/test/scenarios/actions/model-actions.cy.spec.js
  e2e/test/scenarios/dashboard-cards/dashboard-card-reproductions.cy.spec.js
  e2e/test/scenarios/models/create.cy.spec.js
  e2e/test/scenarios/models/reproductions.cy.spec.js
  e2e/test/scenarios/models/reproductions.cy.spec.ts
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/onboarding/command-palette.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-2.cy.spec.js
  e2e/test/scenarios/question/notebook-native-preview-sidebar.cy.spec.ts
  e2e/test/scenarios/question/notebook.cy.spec.js
  frontend/src/metabase/components/NewItemMenu/NewItemMenu.tsx
  frontend/src/metabase/containers/NewItemMenu/NewItemMenu.tsx
  frontend/src/metabase/containers/NewItemMenu/NewItemMenu.unit.spec.tsx
Due: front-end

Bump io.github.eerohele/pp from 9598f4c72b528480a85ea41651c45b08d1717428 to 4998a1fdd9d3713d7034d04509e9212204773bf2 (#57577)
  deps.edn
Due: none

[Admin] Modernize components for People + Groups pages (#57365)
  enterprise/frontend/src/metabase-enterprise/audit_app/components/UnsubscribeUserForm/UnsubscribeUserForm.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/index.js
  enterprise/frontend/src/metabase-enterprise/audit_app/routes.jsx
  frontend/src/metabase/admin/people/colors.ts
  frontend/src/metabase/admin/people/components/AddMemberRow.tsx
  frontend/src/metabase/admin/people/components/AddRow.tsx
  frontend/src/metabase/admin/people/components/GroupDetail.tsx
  frontend/src/metabase/admin/people/components/GroupMembersTable/GroupMembersTable.tsx
  frontend/src/metabase/admin/people/components/GroupMembersTable/index.ts
  frontend/src/metabase/admin/people/components/GroupSummary.tsx
  frontend/src/metabase/admin/people/components/GroupsListing.tsx
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.module.css
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.tsx
  frontend/src/metabase/admin/people/components/PeopleList.tsx
  frontend/src/metabase/admin/people/components/PeopleListRow.tsx
  frontend/src/metabase/admin/people/containers/EditUserModal/EditUserModal.tsx
  frontend/src/metabase/admin/people/containers/NewUserModal.tsx
  frontend/src/metabase/admin/people/containers/PeopleListingApp.tsx
  frontend/src/metabase/admin/people/containers/UserActivationModal.tsx
  frontend/src/metabase/admin/people/containers/UserPasswordResetModal.tsx
  frontend/src/metabase/admin/people/containers/UserSuccessModal.tsx
  frontend/src/metabase/admin/people/forms/UserForm.tsx
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/admin/settings/components/widgets/GroupMappingsWidget/GroupSelect/GroupSelect.tsx
  frontend/src/metabase/components/ConfirmModal/ConfirmModal.tsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/query_builder/components/MoveQuestionModal/MoveQuestionModal.tsx
  frontend/src/metabase/query_builder/components/expressions/Editor/CloseModal/CloseModal.tsx
  frontend/src/metabase/ui/components/inputs/Pill/index.ts
Due: front-end

[Notification] reduce module apis (#57678)
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/sso/integrations/sso_utils.clj
  src/metabase/notification/api.clj
  src/metabase/notification/core.clj
  src/metabase/notification/events/notification.clj
  src/metabase/pulse/api/alert.clj
  src/metabase/pulse/api/pulse.clj
  test/metabase/notification/events/notification_test.clj
Due: back-end

Bump com.google.guava/guava from 33.4.6-jre to 33.4.8-jre (#56952)
  deps.edn
  modules/drivers/mongo/deps.edn
Due: none

Bump org.eclipse.jetty.ee9.websocket/jetty-ee9-websocket-jetty-server from 12.0.19 to 12.0.20 (#57579)
  deps.edn
Due: none

Bump thheller/shadow-cljs from 2.28.21 to 2.28.23 (#56657)
  deps.edn
Due: none

Bump com.taoensso/nippy from 3.4.2 to 3.5.0 (#56953)
  deps.edn
Due: none

Bump refactor-nrepl/refactor-nrepl from 3.10.0 to 3.11.0 (#57584)
  deps.edn
Due: none

fix: toolbar button color not changing on hover (#56694)
  frontend/src/metabase/components/ToolbarButton/ToolbarButton.tsx
Due: front-end

[Backend modularization] `view-log` module (DEV-427) (#57628)
  .clj-kondo/config/modules/config.edn
  src/metabase/core/init.clj
  src/metabase/events/init.clj
  src/metabase/events/schema.clj
  src/metabase/models/resolution.clj
  src/metabase/models/user.clj
  src/metabase/query_processor/middleware/process_userland_query.clj
  src/metabase/view_log/core.clj
  src/metabase/view_log/events/view_log.clj
  src/metabase/view_log/init.clj
  src/metabase/view_log/models/view_log.clj
  src/metabase/view_log/models/view_log_impl.clj
  test/metabase/view_log/events/view_log_test.clj
Due: back-end

Bump com.ibm.icu/icu4j from 76.1 to 77.1 (#55241)
  deps.edn
Due: none

fix: do not render gauge if grouping col is date (#56715)
  frontend/src/metabase/visualizations/visualizations/Gauge/Gauge.jsx
Due: front-end

Bump org.apache.calcite.avatica/avatica from 1.25.0 to 1.26.0 (#54171)
  modules/drivers/druid-jdbc/deps.edn
Due: none

Bump org.jsoup/jsoup from 1.19.1 to 1.20.1 (#57583)
  deps.edn
Due: none

Bump babashka/fs from 0.5.24 to 0.5.25 (#57575)
  deps.edn
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
