Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

bug fixes and better state organization
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotChat/MetabotAgentSuggestionMessage.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/context.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/state/reducer.ts
  enterprise/frontend/src/metabase-enterprise/transforms/hooks/use-source-state.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformPage/CreateTransformModal/CreateTransformModal.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformPage/NewTransformPage.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
Due: front-end

change small funnel text to 13px
  frontend/src/metabase/visualizations/components/FunnelNormal.jsx
Due: front-end

Import packages when initializing
  resources/frontend_client/app/assets/pyodide.worker.js
Due: none

tweak the number of y-axis tick marks when set to auto for small charts
  frontend/src/metabase/visualizations/echarts/cartesian/model/axis.ts
  frontend/src/metabase/visualizations/echarts/cartesian/model/index.ts
  frontend/src/metabase/visualizations/echarts/cartesian/option/index.unit.spec.ts
  frontend/src/metabase/visualizations/echarts/cartesian/scatter/model/index.ts
  frontend/src/metabase/visualizations/visualizations/CartesianChart/use-models-and-option.ts
Due: front-end

Make packages configurable for the worker
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms-python/services/pyodide-worker-manager.ts
  resources/frontend_client/app/assets/pyodide.worker.js
Due: front-end

Rename manager to pool
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms-python/services/pyodide-worker-pool.ts
Due: front-end

Disable undefined variable lint
  resources/frontend_client/app/assets/pyodide.worker.js
Due: none

UXW-1833: show backend error when saving invalid git settings
  enterprise/frontend/src/metabase-enterprise/git_sync/GitSyncSettings.tsx
Due: front-end

Return error string in response when model ID is a question instead of 404 (#64342)
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
Due: back-end

Fix skipped viz test issue 22527
  e2e/test/scenarios/visualizations-charts/visualizations-charts-reproductions.cy.spec.js
Due: none

Kondo (second pass)
  .clj-kondo/config/modules/config.edn
  src/metabase/dashboards/api.clj
  src/metabase/lib/card.cljc
  src/metabase/lib/schema.cljc
  src/metabase/parameters/custom_values.clj
  src/metabase/queries/models/card.clj
  src/metabase/query_processor.clj
  src/metabase/query_processor/dashboard.clj
  src/metabase/query_processor/middleware/annotate/legacy_helper_fns.clj
  src/metabase/query_processor/middleware/cache.clj
  src/metabase/query_processor/util/add_alias_info.clj
  src/metabase/query_processor/util/nest_query.clj
  test/metabase/dashboards/api_test.clj
Due: back-end

refactor: Remove DataSize semantic types, use name-based detection
  frontend/src/metabase-lib/v1/types/utils/isa.js
  frontend/src/metabase-lib/v1/types/utils/isa.unit.spec.js
  frontend/src/metabase/visualizations/shared/settings/column.ts
  src/metabase/analyze/classifiers/name.clj
  src/metabase/types/core.cljc
  test/metabase/analyze/classifiers/name_test.clj
Due: back-end, front-end

Fix stray parameter
  test/metabase/query_processor_test/parameters_test.clj
Due: none

Return error string in response when model ID is a question instead of 404 (#64342) (#64346)
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
Due: back-end

Update generated docs (master)
  docs/api.html
Due: none

Unskip working pivot-tables test
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
Due: none

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/DependencyFlow.module.css
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/DependencyFlow.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/EntityNode/EntityNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/EntityNode/index.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/EntityNode/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/EntityPanel/EntityPanel.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/EntityPanel/index.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/EntityPanel/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/GroupNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/index.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/ItemNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/index.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/constants.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils.ts
  frontend/src/metabase-types/api/dependencies.ts
Due: front-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/DependencyFlow.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/GroupNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/ItemNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils.ts
Due: front-end

Unskip working Save modal test
  e2e/test/scenarios/question/saved.cy.spec.js
Due: none

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/GroupNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils.ts
Due: front-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/DependencyFlow.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/ItemNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/utils.ts
  frontend/src/metabase-types/api/dependencies.ts
Due: front-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/DependencyFlow.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/constants.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/common.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/graph.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/layout.ts
Due: front-end

Remove unused imports
  enterprise/frontend/src/metabase-enterprise/transforms-python/services/pyodide-worker-pool.ts
Due: front-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/DependencyFlow.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/GroupNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/ItemNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/collapsing.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/common.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/graph.ts
Due: front-end

Pick worker that is ready in pool
  enterprise/frontend/src/metabase-enterprise/transforms-python/services/pyodide-worker-pool.ts
Due: front-end

Test fix :wrench:
  src/metabase/queries/models/card.clj
Due: back-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/GroupNode/GroupNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/ItemNode.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/NodeControls/NodeControls.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/NodeControls/index.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/collapsing.ts
Due: front-end

parameters.schema needs to be cljc
  src/metabase/parameters/schema.cljc
Due: back-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/utils/collapsing.ts
Due: front-end

New format
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyFlow/ItemNode/ItemNode.tsx
Due: front-end

Test fixes :wrench:
  src/metabase/queries/models/query.clj
  test/metabase/query_processor/middleware/add_implicit_clauses_test.clj
Due: back-end

fix failing e2e tests
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-entity.cy.spec.ts
Due: none

Test fixes :wrench:
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
Due: back-end

WIP: don't call fetchDashboard for questions
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/hooks/use-get-current-resource.ts
Due: front-end

WIP: apply static embedding setting change side effects in a helper
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SdkIframeEmbedSetupProvider.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SelectEmbedExperienceStep.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SelectEmbedOptionsStep.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/hooks/use-settings.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/types.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/get-adjusted-sdk-iframe-embed-setting.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/get-default-sdk-iframe-embed-setting.ts
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
