Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

fix: show query bar even when only one data point remains (#73628)
  frontend/src/metabase/embedding/mcp/McpQueryBar.tsx
  frontend/src/metabase/embedding/mcp/McpQueryBar.unit.spec.tsx
  frontend/src/metabase/embedding/mcp/QueryExplorerBar/QueryExplorerBar.tsx
  frontend/src/metabase/embedding/mcp/QueryExplorerBar/QueryExplorerBar.unit.spec.tsx
Due: front-end

fix: images
  resources/frontend_client/app/assets/img/upsell-ai-customization.png
  resources/frontend_client/app/assets/img/upsell-ai-system-prompts.png
Due: none

Simplified ::ExplorationDocument
  src/metabase/explorations/api.clj
Due: back-end

Redshift workspace destroy: use DROP OWNED BY instead of svv_relation_privileges
  modules/drivers/redshift/src/metabase/driver/redshift.clj
Due: none

Fix collection edit modal being closed when a parent collection is selected in the entity picker
  enterprise/frontend/src/metabase-enterprise/data-studio/library/LibraryPage/components/LibraryCollectionRowMenu.tsx
  frontend/src/metabase/collections/components/CollectionRowMenu/CollectionRowMenu.tsx
  frontend/src/metabase/collections/components/CollectionRowMenu/EditCollectionModal/EditCollectionModal.tsx
  frontend/src/metabase/collections/containers/FormCollectionPicker/FormCollectionPicker.tsx
  frontend/src/metabase/common/components/Pickers/EntityPicker/components/EntityPickerModal.tsx
Due: front-end

🤖 backported "feat: confirmation modal when disconnecting AI provider" (#73680)
  frontend/src/metabase/metabot/components/MetabotAdmin/MetabotSetup.tsx
  frontend/src/metabase/metabot/components/MetabotAdmin/MetabotSetup.unit.spec.tsx
Due: front-end

useMetabot hook draft
  docs/embedding/components.md
  docs/embedding/images/ai-chat-dedicated-chart.png
  docs/embedding/images/ai-chat-inline-chart.png
  docs/embedding/sdk/ai-chat.md
  docs/embedding/sdk/snippets/questions/use-metabot-dedicated-chart.tsx
  docs/embedding/sdk/snippets/questions/use-metabot-inline-charts.tsx
  frontend/src/embedding-sdk-bundle/types/metabot.ts
Due: front-end

hide x and y axis labels
  frontend/src/metabase/embedding/mcp/McpUiAppRoute.tsx
  frontend/src/metabase/embedding/mcp/McpUiAppRoute.utils.ts
  frontend/src/metabase/embedding/mcp/McpUiAppRoute.utils.unit.spec.ts
Due: front-end

Tests: RENAME-on-input deny + MySQL GRANT / Snowflake USE WAREHOUSE quirks
  enterprise/backend/test/metabase_enterprise/workspaces/driver_isolation_test.clj
Due: back-end

Test no PUBLIC / anonymous default-grant leakage after init+grant
  enterprise/backend/test/metabase_enterprise/workspaces/driver_isolation_test.clj
Due: back-end

Add cancelled check for sdk-tests (#71307)
  .github/workflows/run-tests.yml
Due: none

🤖 backported "Add cancelled check for sdk-tests" (#73685)
  .github/workflows/run-tests.yml
Due: none

PoC: Performance tests e2e refinement (#73595)
  e2e/support/helpers/e2e-caching-helpers.ts
  e2e/support/helpers/index.ts
  e2e/test/scenarios/admin/database-routing/database-routing-admin.cy.spec.ts
  e2e/test/scenarios/admin/database-routing/database-routing-usage.cy.spec.ts
  e2e/test/scenarios/admin/performance/caching.cy.spec.ts
  e2e/test/scenarios/admin/performance/clock.cy.spec.ts
  e2e/test/scenarios/admin/performance/dashboardsAndQuestions.cy.spec.ts
  e2e/test/scenarios/admin/performance/helpers/constants.ts
  e2e/test/scenarios/admin/performance/helpers/e2e-performance-helpers.ts
  e2e/test/scenarios/admin/performance/helpers/e2e-strategy-form-helpers.ts
  e2e/test/scenarios/admin/performance/helpers/modals-helpers.ts
  e2e/test/scenarios/admin/performance/helpers/types.ts
  e2e/test/scenarios/admin/performance/preemptiveCaching.cy.spec.ts
  e2e/test/scenarios/admin/performance/schedule.cy.spec.ts
  e2e/test/scenarios/admin/performance/strategyForm.cy.spec.ts
  e2e/test/scenarios/dashboard/dashboard.cy.spec.js
  e2e/test/scenarios/permissions/impersonated.cy.spec.js
  e2e/test/scenarios/question/caching.cy.spec.js
  e2e/test/scenarios/search/recently-viewed.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase/admin/performance/components/ModelPersistenceConfiguration.unit.spec.tsx
  frontend/src/metabase/admin/performance/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase/common/components/Schedule/Schedule.unit.spec.tsx
  frontend/src/metabase/common/components/Schedule/test-utils.tsx
Due: front-end

Fix path
  frontend/src/metabase/admin/performance/components/ModelPersistenceConfiguration.unit.spec.tsx
Due: front-end

fix(sdk,embed-js): Refactor query handling to show aggregations/breakout for the last non-empty stage (#72219)
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/Breakout/use-breakout-data.ts
Due: front-end

Convert metabase/utils files to TypeScript, part 2 (#72679)
  frontend/src/metabase/utils/card.unit.spec.ts
Due: front-end

Merge `metabase-lib/v1/utils/card` and `metabase/utils/card` into `metabase/common/utils/card` (#72609)
  frontend/src/metabase/utils/card.unit.spec.ts
Due: front-end

Refactor breakout handling to utilize custom query handlers (#73093)
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/Breakout/use-breakout-data.ts
Due: front-end

remove incorrect rebase changes
  frontend/src/metabase/app-embed-mcp.tsx
  frontend/src/metabase/embedding/mcp/McpUiAppRoute.tsx
  frontend/src/metabase/embedding/mcp/utils/buildMcpAppsTheme.ts
  frontend/src/metabase/embedding/mcp/utils/resolveConcreteColor.tsx
  rspack.main.config.js
Due: front-end

feat: MCP Apps implementation for visualizing queries
  .clj-kondo/config/modules/config.edn
  .gitignore
  bin/find-never-defined-css-variables/find-never-defined-css-variables.ts
  bun.lock
  enterprise/frontend/src/embedding-sdk-ee/auth/auth.ts
  eslint.config.mjs
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestionDefaultView/SdkQuestionDefaultView.tsx
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.schema.ts
  frontend/src/embedding-sdk-bundle/components/public/SdkQuestion/SdkQuestion.tsx
  frontend/src/embedding-sdk-bundle/hooks/private/use-normalize-component-provider-props.ts
  frontend/src/embedding-sdk-bundle/lib/usage-problem.ts
  frontend/src/metabase/app-embed-mcp.tsx
  frontend/src/metabase/embedding-sdk/config.ts
  frontend/src/metabase/embedding/mcp/McpUiAppRoute.tsx
  frontend/src/metabase/embedding/mcp/hooks/useMcpApp.tsx
  frontend/src/metabase/embedding/mcp/utils/buildMcpAppsTheme.ts
  frontend/src/metabase/embedding/mcp/utils/resolveConcreteColor.tsx
  frontend/src/metabase/embedding/mcp/utils/resolveConcreteColor.unit.spec.ts
  frontend/src/types/modelcontextprotocol.d.ts
  package.json
  resources/frontend_client/mcp_apps_template.html
  rspack.main.config.js
  src/metabase/mcp/api.clj
  src/metabase/mcp/resources.clj
  src/metabase/mcp/scope.clj
  src/metabase/mcp/tools.clj
  src/metabase/oauth_server/core.clj
  test/metabase/mcp/api_test.clj
  test/metabase/mcp/scope_test.clj
  test/metabase/mcp/tools_test.clj
Due: back-end, front-end

Stateless MCP sessions (#71819)
  .clj-kondo/config/modules/config.edn
  src/metabase/mcp/api.clj
  src/metabase/mcp/core.clj
  src/metabase/mcp/resources.clj
  src/metabase/mcp/session.clj
  src/metabase/mcp/settings.clj
  src/metabase/oauth_server/api/metadata.clj
  src/metabase/oauth_server/core.clj
  test/metabase/cmd/copy_test.clj
  test/metabase/mcp/api_test.clj
  test/metabase/mcp/session_test.clj
Due: back-end

Expand `construct_query` MCP tool description
  src/metabase/agent_api/api.clj
Due: back-end

Produce a renderable pseudo-card from `query->url-hash`
  src/metabase/metabot/agent/links.clj
  test/metabase/metabot/agent/links_test.clj
Due: back-end

Preserve field options through agent_lib repair
  src/metabase/agent_lib/eval/args.clj
  src/metabase/agent_lib/repair/normalize.clj
  src/metabase/agent_lib/repair/normalize/forms.clj
  src/metabase/agent_lib/repair/normalize/top_level.clj
  test/metabase/agent_lib/eval_test.clj
  test/metabase/agent_lib/repair/normalize/forms_test.clj
  test/metabase/agent_lib/repair_test.clj
Due: back-end

Add workflow and pitfalls sections to `construct_query` description
  src/metabase/agent_api/api.clj
Due: back-end

fix: add ^java.io.File type hints to resolve Eastwood reflection warnings
  enterprise/backend/test/metabase_enterprise/data_complexity_score/cli_test.clj
Due: back-end

Add dimensions threshhold for picker phase
  frontend/src/metabase/explorations/components/NewExplorationChat/NewExplorationChat.tsx
  frontend/src/metabase/explorations/components/NewExplorationChat/NewExplorationChat.unit.spec.tsx
  frontend/src/metabase/explorations/components/NewExplorationData/AddMetricsModal.tsx
  frontend/src/metabase/explorations/components/NewExplorationData/AddMetricsModal.unit.spec.tsx
  frontend/src/metabase/explorations/constants.ts
Due: front-end

[Backport v58] Correctly serialize lists in SAML/JWS attributes (#73605) (#73669)
  enterprise/backend/src/metabase_enterprise/sandbox/models/params/field_values.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/sso_utils.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/jwt_test.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/sso_utils_test.clj
Due: back-end

fix: dated test
  frontend/src/metabase/admin/ai/MetabotNavPane.unit.spec.tsx
Due: front-end

address design feedback (#73644)
  e2e/test/scenarios/visualizations-charts/custom-viz.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/custom_viz/components/BundleDropzone.tsx
  enterprise/frontend/src/metabase-enterprise/custom_viz/components/CustomVizListItem.module.css
  enterprise/frontend/src/metabase-enterprise/custom_viz/components/CustomVizListItem.tsx
  enterprise/frontend/src/metabase-enterprise/custom_viz/components/CustomVizPage.tsx
Due: front-end

Disable flaky Redshift test on 57 (#73058)
  test/metabase/test/data/sql_jdbc_test.clj
Due: none

Fix flaky sync-materialized-views-test with auto-retry
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
Due: none

Move some code around.
  dev/src/dev/metadata_import_perf.clj
  enterprise/backend/src/metabase_enterprise/serialization/metadata_file_import.clj
  enterprise/backend/src/metabase_enterprise/serialization/metadata_file_import/parsers.clj
  enterprise/backend/src/metabase_enterprise/serialization/metadata_file_import/parsers/json.clj
  enterprise/backend/src/metabase_enterprise/serialization/metadata_file_import/parsers/yaml.clj
  enterprise/backend/src/metabase_enterprise/serialization/metadata_file_import/processors.clj
  enterprise/backend/src/metabase_enterprise/serialization/metadata_file_import/schemas.clj
  enterprise/backend/test/metabase_enterprise/serialization/metadata_file_import/parsers/json_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/metadata_file_import/parsers/yaml_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/metadata_file_import/parsers_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/metadata_file_import/processors_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/metadata_file_import/schemas_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/metadata_file_import_test.clj
  src/metabase/core/config_from_file.clj
Due: back-end

Drop cljs from timezone tests
  .github/workflows/frontend.yml
  package.json
Due: none

🤖 backported "PoC: Performance tests e2e refinement" (#73679)
  e2e/support/helpers/e2e-caching-helpers.ts
  e2e/support/helpers/index.ts
  e2e/test/scenarios/admin/database-routing/database-routing-admin.cy.spec.ts
  e2e/test/scenarios/admin/database-routing/database-routing-usage.cy.spec.ts
  e2e/test/scenarios/admin/performance/caching.cy.spec.ts
  e2e/test/scenarios/admin/performance/clock.cy.spec.ts
  e2e/test/scenarios/admin/performance/dashboardsAndQuestions.cy.spec.ts
  e2e/test/scenarios/admin/performance/helpers/constants.ts
  e2e/test/scenarios/admin/performance/helpers/e2e-performance-helpers.ts
  e2e/test/scenarios/admin/performance/helpers/e2e-strategy-form-helpers.ts
  e2e/test/scenarios/admin/performance/helpers/modals-helpers.ts
  e2e/test/scenarios/admin/performance/helpers/types.ts
  e2e/test/scenarios/admin/performance/preemptiveCaching.cy.spec.ts
  e2e/test/scenarios/admin/performance/schedule.cy.spec.ts
  e2e/test/scenarios/admin/performance/strategyForm.cy.spec.ts
  e2e/test/scenarios/dashboard/dashboard.cy.spec.js
  e2e/test/scenarios/permissions/impersonated.cy.spec.js
  e2e/test/scenarios/question/caching.cy.spec.js
  e2e/test/scenarios/search/recently-viewed.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase/admin/performance/components/ModelPersistenceConfiguration.unit.spec.tsx
  frontend/src/metabase/admin/performance/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase/common/components/Schedule/Schedule.unit.spec.tsx
  frontend/src/metabase/common/components/Schedule/test-utils.tsx
Due: front-end

fix link
  docs/embedding/sdk/ai-chat.md
Due: none

Make some test names more readable
  enterprise/backend/test/metabase_enterprise/workspaces/e2e_test.clj
Due: back-end

Fix workspace setup args in e2e test
  enterprise/backend/test/metabase_enterprise/workspaces/e2e_test.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
