Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fixes to static-viz datetime formatter, in particular, issues #27020 and #27105 (#27339)
  frontend/test/metabase/scenarios/dashboard/reproductions/27020-27105-static-viz-date-formatting-failures.cy.spec.js
  src/metabase/pulse/render/datetime.clj
  test/metabase/pulse/render/body_test.clj
  test/metabase/pulse/render/datetime_test.clj
Due: back-end, front-end

rely on formik to handle null fields
  frontend/src/metabase/actions/containers/ActionParametersInputForm/utils.ts
Due: front-end

Test reducer
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/reducers.unit.spec.js
Due: front-end

pass nullable prop
  frontend/src/metabase/actions/components/ActionForm/ActionFormFieldWidget.tsx
Due: front-end

Add more coverage in e2e test
  frontend/test/metabase/scenarios/organization/timelines-question.cy.spec.js
Due: front-end

Update unit test
  frontend/src/metabase/timelines/questions/components/EventCard/EventCard.unit.spec.tsx
Due: front-end

Update src/metabase/api/collection.clj
  src/metabase/api/collection.clj
Due: back-end

ParameterSourceOptions -> ValuesSourceConfig
  src/metabase/util/schema.clj
Due: back-end

Address Cal's comments: - rename ns custom-values -> card-values - better naming for some functions - handle nil cases for source-type
  src/metabase/api/dashboard.clj
  src/metabase/models/params/card_values.clj
  test/metabase/models/params/card_values_test.clj
Due: back-end

Formatting
  src/metabase/server/middleware/session.clj
Due: back-end

revert fieldref changes
  src/metabase/sync/analyze/query_results.clj
  src/metabase/util/schema.clj
Due: back-end

fix linting
  src/metabase/api/dashboard.clj
Due: back-end

Remove wrong JSdoc types
  frontend/src/metabase/components/FieldValuesWidget.jsx
Due: front-end

Fix input widget with parameter using incorrect type
  frontend/src/metabase-lib/parameters/utils/parameter-type.ts
  frontend/src/metabase/components/FieldValuesWidget.jsx
Due: front-end

Address review
  frontend/test/metabase/scenarios/sharing/public.cy.spec.js
Due: front-end

Add a test
  frontend/test/metabase/scenarios/sharing/public.cy.spec.js
Due: front-end

Custom list rename source -> values_source (#27344)
  frontend/src/metabase-types/api/mocks/parameters.ts
  frontend/src/metabase-types/api/parameters.ts
  frontend/src/metabase/dashboard/actions/parameters.js
  frontend/src/metabase/parameters/components/ParameterListSourceModal/ParameterListSourceModal.tsx
  frontend/src/metabase/parameters/components/ParameterListSourceModal/ParameterListSourceModal.unit.spec.tsx
  frontend/src/metabase/parameters/components/ParameterSettings/ParameterSettings.tsx
  frontend/src/metabase/parameters/components/ParameterSidebar/ParameterSidebar.tsx
  frontend/src/metabase/parameters/components/ParameterSourceSettings/ParameterSourceSettings.tsx
  frontend/src/metabase/parameters/components/ParameterSourceSettings/ParameterSourceSettings.unit.spec.tsx
  frontend/src/metabase/parameters/utils/dashboards.ts
  src/metabase/api/dashboard.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/parameter_card.clj
  src/metabase/util/schema.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/models/dashboard_test.clj
Due: back-end, front-end

use mbql-field instead of field-ref
  src/metabase/models/params/card_values.clj
  src/metabase/util/schema.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/models/params/card_values_test.clj
Due: back-end

Fix failed E2E test due to wrong mock parameter type
  frontend/test/metabase/scenarios/filters/view.cy.spec.js
Due: front-end

Validate session-timeout in getter too
  src/metabase/server/middleware/session.clj
  test/metabase/server/middleware/session_test.clj
Due: back-end

Generalize product-triggered survey emails (#27348)
  src/metabase/email/messages.clj
  src/metabase/task/follow_up_emails.clj
  test/metabase/cmd/env_var_dox_test.clj
  test/metabase/task/follow_up_emails_test.clj
Due: back-end

Add docstring to check-session-timeout and make private
  src/metabase/server/middleware/session.clj
Due: back-end

Add repro for #25374 [ci skip]
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/25374-comma-separated-values-not-passed-to-question.cy.spec.js
Due: front-end

use mbql-field instead of field-ref
  src/metabase/api/dashboard.clj
  src/metabase/util/schema.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

Repro #25374: Comma-separated dashboard filter values not passed down to the question (#27381)
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/25374-comma-separated-values-not-passed-to-question.cy.spec.js
Due: front-end

remove debug code
  src/metabase/api/dashboard.clj
Due: back-end

wordings on docstring and comments
  src/metabase/models/params/card_values.clj
  src/metabase/sync/analyze/query_results.clj
  src/metabase/util/schema.clj
Due: back-end

remove unused code
  test/metabase/models/params/card_values_test.clj
Due: none

Fixes to static-viz datetime formatter, in particular, issues #27020 and #27105 (#27339) (#27378)
  frontend/test/metabase/scenarios/dashboard/reproductions/27020-27105-static-viz-date-formatting-failures.cy.spec.js
  src/metabase/pulse/render/datetime.clj
  test/metabase/pulse/render/body_test.clj
  test/metabase/pulse/render/datetime_test.clj
Due: back-end, front-end

test null handling
  frontend/src/metabase/actions/components/ActionForm/ActionForm.unit.spec.tsx
Due: front-end

Fix custom columns lose their definition in embeddings (#27119)
  frontend/src/metabase-lib/parameters/utils/parameter-type.ts
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/test/metabase/scenarios/filters/view.cy.spec.js
  frontend/test/metabase/scenarios/sharing/public.cy.spec.js
Due: front-end

note on full-app embedding
  docs/embedding/introduction.md
Due: none

Add comment
  frontend/src/metabase/query_builder/components/view/sidebars/TimelineSidebar/TimelineSidebar.tsx
Due: front-end

Make unit test consider uniqueness of items in reducer
  frontend/src/metabase/query_builder/reducers.unit.spec.js
Due: front-end

update getChangedValues test
  frontend/src/metabase/actions/containers/ActionParametersInputForm/utils.unit.spec.ts
Due: front-end

Action Form Validation (#27215)
  frontend/src/metabase-types/api/action-form-settings.ts
  frontend/src/metabase/actions/components/ActionForm/ActionForm.tsx
  frontend/src/metabase/actions/components/ActionForm/ActionForm.unit.spec.tsx
  frontend/src/metabase/actions/components/ActionForm/ActionFormFieldWidget.tsx
  frontend/src/metabase/actions/components/ActionForm/utils.ts
  frontend/src/metabase/actions/components/ActionViz/Action.tsx
  frontend/src/metabase/actions/components/ActionViz/utils.ts
  frontend/src/metabase/actions/containers/ActionParametersInputForm/ActionParametersInputForm.tsx
  frontend/src/metabase/actions/containers/ActionParametersInputForm/utils.ts
  frontend/src/metabase/actions/containers/ActionParametersInputForm/utils.unit.spec.ts
  frontend/src/metabase/components/FormCategoryInput/FormCategoryInput.tsx
  frontend/src/metabase/core/components/FormInput/FormInput.unit.spec.tsx
Due: front-end

Add repro for #25927 [ci skip]
  frontend/test/metabase/scenarios/filters/reproductions/25927-column-filters-not-working-after-cc.cy.spec.js
Due: front-end

hyphen
  docs/embedding/introduction.md
Due: none

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
