Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 35%
        threshold: 5%
        flags:
          - front-end

    patch:
      back-end:
        # Changes must have at least 75% test coverage (by line)
        target: 75%
        flags:
          - back-end

      front-end:
        target: 35%
        flags:
          - front-end

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase

  front-end:
    paths:
      - frontend

add open state class to EntityMenu
  frontend/src/metabase/components/EntityMenu.jsx
Due: front-end

Add PinnedItemCard component
  frontend/src/metabase/collections/components/PinnedItemCard/PinnedItemCard.stories.tsx
  frontend/src/metabase/collections/components/PinnedItemCard/PinnedItemCard.styled.tsx
  frontend/src/metabase/collections/components/PinnedItemCard/PinnedItemCard.tsx
  frontend/src/metabase/collections/components/PinnedItemCard/index.ts
Due: front-end

Add test for #13932
  modules/drivers/vertica/test/metabase/driver/vertica_test.clj
  test/metabase/driver/postgres_test.clj
  test/metabase/test/data/dataset_definitions.clj
Due: none

Add Exasol driver to list of community drivers
  docs/developers-guide-drivers.md
Due: none

make it happen
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/body.clj
Due: back-end

Remove button info
  frontend/src/metabase/components/Button.info.js
Due: front-end

Move toggle
  frontend/src/metabase/admin/datamodel/components/database/MetadataHeader.jsx
  frontend/src/metabase/admin/permissions/components/PermissionsSelect/PermissionsSelect.jsx
  frontend/src/metabase/admin/settings/components/widgets/SettingToggle.jsx
  frontend/src/metabase/components/Toggle.info.js
  frontend/src/metabase/components/form/widgets/FormBooleanWidget.jsx
  frontend/src/metabase/components/form/widgets/FormGroupsWidget.jsx
  frontend/src/metabase/core/components/Toggle/Toggle.stories.tsx
  frontend/src/metabase/core/components/Toggle/Toggle.styled.tsx
  frontend/src/metabase/core/components/Toggle/Toggle.tsx
  frontend/src/metabase/core/components/Toggle/index.ts
  frontend/src/metabase/parameters/components/ParameterSidebar.jsx
  frontend/src/metabase/public/components/widgets/SharingPane.jsx
  frontend/src/metabase/pulse/components/PulseEditChannels.jsx
  frontend/src/metabase/pulse/components/PulseEditSkip.jsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.jsx
  frontend/src/metabase/query_builder/components/view/QuestionPreviewToggle.jsx
  frontend/src/metabase/setup/components/PreferencesStep/PreferencesStep.styled.tsx
  frontend/src/metabase/sharing/components/AddEditSidebar.jsx
  frontend/src/metabase/sharing/components/EmailAttachmentPicker.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPartition.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingToggle.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting.jsx
Due: front-end

Add tests
  frontend/src/metabase/core/components/Toggle/Toggle.unit.spec.tsx
Due: front-end

not borked now
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/body.clj
Due: back-end

Add focus ring
  frontend/src/metabase/css/components/buttons.css
Due: front-end

Unskip repro for #15352
  frontend/test/metabase/scenarios/question/nested.cy.spec.js
Due: front-end

Add focus ring
  frontend/src/metabase/core/components/Toggle/Toggle.styled.tsx
  frontend/src/metabase/core/components/Toggle/Toggle.tsx
  frontend/src/metabase/core/components/Toggle/Toggle.unit.spec.tsx
Due: front-end

Add focus ring
  frontend/src/metabase/core/components/Toggle/Toggle.styled.tsx
Due: front-end

Add focus ring
  frontend/src/metabase/core/components/Button/Button.unit.spec.tsx
Due: front-end

Add focus ring
  frontend/src/metabase/core/components/Toggle/Toggle.unit.spec.tsx
Due: front-end

Fixes layout issue
  frontend/src/metabase/core/components/Toggle/Toggle.styled.tsx
Due: front-end

Fix conditional logic in geojson api endpoint (#19760)
  src/metabase/api/geojson.clj
Due: back-end

Forward ref
  frontend/src/metabase/core/components/Toggle/Toggle.tsx
Due: front-end

Removing archived items
  docs/enterprise-guide/serialization.md
Due: none

Handle undefiend question
  frontend/src/metabase/query_builder/components/template_tags/CardTagEditor.jsx
Due: front-end

Unskip repro for #15352 (#19770)
  frontend/test/metabase/scenarios/question/nested.cy.spec.js
Due: front-end

Correct previous migration name
  resources/migrations/000_migrations.yaml
Due: none

fix more typos
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/results_metadata_test.clj
  test/metabase/query_processor/util/add_alias_info_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Due: none

fix misc typos
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/13150-additional-card-queries-for-all-filters.cy.spec.js
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/15279-gracefully-deal-with-corrupted-filter.cy.spec.js
  frontend/test/metabase/scenarios/dashboard-filters/reproductions/17211-false-no-matching-filter-alert.cy.spec.js
  frontend/test/metabase/scenarios/native-filters/reproductions/14145.cy.spec.js
  test/metabase/query_processor/middleware/add_implicit_joins_test.clj
Due: front-end

rename files
  frontend/test/__support__/e2e/commands/database/addH2SampleDatabase.js
  frontend/test/__support__/e2e/cypress_sample_database.js
  frontend/test/__support__/sample_database_fixture.js
  frontend/test/__support__/sample_database_fixture.json
  test/metabase/sample_database_test.clj
  test/metabase/test/data/dataset_definitions/sample-database.edn
Due: front-end

revert changes to api-documentation.md
  docs/api-documentation.md
Due: none

more fixes
  test/metabase/api/dashboard_test.clj
  test/metabase/api/dataset_test.clj
  test/metabase/api/embed_test.clj
  test/metabase/api/preview_embed_test.clj
  test/metabase/api/public_test.clj
Due: none

fix a cypress test
  frontend/test/metabase/scenarios/admin/databases/edit.cy.spec.js
Due: front-end

post-rebase fixes
  modules/drivers/sqlite/test/metabase/driver/sqlite_test.clj
  test/metabase/driver/sql/query_processor_test.clj
  test/metabase/query_processor/middleware/upgrade_field_literals_test.clj
  test/metabase/query_processor/util/nest_query_test.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/explicit_joins_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
  test/metabase/query_processor_test/string_extracts_test.clj
Due: none

revert backend test dataset name change
  modules/drivers/bigquery-cloud-sdk/test/metabase/driver/bigquery_cloud_sdk/query_processor_test.clj
  modules/drivers/bigquery/test/metabase/driver/bigquery/query_processor_test.clj
  test/metabase/api/card_test.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/api/dataset_test.clj
  test/metabase/api/embed_test.clj
  test/metabase/api/pivots.clj
  test/metabase/api/preview_embed_test.clj
  test/metabase/api/public_test.clj
  test/metabase/automagic_dashboards/core_test.clj
  test/metabase/driver/common/parameters/values_test.clj
  test/metabase/driver/sql/query_processor_test.clj
  test/metabase/query_processor/dashboard_test.clj
  test/metabase/query_processor/middleware/add_dimension_projections_test.clj
  test/metabase/query_processor/middleware/add_implicit_clauses_test.clj
  test/metabase/query_processor/middleware/add_implicit_joins_test.clj
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor/middleware/auto_bucket_datetimes_test.clj
  test/metabase/query_processor/middleware/fix_bad_references_test.clj
  test/metabase/query_processor/middleware/parameters/native_test.clj
  test/metabase/query_processor/middleware/parameters_test.clj
  test/metabase/query_processor/middleware/resolve_joined_fields_test.clj
  test/metabase/query_processor/middleware/results_metadata_test.clj
  test/metabase/query_processor/middleware/upgrade_field_literals_test.clj
  test/metabase/query_processor/pivot_test.clj
  test/metabase/query_processor/util/add_alias_info_test.clj
  test/metabase/query_processor/util/nest_query_test.clj
  test/metabase/query_processor_test/case_test.clj
  test/metabase/query_processor_test/explicit_joins_test.clj
  test/metabase/query_processor_test/expression_aggregations_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/query_processor_test/implicit_joins_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
  test/metabase/query_processor_test/remapping_test.clj
  test/metabase/query_processor_test/string_extracts_test.clj
  test/metabase/sync/util_test.clj
  test/metabase/test/data/dataset_definitions.clj
Due: none

Add dataset metadata strength indicator (#19194)
  frontend/src/metabase/components/ProgressBar.jsx
  frontend/src/metabase/components/Tooltip/Tooltip.tsx
  frontend/src/metabase/hooks/use-hover.ts
  frontend/src/metabase/lib/data-modeling/metadata.ts
  frontend/src/metabase/lib/data-modeling/metadata.unit.spec.js
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetManagementSection.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetManagementSection.styled.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetMetadataStrengthIndicator/DatasetMetadataStrengthIndicator.styled.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetMetadataStrengthIndicator/DatasetMetadataStrengthIndicator.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetMetadataStrengthIndicator/DatasetMetadataStrengthIndicator.unit.spec.js
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetMetadataStrengthIndicator/index.ts
Due: front-end

Add basic dataset metadata editor UI (#19206)
  frontend/src/metabase/App.jsx
  frontend/src/metabase/components/EditBar.jsx
  frontend/src/metabase/components/Icon.tsx
  frontend/src/metabase/icon_paths.ts
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/DatasetFieldMetadataSidebar.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/DatasetFieldMetadataSidebar.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/index.js
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetQueryEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/EditorTabs.styled.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/EditorTabs.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/index.ts
  frontend/src/metabase/query_builder/components/DatasetEditor/ResizableNotebook/ResizableNotebook.jsx
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
  frontend/src/metabase/query_builder/components/VisualizationResult.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetManagementSection.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
  frontend/src/metabase/query_builder/utils.js
  frontend/src/metabase/routes.jsx
  frontend/src/metabase/visualizations/components/TableInteractive.jsx
  frontend/src/metabase/visualizations/components/Visualization.jsx
Due: front-end

Repeat "Metadata editor styling" (#19397) (#19425)
  frontend/src/metabase/components/EditBar.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/EditorTabs.styled.tsx
Due: front-end

Manage column formatting for datasets + add extra form fields (UI) (#19291)
  frontend/src/metabase-lib/lib/metadata/Field.ts
  frontend/src/metabase/admin/datamodel/containers/FieldApp.jsx
  frontend/src/metabase/admin/settings/components/widgets/FormattingWidget.jsx
  frontend/src/metabase/components/AccordionList/AccordionList.jsx
  frontend/src/metabase/components/Icon.tsx
  frontend/src/metabase/components/Radio.jsx
  frontend/src/metabase/components/Radio.styled.jsx
  frontend/src/metabase/components/SelectButton.tsx
  frontend/src/metabase/components/form/CustomForm.jsx
  frontend/src/metabase/query_builder/components/DataSelector.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/DatasetFieldMetadataSidebar.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/DatasetFieldMetadataSidebar.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/MappedFieldPicker/MappedFieldPicker.styled.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/MappedFieldPicker/MappedFieldPicker.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/MappedFieldPicker/index.ts
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/CurrencyPicker.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/CurrencyPicker.styled.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/FKTargetPicker.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/SemanticTypePicker.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/SemanticTypePicker.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/index.js
  frontend/src/metabase/query_builder/components/view/sidebars/DatasetManagementSection/DatasetMetadataStrengthIndicator/DatasetMetadataStrengthIndicator.tsx
  frontend/src/metabase/visualizations/components/ChartSettingsWidget.jsx
  frontend/src/metabase/visualizations/components/ChartSettingsWidget.styled.tsx
  frontend/src/metabase/visualizations/components/ChartSettingsWidget.tsx
  frontend/src/metabase/visualizations/components/ColumnSettings.jsx
  frontend/src/metabase/visualizations/visualizations/Table.jsx
  frontend/test/metabase/scenarios/visualizations/table.cy.spec.js
Due: front-end

Add tab-key navigation for metadata editor (#19379)
  frontend/src/metabase/components/AccordionList/AccordionList.jsx
  frontend/src/metabase/components/Input/Input.styled.tsx
  frontend/src/metabase/components/Input/Input.tsx
  frontend/src/metabase/components/Select.jsx
  frontend/src/metabase/components/SelectButton.tsx
  frontend/src/metabase/components/Triggerable.jsx
  frontend/src/metabase/components/form/CustomForm.jsx
  frontend/src/metabase/components/form/FormWidget.jsx
  frontend/src/metabase/components/form/widgets/FormInputWidget.jsx
  frontend/src/metabase/components/form/widgets/FormTextAreaWidget/FormTextAreaWidget.jsx
  frontend/src/metabase/icon_paths.ts
  frontend/src/metabase/query_builder/components/DataSelector.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/DatasetFieldMetadataSidebar.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/DatasetFieldMetadataSidebar.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/MappedFieldPicker/MappedFieldPicker.styled.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/MappedFieldPicker/MappedFieldPicker.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/SemanticTypePicker.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetFieldMetadataSidebar/SemanticTypePicker/SemanticTypePicker.styled.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetQueryEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/TabHintToast/TabHintToast.styled.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/TabHintToast/TabHintToast.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/TabHintToast/index.ts
  frontend/src/metabase/query_builder/components/DatasetEditor/constants.ts
  frontend/src/metabase/query_builder/components/VisualizationResult.jsx
  frontend/src/metabase/visualizations/components/TableInteractive.jsx
Due: front-end

update links, remove duplicate login page
  docs/troubleshooting-guide/loggingin.md
  docs/users-guide/01-what-is-metabase.md
  docs/users-guide/03-basic-exploration.md
  docs/users-guide/account-settings.md
  docs/users-guide/writing-sql.md
Due: none
