Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

upstream "origin/uxw-2450-fix-highlighting-of-my-tenant-collection-in-the-entity" deleted out of band
  branches/uxw-2450-fix-highlighting-of-my-tenant-collection-in-the-entity
Due: none

upstream "origin/uxw-2472-hide-tenant-collections-section-when-there-are-no-visible" deleted out of band
  branches/uxw-2472-hide-tenant-collections-section-when-there-are-no-visible
Due: none

upstream "origin/uxw-2474-fix-external-group-tooltip-referencing-all-internal-users" deleted out of band
  branches/uxw-2474-fix-external-group-tooltip-referencing-all-internal-users
Due: none

upstream "origin/uxw-2457-hide-tenant-collections-sidebar-section-when-no-collections" deleted out of band
  branches/uxw-2457-hide-tenant-collections-sidebar-section-when-no-collections
Due: none

add leaflet draw draw:created type augmentation
  frontend/src/metabase/visualizations/components/LeafletMap.tsx
  frontend/src/types/leaflet-draw-events.d.ts
Due: front-end

sync: propagate merged branches
  branches/emb-1003-remove-edit-permissions-in-ellipsis-menu-when-viewing-tenant
  branches/emb-1004-when-adding-users-to-tenant-group-from-within-tenant-group
  branches/emb-1005-close-the-modal-when-creating-a-tenants-collection-right-now
  branches/emb-1007-setup-multi-tenancy-from-guide-in-embedding-hub
  branches/emb-1012-throw-specific-error-messages-when-tenant-id-mismatches-with
  branches/emb-1041-show-internal-users-in-place-of-people-when-tenants-is
  branches/emb-1046-fix-failing-frontend-e2e-and-unit-tests-on-tenants-rebased
  branches/emb-1047-update-design-of-the-user-strategy-modal-for-tenants
  branches/emb-1048-update-design-of-the-tenants-listing-page
  branches/emb-1083-show-dedicated-tenant-collections-in-entity-pickers-for
  branches/emb-1088-tenant-collection-content-does-not-show-up-on-embedding
  branches/emb-1090-multi-stage-embedding-data-picker-should-query-models-and
  branches/emb-320-setup-new-interactive-embedding-route-with-ee-plugins
  branches/emb-355-setup-end-to-end-tests-for-using-the-embedv1js-library
  branches/emb-442-tests-for-sso-authentication-for-new-iframe-embedding
  branches/emb-450-ability-to-select-auth-method-in-new-iframe-embedding
  branches/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
  branches/emb-622-allow-toggling-question-title-in-iframe-embed-flow
  branches/emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
  branches/emb-848-pre-select-dashboard-and-question-when-embed-flow-is-opened
  branches/emb-962-compute-default-theme-colors-based-on-appearance-settings
  branches/new-iframe-embedding-rename-to-embed-js
  branches/uxw-2441-hide-create-shared-tenant-collection-button-on-sidebar-for
  branches/uxw-2450-fix-highlighting-of-my-tenant-collection-in-the-entity
  branches/uxw-2455-hide-tenant-collections-permissions-tab-when-tenants-are
  branches/uxw-2457-hide-tenant-collections-sidebar-section-when-no-collections
  branches/uxw-2472-hide-tenant-collections-section-when-there-are-no-visible
  branches/uxw-2474-fix-external-group-tooltip-referencing-all-internal-users
Due: none

initialize store
  repo
  version
Due: none

track integration-embedding-onboarding-improvements with base master
  branches/integration-embedding-onboarding-improvements
Due: none

track emb-1179-the-embedding-wizard-should-default-to-newly-created with base integration-embedding-onboarding-improvements
  branches/emb-1179-the-embedding-wizard-should-default-to-newly-created
Due: none

track emb-1180-mark-get-embed-snippet-card-as-done-on-guest-embedding with base integration-embedding-onboarding-improvements
  branches/emb-1180-mark-get-embed-snippet-card-as-done-on-guest-embedding
Due: none

track emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level with base integration-embedding-onboarding-improvements
  branches/emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level
Due: none

Add "configure data permissions and enable tenants" skeleton for onboarding (#68895)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  resources/frontend_client/app/assets/img/embedding-onboarding/multi-tenant-user-strategy.svg
  resources/frontend_client/app/assets/img/embedding_hub_create_embed.png
  resources/frontend_client/app/assets/img/embedding_hub_create_embed@2x.png
  resources/frontend_client/app/assets/img/embedding_hub_row_column_security.png
  resources/frontend_client/app/assets/img/embedding_hub_row_column_security@2x.png
  resources/frontend_client/app/assets/img/embedding_hub_secure_embeds_diagram.png
  resources/frontend_client/app/assets/img/embedding_hub_secure_embeds_diagram@2x.png
Due: front-end

Add completion checks for data segregation and tenants (#68890)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  enterprise/backend/test/metabase_enterprise/embedding_hub/api_test.clj
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
Due: back-end, front-end

Add JWT authentication onboarding for embedding hub (#69823)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.tsx
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/AddEndpointStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupJwtStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/TestJwtStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-help-url.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
  src/metabase/embedding/settings.clj
Due: back-end, front-end

Add enable tenants and create shared collection button (#69131)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  enterprise/backend/test/metabase_enterprise/embedding_hub/api_test.clj
  frontend/src/metabase/api/collection.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: back-end, front-end

Add link to documentation for database routing in the onboarding step (#69138)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.module.css
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepperStep.tsx
  frontend/src/metabase/common/components/OnboardingStepper/types.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DatabaseRoutingStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Onboarding stepper should navigate to next steps correctly even when all steps are done (#69653)
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.unit.spec.tsx
  frontend/src/metabase/common/components/OnboardingStepper/hooks/use-auto-advance-step.ts
  frontend/src/metabase/common/components/OnboardingStepper/types.ts
  frontend/src/metabase/common/components/OnboardingStepper/utils/get-next-incomplete-step-from.ts
  frontend/src/metabase/common/components/OnboardingStepper/utils/get-next-step-to-activate.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Create a multi-select database selector component (#69635)
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.module.css
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.stories.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.unit.spec.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/index.ts
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
Due: front-end

Add data segregation strategy selection step for embedding onboarding (#69127)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.unit.spec.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepperStep.tsx
  frontend/src/metabase/common/components/OnboardingStepper/hooks/use-auto-advance-step.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DataSegregationStrategyPicker.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/DataSegregationStrategyPicker.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/ui/components/icons/Icon/icons/corner_up_right.svg
  frontend/src/metabase/ui/components/icons/Icon/icons/database_routing.svg
  frontend/src/metabase/ui/components/icons/Icon/icons/index.ts
  frontend/src/metabase/ui/components/icons/Icon/icons/layout_grid.svg
Due: front-end

Add tenant creation and tenant summary step for tenants onboarding (#69454)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/api/tenants.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/index.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/TenantSummaryCard.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/TenantsSummaryOnboardingStep.tsx
  enterprise/frontend/src/metabase-enterprise/tenants/components/TenantsSummaryOnboardingStep/index.ts
  enterprise/frontend/src/metabase-enterprise/tenants/index.tsx
  frontend/src/metabase/admin/components/RelatedSettingsSection/RelatedSettingsSection.tsx
  frontend/src/metabase/admin/components/RelatedSettingsSection/index.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.unit.spec.tsx
  frontend/src/metabase/common/components/OnboardingStepper/hooks/use-auto-advance-step.ts
  frontend/src/metabase/common/components/OnboardingStepper/utils/get-next-incomplete-step-from.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/plugins/oss/tenants.ts
Due: front-end

Add row and column level security step for onboarding (#69622)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  frontend/src/metabase/api/group-table-access-policy.ts
  frontend/src/metabase/api/index.ts
  frontend/src/metabase/api/settings.ts
  frontend/src/metabase/api/tags/constants.ts
  frontend/src/metabase/common/components/Pickers/MiniPicker/components/MiniPicker/MiniPicker.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/EnableTenantsStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/TableColumnCard.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-update-all-tenant-users-group-permissions.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-upsert-group-table-access-policies.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/utils/permission-utils.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/utils/permission-utils.unit.spec.ts
  frontend/src/metabase/querying/notebook/components/NotebookDataPicker/NotebookDataPicker.tsx
  frontend/src/metabase/ui/components/overlays/Menu/index.ts
Due: front-end

Lock steps 2 to 5 in data permissions setup checklist (#69135)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/common/components/OnboardingStepper/OnboardingStepper.tsx
  frontend/src/metabase/common/components/OnboardingStepper/types.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Add connection impersonation onboarding step (#69644)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level: onto integration-embedding-onboarding-improvements
  branches/emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level
Due: none

emb-1179-the-embedding-wizard-should-default-to-newly-created: restacked on integration-embedding-onboarding-improvements
  branches/emb-1179-the-embedding-wizard-should-default-to-newly-created
Due: none

add e2e test for guest embed
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
Due: none

simplify e2e test
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
Due: none

mark guest embedding onboarding test step as done
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase/api/card.ts
  frontend/src/metabase/api/dashboard.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeEmbedSetupModal.tsx
Due: back-end, front-end

emb-1180-mark-get-embed-snippet-card-as-done-on-guest-embedding: restacked on integration-embedding-onboarding-improvements
  branches/emb-1180-mark-get-embed-snippet-card-as-done-on-guest-embedding
Due: none

integration-embedding-onboarding-improvements: associate existing CR
  branches/integration-embedding-onboarding-improvements
Due: none

emb-1179-the-embedding-wizard-should-default-to-newly-created: associate existing CR
  branches/emb-1179-the-embedding-wizard-should-default-to-newly-created
Due: none

emb-1180-mark-get-embed-snippet-card-as-done-on-guest-embedding: associate existing CR
  branches/emb-1180-mark-get-embed-snippet-card-as-done-on-guest-embedding
Due: none

emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level: associate existing CR
  branches/emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level
Due: none

Add new checkpoint columns
  resources/migrations/059_update_migrations.yaml
  src/metabase/models/transforms/transform.clj
  src/metabase/transforms/api/transform.clj
Due: back-end

add a guard
  frontend/src/metabase-lib/v1/parameters/utils/targets.ts
  frontend/src/metabase/visualizations/shared/utils/parameter-substitution.ts
Due: front-end

fix invalid imports due to merge conflicts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
Due: front-end

fix guest embed snippet copy incorrectly marking production embed step as done
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCodeStep.tsx
Due: front-end

wip checkpoint state
  enterprise/backend/src/metabase_enterprise/transforms_python/python_runner.clj
  enterprise/backend/test/metabase_enterprise/transforms/incremental_test.clj
  src/metabase/transforms/query_impl.clj
  src/metabase/transforms/util.clj
Due: back-end

Mark get embed snippet step as done when guest embed is published (#69889)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase/api/card.ts
  frontend/src/metabase/api/dashboard.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCodeStep.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeEmbedSetupModal.tsx
Due: back-end, front-end
