Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

allow running library transforms
  enterprise/frontend/src/metabase-enterprise/transforms/components/JobView/ScheduleSection/ScheduleSection.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/RunSection/RunSection.tsx
Due: front-end

Add sync button
  enterprise/frontend/src/metabase-enterprise/api/git-sync.ts
  enterprise/frontend/src/metabase-enterprise/api/index.ts
  enterprise/frontend/src/metabase-enterprise/git_sync/GitSyncSettings.tsx
Due: front-end

Use UnstyledButton and Box
  frontend/src/metabase/parameters/components/ParameterValueWidgetTrigger.tsx
Due: front-end

Fix type for job dependencies component
  enterprise/frontend/src/metabase-enterprise/transforms/components/JobView/DependenciesSection/DependenciesSection.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/JobView/JobView.tsx
Due: front-end

transforms
  enterprise/backend/src/metabase_enterprise/branching/api.clj
  enterprise/frontend/src/metabase-enterprise/git_sync/SelectBranch.tsx
  enterprise/frontend/src/metabase-enterprise/git_sync/ViewChangesModal.tsx
  enterprise/frontend/src/metabase-enterprise/git_sync/components/DiffRenderer.tsx
  enterprise/frontend/src/metabase-enterprise/git_sync/components/EntityDiffRenderers.tsx
  enterprise/frontend/src/metabase-enterprise/git_sync/components/GitDiffVisualization.tsx
  enterprise/frontend/src/metabase-enterprise/git_sync/hooks/useGitDiffCardData.ts
  frontend/src/metabase-types/api/git-sync.ts
  frontend/src/metabase/nav/components/AdminNavbar/AdminNavbar.tsx
  frontend/src/metabase/nav/components/AppBar/AppBarLarge.tsx
Due: back-end, front-end

Fix next-dlq-run test in on-indexing-idle
  enterprise/backend/src/metabase_enterprise/semantic_search/indexer.clj
Due: back-end

Fix #62591
  src/metabase/lib/join.cljc
  test/metabase/query_processor_test/remapping_test.clj
Due: back-end

Ensure exit-early-due-to-cold-data? even if we have no last-seen-change
  enterprise/backend/src/metabase_enterprise/semantic_search/indexer.clj
Due: back-end

Reduce log level to :trace for "nothing to do" case in indexing-step
  enterprise/backend/src/metabase_enterprise/semantic_search/indexer.clj
Due: back-end

Tidies
  .github/workflows/e2e-test.yml
  .github/workflows/update-e2e-timings.yml
Due: none

Don't run on push on this branch
  .github/workflows/update-e2e-timings.yml
Due: none

Whitespace cleanup
  enterprise/backend/src/metabase_enterprise/semantic_search/indexer.clj
Due: back-end

Reduce ee-search-indexer-exit-early-cold-duration from 30s to 5s
  enterprise/backend/src/metabase_enterprise/semantic_search/settings.clj
Due: back-end

Increase the run-frequency for the SemanticSearchIndexer job from every 10s to every 20s
  enterprise/backend/src/metabase_enterprise/semantic_search/task/indexer.clj
Due: back-end

Fix #62663
  src/metabase/lib/expression.cljc
  src/metabase/lib/field/resolution.cljc
  src/metabase/query_processor/util/add_alias_info.clj
  test/metabase/lib/expression_test.cljc
  test/metabase/lib/field/resolution_test.cljc
Due: back-end

More tidies
  .github/workflows/e2e-test.yml
  .github/workflows/e2e-tests.yml
Due: none

Add test
  test/metabase/query_processor_test/expressions_test.clj
Due: none

Revert run-tests.yml
  .github/workflows/run-tests.yml
Due: none

Remove outdated test
  test/metabase/lib/field/resolution_test.cljc
Due: none

Fix syntax error
  frontend/src/metabase/parameters/components/ParameterValueWidgetTrigger.tsx
Due: front-end

Move SchemaFormSelect to components folder
  enterprise/frontend/src/metabase-enterprise/transforms/components/SchemaFormSelect/SchemaFormSelect.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/SchemaFormSelect/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/CreateTransformModal/CreateTransformModal.tsx
Due: front-end

Allow creating schemas in the target update modal
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/TargetSection/UpdateTargetModal/UpdateTargetModal.tsx
Due: front-end

apply fix to both streaming and non streaming
  enterprise/backend/src/metabase_enterprise/metabot_v3/client.clj
Due: back-end

Allow initial value in SchemaFormSelect
  enterprise/frontend/src/metabase-enterprise/transforms/components/SchemaFormSelect/SchemaFormSelect.tsx
Due: front-end

Only render schema field when the database supports :schemas
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/CreateTransformModal/CreateTransformModal.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/TargetSection/UpdateTargetModal/UpdateTargetModal.tsx
Due: front-end

Do not render new schema item if value is empty
  enterprise/frontend/src/metabase-enterprise/transforms/components/SchemaFormSelect/SchemaFormSelect.tsx
Due: front-end

Move table-exists? into shared util ns and reuse
  enterprise/backend/src/metabase_enterprise/semantic_search/dlq.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index_metadata.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/util.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/test_util.clj
Due: back-end

Simplify honeysql qualified col reference in add-entries!
  enterprise/backend/src/metabase_enterprise/semantic_search/dlq.clj
Due: back-end

Fix comment typo: s/indexes/indexer/
  enterprise/backend/src/metabase_enterprise/semantic_search/dlq.clj
Due: back-end

Add missing seq in try-batch!
  enterprise/backend/src/metabase_enterprise/semantic_search/dlq.clj
Due: back-end

Add unit tests for SchemaFormSelect
  enterprise/frontend/src/metabase-enterprise/transforms/components/SchemaFormSelect/SchemaFormSelect.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/SchemaFormSelect/SchemaFormSelect.unit.spec.tsx
Due: front-end

Move API calls to script
  .github/scripts/average-e2e-timings.js
  .github/workflows/update-e2e-timings.yml
  e2e/support/timings.json
Due: none

Test branch
  .github/workflows/update-e2e-timings.yml
Due: none

Change ee-search-indexer-exit-early-cold-duration back to 30s
  enterprise/backend/src/metabase_enterprise/semantic_search/settings.clj
Due: back-end

Use absolute paths
  .github/workflows/update-e2e-timings.yml
  e2e/support/timings.json
Due: none

Add e2e tests for schema creation
  e2e/test/scenarios/admin/transforms.cy.spec.ts
Due: none

Add start_time, end_time and run_method to transform run query params in api
  frontend/src/metabase-types/api/transform.ts
Due: front-end

Parse start_time, end_time and run_method params on run list page
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunListPage.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/types.ts
  enterprise/frontend/src/metabase-enterprise/transforms/urls.ts
Due: front-end

Add filters for start_time and end_time to run list page
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/FilterList/FilterList.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/FilterList/TimeFilterWidget/TimeFilterWidget.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/FilterList/TimeFilterWidget/index.ts
Due: front-end

Allow custom react elements in displayValue prop
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/FilterList/FilterFieldSet/FilterFieldSet.tsx
Due: front-end
