Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Fixing dashboard duplication for visualizer cards
  src/metabase/api/dashboard.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

specs
  e2e/support/test-visualizer-data.ts
  e2e/test/scenarios/dashboard/visualizer/basics.cy.spec.ts
Due: none

Fix tests
  test/metabase/test/data/impl.clj
Due: none

(mt/with-temp-defaults :model/Database)
  resources/migrations/001_update_migrations.yaml
Due: none

experiment: temporarily skip dark theme test
  e2e/test-component/scenarios/embedding-sdk/interactive-question-theming.cy.spec.tsx
Due: none

Fixes
  resources/migrations/001_update_migrations.yaml
Due: none

Remove new column from results
  src/metabase/models/database.clj
Due: back-end

Remove new column from results
  src/metabase/models/table.clj
Due: back-end

revert and disable entity-id backfill (#58098)
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/row_level_restrictions_test.clj
  src/metabase/lib/metadata/jvm.clj
  src/metabase/lib_be/task/backfill_entity_ids.clj
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/serialization.clj
  src/metabase/models/table.clj
  src/metabase/queries/models/card.clj
  src/metabase/sync/task/sync_databases.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/api/database_test.clj
  test/metabase/api/dataset_test.clj
  test/metabase/api/field_test.clj
  test/metabase/api/table_test.clj
  test/metabase/api/test_util.clj
  test/metabase/lib_be/task/backfill_entity_ids_test.clj
  test/metabase/queries/api/card_test.clj
  test/metabase/sync/sync_test.clj
Due: back-end

Fix test
  test/metabase/api/database_test.clj
Due: none

Test fixes :wrench:
  src/metabase/db.clj
  src/metabase/util/grouper.clj
  src/metabase/view_log/events/view_log.clj
  test/metabase/test/data/users.clj
Due: back-end

revert and disable entity-id backfill (#58098)
  src/metabase/lib_be/task/backfill_entity_ids.clj
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/table.clj
  src/metabase/sync/task/sync_databases.clj
Due: back-end

Fix test
  src/metabase/models/table.clj
Due: back-end

Test fix :wrench:
  test/metabase/api/field_test.clj
Due: none

fix tests
  frontend/src/metabase/api/utils/use-token-refresh.unit.spec.tsx
Due: front-end

Setup sdk-based embedding iframe route (#56915)
  .gitignore
  e2e/test-component/scenarios/embedding-sdk/interactive-question-theming.cy.spec.tsx
  enterprise/backend/test/metabase_enterprise/api/session_test.clj
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/InteractiveDashboard.tsx
  enterprise/frontend/src/embedding-sdk/index.ts
  enterprise/frontend/src/embedding-sdk/lib/sdk-specific-imports.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/components/SdkIframeEmbedRoute.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/components/SdkIframeError.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/embed.v1.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/hooks/use-sdk-iframe-embed-event-bus.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/index.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/types/embed.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk/types/store.ts
  enterprise/frontend/src/metabase-enterprise/plugins.js
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/app-embed-sdk.tsx
  frontend/src/metabase/embedding-sdk/theme/default-component-theme.ts
  frontend/src/metabase/plugins/index.ts
  jest.config.js
  rspack.config.js
  rspack.iframe-sdk-embed.config.js
  src/metabase/premium_features/core.clj
  src/metabase/premium_features/settings.clj
  src/metabase/server/routes.clj
  src/metabase/server/routes/index.clj
  test/metabase/analytics/stats_test.clj
  webpack.config.js
  webpack.embedding-sdk.config.js
Due: back-end, front-end

Fix test
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/row_level_restrictions_test.clj
Due: back-end

Fix test
  test/metabase/test/data/impl.clj
Due: none

flake jail
  e2e/test/scenarios/organization/timelines-question.cy.spec.js
Due: none

update comments
  frontend/src/metabase/api/utils/use-token-refresh.ts
  frontend/src/metabase/api/utils/use-token-refresh.unit.spec.tsx
Due: front-end

Add datetime() function; works on iso strings
  src/metabase/legacy_mbql/schema.cljc
  src/metabase/lib/convert.cljc
  src/metabase/lib/core.cljc
  src/metabase/lib/schema/expression/temporal.cljc
  test/metabase/query_processor_test/cast_test.clj
Due: back-end

Implement datetime() for sql to test all drivers
  src/metabase/driver/sql.clj
  src/metabase/driver/sql/query_processor.clj
Due: back-end

revert and disable entity-id backfill (#58098) (#58107)
  src/metabase/lib_be/task/backfill_entity_ids.clj
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/table.clj
  src/metabase/sync/task/sync_databases.clj
Due: back-end

Remove Z from datetime
  test/metabase/query_processor_test/cast_test.clj
Due: none

make auto y-axis split even less aggressive
  frontend/src/metabase/visualizations/echarts/cartesian/model/axis.ts
Due: front-end

Test fix ??
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/update_used_cards_test.clj
  src/metabase/db.clj
  src/metabase/query_processor/middleware/update_used_cards.clj
  src/metabase/users/models/user_parameter_value.clj
  src/metabase/util/grouper.clj
  src/metabase/view_log/events/view_log.clj
  test/metabase/query_processor/middleware/update_used_cards_test.clj
Due: back-end

Test fixes :wrench:
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  test/metabase/warehouse_schema/api/field_test.clj
Due: none

Fix bad merge
  test/metabase/warehouses/api_test.clj
Due: none

[Backend modularization] `dashboards` module (first pass) (#58056)
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  .cljfmt.edn
  e2e/support/helpers/api/createDashboard.ts
  enterprise/backend/test/metabase_enterprise/sandbox/api/dashboard_test.clj
  frontend/src/metabase/visualizations/shared/utils/sizes.ts
  shadow-cljs.edn
  src/metabase/api/common.clj
  src/metabase/api_routes/routes.clj
  src/metabase/channel/render/card.clj
  src/metabase/dashboards/api.clj
  src/metabase/dashboards/constants.cljc
  src/metabase/dashboards/models/dashboard.clj
  src/metabase/dashboards/models/dashboard_card.clj
  src/metabase/dashboards/models/dashboard_card_series.clj
  src/metabase/dashboards/models/dashboard_tab.clj
  src/metabase/embedding/api/common.clj
  src/metabase/models/resolution.clj
  src/metabase/models/serialization.clj
  src/metabase/notification/payload/execute.clj
  src/metabase/parameters/params.clj
  src/metabase/public_sharing/api.clj
  src/metabase/revisions/impl/dashboard.clj
  src/metabase/util/autoplace.clj
  src/metabase/xrays/automagic_dashboards/dashboard_templates.clj
  test/metabase/dashboards/api_test.clj
  test/metabase/dashboards/models/dashboard_card_test.clj
  test/metabase/dashboards/models/dashboard_tab_test.clj
  test/metabase/dashboards/models/dashboard_test.clj
  test/metabase/embedding/api/embed_test.clj
  test/metabase/embedding/api/preview_embed_test.clj
  test/metabase/models/on_demand_test.clj
  test/metabase/parameters/dashboard_test.clj
  test/metabase/public_sharing/api_test.clj
  test/metabase/query_processor/dashboard_test.clj
  test/metabase/revisions/impl/dashboard_test.clj
  test/metabase/view_log/events/view_log_test.clj
Due: back-end, front-end

unlimit pivot exports
  src/metabase/api/dataset.clj
  src/metabase/query_processor/pivot.clj
Due: back-end

fixups, fix default for collapsed rows setting
  src/metabase/query_processor/pivot.clj
Due: back-end

sentence case
  e2e/test/scenarios/onboarding/command-palette.cy.spec.js
  frontend/src/metabase/nav/components/ProfileLink/ProfileLink.jsx
  locales/metabase.po
Due: front-end

fixups, fix default for collapsed rows setting
  src/metabase/pivot/core.cljc
Due: back-end

add condense_duplicate_totals test for pivot csv exports
  test/metabase/api/downloads_exports_test.clj
Due: none

test fix
  test/metabase/api/dashboard_test.clj
Due: none

implement dashboard mapping to time grouping parameters (#57931)
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/ParameterTargetWidget.jsx
  frontend/src/metabase-lib/v1/parameters/utils/filters.ts
  frontend/src/metabase-lib/v1/parameters/utils/filters.unit.spec.ts
  frontend/src/metabase-lib/v1/parameters/utils/template-tag-options.ts
  frontend/src/metabase-lib/v1/parameters/utils/template-tags.ts
  frontend/src/metabase-lib/v1/queries/NativeQuery.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapperButton.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/buttons/AddFilterParameterButton/AddFilterParameterButton.tsx
  frontend/src/metabase/dashboard/components/DashboardSettingsSidebar/DashboardSettingsSidebar.tsx
  frontend/src/metabase/dashboard/components/DashboardTabs/use-dashboard-tabs.ts
  frontend/src/metabase/parameters/components/ParameterTargetList.jsx
  frontend/src/metabase/parameters/components/ParameterTargetList.tsx
  frontend/src/metabase/parameters/components/ParameterValueWidget.tsx
  frontend/src/metabase/parameters/components/RequiredParamToggle/RequiredParamToggle.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParamParts/DefaultRequiredValueControl.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorSidebar.tsx
  frontend/src/metabase/visualizations/click-actions/actions/DashboardClickAction.tsx
  frontend/src/metabase/visualizations/lib/action.js
  src/metabase/driver/common/parameters/values.clj
  test/metabase/driver/common/parameters/temporal_units_test.clj
Due: back-end, front-end

drop not planned test
  e2e/test/scenarios/native/native.cy.spec.js
Due: none
