Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

feat(modular): support relative paths for jwtProviderUri (#69119)
  enterprise/frontend/src/embedding-sdk-ee/tests/auth-flow/jwt.unit.spec.tsx
  enterprise/frontend/src/embedding/auth-common/jwt.ts
Due: front-end

emb-1267-add-data-segregation-strategy-selection-step-for-embedding: restacked on emb-1290-implement-enable-tenants-and-create-shared-collection-button
  branches/emb-1267-add-data-segregation-strategy-selection-step-for-embedding
Due: none

emb-1273-add-link-to-documentation-for-database-routing-in-the: restacked on emb-1267-add-data-segregation-strategy-selection-step-for-embedding
  branches/emb-1273-add-link-to-documentation-for-database-routing-in-the
Due: none

emb-1291-lock-steps-2-5-in-data-permissions-setup-checklist: restacked on emb-1267-add-data-segregation-strategy-selection-step-for-embedding
  branches/emb-1291-lock-steps-2-5-in-data-permissions-setup-checklist
Due: none

emb-1268-add-row-and-column-level-security-data-selector-for: restacked on emb-1267-add-data-segregation-strategy-selection-step-for-embedding
  branches/emb-1268-add-row-and-column-level-security-data-selector-for
Due: none

Gdgt 1675 disable unmatched rows view details button in inspector (#69152)
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformInspectPage/components/LensSections/DefaultLensSections/components/VisualizationCard.tsx
  frontend/src/metabase-types/api/transform.ts
Due: front-end

bigquery
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
Due: none

fixed bugged scrolling in embedded metabot
  enterprise/frontend/src/embedding-sdk-ee/metabot/MetabotChatInput.tsx
  frontend/src/embedding-sdk-bundle/components/private/PublicComponentStylesWrapper.style.css
  frontend/src/metabase/app-embed-sdk.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk/components/SdkIframeEmbedRoute.tsx
Due: front-end

test
  e2e/test-component/scenarios/embedding-sdk/styles-tests.cy.spec.tsx
Due: none

Update translation sources 2026-02-05
  locales/metabase.po
Due: none

Update translations
  locales/ar-SA.po
  locales/ar.po
  locales/bg.po
  locales/ca.po
  locales/cs.po
  locales/da.po
  locales/de.po
  locales/es.po
  locales/fa.po
  locales/fi.po
  locales/fr.po
  locales/he.po
  locales/hu.po
  locales/id.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/lv.po
  locales/ms.po
  locales/nb.po
  locales/nl.po
  locales/pl.po
  locales/pt-BR.po
  locales/ru.po
  locales/sk.po
  locales/sl.po
  locales/sq.po
  locales/sr.po
  locales/sv.po
  locales/tr.po
  locales/uk.po
  locales/vi.po
  locales/zh-CN.po
  locales/zh-HK.po
  locales/zh-TW.po
Due: none

🤖 backported "feat(modular): support relative paths for jwtProviderUri" (#69153)
  enterprise/frontend/src/embedding-sdk-ee/tests/auth-flow/jwt.unit.spec.tsx
  enterprise/frontend/src/embedding/auth-common/jwt.ts
Due: front-end

export function
  frontend/src/metabase-lib/transforms-inspector.ts
Due: front-end

Unmatched rows lens: return cards for both LHS or RHS null scenarios (#69123)
  enterprise/backend/src/metabase_enterprise/transforms/inspector/lens/unmatched_rows.clj
  enterprise/backend/src/metabase_enterprise/transforms/inspector/query_analysis.clj
  frontend/src/metabase-lib/transforms-inspector.ts
  src/metabase/transforms/inspector/card_result.cljc
  src/metabase/transforms/inspector/core.cljc
  src/metabase/transforms/inspector/degeneracy.cljc
  src/metabase/transforms/inspector/js.cljs
Due: back-end, front-end

Programmatically list source directories for cloverage (#68955)
  .github/workflows/backend-cloverage.yml
Due: none

Fix broken containerize workflow
  .github/actions/fetch-artifact/action.yml
  .github/workflows/containerize-jar.yml
  .github/workflows/containerize-uberjar.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

remove dead fields
  enterprise/backend/src/metabase_enterprise/transforms/inspector/schema.clj
Due: back-end

GDGT-1585 Update incremental transform warning copy for complex queries (#69109)
  frontend/src/metabase/transforms/components/QueryComplexityWarning/QueryComplexityWarning.tsx
  frontend/src/metabase/transforms/components/QueryComplexityWarning/use-query-complexity-checks.tsx
  frontend/src/metabase/transforms/pages/NewTransformPage/CreateTransformModal/CreateTransformModal.tsx
Due: front-end

potentially: ability to reload repl state when js is compiled differently
  dev/src/dev.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/agent/core.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/self/core.clj
  src/metabase/server/routes/index.clj
Due: back-end

metabot error messages and tests
  e2e/test/scenarios/metabot/metabot.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/metabot/constants.ts
  enterprise/frontend/src/metabase-enterprise/metabot/state/actions.ts
  enterprise/frontend/src/metabase-enterprise/metabot/tests/errors.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/tests/ui.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/tests/utils.tsx
Due: front-end

Make type generation produce a shared definitions file and properly reexport from lib
  src/metabase/util/malli/typescript.clj
Due: back-end

Remove shadowed methods
  src/metabase/driver/postgres.clj
  src/metabase/driver/sql/query_processor.clj
  test/metabase/query_processor/filter_test.clj
Due: back-end

Be more explicit
  .github/workflows/containerize-jar.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Update reexporting to include all namespaces. Update tests
  src/metabase/util/malli/typescript.clj
  test/metabase/util/malli/typescript_test.clj
Due: back-end

Fix for consistency
  .github/workflows/containerize-jar.yml
Due: none

Allow medallion values on read
  src/metabase/warehouse_schema/models/table.clj
Due: back-end

Add option for debugging files with lacking schemas
  src/metabase/util/malli/typescript.clj
Due: back-end

Fix broken containerize workflow (#69156)
  .github/actions/fetch-artifact/action.yml
  .github/workflows/containerize-jar.yml
  .github/workflows/containerize-uberjar.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

Update warnings output to be less verbose and include file paths
  src/metabase/util/malli/typescript.clj
Due: back-end

Fix memoization during types generation
  src/metabase/util/malli/typescript.clj
Due: back-end

nest in pluginsConfig as is in the sdk
  e2e/test/scenarios/embedding/sdk-iframe-embedding/sdk-iframe-embedding.cy.spec.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/constants.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/embed.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/types/embed.ts
Due: front-end

rename, remove timeout which caused bugs if host app used alert() or other blocking things
  frontend/src/embedding-sdk-shared/lib/sdk-global-plugins.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/utils/bridge-handle-link.ts
Due: front-end

feat(eajs): support handleLink function
  e2e/test/scenarios/embedding/sdk-iframe-embedding/sdk-iframe-embedding.cy.spec.ts
  frontend/src/embedding-sdk-shared/lib/sdk-global-plugins.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/constants.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/embed.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/types/embed.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/utils/request-handle-link.ts
  frontend/src/metabase/lib/dom.js
  frontend/src/metabase/lib/formatting/url.tsx
Due: front-end

fix unit tests
  frontend/test/metabase/lib/dom.unit.spec.js
Due: none

trying to fix an e2e test
  e2e/test-component/scenarios/embedding-sdk/content-translations.cy.spec.tsx
Due: none

Allow medallion values on read (#69158)
  src/metabase/warehouse_schema/models/table.clj
Due: back-end

Hoist common functionality
  src/metabase/sql_tools/common.clj
  src/metabase/sql_tools/macaw/core.clj
  src/metabase/sql_tools/macaw/references.clj
  src/metabase/sql_tools/sqlglot/core.clj
Due: back-end

Fix most of the returned_columns_test.clj
  test/metabase/sql_tools/sqlglot/returned_columns_test.clj
Due: none

Upgrade `jspdf` (#69113)
  package.json
  yarn.lock
Due: none
