Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

two more tests
  enterprise/backend/test/metabase_enterprise/transforms_python/transforms_api_test.clj
Due: back-end

add embed metabot card
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.tsx
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
Due: front-end

use query by checks instead of length checks in unit tests
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.unit.spec.tsx
Due: front-end

add test cases
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.unit.spec.tsx
Due: front-end

add embed-metabot step to false in the completion api
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
Due: back-end, front-end

metabot: use replace instead of push for back button preservation
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminPage.tsx
Due: front-end

mark test as async
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.unit.spec.tsx
Due: front-end

add embed-metabot step
  frontend/src/metabase/api/embedding-hub.ts
Due: front-end

address review on colSpan and hasOnlyOptionalCards indirection
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.tsx
Due: front-end

emb-1264-add-new-metabot-card-on-cloud-for-embedding-hub: restacked on integration-embedding-onboarding-improvements
  branches/emb-1264-add-new-metabot-card-on-cloud-for-embedding-hub
Due: none

make completion checks logic more explicit
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.tsx
Due: front-end

add e2e tests
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.tsx
Due: front-end

await the user event for locked card unit test
  frontend/src/metabase/embedding/embedding-hub/components/StepperWithCards/StepperWithCards.unit.spec.tsx
Due: front-end

common, query, metric
  frontend/src/metabase-lib/common/index.ts
  frontend/src/metabase-lib/common/types.ts
  frontend/src/metabase-lib/index.ts
  frontend/src/metabase-lib/metric/types.ts
  frontend/src/metabase-lib/query/aggregation.ts
  frontend/src/metabase-lib/query/binning.ts
  frontend/src/metabase-lib/query/breakout.ts
  frontend/src/metabase-lib/query/breakout.unit.spec.ts
  frontend/src/metabase-lib/query/buckets.ts
  frontend/src/metabase-lib/query/column_types.ts
  frontend/src/metabase-lib/query/comparison.ts
  frontend/src/metabase-lib/query/comparison.unit.spec.ts
  frontend/src/metabase-lib/query/database.ts
  frontend/src/metabase-lib/query/display.ts
  frontend/src/metabase-lib/query/display.unit.spec.ts
  frontend/src/metabase-lib/query/drills.ts
  frontend/src/metabase-lib/query/expression.ts
  frontend/src/metabase-lib/query/extractions.ts
  frontend/src/metabase-lib/query/fields.ts
  frontend/src/metabase-lib/query/filter.ts
  frontend/src/metabase-lib/query/index.ts
  frontend/src/metabase-lib/query/join.ts
  frontend/src/metabase-lib/query/limit.ts
  frontend/src/metabase-lib/query/measures.ts
  frontend/src/metabase-lib/query/metadata.ts
  frontend/src/metabase-lib/query/metadata.unit.spec.ts
  frontend/src/metabase-lib/query/metrics.ts
  frontend/src/metabase-lib/query/native.ts
  frontend/src/metabase-lib/query/native.unit.spec.ts
  frontend/src/metabase-lib/query/order_by.ts
  frontend/src/metabase-lib/query/order_by.unit.spec.ts
  frontend/src/metabase-lib/query/query.ts
  frontend/src/metabase-lib/query/query.unit.spec.ts
  frontend/src/metabase-lib/query/segments.ts
  frontend/src/metabase-lib/query/temporal_bucket.ts
  frontend/src/metabase-lib/query/temporal_bucket.unit.spec.ts
  frontend/src/metabase-lib/query/test-helpers.ts
  frontend/src/metabase-lib/query/test-helpers.unit.spec.ts
  frontend/src/metabase-lib/query/types.ts
  frontend/src/metabase-lib/v1/Question.ts
Due: front-end

remove stale test on user strategy card
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
Due: none

remove stale configure data permissions unit test
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
Due: front-end

remove llms.txt and llms-embedding-full.txt superseded by Jekyll build plugin
  .github/scripts/generate-llms-txt.js
  .github/workflows/llms-txt-generate.yml
  .github/workflows/release.yml
  docs/embedding/llms.txt
  docs/llms.txt
  llms-embedding-full.txt
  llms.txt
Due: none

create branch emb-1268-add-row-and-column-level-security-data-selector-for
  branches/emb-1268-add-row-and-column-level-security-data-selector-for
Due: none

Fixes
  frontend/src/metabase-lib/metric/binning.ts
  frontend/src/metabase-lib/metric/filter.ts
  frontend/src/metabase-lib/metric/metadata.ts
  frontend/src/metabase-lib/metric/temporal-bucket.ts
  frontend/src/metabase-lib/metric/types.ts
Due: front-end

Fixing schemas
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

functions
  frontend/src/metabase-lib/metric/dimension.ts
  frontend/src/metabase-lib/metric/filter.ts
Due: front-end

tests
  enterprise/backend/test/metabase_enterprise/transforms_python/transforms_api_test.clj
Due: back-end

clean up and move secrets to settings
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/settings.clj
Due: back-end

validate incoming slack requests and better sending of messages / processing responses
  enterprise/backend/src/metabase_enterprise/api_routes/routes.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  src/metabase/server/handler.clj
  src/metabase/server/middleware/auth.clj
Due: back-end

wip
  enterprise/backend/src/metabase_enterprise/metabot_v3/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
  src/metabase/server/handler.clj
Due: back-end

get ai response working, make slack app an agent, fetch threads
  enterprise/backend/src/metabase_enterprise/api_routes/routes.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

image uploading and clean up
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

add test coverage for validation of slack requests
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
  test/metabase/server/middleware/auth_test.clj
Due: back-end

add test coverage for user messages
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
Due: back-end

fix image uploads not working
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

add loading / thinking state
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

add test coverage for messages with visualizations
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
Due: back-end

add test coverage for endpoints only being available with metabot token feature
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
Due: back-end

Fix reflection warning in user-message-with-visualizations-test
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
Due: back-end

smol refactor to clean up process-user-message
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

Re-enable +auth middleware for endpoints in metabase-enterprise.metabot-v3.api
  enterprise/backend/src/metabase_enterprise/metabot_v3/api.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/api_test.clj
Due: back-end

Fix kondo lint warning about undeclared channel module dep
  .clj-kondo/config/modules/config.edn
Due: none

Make all defs except endpoints and routes private
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

fix convo history
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
Due: back-end

Use request/with-current-user rather than binding api/*current-user* directly
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
