Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Only setup tracking db once per jvm (#80960)
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

🤖 v63 backported "Reuse the impersonation database for each impersonation deftest" (#81062)
  enterprise/backend/test/metabase_enterprise/impersonation/driver_test.clj
Due: back-end

🤖 v58 backported "Only setup tracking db once per jvm" (#81151)
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

🤖 v59 backported "Only setup tracking db once per jvm" (#81153)
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

🤖 v62 backported "Only setup tracking db once per jvm" (#81155)
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

🤖 v63 backported "Only setup tracking db once per jvm" (#81154)
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

rework edit and view path
  docs/exploration-and-organization/events-and-timelines.md
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase-types/api/dashboard.ts
  frontend/src/metabase-types/api/timeline.ts
  frontend/src/metabase/dashboard/actions/timeline-events.ts
  frontend/src/metabase/dashboard/actions/timeline-events.unit.spec.ts
  frontend/src/metabase/dashboard/components/DashboardEventsSidebar/use-timeline-events-handlers.ts
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderButtonRow/DashboardHeaderButtonRow.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderButtonRow/DashboardHeaderButtonRow.unit.spec.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderButtonRow/action-buttons.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderButtonRow/constants.ts
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderButtonRow/dashboard-action-keys.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderButtonRow/types.ts
  frontend/src/metabase/dashboard/components/DashboardHeader/buttons/EventsButton.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/buttons/EventsButton.unit.spec.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/buttons/index.tsx
  frontend/src/metabase/dashboard/reducers-typed.ts
  frontend/src/metabase/dashboard/timeline-events/selectors.ts
  frontend/src/metabase/query_builder/actions/core/utils.ts
  frontend/src/metabase/query_builder/actions/timelines.ts
  frontend/src/metabase/query_builder/containers/QueryBuilder.timeline-events.unit.spec.tsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.tsx
  frontend/src/metabase/query_builder/reducers.ts
  frontend/src/metabase/query_builder/selectors.ts
  frontend/src/metabase/redux/query-builder.ts
  frontend/src/metabase/redux/store/mocks/qb.ts
  frontend/src/metabase/redux/store/qb.ts
  frontend/src/metabase/timelines/panel/selectors.ts
  frontend/src/metabase/timelines/panel/utils.ts
  frontend/src/metabase/timelines/panel/utils.unit.spec.ts
  frontend/src/metabase/visualizations/lib/timeline-events-visibility.ts
  frontend/src/metabase/visualizations/lib/timeline-events-visibility.unit.spec.ts
  frontend/src/metabase/visualizations/types/definition.ts
  frontend/src/metabase/visualizations/types/timeline-events.ts
Due: front-end

code review
  frontend/src/metabase-types/api/timeline.ts
  frontend/src/metabase/dashboard/actions/timeline-events.ts
  frontend/src/metabase/dashboard/actions/timeline-events.unit.spec.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/DashCardActionsPanel.tsx
  frontend/src/metabase/dashboard/components/DashboardEventsSidebar/DashCardEventsSidebar.tsx
  frontend/src/metabase/dashboard/components/DashboardEventsSidebar/EventsPanel.tsx
  frontend/src/metabase/dashboard/components/DashboardEventsSidebar/use-timeline-events-handlers.ts
  frontend/src/metabase/dashboard/reducers-typed.ts
  frontend/src/metabase/dashboard/timeline-events/hooks.ts
  frontend/src/metabase/dashboard/timeline-events/selectors.ts
  frontend/src/metabase/dashboard/timeline-events/utils.ts
  frontend/src/metabase/query_builder/actions/core/utils.ts
  frontend/src/metabase/query_builder/actions/timelines.ts
  frontend/src/metabase/query_builder/components/QueryModals/QueryModals.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/TimelineSidebar/TimelineSidebar.tsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.timeline-events.unit.spec.tsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.tsx
  frontend/src/metabase/query_builder/selectors.ts
  frontend/src/metabase/timelines/panel/components/EventCard/EventCard.tsx
  frontend/src/metabase/timelines/panel/components/TimelineCard/TimelineCard.tsx
  frontend/src/metabase/timelines/panel/components/TimelineEventModals/TimelineEventModals.tsx
  frontend/src/metabase/timelines/panel/components/TimelineEventModals/index.ts
  frontend/src/metabase/timelines/panel/containers/NewEventModal/NewEventModal.tsx
  frontend/src/metabase/visualizations/lib/timeline-events-visibility.ts
  frontend/src/metabase/visualizations/lib/timeline-events-visibility.unit.spec.ts
Due: front-end

Load enterprise plugin component slots on first render
  enterprise/frontend/src/metabase-enterprise/advanced_permissions/index.tsx
  enterprise/frontend/src/metabase-enterprise/auth/index.ts
  enterprise/frontend/src/metabase-enterprise/caching/index.tsx
  enterprise/frontend/src/metabase-enterprise/clean_up/index.tsx
  enterprise/frontend/src/metabase-enterprise/custom_viz/index.ts
  enterprise/frontend/src/metabase-enterprise/database_routing/index.tsx
  enterprise/frontend/src/metabase-enterprise/embedding/index.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/index.ts
  enterprise/frontend/src/metabase-enterprise/remote_sync/index.ts
  enterprise/frontend/src/metabase-enterprise/tenants/index.tsx
  enterprise/frontend/src/metabase-enterprise/upload_management/index.ts
  frontend/src/metabase/common/components/ModalRoute.tsx
  frontend/src/metabase/common/components/ModalRoute.unit.spec.tsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/plugins/lazy-plugin-component.tsx
  frontend/src/metabase/plugins/lazy-plugin-component.unit.spec.tsx
  frontend/src/metabase/plugins/oss/multi-factor-auth.ts
  frontend/src/metabase/plugins/oss/upload-management.ts
Due: front-end

🤖 v60 backported "Only setup tracking db once per jvm" (#81150)
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

Keep MCP node_modules out of the shared vendor chunk
  rspack.main.config.js
Due: none

Address NavLink review comments (GDGT-2469)
  enterprise/frontend/src/embedding/data-picker/SimpleDataPicker/SimpleDataPickerView.tsx
  frontend/src/metabase/ui/components/navigation/NavLink/NavLink.module.css
  frontend/src/metabase/ui/components/navigation/NavLinkButton/NavLinkButton.module.css
  frontend/src/metabase/ui/components/navigation/NavLinkButton/NavLinkButton.tsx
Due: front-end

fixup
  frontend/src/metabase/dashboard/actions/timeline-events.ts
  frontend/src/metabase/dashboard/actions/timeline-events.unit.spec.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCard.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/DashCardActionsPanel.tsx
  frontend/src/metabase/dashboard/components/DashboardEventsSidebar/use-timeline-events-handlers.ts
  frontend/src/metabase/dashboard/timeline-events/hooks.ts
  frontend/src/metabase/dashboard/timeline-events/selectors.ts
  frontend/src/metabase/query_builder/actions/core/utils.ts
  frontend/src/metabase/query_builder/actions/timelines.ts
  frontend/src/metabase/query_builder/components/QueryModals/QueryModals.tsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.timeline-events.unit.spec.tsx
  frontend/src/metabase/query_builder/selectors.ts
  frontend/src/metabase/timelines/panel/components/TimelineEventModals/TimelineEventModals.tsx
  frontend/src/metabase/timelines/panel/selectors.ts
  frontend/src/metabase/visualizations/lib/timeline-events-visibility.ts
  frontend/src/metabase/visualizations/lib/timeline-events-visibility.unit.spec.ts
  frontend/src/metabase/visualizations/types/timeline-events.ts
Due: front-end

[test] Extract and reuse deferred str mechanism for `testing` macro (#79932)
  test/metabase/driver/sql/query_processor_test_util.clj
  test/metabase/lib/drill_thru/test_util/canned.cljc
  test/metabase/test/util.clj
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_Components_Navigation_NavLink_Overview.png
  .loki/reference/chrome_laptop_Design_System_Colors_Default.png
Due: none

Guard do-with-dataset-definition too
  test/metabase/actions/test_util.clj
Due: none

refactor: reuse ConfirmModal and CopyTextField props in FormSecretKey modals
  frontend/src/metabase/forms/components/FormSecretKey/RegenerateKeyConfirmModal.tsx
  frontend/src/metabase/forms/components/FormSecretKey/SecretKeyModal.tsx
Due: front-end

fix: prevent dismissing FormSecretKey modals via X, outside click, or escape
  frontend/src/metabase/forms/components/FormSecretKey/RegenerateKeyConfirmModal.tsx
  frontend/src/metabase/forms/components/FormSecretKey/SecretKeyModal.tsx
Due: front-end

Make the outbound network policy env-only, rename it, and pin allow-private on the managed AI services
  .github/workflows/embedding-sdk-component-tests.yml
  .github/workflows/embedding-sdk-host-sample-apps-tests.yml
  deps.edn
  docs/configuring-metabase/environment-variables.md
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/embedding_test.clj
  src/metabase/metabot/self/core.clj
  src/metabase/premium_features/settings.clj
  src/metabase/util/http.clj
  test/metabase/metabot/self_test.clj
  test/metabase/premium_features/settings_test.clj
Due: back-end

Remove redundant hooks
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/GoalValueInput/GoalValueInput.tsx
Due: front-end

Reuse getNumericColumnOptions
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/GoalValueInput/GoalValueInput.tsx
Due: front-end

fix: don't autofocus the secret key modal's readonly input
  frontend/src/metabase/forms/components/FormSecretKey/SecretKeyModal.tsx
Due: front-end

style: drop border/padding overrides on the secret key input
  frontend/src/metabase/forms/components/FormSecretKey/FormSecretKey.module.css
Due: front-end

test: use full-string queries for the new secret key assertions
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsJWTForm/SettingsJWTForm.unit.spec.tsx
Due: front-end

🤖 backported "Quote table names in the MySQL rename, and cover transform target names" (#80422)
  modules/drivers/clickhouse/src/metabase/driver/clickhouse.clj
  src/metabase/driver/mysql.clj
  test/metabase/actions/test_util.clj
  test/metabase/driver/sql/transforms_test.clj
  test/metabase/transforms/test_util.clj
Due: back-end

Backport: fix flaky drill-through tests in the sdk iframe embedding spec (#81004)
  e2e/test/scenarios/embedding/sdk-iframe-embedding/custom-elements-api.cy.spec.ts
Due: none

Restyle NavLink with primary and secondary variants (#80640)
  .loki/reference/chrome_laptop_Components_Navigation_NavLink_Overview.png
  .loki/reference/chrome_laptop_Design_System_Colors_Default.png
  enterprise/frontend/src/embedding/data-picker/SimpleDataPicker/SimpleDataPickerView.tsx
  frontend/src/metabase/admin/components/AdminNav/AdminNav.tsx
  frontend/src/metabase/common/components/Pickers/EntityPicker/components/ItemLists/ItemList.tsx
  frontend/src/metabase/common/components/Pickers/EntityPicker/components/ItemLists/SearchResults.tsx
  frontend/src/metabase/ui/colors/constants/themes/dark.ts
  frontend/src/metabase/ui/colors/constants/themes/light.ts
  frontend/src/metabase/ui/colors/types/color-keys.ts
  frontend/src/metabase/ui/components/navigation/NavLink/NavLink.module.css
  frontend/src/metabase/ui/components/navigation/NavLink/NavLink.stories.tsx
  frontend/src/metabase/ui/components/navigation/NavLinkBadge/NavLinkBadge.tsx
  frontend/src/metabase/ui/components/navigation/NavLinkBadge/index.ts
  frontend/src/metabase/ui/components/navigation/NavLinkButton/NavLinkButton.module.css
  frontend/src/metabase/ui/components/navigation/NavLinkButton/NavLinkButton.tsx
  frontend/src/metabase/ui/components/navigation/NavLinkButton/index.ts
  frontend/src/metabase/ui/components/navigation/index.ts
  loki.config.js
Due: front-end

refactor: rename SecretKeyModal.tsx back to SetupKeyModal.tsx
  frontend/src/metabase/forms/components/FormSecretKey/FormSecretKey.tsx
  frontend/src/metabase/forms/components/FormSecretKey/SetupKeyModal.tsx
Due: front-end

refactor: name the has-secret-key check instead of checking value directly
  frontend/src/metabase/forms/components/FormSecretKey/FormSecretKey.tsx
Due: front-end

Rewrite the load-time backfill in TypeScript with a tested core
  .github/scripts/backfill-load-times.sh
  .github/scripts/backfill-load-times.ts
  .github/scripts/backfill-load-times.unit.spec.ts
  .github/scripts/bundle-load-stats-rows.ts
  .github/scripts/upload-bundle-load-stats.ts
  .github/workflows/bundle-load-stats-backfill.yml
Due: none

Gdgt 2472 loader (#80586)
  .loki/reference/chrome_laptop_Components_Feedback_Loader_Default.png
  .loki/reference/chrome_laptop_Components_Feedback_Loader_Overview.png
  .storybook/main.ts
  bun.lock
  frontend/src/metabase/ui/components/feedback/Loader/Loader.config.ts
  frontend/src/metabase/ui/components/feedback/Loader/Loader.mdx
  frontend/src/metabase/ui/components/feedback/Loader/Loader.module.css
  frontend/src/metabase/ui/components/feedback/Loader/Loader.stories.tsx
  frontend/src/metabase/ui/components/feedback/Loader/Loader.tsx
  frontend/src/metabase/ui/components/feedback/Loader/Loader.unit.spec.tsx
  frontend/src/metabase/ui/components/feedback/Loader/index.ts
  frontend/src/metabase/ui/theme.ts
  loki.config.js
  package.json
Due: front-end

chore: replace lodash.orderby with inline function
  frontend/src/metabase/monitor/tools/components/Logs/utils.ts
  frontend/src/metabase/monitor/tools/components/Logs/utils.unit.spec.ts
Due: front-end

drop deps
  bun.lock
  package.json
Due: none
