Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix circular refs
  src/metabase/lib/drill_thru/zoom_in_timeseries.cljc
Due: back-end

Fix type annotations
  frontend/src/metabase-lib/native.ts
Due: front-end

Run chromatic ci with label (#33507)
  .github/workflows/frontend.yml
Due: none

MLv2 schema should enforce distinct breakouts and fields (#33512)
  src/metabase/lib/schema.cljc
  test/metabase/lib/schema_test.cljc
Due: back-end

Fix question name not showing when using Entity.Name (#33432) (#33524)
  enterprise/frontend/src/metabase-enterprise/audit_app/pages/AuditDatabaseDetail.jsx
  enterprise/frontend/src/metabase-enterprise/audit_app/pages/AuditTableDetail.jsx
  enterprise/frontend/src/metabase-enterprise/audit_app/pages/AuditUserDetail.jsx
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/EditSandboxingModal/EditSandboxingModal.tsx
  frontend/src/metabase/entities/containers/EntityName.jsx
  frontend/src/metabase/entities/containers/EntityName.tsx
  frontend/src/metabase/entities/containers/EntityName.unit.spec.tsx
  frontend/src/metabase/entities/containers/index.js
Due: front-end

Index unindex FKs for Postgres
  resources/migrations/000_migrations.yaml
  test/metabase/db/schema_migrations_test.clj
Due: none

migration linting
  resources/migrations/000_migrations.yaml
Due: none

Add comments for future driver support
  src/metabase/sync/sync_metadata/sync_table_privileges.clj
  test/metabase/sync/sync_metadata/sync_table_privileges_test.clj
Due: back-end

Exclude model from serdes
  enterprise/backend/test/metabase_enterprise/models/entity_id_test.clj
Due: back-end

Remove TablePrivileges def
  src/metabase/models.clj
  src/metabase/models/table_privileges.clj
Due: back-end

miss dashboard_tab.dashboard_id
  resources/migrations/000_migrations.yaml
Due: none

Exclude schemas with ^pg_
  src/metabase/driver/postgres.clj
Due: back-end

Fix null series title in line charts (#33331)
  e2e/test/scenarios/visualizations/line_chart.cy.spec.js
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/Visualization/Visualization.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingOrderedSimple.tsx
  frontend/src/metabase/visualizations/visualizations/RowChart/RowChart.tsx
  frontend/src/metabase/visualizations/visualizations/RowChart/utils/format.ts
Due: front-end

Remove autoincrementing ID
  resources/migrations/000_migrations.yaml
Due: none

Update comment
  test/metabase/driver/postgres_test.clj
Due: none

Remove with-model-cleanup
  test/metabase/sync/sync_metadata/sync_table_privileges_test.clj
Due: none

Use t2/delete!
  src/metabase/sync/sync_metadata/sync_table_privileges.clj
Due: back-end

Use :model/Table not 'Table
  src/metabase/sync/sync_metadata/sync_table_privileges.clj
Due: back-end

Remove `is_current_user` from table_privileges
  resources/migrations/000_migrations.yaml
  src/metabase/driver.clj
  src/metabase/driver/postgres.clj
  test/metabase/driver/postgres_test.clj
  test/metabase/sync/sync_metadata/sync_table_privileges_test.clj
Due: back-end

Whats new notification (#33325)
  e2e/test/scenarios/onboarding/navbar/whats-new.cy.spec.js
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/nav/components/WhatsNewNotification/WhatsNewNotification.tsx
  frontend/src/metabase/nav/components/WhatsNewNotification/WhatsNewNotification.unit.spec.tsx
  frontend/src/metabase/nav/components/WhatsNewNotification/index.ts
  frontend/src/metabase/nav/components/WhatsNewNotification/sparkles.svg
  frontend/src/metabase/nav/components/WhatsNewNotification/utils.ts
  frontend/src/metabase/nav/components/WhatsNewNotification/utils.unit.spec.ts
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
Due: front-end

optimize some queries with the use of revision.most_recent
  src/metabase/api/collection.clj
  src/metabase/api/dashboard.clj
  src/metabase/models/revision/last_edit.clj
  test/metabase/api/card_test.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

Don't create index for FK for mysql or h2
  resources/migrations/000_migrations.yaml
Due: none

kondo
  src/metabase/sync/sync_metadata/sync_table_privileges.clj
Due: back-end

Fix for dotted table names
  src/metabase/driver/postgres.clj
  test/metabase/driver/postgres_test.clj
Due: back-end

Modify the reproduction of #27768 to match the current state
  e2e/test/scenarios/dashboard-filters/reproductions/27768-cc-filter-appears-disconnected.cy.spec.js
Due: none

Fix stories
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
Due: front-end

Fix stories
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
Due: front-end

Add stories
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
Due: front-end

Run backend CI on EC2
  .github/workflows/backend.yml
Due: none

Add stories
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
Due: front-end

ChartWithLegend refresh mode
  frontend/src/metabase/visualizations/components/ChartWithLegend.jsx
Due: front-end

Add stories
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
Due: front-end

Add stories
  frontend/src/metabase/ui/components/inputs/NumberInput/NumberInput.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/TextInput/TextInput.stories.mdx
Due: front-end

Fix error handling
  frontend/src/metabase/ui/components/inputs/Input/Input.styled.tsx
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
Due: front-end

Fix error handling
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
Due: front-end

Fix error handling
  frontend/src/metabase/ui/components/inputs/Input/Input.styled.tsx
  frontend/src/metabase/ui/components/inputs/NumberInput/NumberInput.styled.tsx
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
  frontend/src/metabase/ui/components/inputs/TextInput/TextInput.styled.tsx
Due: front-end

Fix error handling
  frontend/src/metabase/ui/components/inputs/NumberInput/NumberInput.styled.tsx
  frontend/src/metabase/ui/components/inputs/TextInput/TextInput.styled.tsx
Due: front-end

Fix error handling
  frontend/src/metabase/ui/components/inputs/NumberInput/NumberInput.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.stories.mdx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
  frontend/src/metabase/ui/components/inputs/TextInput/TextInput.stories.mdx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
