Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

wip: improving BE unit tests
  enterprise/backend/test/metabase_enterprise/content_translation/dictionary_test.clj
Due: back-end

Improve be unit tests
  enterprise/backend/test/metabase_enterprise/content_translation/dictionary_test.clj
Due: back-end

wip: fixing be unit testse
  enterprise/backend/test/metabase_enterprise/content_translation/dictionary_test.clj
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Rename func
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/services.js
Due: front-end

Fix be unit test
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

almost there with embedded dictionary route test
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Use ! and remove note
  enterprise/backend/test/metabase_enterprise/content_translation/dictionary_test.clj
Due: back-end

Fix jest tests
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.unit.spec.ts
Due: front-end

wip: adding unit tests for embedded ct dict endpoint, moving FE embedded endpoint setter to enterprise
  e2e/test/scenarios/admin/i18n/content-translation/helpers/e2e-content-translation-helpers.ts
  enterprise/backend/src/metabase_enterprise/api/routes.clj
  enterprise/backend/src/metabase_enterprise/embed/content_translation/api.clj
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/services.js
  frontend/test/__support__/server-mocks/content-translation.ts
Due: back-end, front-end

Remove log/infos
  enterprise/backend/src/metabase_enterprise/content_translation/routes.clj
Due: back-end

Remove todo
  enterprise/backend/src/metabase_enterprise/embed/content_translation/api.clj
Due: back-end

Fix migrations
  resources/migrations/001_update_migrations.yaml
  resources/migrations/056_update_migrations.yaml
Due: none

Fix some be unit tests
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Only re-sort SingleSelectListWidget options if there are content translatoins
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/FieldValuesWidget/SingleSelectListField/SingleSelectListField.tsx
Due: front-end

wip: memoizing translateFieldValuesInHoveredObject
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/visualizations/components/Visualization/Visualization.tsx
Due: front-end

Memoize translateHoveredObject by turning it into a hook
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardVisualization.tsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/visualizations/components/ChartTooltip/ChartTooltip.tsx
  frontend/src/metabase/visualizations/components/Visualization/Visualization.tsx
Due: front-end

Don't use a hook
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/visualizations/components/Visualization/Visualization.tsx
Due: front-end

Dictionary be tests pass
  enterprise/backend/src/metabase_enterprise/content_translation/dictionary.clj
  enterprise/backend/test/metabase_enterprise/content_translation/dictionary_test.clj
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Fix kondo errors
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/content_translation/routes.clj
  enterprise/backend/src/metabase_enterprise/embed/content_translation/api.clj
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Fix imports
  frontend/src/metabase/plugins/index.ts
Due: front-end

Remove change to View
  frontend/src/metabase/query_builder/components/view/View/View/View.jsx
Due: front-end

Reduce diff
  frontend/src/metabase/visualizations/visualizations/PieChart/PieChart.tsx
Due: front-end

Fix changeset id
  resources/migrations/056_update_migrations.yaml
Due: none

Simplify hasTranslations, using function equality rather than a property
  enterprise/frontend/src/metabase-enterprise/content_translation/use-translate-content.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.unit.spec.ts
  frontend/src/metabase/i18n/types.ts
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/FieldValuesWidget/SingleSelectListField/SingleSelectListField.tsx
Due: front-end

Don't restore data editing api
  enterprise/backend/src/metabase_enterprise/api/routes.clj
Due: back-end

Fix util tests
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.unit.spec.ts
  frontend/src/metabase-types/api/mocks/series.ts
Due: front-end

wip: bringing back with-clean-translations
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Address feedback
  e2e/test/scenarios/admin/i18n/content-translation/helpers/e2e-content-translation-helpers.ts
  enterprise/backend/src/metabase_enterprise/content_translation/dictionary.clj
  enterprise/frontend/src/metabase-enterprise/api/content-translation.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/components/ContentTranslationConfiguration.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/constants.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/use-translate-content.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/use-translate-content.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/utils.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/parameters/components/ParameterWidget/ParameterWidget.unit.spec.tsx
  frontend/src/metabase-types/api/content-translation.ts
  frontend/src/metabase-types/guards/content-translation.ts
  frontend/src/metabase/admin/settings/components/SettingsPages/LocalizationSettingsPage.tsx
  frontend/src/metabase/components/TitleAndDescription/tests/common.unit.spec.tsx
  frontend/src/metabase/components/TitleAndDescription/tests/premium.unit.spec.tsx
  frontend/src/metabase/forms/components/FormSubmitButton/FormSubmitButton.tsx
  frontend/src/metabase/i18n/hooks.ts
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/FieldValuesWidget/ListField/ListField.tsx
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/FieldValuesWidget/ListField/utils.ts
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/FieldValuesWidget/SingleSelectListField/SingleSelectListField.tsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/visualizations/components/legend/LegendCaption/tests/common.unit.spec.tsx
  frontend/src/metabase/visualizations/components/legend/LegendCaption/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/visualizations/components/legend/LegendCaption/tests/premium.unit.spec.tsx
  frontend/src/metabase/visualizations/visualizations/Text/Text.jsx
  frontend/test/__support__/content-translation.ts
  frontend/test/__support__/server-mocks/content-translation.ts
  frontend/test/__support__/utils.ts
  resources/migrations/001_update_migrations.yaml
Due: back-end, front-end

Fix whitespace
  enterprise/backend/test/metabase_enterprise/content_translation/utils.clj
Due: back-end

Remove embedded routes test
  enterprise/backend/test/metabase_enterprise/content_translation/embedding_routes_test.clj
Due: back-end

Fix bug and doc
  enterprise/backend/test/metabase_enterprise/content_translation/utils.clj
  src/metabase/premium_features/settings.clj
Due: back-end

bringing back with-clean-translations
  enterprise/backend/test/metabase_enterprise/content_translation/dictionary_test.clj
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

fix be unit tests in routes_test
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

wip: trying to fix be unit tests
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Fix merge conflicts
  .clj-kondo/config/modules/config.edn
Due: none

Add a test for bad token on embedding
  .clj-kondo/config.edn
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
Due: back-end

Fix CI, improve layout in ContentTranslationConfiguration
  .clj-kondo/config/modules/config.edn
  e2e/test/scenarios/admin/i18n/content-translation/dashboards.cy.spec.ts
  e2e/test/scenarios/admin/i18n/content-translation/helpers/e2e-content-translation-helpers.ts
  enterprise/backend/src/metabase_enterprise/api/routes.clj
  enterprise/backend/src/metabase_enterprise/content_translation/embedding_routes.clj
  enterprise/backend/src/metabase_enterprise/content_translation/routes.clj
  enterprise/backend/test/metabase_enterprise/content_translation/routes_test.clj
  enterprise/frontend/src/metabase-enterprise/content_translation/components/ContentTranslationConfiguration/ContentTranslationConfiguration.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/index.ts
  frontend/src/metabase/admin/settings/components/SettingsPages/LocalizationSettingsPage.tsx
  frontend/test/__support__/server-mocks/content-translation.ts
Due: back-end, front-end

Add unit tests for other hooks that perform content translation
  enterprise/frontend/src/metabase-enterprise/content_translation/tests/other-hooks.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/tests/use-translate-content.common.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/tests/use-translate-content.enterprise.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/tests/use-translate-content.premium.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/tests/utils.unit.spec.ts
Due: front-end

Fix be unit tests
  .clj-kondo/config/modules/config.edn
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
