Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Move JoinConditionOperator from metabase-lib into metabase-types
  frontend/src/metabase-lib/query/types.ts
  frontend/src/metabase-types/api/query.ts
Due: front-end

Move font family and DeepPartial types into metabase-types
  frontend/src/metabase-types/api/embedding-theme.ts
  frontend/src/metabase-types/api/fonts.ts
  frontend/src/metabase-types/api/index.ts
  frontend/src/metabase-types/utils/types.ts
  frontend/src/metabase/utils/fonts.ts
  frontend/src/metabase/utils/types.ts
Due: front-end

Generate mock document ids without the lib utils uuid helper
  frontend/src/metabase-types/api/mocks/document.ts
Due: front-end

Import JoinConditionOperator from the api barrel in metabase-lib
  frontend/src/metabase-lib/query/types.ts
Due: front-end

escape parameter and heading text when rendering notification emails
  src/metabase/channel/impl/email.clj
  src/metabase/channel/render/util.clj
  test/metabase/channel/render/util_test.clj
  test/metabase/pulse/dashboard_subscription_test.clj
Due: back-end

Add a lint rule that keeps side-effect-free modules side-effect free
  eslint.config.mjs
  frontend/build/shared/rspack/side-effect-free-modules.js
  frontend/lint/eslint-plugin-metabase/index.js
  frontend/lint/eslint-plugin-metabase/rules/no-module-side-effects.js
  frontend/lint/tests/no-module-side-effects.unit.spec.js
  frontend/lint/tests/side-effect-free-modules.unit.spec.js
Due: none

Let SIDE_EFFECT_PATHS list directories as well as files
  eslint.config.mjs
  frontend/build/shared/rspack/side-effect-free-modules.js
  frontend/lint/eslint-plugin-metabase/rules/no-module-side-effects.js
  frontend/lint/tests/no-module-side-effects.unit.spec.js
  frontend/lint/tests/side-effect-free-modules.unit.spec.js
Due: none

Add a lint rule that keeps endpoint access on the owning module
  eslint.config.mjs
  frontend/lint/eslint-plugin-metabase/index.js
  frontend/lint/eslint-plugin-metabase/rules/no-base-api-access.js
  frontend/lint/tests/no-base-api-access.unit.spec.js
Due: none

Trim the SIDE_EFFECT_PATHS comments to the forcing facts
  frontend/build/shared/rspack/side-effect-free-modules.js
Due: none

Split no-base-api-access into an injection allowance and a reach ban
  eslint.config.mjs
  frontend/lint/eslint-plugin-metabase/rules/no-base-api-access.js
  frontend/lint/tests/no-base-api-access.unit.spec.js
Due: none

Recover from a failed fetch of the Metabot chat panel
  frontend/src/metabase/metabot/components/Metabot.tsx
  frontend/src/metabase/metabot/components/MetabotChat/lazy.ts
  frontend/src/metabase/metabot/tests/error-boundary.unit.spec.tsx
Due: front-end

Fetch the public document chunk at startup
  frontend/src/metabase/routes-public.tsx
Due: front-end

Only serialize Channel :details for callers who can write the channel
  src/metabase/channel/models/channel.clj
  test/metabase/channel/models/channel_test.clj
Due: back-end

Fetch reference pages through one loading bridge instead of two
  frontend/src/metabase/redux/metadata.ts
  frontend/src/metabase/reference/databases/DatabaseDetailContainer.tsx
  frontend/src/metabase/reference/databases/DatabaseListContainer.tsx
  frontend/src/metabase/reference/databases/FieldDetailContainer.tsx
  frontend/src/metabase/reference/databases/FieldListContainer.tsx
  frontend/src/metabase/reference/databases/TableDetailContainer.tsx
  frontend/src/metabase/reference/databases/TableListContainer.tsx
  frontend/src/metabase/reference/databases/TableQuestionsContainer.tsx
  frontend/src/metabase/reference/fetch-data.ts
  frontend/src/metabase/reference/reference.ts
  frontend/src/metabase/reference/segments/SegmentDetailContainer.tsx
  frontend/src/metabase/reference/segments/SegmentFieldDetailContainer.tsx
  frontend/src/metabase/reference/segments/SegmentFieldListContainer.tsx
  frontend/src/metabase/reference/segments/SegmentListContainer.tsx
  frontend/src/metabase/reference/segments/SegmentQuestionsContainer.tsx
  frontend/src/metabase/reference/segments/SegmentRevisionsContainer.tsx
  frontend/src/metabase/reference/use-reference-fetch-state.ts
Due: front-end

Cut the rule comments down to the forcing facts
  frontend/lint/eslint-plugin-metabase/rules/no-base-api-access.js
  frontend/lint/eslint-plugin-metabase/rules/no-module-side-effects.js
Due: none

Update translation sources 2026-08-18
  locales/metabase.po
Due: none

Update translations
  locales/ar-SA.po
  locales/ar.po
  locales/bg.po
  locales/ca.po
  locales/cs.po
  locales/da.po
  locales/de.po
  locales/es.po
  locales/fa.po
  locales/fi.po
  locales/fr.po
  locales/he.po
  locales/hu.po
  locales/id.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/lv.po
  locales/ms.po
  locales/nb.po
  locales/nl.po
  locales/pl.po
  locales/pt-BR.po
  locales/ru.po
  locales/sk.po
  locales/sl.po
  locales/sq.po
  locales/sr.po
  locales/sv.po
  locales/tr.po
  locales/uk.po
  locales/vi.po
  locales/zh-CN.po
  locales/zh-HK.po
  locales/zh-TW.po
Due: none

Find module-scope expressions with ESLint's traversal instead of a hand-written walker
  frontend/lint/eslint-plugin-metabase/rules/no-module-side-effects.js
  frontend/lint/tests/no-module-side-effects.unit.spec.js
Due: none

Say where the parked mocks/api.ts ignore is resolved
  eslint.config.mjs
Due: none

Drop the plan label from the mocks ignore comment
  eslint.config.mjs
Due: none

OSI foundation: entity-retrieval spec layer + osi_ai_context generation metadata and CRUD
  .clj-kondo/config/modules/config.edn
  dev/src/dev/migrate.clj
  enterprise/backend/src/metabase_enterprise/entity_retrieval/index_table.clj
  enterprise/backend/src/metabase_enterprise/entity_retrieval/reconcile.clj
  enterprise/backend/test/metabase_enterprise/entity_retrieval/reconcile_test.clj
  enterprise/backend/test/metabase_enterprise/entity_retrieval/spec_equivalence_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/osi_ai_context_test.clj
  resources/migrations/064/20260721_osi_ai_context_generation_metadata.yaml
  src/metabase/entity_retrieval/core.clj
  src/metabase/entity_retrieval/spec.clj
  src/metabase/measures/models/measure.clj
  src/metabase/osi/ai_context/api.clj
  src/metabase/osi/models/osi_ai_context.clj
  src/metabase/queries/models/card.clj
  src/metabase/segments/models/segment.clj
  src/metabase/warehouse_schema/models/table.clj
  test/metabase/entity_retrieval/core_test.clj
  test/metabase/entity_retrieval/spec_test.clj
  test/metabase/osi/ai_context/api_test.clj
  test/metabase/osi/models/osi_ai_context_test.clj
Due: back-end

Format code
  frontend/src/metabase/query_builder/actions/visualization-settings.ts
Due: front-end

ci: fix failing tests
  e2e/support/helpers/e2e-data-app-helpers.ts
  e2e/support/helpers/e2e-synced-data-app-helpers.ts
  e2e/support/helpers/index.ts
  e2e/test/scenarios/data-apps/sync.cy.spec.ts
  enterprise/backend/test/metabase_enterprise/remote_sync/data_app_pull_test.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/data_apps_test.clj
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/query-helpers.ts
Due: back-end, front-end

fix additional failure cases
  enterprise/frontend/src/embedding-sdk-package/query-sync/query-sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/sync.ts
Due: front-end

chore: cleanup query-sync canonical module
  enterprise/frontend/src/embedding-sdk-package/query-sync/canonical.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/discover.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/query-sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/reconcile.ts
Due: front-end

prevent agents from removing savedQuestionSourceId
  skills/metabase-data-app-semantic-layer/SKILL.md
Due: none

refactor: reconciler
  enterprise/frontend/src/embedding-sdk-package/query-sync/reconcile.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/sync.ts
Due: front-end

set data permissions to view for databases referenced in the query
  enterprise/backend/src/metabase_enterprise/data_apps/api.clj
  enterprise/backend/src/metabase_enterprise/data_apps/resources.clj
  enterprise/backend/src/metabase_enterprise/data_apps/sync.clj
  enterprise/backend/test/metabase_enterprise/data_apps/api_test.clj
  enterprise/frontend/src/embedding-sdk-package/query-sync/metabase-client.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/query-sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/reconcile.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/sync.ts
Due: back-end, front-end

refactor: split query tests into different files
  enterprise/frontend/src/embedding-sdk-package/query-sync/query-sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/tests/canonical.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/tests/discover.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/tests/reconcile-recovery.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/tests/reconcile-upsert.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/tests/setup.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/tests/sync.unit.spec.ts
Due: front-end

docs: clarify data app query location
  enterprise/frontend/src/embedding-sdk-package/cli/actions/sync-queries.ts
  skills/metabase-data-app-semantic-layer/SKILL.md
Due: front-end

add saved question extraction prototype
  enterprise/backend/src/metabase_enterprise/data_apps/api.clj
  enterprise/backend/src/metabase_enterprise/data_apps/models/data_app.clj
  enterprise/backend/src/metabase_enterprise/data_apps/resources.clj
  enterprise/backend/src/metabase_enterprise/data_apps/sync.clj
  enterprise/backend/test/metabase_enterprise/data_apps/api_test.clj
  enterprise/backend/test/metabase_enterprise/data_apps/sync_test.clj
  enterprise/frontend/src/embedding-sdk-package/cli/actions/sync-queries.ts
  enterprise/frontend/src/embedding-sdk-package/cli/cli.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-dev/index.ts
  enterprise/frontend/src/embedding-sdk-package/data-app.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/define-query.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/define-query.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/query-helpers.serialization.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/query-helpers.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/type-contract-invalid.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/type-contract-valid.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/types.ts
  enterprise/frontend/src/embedding-sdk-package/package.template.json
  enterprise/frontend/src/embedding-sdk-package/query-sync/canonical.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/discover.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/env.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/lockfile.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/metabase-client.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/query-sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/sync.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/types.ts
  resources/migrations/064/20260717_data_app.yaml
  rspack.embedding-sdk-node.config.js
  skills/metabase-data-app-semantic-layer/SKILL.md
  skills/metabase-data-app-setup/template/package.json
Due: back-end, front-end

revert me: manual skill file edit for source swapping
  skills/metabase-data-app-semantic-layer/SKILL.md
Due: none

rename data app collection and group
  enterprise/backend/src/metabase_enterprise/data_apps/resources.clj
  enterprise/backend/test/metabase_enterprise/data_apps/sync_test.clj
Due: back-end

Swap query source for data app query hooks and apply dynamic filters on top of it (#79584)
  e2e/support/assets/data-apps/kitchen-sink/src/App.tsx
  e2e/support/helpers/data-app-test-env.ts
  e2e/test/scenarios/data-apps/sdk.cy.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/index.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/dynamic-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/resolve-dataset-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/type-contract-invalid.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/type-contract-valid.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/tests/use-metabase-query.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/types.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/use-metabase-query-object.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/use-metabase-query.ts
  frontend/src/embedding-sdk-bundle/lib/create-metabase-query/index.ts
  frontend/src/embedding-sdk-bundle/lib/create-metabase-query/validation.ts
  frontend/src/embedding-sdk-shared/lib/create-metabase-query/input-guards.ts
  skills/metabase-data-app-semantic-layer/SKILL.md
Due: front-end

Store and reconcile data app entity ids in data_app.yaml (#79833)
  .clj-kondo/config/modules/config.edn
  e2e/support/helpers/e2e-data-app-helpers.ts
  e2e/support/helpers/e2e-synced-data-app-helpers.ts
  e2e/support/helpers/index.ts
  e2e/test/scenarios/data-apps/sync.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/data_apps/README.md
  enterprise/backend/src/metabase_enterprise/data_apps/api.clj
  enterprise/backend/src/metabase_enterprise/data_apps/config.clj
  enterprise/backend/src/metabase_enterprise/data_apps/resources.clj
  enterprise/backend/src/metabase_enterprise/data_apps/sync.clj
  enterprise/backend/test/metabase_enterprise/data_apps/api_test.clj
  enterprise/backend/test/metabase_enterprise/data_apps/config_test.clj
  enterprise/backend/test/metabase_enterprise/data_apps/resources_test.clj
  enterprise/backend/test/metabase_enterprise/data_apps/sync_test.clj
  enterprise/backend/test/metabase_enterprise/data_apps/test_util.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/data_app_pull_test.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/data_apps_test.clj
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/manifest.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/metabase-client.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/sync.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/manifest.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/setup.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/types.ts
  enterprise/frontend/src/embedding-sdk-package/hooks/public/use-metabase-query/query-helpers.ts
  skills/metabase-data-app-semantic-layer/SKILL.md
  skills/metabase-data-app-setup/SKILL.md
  skills/metabase-data-app-setup/template/README.md
  skills/metabase-data-app-setup/template/data_app.yaml
  src/metabase/collections/core.clj
  src/metabase/collections/models/collection.clj
  test/metabase/collections/models/collection_test.clj
Due: back-end, front-end

code improvements and bug-fixes for data apps permissions
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/data_apps/api.clj
  enterprise/backend/src/metabase_enterprise/data_apps/config.clj
  enterprise/backend/src/metabase_enterprise/data_apps/resources.clj
  enterprise/backend/src/metabase_enterprise/data_apps/sync.clj
  enterprise/backend/test/metabase_enterprise/data_apps/api_test.clj
  enterprise/backend/test/metabase_enterprise/data_apps/sync_test.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/data_app_pull_test.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/data_apps_test.clj
  enterprise/frontend/src/embedding-sdk-package/cli/actions/sync-queries.ts
  enterprise/frontend/src/embedding-sdk-package/cli/actions/sync-queries.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/cli/cli.ts
  enterprise/frontend/src/embedding-sdk-package/cli/commands/data-apps.ts
  enterprise/frontend/src/embedding-sdk-package/cli/commands/data-apps.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-dev/index.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/ast/query-source.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/canonical.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/discover.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/env.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/lockfile.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/metabase-client.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/reconcile.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/sync.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/canonical.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/discover.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/env.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/reconcile-recovery.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/reconcile-upsert.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/setup.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/tests/sync.unit.spec.ts
  enterprise/frontend/src/embedding-sdk-package/data-app-query-sync/types.ts
  enterprise/frontend/src/embedding-sdk-package/query-sync/discover.ts
  resources/migrations/064/20260717_data_app.yaml
Due: back-end, front-end

run sync queries before vite build
  skills/metabase-data-app-semantic-layer/SKILL.md
  skills/metabase-data-app-setup/template/package.json
Due: none

Show permission error when users cannot access a data app (#79874)
  enterprise/backend/src/metabase_enterprise/data_apps/api.clj
  enterprise/backend/test/metabase_enterprise/data_apps/api_test.clj
  enterprise/frontend/src/metabase-enterprise/data_apps/components/DataAppView/DataAppView.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/components/DataAppView/DataAppView.unit.spec.tsx
Due: back-end, front-end

Add data apps model imports
  .clj-kondo/config/modules/config.edn
Due: none

Add data app group link in overflow menu (#79873)
  enterprise/frontend/src/metabase-enterprise/data_apps/admin/components/DataAppActionsMenu/DataAppActionsMenu.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/admin/components/DataAppActionsMenu/DataAppActionsMenu.unit.spec.tsx
  frontend/src/metabase-types/api/data-app.ts
  frontend/src/metabase-types/api/mocks/data-app.ts
Due: front-end
