Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

rebase rescue
  rebase-continue
Due: none

interrupted: restack upstack of emb-512-code-snippet-and-authentication-step-for-new-iframe-embed
  rebase-continue
Due: none

emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow: branch was restacked externally
  branches/emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
Due: none

emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed: restacked on emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
  branches/emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed
Due: none

interrupted: restack upstack of emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
  rebase-continue
Due: none

gs rebase continue
  rebase-continue
Due: none

emb-513-persist-new-iframe-embed-flow-settings-to-user-settings: branch was restacked externally
  branches/emb-513-persist-new-iframe-embed-flow-settings-to-user-settings
Due: none

emb-513-persist-new-iframe-embed-flow-settings-to-user-settings: restacked on emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed
  branches/emb-513-persist-new-iframe-embed-flow-settings-to-user-settings
Due: none

Add e2e tests
  e2e/test/scenarios/joins/joins-custom-expressions.cy.spec.ts
Due: none

Complete coercion strategy code
  src/metabase/types/core.cljc
  test/metabase/types/core_test.cljc
Due: back-end

fix(sdk): crash when changing questionId from new to native question (#60161)
  e2e/test-component/scenarios/embedding-sdk/interactive-question-native.cy.spec.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestionDefaultView/InteractiveQuestionDefaultView.tsx
Due: front-end

create branch emb-574-update-new-embed-route-from-embednew-to-embed-wizard
  branches/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
Due: none

Fix 2 missing undeclared vars: java and fixup-stacktrace
  src/metabase/util/malli/fn.clj
  test/metabase/util/malli/fn_java_error_test.cljs
Due: back-end

emb-574-update-new-embed-route-from-embednew-to-embed-wizard: save prepared branch
  prepared/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
Due: none

branch submit emb-574-update-new-embed-route-from-embednew-to-embed-wizard
  branches/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
Due: none

emb-574-update-new-embed-route-from-embednew-to-embed-wizard: clear prepared branch
  prepared/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
Due: none

Post stack navigation comments
  branches/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
Due: none

create branch emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
  branches/emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
Due: none

Add toast upon successful database connection during setup
  e2e/test/scenarios/onboarding/setup/setup.cy.spec.ts
  frontend/src/metabase/setup/components/DatabaseStep/DatabaseStep.styled.tsx
  frontend/src/metabase/setup/components/DatabaseStep/DatabaseStep.tsx
Due: front-end

Update deps.edn
  modules/drivers/databricks/deps.edn
Due: none

Create UpsellDevInstances for Embeddings pages
  enterprise/frontend/src/metabase-enterprise/embedding/components/InteractiveEmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/StaticEmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/EmbeddingSettingsPage.tsx
  frontend/src/metabase/admin/upsells/UpsellDevInstances.tsx
Due: front-end

Add dev instance upsell to general settings
  frontend/src/metabase/admin/settings/components/SettingsPages/GeneralSettingsPage.tsx
Due: front-end

Add dev instancles banner
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/StaticEmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/DevInstanceBanner.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/EmbeddingSettingsPage.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/GeneralSettingsPage.tsx
Due: front-end

Hide upsell in in dev mode
  frontend/src/metabase/admin/settings/components/SettingsPages/GeneralSettingsPage.tsx
  frontend/src/metabase/admin/upsells/UpsellDevInstances.tsx
Due: front-end

Add StorePaths type
  frontend/src/metabase/selectors/settings.ts
Due: front-end

Refactor imports for UpsellDevInstances across embedding settings components
  enterprise/frontend/src/metabase-enterprise/embedding/components/InteractiveEmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/StaticEmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/EmbeddingSettingsPage.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/GeneralSettingsPage.tsx
  frontend/src/metabase/admin/upsells/index.ts
Due: front-end

Update links for dev instances banner
  frontend/src/metabase/admin/settings/components/GeneralSettings/DevInstanceBanner.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/GeneralSettingsPage.tsx
Due: front-end

Add unit tests for DevInstanceBanner component
  frontend/src/metabase/admin/settings/components/GeneralSettings/DevInstanceBanner.unit.spec.tsx
Due: front-end

Refactor DevInstanceBanner to use translation function directly for text and external links
  frontend/src/metabase/admin/settings/components/GeneralSettings/DevInstanceBanner.tsx
Due: front-end

Update store link for upsell dev instance
  frontend/src/metabase/admin/upsells/UpsellDevInstances.tsx
Due: front-end

Refactor DevInstanceBanner to use a reusable BannerBody
  frontend/src/metabase/admin/settings/components/GeneralSettings/DevInstanceBanner.tsx
Due: front-end

Satisfy linter
  frontend/src/metabase/setup/components/DatabaseStep/DatabaseStep.tsx
Due: front-end

[do not merge] add a broken link
  docs/README.md
Due: none

Stop unfurling links in Slack notifications
  src/metabase/channel/slack.clj
Due: back-end

emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow: save prepared branch
  prepared/emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
Due: none

branch submit emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
  branches/emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
Due: none

emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow: clear prepared branch
  prepared/emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
Due: none

Post stack navigation comments
  branches/emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
Due: none

new-iframe-embedding-setup-flow: restacked on master
  branches/new-iframe-embedding-setup-flow
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
