Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Rename PulseChannel to :model/SubscriptionChannel and also change the namespace name
  .clj-kondo/config.edn
  enterprise/backend/src/metabase_enterprise/audit_app/pages/common/pulses.clj
  enterprise/backend/src/metabase_enterprise/serialization/load.clj
  enterprise/backend/src/metabase_enterprise/serialization/serialize.clj
  enterprise/backend/src/metabase_enterprise/serialization/upsert.clj
  enterprise/backend/test/metabase_enterprise/advanced_config/models/pulse_channel_test.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/subscription_test.clj
  enterprise/backend/test/metabase_enterprise/audit_app/api/user_test.clj
  enterprise/backend/test/metabase_enterprise/audit_app/pages/alerts_test.clj
  enterprise/backend/test/metabase_enterprise/audit_app/pages/dashboard_subscriptions_test.clj
  enterprise/backend/test/metabase_enterprise/models/entity_id_test.clj
  enterprise/backend/test/metabase_enterprise/sandbox/pulse_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/load_test.clj
  resources/migrations/000_migrations.yaml
  src/metabase/analytics/stats.clj
  src/metabase/api/alert.clj
  src/metabase/api/pulse.clj
  src/metabase/api/session.clj
  src/metabase/cmd/copy.clj
  src/metabase/models.clj
  src/metabase/models/pulse.clj
  src/metabase/models/pulse_channel_recipient.clj
  src/metabase/models/subscription_channel.clj
  src/metabase/task/send_pulses.clj
  test/metabase/analytics/stats_test.clj
  test/metabase/api/alert_test.clj
  test/metabase/api/card_test.clj
  test/metabase/api/collection_test.clj
  test/metabase/api/pulse_test.clj
  test/metabase/api/session_test.clj
  test/metabase/dashboard_subscription_test.clj
  test/metabase/models/pulse_channel_test.clj
  test/metabase/models/pulse_test.clj
  test/metabase/models/user_test.clj
  test/metabase/pulse_test.clj
  test/metabase/task/send_pulses_test.clj
  test/metabase/test/generate.clj
  test/metabase/test/util.clj
Due: back-end

Split migration (#34400)
  .clj-kondo/config.edn
  .clj-kondo/hooks/metabase/db/schema_migrations_test/impl.clj
  bin/lint-migrations-file/src/change/common.clj
  bin/lint-migrations-file/src/change/strict.clj
  bin/lint-migrations-file/src/change/unstrict.clj
  bin/lint-migrations-file/src/change_set/common.clj
  bin/lint-migrations-file/src/change_set/strict.clj
  bin/lint-migrations-file/src/change_set/unstrict.clj
  bin/lint-migrations-file/src/lint_migrations_file.clj
  bin/lint-migrations-file/test/lint_migrations_file_test.clj
  e2e/test/scenarios/permissions/admin-permissions.cy.spec.js
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
  resources/liquibase_legacy.yaml
  resources/migrations/000_legacy_migrations.yaml
  resources/migrations/001_update_migrations.yaml
  resources/migrations/initialization/metabase_h2.sql
  resources/migrations/initialization/metabase_mysql.sql
  resources/migrations/initialization/metabase_postgres.sql
  src/metabase/db/custom_migrations.clj
  src/metabase/db/liquibase.clj
  src/metabase/db/setup.clj
  test/metabase/api/permissions_test.clj
  test/metabase/db/custom_migrations_test.clj
  test/metabase/db/fix_mysql_utf8_test.clj
  test/metabase/db/force_migration_test.clj
  test/metabase/db/liquibase_test.clj
  test/metabase/db/schema_migrations_test.clj
  test/metabase/db/schema_migrations_test/impl.clj
  test/metabase/db/setup_test.clj
  test/metabase/setup_test.clj
  test/metabase/test.clj
  test/metabase/test/data.clj
Due: back-end

Revert "Add fonts in Dockerfile to fix pulses (#31764)"
  Dockerfile
  bin/docker/Dockerfile
  bin/docker/Dockerfile_ubuntu
Due: none

Add simple picker
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/SimpleCurrentDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/SimpleCurrentDatePicker/utils.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.tsx
  frontend/src/metabase/common/components/SimpleDatePicker/CurrentDatePicker/constants.ts
  frontend/src/metabase/common/components/SimpleDatePicker/CurrentDatePicker/index.ts
  frontend/src/metabase/common/components/SimpleDatePicker/CurrentDatePicker/types.ts
  frontend/src/metabase/common/components/SimpleDatePicker/CurrentDatePicker/utils.ts
Due: front-end

Revert "Add fonts in Dockerfile to fix pulses (#31764)" (#35735)
  Dockerfile
  bin/docker/Dockerfile
  bin/docker/Dockerfile_ubuntu
Due: none

Add simple picker
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/SimpleCurrentDatePicker/SimpleCurrentDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/index.ts
Due: front-end

Add simple picker
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/SimpleRelativeDatePicker/SimpleRelativeDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/SimpleRelativeDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/SimpleDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/constants.ts
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/types.ts
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/utils.ts
  frontend/src/metabase/common/components/DatePicker/index.ts
Due: front-end

Fix iframe-resizer readyCallback to onReady (#35541)
  frontend/src/metabase/lib/dom.js
Due: front-end

Add fonts in Dockerfile to fix pulses (#31764)
  Dockerfile
  bin/docker/Dockerfile
  bin/docker/Dockerfile_ubuntu
Due: none

Fix Docker build command
  bin/docker/Dockerfile_ubuntu
Due: none

Quarantine Flaky e2e Tests (#35676)
  .github/actions/build-e2e-matrix/action.yml
  .github/workflows/e2e-tests.yml
  e2e/test/scenarios/actions/actions-on-dashboards.cy.spec.js
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
  e2e/test/scenarios/dashboard-cards/dashboard-card-resizing.cy.spec.js
  e2e/test/scenarios/embedding/embedding-smoketests.cy.spec.js
  e2e/test/scenarios/models/models-metadata.cy.spec.js
  e2e/test/scenarios/native/native_subquery.cy.spec.js
  e2e/test/scenarios/onboarding/search/recently-viewed.cy.spec.js
  e2e/test/scenarios/onboarding/urls.cy.spec.js
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
Due: none

Add simple picker
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SimpleSingleDatePicker/SimpleSingleDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SimpleSingleDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SingleDatePicker.tsx
Due: front-end

Use performance.now()
  frontend/src/metabase/dashboard/actions/save.js
Due: front-end

Various rename pc to sc and make rename test ns
  enterprise/backend/src/metabase_enterprise/advanced_config/models/subscription_channel.clj
  enterprise/backend/test/metabase_enterprise/advanced_config/models/subscription_channel_test.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/subscription_test.clj
  enterprise/backend/test/metabase_enterprise/sandbox/pulse_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/e2e_test.clj
  src/metabase/api/alert.clj
  src/metabase/api/pulse.clj
  src/metabase/api/session.clj
  src/metabase/models/pulse.clj
  src/metabase/models/subscription_channel.clj
  src/metabase/task/send_pulses.clj
  test/metabase/api/alert_test.clj
  test/metabase/api/card_test.clj
  test/metabase/api/collection_test.clj
  test/metabase/api/pulse_test.clj
  test/metabase/dashboard_subscription_test.clj
  test/metabase/models/pulse_test.clj
  test/metabase/models/subscription_channel_test.clj
  test/metabase/models/user_test.clj
  test/metabase/pulse_test.clj
  test/metabase/task/send_pulses_test.clj
  test/metabase/test/generate.clj
  test/metabase/test/mock/util.clj
Due: back-end

Reattempt: Add fonts in Dockerfile to fix pulses (#35736)
  Dockerfile
  bin/docker/Dockerfile
  bin/docker/Dockerfile_ubuntu
Due: none

Improve `uberjar.yml` workflow
  .github/workflows/uberjar.yml
Due: none

rename PulseChannelRecipient to SubscriptionChannelRecipient
  enterprise/backend/src/metabase_enterprise/audit_app/api/user.clj
  enterprise/backend/src/metabase_enterprise/audit_app/pages/common/pulses.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/subscription_test.clj
  enterprise/backend/test/metabase_enterprise/audit_app/api/user_test.clj
  enterprise/backend/test/metabase_enterprise/audit_app/pages/alerts_test.clj
  enterprise/backend/test/metabase_enterprise/audit_app/pages/dashboard_subscriptions_test.clj
  enterprise/backend/test/metabase_enterprise/models/entity_id_test.clj
  enterprise/backend/test/metabase_enterprise/sandbox/pulse_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/e2e_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/entity_ids_test.clj
  src/metabase/api/alert.clj
  src/metabase/api/pulse.clj
  src/metabase/cmd/copy.clj
  src/metabase/models.clj
  src/metabase/models/pulse.clj
  src/metabase/models/subscription_channel.clj
  src/metabase/models/subscription_channel_recipient.clj
  src/metabase/models/user.clj
  src/metabase/pulse.clj
  test/metabase/api/alert_test.clj
  test/metabase/api/card_test.clj
  test/metabase/api/collection_test.clj
  test/metabase/api/pulse_test.clj
  test/metabase/dashboard_subscription_test.clj
  test/metabase/models/pulse_test.clj
  test/metabase/models/subscription_channel_test.clj
  test/metabase/models/user_test.clj
  test/metabase/pulse_test.clj
  test/metabase/task/send_pulses_test.clj
  test/metabase/test/generate.clj
Due: back-end

Update custom-column.cy.spec.js
  e2e/test/scenarios/custom-column/custom-column.cy.spec.js
Due: none

Fix misplaced negative sign on a currency visualization in Dashboard (#35632) (#35728)
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/lib/formatting/numbers.unit.spec.js
  frontend/test/metabase/lib/formatting.unit.spec.js
Due: front-end

Improve and unify `external-filter` checks
  .github/workflows/chromatic.yml
  .github/workflows/drivers.yml
  .github/workflows/e2e-tests.yml
Due: none

Refine E2E jobs conditionals
  .github/workflows/e2e-tests.yml
Due: none

Fix e2e tests
  e2e/test/scenarios/dashboard-filters/parameters.cy.spec.js
  e2e/test/scenarios/dashboard-filters/reproductions/19494-wrong-default-value-multiple-cards-same-question.cy.spec.js
Due: none

Add e2e tests to make sure everything works
  e2e/test/scenarios/dashboard-filters/parameters.cy.spec.js
  frontend/src/metabase/dashboard/actions/auto-wire-parameters/toasts.ts
Due: front-end

Add simple picker
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/CurrentDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/SimpleCurrentDatePicker/SimpleCurrentDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/SimpleCurrentDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/SimpleCurrentDatePicker/utils.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/CurrentDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/RelativeDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/SimpleRelativeDatePicker/SimpleRelativeDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/SimpleRelativeDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/RelativeDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SimpleSingleDatePicker/SimpleSingleDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SimpleSingleDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SingleDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/index.ts
Due: front-end

Add simple picker
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/DateRangePicker/DateRangePicker.tsx
Due: front-end

Address review comment
  .github/workflows/uberjar.yml
Due: none

Add test
  src/metabase/events/driver_notifications.clj
  test/metabase/api/database_test.clj
Due: back-end

better logging for escaped cards
  enterprise/backend/src/metabase_enterprise/serialization/v2/extract.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
Due: back-end

Improve `uberjar.yml` workflow (test multi-arch job) (#35737)
  .github/workflows/uberjar.yml
Due: none

Operator picker
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/DateOperatorPicker.tsx
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/constants.ts
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/index.ts
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/types.ts
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/utils.ts
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/SimpleDatePicker.tsx
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/index.ts
  frontend/src/metabase/common/components/DatePicker/SimpleDatePicker/types.ts
  frontend/src/metabase/common/components/DatePicker/index.ts
Due: front-end

Update e2e/test/scenarios/dashboard-filters/parameters.cy.spec.js
  e2e/test/scenarios/dashboard-filters/parameters.cy.spec.js
Due: none

Operator picker
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/DateOperatorPicker.tsx
  frontend/src/metabase/common/components/DatePicker/SpecificDatePicker/SpecificDatePicker.tsx
Due: front-end

Operator picker
  frontend/src/metabase/common/components/DatePicker/DateOperatorPicker/DateOperatorPicker.tsx
  frontend/src/metabase/common/components/DatePicker/DatePicker.tsx
Due: front-end

fix the dev ns
  dev/src/dev/render_png.clj
Due: none

Operator picker
  frontend/src/metabase/common/components/FilterPicker/DateFilterPicker/DateFilterPicker.tsx
  frontend/src/metabase/common/components/FilterPicker/index.ts
  frontend/src/metabase/common/components/FilterPicker/types.ts
Due: front-end

Add chrome
  frontend/src/metabase-lib/comparison.ts
  frontend/src/metabase/common/components/TimeseriesChrome/TimeseriesChrome.tsx
  frontend/src/metabase/common/components/TimeseriesChrome/TimeseriesFilterPicker/TimeseriesFilterPicker.tsx
  frontend/src/metabase/common/components/TimeseriesChrome/TimeseriesFilterPicker/index.ts
  frontend/src/metabase/common/components/TimeseriesChrome/index.ts
  frontend/src/metabase/common/components/TimeseriesChrome/utils.ts
Due: front-end

[MLv2] Export find-matching-column
  src/metabase/lib/core.cljc
  src/metabase/lib/js.cljs
Due: back-end

Fix function
  src/metabase/lib/js.cljs
Due: back-end

Use mode
  frontend/src/metabase/visualizations/click-actions/modes/TimeseriesMode.ts
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
