Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 50%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Add a test case for default error message when there is only 1 series
  e2e/test/scenarios/dashboard-cards/reproductions/32231-add-incompatible-series.cy.spec.js
Due: none

Remove redundant setup functions
  e2e/test/scenarios/dashboard-cards/reproductions/32231-add-incompatible-series.cy.spec.js
Due: none

Wait for series query endpoint
  e2e/test/scenarios/dashboard-cards/reproductions/32231-add-incompatible-series.cy.spec.js
Due: none

Rename ErrorView to VisualizationErrorView
  frontend/src/metabase/dashboard/components/AddSeriesModal/AddSeriesModal.tsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/VisualizationErrorView.tsx
Due: front-end

Rename VisualizationErrorView to MultipleSeriesErrorView
  frontend/src/metabase/dashboard/components/AddSeriesModal/AddSeriesModal.tsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/MultipleSeriesErrorView.tsx
Due: front-end

Fix spacing
  frontend/src/metabase/ui/theme.ts
Due: front-end

Improve assertions
  e2e/test/scenarios/dashboard-cards/reproductions/32231-add-incompatible-series.cy.spec.js
Due: none

cancels ongoing cards when saving a dashboard
  e2e/test/scenarios/dashboard/reproductions/12926-editing-dashboards-doesnt-cancel-running-queries.cy.spec.js
  frontend/src/metabase/dashboard/actions/data-fetching.js
  frontend/src/metabase/dashboard/reducers.js
Due: front-end

refactor: change from stub to spy so that we can also see in the inspector that the request has been cancelled
  e2e/test/scenarios/dashboard/reproductions/12926-editing-dashboards-doesnt-cancel-running-queries.cy.spec.js
Due: none

test that the data will eventually be displayed
  e2e/test/scenarios/dashboard/reproductions/12926-editing-dashboards-doesnt-cancel-running-queries.cy.spec.js
Due: none

remove optional field (#33096)
  docs/actions/custom.md
Due: none

Add missing translations (#33046)
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/alerts.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/dashboard_detail.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/dashboards.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/database_detail.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/databases.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/downloads.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/queries.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/query_detail.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/question_detail.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/schemas.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/subscriptions.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/table_detail.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/tables.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/user_detail.js
  enterprise/frontend/src/metabase-enterprise/audit_app/lib/cards/users.js
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/MappingEditor.jsx
  frontend/src/metabase/admin/people/components/AddMemberRow.jsx
  frontend/src/metabase/admin/people/components/GroupsListing.jsx
  frontend/src/metabase/admin/permissions/selectors/collection-permissions.js
  frontend/src/metabase/collections/components/MoveCollectionModal/MoveCollectionModal.tsx
  frontend/src/metabase/entities/users/forms.js
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting.jsx
  frontend/src/metabase/visualizations/lib/settings/column.js
  frontend/src/metabase/visualizations/visualizations/Gauge/Gauge.jsx
Due: front-end

Add e2e test for native queries
  e2e/test/scenarios/visualizations/reproductions/33113-pie-and-funnel-charts-switch-to-table.cy.spec.js
Due: none

Add realistic menu item content
  frontend/src/metabase/ui/components/index.ts
  frontend/src/metabase/ui/components/overlays/Menu/Menu.stories.mdx
  frontend/src/metabase/ui/components/overlays/Menu/index.ts
  frontend/src/metabase/ui/components/overlays/index.ts
Due: front-end

Fix dynamic message id in translations (#33122)
  e2e/test/scenarios/question/reproductions/33079-drill-underlying-records.cy.spec.js
  frontend/src/metabase/modes/components/drill/UnderlyingRecordsDrill.ts
Due: front-end

Fix background colors
  frontend/src/metabase/ui/theme.ts
Due: front-end

Fix width
  frontend/src/metabase/ui/components/overlays/Menu/Menu.stories.mdx
  frontend/src/metabase/ui/theme.ts
Due: front-end

Revert group name fix since it breaks too many things
  frontend/src/metabase/admin/permissions/selectors/data-permissions/groups.ts
Due: front-end

Fix admin>permissions>data>group name translation
  frontend/src/metabase/admin/permissions/selectors/data-permissions/group-sidebar.ts
Due: front-end

Add e2e test
  e2e/test/scenarios/admin/databases/reproductions/33035-group-translations.cy.spec.js
Due: none

Sarina edits
  docs/actions/introduction.md
Due: none

docs - h2 update (#33019)
  docs/actions/introduction.md
  docs/databases/connecting.md
  docs/databases/connections/h2.md
  docs/questions/query-builder/expressions/converttimezone.md
Due: none

docs - h2 update (#33019) (#33135)
  docs/actions/introduction.md
  docs/databases/connecting.md
  docs/databases/connections/h2.md
  docs/questions/query-builder/expressions/converttimezone.md
Due: none

remove user flag
  docs/installation-and-operation/serialization.md
Due: none

Exclude drivers that do not support getParameterCount
  test/metabase/query_processor_test/parameters_test.clj
Due: none

Refactor maybeResetDisplay
  frontend/src/metabase-lib/Question.ts
  frontend/src/metabase/query_builder/actions/querying.js
  frontend/src/metabase/visualizations/index.js
Due: front-end

fix unit tests
  frontend/src/metabase/dashboard/containers/DashboardApp/DashboardApp.unit.spec.tsx
Due: front-end

[MLv2] Include temporal-bucketing on selected join condition columns
  src/metabase/lib/join.cljc
  test/metabase/lib/join_test.cljc
Due: back-end

Update comments
  frontend/src/metabase/query_builder/actions/querying.js
Due: front-end

Update enterprise/backend/test/metabase_enterprise/sso/integrations/sso_utils_test.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/sso_utils_test.clj
Due: back-end

update collections
  docs/installation-and-operation/serialization.md
Due: none

note on no-collections
  docs/installation-and-operation/serialization.md
Due: none

Fix BE tests
  src/metabase/lib/breakout.cljc
  src/metabase/lib/equality.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/join/util.cljc
  src/metabase/lib/metadata/calculation.cljc
  src/metabase/lib/order_by.cljc
  src/metabase/lib/stage.cljc
  test/metabase/lib/field_test.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

Temporarily comment out flaky bigquery tests.
  modules/drivers/bigquery-cloud-sdk/test/metabase/driver/bigquery_cloud_sdk_test.clj
Due: none
