Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

more css
  frontend/src/metabase/lib/colors/palette.ts
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/EditorTabs.module.css
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/EditorTabs.styled.tsx
  frontend/src/metabase/query_builder/components/DatasetEditor/EditorTabs/EditorTabs.tsx
Due: front-end

removing the 'can_write' requirement for selecting things via the question picker
  e2e/test/scenarios/dashboard-cards/dashboard-sections.cy.spec.js
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPickerModal.tsx
Due: front-end

Clean up test + cljfmt
  src/metabase/public_settings/premium_features.clj
  test/metabase/public_settings/premium_features_test.clj
Due: back-end

more css
  frontend/src/metabase/query_builder/components/view/NativeCodePanel/NativeCodePanel.module.css
  frontend/src/metabase/query_builder/components/view/NativeCodePanel/NativeCodePanel.styled.tsx
  frontend/src/metabase/query_builder/components/view/NativeCodePanel/NativeCodePanel.tsx
Due: front-end

Attempt to fix tests by ensuring that font styles are kept
  frontend/src/metabase/core/components/Ellipsified/Ellipsified.tsx
Due: front-end

Fix logging with conflict handlers (#50723)
  bin/build/src/build/uberjar.clj
  bin/build/src/build_drivers/create_uberjar.clj
  deps.edn
Due: none

more css
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.module.css
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParamParts/TagEditorParam.styled.tsx
Due: front-end

[serdes] do not require prefix when passing entity ids to export
  enterprise/backend/src/metabase_enterprise/serialization/api.clj
  enterprise/backend/test/metabase_enterprise/serialization/api_test.clj
  src/metabase/cmd.clj
Due: back-end

commands
  docs/installation-and-operation/commands.md
  enterprise/frontend/src/embedding-sdk/README.md
Due: front-end

fix test
  test/metabase/public_settings/premium_features_test.clj
Due: none

Address feedback on Sankey (#50611)
  e2e/test/scenarios/visualizations-charts/sankey.cy.spec.js
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldPicker.jsx
  frontend/src/metabase/visualizations/echarts/graph/sankey/layout/index.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/dataset.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/dataset.unit.spec.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/formatters.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/index.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/types.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/option/index.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/option/tooltip.tsx
  frontend/src/metabase/visualizations/echarts/types.ts
  frontend/src/metabase/visualizations/lib/settings/utils.js
  frontend/src/metabase/visualizations/types/visualization.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/SankeyChart.tsx
  frontend/src/metabase/visualizations/visualizations/SankeyChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/chart-definition.unit.spec.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/events.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/events.unit.spec.ts
Due: front-end

Pivot Exports Can Handle `nil` in Breakout Col, and Multiple Cols of the Same Aggregation Type (#50672) (#50780)
  src/metabase/query_processor/pivot.clj
  src/metabase/query_processor/pivot/postprocess.clj
  src/metabase/query_processor/streaming/csv.clj
  test/metabase/api/downloads_exports_test.clj
Due: back-end

Add new strings for v52.0
  locales/metabase.pot
Due: none

Update translations
  locales/ar-SA.po
  locales/ar.po
  locales/bg.po
  locales/ca.po
  locales/cs.po
  locales/da.po
  locales/de.po
  locales/es.po
  locales/fa.po
  locales/fi.po
  locales/fr.po
  locales/he.po
  locales/hu.po
  locales/id.po
  locales/it.po
  locales/ja.po
  locales/ko.po
  locales/lv.po
  locales/ms.po
  locales/nb.po
  locales/nl.po
  locales/pl.po
  locales/pt-BR.po
  locales/ru.po
  locales/sk.po
  locales/sq.po
  locales/sr.po
  locales/sv.po
  locales/tr.po
  locales/uk.po
  locales/vi.po
  locales/zh-CN.po
  locales/zh-HK.po
  locales/zh-TW.po
  locales/zh.po
Due: none

Remove memoization of active user counts setting (#50779)
  src/metabase/public_settings/premium_features.clj
  src/metabase/troubleshooting.clj
  test/metabase/public_settings/premium_features_test.clj
Due: back-end

Address feedback on Sankey (#50611) (#50787)
  e2e/test/scenarios/visualizations-charts/sankey.cy.spec.js
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldPicker.jsx
  frontend/src/metabase/visualizations/echarts/graph/sankey/layout/index.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/dataset.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/dataset.unit.spec.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/formatters.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/index.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/types.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/option/index.ts
  frontend/src/metabase/visualizations/echarts/graph/sankey/option/tooltip.tsx
  frontend/src/metabase/visualizations/echarts/types.ts
  frontend/src/metabase/visualizations/lib/settings/utils.js
  frontend/src/metabase/visualizations/types/visualization.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/SankeyChart.tsx
  frontend/src/metabase/visualizations/visualizations/SankeyChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/chart-definition.unit.spec.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/events.ts
  frontend/src/metabase/visualizations/visualizations/SankeyChart/events.unit.spec.ts
Due: front-end

fix narrow ordinal line charts have no tooltip (#50715)
  e2e/test/scenarios/visualizations-charts/visualizations-charts-reproductions.cy.spec.ts
  frontend/src/metabase/visualizations/echarts/cartesian/option/series.ts
Due: front-end

fix(sdk): introduce `.mb-wrapper` to scope down our css (#50466)
  .storybook/preview.tsx
  e2e/test-component/scenarios/embedding-sdk/styles-tests.cy.spec.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentStylesWrapper.tsx
  frontend/src/metabase/css/core/box_sizing.module.css
  frontend/src/metabase/css/core/headings.module.css
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.module.css
  resources/frontend_client/index_template.html
Due: front-end

more css
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.module.css
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.styled.tsx
Due: front-end

Remove memoization of active user counts setting (#50779) (#50788)
  src/metabase/public_settings/premium_features.clj
  src/metabase/troubleshooting.clj
  test/metabase/public_settings/premium_features_test.clj
Due: back-end

sankey static viz integration test
  test/metabase/channel/render/body_test.clj
Due: none

more css
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.module.css
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
Due: front-end

fix narrow ordinal line charts have no tooltip (#50715) (#50789)
  e2e/test/scenarios/visualizations-charts/visualizations-charts-reproductions.cy.spec.ts
  frontend/src/metabase/visualizations/echarts/cartesian/option/series.ts
Due: front-end

Add fix to field e2e test but not embedding e2e test
  e2e/test/scenarios/native-filters/helpers/e2e-field-filter-data-objects.js
  e2e/test/scenarios/native-filters/sql-field-filter-types.cy.spec.js
Due: none

Introduce the non-admin Onboarding Checklist (#50516)
  e2e/test/scenarios/onboarding/onboarding-checklist.cy.spec.ts
  frontend/src/metabase/home/components/Onboarding/Onboarding.tsx
  frontend/src/metabase/home/components/Onboarding/tests/common.unit.spec.tsx
  frontend/src/metabase/home/components/Onboarding/tests/setup.tsx
  frontend/src/metabase/home/selectors.ts
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/common.unit.spec.tsx
  frontend/src/metabase/route-guards.tsx
  frontend/src/metabase/routes.jsx
Due: front-end

fix(sdk): introduce `.mb-wrapper` to scope down our css (#50466) (#50791)
  .storybook/preview.tsx
  e2e/test-component/scenarios/embedding-sdk/styles-tests.cy.spec.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentStylesWrapper.tsx
  frontend/src/metabase/css/core/box_sizing.module.css
  frontend/src/metabase/css/core/headings.module.css
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.module.css
  resources/frontend_client/index_template.html
Due: front-end

commit unsaved changes
  enterprise/frontend/src/metabase-enterprise/clean_up/CollectionCleanupAlert/CollectionCleanupAlert.tsx
Due: front-end

hides clean up ui on sample collections
  e2e/test/scenarios/collections/cleanup.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/clean_up/CollectionCleanupAlert/CollectionCleanupAlert.tsx
  enterprise/frontend/src/metabase-enterprise/clean_up/index.tsx
  frontend/src/metabase-types/api/collection.ts
  frontend/src/metabase/collections/components/CollectionMenu/CollectionMenu.tsx
  frontend/src/metabase/plugins/index.ts
Due: front-end

Fix the help link
  frontend/src/metabase/home/components/Onboarding/Onboarding.tsx
  frontend/src/metabase/home/components/Onboarding/tests/common.unit.spec.tsx
  frontend/src/metabase/home/components/Onboarding/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/home/components/Onboarding/tests/premium.unit.spec.tsx
Due: front-end

Fix a (native-ace-editor) flake 30039 (#50774) (#50775)
  e2e/test/scenarios/visualizations-tabular/visualizations-tabular-reproductions.cy.spec.js
Due: none

Partially fix flaky native e2e tests (#50710) (#50747)
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native.cy.spec.js
Due: none

Add fix to field e2e test but not embedding e2e test (#50795)
  e2e/test/scenarios/native-filters/helpers/e2e-field-filter-data-objects.js
  e2e/test/scenarios/native-filters/sql-field-filter-types.cy.spec.js
Due: none

Update data stack image
  resources/frontend_client/app/assets/img/onboarding_data_diagram.png
  resources/frontend_client/app/assets/img/onboarding_data_diagram@2x.png
Due: none
