Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Create snapshots using Chrome
  frontend/test/__runner__/cypress-runner-generate-snapshots.js
Due: front-end

Test in GHA once again
  .github/workflows/e2e-tests.yml
Due: none

Fix flakes
  frontend/test/metabase/scenarios/admin/settings/localization.cy.spec.js
  frontend/test/metabase/scenarios/admin/settings/settings.cy.spec.js
Due: front-end

Reinforce localization test
  frontend/test/metabase/scenarios/admin/settings/localization.cy.spec.js
Due: front-end

Set browser in the base Cypress config
  frontend/test/__runner__/cypress-runner-run-tests.js
  package.json
Due: front-end

Fix subscription flakes related to "Email sent" string
  frontend/test/__support__/e2e/helpers/e2e-email-helpers.js
  frontend/test/metabase/scenarios/sharing/reproductions/18009-nodata-creates-subscription-receives-error.cy.spec.js
  frontend/test/metabase/scenarios/sharing/reproductions/18344-subscription-shows-original-question-name.cy.spec.js
  frontend/test/metabase/scenarios/sharing/reproductions/18352-subscription-int64-value-card.cy.spec.js
  frontend/test/metabase/scenarios/sharing/reproductions/18669-test-email-with-parameters.cy.spec.js
  frontend/test/metabase/scenarios/sharing/subscriptions.cy.spec.js
Due: front-end

[E2E] Fix admin datetime flakes (#21440)
  frontend/test/metabase/scenarios/admin/settings/localization.cy.spec.js
  frontend/test/metabase/scenarios/admin/settings/settings.cy.spec.js
Due: front-end

Change branch back to `master` for E2E workflow
  .github/workflows/e2e-tests.yml
Due: none

add schemas key to "all" level of data model perms
  src/metabase/models/permissions/parse.clj
  test/metabase/models/permissions/parse_test.clj
Due: back-end

Backported "Moved model's collection isn't displayed until page refresh" (Issue: #19737, PR: #21178) (#21245)
  frontend/src/metabase/entities/questions.js
  frontend/src/metabase/entities/schemas.js
  frontend/test/metabase/entities/schemas.unit.spec.js
  frontend/test/metabase/scenarios/models/reproductions/19737-data-picker-not-showing-moved-model.cy.spec.js
Due: front-end

fix test
  enterprise/backend/test/metabase_enterprise/advanced_permissions/models/permissions_test.clj
Due: back-end

lah... de.... dah...
  src/metabase/driver/postgres.clj
  test/metabase/driver/postgres_test.clj
Due: back-end

update question properties
  frontend/src/metabase/visualizations/lib/settings/dashcard_locales.js
Due: front-end

add the type backoff
  src/metabase/driver/postgres.clj
Due: back-end

Fix subscription flakes related to "Email sent" string (#21441)
  frontend/test/__support__/e2e/helpers/e2e-email-helpers.js
  frontend/test/metabase/scenarios/sharing/reproductions/18009-nodata-creates-subscription-receives-error.cy.spec.js
  frontend/test/metabase/scenarios/sharing/reproductions/18344-subscription-shows-original-question-name.cy.spec.js
  frontend/test/metabase/scenarios/sharing/reproductions/18352-subscription-int64-value-card.cy.spec.js
  frontend/test/metabase/scenarios/sharing/reproductions/18669-test-email-with-parameters.cy.spec.js
  frontend/test/metabase/scenarios/sharing/subscriptions.cy.spec.js
Due: front-end

crude lazy max
  src/metabase/driver/postgres.clj
Due: back-end

backoff exists now
  test/metabase/driver/postgres_test.clj
Due: none

Run E2E tests using Chrome instead of Electron (#21438)
  frontend/test/__runner__/cypress-runner-generate-snapshots.js
  frontend/test/__runner__/cypress-runner-run-tests.js
  package.json
Due: front-end

fix per comments
  src/metabase/db/data_migrations.clj
  src/metabase/models/permissions.clj
  src/metabase/models/setting.clj
  test/metabase/db/data_migrations_test.clj
  test/metabase/test.clj
  test/metabase/test/util.clj
Due: back-end

Update permissions.clj
  src/metabase/models/permissions.clj
Due: back-end

tweaking with the ⚠️ icon
  src/metabase/models/permissions.clj
Due: back-end

Fix data model perms graph to always include "schemas" key at top level (#21442)
  enterprise/backend/test/metabase_enterprise/advanced_permissions/models/permissions_test.clj
  src/metabase/models/permissions/parse.clj
  test/metabase/models/permissions/parse_test.clj
Due: back-end

service
  docs/operations-guide/migrating-from-h2.md
  docs/operations-guide/running-migrations-manually.md
  docs/operations-guide/running-the-metabase-jar-file.md
  docs/operations-guide/start.md
Due: none

anchor links
  docs/operations-guide/migrating-from-h2.md
  docs/operations-guide/running-metabase-on-docker.md
Due: none

Enforce checkbox icon width
  frontend/src/metabase/core/components/CheckBox/CheckBox.styled.tsx
Due: front-end

QuestionList layout updated for wrapping
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.styled.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionListItem.styled.jsx
Due: front-end

Scroll updates for questions search
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.styled.jsx
Due: front-end

Remove debugging props
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.jsx
Due: front-end

Layout updated
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.styled.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionListItem.styled.jsx
Due: front-end

Move public question spec to the `sharing` group
  frontend/test/metabase/scenarios/sharing/public-question.cy.spec.js
Due: front-end

Reset dashboard state when leaving the page
  frontend/src/metabase/dashboard/actions.js
  frontend/src/metabase/dashboard/containers/DashboardApp.jsx
  frontend/src/metabase/dashboard/reducers.js
Due: front-end

[E2E] Move public question spec to the `sharing` group (#21444)
  frontend/test/metabase/scenarios/sharing/public-question.cy.spec.js
Due: front-end

Add popular views
  frontend/src/metabase-types/api/mocks/activity.ts
Due: front-end

Browsing nav cleanup (#21418)
  frontend/src/metabase/collections/components/BaseTableItem.jsx
  frontend/src/metabase/entities/questions.js
  frontend/src/metabase/icon_paths.ts
  frontend/src/metabase/nav/components/ProfileLink.jsx
  frontend/src/metabase/nav/containers/AppBar.styled.tsx
  frontend/src/metabase/nav/containers/AppBar.tsx
  frontend/src/metabase/nav/containers/MainNavbar/BookmarkList/BookmarkList.styled.tsx
  frontend/src/metabase/nav/containers/MainNavbar/BookmarkList/BookmarkList.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbar.styled.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarView.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/SidebarCollectionLink.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/SidebarItems.styled.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/SidebarLink.tsx
  frontend/src/metabase/nav/containers/MainNavbar/types.ts
  frontend/test/__support__/e2e/helpers/e2e-ui-elements-helpers.js
  frontend/test/metabase/scenarios/collections/bookmarks.cy.spec.js
  frontend/test/metabase/scenarios/collections/items-metadata.cy.spec.js
  frontend/test/metabase/scenarios/collections/permissions.cy.spec.js
  frontend/test/metabase/scenarios/collections/personal-collections.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/bookmarks.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/caching.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/dashboard.cy.spec.js
  frontend/test/metabase/scenarios/onboarding/home/browse.cy.spec.js
  frontend/test/metabase/scenarios/onboarding/urls.cy.spec.js
  frontend/test/metabase/scenarios/question/bookmarks.cy.spec.js
  frontend/test/metabase/scenarios/question/reproductions/18978-18977-nested-question-nodata-user.cy.spec.js
  frontend/test/metabase/scenarios/question/reproductions/9027-new-questions-not-in-saved-questions-immediately.cy.spec.js
  frontend/test/metabase/scenarios/question/timelines.cy.spec.js
  frontend/test/metabase/scenarios/smoketest/admin_setup.cy.spec.js
  frontend/test/metabase/scenarios/visualizations/trendline.cy.spec.js
Due: front-end

Reset dashboard state when leaving the page (#21445)
  frontend/src/metabase/dashboard/actions.js
  frontend/src/metabase/dashboard/containers/DashboardApp.jsx
  frontend/src/metabase/dashboard/reducers.js
Due: front-end

refactor with-temporary-raw-setting-values
  test/metabase/test/util.clj
Due: none

Use `rem` for padding
  frontend/src/metabase/nav/containers/MainNavbar/BookmarkList/BookmarkList.styled.tsx
Due: front-end

Extract `SidebarButton` component to its own dir
  frontend/src/metabase/nav/components/SidebarButton/SidebarButton.styled.tsx
  frontend/src/metabase/nav/components/SidebarButton/SidebarButton.tsx
  frontend/src/metabase/nav/components/SidebarButton/index.ts
  frontend/src/metabase/nav/containers/AppBar.styled.tsx
  frontend/src/metabase/nav/containers/AppBar.tsx
Due: front-end

Fix data selector popover alignment (#21439)
  frontend/src/metabase/query_builder/components/DataSelector.jsx
Due: front-end

Remove delay to not trigger autocomplete
  frontend/test/metabase/scenarios/native-filters/helpers/e2e-field-filter-helpers.js
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
