Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Try to fix e2e
  e2e/test-component/scenarios/embedding-sdk/content-translations.cy.spec.tsx
Due: none

update funnel height to be based on maximum data point, not first
  frontend/src/metabase/static-viz/components/FunnelChart/utils/funnel.ts
  frontend/src/metabase/static-viz/components/FunnelChart/utils/funnel.unit.spec.ts
  frontend/src/metabase/visualizations/components/FunnelNormal.jsx
  frontend/src/metabase/visualizations/components/FunnelNormal.styled.tsx
  frontend/src/metabase/visualizations/components/FunnelNormal.tsx
  frontend/src/metabase/visualizations/visualizations/Funnel/Funnel.tsx
Due: front-end

Match hover state on snippets collection and snippets folders
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/LibrarySectionLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/RootSnippetsCollectionMenu.tsx
  enterprise/frontend/src/metabase-enterprise/snippets/components/SnippetCollectionMenu/SnippetCollectionMenu.tsx
Due: front-end

Update Loki Snapshots
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedQuestionView_Smart_Scalar_Dark_Theme.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedQuestionView_Smart_Scalar_Light_Theme.png
  .loki/reference/chrome_laptop_viz_BarChart_Default.png
  .loki/reference/chrome_laptop_viz_SmartScalar_Default.png
Due: none

table measures
  e2e/test/scenarios/data-studio/data-model/measures-data-studio.cy.spec.ts
  e2e/test/scenarios/data-studio/published-tables-measures.cy.spec.ts
  frontend/src/metabase/common/components/AggregationPicker/AggregationPicker.tsx
Due: front-end

feat: add library stats to anonymous daily stats ping
  src/metabase/analytics/stats.clj
Due: back-end

test: add unit spec for library stats
  test/metabase/analytics/stats_test.clj
Due: none

Fix QP, modules, API schemata and add tests
  .clj-kondo/config/modules/config.edn
Due: none

Fix module declaration, search and segment tests
  .clj-kondo/config/modules/config.edn
Due: none

Fix tests
  e2e/test/scenarios/data-studio/data-model/measures-data-studio.cy.spec.ts
Due: none

Use MBQL5 for measures in e2e tests
  e2e/test/scenarios/data-studio/data-model/measures-data-studio.cy.spec.ts
Due: none

tests
  e2e/test/scenarios/data-studio/measures/measures-queries.cy.spec.ts
Due: none

Tests
  e2e/test/scenarios/data-studio/measures/measures-queries.cy.spec.ts
Due: none

Tests
  e2e/test/scenarios/data-studio/data-model/measures-data-studio.cy.spec.ts
  e2e/test/scenarios/data-studio/published-tables-measures.cy.spec.ts
Due: none

Add segment support to metric querying
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/entity_details.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Due: back-end

Support measures and metrics for Metabot
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/entity_details.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Due: back-end

Minor clojure tweaks for metabot measures and segments poc (#67425)
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/entity_details.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Due: back-end

Metabot measures and segments cleanup and tests (#67488)
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/entity_details.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/entity_details_test.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/filters_test.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/test_util.clj
Due: back-end

Revert "Try to fix e2e"
  e2e/test-component/scenarios/embedding-sdk/content-translations.cy.spec.tsx
Due: none

Resolve all codespell errors in frontend folder
  .codespellignore
  .codespellrc
  frontend/src/metabase/dashboard/reducers.unit.spec.js
  frontend/src/metabase/databases/components/DatabaseForm/tests/common.unit.spec.tsx
  frontend/src/metabase/documents/components/DocumentPage.unit.spec.tsx
  frontend/src/metabase/palette/components/test/PaletteResults/PaletteResults-ee.unit.spec.tsx
  frontend/src/metabase/palette/components/test/PaletteResults/PaletteResults-oss.unit.spec.tsx
  frontend/src/metabase/parameters/components/widgets/ParameterFieldWidget/FieldValuesWidget/ListField/utils.unit.spec.ts
  frontend/src/metabase/querying/expressions/suggestions/metrics.unit.spec.ts
  frontend/src/metabase/querying/expressions/suggestions/segments.unit.spec.ts
  frontend/src/metabase/rich_text_editing/tiptap/extensions/HandleEditorDrop/HandleEditorDrop.tsx
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/use-multi-autocomplete/use-multi-autocomplete.ts
Due: front-end

Enable codespell GH action for frontend
  .github/workflows/codespell.yml
  mage/src/mage/codespell.clj
Due: none

.
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/QueryEditorAndResults.tsx
Due: front-end

Ignore ND
  frontend/src/metabase-types/api/mocks/presets/sample_database.ts
Due: front-end

Fix ts
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/RootSnippetsCollectionMenu.tsx
  enterprise/frontend/src/metabase-enterprise/snippets/components/SnippetCollectionMenu/SnippetCollectionMenu.tsx
  frontend/src/metabase/ui/components/data-display/TreeTable/ExpandButton/ExpandButton.tsx
Due: front-end

Updates e2e tests (transforms-permissions.cy.spec.ts)
  e2e/support/helpers/e2e-permissions-helpers.js
  e2e/test/scenarios/permissions/transforms-permissions.cy.spec.ts
Due: none

Remove dead includes
  enterprise/backend/test/metabase_enterprise/workspaces/api_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/impl_test.clj
Due: back-end

Make the graph test nice (#68062)
  enterprise/backend/test/metabase_enterprise/workspaces/api_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/impl_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/test_util.clj
Due: back-end

.
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/Editor.tsx
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/QueryEditorAndResults.tsx
Due: front-end

Try to fix e2e #2
  e2e/test-component/scenarios/embedding-sdk/content-translations.cy.spec.tsx
Due: none

Cleanup useWorkspaceTransformRun
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/hooks/use-workspace-transform-run.ts
Due: front-end

🤖 backported "updating ClauseStep type, fixing segment and measure editors" (#67963)
  frontend/src/metabase/querying/notebook/components/ClauseStep/ClauseStep.tsx
  frontend/src/metabase/querying/segments/components/SegmentFilterEditor/SegmentFilterEditor.tsx
Due: front-end

Don't duplicate uploads in admin page
  enterprise/backend/src/metabase_enterprise/upload_management/api.clj
  enterprise/backend/test/metabase_enterprise/upload_management/api_test.clj
Due: back-end

Review fixes
  frontend/src/metabase/lib/formatting/date.tsx
Due: front-end

Try to fix e2e #3
  e2e/test-component/scenarios/embedding-sdk/content-translations-rerender-reproduction.cy.spec.tsx
Due: none

Fix data studio missing some hover states (#67891)
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/DataStudioLayout/DataStudioLayout.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/DataStudioLayout/DataStudioLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/LibrarySectionLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/RootSnippetsCollectionMenu.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/DataStudioBreadcrumbs/DataStudioBreadcrumbs.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/DataStudioBreadcrumbs/DataStudioBreadcrumbs.tsx
  enterprise/frontend/src/metabase-enterprise/snippets/components/SnippetCollectionMenu/SnippetCollectionMenu.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunFilterList/FilterFieldSet/FilterFieldSet.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunFilterList/FilterFieldSet/FilterFieldSet.tsx
  frontend/src/metabase/nav/components/search/SearchBar/SearchBar.styled.tsx
  frontend/src/metabase/ui/components/data-display/TreeTable/ExpandButton/ExpandButton.tsx
Due: front-end

improve type for dimension
  frontend/src/metabase/visualizations/components/FunnelNormal.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
