Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

new-iframe-embedding-setup-flow: restacked on master
  branches/new-iframe-embedding-setup-flow
Due: none

emb-506-live-previews-for-new-iframe-embed-flow: restacked on new-iframe-embedding-setup-flow
  branches/emb-506-live-previews-for-new-iframe-embed-flow
Due: none

emb-508-select-dashboards-and-questions-for-new-iframe-embedding: restacked on emb-506-live-previews-for-new-iframe-embed-flow
  branches/emb-508-select-dashboards-and-questions-for-new-iframe-embedding
Due: none

emb-549-end-to-end-tests-for-selecting-resource-to-embed-for-new: restacked on emb-508-select-dashboards-and-questions-for-new-iframe-embedding
  branches/emb-549-end-to-end-tests-for-selecting-resource-to-embed-for-new
Due: none

emb-512-code-snippet-and-authentication-step-for-new-iframe-embed: restacked on emb-549-end-to-end-tests-for-selecting-resource-to-embed-for-new
  branches/emb-512-code-snippet-and-authentication-step-for-new-iframe-embed
Due: none

emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed: restacked on emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
  branches/emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed
Due: none

emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow: restacked on emb-512-code-snippet-and-authentication-step-for-new-iframe-embed
  branches/emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
Due: none

emb-513-persist-new-iframe-embed-flow-settings-to-user-settings: restacked on emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed
  branches/emb-513-persist-new-iframe-embed-flow-settings-to-user-settings
Due: none

add docs {bump,merge,close} (#60274)
  .github/workflows/docs_close_detected.yml
  .github/workflows/docs_merge_detected.yml
Due: none

add docs {bump,merge,close} (#60275)
  .github/workflows/docs_close_detected.yml
  .github/workflows/docs_merge_detected.yml
Due: none

add docs {bump,merge,close} to 53 (#60276)
  .github/workflows/docs_close_detected.yml
  .github/workflows/docs_merge_detected.yml
Due: none

Unskip e2e regression test for metabase#49305 (#60171)
  e2e/test/scenarios/custom-column/cc-boolean-functions.cy.spec.ts
Due: none

rename test version of "es.json" (#60203) (#60254)
  test/metabase/server/routes/index_test.clj
  test_resources/frontend_client/app/locales/es_for_test.json
Due: none

QUE-1414: Fuzzy search tests (#60257)
  e2e/test/scenarios/filters/filter.cy.spec.js
  e2e/test/scenarios/question/notebook.cy.spec.js
  frontend/src/metabase/common/components/AccordionList/AccordionList.unit.spec.tsx
  frontend/src/metabase/common/components/AccordionList/AccordionListCell.tsx
Due: front-end

Unskip e2e regression test for metabase#49305 (#60171) (#60279)
  e2e/test/scenarios/custom-column/cc-boolean-functions.cy.spec.ts
Due: none

add sync test around fks (#60074)
  test/metabase/sync/sync_metadata/fields_test.clj
Due: none

Add expression-parts-method for aggregation references
  src/metabase/lib/fe_util.cljc
Due: back-end

Improve text
  frontend/src/metabase-lib/v1/expressions/config.ts
Due: front-end

Use mail.smtps.ssl.trust=* instead of a custom trust store
  deps.edn
  dev.keystore.jks
  e2e/runner/cypress-runner-backend.js
  src/metabase/channel/email.clj
Due: back-end

links
  docs/databases/users-roles-privileges.md
  docs/embedding/interactive-embedding.md
  docs/people-and-groups/managing.md
  docs/permissions/data-sandbox-examples.md
  docs/permissions/data-sandboxes.md
  docs/permissions/embedding.md
Due: none

links
  docs/embedding/interactive-embedding.md
  docs/permissions/data-sandbox-examples.md
  docs/permissions/data-sandboxes.md
Due: none

more links
  docs/README.md
  docs/cloud/cloud-vs-self-hosting.md
  docs/cloud/custom-domain.md
  docs/cloud/how-billing-works.md
  docs/cloud/storage.md
  docs/databases/connections/mongodb.md
Due: none

Closes VIZ-147 - Title fonts are cut off when exporting a card as png from a dashboard (#60237)
  frontend/src/metabase/visualizations/components/legend/LegendCaption.tsx
  frontend/src/metabase/visualizations/lib/image-exports.ts
Due: front-end

link
  docs/README.md
Due: none

Fix bucketed column names after the annotate PR
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar/BreakoutColumnList/util.ts
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar/SummarizeSidebar.unit.spec.tsx
Due: front-end

cleanup
  docs/README.md
  docs/cloud/google-sheets.md
  docs/cloud/limitations.md
  docs/cloud/migrate/cloud-to-self-hosted.md
  docs/cloud/migrate/guide.md
  docs/configuring-metabase/settings.md
  docs/databases/users-roles-privileges.md
  docs/embedding/interactive-embedding.md
  docs/embedding/introduction.md
  docs/embedding/sdk/quickstart-with-sample-app.md
  docs/embedding/sdk/quickstart.md
  docs/installation-and-operation/activating-the-enterprise-edition.md
  docs/installation-and-operation/migrating-from-h2.md
  docs/installation-and-operation/serialization.md
  docs/people-and-groups/authenticating-with-jwt.md
  docs/people-and-groups/authenticating-with-saml.md
  docs/people-and-groups/google-sign-in.md
  docs/people-and-groups/managing.md
  docs/people-and-groups/saml-google.md
  docs/people-and-groups/saml-keycloak.md
  docs/troubleshooting-guide/db-connection.md
  docs/troubleshooting-guide/models.md
Due: none

Fix bucketed column names after the annotate PR
  frontend/src/metabase/common/components/QueryColumnPicker/QueryColumnPicker.tsx
  frontend/src/metabase/querying/notebook/components/BreakoutStep/BreakoutStep.unit.spec.tsx
Due: front-end

Fixed linting errors
  src/metabase/channel/api/email.clj
  src/metabase/channel/settings.clj
  test/metabase/channel/api/email_test.clj
  test/metabase/channel/email_test.clj
  test/metabase/channel/settings_test.clj
Due: back-end

Fix bucketed column names after the annotate PR
  frontend/src/metabase/common/components/QueryColumnPicker/QueryColumnPicker.tsx
Due: front-end

Unskip dashboard tests
  e2e/test/scenarios/dashboard-filters-2/dashboard-filters-1-stage.cy.spec.ts
  e2e/test/scenarios/dashboard-filters-2/dashboard-filters-2-stage-1.cy.spec.ts
Due: none

Unskip dashboard tests
  e2e/test/scenarios/metrics/metrics-question.cy.spec.js
Due: none

docs - update links (#60290)
  docs/README.md
  docs/cloud/cloud-vs-self-hosting.md
  docs/cloud/custom-domain.md
  docs/cloud/google-sheets.md
  docs/cloud/how-billing-works.md
  docs/cloud/limitations.md
  docs/cloud/migrate/cloud-to-self-hosted.md
  docs/cloud/migrate/guide.md
  docs/cloud/storage.md
  docs/configuring-metabase/settings.md
  docs/databases/connections/mongodb.md
  docs/databases/users-roles-privileges.md
  docs/embedding/interactive-embedding.md
  docs/embedding/introduction.md
  docs/embedding/sdk/quickstart-with-sample-app.md
  docs/embedding/sdk/quickstart.md
  docs/installation-and-operation/activating-the-enterprise-edition.md
  docs/installation-and-operation/migrating-from-h2.md
  docs/installation-and-operation/serialization.md
  docs/people-and-groups/authenticating-with-jwt.md
  docs/people-and-groups/authenticating-with-saml.md
  docs/people-and-groups/google-sign-in.md
  docs/people-and-groups/managing.md
  docs/people-and-groups/saml-google.md
  docs/people-and-groups/saml-keycloak.md
  docs/permissions/data-sandbox-examples.md
  docs/permissions/data-sandboxes.md
  docs/permissions/embedding.md
  docs/troubleshooting-guide/db-connection.md
  docs/troubleshooting-guide/models.md
Due: none

Unskip dashboard tests
  e2e/test/scenarios/binning/binning-reproductions.cy.spec.js
Due: none

Fix failing tests
  test/metabase/lib/field_test.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/test_util/notebook_helpers.cljc
Due: none

Add fe tests for mode strings
  e2e/test/scenarios/custom-column/cc-cast-functions.cy.spec.ts
Due: none

Reproducing test
  test/metabase/util/malli/fn_java_error_test.cljs
Due: none
