Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Address PR comments: refactor MetabaseProviderPropsStore
  enterprise/frontend/src/embedding-sdk/sdk-package/components/private/ComponentWrapper/ComponentWrapper.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/private/Error/Error.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/private/Loader/Loader.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/MetabaseProvider/MetabaseProvider.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/private/use-initialize-metabase-provider-props-store.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/private/use-load-sdk-bundle.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-create-dashboard-api/use-create-dashboard-api.ts
  enterprise/frontend/src/embedding-sdk/sdk-shared/components/EnsureSingleInstance/EnsureSingleInstance.tsx
  enterprise/frontend/src/embedding-sdk/sdk-shared/hooks/use-lazy-selector.ts
  enterprise/frontend/src/embedding-sdk/sdk-shared/hooks/use-metabase-provider-props-store.ts
  enterprise/frontend/src/embedding-sdk/sdk-shared/hooks/use-sdk-loading-state.ts
  enterprise/frontend/src/embedding-sdk/sdk-shared/lib/ensure-metabase-provider-props-store.ts
Due: front-end

Address PR comments: remove reexport file from `components/public`
  enterprise/frontend/src/embedding-sdk/components/public/CreateDashboardModal/CreateDashboardModal.stories.tsx
  enterprise/frontend/src/embedding-sdk/components/public/dashboard/StaticDashboard/CypressStaticDashboardWithCors.stories.tsx
  enterprise/frontend/src/embedding-sdk/components/public/dashboard/StaticDashboard/StaticDashboard.stories.tsx
  enterprise/frontend/src/embedding-sdk/components/public/index.ts
  enterprise/frontend/src/embedding-sdk/test/CommonSdkCorsStoryWrapper.tsx
  enterprise/frontend/src/embedding-sdk/test/CommonSdkStoryWrapper.tsx
  enterprise/frontend/src/embedding-sdk/test/auth-flow/jwt.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/test/auth-flow/saml.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/test/auth-flow/setup.tsx
  enterprise/frontend/src/embedding-sdk/test/sdk-config-errors/sdk-config-errors.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/tests/sdk-locale-support.stories.tsx
  enterprise/frontend/src/embedding-sdk/tests/styling-sdk-tests.stories.tsx
Due: front-end

Address PR comments: rename sdkBundleExports to windowMetabaseEmbeddingSDKExports
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-create-dashboard-api/use-create-dashboard-api.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/test/__support__/ui.tsx
Due: front-end

Add `getDefaultProps` to `ensureMetabaseProviderPropsStore`
  enterprise/frontend/src/embedding-sdk/hooks/private/use-log-version-info/use-log-version-info.ts
  enterprise/frontend/src/embedding-sdk/hooks/private/use-log-version-info/use-log-version-info.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/MetabaseProvider/MetabaseProvider.tsx
  enterprise/frontend/src/embedding-sdk/sdk-shared/lib/ensure-metabase-provider-props-store.ts
Due: front-end

Adjust test descriptions
  e2e/test-component/scenarios/embedding-sdk/sdk-bundle.cy.spec.tsx
Due: none

Address PR comments: add `disabled` state for useCreateDashboardApi story
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-create-dashboard-api/use-create-dashboard-api.stories.tsx
Due: front-end

Address PR comments: move useSingleInstanceIdsData hook to EnsureSingleInstance
  enterprise/frontend/src/embedding-sdk/sdk-shared/components/EnsureSingleInstance/EnsureSingleInstance.tsx
  enterprise/frontend/src/embedding-sdk/sdk-shared/components/EnsureSingleInstance/EnsureSingleInstance.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/sdk-shared/hooks/use-single-instance-ids-data.ts
Due: front-end

Use METABASE_EMBEDDING_SDK_BUNDLE to store SDK bundle in a global object
  e2e/test-component/scenarios/embedding-sdk/sdk-bundle.cy.spec.tsx
  enterprise/frontend/src/embedding-sdk/bundle.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/components/private/ComponentWrapper/ComponentWrapper.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/CollectionBrowser/CollectionBrowser.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/CreateDashboardModal/CreateDashboardModal.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/CreateQuestion/CreateQuestion.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/InteractiveQuestion/InteractiveQuestion.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/MetabaseProvider/MetabaseProvider.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/MetabotQuestion/MetabotQuestion.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/StaticQuestion/StaticQuestion.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/dashboard/EditableDashboard/EditableDashboard.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/dashboard/InteractiveDashboard/InteractiveDashboard.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/dashboard/StaticDashboard/StaticDashboard.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/components/public/debug/SdkDebugInfo/SdkDebugInfo.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/private/use-load-sdk-bundle.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-application-name.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-available-fonts.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-create-dashboard-api/use-create-dashboard-api.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-create-dashboard-api/use-create-dashboard-api.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-current-user.ts
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/public/use-metabase-auth-status.ts
  enterprise/frontend/src/embedding-sdk/test/__support__/ui.tsx
  enterprise/frontend/src/embedding-sdk/types/globalTypes.d.ts
  rspack.embedding-sdk-bundle.config.js
Due: front-end

Address PR comments: use string values for SdkLoadingState enum
  enterprise/frontend/src/embedding-sdk/sdk-package/hooks/private/use-initialize-metabase-provider-props-store.ts
  enterprise/frontend/src/embedding-sdk/sdk-shared/types/sdk-loading.ts
Due: front-end

Address PR comments: add explanation comment for useLazySelector
  enterprise/frontend/src/embedding-sdk/sdk-shared/hooks/use-lazy-selector.ts
Due: front-end

add more generic test
  enterprise/backend/test/metabase_enterprise/database_routing/e2e_test.clj
Due: back-end

Derive theme-aware colors in embed flow from 3 base colors (#61961) (#62314)
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-options.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SdkIframeEmbedPreview.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/hooks/use-sdk-iframe-embed-snippet.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/derived-colors-for-embed-flow.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/derived-colors-for-embed-flow.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/dynamic-sdk-color-defaults.ts
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/types.ts
  frontend/src/metabase/common/components/EntityPicker/components/RecentsTab/RecentsTab.tsx
  frontend/src/metabase/embedding-sdk/theme/apply-color-operation.unit.spec.ts
  frontend/src/metabase/embedding-sdk/theme/dynamic-css-vars-config.ts
  frontend/src/metabase/embedding-sdk/theme/dynamic-css-vars.ts
  frontend/src/metabase/embedding-sdk/theme/embedding-color-palette.ts
  frontend/src/metabase/embedding-sdk/types/private/css-variables.ts
Due: front-end

disable metabot node when it's disabled
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/Editor.tsx
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/extensions/MetabotEmbed/MetabotEmbed.tsx
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/extensions/MetabotEmbed/MetabotEmbed.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/extensions/MetabotEmbed/__support__/editor-mocks.ts
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/extensions/MetabotEmbed/__support__/node-view-mocks.ts
Due: front-end

dedupe search terms and description if they happen to be the same
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/search_data_sources.clj
Due: back-end

auto-var functions
  src/metabase/util/malli/fn.clj
  src/metabase/util/malli/registry.cljc
  test/metabase/util/malli/fn_test.clj
Due: back-end

QP desugar middleware => Lib
  .clj-kondo/config/modules/config.edn
  src/metabase/legacy_mbql/jvm_util.clj
  src/metabase/legacy_mbql/predicates.cljc
  src/metabase/legacy_mbql/util.cljc
  src/metabase/lib/filter/desugar.cljc
  src/metabase/lib/filter/desugar/jvm.clj
  src/metabase/lib/filter/simplify_compound.cljc
  src/metabase/lib/schema.cljc
  src/metabase/lib/schema/expression/temporal.cljc
  src/metabase/lib/util.cljc
  src/metabase/query_processor/middleware/desugar.clj
  src/metabase/query_processor/preprocess.clj
  test/metabase/legacy_mbql/predicates_test.cljc
  test/metabase/legacy_mbql/util_test.cljc
  test/metabase/lib/filter/desugar/jvm_test.clj
  test/metabase/lib/filter/desugar_test.cljc
  test/metabase/lib/filter/simplify_compound_test.cljc
  test/metabase/query_processor/middleware/desugar_test.clj
Due: back-end

Test fixes :wrench:
  test/metabase/legacy_mbql/jvm_util_test.clj
Due: none

Call createUser action when inviting new user on the /setup page
  frontend/src/metabase/setup/actions.ts
  frontend/src/metabase/setup/actions.unit.spec.ts
Due: front-end

Update embedded-analytics-js.md (#62315)
  docs/embedding/embedded-analytics-js.md
Due: none

Test fixes and formatting
  test/metabase/legacy_mbql/util_test.cljc
  test/metabase/lib/filter/desugar/jvm_test.clj
  test/metabase/lib/filter/desugar_test.cljc
  test/metabase/lib/filter/simplify_compound_test.cljc
Due: none

Maybe fix flakes
  test/metabase/session/models/session_test.clj
Due: none

Update embedded-analytics-js.md (#62315) (#62318)
  docs/embedding/embedded-analytics-js.md
Due: none

Test fixes :wrench:
  src/metabase/query_processor/middleware/parameters/mbql.clj
  test/metabase/query_processor_test/parameters_test.clj
Due: back-end

Simplify test to remove network calls that were flaking (#62142)
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
Due: none

Reduce coupling between semantic.index and semantic.scoring (#62089)
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/scoring.clj
Due: back-end

cljfmt/kondo
  test/metabase/session/models/session_test.clj
Due: none

Fix flaky tests
  test/metabase/query_processor/util/nest_query_test.clj
Due: none

Add clj-kondo ignores everywhere
  modules/drivers/druid/src/metabase/driver/druid/query_processor.clj
  modules/drivers/mongo/src/metabase/driver/mongo/parameters.clj
  src/metabase/driver/sql/parameters/substitution.clj
  src/metabase/legacy_mbql/normalize.cljc
  src/metabase/parameters/chain_filter.clj
  src/metabase/query_processor/middleware/optimize_temporal_filters.clj
  src/metabase/query_processor/middleware/parameters.clj
  src/metabase/query_processor/middleware/parameters/mbql.clj
  src/metabase/tiles/api.clj
  src/metabase/xrays/automagic_dashboards/filters.clj
Due: back-end

Just add clj-kondo ignores for now.
  .clj-kondo/config.edn
  enterprise/backend/src/metabase_enterprise/action_v2/data_editing.clj
  enterprise/backend/src/metabase_enterprise/audit_app/permissions.clj
  enterprise/backend/src/metabase_enterprise/database_routing/middleware.clj
  enterprise/backend/src/metabase_enterprise/impersonation/middleware.clj
  enterprise/backend/src/metabase_enterprise/transforms/ordering.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/query_processor/middleware/permissions_test.clj
  src/metabase/actions/actions.clj
  src/metabase/channel/email/result_attachment.clj
  src/metabase/driver_api/core.clj
  src/metabase/queries/models/card.clj
  src/metabase/queries/models/query.clj
  src/metabase/query_permissions/impl.clj
  src/metabase/sync/analyze/classify.clj
  src/metabase/sync/analyze/fingerprint.clj
  src/metabase/warehouse_schema/api/table.clj
Due: back-end

Pull out transform manual runs into analytics file
  e2e/test/scenarios/admin/transforms.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/transforms/analytics.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/JobView/ScheduleSection/ScheduleSection.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/RunSection/RunSection.tsx
  frontend/src/metabase-types/analytics/event.ts
Due: front-end

Move transform creation events to shared analytics file
  enterprise/frontend/src/metabase-enterprise/transforms/analytics.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/CreateTransformModal/CreateTransformModal.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformListPage/CreateTransformMenu/CreateTransformMenu.tsx
Due: front-end

make reindex an async call
  src/metabase/search/core.clj
Due: back-end

Use plain ORDERS_ID
  e2e/test/scenarios/admin/transforms.cy.spec.ts
Due: none

Fix Recents e2e Test Failures (#62309)
  e2e/test/scenarios/admin/performance/preemptiveCaching.cy.spec.ts
  e2e/test/scenarios/search/recently-viewed.cy.spec.js
Due: none

Move database support helper to utils and pull data fetching out of hook
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/EditorBody/EditorBody.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/QueryEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/hooks/use-does-database-support-transforms/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/hooks/use-does-database-support-transforms/use-does-database-support-transforms.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformListPage/CreateTransformMenu/CreateTransformMenu.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/utils.ts
Due: front-end

Pull out helper into separate definiton
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/EditorBody/EditorBody.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
