Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix test
  test/metabase/api/activity_test.clj
Due: none

Undo accidentally committed changes to api/dashboard/:id
  src/metabase/api/dashboard.clj
Due: back-end

Fix test docstring
  test/metabase/api/activity_test.clj
Due: none

Add endpoint
  src/metabase/api/activity.clj
  src/metabase/events/view_log.clj
Due: back-end

Add GET "/most_recently_viewed_dashboard" endpoint
  src/metabase/api/activity.clj
  test/metabase/api/activity_test.clj
Due: back-end

Return dashboard object and add permissions check
  src/metabase/api/activity.clj
  test/metabase/api/activity_test.clj
Due: back-end

Preselect most recently viewed dashboard in DashboardPicker
  frontend/src/metabase/common/hooks/index.ts
  frontend/src/metabase/common/hooks/use-collection-query/index.ts
  frontend/src/metabase/common/hooks/use-collection-query/use-collection-query.ts
  frontend/src/metabase/common/hooks/use-most-recently-viewed-dashboard/index.ts
  frontend/src/metabase/common/hooks/use-most-recently-viewed-dashboard/use-most-recently-viewed-dashboard.ts
  frontend/src/metabase/containers/AddToDashSelectDashModal.tsx
  frontend/src/metabase/containers/DashboardPicker.tsx
  frontend/src/metabase/containers/ItemPicker/ItemPicker.tsx
  frontend/src/metabase/services.js
Due: front-end

fix e2e upload test
  e2e/test/scenarios/collections/uploads.cy.spec.js
Due: none

Updating StringInputWidget to use underscore instead of lodash
  frontend/src/metabase/parameters/components/widgets/StringInputWidget/StringInputWidget.tsx
Due: front-end

updating homepage
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.tsx
  frontend/src/metabase/home/homepage/containers/HomePageApp/HomePageApp.tsx
Due: front-end

Homepage CTA
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/DashboardSelector.tsx
  frontend/src/metabase/home/homepage/components/HomeLayout/HomeLayout.styled.tsx
  frontend/src/metabase/home/homepage/components/HomeLayout/HomeLayout.tsx
  frontend/src/metabase/home/homepage/components/Modals/CustomHomePageModal/CustomHomePageModal.tsx
Due: front-end

Adding admin settings
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/DashboardSelector.styled.tsx
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/DashboardSelector.tsx
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/index.ts
  frontend/src/metabase/admin/settings/selectors.js
  src/metabase/public_settings.clj
Due: back-end, front-end

permissions
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.tsx
Due: front-end

adding unit tests
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.tsx
  frontend/src/metabase/home/homepage/containers/HomePageApp/HomePageApp.unit.spec.tsx
Due: front-end

lint
  frontend/src/metabase/home/homepage/containers/HomePageApp/HomePageApp.unit.spec.tsx
Due: front-end

Include custom homepage on current user
  src/metabase/api/user.clj
  test/metabase/api/user_test.clj
Due: back-end

e2e tests, small adustments
  e2e/test/scenarios/onboarding/home/homepage.cy.spec.js
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/DashboardSelector.styled.tsx
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/index.ts
  frontend/src/metabase/admin/settings/selectors.js
  frontend/src/metabase/components/DashboardSelector/DashboardSelector.styled.tsx
  frontend/src/metabase/components/DashboardSelector/DashboardSelector.tsx
  frontend/src/metabase/components/DashboardSelector/index.ts
  frontend/src/metabase/home/homepage/components/HomeLayout/HomeLayout.tsx
  frontend/src/metabase/home/homepage/components/HomeLayout/HomeLayout.unit.spec.tsx
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.tsx
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.unit.spec.tsx
  frontend/src/metabase/home/homepage/components/Modals/CustomHomePageModal/CustomHomePageModal.tsx
  frontend/src/metabase/home/homepage/containers/HomePageApp/HomePageApp.tsx
Due: front-end

cleanup and types
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/mocks/user.ts
  frontend/src/metabase-types/api/user.ts
  frontend/src/metabase/admin/settings/components/widgets/DashboardSelector/DashboardSelector.tsx
  frontend/src/metabase/admin/settings/containers/SettingsEditorApp.jsx
  frontend/src/metabase/admin/settings/selectors.js
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.tsx
  frontend/src/metabase/home/homepage/components/HomePage/HomePage.unit.spec.tsx
  frontend/src/metabase/home/homepage/components/Modals/CustomHomePageModal/CustomHomePageModal.tsx
  frontend/src/metabase/home/homepage/containers/HomePageApp/HomePageApp.tsx
  frontend/src/metabase/selectors/user.ts
Due: front-end

type fix
  frontend/src/metabase/components/DashboardSelector/DashboardSelector.tsx
  frontend/src/metabase/containers/DashboardPicker.tsx
Due: front-end

slack channel renaming note
  docs/configuring-metabase/slack.md
  docs/dashboards/subscriptions.md
  docs/questions/sharing/alerts.md
Due: none

Tests for infer mbql
  src/metabase/metabot/infer_mbql.clj
  test/metabase/metabot/infer_mbql_test.clj
  test/metabase/metabot/test_models.clj
Due: back-end

Add test for orderByPosition after a roundtrip
  frontend/src/metabase-lib/order_by.unit.spec.ts
  frontend/src/metabase-lib/types.ts
Due: front-end

Add back button
  frontend/src/metabase/dashboard/reducers.js
  frontend/src/metabase/dashboard/selectors.js
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.styled.jsx
Due: front-end

Save dashboards as pdf (#30200)
  e2e/test/scenarios/downloads/downloads.cy.spec.js
  frontend/src/metabase/dashboard/components/DashCard/DashCard.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardMenu/DashCardMenu.tsx
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.jsx
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.styled.jsx
  frontend/src/metabase/dashboard/containers/DashboardHeader.jsx
  frontend/src/metabase/styled-components/components/GlobalStyles/GlobalStyles.tsx
  frontend/src/metabase/visualizations/lib/save-chart-image.ts
  frontend/src/metabase/visualizations/lib/save-dashboard-pdf.ts
  package.json
  webpack.config.js
  yarn.lock
Due: front-end

Reset
  frontend/src/metabase/dashboard/reducers.js
  frontend/src/metabase/dashboard/selectors.js
  frontend/src/metabase/query_builder/actions/ui.js
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
Due: front-end

Reset
  frontend/src/metabase/dashboard/selectors.js
Due: front-end

add tooltip to upload button
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUpload.tsx
Due: front-end

Reset
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Due: front-end

Fancier Upload Settings (#30473)
  e2e/test/scenarios/collections/uploads.cy.spec.js
  frontend/src/metabase-types/api/mocks/table.ts
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSetting.styled.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettings.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/UploadSettings.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/UploadSettings/index.ts
  frontend/src/metabase/admin/settings/components/UploadSettings/utils.ts
  frontend/src/metabase/admin/settings/components/UploadSettings/utils.unit.spec.ts
  frontend/src/metabase/admin/settings/components/widgets/UploadSettingsWidget/UploadSettingsWidget.tsx
  frontend/src/metabase/admin/settings/components/widgets/UploadSettingsWidget/index.ts
  frontend/src/metabase/admin/settings/containers/SettingsEditorApp.jsx
  frontend/src/metabase/admin/settings/selectors.js
  frontend/src/metabase/components/ActionButton/ActionButton.jsx
  frontend/src/metabase/components/ActionButton/ActionButton.styled.tsx
  frontend/src/metabase/components/SaveStatus/SaveStatus.jsx
Due: front-end

note on alerts
  docs/questions/sharing/alerts.md
Due: none

Add GET "/most_recently_viewed_dashboard" endpoint (#30323)
  src/metabase/api/activity.clj
  src/metabase/api/dashboard.clj
  test/metabase/api/activity_test.clj
Due: back-end

docs - slack channel renaming note (#30582)
  docs/configuring-metabase/slack.md
  docs/dashboards/subscriptions.md
  docs/questions/sharing/alerts.md
Due: none

send pk back as id, include pk_ref
  src/metabase/api/search.clj
  src/metabase/search/config.clj
Due: back-end

first tests and hooking it all together
  resources/migrations/000_migrations.yaml
  src/metabase/api/collection.clj
  src/metabase/api/model_index.clj
  src/metabase/api/routes.clj
  test/metabase/models/model_index_test.clj
Due: back-end

hooked up tasks
  resources/migrations/000_migrations.yaml
  src/metabase/api/model_index.clj
  src/metabase/models/model_index.clj
  src/metabase/task/index_values.clj
Due: back-end

include model_pk in results
  src/metabase/api/search.clj
Due: back-end

fix t2 delete syntax on h2
  src/metabase/models/model_index.clj
Due: back-end

populate indexed values on post
  src/metabase/api/model_index.clj
Due: back-end

some e2e tests
  src/metabase/api/model_index.clj
  test/metabase/models/model_index_test.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
