Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Set explicit target schema for Snowflake in python transform e2e test
  enterprise/backend/test/metabase_enterprise/transforms_python/drivers_test.clj
Due: back-end

adjust custom viz fixtures
  .gitignore
  e2e/support/config.js
  enterprise/frontend/src/custom-viz/fixtures/build-example-custom-viz.mjs
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/Visualization.tsx
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/index-widget-security.tsx
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/index.tsx
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/types.ts
Due: front-end

Style
  frontend/src/metabase/ui/components/data-display/Badge/Badge.module.css
Due: front-end

Fix cljfmt indentation in notification models_test
  test/metabase/notification/models_test.clj
Due: none

feat: disable Metabase query cache for BigQuery
  src/metabase/query_processor/middleware/cache.clj
Due: back-end

docs: document Metabase cache disabled for BigQuery
  OLE_BIGQUERY_OAUTH.md
Due: none

Extend useUserKeyValue typings to properly infer result value
  frontend/src/metabase/common/hooks/use-user-key-value.ts
Due: front-end

GDGT-1582: Addressing review comments
  e2e/test/scenarios/schema-viewer/schema-viewer.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/components/NodeSearch/SchemaViewerNodeSearch.tsx
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/components/SelectedNodeInfoPanel/SelectedNodeInfoPanel.tsx
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/constants.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/hooks/useSchemaPreferencesStore.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/types.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/utils/zoom.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/pages/SchemaViewerPage/useRedirectToLastDatabase.ts
  frontend/src/metabase-types/api/erd.ts
  frontend/src/metabase-types/api/user.ts
Due: front-end

Merge duplicate @media query in StrategyFormLauncher.module.css (UXW-4236)
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncher.module.css
Due: front-end

Remove legacy metric caching page (UXW-4236) (#74691)
  enterprise/frontend/src/metabase-enterprise/caching/components/InvalidateNowButton.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/MetricCachingModal.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/MetricCachingModal.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/ResetButtonContainer.module.css
  enterprise/frontend/src/metabase-enterprise/caching/components/ResetButtonContainer.styled.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/ResetButtonContainer.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/SidebarCacheForm.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/SidebarCacheSection.module.css
  enterprise/frontend/src/metabase-enterprise/caching/components/SidebarCacheSection.styled.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/SidebarCacheSection.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForQuestionsAndDashboards/StrategyEditorForQuestionsAndDashboards.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncher.module.css
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncher.styled.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncher.tsx
  enterprise/frontend/src/metabase-enterprise/caching/constants.ts
  enterprise/frontend/src/metabase-enterprise/caching/index.tsx
  enterprise/frontend/src/metabase-enterprise/caching/pages/MetricCachingPage/MetricCachingPage.tsx
  enterprise/frontend/src/metabase-enterprise/caching/pages/MetricCachingPage/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/DataStudioMetricCachingPage/DataStudioMetricCachingPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/DataStudioMetricCachingPage/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/routes.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/urls.ts
  frontend/src/metabase/admin/performance/components/StrategyForm.tsx
  frontend/src/metabase/admin/performance/constants/complex.ts
  frontend/src/metabase/admin/performance/types.ts
  frontend/src/metabase/metrics/components/MetricHeader/MetricTabs/MetricTabs.unit.spec.tsx
  frontend/src/metabase/metrics/components/MetricHeader/MetricToolbar/MetricToolbar.tsx
  frontend/src/metabase/metrics/components/MetricHeader/MetricToolbar/MetricToolbar.unit.spec.tsx
  frontend/src/metabase/metrics/routes.tsx
  frontend/src/metabase/metrics/types.ts
  frontend/src/metabase/metrics/urls.ts
  frontend/src/metabase/plugins/oss/caching.ts
  frontend/src/metabase/urls/data-studio.ts
  frontend/src/metabase/urls/metrics.ts
Due: front-end

test fixes
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Due: none

fix
  e2e/test/scenarios/dashboard-filters/dashboard-filters-number-source.cy.spec.js
  test/metabase/embedding_rest/api/embed_test.clj
Due: none

fix unit test
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
Due: front-end

Fix ai proxied /embeddings (#74526)
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/settings.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/embedding_test.clj
  src/metabase/llm/settings.clj
Due: back-end

Fix Snowflake python transform e2e test: explicit target schema (#74716)
  enterprise/backend/test/metabase_enterprise/transforms_python/drivers_test.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Due: back-end

Avoid some prop drilling / additional clean up
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/AllFieldsList.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/MetricAccordionList.tsx
  frontend/src/metabase/metrics-viewer/pages/MetricsViewerPage/MetricsViewerPage.tsx
  frontend/src/metabase/metrics-viewer/utils/dimension-picker.ts
Due: front-end

fixes
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/SetupWorkspaceModal/SetupWorkspaceModal.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/SetupWorkspaceModal/index.ts
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceEmptyState/WorkspaceEmptyState.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceEmptyState/WorkspaceEmptyState.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListEmptyState/WorkspaceListEmptyState.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListEmptyState/WorkspaceListEmptyState.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListEmptyState/index.ts
Due: front-end

fixes
  e2e/support/helpers/e2e-workspace-helpers.ts
  e2e/test/scenarios/workspaces/workspace-instance.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/workspaces/components/WorkspaceEmptyState/WorkspaceEmptyState.module.css
  enterprise/frontend/src/metabase-enterprise/workspaces/components/WorkspaceEmptyState/WorkspaceEmptyState.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/components/WorkspaceEmptyState/index.ts
  enterprise/frontend/src/metabase-enterprise/workspaces/index.ts
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/DeleteSection/DeleteSection.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/SetupWorkspaceModal/SetupWorkspaceModal.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstanceEmptyState/WorkspaceInstanceEmptyState.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstanceEmptyState/index.ts
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstancePage.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstancePage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListEmptyState/WorkspaceListEmptyState.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListEmptyState/WorkspaceListEmptyState.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListEmptyState/index.ts
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceListPage/WorkspaceListPage.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/selectors.ts
  frontend/src/metabase/data-studio/app/pages/DataStudioLayout/DataStudioLayout.tsx
  frontend/src/metabase/plugins/oss/workspaces.ts
Due: front-end

Fix remapping with custom values (#74698)
  e2e/test/scenarios/dashboard-filters/dashboard-filters-number-source.cy.spec.js
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
  src/metabase/parameters/custom_values.clj
  test/metabase/embedding_rest/api/embed_test.clj
  test/metabase/parameters/custom_values_test.clj
Due: back-end, front-end

fix
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstanceEmptyState/WorkspaceInstanceEmptyState.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/selectors.ts
Due: front-end

🤖 backported "Fix Snowflake python transform e2e test: explicit target schema" (#74721)
  enterprise/backend/test/metabase_enterprise/transforms_python/drivers_test.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Due: back-end

hide empty state menu
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstancePage.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspaceInstancePage/WorkspaceInstancePage.unit.spec.tsx
Due: front-end

Unify Custom homepage and Landing page into a single Homepage radio
  e2e/test/scenarios/admin-2/whitelabel.cy.spec.js
  e2e/test/scenarios/onboarding/home/homepage.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LandingPageUrlField/LandingPageUrlField.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LandingPageUrlField/index.ts
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LandingPageUrlField/utils.ts
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LandingPageUrlField/utils.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/LandingPageWidget/index.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/index.ts
  frontend/src/metabase/admin/settings/components/SettingHeader/SettingHeader.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/GeneralSettingsPage.tsx
  frontend/src/metabase/admin/settings/components/widgets/CustomHomepageDashboardSetting.tsx
  frontend/src/metabase/admin/settings/components/widgets/CustomHomepageDashboardSetting.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/widgets/HomepageSetting.tsx
  frontend/src/metabase/admin/settings/components/widgets/HomepageSetting.unit.spec.tsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/plugins/oss/core.ts
  src/metabase/appearance/settings.clj
Due: back-end, front-end

Fix same-category column select not working
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/utils/dimension-picker.unit.spec.ts
Due: front-end

Address review feedback (UXW-3839)
  enterprise/frontend/src/metabase-enterprise/caching/components/MetricCachingModal.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/MetricCachingModal.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/SidebarCacheSection.module.css
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncher.tsx
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyFormLauncherPanel.module.css
  frontend/src/metabase/admin/performance/components/StrategyEditorForDatabases.tsx
  frontend/src/metabase/admin/performance/components/StrategyForm.tsx
  frontend/src/metabase/dashboard/components/DashboardSettingsSidebar/tests/premium.unit.spec.ts
  frontend/src/metabase/metrics/components/MetricHeader/MetricToolbar/MetricToolbar.module.css
  frontend/src/metabase/metrics/components/MetricHeader/MetricToolbar/MetricToolbar.tsx
  frontend/src/metabase/plugins/oss/caching.ts
Due: front-end

[perf] Don't perform redundant idempotent zone-id conversion in format-rows-xform (#74326)
  src/metabase/query_processor/middleware/format_rows.clj
Due: back-end

Address remaining review comments
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryButton.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryButton.tsx
Due: front-end

🤖 backported "Handle query cache update race" (#74647)
  src/metabase/query_processor/middleware/cache_backend/db.clj
  test/metabase/query_processor/middleware/cache_backend/db_test.clj
Due: back-end

Implement sidebar dimension picker for metrics viewer (#74627)
  frontend/src/metabase-types/api/icon.ts
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebarContext.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/AllFieldsList.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/AllFieldsSectionList.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/DimensionButton.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/DimensionButton.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/MetricAccordionItem.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/MetricAccordionItem.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/MetricAccordionList.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/buildAllFieldsMetricGroups.ts
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/index.ts
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/AllFieldsList/types.ts
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryButton.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryButton.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryItem.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryItem.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/MetricDimensionSelect.module.css
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/MetricDimensionSelect.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/index.ts
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/utils.ts
  frontend/src/metabase/metrics-viewer/components/MetricControls/MetricControls.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/AddDimensionPopover/AddDimensionPopover.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/MetricsViewerTabContent/MetricsViewerTabContent.tsx
  frontend/src/metabase/metrics-viewer/hooks/use-metrics-viewer.ts
  frontend/src/metabase/metrics-viewer/pages/MetricsViewerPage/MetricsViewerPage.tsx
  frontend/src/metabase/metrics-viewer/utils/dimension-picker.ts
  frontend/src/metabase/metrics-viewer/utils/dimension-picker.unit.spec.ts
  frontend/src/metabase/metrics-viewer/utils/tabs.ts
  frontend/src/metabase/metrics-viewer/utils/tabs.unit.spec.ts
  frontend/src/metabase/ui/components/icons/Icon/icons/index.ts
  frontend/src/metabase/ui/components/icons/Icon/icons/sliders.svg
Due: front-end

🤖 backported "handle duplicate copies of gson on classpath" (#74697)
  bin/build/src/build/uberjar.clj
  bin/build/test/build/uberjar_test.clj
  modules/drivers/databricks/deps.edn
Due: none

🤖 backported "handle duplicate copies of gson on classpath" (#74696)
  bin/build/src/build/uberjar.clj
  bin/build/test/build/uberjar_test.clj
  modules/drivers/databricks/deps.edn
Due: none

🤖 backported "Fix remapping with custom values" (#74722)
  e2e/test/scenarios/dashboard-filters/dashboard-filters-number-source.cy.spec.js
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
  src/metabase/parameters/custom_values.clj
  test/metabase/embedding_rest/api/embed_test.clj
  test/metabase/parameters/custom_values_test.clj
Due: back-end, front-end

kondo
  modules/drivers/teradata/src/metabase/driver/teradata.clj
Due: none

Use context-timeouts metric instead of timeouts metric (#74539)
  src/metabase/sql_parsing/core.clj
Due: back-end

Update metrics viewer control styles (#74653)
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/DimensionPickerSidebar.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/BinningButton/BinningButton.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/BucketButton/BucketButton.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/ChartLayoutPicker/ChartLayoutPicker.module.css
  frontend/src/metabase/metrics-viewer/components/MetricControls/ChartLayoutPicker/ChartLayoutPicker.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/ChartTypePicker/ChartTypePicker.module.css
  frontend/src/metabase/metrics-viewer/components/MetricControls/ChartTypePicker/ChartTypePicker.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/DimensionFilterButton/DimensionFilterButton.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/MetricControls.module.css
  frontend/src/metabase/metrics-viewer/components/MetricControls/MetricControls.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/MetricSearchInput.module.css
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/MetricSearchInput.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearchPanel/MetricSearchPanel.module.css
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/AddDimensionPopover/AddDimensionPopover.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/AddDimensionPopover/AddDimensionPopover.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/MetricsViewerTabContent/MetricsViewerTabContent.tsx
  frontend/src/metabase/metrics-viewer/utils/dimension-picker.unit.spec.ts
  frontend/src/metabase/metrics-viewer/utils/url-serialization.ts
  frontend/src/metabase/metrics-viewer/utils/url-serialization.unit.spec.ts
Due: front-end

disable download button when no databases
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspacePage/SetupSection/SetupSection.tsx
  enterprise/frontend/src/metabase-enterprise/workspaces/pages/WorkspacePage/SetupSection/SetupSection.unit.spec.tsx
Due: front-end

run teradata in ci
  .github/workflows/drivers.yml
  mage/src/mage/modules.clj
  mage/test/mage/modules_test.clj
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
