Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Add row and column level security step for onboarding (#69622)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/tenants/components/CreateTenantsOnboardingStep/CreateTenantsOnboardingStep.tsx
  frontend/src/metabase/api/group-table-access-policy.ts
  frontend/src/metabase/api/index.ts
  frontend/src/metabase/api/settings.ts
  frontend/src/metabase/api/tags/constants.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/EnableTenantsStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/RlsDataSelector.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/TableColumnCard.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/RlsDataSelector/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-update-all-tenant-users-group-permissions.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/hooks/use-upsert-group-table-access-policies.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/utils/permission-utils.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/utils/permission-utils.unit.spec.ts
  frontend/src/metabase/ui/components/overlays/Menu/index.ts
Due: front-end

Mark get embed snippet step as done when guest embed is published (#69889)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase/api/card.ts
  frontend/src/metabase/api/dashboard.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCodeStep.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeEmbedSetupModal.tsx
Due: back-end, front-end

Embed wizard should default to newly created dashboards (#69907)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-entity.cy.spec.ts
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-experience.cy.spec.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/hooks/use-recent-items.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/hooks/use-recently-created-dashboards.ts
Due: front-end

Create a multi-select database selector component (#69635)
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.module.css
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.stories.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/DatabaseMultiSelect.unit.spec.tsx
  frontend/src/metabase/common/components/DatabaseMultiSelect/index.ts
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
Due: front-end

Add connection impersonation onboarding step (#69644)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/ConnectionImpersonationStepContent.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupPermissionsAndTenantsPage/SetupPermissionsAndTenantsPage.tsx
Due: front-end

Add JWT authentication onboarding for embedding hub (#69823)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/embedding_hub/api.clj
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.tsx
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/AddEndpointStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupJwtStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.module.css
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/SetupSsoPage.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/TestJwtStep.tsx
  frontend/src/metabase/embedding/embedding-hub/components/SetupSsoPage/index.ts
  frontend/src/metabase/embedding/embedding-hub/components/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/index.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-help-url.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
  src/metabase/embedding/settings.clj
Due: back-end, front-end

Remove create models step from embedding onboarding checklist (#70256)
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  frontend/src/metabase/api/embedding-hub.ts
  frontend/src/metabase/embedding/embedding-hub/components/EmbeddingHub.unit.spec.tsx
  frontend/src/metabase/embedding/embedding-hub/hooks/use-completed-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/hooks/use-get-embedding-hub-steps.ts
  frontend/src/metabase/embedding/embedding-hub/types/embedding-checklist.ts
Due: front-end

integration-embedding-onboarding-improvements: branch was restacked externally
  branches/integration-embedding-onboarding-improvements
Due: none

emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level: restacked on integration-embedding-onboarding-improvements
  branches/emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level
Due: none

emb-1336-tenant-creation-should-differ-the-data-isolation-field-by: restacked on emb-1327-show-tenant_identifier-suggestions-in-a-menu-from-row-level
  branches/emb-1336-tenant-creation-should-differ-the-data-isolation-field-by
Due: none

emb-1351-show-segregation-strategy-specific-data-permissions-in: restacked on emb-1336-tenant-creation-should-differ-the-data-isolation-field-by
  branches/emb-1351-show-segregation-strategy-specific-data-permissions-in
Due: none

emb-1351-show-segregation-strategy-specific-data-permissions-in: associate existing CR
  branches/emb-1351-show-segregation-strategy-specific-data-permissions-in
Due: none

Post stack navigation comments
  branches/emb-1351-show-segregation-strategy-specific-data-permissions-in
Due: none

rename checkForAuthConfig -> checkForAuthConfigAndStartAuth
  frontend/src/embedding-sdk-bundle/bootstrap-auth.ts
Due: front-end

startAuth -> startJwtAuth
  frontend/src/embedding-sdk-bundle/bootstrap-auth.ts
Due: front-end

Fix merge conflict resolution: restore vector-based source-tables handling
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/src/metabase_enterprise/workspaces/dependencies.clj
  src/metabase/app_db/custom_migrations.clj
Due: back-end

support multiple join conditions in join-analysis lens (#70247)
  src/metabase/transforms_inspector/context.clj
  src/metabase/transforms_inspector/lens/join_analysis.clj
  src/metabase/transforms_inspector/query_analysis.clj
  test/metabase/transforms_inspector/lens/join_analysis_test.clj
Due: back-end

use new URL to construct baseUrl
  frontend/src/embedding-sdk-bundle/embedding-sdk-bootstrap.ts
Due: front-end

GDGT-1872: Change transform metering to tier-based keys
  enterprise/backend/src/metabase_enterprise/transforms/core.clj
  enterprise/backend/test/metabase_enterprise/transforms/core_test.clj
  src/metabase/premium_features/token_check.clj
  src/metabase/transforms/core.clj
Due: back-end

GDGT-1755: Migrate RightClickPopover to use Mantine
  frontend/src/metabase/query_builder/components/NativeQueryEditor/RightClickPopover/RightClickPopover.tsx
Due: front-end

fix test after out-of-order merge
  test/metabase/transforms_inspector/lens/join_analysis_test.clj
Due: none

use shared auth logic
  frontend/src/embedding-sdk-bundle/bootstrap-auth.ts
Due: front-end

Add transpilation tests and adjust sql_tools.py
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/sql/validation_test.clj
  resources/python-sources/sql_tools.py
Due: back-end

Add cache restore keys
  .github/actions/get-cache-keys/action.yml
  .github/actions/prepare-backend/action.yml
  .github/actions/prepare-frontend/action.yml
Due: none

appease kondo
  test/metabase/transforms_inspector/lens/join_analysis_test.clj
Due: none

Address PR review: unify source-tables schemas and fix workspace API output format
  enterprise/backend/src/metabase_enterprise/dependencies/calculation.clj
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/src/metabase_enterprise/workspaces/execute.clj
  src/metabase/models/transforms/transform.clj
  src/metabase/transforms/schema.clj
  src/metabase/transforms/util.clj
  src/metabase/transforms_base/util.clj
Due: back-end

use the real version as we can actually
  frontend/src/embedding-sdk-bundle/bootstrap-auth.ts
Due: front-end

fix test after out-of-order merge (#70368)
  test/metabase/transforms_inspector/lens/join_analysis_test.clj
Due: none

Address PR review round 2: optimize migration, clean up remap and dependencies
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/src/metabase_enterprise/workspaces/dependencies.clj
  enterprise/backend/src/metabase_enterprise/workspaces/execute.clj
  enterprise/backend/test/metabase_enterprise/transforms/models_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/execute_test.clj
  src/metabase/app_db/custom_migrations.clj
  src/metabase/transforms/util.clj
Due: back-end

GDGT-1755: Migrate DropdownSidebarFilter to Mantine Popover
  frontend/src/metabase/search/components/DropdownSidebarFilter/DropdownSidebarFilter.tsx
  frontend/src/metabase/search/components/SearchSidebar/SearchSidebar.tsx
Due: front-end

Convert frontend/src/metabase/visualizations/lib/table_format.js to TypeScript
  frontend/src/metabase/visualizations/lib/table_format.ts
  frontend/src/metabase/visualizations/types/visualization.ts
Due: front-end

display an error in case query metadata is empty
  frontend/src/metabase/querying/editor/hooks/use-query-metadata/use-query-metadata.ts
Due: front-end

Convert frontend/src/metabase/visualizations/lib/table_format.unit.spec.js to TypeScript
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/visualizations/lib/table_format.ts
  frontend/src/metabase/visualizations/lib/table_format.unit.spec.ts
Due: front-end

Add malli typing for transform execution methods (#70250)
  enterprise/backend/src/metabase_enterprise/transforms_python/base.clj
  src/metabase/transforms_base/query.clj
  src/metabase/transforms_base/schema.clj
Due: back-end

fix migration dates
  resources/migrations/059_update_migrations.yaml
Due: none

keep the old transformation without keywordization
  src/metabase/models/transforms/transform.clj
Due: back-end

Implement scoped authorization to limit API surface
  enterprise/backend/src/metabase_enterprise/agent_api/api.clj
  src/metabase/api/macros.clj
  src/metabase/api/macros/scope.clj
  test/metabase/api/macros/scope_test.clj
Due: back-end

Tweak
  enterprise/backend/src/metabase_enterprise/agent_api/api.clj
Due: back-end

gdgt-1864 add frozen rows and columns
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.module.css
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.tsx
  frontend/src/metabase/data-grid/constants.ts
  frontend/src/metabase/data-grid/hooks/use-data-grid-instance.tsx
  frontend/src/metabase/data-grid/hooks/use-row-pinning-by-count.ts
  frontend/src/metabase/data-grid/hooks/use-virtual-grid.tsx
  frontend/src/metabase/data-grid/types.ts
  frontend/src/metabase/visualizations/components/ChartSettings/BaseChartSettings/hooks.ts
  frontend/src/metabase/visualizations/components/TableInteractive/TableInteractive.tsx
  frontend/src/metabase/visualizations/visualizations/Table/Table.tsx
Due: front-end

simplify migration and only do transformation on api schema denormalization
  src/metabase/app_db/custom_migrations.clj
  src/metabase/models/transforms/transform.clj
  src/metabase/transforms/schema.clj
Due: back-end
