Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Add test for unavailable cards
  e2e/test/scenarios/question/saved.cy.spec.js
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/SavedQuestionLeftSide/hooks.ts
Due: front-end

Remove unnecessary card endpoint
  frontend/src/metabase/query_builder/components/view/ViewHeader/ViewTitleHeader.unit.spec.js
Due: front-end

Add unit test for inaccessible card
  frontend/src/metabase/query_builder/components/view/ViewHeader/ViewTitleHeader.unit.spec.js
Due: front-end

defineEmbeddingSdkConfig to make typing easier when the config is created outside of the jsx
  enterprise/frontend/src/embedding-sdk/components/public/defineEmbeddingSdkConfig.ts
  enterprise/frontend/src/embedding-sdk/components/public/index.ts
Due: front-end

Increase the size of the overlay spacer
  frontend/src/metabase/components/MetadataInfo/Popover/Popover.styled.tsx
Due: front-end

Reduce cache TTL for billing info from 5h to 5min
  enterprise/backend/src/metabase_enterprise/billing/billing.clj
Due: back-end

fix today text in user invite email
  src/metabase/email/new_user_invite.mustache
Due: back-end

add unformatted copy
  frontend/src/metabase/common/components/ExportSettingsWidget/ExportSettingsWidget.tsx
  frontend/src/metabase/query_builder/components/QueryDownloadPopover/QueryDownloadPopover.unit.spec.tsx
Due: front-end

filter out virtual cards when creating a subscription (#48861)
  frontend/src/metabase/sharing/components/SharingSidebar/SharingSidebar.jsx
  frontend/src/metabase/sharing/components/SharingSidebar/SharingSidebar.unit.spec.tsx
Due: front-end

filter out virtual cards when creating a subscription (#48861) (#48883)
  frontend/src/metabase/sharing/components/SharingSidebar/SharingSidebar.jsx
  frontend/src/metabase/sharing/components/SharingSidebar/SharingSidebar.unit.spec.tsx
Due: front-end

Hopefully fixed the tests
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/application_test.clj
  enterprise/backend/test/metabase_enterprise/llm/api_test.clj
  enterprise/backend/test/metabase_enterprise/query_reference_validation/api_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/api_test.clj
  enterprise/backend/test/metabase_enterprise/upload_management/api_test.clj
  src/metabase/public_settings/premium_features.clj
  test/metabase/api/cache_test.clj
  test/metabase/api/permissions_test.clj
  test/metabase/api/search_test.clj
  test/metabase/test.clj
  test/metabase/test/util/public_settings.clj
Due: back-end

Downgrade migration for table-level native perms (#48773)
  resources/migrations/001_update_migrations.yaml
  resources/migrations/permissions/rollback/mysql_table_level_native_perms.sql
  resources/migrations/permissions/rollback/table_level_native_perms.sql
  test/metabase/db/schema_migrations_test.clj
Due: none

Fixing broken Configure Slack links (#48758)
  e2e/test/scenarios/sharing/alert/alert.cy.spec.js
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
  frontend/src/metabase/components/ChannelSetupMessage/ChannelSetupMessage.jsx
  frontend/src/metabase/components/ChannelSetupModal/ChannelSetupModal.jsx
  frontend/src/metabase/pulse/components/PulseEditChannels.tsx
  frontend/src/metabase/pulse/components/WebhookChannelEdit.tsx
  frontend/src/metabase/query_builder/components/AlertModals/CreateAlertModalContent.jsx
  frontend/src/metabase/sharing/components/NewPulseSidebar.tsx
Due: front-end

Only add parameters if they have a value
  frontend/src/metabase/selectors/settings.ts
Due: front-end

Fix unit test
  frontend/src/metabase/admin/upsells/components/use-upsell-link.unit.spec.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
Due: front-end

Update src/metabase/models/collection.clj
  src/metabase/models/collection.clj
Due: back-end

fix the woes
  frontend/src/metabase/ui/components/inputs/MultiSelect/MultiSelect.config.tsx
  frontend/src/metabase/ui/components/inputs/Select/Select.config.tsx
  frontend/src/metabase/ui/components/inputs/Select/SelectDropdown/SelectDropdown.tsx
  frontend/src/metabase/ui/components/inputs/Select/SelectDropdown/index.ts
  frontend/src/metabase/ui/components/inputs/Select/SelectItem/SelectItem.tsx
Due: front-end

Increase the delay of the popover opening
  frontend/src/metabase/components/MetadataInfo/Popover/Popover.tsx
Due: front-end

Hard-code the popover delays
  frontend/src/metabase/components/MetadataInfo/Popover/Popover.tsx
Due: front-end

Self-heal database sync triggers
  src/metabase/core.clj
  src/metabase/models/database.clj
Due: back-end

Remove delay props from info components
  frontend/src/metabase/components/MetadataInfo/ColumnInfoIcon/ColumnInfoIcon.tsx
  frontend/src/metabase/components/MetadataInfo/ColumnInfoPopover/ColumnInfoPopover.tsx
  frontend/src/metabase/components/MetadataInfo/TableInfoIcon/TableInfoIcon.tsx
  frontend/src/metabase/components/MetadataInfo/TableInfoPopover/TableInfoPopover.tsx
Due: front-end

malli-report as macro
  test/metabase/test_runner/assert_exprs/malli_equals.cljc
Due: none

questionable
  test/metabase/api/dashboard_test.clj
Due: none

misc fixes
  frontend/src/metabase/common/components/Sidesheet/SidesheetCardSection.tsx
  frontend/src/metabase/common/components/Sidesheet/SidesheetTabPanelContainer.tsx
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.tsx
  frontend/src/metabase/ui/components/inputs/MultiSelect/MultiSelect.tsx
  frontend/src/metabase/ui/components/inputs/MultiSelect/index.ts
  frontend/src/metabase/visualizations/visualizations/SmartScalar/SettingsComponents/AnotherColumnForm.tsx
Due: front-end

Reduce cache TTL for billing info from 5h to 5min (#48762)
  enterprise/backend/src/metabase_enterprise/billing/billing.clj
Due: back-end

Review suggestions
  src/metabase/core.clj
  src/metabase/models/database.clj
Due: back-end

Testing things
  enterprise/frontend/src/embedding-sdk/components/public/MetabaseProvider.tsx
  enterprise/frontend/src/embedding-sdk/hooks/private/setup-sdk-auth.ts
  enterprise/frontend/src/embedding-sdk/hooks/private/use-init-data.ts
  enterprise/frontend/src/embedding-sdk/lib/error/data.ts
  enterprise/frontend/src/embedding-sdk/lib/error/error.ts
  enterprise/frontend/src/embedding-sdk/store/reducer.ts
  enterprise/frontend/src/embedding-sdk/types/refresh-token.ts
Due: front-end

Fix unit test
  frontend/src/metabase/public/components/EmbedModal/EmbedModalContent/EmbedModalContent.unit.spec.tsx
Due: front-end

Fixing broken Configure Slack links (#48758) (#48886)
  e2e/test/scenarios/sharing/alert/alert.cy.spec.js
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
  frontend/src/metabase/components/ChannelSetupMessage/ChannelSetupMessage.jsx
  frontend/src/metabase/components/ChannelSetupModal/ChannelSetupModal.jsx
  frontend/src/metabase/pulse/components/PulseEditChannels.tsx
  frontend/src/metabase/pulse/components/WebhookChannelEdit.tsx
  frontend/src/metabase/query_builder/components/AlertModals/CreateAlertModalContent.jsx
  frontend/src/metabase/sharing/components/NewPulseSidebar.tsx
Due: front-end

testing 123
  enterprise/frontend/src/embedding-sdk/hooks/private/use-init-data.ts
Due: front-end

refactor(sdk): simplify auth init, remove headaching inducing useEffect
  enterprise/frontend/src/embedding-sdk/hooks/private/setup-sdk-auth.ts
  enterprise/frontend/src/embedding-sdk/hooks/private/use-init-data.ts
Due: front-end

Optimize pie charts rendering with many rows (#48670)
  frontend/src/metabase/query_builder/components/view/sidebars/ChartSettingsSidebar.jsx
  frontend/src/metabase/query_builder/selectors.js
  frontend/src/metabase/query_builder/utils/index.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingSeriesOrder.tsx
  frontend/src/metabase/visualizations/echarts/pie/model/index.ts
  frontend/src/metabase/visualizations/echarts/pie/util/colors.ts
  frontend/src/metabase/visualizations/visualizations/CartesianChart/chart-definition-legacy.js
  frontend/src/metabase/visualizations/visualizations/PieChart/PieRowsPicker.tsx
  frontend/src/metabase/visualizations/visualizations/PieChart/chart-definition.ts
Due: front-end

Fix unit test
  frontend/src/metabase/components/MetadataInfo/ColumnInfoIcon/ColumnInfoIcon.unit.spec.tsx
Due: front-end

Update allowed-iframe-hosts setting definition
  src/metabase/public_settings.clj
Due: back-end

Add error state for forbidden iframe url domains
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/visualizations/visualizations/IFrameViz/IFrameViz.tsx
  frontend/src/metabase/visualizations/visualizations/IFrameViz/utils.ts
Due: front-end
