Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

WIP flaky test issue creator
  release/src/flakes.ts
  release/src/flakes.unit.spec.ts
Due: none

add summary and workflows
  .github/workflows/flake-issue-creator.yml
  .github/workflows/flake-status.yml
  release/src/flakes.ts
  release/src/index.ts
  release/src/slack.ts
Due: none

adjust recent flake period
  release/src/flakes.ts
Due: none

Clarify the use of ExplicitSize context
  frontend/src/metabase/components/ExplicitSize/context.ts
Due: front-end

Fix sticky filters not working on theme=transparent
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.styled.tsx
Due: front-end

Add storybook for embedded dashboard
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Dark_Theme_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Dark_Theme_No_Background_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Dark_Theme_No_Background_Scroll.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Dark_Theme_Scroll.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Light_Theme_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Light_Theme_No_Background_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Light_Theme_No_Background_Scroll.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_Light_Theme_Scroll.png
  frontend/src/metabase/components/ExplicitSize/ExplicitSize.tsx
  frontend/src/metabase/components/ExplicitSize/__mocks__/ExplicitSize.tsx
  frontend/src/metabase/components/ExplicitSize/__mocks__/index.ts
  frontend/src/metabase/components/ExplicitSize/context.ts
  frontend/src/metabase/components/ExplicitSize/index.ts
  frontend/src/metabase/lib/dom.js
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardView.stories.tsx
  loki.config.js
  package.json
  yarn.lock
Due: front-end

Fix unit tests
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.tsx
Due: front-end

Simplify IntersectionObserver components + fix E2E tests
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.styled.tsx
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.tsx
Due: front-end

Add background to dashboard filter on light theme
  frontend/src/metabase/parameters/components/ParameterWidget/ParameterWidget.styled.ts
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.module.css
Due: front-end

Make position sticky works with transparent background
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.styled.tsx
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.tsx
Due: front-end

Review: Better mock `isWithinIframe`
  frontend/src/metabase/lib/dom.js
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardView.stories.tsx
  package.json
  yarn.lock
Due: front-end

Remove unused code
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.styled.tsx
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.tsx
Due: front-end

Formatting
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardView.stories.tsx
Due: front-end

revert csv row limit default
  src/metabase/public_settings.clj
Due: back-end

fix background on dashcard png export when in embed night theme
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.module.css
  frontend/src/metabase/visualizations/components/Visualization/Visualization.jsx
Due: front-end

Repro #34350 - Unable to switch question to query table in another database (#44969) (#45012)
  e2e/test/scenarios/question/notebook-data-source.cy.spec.ts
Due: none

fix(sdk): runtime error when font family is not provided (#44989)
  enterprise/frontend/src/embedding-sdk/components/public/MetabaseProvider.tsx
  frontend/test/__support__/ui.tsx
Due: front-end

Reset JoinDraft state on database change (fixes metabase#42385)
  frontend/src/metabase/query_builder/components/notebook/steps/JoinStep/JoinDraft/JoinDraft.tsx
Due: front-end

Add repro for #42385
  e2e/test/scenarios/joins/joins-reproductions.cy.spec.js
Due: none

test fixes
  .clj-kondo/config.edn
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/update_used_cards_test.clj
  package.json
  src/metabase/events/view_log.clj
  test/metabase/api/activity_test.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/events/view_log_test.clj
  test/metabase/query_processor/middleware/process_userland_query_test.clj
  test/metabase/query_processor/middleware/update_used_cards_test.clj
  test/metabase/test.clj
  test/metabase/test/util/async.clj
Due: back-end

add a tes for view count
  package.json
  test/metabase/events/view_log_test.clj
Due: none

Fix #39771
  frontend/src/metabase/components/Popover/constants.ts
Due: front-end

2+2
  test/metabase/events/view_log_test.clj
Due: none

Do not fetch custom label for FormattedParameterValue
  frontend/src/metabase/parameters/components/FormattedParameterValue/FormattedParameterValue.tsx
  frontend/src/metabase/parameters/components/FormattedParameterValue/FormattedParameterValue.unit.spec.tsx
Due: front-end

Add a See this dashboard text for dashboard sub for slack
  src/metabase/channel/slack.clj
Due: back-end

Add a repro for 'Permission error before finishing referencing a question in the native query' (#44995)
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
Due: none

Add repro for #39771
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
Due: none

Make sure the query is native
  frontend/src/metabase-lib/v1/parameters/utils/targets.ts
Due: front-end

Convert the comment to JSDoc
  frontend/src/metabase-lib/v1/parameters/utils/targets.ts
Due: front-end

Add E2E reproduction
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Due: none

Do not hard code database ID
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Due: none

Add explanatory comment
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
Due: none

Fix mapping
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
  frontend/src/metabase/dashboard/reducers.js
  frontend/src/metabase/entities/revisions.js
Due: front-end

Add test scenarios for the public sharing and embedding
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Due: none

Fix mapping
  frontend/src/metabase/dashboard/components/DashCard/utils.ts
Due: front-end

Use admin user
  e2e/test/scenarios/joins/joins-reproductions.cy.spec.js
Due: none

make changes
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/components/Filter.tsx
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/components/Summarize.tsx
  frontend/src/metabase/css/core/flex.module.css
  frontend/src/metabase/query_builder/components/LimitInput.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorSuggestions/ExpressionEditorSuggestions.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorSuggestions/ExpressionEditorSuggestions.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/ExpressionEditorTextfield.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/LimitStep/LimitStep.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar/BreakoutColumnList/BreakoutColumnList.tsx
  frontend/src/metabase/ui/components/inputs/Input/Input.styled.tsx
Due: front-end

Fix z-index
  frontend/src/metabase/ui/components/overlays/Popover/Popover.styled.tsx
Due: front-end

remove bad default parameter
  release/src/github.ts
Due: none

Remove incorrect default parameter from release note generation code (#45031)
  release/src/github.ts
Due: none
