Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

fix workspaces but break types
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/pages/WorkspacePage/WorkspacePage.tsx
Due: front-end

Use mongo field filter alias if available (#67025) (#67121)
  modules/drivers/mongo/src/metabase/driver/mongo/parameters.clj
  modules/drivers/mongo/test/metabase/driver/mongo/parameters_test.clj
Due: none

Delete "Groups" heading from the invite popover
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.module.css
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.tsx
Due: front-end

Fix types
  frontend/src/metabase/forms/components/FormGroupsWidget/FormGroupsWidget.tsx
Due: front-end

Add a divider
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.module.css
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.tsx
Due: front-end

Update position of MembershipSelect popover from "bottom-end" to "bottom-start"
  frontend/src/metabase/admin/people/components/MembershipSelect/MembershipSelect.tsx
Due: front-end

test(tenants): add e2e for what tenant users should see in core app
  e2e/test/scenarios/embedding/tenant-users-sidecar.cy.spec.ts
Due: none

Add parameters /search e2e for guest embeds
  e2e/test-component/scenarios/embedding-sdk/guest-embed-happy-path.cy.spec.tsx
Due: none

Split test suite
  e2e/test-component/scenarios/embedding-sdk/guest-embed-happy-path.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/guest-embed-parameters.cy.spec.tsx
Due: none

disable chunked encoding if using path style access (#67262) (#67270)
  enterprise/backend/src/metabase_enterprise/transforms_python/s3.clj
Due: back-end

Adjust e2e test to current (and correct) BE behavior
  e2e/test/scenarios/data-studio/data-model/segments-data-studio.cy.spec.ts
Due: none

fix: code compilation by breaking method in two
  src/metabase/revisions/models/revision/diff.clj
Due: back-end

update collection name in tests to use the new one from the BE
  e2e/test/scenarios/embedding/tenant-users-sidecar.cy.spec.ts
Due: none

test(tenants): add e2e for what tenant users should see in core app (#67272)
  e2e/test/scenarios/embedding/tenant-users-sidecar.cy.spec.ts
Due: none

UXW-2578 - Prevent renaming of tenant collection (#67086)
  enterprise/backend/src/metabase_enterprise/tenants/model.clj
  enterprise/backend/test/metabase_enterprise/tenants/model_test.clj
  src/metabase/collections/models/collection.clj
  src/metabase/collections_rest/api.clj
  src/metabase/search/impl.clj
Due: back-end

Fix CI
  frontend/src/metabase/dashboard/actions/parameters.tsx
Due: front-end

guest embeds and components
  docs/embedding/components.md
  docs/embedding/guest-embedding.md
Due: none

Consolidate outlines in main sidebar nav
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/SidebarItems.styled.tsx
Due: front-end

Fix invalid snowplow schema (#67250)
  e2e/test/scenarios/embedding/sdk-iframe-embedding/sdk-iframe-embedding.cy.spec.ts
  frontend/src/metabase/lib/analytics.ts
  snowplow/iglu-client-embedded/schemas/com.metabase/embedded_analytics_js/jsonschema/2-0-0
Due: front-end

Resolved conflicts
  enterprise/backend/src/metabase_enterprise/advanced_permissions/models/permissions/data_permissions.clj
  enterprise/backend/src/metabase_enterprise/advanced_permissions/query_processor/middleware/permissions.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/subscription_test.clj
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/notifications/AddEditSidebar/AddEditEmailSidebar.tsx
  frontend/src/metabase/notifications/DashboardSubscriptionsSidebar/DashboardSubscriptionsSidebar.jsx
  frontend/src/metabase/notifications/DashboardSubscriptionsSidebar/get-supported-cards-for-subscriptions.tsx
  frontend/src/metabase/notifications/EmailAttachmentPicker.jsx
  frontend/src/metabase/notifications/EmailAttachmentPicker.unit.spec.js
  src/metabase/channel/email/result_attachment.clj
  src/metabase/dashboards/api.clj
  src/metabase/permissions/core.clj
  src/metabase/permissions/models/data_permissions.clj
  src/metabase/pulse/api/pulse.clj
  src/metabase/pulse/models/pulse.clj
  test/metabase/pulse/models/pulse_test.clj
Due: back-end, front-end

Allow passing arrays of string as sqlInitialParameters in InteractiveQuestion
  e2e/support/helpers/e2e-ui-elements-helpers.js
  e2e/test-component/scenarios/embedding-sdk/sdk-question-native.cy.spec.tsx
  frontend/src/embedding-sdk-bundle/lib/sdk-question/load-question.ts
  frontend/src/embedding-sdk-bundle/lib/sdk-question/parse-initial-parameters.unit.spec.ts
  frontend/src/embedding-sdk-bundle/lib/sdk-question/parse-initial-sql-parameters.ts
Due: front-end

UXW-2576 show tenant collections in the trash (#67124)
  enterprise/backend/test/metabase_enterprise/tenants/api_test.clj
  src/metabase/collections_rest/api.clj
  src/metabase/permissions/core.clj
  src/metabase/permissions/models/collection/graph.clj
  src/metabase/permissions/models/permissions.clj
  src/metabase/search/permissions.clj
Due: back-end

Fix migrations
  resources/migrations/058_update_migrations.yaml
Due: none

Show embedding picker when logged in as a tenant user (#67189) (#67264)
  e2e/test/scenarios/admin-2/tenants.cy.spec.ts
  e2e/test/scenarios/embedding/tenant-users-sidecar.cy.spec.ts
  enterprise/frontend/src/embedding/data-picker/SimpleDataPicker/SimpleDataPicker.tsx
  frontend/src/metabase/querying/notebook/components/NotebookDataPicker/NotebookDataPicker.tsx
Due: front-end

update collection name in tests to use the new one from the BE (#67280)
  e2e/test/scenarios/embedding/tenant-users-sidecar.cy.spec.ts
Due: none

test(tenants): add e2e for what tenant users should see in core app (#67272) (#67277)
  e2e/test/scenarios/embedding/tenant-users-sidecar.cy.spec.ts
Due: none

do not drop fk constraint
  resources/migrations/058_update_migrations.yaml
Due: none

Kondo fix
  enterprise/backend/src/metabase_enterprise/library/api.clj
Due: back-end

Use buildkit
  .github/workflows/embedding-sdk-host-sample-apps-tests.yml
Due: none

Log free disk space
  .github/workflows/embedding-sdk-host-sample-apps-tests.yml
Due: none

fix cross branch migrations
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  resources/migrations/058_update_migrations.yaml
Due: back-end

I messed everythign up
  resources/migrations/058_update_migrations.yaml
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
