Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

PR suggestion: simplify lambda argslist
  test/metabase/api/dataset_test.clj
Due: none

PR suggestion: remove unnecessary mt/with-temp-copy-of-db
  test/metabase/api/dataset_test.clj
Due: none

Add native query long column alias test to models e2e tests
  e2e/test/scenarios/models/models.cy.spec.js
Due: none

Tweak test name
  test/metabase/api/dataset_test.clj
Due: none

Rollback to legacy unique-name-generator in annotate-native-cols
  src/metabase/query_processor/middleware/annotate.clj
Due: back-end

Resolves many issue for milestone 0 of Feature flag and settings for SDK epic
  enterprise/backend/test/metabase/embed/settings_test.clj
  src/metabase/embed/settings.clj
  src/metabase/server/middleware/security.clj
Due: back-end

Revert to non-truncating mbql.u/unique-name-generator in annotate-native-cols (#47866)
  e2e/test/scenarios/models/models.cy.spec.js
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/api/dataset_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Due: back-end

size and padding fixes
  frontend/src/metabase/common/components/Sidesheet/SidesheetTabPanelContainer.tsx
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/DashboardInfoSidebar.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/QuestionInfoSidebar.tsx
Due: front-end

linkify and align stuff in question details
  frontend/src/metabase/browse/containers/TableBrowser/TableBrowser.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/QuestionDetails.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/QuestionInfoSidebar.module.css
Due: front-end

reorganize and divide question overflow menu
  frontend/src/metabase/components/EntityMenu/EntityMenu.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionActions/QuestionActions.tsx
Due: front-end

changes to support the style leak fixes
  enterprise/frontend/src/embedding-sdk/components/private/SdkUsageProblem/SdkUsageProblemBanner.module.css
  enterprise/frontend/src/embedding-sdk/components/private/SdkUsageProblem/SdkUsageProblemBanner.tsx
  enterprise/frontend/src/embedding-sdk/components/private/SdkUsageProblem/index.tsx
  enterprise/frontend/src/embedding-sdk/components/public/MetabaseProvider.tsx
Due: front-end

remove print statement
  enterprise/backend/test/metabase/embed/settings_test.clj
Due: back-end

hide history for analytics content
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/DashboardInfoSidebar.tsx
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/tests/premium.unit.spec.ts
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/QuestionInfoSidebar.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/tests/premium.unit.spec.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionSettingsSidebar/QuestionSettingsSidebar.tsx
Due: front-end

indent + lint
  src/metabase/embed/settings.clj
  src/metabase/server/middleware/security.clj
Due: back-end

Ensure :effective-type for columns from an aggregation in a card
  src/metabase/api/query_metadata.clj
  src/metabase/lib/card.cljc
  test/metabase/lib/card_test.cljc
Due: back-end

Add Select all to dashboard parameters (#47897)
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Number.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List_Single_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_Search.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_Search_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Quarter_Year_Dropdown.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List_Single_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_Search.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_Search_With_Value.png
  frontend/src/metabase/components/ListField/ListField.styled.tsx
  frontend/src/metabase/components/ListField/ListField.tsx
  frontend/src/metabase/components/ListField/ListField.unit.spec.tsx
  frontend/src/metabase/components/ListField/types.ts
  frontend/src/metabase/containers/RemappedValue.jsx
Due: front-end

🤖 backported "Controlled upgrades" (#47923)
  frontend/src/metabase/admin/settings/components/SettingsUpdatesForm/SettingsUpdatesForm.jsx
  frontend/src/metabase/admin/settings/components/SettingsUpdatesForm/SettingsUpdatesForm.unit.spec.js
  frontend/src/metabase/admin/settings/components/SettingsUpdatesForm/VersionUpdateNotice/VersionUpdateNotice.tsx
  src/metabase/config.clj
  src/metabase/public_settings.clj
  test/metabase/public_settings_test.clj
Due: back-end, front-end

fix verification icon alignment
  enterprise/frontend/src/metabase-enterprise/moderation/components/ModerationReviewBanner/ModerationReviewBanner.tsx
Due: front-end

try to fix final lint error
  snowplow/iglu-client-embedded/schemas/com.metabase/instance_stats/jsonschema/1-0-0
Due: none

finish adding logic for tracking features
  enterprise/backend/src/metabase_enterprise/snowplow.clj
  src/metabase/analytics/stats.clj
  src/metabase/config.clj
  src/metabase/models/card.clj
Due: back-end

cleanup code that I accidentally left in for debugging
  test/metabase/analytics/snowplow_test.clj
Due: none

try to fix new lint errors
  snowplow/iglu-client-embedded/schemas/com.metabase/instance_stats/jsonschema/1-0-0
Due: none

simplify schema, fix lint errors, and a little refactor
  snowplow/iglu-client-embedded/schemas/com.metabase/instance_stats/jsonschema/1-0-0
  src/metabase/analytics/stats.clj
  src/metabase/api/util.clj
  src/metabase/models/card.clj
  test/metabase/analytics/stats_test.clj
Due: back-end

add schema
  snowplow/iglu-client-embedded/schemas/com.metabase/instance_stats/jsonschema/1-0-0
Due: none

Update snowplow micro docker compose to also serve local snowplow schemas, + fix some schema/payload issues
  enterprise/backend/src/metabase_enterprise/snowplow.clj
  snowplow/docker-compose.yml
  snowplow/iglu-client-embedded/schemas/com.metabase/instance_stats/jsonschema/1-0-0
  snowplow/iglu.json
  src/metabase/analytics/stats.clj
Due: back-end

tweak some logic, fix some bugs, add a unit test
  src/metabase/analytics/snowplow.clj
  src/metabase/analytics/stats.clj
  src/metabase/api/testing.clj
  test/metabase/analytics/stats_test.clj
Due: back-end

implement the bulk of the new snowplow logic
  enterprise/backend/src/metabase_enterprise/snowplow.clj
  src/metabase/analytics/snowplow.clj
  src/metabase/analytics/stats.clj
  src/metabase/public_settings.clj
  src/metabase/public_settings/premium_features.clj
  src/metabase/troubleshooting.clj
Due: back-end

Synchronize effective-type with the base-type on override
  src/metabase/lib/field.cljc
  test/metabase/lib/field_test.cljc
Due: back-end

fix(sdk): Fix entity ID logic to use the correct status (#47748)
  frontend/src/metabase-types/api/entity-id.ts
  frontend/src/metabase/api/entity-id.ts
  frontend/src/metabase/lib/entity-id/hooks/use-validated-entity-id.ts
Due: front-end

need to have :embedding and :embedding-sdk
  enterprise/backend/test/metabase/embed/settings_test.clj
Due: back-end

indent
  enterprise/backend/test/metabase/embed/settings_test.clj
Due: back-end

take BaseEntityId from the right module
  frontend/src/metabase/lib/entity-id/hooks/use-validated-entity-id.ts
Due: front-end

add basic Cypress test that asserts that the snowplow event can be sent and passes validation
  e2e/test/scenarios/stats/instance-stats-snowplow.cy.spec.js
  src/metabase/api/testing.clj
Due: back-end

fix BE tests
  src/metabase/analytics/snowplow.clj
  test/metabase/analytics/stats_test.clj
Due: back-end

fix some other tests
  test/metabase/api/card_test.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/api/downloads_exports_test.clj
  test/metabase/query_processor/streaming_test.clj
Due: none

Don't allow setting embedding-app-origins-sdk without feature
  src/metabase/embed/settings.clj
Due: back-end

whoopsie lets commit all the files
  enterprise/frontend/src/metabase-enterprise/moderation/components/ModerationReviewBanner/moderationreivew.module.css
Due: front-end
