Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix default to not be nil; remove useless unit test
  src/metabase/public_settings.clj
  test/metabase/api/downloads_exports_test.clj
Due: back-end

proper title for cards when viz in error
  frontend/src/metabase/visualizations/components/Visualization/Visualization.jsx
  frontend/src/metabase/visualizations/components/Visualization/Visualization.unit.spec.js
Due: front-end

Add caveat about SDK client filtering
  docs/embedding/sdk/authentication.md
Due: none

Add default_time_dimension_field_id and adhoc context handling
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
Due: back-end

resty
  .github/workflows/external-pr-label.yml
Due: none

Suggestions
  frontend/src/metabase-types/api/autocomplete.ts
  frontend/src/metabase/api/autocomplete.ts
  frontend/src/metabase/api/tags/utils.ts
  frontend/src/metabase/query_builder/components/NativeQueryEditor/CodeMirrorEditor/completers.tsx
  src/metabase/api/database.clj
Due: back-end, front-end

Fix flaky date-string->range driver test (#52590)
  test/metabase/driver/common/parameters/dates_test.clj
Due: none

Update docs/embedding/sdk/authentication.md
  docs/embedding/sdk/authentication.md
Due: none

Add show-results-to-user dummy call for adhoc queries in context
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
Due: back-end

Suggestions
  src/metabase/api/database.clj
Due: back-end

Fix formatting
  enterprise/backend/src/metabase_enterprise/metabot_v3/envelope.clj
Due: back-end

Change to 2**20 - 1 to account for header row
  src/metabase/public_settings.clj
Due: back-end

Add caveat about SDK client filtering (#52681)
  docs/embedding/sdk/authentication.md
Due: none

Auto-rewrite defendpoints in channel module (#52632)
  src/metabase/channel/api/channel.clj
  src/metabase/channel/api/email.clj
Due: back-end

Add caveat about SDK client filtering (#52681) (#52689)
  docs/embedding/sdk/authentication.md
Due: none

Auto-rewrite SCIM endpoints (#52633)
  enterprise/backend/src/metabase_enterprise/scim/api.clj
  enterprise/backend/src/metabase_enterprise/scim/v2/api.clj
  src/metabase/api/macros.clj
Due: back-end

Drop semantic type
  src/metabase/api/database.clj
Due: back-end

Restore more efficient row total values in downloads row limits test
  test/metabase/api/downloads_exports_test.clj
Due: none

Drop table name
  src/metabase/api/database.clj
Due: back-end

drop codenotify
  .github/workflows/codenotify.yml
  frontend/src/metabase/lib/CODENOTIFY
  frontend/src/metabase/ui/CODENOTIFY
  frontend/src/metabase/visualizations/CODENOTIFY
  src/metabase/channel/email/CODENOTIFY
Due: back-end, front-end

`defendpoint` 2.1: 3x performance boost (#52647)
  .clj-kondo/src/hooks/metabase/api/macros.clj
  .clj-kondo/test/hooks/metabase/api/macros_test.clj
  src/metabase/api/common.clj
  src/metabase/api/geojson.clj
  src/metabase/api/macros.clj
  src/metabase/server/handler.clj
  test/metabase/api/macros_test.clj
  test/metabase/test/data/users.clj
Due: back-end

Remove unused stuff
  src/metabase/api/common/internal.clj
  src/metabase/api/macros.clj
  test/metabase/api/common/internal_test.clj
  test/metabase/api/macros_test.clj
Due: back-end

Auto-rewrite even more defendpoints (#52641)
  enterprise/backend/src/metabase_enterprise/advanced_config/api/logs.clj
  enterprise/backend/src/metabase_enterprise/advanced_permissions/api/application.clj
  enterprise/backend/src/metabase_enterprise/advanced_permissions/api/impersonation.clj
  enterprise/backend/src/metabase_enterprise/audit_app/api/user.clj
  enterprise/backend/src/metabase_enterprise/billing/billing.clj
  enterprise/backend/src/metabase_enterprise/content_verification/api/moderation_review.clj
  enterprise/backend/src/metabase_enterprise/llm/api.clj
  enterprise/backend/src/metabase_enterprise/query_reference_validation/api.clj
  enterprise/backend/src/metabase_enterprise/stale/api.clj
  enterprise/backend/src/metabase_enterprise/upload_management/api.clj
  enterprise/backend/test/metabase_enterprise/stale/api_test.clj
  src/metabase/api/login_history.clj
  src/metabase/api/premium_features.clj
  src/metabase/api/tiles.clj
  src/metabase/sync/api/notify.clj
Due: back-end

Update src/metabase/api/table.clj
  src/metabase/api/table.clj
Due: back-end

add file
  test.testing
Due: none

Remove defendpoint-async
  .clj-kondo/config.edn
  .dir-locals.el
  src/metabase/api/common.clj
  src/metabase/api/tiles.clj
Due: back-end

more perms
  .github/workflows/external-pr-label.yml
Due: none

try this
  .github/workflows/external-pr-label.yml
Due: none

Add default_time_dimension_field_id and adhoc context handling (#52683)
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
Due: back-end

Improve docstring for env var
  src/metabase/public_settings.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
