Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

edits
  docs/embedding/question.md
Due: none

Update generated docs (master)
  docs/api.json
  docs/configuring-metabase/config-template.md
  docs/configuring-metabase/environment-variables.md
Due: none

edit
  docs/embedding/question.md
Due: none

Add backport resolution script
  backport.sh
Due: none

GHY-4191: a `clear` list so write tools can unset a property
  src/metabase/mcp/v2/common.clj
  src/metabase/mcp/v2/tools/collection.clj
  src/metabase/mcp/v2/tools/dashboard.clj
  src/metabase/mcp/v2/tools/definitions.clj
  src/metabase/mcp/v2/tools/metric.clj
  src/metabase/mcp/v2/tools/question.clj
  test/metabase/mcp/v2/common_test.clj
  test/metabase/mcp/v2/tools/dashboard_test.clj
Due: back-end

Skip fields when browsing tables of a schema-less database (#79101)
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.tsx
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.unit.spec.tsx
Due: front-end

Avoid relying on max(id) in partition migration.
  resources/migrations/064/20260723_query_execution_partitioned.yaml
Due: none

🤖 backported "Skip fields when browsing tables of a schema-less database" (#79106)
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.tsx
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.unit.spec.tsx
Due: front-end

code clean up
  e2e/test/scenarios/collections/collections.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/clean_up/CleanupCollectionModal/CleanupCollectionTable.tsx
  frontend/src/metabase/common/components/ItemsTable/BaseItemsTable.styled.tsx
  frontend/src/metabase/common/components/ItemsTable/BaseItemsTable/BaseItemsTable.tsx
  frontend/src/metabase/common/components/ItemsTable/Columns.tsx
  frontend/src/metabase/common/components/dnd/CollectionDropTarget.tsx
  frontend/src/metabase/common/components/dnd/ItemDragSource.tsx
  frontend/src/metabase/common/components/dnd/ItemsDragLayer.tsx
  frontend/src/metabase/common/components/dnd/PinDropTarget.tsx
  frontend/src/metabase/common/components/dnd/PinnedItemSortDropTarget.tsx
Due: front-end

Bring along dimension unit
  src/metabase/lib_metric/dimension.cljc
  src/metabase/metrics/core.clj
  test/metabase/lib_metric/dimension_test.cljc
  test/metabase/metrics/api_dimension_test.clj
Due: back-end

🤖 backported "Make the permission check a hash lookup instead of a scan of every granted path" (#79097)
  src/metabase/permissions/models/permissions.clj
  src/metabase/permissions/user.clj
  test/metabase/permissions/models/permissions_test.clj
Due: back-end

Fix metric-dimensions dependency test vs metric dimension auto-sync
  enterprise/backend/test/metabase_enterprise/dependencies/events_test.clj
Due: back-end

🤖 backported "Skip fields when browsing tables of a schema-less database" (#79108)
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.tsx
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.unit.spec.tsx
Due: front-end

add back comments, update change log
  docs/developers-guide/driver-changelog.md
  src/metabase/driver/sql/query_processor.clj
Due: back-end

Track Dimensions tab views and dimension add/remove/reorder/edit events for metrics (#78721)
  .claude/skills/analytics-events/SKILL.md
  e2e/test/scenarios/metrics/metrics-dimensions.cy.spec.ts
  frontend/src/metabase/metrics/analytics.ts
  frontend/src/metabase/metrics/components/MetricDimensions/AddDimensionsPanel.tsx
  frontend/src/metabase/metrics/components/MetricDimensions/DimensionSettingsPanel.tsx
  frontend/src/metabase/metrics/components/MetricDimensions/MetricDimensions.tsx
Due: front-end

🤖 backported "Make the permission check a hash lookup instead of a scan of every granted path" (#79096)
  src/metabase/permissions/models/permissions.clj
  src/metabase/permissions/user.clj
  test/metabase/permissions/models/permissions_test.clj
Due: back-end

Make the main app a worktree row and let the database enforce containment
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/remote_sync/api.clj
  enterprise/backend/src/metabase_enterprise/remote_sync/core.clj
  enterprise/backend/src/metabase_enterprise/remote_sync/impl.clj
  enterprise/backend/src/metabase_enterprise/remote_sync/models/remote_sync_object.clj
  enterprise/backend/src/metabase_enterprise/remote_sync/models/remote_sync_task.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/worktree_test.clj
  resources/migrations/064/20260730_drop_entity_id_uniques.yaml
  resources/migrations/064/20260730_remote_sync_worktree.yaml
  src/metabase/actions/models.clj
  src/metabase/cmd/copy.clj
  src/metabase/collections/models/collection.clj
  src/metabase/dashboards/models/dashboard.clj
  src/metabase/dashboards/models/dashboard_card.clj
  src/metabase/dashboards/models/dashboard_card_series.clj
  src/metabase/dashboards/models/dashboard_tab.clj
  src/metabase/documents/models/document.clj
  src/metabase/models/serialization.clj
  src/metabase/native_query_snippets/models/native_query_snippet.clj
  src/metabase/queries/models/card.clj
  src/metabase/queries/models/parameter_card.clj
  src/metabase/remote_sync/core.clj
  src/metabase/remote_sync/worktree.clj
  src/metabase/timeline/models/timeline.clj
  src/metabase/transforms/models/transform.clj
  src/metabase/transforms/models/transform_transform_tag.clj
  src/metabase/transforms_rest/api/transform.clj
Due: back-end

Add use-native-pivot-tables setting and test parity by default
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/sandboxing_test.clj
  src/metabase/query_processor/pivot.clj
  src/metabase/query_processor/settings.clj
  test/metabase/api/downloads_exports_test.clj
  test/metabase/dashboards_rest/api_test.clj
  test/metabase/driver/postgres_test.clj
  test/metabase/public_sharing_rest/api_test.clj
  test/metabase/queries_rest/api/card_test.clj
  test/metabase/query_processor/api_test.clj
  test/metabase/query_processor/middleware/permissions_test.clj
  test/metabase/query_processor/pivot/test_util.clj
  test/metabase/query_processor/pivot_test.clj
Due: back-end

Add BigQuery support
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  src/metabase/driver/sql_mbql5/pivot.clj
  test/metabase/driver/sql_mbql5/pivot_test.clj
Due: back-end

Skip parity check in pivot test with low limit
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/sandboxing_test.clj
Due: back-end

Opt out BigQuery
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
Due: none

Fix SQLServer, Clickhouse, Oracle and Vertica
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
  src/metabase/driver/sql_mbql5/pivot.clj
  test/metabase/driver/sql_mbql5/pivot_test.clj
  test/metabase/query_processor/middleware/permissions_test.clj
  test/metabase/query_processor/pivot_test.clj
  test/metabase/query_processor/remapping_test.clj
Due: back-end

Log cache status on mismatch
  src/metabase/query_processor/pivot.clj
Due: back-end

Enable native pivot for native pivot candidates
  modules/drivers/athena/src/metabase/driver/athena.clj
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  modules/drivers/clickhouse/src/metabase/driver/clickhouse.clj
  modules/drivers/druid-jdbc/src/metabase/driver/druid_jdbc.clj
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/presto-jdbc/src/metabase/driver/presto_jdbc.clj
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/starburst/src/metabase/driver/starburst.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
Due: none

Fix SQL Server grouping and relax parity matching
  docs/developers-guide/driver-changelog.md
  src/metabase/driver/sql_mbql5/pivot.clj
  src/metabase/query_processor/pivot.clj
  test/metabase/driver/sql_mbql5/pivot_test.clj
  test/metabase/query_processor/card_test.clj
Due: back-end

Run parity checks by default in tests
  src/metabase/query_processor/pivot.clj
Due: back-end

move comments
  src/metabase/driver/sql.clj
Due: back-end

Update generated docs (release-x.63.x)
  docs/configuring-metabase/config-template.md
  docs/configuring-metabase/environment-variables.md
Due: none

Enable GLM-5.2 and Deepseek V4 Pro via OpenRouter (#78253)
  src/metabase/metabot/self/openrouter.clj
Due: back-end

Enable Mistral Medium 3.5 via OpenRouter
  src/metabase/metabot/self/openrouter.clj
Due: back-end

🤖 backported "Enable GLM-5.2 and Deepseek V4 Pro via OpenRouter" (#79112)
  src/metabase/metabot/self/openrouter.clj
Due: back-end

a nothing commit to retrigger workflows
  enterprise/backend/src/metabase_enterprise/transforms_verification/api.clj
Due: back-end

add batch query metadata support
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationDetailPage/ConversationDetailPage.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationDetailPage/ConversationDetailPage.unit.spec.tsx
  frontend/src/metabase/api/dataset.ts
  src/metabase/query_processor/api.clj
  test/metabase/query_processor/api_test.clj
Due: back-end, front-end
