Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Use the same style as the interactive question one
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.tsx
Due: front-end

Add a basic test
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
Due: front-end

Remove another unused code
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/ResultToolbar/ResultToolbar.tsx
Due: front-end

Fix alerts button not working in custom layouts
  enterprise/frontend/src/embedding-sdk-package/components/public/InteractiveQuestion/InteractiveQuestion.tsx
  enterprise/frontend/src/embedding-sdk-package/components/public/StaticQuestion/StaticQuestion.tsx
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.tsx
Due: front-end

Make assertion on static question tests better
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
Due: front-end

fix visibility logic
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/util/SdkActionIcon/SdkActionIcon.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/hooks/private/use-hide-empty-element.ts
Due: front-end

Add unit tests
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
Due: front-end

Improve assertions
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
Due: front-end

Fix E2E tests
  e2e/test-component/scenarios/embedding-sdk/data-picker.cy.spec.tsx
Due: none

Add interactive question e2e tests
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

Add e2e test for static question
  e2e/support/helpers/embedding-sdk-component-testing/component-embedding-sdk-question-helpers.tsx
  e2e/test-component/scenarios/embedding-sdk/static-question.cy.spec.tsx
Due: none

clarify comment
  frontend/src/embedding-sdk-bundle/hooks/private/use-hide-empty-element.ts
Due: front-end

Add interactive question unit tests
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
Due: front-end

Fix subcomponent
  frontend/src/embedding-sdk-bundle/components/public/SdkQuestion/SdkQuestion.tsx
Due: front-end

test
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

test fixing and no longer track gloal deps
  enterprise/backend/src/metabase_enterprise/transforms/models/transform.clj
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/src/metabase_enterprise/workspaces/impl.clj
  enterprise/backend/test/metabase_enterprise/transforms/models_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/execute_test.clj
Due: back-end

fix: use :dbms_version (underscore) to match database model
  src/metabase/driver/mysql.clj
Due: back-end

DRY graph operations
  enterprise/backend/src/metabase_enterprise/workspaces/dag.clj
  enterprise/backend/src/metabase_enterprise/workspaces/impl.clj
  enterprise/backend/src/metabase_enterprise/workspaces/models/workspace_transform.clj
  enterprise/backend/test/metabase_enterprise/workspaces/dag_test.clj
Due: back-end

test
  e2e/support/helpers/e2e-native-editor-helpers.ts
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

fix: mysql? should return true when flavor is unknown
  src/metabase/driver/mysql.clj
Due: back-end

fix flaky assertion
  e2e/test/scenarios/embedding/sdk-iframe-embedding/sdk-iframe-embedding.cy.spec.ts
Due: none

fix: check MySQL flavor via connection when :dbms_version unavailable
  src/metabase/driver/mysql.clj
Due: back-end

don't do the weird check
  src/metabase/driver/mysql.clj
Due: back-end

fixup
  bin/generate-cljs-dts.js
Due: none

Add unit tests
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
  frontend/test/__support__/server-mocks/notification.ts
Due: front-end

Hide channel options on alerts modal
  frontend/src/metabase/notifications/modals/CreateOrEditQuestionAlertModal/CreateOrEditQuestionAlertModal.tsx
Due: front-end

Make the test name clearer
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
Due: front-end

simplify contexts
  enterprise/frontend/src/metabase-enterprise/metabot/context.tsx
  frontend/src/metabase/metabot/context.ts
Due: front-end

Fix loki diff
  .loki/reference/chrome_laptop_viz_Scalar_With_Formatting_And_Hover.png
Due: none

Block form submission while workspace problems are being loaded
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/MergeWorkspaceModal.tsx
Due: front-end

Error handling in QualityChecksSection
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/MergeWorkspaceModal/components/QualityChecksSection.tsx
Due: front-end

Hide other channels than email on the alert modal (#68184)
  frontend/src/embedding-sdk-bundle/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/StaticQuestion/StaticQuestion.unit.spec.tsx
  frontend/src/metabase/notifications/modals/CreateOrEditQuestionAlertModal/CreateOrEditQuestionAlertModal.tsx
  frontend/test/__support__/server-mocks/notification.ts
Due: front-end

adjust function name
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/TablePickerTreeTable.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TablePicker/components/TablePickerTreeTable.unit.spec.tsx
Due: front-end

Remove redundant isLoading usage
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/pages/WorkspaceListPage/WorkspaceListPage.tsx
Due: front-end

Fix can't view created notifications
  frontend/src/metabase/notifications/modals/QuestionAlertListModal/QuestionAlertListModal.tsx
Due: front-end

Fix broken loki test (#68334)
  .loki/reference/chrome_laptop_viz_Scalar_With_Formatting_And_Hover.png
Due: none

remove commented out gitignore line
  .gitignore
Due: none

explain the use of METABASE_AUTOMATION_USER_TOKEN
  .github/workflows/openapi-check.yml
Due: none
