Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 40%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend
      - frontend
    carryforward: true

Get eslint back to lint staged
  package.json
Due: none

Minor style tweak
  frontend/src/metabase/query_builder/actions/core/updateQuestion.js
Due: front-end

prioritize date picker over list category picker (#24033)
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterItem/utils.ts
Due: front-end

Fixing dashboard info sidebar height
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar.styled.tsx
Due: front-end

Hide automatic datetime fields from writeback form (#24050)
  frontend/src/metabase/writeback/utils.ts
Due: front-end

Hide data app ID filters when viewing an app page (#24051)
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.jsx
Due: front-end

standardize input border radii to 8px (#23840)
  frontend/src/metabase/core/components/Input/Input.styled.tsx
  frontend/src/metabase/core/components/SelectButton/SelectButton.styled.tsx
  frontend/src/metabase/core/components/TimeInput/CompactTimeInput.styled.tsx
  frontend/src/metabase/css/components/form.css
  frontend/src/metabase/css/core/inputs.css
Due: front-end

Fix unit tests
  frontend/src/metabase/query_builder/actions/core/updateQuestion.unit.spec.ts
Due: front-end

Migrate NativeQueryBuilder and ExpressionEditor to JS colors (#23996)
  frontend/src/metabase/css/core/colors.css
  frontend/src/metabase/lib/colors/palette.ts
  frontend/src/metabase/query_builder/components/NativeQueryEditor.css
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
  frontend/src/metabase/query_builder/components/NativeQueryEditor.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield.styled.jsx
  frontend/src/metabase/query_builder/components/expressions/expressions.css
Due: front-end

Fix app bar height changes on mobile view when opening navbar (#24052)
  frontend/src/metabase/nav/components/AppBar/AppBarSmall.styled.tsx
  frontend/src/metabase/nav/constants.ts
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.styled.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
Due: front-end

Run prettier
  frontend/src/metabase/query_builder/actions/core/metadata.ts
Due: front-end

note on GitHub font files (#24003)
  docs/enterprise-guide/fonts.md
Due: none

Update snowflake.clj
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
Due: none

Extract setServerProcess function
  frontend/test/__runner__/backend.js
Due: front-end

Migrate accent 7
  frontend/src/metabase/query_builder/components/filters/pickers/SelectPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/SelectPicker.styled.tsx
Due: front-end

Support uploading keystore and truststore for presto
  .github/scripts/run-presto-kerberos-integration-test.sh
  modules/drivers/presto-jdbc/resources/metabase-plugin.yaml
  modules/drivers/presto-jdbc/src/metabase/driver/presto_jdbc.clj
  modules/drivers/presto-jdbc/test/metabase/driver/presto_jdbc_test.clj
  modules/drivers/presto-jdbc/test/metabase/test/data/presto_jdbc.clj
  src/metabase/models/secret.clj
Due: back-end

Fixing dashboard info sidebar height (#24056)
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar.styled.tsx
Due: front-end

Update env variables
  bin/docker/Dockerfile
Due: none

Update copy
  frontend/src/metabase/dashboard/components/RemoveFromDashboardModal.jsx
Due: front-end

Closing all Dashboard sidebars when entering/exiting edit mode
  frontend/src/metabase/dashboard/reducers.js
Due: front-end

use renderWithProviders
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterItem/BulkFilterItem.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterList/BulkFilterList.styled.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineCategoryPicker/InlineCategoryPicker.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.unit.spec.tsx
Due: front-end

PR Feedback
  src/metabase/actions.clj
  src/metabase/driver/sql_jdbc/actions.clj
  test/metabase/api/action_test.clj
Due: back-end

Upgrade List viz UI (#24011)
  frontend/src/metabase/visualizations/components/List/List.styled.tsx
  frontend/src/metabase/visualizations/components/List/List.tsx
  frontend/src/metabase/visualizations/components/List/ListCell.styled.tsx
  frontend/src/metabase/visualizations/components/List/ListCell.tsx
  frontend/src/metabase/visualizations/components/List/types.ts
  frontend/src/metabase/visualizations/components/TableSimple/TableFooter.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsListColumns/ChartSettingsListColumns.tsx
  frontend/src/metabase/visualizations/visualizations/List.tsx
Due: front-end

Export only resources actually used elsewhere
  frontend/test/__runner__/backend.js
  frontend/test/__runner__/run_cypress_tests.js
Due: front-end

Remove unused and non-existent ENV
  frontend/test/__runner__/backend.js
Due: front-end

Obtain version for Cypress runner synchronously
  frontend/test/__runner__/cypress-runner-get-version.js
  frontend/test/__runner__/cypress-runner-utils.js
Due: front-end

Allow operator changes on category fields (#24032)
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopoverHeader.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterItem/BulkFilterItem.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterItem/BulkFilterItem.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterList/BulkFilterList.styled.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterList/BulkFilterList.tsx
  frontend/src/metabase/query_builder/components/filters/modals/BulkFilterSelect/BulkFilterSelect.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineCategoryPicker/InlineCategoryPicker.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineCategoryPicker/InlineCategoryPicker.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.styled.ts
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.tsx
  frontend/src/metabase/query_builder/components/filters/modals/InlineValuePicker/InlineValuePicker.unit.spec.tsx
  frontend/test/__support__/e2e/helpers/e2e-bi-basics-helpers.js
  frontend/test/metabase/scenarios/filters/filter-bulk.cy.spec.js
Due: front-end

lint2
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  src/metabase/models/serialization/base.clj
Due: back-end

Migrate accent 7
  frontend/src/metabase/query_builder/components/filters/pickers/LegacyDatePicker/SpecificDatePicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/LegacyDatePicker/SpecificDatePicker.styled.tsx
Due: front-end

Migrate accent 7
  frontend/src/metabase/query_builder/components/filters/pickers/LegacyDatePicker/HoursMinutesInput.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/LegacyDatePicker/HoursMinutesInput.styled.tsx
Due: front-end

BE date formatting
  shared/src/metabase/shared/parameters/parameters.cljc
  shared/test/metabase/shared/parameters/parameters_test.cljc
Due: back-end

Migrate accent 7
  frontend/src/metabase/admin/people/components/GroupSelect.jsx
  frontend/src/metabase/core/components/AccordionList/AccordionList.jsx
  frontend/src/metabase/core/components/AccordionList/AccordionListCell.jsx
  frontend/src/metabase/core/components/Select/Select.jsx
  frontend/src/metabase/lib/groups.js
Due: front-end

Migrate accent 7
  frontend/src/metabase/lib/query/description.js
  frontend/src/metabase/lib/query/description.styled.tsx
Due: front-end

Remove the default callback implementation
  frontend/test/__runner__/backend.js
Due: front-end

Migrate accent 7
  frontend/src/metabase/admin/people/components/GroupSummary.jsx
  frontend/src/metabase/admin/people/components/GroupSummary.styled.tsx
Due: front-end

Migrate accent 7
  frontend/src/metabase/query_builder/components/filters/pickers/DatePicker/HoursMinutesInput.styled.tsx
  frontend/src/metabase/query_builder/components/filters/pickers/DatePicker/HoursMinutesInput.tsx
Due: front-end
