Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

remove let
  test/metabase/driver/sql_jdbc/sync/describe_database_test.clj
Due: none

separate connection for each test
  test/metabase/driver/sql_jdbc/sync/describe_database_test.clj
Due: none

🤖 backported "fix timeline events merging logic" (#61288)
  frontend/src/metabase/visualizations/echarts/cartesian/timeline-events/model.ts
  frontend/src/metabase/visualizations/echarts/cartesian/timeline-events/model.unit.spec.ts
Due: front-end

drop any
  frontend/src/metabase/visualizations/visualizations/Heading/Heading.tsx
Due: front-end

Fix unit tests
  enterprise/frontend/src/metabase-enterprise/content_translation/components/ContentTranslationConfiguration/tests/common.unit.spec.tsx
Due: front-end

Transforms page
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionActions/QuestionMoreActionsMenu/QuestionMoreActionsMenu.tsx
Due: front-end

Add tsplude to metabot team (#61286)
  .github/team.json
Due: none

rework
  enterprise/backend/src/metabase_enterprise/semantic_search/core.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/index_test.clj
Due: back-end

suppress kondo
  enterprise/backend/test/metabase_enterprise/semantic_search/index_test.clj
Due: back-end

Better batching for semantic search (#61299)
  enterprise/backend/src/metabase_enterprise/semantic_search/core.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/index_test.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/test_util.clj
Due: back-end

Fix e2e test
  e2e/test/scenarios/admin/i18n/content-translation/helpers/e2e-content-translation-helpers.ts
Due: none

Fix Kondo warnings
  .clj-kondo/config/modules/config.edn
  src/metabase/lib/metadata.cljc
  src/metabase/lib/metadata/protocols.cljc
  src/metabase/lib/schema/id.cljc
  src/metabase/lib/schema/metadata.cljc
  src/metabase/query_processor/parameters.clj
  src/metabase/query_processor/parameters/operators.clj
  src/metabase/query_processor/parameters/parse.clj
  test/metabase/lib/test_util/metadata_providers/mock.cljc
  test/metabase/query_processor/parameters/parse_test.clj
  test/metabase/query_processor/parameters/temporal_units_test.clj
  test/metabase/query_processor/parameters/values_test.clj
Due: back-end

Move tests that have nothing to do with drivers to QP
  test/metabase/driver/common/parameters/temporal_units_test.clj
  test/metabase/query_processor/parameters/temporal_units_test.clj
Due: none

remove specs that depended on checkDimensionCompatibilityForCartesianCharts
  frontend/src/metabase/visualizer/components/DataImporter/DatasetsList/getIsCompatible.unit.spec.ts
Due: front-end

PR feedback
  src/metabase/queries/models/card.clj
Due: back-end

Test fixes :wrench:
  src/metabase/driver/common/parameters/operators.clj
  src/metabase/lib/schema/parameter.cljc
  test/metabase/lib/schema/order_by_test.cljc
  test/metabase/lib/schema/parameter_test.cljc
  test/metabase/query_processor/parameters/parse_test.clj
Due: back-end

Move Content Translation settings and tweak copy (#61039)
  e2e/test/scenarios/admin/i18n/content-translation/helpers/e2e-content-translation-helpers.ts
  e2e/test/scenarios/admin/i18n/content-translation/upload-and-download.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/content_translation/components/ContentTranslationConfiguration/ContentTranslationConfiguration.tsx
  enterprise/frontend/src/metabase-enterprise/content_translation/components/ContentTranslationConfiguration/tests/common.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/StaticEmbeddingSettings.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/LocalizationSettingsPage.tsx
Due: front-end

Fix Kondo warnings
  enterprise/backend/test/metabase_enterprise/sandbox/api/table_test.clj
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/row_level_restrictions_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/load_test.clj
  modules/drivers/bigquery-cloud-sdk/test/metabase/driver/bigquery_cloud_sdk/query_processor_test.clj
  src/metabase/legacy_mbql/normalize.cljc
  src/metabase/legacy_mbql/util.cljc
  src/metabase/lib/convert.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/metadata.cljc
  src/metabase/lib/metric.cljc
  src/metabase/lib/schema/info.cljc
  src/metabase/lib/schema/util.cljc
  src/metabase/queries/models/card/metadata.clj
  src/metabase/query_processor/api.clj
  src/metabase/query_processor/card.clj
  src/metabase/query_processor/util.clj
  src/metabase/query_processor/util/transformations/nest_breakouts.clj
  src/metabase/xrays/related.clj
  test/metabase/channel/render/card_test.clj
  test/metabase/dashboards/api_test.clj
  test/metabase/driver/postgres_test.clj
  test/metabase/lib/aggregation_test.cljc
  test/metabase/lib/remove_replace_test.cljc
  test/metabase/lib/schema/util_test.cljc
  test/metabase/lib/schema_test.cljc
  test/metabase/lib/test_util.cljc
  test/metabase/lib/test_util/matrix.cljc
  test/metabase/lib/test_util/metadata_providers/mock.cljc
  test/metabase/query_processor/metadata_test.clj
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/auto_bucket_datetimes_test.clj
  test/metabase/query_processor/middleware/cache_test.clj
  test/metabase/query_processor/middleware/constraints_test.clj
  test/metabase/query_processor/middleware/results_metadata_test.clj
  test/metabase/query_processor/persistence_test.clj
  test/metabase/query_processor/streaming_test.clj
  test/metabase/query_processor/test_util.clj
  test/metabase/test/data.clj
  test/metabase/test/data/mbql_query_impl.cljc
  test/metabase/xrays/automagic_dashboards/core_test.clj
Due: back-end

cljfmt
  src/metabase/lib/schema/info.cljc
  src/metabase/queries/models/card/metadata.clj
  test/metabase/channel/render/card_test.clj
  test/metabase/query_processor/streaming_test.clj
Due: back-end

Another pass at fixing Kondo warnings
  src/metabase/lib/js.cljs
  src/metabase/lib/options.cljc
  src/metabase/queries/models/card/metadata.clj
  src/metabase/query_processor/util/transformations/nest_breakouts.clj
  test/metabase/lib/aggregation_test.cljc
  test/metabase/lib/drill_thru/column_filter_test.cljc
  test/metabase/lib/expression_test.cljc
  test/metabase/lib/js_test.cljs
  test/metabase/lib/remove_replace_test.cljc
  test/metabase/query_processor/metadata_test.clj
  test/metabase/query_processor/middleware/auto_bucket_datetimes_test.clj
  test/metabase/query_processor/middleware/results_metadata_test.clj
  test/metabase/query_processor/persistence_test.clj
  test/metabase/query_processor/test_util.clj
  test/metabase/test/data.clj
Due: back-end

Prefix the embedding index with the *index-table-name*
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  enterprise/backend/test/metabase_enterprise/semantic_search/index_test.clj
Due: back-end

Add CLAUDE.md and copilot-instructions.md
  .github/copilot-instructions.md
  frontend/CLAUDE.md
Due: none

Re order migration id
  resources/migrations/001_update_migrations.yaml
Due: none

Bump hiccup/hiccup from 1.0.5 to 2.0.0 (#59908)
  deps.edn
Due: none

hashp without stdout redirect
  deps.edn
Due: none

welcome everyone
  .github/team.json
Due: none

Reversion the migration to fix v_alerts from 56 to 55 (#61161) (#61257)
  resources/migrations/001_update_migrations.yaml
  resources/migrations/instance_analytics_views/alerts/v4/h2-alerts.sql
  resources/migrations/instance_analytics_views/alerts/v4/mysql-alerts.sql
  resources/migrations/instance_analytics_views/alerts/v4/postgres-alerts.sql
Due: none

hashp without stdout redirect (#61315)
  deps.edn
Due: none

port the condition expression to master (#61045)
  src/metabase/notification/condition.clj
  test/metabase/notification/condition_test.clj
Due: back-end

Remove fetchRealDatabasesWithMetadata
  frontend/src/metabase/redux/metadata.js
Due: front-end

Remove fetchTables
  frontend/src/metabase/redux/metadata.js
Due: front-end

chore: remove older version from drivers test
  .github/workflows/drivers.yml
Due: none

feat: Add dedicated test for older driver versions
  .github/workflows/drivers_test_older_versions.yml
Due: none

hashp without stdout redirect (#61315) (#61317)
  deps.edn
Due: none

track emb-642-add-the-defsetting-and-new-iframe-embed-card-in-admin with base master
  branches/emb-642-add-the-defsetting-and-new-iframe-embed-card-in-admin
Due: none

track split-embed-settings with base master
  branches/split-embed-settings
Due: none

Remove useActionListQuery
  frontend/src/metabase/common/hooks/entity-framework/index.ts
  frontend/src/metabase/common/hooks/entity-framework/use-action-list-query/index.ts
  frontend/src/metabase/common/hooks/entity-framework/use-action-list-query/use-action-list-query.ts
  frontend/src/metabase/common/hooks/entity-framework/use-action-list-query/use-action-list-query.unit.spec.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetailView.unit.spec.tsx
Due: front-end
