Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

fix styling
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardCardParameterMapperButton.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardParameterMapper/DashCardParameterMapper.module.css
Due: front-end

fix: add logging during connection health checks (#53781)
  src/metabase/models/database.clj
Due: back-end

kondo
  src/metabase/notification/send.clj
Due: back-end

fix modules
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/gsheets.clj
Due: back-end

add docstring
  enterprise/backend/src/metabase_enterprise/gsheets/constants.clj
Due: back-end

add harbormaster module
  .clj-kondo/config/modules/config.edn
Due: none

🤖 backported "Cast date binning back to date in postgres" (#53697)
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  src/metabase/driver/postgres.clj
  src/metabase/util/honey_sql_2.clj
  test/metabase/driver/postgres_test.clj
Due: back-end

funnel docs
  docs/questions/images/build-a-funnel-query.png
  docs/questions/images/funnel-as-sql.png
  docs/questions/images/funnel-settings.png
  docs/questions/images/read-a-funnel.png
  docs/questions/visualizations/funnel.md
Due: none

::snowplow/account -> :snowplow/account
  src/metabase/login_history/record.clj
Due: back-end

Add backport resolution script
  backport.sh
Due: none

kondo
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/gsheets.clj
  enterprise/backend/src/metabase_enterprise/gsheets/api.clj
  src/metabase/api/auth.clj
  src/metabase/server/middleware/auth.clj
Due: back-end

fix: add logging during connection health checks (#53781) (#53789)
  src/metabase/models/database.clj
Due: back-end

Fix typo and tests
  enterprise/backend/test/metabase_enterprise/advanced_permissions/common_test.clj
  enterprise/backend/test/metabase_enterprise/sandbox/api/dashboard_test.clj
  enterprise/backend/test/metabase_enterprise/sandbox/api/field_test.clj
  modules/drivers/bigquery-cloud-sdk/test/metabase/driver/bigquery_cloud_sdk_test.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/api/public_test.clj
  test/metabase/models/field_values_test.clj
  test/metabase/models/table_test.clj
  test/metabase/sync/field_values_test.clj
Due: back-end

fix the tests
  enterprise/backend/src/metabase_enterprise/gsheets/api.clj
  enterprise/backend/src/metabase_enterprise/gsheets/settings.clj
  enterprise/backend/test/metabase_enterprise/api/gsheets_test.clj
Due: back-end

use the last saved collection if the use saved to a collection more recently than saving to a dashboard
  frontend/src/metabase/components/SaveQuestionForm/context.tsx
  frontend/src/metabase/components/SaveQuestionForm/util.ts
Due: front-end

make changes not affect models/metrics, fix e2e tests
  frontend/src/metabase/components/SaveQuestionForm/util.ts
Due: front-end

cljfmt fix
  src/metabase/api/slack.clj
Due: back-end

module linter
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/advanced_config/file/databases.clj
Due: back-end

fix typo
  enterprise/backend/test/metabase_enterprise/api/gsheets_test.clj
Due: back-end

Fix tests
  enterprise/backend/test/metabase_enterprise/sandbox/api/dashboard_test.clj
  test/metabase/sample_data_test.clj
Due: back-end

Fix tests
  enterprise/backend/test/metabase_enterprise/sandbox/api/dashboard_test.clj
Due: back-end

cljfmt
  enterprise/backend/src/metabase_enterprise/gsheets/api.clj
  enterprise/backend/test/metabase_enterprise/advanced_config/file/databases_test.clj
Due: back-end

Fix cljfmt
  src/metabase/sync/util.clj
  test/metabase/sync/field_values_test.clj
  test/metabase/sync/sync_test.clj
Due: back-end

remove settings access as a requirement to use the bug reporter
  frontend/src/metabase/components/ErrorPages/ErrorDiagnosticModal.tsx
  frontend/src/metabase/components/ErrorPages/ErrorDiagnosticModal.unit.spec.tsx
Due: front-end

setup api-key setting before reading it
  src/metabase/server/middleware/auth.clj
Due: back-end

mark bigint filter test flaky
  e2e/test/scenarios/filters/filter-bigint.cy.spec.ts
Due: none

sort ns
  src/metabase/server/middleware/auth.clj
Due: back-end

Try fixing some e2e tests
  e2e/test/scenarios/dashboard-filters-2/shared/dashboard-filters-query-stages.ts
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
Due: none

Fixing broken description column in static viz tables (#53726)
  src/metabase/channel/render/body.clj
  test/metabase/channel/render/body_test.clj
Due: back-end

Fix trend lines in slack alerts VIZ-272 (#53711)
  src/metabase/notification/payload/execute.clj
  test/metabase/pulse/send_test.clj
Due: back-end

Fixing broken description column in static viz tables (#53726) (#53797)
  src/metabase/channel/render/body.clj
  test/metabase/channel/render/body_test.clj
Due: back-end

[Backend modularization] login-history module (#53723)
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  .clj-kondo/src/hooks/metabase/models/setting.clj
  .github/CODEOWNERS
  dev/src/dev/deps_graph.clj
  src/metabase/api/routes.clj
  src/metabase/channel/email/messages.clj
  src/metabase/core/init.clj
  src/metabase/login_history/api.clj
  src/metabase/login_history/core.clj
  src/metabase/login_history/init.clj
  src/metabase/login_history/models/login_history.clj
  src/metabase/login_history/record.clj
  src/metabase/login_history/settings.clj
  src/metabase/models/resolution.clj
  src/metabase/session/models/session.clj
  test/metabase/login_history/api_test.clj
  test/metabase/login_history/models/login_history_test.clj
  test/metabase/session/models/session_test.clj
Due: back-end

Remove backport.sh
  backport.sh
Due: none

cast sqlserver avg as float
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  test/metabase/query_processor_test/expression_aggregations_test.clj
  test/metabase/query_processor_test/order_by_test.clj
Due: none
