Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

[skip ci] Fix table existence check
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

[skip ci] Require superuser
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

[skip ci] Remove superfluous require
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

close connection during test
  test/metabase/driver/sql_jdbc/sync/describe_database_test.clj
Due: none

Test fixes :wrench:
  src/metabase/lib/expression.cljc
  src/metabase/lib/schema/expression/temporal.cljc
  test/metabase/lib/expression_test.cljc
  test/metabase/test/util/namespace.clj
Due: back-end

feat: report run api start
  enterprise/backend/src/metabase_enterprise/reports/api/run.clj
  enterprise/backend/src/metabase_enterprise/reports/models/report_run.clj
Due: back-end

feat: add report run table and fk on cards
  resources/migrations/056_update_migrations.yaml
Due: none

chore: add test for pivot card query caching
  test/metabase/queries/api/card_test.clj
Due: none

feat: add migration and models for reports
  enterprise/backend/src/metabase_enterprise/reports/models/report.clj
  enterprise/backend/src/metabase_enterprise/reports/models/report_version.clj
  resources/migrations/056_update_migrations.yaml
  src/metabase/models/resolution.clj
Due: back-end

Change column name markdown_docuemnt -> document
  resources/migrations/056_update_migrations.yaml
Due: none

[ci skip] Use crowberto in tests and fix api
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
  enterprise/backend/test/metabase_enterprise/transforms/api_test.clj
Due: back-end

feat: run report api skeleton fixes for migration issues
  enterprise/backend/src/metabase_enterprise/api/routes.clj
  enterprise/backend/src/metabase_enterprise/reports/api.clj
  enterprise/backend/src/metabase_enterprise/reports/api/run.clj
  enterprise/backend/src/metabase_enterprise/reports/models/report_run.clj
  enterprise/backend/test/metabase_enterprise/reports/api/run_test.clj
  resources/migrations/056_update_migrations.yaml
  src/metabase/models/resolution.clj
  test/metabase/test/util.clj
Due: back-end

Test fix :wrench:
  src/metabase/lib/convert.cljc
Due: back-end

collapse sidebar in the reports view
  frontend/src/metabase/redux/app.ts
Due: front-end

fixup! make qp run work
  enterprise/backend/src/metabase_enterprise/reports/api/run.clj
  enterprise/backend/test/metabase_enterprise/reports/api/run_test.clj
  src/metabase/lib/schema/info.cljc
Due: back-end

feat: add migration and models for reports (#61300)
  enterprise/backend/src/metabase_enterprise/api/routes.clj
  enterprise/backend/src/metabase_enterprise/reports/api.clj
  enterprise/backend/src/metabase_enterprise/reports/api/run.clj
  enterprise/backend/src/metabase_enterprise/reports/models/report.clj
  enterprise/backend/src/metabase_enterprise/reports/models/report_run.clj
  enterprise/backend/src/metabase_enterprise/reports/models/report_version.clj
  enterprise/backend/test/metabase_enterprise/reports/api/run_test.clj
  resources/migrations/056_update_migrations.yaml
  src/metabase/lib/schema/info.cljc
  src/metabase/models/resolution.clj
  test/metabase/queries/api/card_test.clj
  test/metabase/test/util.clj
Due: back-end

[skip ci] Sync transform output table on execution
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

Test fix :wrench:
  .github/workflows/cljs.yml
  src/metabase/lib/convert.cljc
Due: back-end

fix: remove namespace test const
  test/metabase/driver/impl_test.clj
  test/metabase/models/resolution_test.clj
  test/metabase/test/util/namespace.clj
Due: none

add custom or default responses to openapi
  src/metabase/api/macros/defendpoint/open_api.clj
  src/metabase/api/open_api.clj
  src/metabase/cmd/endpoint_dox.clj
Due: back-end

test druid ci
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  src/metabase/driver/sql_jdbc/sync/describe_database.clj
  test/metabase/driver/sql_jdbc/sync/describe_database_test.clj
Due: back-end

layout and styling tweaks
  enterprise/frontend/src/metabase-enterprise/reports/components/Editor/Editor.tsx
  enterprise/frontend/src/metabase-enterprise/reports/components/ReportPage.module.css
  enterprise/frontend/src/metabase-enterprise/reports/components/ReportPage.tsx
Due: front-end

vec snowflake db tables
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
Due: none

fixup! names on the migrations
  resources/migrations/056_update_migrations.yaml
Due: none

Extra logging for temp storage
  src/metabase/notification/payload/execute.clj
  src/metabase/notification/payload/temp_storage.clj
Due: back-end

add regenerated docs/api.html w/ response schemas
  docs/api.html
Due: none

retry
  src/metabase/driver/sql_jdbc/sync/describe_database.clj
Due: back-end

Bump com.amazonaws/aws-java-sdk-core from 1.12.785 to 1.12.788 (#61252)
  modules/drivers/redshift/deps.edn
Due: none

Basic page
  enterprise/frontend/src/metabase-enterprise/plugins.js
  enterprise/frontend/src/metabase-enterprise/transforms/components/TransformEditor/EditorHeader/EditorHeader.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/TransformEditor/EditorHeader/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/TransformEditor/TransformEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/TransformEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewQueryTransformPage/NewQueryTransformPage.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewQueryTransformPage/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/types.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/routes.jsx
  frontend/src/metabase/selectors/app.ts
Due: front-end

text fix
  enterprise/frontend/src/metabase-enterprise/reports/components/ReportPage.tsx
Due: front-end

[skip ci] Sync transform on create an update too
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

Mage Token Git Precommit Scanner (#60729)
  bb.edn
  bin/mage.bb
  docs/developers-guide/security-token-scanner.md
  mage/mage/cli.clj
  mage/mage/format.clj
  mage/mage/token_scan.clj
  mage/resources/token_scanner/token_whitelist.txt
  package.json
  test/mage/core_test.clj
  test/mage/token_scan_test.clj
Due: none

Mage Token Git Precommit Scanner (#60729) (#61156)
  bb.edn
  bin/mage.bb
  docs/developers-guide/security-token-scanner.md
  mage/mage/cli.clj
  mage/mage/format.clj
  mage/mage/token_scan.clj
  mage/resources/token_scanner/token_whitelist.txt
  package.json
  test/mage/core_test.clj
  test/mage/token_scan_test.clj
Due: none

[QP] Respect the time if absolute datetime dashboard filter provides it (#60010)
  e2e/test/scenarios/dashboard-filters/dashboard-filters-date.cy.spec.js
  src/metabase/driver/common/parameters/dates.clj
  test/metabase/driver/common/parameters/dates_test.clj
  test/metabase/query_processor/middleware/parameters/mbql_test.clj
Due: back-end

dev: add the ability to run native ddl as part of dataset definitions
  modules/drivers/bigquery-cloud-sdk/test/metabase/driver/bigquery_cloud_sdk_test.clj
  modules/drivers/bigquery-cloud-sdk/test/metabase/test/data/bigquery_cloud_sdk.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
  test/metabase/actions/test_util.clj
  test/metabase/driver/sql_jdbc/sync/describe_table_test.clj
  test/metabase/query_processor_test/date_bucketing_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/sync/sync_metadata/indexes_test.clj
  test/metabase/sync/sync_metadata/tables_test.clj
  test/metabase/test/data/interface.clj
  test/metabase/test/data/sql.clj
Due: none

likely last fix
  frontend/src/metabase/lib/formatting/date.tsx
  frontend/src/metabase/lib/time-dayjs.unit.spec.ts
Due: front-end
