Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Make it possible to autocomplete `color()` function
  frontend/src/metabase/lib/colors/palette.ts
  frontend/src/metabase/lib/colors/types.ts
Due: front-end

increase factor
  frontend/src/metabase/lib/colors/palette.ts
Due: front-end

adding border to pivot table sort buttons
  frontend/src/metabase/visualizations/components/ChartSettings.jsx
  frontend/src/metabase/visualizations/components/ChartSettingsWidget.styled.tsx
  frontend/src/metabase/visualizations/components/ChartSettingsWidget.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingIconRadio.styled.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable.jsx
Due: front-end

Implement driver/database-supports? for each driver that implements :now
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/presto-common/src/metabase/driver/presto_common.clj
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  modules/drivers/sparksql/src/metabase/driver/hive_like.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
  src/metabase/driver.clj
  src/metabase/driver/h2.clj
  src/metabase/driver/mysql.clj
  src/metabase/driver/sql/query_processor.clj
Due: back-end

Tidy tests
  test/metabase/query_processor_test/date_time_zone_functions_test.clj
Due: none

Serdes v2: Add more human-friendly labels to more models (#26508)
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/load_test.clj
  src/metabase/models/collection.clj
  src/metabase/models/metric.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/segment.clj
  src/metabase/models/serialization/base.clj
  src/metabase/util.clj
  test/metabase/util_test.clj
Due: back-end

return white text color more frequently (#26723)
  frontend/src/metabase/lib/colors/palette.ts
Due: front-end

Add back default sql implementation
  src/metabase/driver/sql/query_processor.clj
Due: back-end

Add sqlite feature flag
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
Due: none

Fix incorrect static viz formatting
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/static-viz/components/XYChart/XYChart.tsx
  frontend/src/metabase/static-viz/lib/numbers.ts
  frontend/src/metabase/static-viz/lib/numbers.unit.spec.js
  frontend/test/metabase/lib/formatting.unit.spec.js
Due: front-end

Fix incorrect static viz formatting (#26737)
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/static-viz/components/XYChart/XYChart.tsx
  frontend/src/metabase/static-viz/lib/numbers.ts
  frontend/src/metabase/static-viz/lib/numbers.unit.spec.js
  frontend/test/metabase/lib/formatting.unit.spec.js
Due: front-end

Fix metabase.api.public-test
  src/metabase/api/public.clj
  src/metabase/models/card.clj
  test/metabase/api/public_test.clj
Due: back-end

Remove unused names from metabase.models.action
  src/metabase/models/action.clj
Due: back-end

Remove some unused imports
  test/metabase/actions/test_util.clj
  test/metabase/api/action_test.clj
Due: none

jeff's feedback
  docs/questions/query-builder/expressions/datetimeadd.md
  docs/questions/query-builder/expressions/datetimediff.md
  docs/questions/query-builder/expressions/datetimesubtract.md
  docs/questions/query-builder/expressions/now.md
Due: none

converttimezone wip
  docs/questions/query-builder/expressions/converttimezone.md
Due: none

Remove an unused import
  src/metabase/models/action.clj
Due: back-end

Serdes v2: Properly export and import `Field.fk_target_field_id` (#26556)
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/load_test.clj
  src/metabase/models/field.clj
Due: back-end

Update models.md
  docs/troubleshooting-guide/models.md
Due: none

Update docs/troubleshooting-guide/models.md
  docs/troubleshooting-guide/models.md
Due: none

Ignore only FE unit test changes in backend workflows
  .github/workflows/backend-skipped-checks.yml
  .github/workflows/backend.yml
  .github/workflows/drivers-skipped-checks.yml
  .github/workflows/drivers.yml
Due: none

Revert "Fix incorrect static viz formatting (#26737)"
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/static-viz/components/XYChart/XYChart.tsx
  frontend/src/metabase/static-viz/lib/numbers.ts
  frontend/src/metabase/static-viz/lib/numbers.unit.spec.js
  frontend/test/metabase/lib/formatting.unit.spec.js
Due: front-end

add details to download data setting on signed embeds
  docs/embedding/signed-embedding-parameters.md
  docs/embedding/signed-embedding.md
Due: none

Revert "Fix weird static viz data point values rounding (#26704)"
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/static-viz/components/XYChart/XYChart.tsx
Due: front-end

links
  docs/embedding/signed-embedding-parameters.md
  docs/embedding/signed-embedding.md
Due: none

links actually
  docs/embedding/signed-embedding-parameters.md
  docs/embedding/signed-embedding.md
Due: none

Revert static viz fixes (#26739)
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/static-viz/lib/numbers.ts
  frontend/src/metabase/static-viz/lib/numbers.unit.spec.js
  frontend/test/metabase/lib/formatting.unit.spec.js
Due: front-end

Add mongo implementation
  modules/drivers/mongo/src/metabase/driver/mongo.clj
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
Due: none

Fix mongo
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
Due: none

Extract `DashCardVisualization` component (#26676)
  frontend/src/metabase/dashboard/components/DashCard/DashCard.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardVisualization.tsx
  frontend/src/metabase/dashboard/components/DashCard/types.ts
Due: front-end

Add model caching (#26711)
  docs/troubleshooting-guide/models.md
Due: none

fix spec
  frontend/test/metabase/scenarios/visualizations/pivot_tables.cy.spec.js
Due: front-end

Updating Eye Icons
  frontend/src/metabase/icon_paths.ts
  frontend/src/metabase/visualizations/components/settings/ColumnItem.jsx
Due: front-end

Make all toggles inline
  frontend/src/metabase/visualizations/lib/settings/series.js
  frontend/src/metabase/visualizations/visualizations/PieChart/PieChart.jsx
  frontend/src/metabase/visualizations/visualizations/SmartScalar.jsx
  frontend/src/metabase/visualizations/visualizations/Table.jsx
  frontend/src/metabase/visualizations/visualizations/Text/Text.jsx
  frontend/src/metabase/visualizations/visualizations/WaterfallChart.jsx
Due: front-end

sort order copy fix (#26722)
  frontend/src/metabase/visualizations/visualizations/PivotTable.jsx
  frontend/test/metabase/scenarios/visualizations/pivot_tables.cy.spec.js
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
