Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

connection-tests are slightly more clear, also formatting
  test/metabase/driver/connection_test.clj
  test/metabase/driver/sql_jdbc/connection_test.clj
Due: none

Revert to class component
  frontend/src/metabase/common/components/ExpandingContent/ExpandingContent.tsx
Due: front-end

fix: cancelling remote sync tasks dismisses modal (#67613)
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/SyncProgressModal.tsx
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/SyncProgressModal.unit.spec.tsx
  frontend/test/__support__/server-mocks/remote-sync.ts
Due: front-end

Add backport resolution script
  backport.sh
Due: none

GDGT-1786 wip
  frontend/src/metabase-lib/transforms-inspector.ts
  frontend/src/metabase-types/api/transform.ts
  frontend/src/metabase/data-studio/common/components/PaneHeader/PaneHeader.tsx
  frontend/src/metabase/data-studio/common/components/PaneHeader/types.ts
  frontend/src/metabase/lib/urls/transforms.ts
  frontend/src/metabase/transforms/components/TransformHeader/TransformTabs.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/TransformInspectPage.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/CardDrills.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/InspectorContent.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensContent/LensContent.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensContent/LensContentContext.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensNavigator/LensNavigator.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensNavigator/types.ts
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensNavigator/useLensNavigation.ts
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensNavigator/utils.ts
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensSections/JoinAnalysisSections/JoinAnalysisSection.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensSections/JoinAnalysisSections/components/DrillLensesCell.tsx
  frontend/src/metabase/transforms/pages/TransformInspectPage/hooks/useLensCardLoader.ts
  frontend/src/metabase/transforms/pages/TransformInspectPage/types.ts
  frontend/src/metabase/transforms/pages/TransformInspectPage/utils.ts
  frontend/src/metabase/transforms/routes.tsx
Due: front-end

master
  e2e/support/helpers/e2e-request-helpers.ts
  e2e/support/helpers/e2e-transform-helpers.ts
  e2e/test/scenarios/data-studio/transforms/transforms.cy.spec.ts
  e2e/test/scenarios/data-studio/transforms/writable-connection.cy.spec.ts
  src/metabase/transforms/api/transform.clj
Due: back-end

Add support for custom toggleTemplateTagEditor
  frontend/src/metabase/query_builder/components/NativeQueryEditor/NativeQueryEditor.tsx
  frontend/src/metabase/query_builder/components/NativeQueryEditor/NativeQueryEditorActionButtons/NativeQueryEditorActionButtons.tsx
  frontend/src/metabase/query_builder/components/NativeQueryEditor/NativeQueryEditorTopBar/NativeQueryEditorTopBar.tsx
  frontend/src/metabase/query_builder/components/view/NativeVariablesButton/NativeVariablesButton.tsx
Due: front-end

Allow passing setTemplateTagConfig to TagEditorParam
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorSidebar.tsx
Due: front-end

Allow saving optional template tags or tags with a default value
  frontend/src/metabase/transforms/utils.ts
Due: front-end

Show error message on save
  frontend/src/metabase/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
Due: front-end

Add template-tags tab
  frontend/src/metabase/querying/editor/hooks/use-query-controls/use-query-controls.ts
  frontend/src/metabase/querying/editor/hooks/use-query-editor/use-query-editor.ts
  frontend/src/metabase/querying/editor/types.ts
Due: front-end

Add template tag sidebar
  frontend/src/metabase/querying/editor/components/QueryEditor/NativeQuerySidebar/NativeQuerySidebar.tsx
  frontend/src/metabase/querying/editor/components/QueryEditor/QueryEditor.tsx
  frontend/src/metabase/querying/editor/components/QueryEditor/QueryEditorBody/QueryEditorBody.tsx
  frontend/src/metabase/querying/editor/hooks/use-query-editor/use-query-editor.ts
Due: front-end

Add support for storing parameter values when question changes
  frontend/src/metabase/querying/editor/hooks/use-query-editor/use-query-editor.ts
  frontend/src/metabase/querying/editor/hooks/use-query-question/use-query-question.ts
Due: front-end

Avoid sharing state when navigating
  frontend/src/metabase/transforms/routes.tsx
Due: front-end

Add combination test for template tag types in transforms
  e2e/test/scenarios/data-studio/transforms/template-tags.cy.spec.ts
Due: none

Add definitionTab helper
  e2e/support/helpers/e2e-data-studio-helpers.ts
Due: none

Add new spec for transform template tags
  e2e/test/scenarios/data-studio/transforms/template-tags.cy.spec.ts
  e2e/test/scenarios/data-studio/transforms/transforms.cy.spec.ts
Due: none

Add test for multiple template tags
  e2e/test/scenarios/data-studio/transforms/template-tags.cy.spec.ts
Due: none

fix: prevent null reference error in pivot table when paths are nil
  src/metabase/pivot/core.cljc
Due: back-end

Implement table→table replacement in native SQL queries
  enterprise/backend/src/metabase_enterprise/replacement/source_swap.clj
  enterprise/backend/test/metabase_enterprise/replacement/source_swap_test.clj
Due: back-end

Use mantine Collapse
  frontend/src/metabase/common/components/ExpandingContent/ExpandingContent.tsx
  frontend/src/metabase/common/components/ExpandingContent/index.tsx
  frontend/src/metabase/querying/notebook/components/NotebookStep/NotebookStep.tsx
Due: front-end

GDGT-1786 cleanup
  frontend/src/metabase/transforms/pages/TransformInspectPage/components/LensNavigator/useLensNavigation.ts
Due: front-end

emb-1272-add-jwt-authentication-onboarding-for-embedding-hub: save prepared branch
  prepared/emb-1272-add-jwt-authentication-onboarding-for-embedding-hub
Due: none

emb-1272-add-jwt-authentication-onboarding-for-embedding-hub: clear prepared branch
  prepared/emb-1272-add-jwt-authentication-onboarding-for-embedding-hub
Due: none

branch submit emb-1272-add-jwt-authentication-onboarding-for-embedding-hub
  branches/emb-1272-add-jwt-authentication-onboarding-for-embedding-hub
Due: none

Post stack navigation comments
  branches/emb-1272-add-jwt-authentication-onboarding-for-embedding-hub
Due: none

padding in grid view
  frontend/src/metabase/metrics-viewer/components/MetricsViewerCard/MetricsViewerCard.module.css
  frontend/src/metabase/visualizations/visualizations/CartesianChart/CartesianChart.tsx
Due: front-end

[MBQL lib] Don't export a dynamic var; add `with-card-clean-hook` macro (#69662)
  .clj-kondo/config/modules/config.edn
  src/metabase/lib/core.cljc
  src/metabase/queries/models/card.clj
Due: back-end

Better naming for storing messages in the appdb queue
  resources/migrations/059_update_migrations.yaml
  src/metabase/queue/appdb.clj
  src/metabase/queue/backend.clj
  src/metabase/queue/core.clj
  src/metabase/queue/listener.clj
  src/metabase/queue/memory.clj
  test/metabase/queue/appdb_test.clj
  test/metabase/queue/memory_test.clj
Due: back-end

Add trace id propagation from quatrz to jobs
  src/metabase/task/tracing.clj
  src/metabase/tracing/core.clj
  src/metabase/transforms/jobs.clj
  test/metabase/task/tracing_test.clj
Due: back-end

fix
  e2e/support/helpers/e2e-transform-helpers.ts
  e2e/test/scenarios/data-studio/transforms/writable-connection.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/advanced_permissions/components/WritableConnectionInfoSection/WritableConnectionInfoSection.tsx
  enterprise/frontend/src/metabase-enterprise/advanced_permissions/pages/WritableConnectionInfoPage/WritableConnectionInfoPage.tsx
Due: front-end

fix: add defensive null checks when accessing column descriptors in viz settings
  frontend/src/metabase/visualizations/shared/settings/cartesian-chart.ts
Due: front-end

Bugfix
  src/metabase/secrets/models/secret.clj
Due: back-end

Remove CI trigger
  .github/workflows/run-tests.yml
Due: none

🤖 backported "visualizer trend lines and bug fixes" (#69818)
  e2e/test/scenarios/dashboard/visualizer/cartesian.cy.spec.ts
  e2e/test/scenarios/dashboard/visualizer/drillthrough.cy.spec.ts
  e2e/test/scenarios/visualizations-charts/trendline.cy.spec.js
  frontend/src/metabase/static-viz/index.js
  frontend/src/metabase/visualizations/components/settings/ChartNestedSettingSeriesSingle.unit.spec.tsx
  frontend/src/metabase/visualizations/echarts/cartesian/model/trend-line.ts
  frontend/src/metabase/visualizations/lib/settings/series.js
  frontend/src/metabase/visualizations/shared/settings/series.ts
  frontend/src/metabase/visualizer/selectors.ts
  frontend/src/metabase/visualizer/utils/merge-data.ts
  frontend/src/metabase/visualizer/utils/merge-data.unit.spec.ts
  frontend/src/metabase/visualizer/utils/split-series.ts
  frontend/src/metabase/visualizer/utils/split-series.unit.spec.ts
Due: front-end

Remove unused embedding-sdk-bundle-build.yml
  .github/workflows/embedding-sdk-bundle-build.yml
Due: none

🤖 backported "fix: cancelling remote sync tasks dismisses modal" (#69819)
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/SyncProgressModal.tsx
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/SyncProgressModal.unit.spec.tsx
  frontend/test/__support__/server-mocks/remote-sync.ts
Due: front-end

Fix naming
  .github/actions/sdk-bundle-size-check/action.yml
Due: none

Merge remaining match -> match-many rewrites (#69686)
  .clj-kondo/config.edn
  .cljfmt.edn
  src/metabase/legacy_mbql/util.cljc
  src/metabase/lib/expression.cljc
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/util/match.clj
  src/metabase/query_permissions/impl.clj
  src/metabase/query_processor/middleware/add_implicit_clauses.clj
  src/metabase/query_processor/middleware/add_implicit_joins.clj
  src/metabase/query_processor/middleware/auto_bucket_datetimes.clj
  src/metabase/query_processor/middleware/binning.clj
  src/metabase/query_processor/middleware/expand_macros.clj
  src/metabase/query_processor/middleware/metrics.clj
  src/metabase/query_processor/util/transformations/nest_breakouts.clj
  src/metabase/warehouses_rest/api.clj
  src/metabase/xrays/automagic_dashboards/util.clj
  src/metabase/xrays/domain_entities/core.clj
  src/metabase/xrays/transforms/specs.clj
  test/metabase/lib/util/match_test.cljc
Due: back-end
