Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 40%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend
      - frontend
    carryforward: true

Address review on `body.clj`
  src/metabase/pulse/render/body.clj
Due: back-end

Fix failed BE tests after BE API changed
  test/metabase/pulse/render/body_test.clj
Due: none

Fix certain combo charts don't respect whitelabel colors
  frontend/src/metabase/lib/colors/charts.ts
  frontend/src/metabase/lib/colors/groups.ts
Due: front-end

Address review: refactor `render-multiple-lab-chart`
  src/metabase/pulse/render/body.clj
Due: back-end

Add `getSeriesWithLegends` tests
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.unit.spec.ts
Due: front-end

fix colors matching for multiple series with mulitple metrics or dimensions
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  frontend/src/metabase/static-viz/components/LineAreaBarChart/constants.ts
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.tsx
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.unit.spec.ts
  frontend/src/metabase/static-viz/components/XYChart/types.ts
  resources/frontend_shared/static_viz_interface.js
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/js_svg.clj
  src/metabase/util/ui_logic.clj
Due: back-end, front-end

Fix URL `/_internal/static-viz` not loading due to API change
  frontend/src/metabase/static-viz/components/LineAreaBarChart/constants.ts
Due: front-end

Make Clojure code more idiomatic
  src/metabase/pulse/render/body.clj
Due: back-end

Make static combo chart component type easier to understand
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  frontend/src/metabase/static-viz/components/XYChart/types.ts
Due: front-end

Simplify Clojure code, makes it more idiomatic
  src/metabase/pulse/render/body.clj
Due: back-end

Address review, make parameter name more consistent
  src/metabase/pulse/render/body.clj
Due: back-end

Match static combo chart colors with app viz colors
  frontend/src/metabase/lib/colors/charts.ts
  frontend/src/metabase/lib/colors/groups.ts
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  frontend/src/metabase/static-viz/components/XYChart/types.ts
  src/metabase/pulse/render/body.clj
Due: back-end, front-end

Simplify combo-chart API
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  resources/frontend_shared/static_viz_interface.js
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/js_svg.clj
  test/metabase/pulse/render/js_svg_test.clj
Due: back-end, front-end

Add multiple series dashcard test to `getSeriesWithColors` test
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.unit.spec.ts
Due: front-end

Match colors when individual series color is set
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  frontend/src/metabase/static-viz/components/XYChart/types.ts
  src/metabase/pulse/render/body.clj
Due: back-end, front-end

Make variable names easier to understand
  resources/frontend_shared/static_viz_interface.js
  src/metabase/pulse/render/js_svg.clj
Due: back-end

Remove tests that test colors
  test/metabase/pulse/render/body_test.clj
Due: none

Fix Series type
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.tsx
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.unit.spec.ts
  frontend/src/metabase/static-viz/components/XYChart/types.ts
Due: front-end

Match static combo chart colors and legends with app viz colors (#26211)
  frontend/src/metabase/lib/colors/charts.ts
  frontend/src/metabase/lib/colors/groups.ts
  frontend/src/metabase/static-viz/components/LineAreaBarChart/LineAreaBarChart.tsx
  frontend/src/metabase/static-viz/components/LineAreaBarChart/constants.ts
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.tsx
  frontend/src/metabase/static-viz/components/LineAreaBarChart/utils/series.unit.spec.ts
  frontend/src/metabase/static-viz/components/ProgressBar/ProgressBar.tsx
  frontend/src/metabase/static-viz/components/ProgressBar/utils.ts
  frontend/src/metabase/static-viz/components/XYChart/types.ts
  resources/frontend_shared/static_viz_interface.js
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/js_svg.clj
  src/metabase/util/ui_logic.clj
  test/metabase/pulse/render/body_test.clj
  test/metabase/pulse/render/js_svg_test.clj
Due: back-end, front-end

use the util fn to check args for convert-timezone
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
  src/metabase/driver/mysql.clj
Due: back-end

use the util fn to check args for convert-timezone
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk/query_processor.clj
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
Due: none

Fix avoid updating dashboard cards unless filter changes
  frontend/src/metabase-lib/queries/utils/card.js
Due: front-end

sort ns
  src/metabase/driver/mysql.clj
Due: back-end

Fix Pivot Table requires results to be loaded before Summarize fields can be changed
  frontend/src/metabase/query_builder/actions/core/updateQuestion.ts
Due: front-end

Clean up types
  frontend/src/metabase-types/api/writeback.ts
  frontend/src/metabase/containers/ActionPicker/ActionPicker.tsx
  frontend/src/metabase/entities/actions/utils.ts
  frontend/src/metabase/entities/actions/utils.unit.spec.ts
Due: front-end

linting
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
Due: none

Fix timezones tests
  frontend/test/__support__/mocks.js
Due: front-end

Doing isBreakout check sooner, removing column formatting from 2nd dimension
  frontend/src/metabase/visualizations/components/ChartSettings.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPicker.jsx
  frontend/src/metabase/visualizations/lib/settings/graph.js
Due: front-end

Move `Visualization` to its own directory
  frontend/src/metabase/visualizations/components/Visualization/Visualization.jsx
  frontend/src/metabase/visualizations/components/Visualization/Visualization.styled.tsx
  frontend/src/metabase/visualizations/components/Visualization/index.ts
Due: front-end

Add database form skeleton (#26766)
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase-types/api/timeline.ts
  frontend/src/metabase/core/components/FileInput/index.ts
  frontend/src/metabase/core/components/FormCheckBox/FormCheckBox.tsx
  frontend/src/metabase/core/components/FormField/FormField.styled.tsx
  frontend/src/metabase/core/components/FormFileInput/FormFileInput.tsx
  frontend/src/metabase/core/components/FormFileInput/index.ts
  frontend/src/metabase/core/components/FormSelect/FormSelect.tsx
  frontend/src/metabase/core/components/FormToggle/FormToggle.tsx
  frontend/src/metabase/core/components/Select/Select.tsx
  frontend/src/metabase/databases/components/DatabaseAuthCodeDescription/DatabaseAuthCodeDescription.tsx
  frontend/src/metabase/databases/components/DatabaseAuthCodeDescription/index.ts
  frontend/src/metabase/databases/components/DatabaseClientIdDescription/DatabaseClientIdDescription.tsx
  frontend/src/metabase/databases/components/DatabaseClientIdDescription/index.ts
  frontend/src/metabase/databases/components/DatabaseDetailField/DatabaseDetailField.tsx
  frontend/src/metabase/databases/components/DatabaseDetailField/index.ts
  frontend/src/metabase/databases/components/DatabaseEngineField/DatabaseEngineField.tsx
  frontend/src/metabase/databases/components/DatabaseEngineField/index.ts
  frontend/src/metabase/databases/components/DatabaseForm/DatabaseForm.stories.tsx
  frontend/src/metabase/databases/components/DatabaseForm/DatabaseForm.tsx
  frontend/src/metabase/databases/components/DatabaseForm/index.ts
  frontend/src/metabase/databases/components/DatabaseInfoField/DatabaseInfoField.styled.tsx
  frontend/src/metabase/databases/components/DatabaseInfoField/DatabaseInfoField.tsx
  frontend/src/metabase/databases/components/DatabaseInfoField/index.ts
  frontend/src/metabase/databases/components/DatabaseNameField/DatabaseNameField.tsx
  frontend/src/metabase/databases/components/DatabaseNameField/index.ts
  frontend/src/metabase/databases/components/DatabaseSectionField/DatabaseSectionField.styled.tsx
  frontend/src/metabase/databases/components/DatabaseSectionField/DatabaseSectionField.tsx
  frontend/src/metabase/databases/components/DatabaseSectionField/index.ts
  frontend/src/metabase/databases/components/DatabaseSshDescription/DatabaseSshDescription.tsx
  frontend/src/metabase/databases/components/DatabaseSshDescription/index.ts
  frontend/src/metabase/databases/components/DatabaseSslKeyDescription/DatabaseSslKeyDescription.tsx
  frontend/src/metabase/databases/components/DatabaseSslKeyDescription/index.ts
  frontend/src/metabase/databases/constants.tsx
  frontend/src/metabase/databases/types.ts
  frontend/src/metabase/databases/utils.ts
  frontend/src/types/react.d.ts
Due: front-end

Rely on validation schema to set initial values
  frontend/src/metabase/dashboard/containers/CreateDashboardForm.tsx
Due: front-end

Make `description` input `nullable`
  frontend/src/metabase/dashboard/containers/CreateDashboardForm.tsx
Due: front-end

Use `userEvent` instead of `fireEvent` in tests
  frontend/src/metabase/dashboard/containers/CreateDashboardModal.unit.spec.tsx
Due: front-end

Move `FormCollectionPicker` to collections module
  frontend/src/metabase/collections/containers/FormCollectionPicker/FormCollectionPicker.styled.tsx
  frontend/src/metabase/collections/containers/FormCollectionPicker/FormCollectionPicker.tsx
  frontend/src/metabase/collections/containers/FormCollectionPicker/index.ts
  frontend/src/metabase/dashboard/containers/CreateDashboardForm.tsx
Due: front-end

PR Feedback
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPicker.jsx
  frontend/src/metabase/visualizations/lib/settings/graph.js
Due: front-end

Adjust FE to query actions migration (#26764)
  frontend/src/metabase-lib/Question.ts
  frontend/src/metabase-types/api/mocks/writeback.ts
  frontend/src/metabase-types/api/writeback.ts
  frontend/src/metabase-types/types/Card.ts
  frontend/src/metabase/containers/ActionPicker/ActionPicker.tsx
  frontend/src/metabase/dashboard/actions/cards.js
  frontend/src/metabase/dashboard/actions/save.js
  frontend/src/metabase/dashboard/actions/writeback.ts
  frontend/src/metabase/entities/actions/actions.ts
  frontend/src/metabase/entities/actions/utils.ts
  frontend/src/metabase/entities/actions/utils.unit.spec.ts
  frontend/src/metabase/entities/questions.js
  frontend/src/metabase/entities/questions/forms.js
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
  frontend/src/metabase/query_builder/actions/index.ts
  frontend/src/metabase/query_builder/actions/writeback.ts
  frontend/src/metabase/query_builder/components/QuestionActions.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/services.js
  frontend/src/metabase/writeback/actions.ts
  frontend/src/metabase/writeback/components/ActionCreator/ActionCreator.tsx
  frontend/src/metabase/writeback/components/ActionCreator/FormCreator/utils.ts
  frontend/src/metabase/writeback/components/ActionViz/ActionOptions.tsx
  frontend/src/metabase/writeback/components/ActionViz/utils.ts
  frontend/src/metabase/writeback/containers/ActionParametersInputForm/ActionParametersInputForm.tsx
  frontend/src/metabase/writeback/selectors.ts
  frontend/src/metabase/writeback/utils.ts
  frontend/src/metabase/writeback/utils.unit.spec.ts
Due: front-end

Move driver warning
  frontend/src/metabase/admin/databases/containers/DatabaseEditApp.jsx
  frontend/src/metabase/databases/components/DriverWarning/DriverWarning.stories.tsx
  frontend/src/metabase/databases/components/DriverWarning/DriverWarning.styled.tsx
  frontend/src/metabase/databases/components/DriverWarning/DriverWarning.tsx
  frontend/src/metabase/databases/components/DriverWarning/DriverWarning.unit.spec.tsx
  frontend/src/metabase/databases/components/DriverWarning/index.ts
  frontend/src/metabase/databases/containers/DriverWarning/DriverWarning.tsx
  frontend/src/metabase/databases/containers/DriverWarning/index.ts
  frontend/src/metabase/setup/components/DatabaseStep/DatabaseStep.tsx
Due: front-end

Serdes v2: Inline `Dimension`s under their parent `Field`s
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/e2e/yaml_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  src/metabase/models/dimension.clj
  src/metabase/models/field.clj
Due: back-end

Move driver warning
  frontend/src/metabase/admin/databases/containers/DatabaseEditApp.jsx
  frontend/src/metabase/admin/databases/containers/DatabaseEditApp.unit.spec.js
  frontend/src/metabase/databases/components/DatabaseEngineWarning/DatabaseEngineWarning.stories.tsx
  frontend/src/metabase/databases/components/DatabaseEngineWarning/DatabaseEngineWarning.styled.tsx
  frontend/src/metabase/databases/components/DatabaseEngineWarning/DatabaseEngineWarning.tsx
  frontend/src/metabase/databases/components/DatabaseEngineWarning/DatabaseEngineWarning.unit.spec.tsx
  frontend/src/metabase/databases/components/DatabaseEngineWarning/index.ts
  frontend/src/metabase/databases/components/DriverWarning/index.ts
  frontend/src/metabase/databases/containers/DatabaseEngineWarning/DatabaseEngineWarning.tsx
  frontend/src/metabase/databases/containers/DatabaseEngineWarning/index.ts
  frontend/src/metabase/databases/containers/DriverWarning/index.ts
  frontend/src/metabase/setup/components/DatabaseStep/DatabaseStep.tsx
  frontend/src/metabase/setup/components/DatabaseStep/DatabaseStep.unit.spec.tsx
Due: front-end
