Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix enable-sso-saml?
  src/metabase/public_settings/premium_features.clj
Due: back-end

Properly apply feature flags to advanced dashboard subscription filters (#32155)
  enterprise/frontend/src/metabase-enterprise/settings/index.js
  enterprise/frontend/src/metabase-enterprise/sharing/index.js
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/sharing/components/SharingSidebar.unit.spec.js
  frontend/src/metabase/sharing/components/SharingSidebar/SharingSidebar.jsx
  frontend/src/metabase/sharing/components/SharingSidebar/index.jsx
  frontend/src/metabase/sharing/components/SharingSidebar/tests/common.unit.spec.ts
  frontend/src/metabase/sharing/components/SharingSidebar/tests/enterprise.unit.spec.ts
  frontend/src/metabase/sharing/components/SharingSidebar/tests/premium.unit.spec.ts
  frontend/src/metabase/sharing/components/SharingSidebar/tests/setup.tsx
Due: front-end

initial commit
  .clj-kondo/macros/metabase_enterprise/serialization/test_util.clj
  enterprise/backend/src/metabase_enterprise/serialization/load.clj
  enterprise/backend/test/metabase_enterprise/serialization/load_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/test_util.clj
Due: back-end

remove print
  enterprise/backend/src/metabase_enterprise/serialization/load.clj
Due: back-end

`join-condition-lhs-columns`: filter out columns from current/subsequent joins
  frontend/src/metabase-lib/join.ts
  src/metabase/lib/join.cljc
  src/metabase/lib/js.cljs
  test/metabase/lib/join_test.cljc
Due: back-end, front-end

joinable-columns should return a JS array
  src/metabase/lib/js.cljs
Due: back-end

move ee snippet namespaces to correct directory
  enterprise/backend/src/metabase_enterprise/content_management/models/native_query_snippet/permissions.clj
  enterprise/backend/test/metabase_enterprise/content_management/models/native_query_snippet/permissions_test.clj
Due: back-end

return snippets as flat list from collection API calls on OSS
  enterprise/backend/src/metabase_enterprise/content_verification/api/native_query_snippet.clj
  src/metabase/api/collection.clj
Due: back-end

fix ns used in defenterprise
  src/metabase/models/native_query_snippet/permissions.clj
Due: back-end

still return collections with nil namespace
  src/metabase/api/collection.clj
Due: back-end

remove stray newline
  enterprise/backend/src/metabase_enterprise/content_verification/api/native_query_snippet.clj
Due: back-end

add tests for nested snippet collection behavior on EE and OSS
  enterprise/backend/test/metabase_enterprise/content_management/api/native_query_snippet_test.clj
  test/metabase/api/collection_test.clj
Due: back-end

new feature flag name
  enterprise/backend/src/metabase_enterprise/snippet_collections/api/native_query_snippet.clj
  enterprise/backend/src/metabase_enterprise/snippet_collections/models/native_query_snippet/permissions.clj
  enterprise/backend/test/metabase_enterprise/content_management/api/native_query_snippet_test.clj
  enterprise/backend/test/metabase_enterprise/snippet_collections/api/native_query_snippet_test.clj
  enterprise/backend/test/metabase_enterprise/snippet_collections/models/native_query_snippet/permissions_test.clj
  src/metabase/api/collection.clj
  src/metabase/models/native_query_snippet/permissions.clj
Due: back-end

Update test/metabase/api/collection_test.clj
  test/metabase/api/collection_test.clj
Due: none

Update enterprise/backend/test/metabase_enterprise/snippet_collections/api/native_query_snippet_test.clj
  enterprise/backend/test/metabase_enterprise/snippet_collections/api/native_query_snippet_test.clj
Due: back-end

Update enterprise/backend/src/metabase_enterprise/snippet_collections/api/native_query_snippet.clj
  enterprise/backend/src/metabase_enterprise/snippet_collections/api/native_query_snippet.clj
Due: back-end

fix syntax
  enterprise/backend/src/metabase_enterprise/snippet_collections/api/native_query_snippet.clj
  test/metabase/api/collection_test.clj
Due: back-end

update test descriptions
  e2e/test/scenarios/dashboard/text-parameters.cy.spec.js
Due: none

re-delete file
  enterprise/backend/src/metabase_enterprise/content_verification/api/native_query_snippet.clj
Due: back-end

Return snippets as a flat list on OSS & EE without content-management flag (#32198)
  enterprise/backend/src/metabase_enterprise/snippet_collections/api/native_query_snippet.clj
  enterprise/backend/src/metabase_enterprise/snippet_collections/models/native_query_snippet/permissions.clj
  enterprise/backend/test/metabase_enterprise/snippet_collections/api/native_query_snippet_test.clj
  enterprise/backend/test/metabase_enterprise/snippet_collections/models/native_query_snippet/permissions_test.clj
  src/metabase/api/collection.clj
  src/metabase/models/native_query_snippet/permissions.clj
  test/metabase/api/collection_test.clj
Due: back-end

indent fixes
  src/metabase/db/liquibase.clj
  src/metabase/driver/sql.clj
Due: back-end

drop unused computation_job table
  resources/migrations/000_migrations.yaml
Due: none

BE guard setting embedding-app-origin
  enterprise/backend/test/metabase_enterprise/public_settings_test.clj
  src/metabase/public_settings.clj
Due: back-end

test fixes
  test/metabase/server/middleware/security_test.clj
Due: none

save action execution in the action context
  resources/migrations/000_migrations.yaml
  shared/src/metabase/mbql/schema.cljc
  src/metabase/actions/execution.clj
  src/metabase/api/dashboard.clj
  src/metabase/api/public.clj
  src/metabase/query_processor/middleware/process_userland_query.clj
  test/metabase/actions/execution_test.clj
  test/metabase/api/public_test.clj
Due: back-end

Add actions dropdown to object detail modal (#32331)
  frontend/src/metabase-types/api/actions.ts
  frontend/src/metabase/common/hooks/index.ts
  frontend/src/metabase/common/hooks/use-action-list-query/index.ts
  frontend/src/metabase/common/hooks/use-action-list-query/use-action-list-query.ts
  frontend/src/metabase/common/hooks/use-action-list-query/use-action-list-query.unit.spec.tsx
  frontend/src/metabase/components/EntityMenu/EntityMenu.jsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.tsx
  frontend/src/metabase/models/containers/ModelDetailPage/ModelDetailPage.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetail.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetail.unit.spec.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/types.ts
  frontend/src/metabase/visualizations/components/ObjectDetail/utils.ts
  frontend/src/metabase/visualizations/components/ObjectDetail/utils.unit.spec.ts
Due: front-end

remove debug code
  src/metabase/api/dashboard.clj
Due: back-end

test fixes
  test/metabase/api/dataset_test.clj
  test/metabase/query_processor/middleware/process_userland_query_test.clj
Due: none

Add an endpoint GET /api/action/:id/execute to fetch a default values for implicit action form
  src/metabase/api/action.clj
  test/metabase/api/action_test.clj
Due: back-end

Move component into its own folder
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/DashboardInfoSidebar.styled.tsx
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/DashboardInfoSidebar.tsx
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/index.ts
Due: front-end

Organize tests
  e2e/test/scenarios/dashboard-filters/dashboard-filters-auto-apply.cy.spec.js
Due: none

Attempt to reduce duplicate code
  frontend/src/metabase/nav/components/Search/SearchBar/SearchBar.styled.tsx
  frontend/src/metabase/nav/components/Search/SearchBar/SearchBar.tsx
  frontend/src/metabase/nav/components/Search/SearchFilterModal/SearchFilterModal.tsx
  frontend/src/metabase/nav/components/Search/SearchFilterModal/filters/SearchFilter.tsx
  frontend/src/metabase/nav/components/Search/SearchFilterModal/filters/TypeFilter.tsx
  frontend/src/metabase/nav/components/Search/SearchFilterModal/types.ts
  frontend/src/metabase/search/containers/SearchApp.jsx
  frontend/src/metabase/search/hooks/use-search-filters.ts
  frontend/src/metabase/search/util/index.ts
Due: front-end

Improve tests of prometheus metrics for emails sent
  test/metabase/analytics/prometheus_test.clj
Due: none

Remove unused file
  frontend/src/metabase/nav/components/Search/SearchFilterModal/filters/Filter.styled.tsx
Due: front-end

drop unused computation_job_result table
  resources/migrations/000_migrations.yaml
Due: none

Use assert-has-feature and enable-any-sso?
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/jwt.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/jwt_test.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  src/metabase/api/user.clj
  src/metabase/integrations/common.clj
  src/metabase/public_settings/premium_features.clj
Due: back-end

Simplify test assertions
  e2e/test/scenarios/dashboard-filters/dashboard-filters-auto-apply.cy.spec.js
Due: none

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
