Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 50%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

flaky test fix
  e2e/test/scenarios/dashboard-cards/dashboard-drill.cy.spec.js
Due: none

Drop StructuredQuery.prototype.tableId
  frontend/src/metabase-lib/queries/StructuredQuery.ts
  frontend/src/metabase/admin/datamodel/components/GuiQueryEditor/GuiQueryEditor.jsx
  frontend/src/metabase/admin/datamodel/components/GuiQueryEditor/GuiQueryEditor.unit.spec.js
  frontend/src/metabase/admin/datamodel/components/PartialQueryBuilder.jsx
  frontend/test/metabase-lib/lib/queries/StructuredQuery.unit.spec.js
Due: front-end

Extract click targets for native
  frontend/src/metabase-lib/parameters/utils/click-behavior.ts
  frontend/src/metabase-lib/queries/NativeQuery.ts
  frontend/src/metabase-lib/queries/Query.ts
Due: front-end

Add checks for mbql queries
  frontend/src/metabase-lib/parameters/utils/click-behavior.ts
Due: front-end

Add isa method
  frontend/src/metabase-lib/column_types.ts
  src/metabase/lib/types/isa.cljc
Due: back-end, front-end

Cal's suggestions
  bin/lint-migrations-file/src/lint_migrations_file.clj
Due: none

remove debug code
  bin/lint-migrations-file/src/lint_migrations_file.clj
Due: none

shouldn't filter id for text check
  bin/lint-migrations-file/src/lint_migrations_file.clj
Due: none

Fix tests
  frontend/src/metabase-lib/queries/utils/nested-card-query-table.ts
Due: front-end

flaky test fix (#37435)
  e2e/test/scenarios/dashboard-cards/dashboard-drill.cy.spec.js
Due: none

POC remove N+1 in checking table privileges
  src/metabase/driver/sql_jdbc/sync/describe_database.clj
Due: back-end

Remove legacyQuery from DashCardMenu (#37401)
  frontend/src/metabase/dashboard/components/DashCard/DashCardMenu/DashCardMenu.tsx
Due: front-end

Unify type of timestamp columns (#37160)
  bin/lint-migrations-file/src/lint_migrations_file.clj
  bin/lint-migrations-file/test/lint_migrations_file_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/db/custom_migrations.clj
  test/metabase/db/custom_migrations_test.clj
  test/metabase/db/schema_migrations_test.clj
  test/metabase/models/interface_test.clj
  test/metabase/server/middleware/auth_test.clj
  test/metabase/server/middleware/session_test.clj
Due: back-end

Extract components to make it easier to test
  frontend/src/metabase/actions/components/ActionViz/ActionDashcardSettings.styled.tsx
  frontend/src/metabase/actions/components/ActionViz/ActionDashcardSettings.tsx
  frontend/src/metabase/actions/components/ActionViz/ExplainerText.styled.tsx
  frontend/src/metabase/actions/components/ActionViz/ExplainerText.tsx
Due: front-end

Move the new component into its own folder
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/ExplainerText.styled.tsx
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/ExplainerText.tsx
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/index.ts
Due: front-end

Rename `setQuery` to `setLegacyQuery`
  frontend/src/metabase-lib/Question.ts
  frontend/src/metabase-lib/queries/Query.ts
  frontend/src/metabase/actions/containers/ActionCreator/ActionContext/QueryActionContextProvider/utils.ts
  frontend/src/metabase/query_builder/actions/core/core.js
  frontend/src/metabase/query_builder/actions/core/initializeQB.ts
  frontend/test/metabase-lib/lib/Question.unit.spec.js
Due: front-end

Code review and design fixes
  e2e/support/helpers/e2e-embedding-helpers.js
  e2e/test/scenarios/embedding/embedding-dashboard.cy.spec.js
  e2e/test/scenarios/embedding/embedding-downloads-questions.cy.spec.js
  e2e/test/scenarios/embedding/embedding-native.cy.spec.js
  e2e/test/scenarios/embedding/embedding-questions.cy.spec.js
  e2e/test/scenarios/embedding/embedding-smoketests.cy.spec.js
  e2e/test/scenarios/embedding/reproductions/20438-dashboard-filter-single-value.cy.spec.js
  e2e/test/scenarios/embedding/reproductions/20634-locked-parameters-in-embedded-question.cy.spec.js
  e2e/test/scenarios/embedding/reproductions/30535-session-sandboxing.cy.spec.js
  e2e/test/scenarios/sharing/reproductions/26988-embedding-dynamic-settings.cy.spec.js
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
  frontend/src/metabase/components/ModalContent/ModalContent.styled.ts
  frontend/src/metabase/dashboard/containers/DashboardSharingEmbeddingModal/DashboardSharingEmbeddingModal.tsx
  frontend/src/metabase/public/components/EmbedModal/EmbedModal.styled.tsx
  frontend/src/metabase/public/components/EmbedModal/EmbedModal.tsx
  frontend/src/metabase/public/components/EmbedModal/EmbedModalContent/EmbedModalContent.tsx
  frontend/src/metabase/public/components/EmbedModal/EmbedModalContent/EmbedModalContent.unit.spec.tsx
  frontend/src/metabase/public/components/EmbedModal/EmbedModalContent/EmbedModalContentStatusBar.tsx
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/SelectEmbedTypePane.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/AppearanceSettings.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/CodeSample.jsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/EmbedCodePane.jsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/OverviewSettings.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/ParametersSettings.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/PreviewModeSelector.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/PreviewPane.styled.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/StaticEmbedSetupPane.styled.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/StaticEmbedSetupPane.tsx
  frontend/src/metabase/public/components/EmbedModal/index.ts
  frontend/src/metabase/public/components/EmbedModal/types.ts
  frontend/src/metabase/query_builder/components/QuestionEmbedWidget/QuestionEmbedWidget.tsx
  frontend/src/metabase/selectors/whitelabel/index.ts
  frontend/src/metabase/selectors/whitelabel/tests/common.unit.spec.ts
  frontend/src/metabase/selectors/whitelabel/tests/enterprise.unit.spec.ts
  frontend/src/metabase/selectors/whitelabel/tests/premium.unit.spec.ts
  frontend/src/metabase/ui/components/utils/Paper/Paper.stories.mdx
  frontend/src/metabase/ui/theme.ts
Due: front-end

Fix data selector loading
  frontend/src/metabase/query_builder/components/DataSelector/DataSelector.jsx
  frontend/src/metabase/query_builder/components/DataSelector/data-search/utils.js
Due: front-end

Update styling
  frontend/src/metabase-lib/column_types.ts
  frontend/src/metabase-lib/parameters/utils/click-behavior.ts
Due: front-end

fix failed to compile test
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
Due: back-end

Fix tests
  frontend/test/metabase-lib/lib/queries/StructuredQuery.unit.spec.js
Due: none

Migrate Query.prototype._databaseId to MLv2 in Question.prototype.query
  frontend/src/metabase-lib/Question.ts
Due: front-end

Rename `_setMLv2Query` to `setQuery`
  frontend/src/metabase-lib/Question.ts
  frontend/src/metabase/query_builder/components/notebook/NotebookStepPreview.jsx
  frontend/src/metabase/query_builder/components/view/QuestionFilters/QuestionFilters.tsx
  frontend/src/metabase/querying/components/TimeseriesChrome/TimeseriesChrome.tsx
  frontend/src/metabase/querying/utils/drills/filter-drill/filter-drill.tsx
  frontend/src/metabase/querying/utils/drills/query-drill.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingTableColumns/ChartSettingTableColumns.tsx
Due: front-end

Use Question.prototype.isStructured
  frontend/src/metabase/query_builder/components/view/View.jsx
Due: front-end

Hide Metabase link in `ActionDashcardSettings`
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/ExplainerText.tsx
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/tests/common.unit.spec.ts
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/tests/enterprise.unit.spec.ts
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/tests/premium.unit.spec.ts
  frontend/src/metabase/actions/components/ActionViz/ExplainerText/tests/setup.tsx
Due: front-end

Prepare `EmptyFormPlaceholder` for testing
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/EmptyFormPlaceholder.styled.tsx
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/EmptyFormPlaceholder.tsx
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/index.ts
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/FormCreator.styled.tsx
Due: front-end

Hide Metabase link in `EmptyFormPlaceholder`
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/EmptyFormPlaceholder.tsx
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/tests/common.unit.spec.ts
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/tests/enterprise.unit.spec.ts
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/tests/premium.unit.spec.ts
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/EmptyFormPlaceholder/tests/setup.tsx
Due: front-end

Format code
  frontend/test/metabase-lib/lib/queries/StructuredQuery.unit.spec.js
Due: none

use paid plan utm sourcein premium unit tests
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/setup.tsx
Due: front-end

Bring back isStructured check
  frontend/src/metabase/query_builder/components/notebook/Notebook.tsx
Due: front-end

Move icons
  frontend/src/metabase/ui/components/icons/Icon/Icon.tsx
Due: front-end

flaky test fix
  e2e/test/scenarios/models/models-metadata.cy.spec.js
Due: none

Add new color palette
  frontend/src/metabase/ui/theme.ts
  frontend/src/metabase/ui/utils/colors.ts
Due: front-end

Consolidate test cases for public and embedded cards
  test/metabase/api/embed_test.clj
  test/metabase/api/public_test.clj
Due: none

Migrate ui
  frontend/src/metabase/ui/components/buttons/Button/Button.styled.tsx
  frontend/src/metabase/ui/components/data-display/Accordion/Accordion.styled.tsx
  frontend/src/metabase/ui/components/data-display/Card/Card.styled.tsx
  frontend/src/metabase/ui/components/inputs/Calendar/Calendar.styled.tsx
  frontend/src/metabase/ui/components/inputs/Checkbox/Checkbox.styled.tsx
  frontend/src/metabase/ui/components/inputs/DateInput/DateInput.styled.tsx
  frontend/src/metabase/ui/components/inputs/FileInput/FileInput.styled.tsx
  frontend/src/metabase/ui/components/inputs/Input/Input.styled.tsx
  frontend/src/metabase/ui/components/inputs/MultiSelect/MultiSelect.styled.tsx
  frontend/src/metabase/ui/components/inputs/Radio/Radio.styled.tsx
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.styled.tsx
  frontend/src/metabase/ui/components/inputs/Select/Select.styled.tsx
  frontend/src/metabase/ui/components/inputs/Switch/Switch.styled.tsx
  frontend/src/metabase/ui/components/inputs/TextInput/TextInput.styled.tsx
  frontend/src/metabase/ui/components/inputs/Textarea/Textarea.styled.tsx
  frontend/src/metabase/ui/components/navigation/Tabs/Tabs.styled.tsx
  frontend/src/metabase/ui/components/overlays/Menu/Menu.styled.tsx
  frontend/src/metabase/ui/components/overlays/Modal/Modal.styled.tsx
  frontend/src/metabase/ui/components/typography/Anchor/Anchor.styled.tsx
  frontend/src/metabase/ui/components/utils/Divider/Divider.styled.tsx
  frontend/src/metabase/ui/components/utils/Paper/Paper.styled.tsx
Due: front-end

Migrate ui
  enterprise/frontend/src/metabase-enterprise/license/components/LicenseAndBillingSettings/LicenseAndBillingSettings.tsx
  enterprise/frontend/src/metabase-enterprise/whitelabel/components/HelpLinkSettings/HelpLinkSettings.tsx
  frontend/src/metabase/collections/components/CollectionEmptyState/CollectionEmptyState.tsx
  frontend/src/metabase/dashboard/components/DashboardEmbedHeaderButton/DashboardEmbedHeaderButton.tsx
  frontend/src/metabase/dashboard/components/PublicLinkPopover/PublicLinkCopyPanel.tsx
  frontend/src/metabase/dashboard/components/PublicLinkPopover/PublicLinkPopover.tsx
  frontend/src/metabase/forms/components/FormErrorMessage/FormErrorMessage.tsx
  frontend/src/metabase/forms/components/FormSubmitButton/FormSubmitButton.tsx
  frontend/src/metabase/nav/components/search/SearchResults/SearchResults.tsx
  frontend/src/metabase/public/components/widgets/EmbedModal.tsx
  frontend/src/metabase/public/components/widgets/SharingPane/InteractiveEmbeddingCTA/InteractiveEmbeddingCTA.tsx
  frontend/src/metabase/querying/components/DatePicker/ExcludeDatePicker/ExcludeDatePicker.tsx
  frontend/src/metabase/querying/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/querying/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.tsx
  frontend/src/metabase/querying/components/DatePicker/SpecificDatePicker/DateRangePicker/DateRangePickerBody/DateRangePickerBody.tsx
  frontend/src/metabase/querying/components/DatePicker/SpecificDatePicker/TimeToggle/TimeToggle.tsx
  frontend/src/metabase/querying/components/FilterModal/FilterColumnName/FilterColumnName.tsx
  frontend/src/metabase/querying/components/FilterModal/FilterModal.tsx
  frontend/src/metabase/querying/components/FilterModal/FilterOperatorPicker/FilterOperatorPicker.tsx
  frontend/src/metabase/querying/components/FilterPicker/BooleanFilterPicker/BooleanFilterPicker.tsx
  frontend/src/metabase/querying/components/FilterValuePicker/ListValuePicker/ListValuePicker.tsx
  frontend/src/metabase/search/components/InfoText/InfoTextAssetLink.tsx
  frontend/src/metabase/search/components/InfoText/InfoTextEditedInfo.tsx
  frontend/src/metabase/search/components/SearchResult/SearchResult.tsx
  frontend/src/metabase/search/components/SearchResultLink/SearchResultLink.tsx
  frontend/src/metabase/search/components/SearchUserPicker/SearchUserPicker.tsx
  frontend/src/metabase/search/components/UserListElement/UserListElement.tsx
  frontend/src/metabase/ui/components/buttons/Button/Button.stories.mdx
Due: front-end
