Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

add specs for edge cases
  e2e/test/scenarios/visualizations-charts/line-bar-tooltips.cy.spec.js
Due: none

remove color
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.tsx
Due: front-end

move change to tooltip footer
  frontend/src/metabase/visualizations/components/ChartTooltip/KeyValuePairChartTooltip/KeyValuePairChartTooltip.styled.tsx
  frontend/src/metabase/visualizations/components/ChartTooltip/KeyValuePairChartTooltip/KeyValuePairChartTooltip.tsx
  frontend/src/metabase/visualizations/components/ChartTooltip/StackedDataTooltip/StackedDataTooltip.styled.tsx
  frontend/src/metabase/visualizations/types/hover.ts
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.tsx
Due: front-end

cleaning up code in numeric.js
  frontend/src/metabase/visualizations/lib/numeric.js
Due: front-end

add unit to key
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.tsx
Due: front-end

fix extra bottom spacing
  frontend/src/metabase/visualizations/components/ChartTooltip/KeyValuePairChartTooltip/KeyValuePairChartTooltip.styled.tsx
  frontend/src/metabase/visualizations/components/ChartTooltip/KeyValuePairChartTooltip/KeyValuePairChartTooltip.tsx
Due: front-end

move computeChange to lib/numeric
  frontend/src/metabase/visualizations/lib/numeric.js
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.ts
  frontend/src/metabase/visualizations/visualizations/SmartScalar/compute.js
Due: front-end

color text
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.tsx
Due: front-end

add change to funnel tooltip
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/src/metabase/visualizations/components/FunnelNormal.jsx
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.tsx
Due: front-end

readd exports to fix numeric.unit.spec.js
  frontend/src/metabase/visualizations/lib/numeric.js
Due: front-end

add test cases to line-bar-tooltips.cy.spec.js
  e2e/test/scenarios/visualizations-charts/line-bar-tooltips.cy.spec.js
Due: none

don't show for change for scatterplot
  frontend/src/metabase/visualizations/visualizations/CartesianChart/events.ts
  frontend/src/metabase/visualizations/visualizations/CartesianChart/use-chart-events.ts
Due: front-end

Use import-vars
  src/metabase/upload.clj
  src/metabase/upload/internal.clj
  test/metabase/upload_test.clj
Due: back-end

Adjust styles of the single active tab in parameter sidebar (#42209)
  frontend/src/metabase/parameters/components/ParameterSidebar/ParameterSidebar.tsx
Due: front-end

Fix editing an existing metric
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update feature_request.md (#42232)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Squashed branch
  e2e/test/scenarios/admin/databases/default-sample-database.cy.spec.js
  e2e/test/scenarios/embedding/interactive-embedding.cy.spec.js
  e2e/test/scenarios/models/helpers/e2e-models-helpers.js
  e2e/test/scenarios/onboarding/home/browse.cy.spec.js
  e2e/test/scenarios/organization/bookmarks-question.cy.spec.js
  e2e/test/scenarios/question/reproductions/18978-18977-nested-question-nodata-user.cy.spec.js
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/common/hooks/use-setting/use-setting.ts
  frontend/src/metabase/lib/redux/typed-utils.ts
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbar.styled.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbar.unit.spec.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/BookmarkList/BookmarkList.tsx
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
  frontend/src/metabase/palette/hooks/useCommandPaletteBasicActions.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionActions/QuestionActions.tsx
  frontend/src/metabase/redux/settings.ts
  src/metabase/models/user.clj
Due: back-end, front-end

fix e2e test
  e2e/test/scenarios/models/reproductions/25537-model-picker-locale.cy.spec.js
Due: none

Squashed branch
  enterprise/frontend/src/metabase-enterprise/content_verification/ModelFilterControls.tsx
  enterprise/frontend/src/metabase-enterprise/content_verification/index.ts
  enterprise/frontend/src/metabase-enterprise/content_verification/utils.ts
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/utils.ts
  frontend/src/metabase/plugins/index.ts
  src/metabase/models/user.clj
Due: back-end, front-end

refactor
  frontend/src/metabase/browse/components/CollectionBreadcrumbsWithTooltip.tsx
  frontend/src/metabase/hooks/use-is-truncated.ts
Due: front-end

Squashed branch
  frontend/src/metabase/browse/components/CollectionBreadcrumbsWithTooltip.styled.tsx
  frontend/src/metabase/browse/components/CollectionBreadcrumbsWithTooltip.tsx
  frontend/src/metabase/browse/components/ModelsTable.tsx
  frontend/src/metabase/browse/components/types.tsx
  frontend/src/metabase/browse/components/utils.tsx
  frontend/src/metabase/hooks/use-is-truncated.ts
Due: front-end

Squashed branch
  frontend/src/metabase/browse/components/BrowseApp.styled.tsx
  frontend/src/metabase/browse/components/BrowseApp.tsx
  frontend/src/metabase/browse/components/BrowseDatabases.tsx
  frontend/src/metabase/browse/components/BrowseDatabases.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/BrowseModels.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseRedirect.tsx
  frontend/src/metabase/browse/components/BrowseRedirect.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseSchemas.tsx
  frontend/src/metabase/browse/components/SchemaBrowser.jsx
  frontend/src/metabase/lib/urls/browse.ts
  frontend/src/metabase/routes.jsx
Due: front-end

fix e2e test
  e2e/support/helpers/e2e-ui-elements-helpers.js
  e2e/test/scenarios/question/settings.cy.spec.js
Due: none

Fix c for i18n check
  frontend/src/metabase/browse/components/CollectionBreadcrumbsWithTooltip.tsx
Due: front-end

Squashed branch
  frontend/src/metabase-types/api/collection.ts
  frontend/src/metabase-types/api/search.ts
  frontend/src/metabase/admin/performance/components/StrategyForm.tsx
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/BrowseModels.unit.spec.tsx
  frontend/src/metabase/browse/components/EllipsifiedWithMarkdown.tsx
  frontend/src/metabase/browse/components/ModelExplanationBanner.tsx
  frontend/src/metabase/browse/components/ModelsTable.tsx
  frontend/src/metabase/components/CollapseSection/CollapseSection.styled.tsx
  frontend/src/metabase/components/CollapseSection/CollapseSection.tsx
  frontend/src/metabase/components/ResponsiveContainer/ResponsiveContainer.tsx
  frontend/src/metabase/core/components/Ellipsified/Ellipsified.styled.tsx
  frontend/src/metabase/ui/components/icons/Icon/Icon.tsx
  frontend/src/metabase/ui/components/overlays/Tooltip/Tooltip.styled.tsx
Due: front-end

Fix browse() func
  e2e/support/helpers/e2e-ui-elements-helpers.js
Due: none

Remove tests that are no longer relevant
  frontend/src/metabase/browse/components/BrowseModels.unit.spec.tsx
Due: front-end

fix type issue
  frontend/src/metabase/browse/components/BrowseModels.tsx
Due: front-end

wip
  frontend/src/metabase-types/api/search.ts
  frontend/src/metabase/browse/components/ModelsTable.tsx
  frontend/src/metabase/collections/components/CollectionContent/CollectionContentView.tsx
Due: front-end

Sorting works
  frontend/src/metabase-types/api/search.ts
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/CollectionBreadcrumbsWithTooltip.tsx
  frontend/src/metabase/browse/components/ModelsTable.tsx
  frontend/src/metabase/browse/components/constants.tsx
  frontend/src/metabase/browse/components/utils.tsx
  frontend/src/metabase/components/ItemsTable/BaseItemsTable.tsx
  frontend/src/metabase/components/ItemsTable/BaseItemsTable.unit.spec.tsx
Due: front-end

wip: supporting sorting in Browse models table
  frontend/src/metabase-types/api/search.ts
  frontend/src/metabase/api/search.ts
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/ModelsTable.tsx
  frontend/src/metabase/components/ItemsTable/BaseItemsTable.tsx
Due: front-end

Fix type issue'
  frontend/src/metabase/common/hooks/entity-framework/use-search-list-query/use-search-list-query.unit.spec.tsx
Due: front-end

Fix imports
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/BrowseModelsBody.tsx
  frontend/src/metabase/common/hooks/entity-framework/use-search-list-query/use-search-list-query.unit.spec.tsx
Due: front-end

Fix editing an existing metric (#42231)
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

Tidying
  src/metabase/upload.clj
Due: back-end

Remove the tabs from Browse (#41955)
  frontend/src/metabase/browse/components/BrowseApp.styled.tsx
  frontend/src/metabase/browse/components/BrowseApp.tsx
  frontend/src/metabase/browse/components/BrowseDatabases.tsx
  frontend/src/metabase/browse/components/BrowseDatabases.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseModels.tsx
  frontend/src/metabase/browse/components/BrowseModels.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseRedirect.tsx
  frontend/src/metabase/browse/components/BrowseRedirect.unit.spec.tsx
  frontend/src/metabase/browse/components/BrowseSchemas.tsx
  frontend/src/metabase/browse/components/SchemaBrowser.jsx
  frontend/src/metabase/lib/urls/browse.ts
  frontend/src/metabase/routes.jsx
Due: front-end

Fix missing apply
  test/metabase/test/data/dataset_definition_test.clj
Due: none

Squashed branch
  frontend/src/metabase/browse/components/BrowseModels.unit.spec.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
