Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

🤖 backported "Include segments in dependencies graph" (#66604)
  e2e/test/scenarios/dependencies/dependency-graph.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/dependencies/api.clj
  enterprise/backend/src/metabase_enterprise/dependencies/calculation.clj
  enterprise/backend/src/metabase_enterprise/dependencies/events.clj
  enterprise/backend/src/metabase_enterprise/dependencies/metadata_provider.clj
  enterprise/backend/src/metabase_enterprise/dependencies/models/dependency.clj
  enterprise/backend/src/metabase_enterprise/dependencies/schema.clj
  enterprise/backend/src/metabase_enterprise/dependencies/task/backfill.clj
  enterprise/backend/test/metabase_enterprise/dependencies/calculation_test.clj
  enterprise/backend/test/metabase_enterprise/dependencies/events_test.clj
  enterprise/backend/test/metabase_enterprise/dependencies/task/backfill_test.clj
  enterprise/frontend/src/metabase-enterprise/api/tags.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyGraph/GraphDependencyPanel/PanelHeader/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyGraph/GraphEntryInput/EntrySearchInput/SearchModelPicker/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyGraph/GraphEntryInput/constants.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyGraph/GraphInfoPanel/PanelBody/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyGraph/GraphNode/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/DependencyGraph/utils.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/pages/DependencyGraphPage/utils.ts
  frontend/src/metabase-types/api/dependencies.ts
  frontend/src/metabase-types/api/mocks/dependencies.ts
  frontend/src/metabase-types/api/mocks/segment.ts
  frontend/src/metabase-types/api/segment.ts
  resources/migrations/057_update_migrations.yaml
  src/metabase/driver/sql_jdbc/connection.clj
  src/metabase/lib/core.cljc
  src/metabase/lib/walk/util.cljc
  src/metabase/revisions/impl/segment.clj
  src/metabase/segments/models/segment.clj
  test/metabase/segments/api_test.clj
Due: back-end, front-end

adopt changes
  enterprise/frontend/src/metabase-enterprise/data-studio/workspaces/components/RunWorkspaceMenu/RunWorkspaceMenu.tsx
Due: front-end

final refactoring
  e2e/test/scenarios/data-studio/data-model/segments-data-studio.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TableSection/SegmentItem.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TableSection/SegmentList.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TableSection/SegmentList.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/TableSection/TableSection.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/pages/DataModel/DataModel.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/routes.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/routes.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/layouts/DataModelSegmentLayout/DataModelSegmentLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/layouts/DataModelSegmentLayout/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/layouts/PublishedTableSegmentLayout/PublishedTableSegmentLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/layouts/PublishedTableSegmentLayout/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/layouts/SegmentLayout/SegmentLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/layouts/SegmentLayout/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/NewSegmentPage/NewDataModelSegmentPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/NewSegmentPage/NewPublishedTableSegmentPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/NewSegmentPage/NewSegmentPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/NewSegmentPage/NewSegmentPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/NewSegmentPage/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/SegmentDependenciesPage/SegmentDependenciesPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/SegmentDetailPage/SegmentDetailPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/SegmentDetailPage/SegmentDetailPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/SegmentRevisionHistoryPage/SegmentRevisionHistoryPage.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/routes.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/tables/routes.tsx
  frontend/src/metabase/lib/urls/data-studio.ts
  frontend/src/metabase/lib/urls/data-studio.unit.spec.ts
Due: front-end

require
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
Due: back-end

Stub for endpoint for merging single transform
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
Due: back-end

Fix transform notebook query preview issues
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
  frontend/src/metabase/querying/notebook/components/NotebookStep/NotebookStep.tsx
Due: front-end

polish
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentBreadcrumbs/SegmentBreadcrumbs.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentBreadcrumbs/SegmentBreadcrumbs.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentEditor/SegmentEditor.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentEditor/SegmentEditor.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentRevisionHistory/SegmentRevisionDiff.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentRevisionHistory/SegmentRevisionHistory.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentRevisionHistory/SegmentRevisionHistory.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/components/SegmentRevisionHistory/SegmentRevisionItem.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/SegmentRevisionHistoryPage/SegmentRevisionHistoryPage.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/segments/pages/SegmentRevisionHistoryPage/SegmentRevisionHistoryPage.tsx
Due: front-end

set up pager duty notifications for querying on call
  .github/workflows/querying-team-pagerduty.yml
Due: none

Adjust padding on runs page
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunListPage.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunListPage.tsx
Due: front-end

sample app links
  docs/embedding/appearance.md
  docs/embedding/embedded-analytics-js.md
Due: none

fix: identifier extraction
  frontend/src/metabase/query_builder/components/dataref/DatabasePane.tsx
Due: front-end

heading
  docs/embedding/appearance.md
Due: none

Prevent looping past current-schema-version when already past it.
  src/metabase/queries/models/card.clj
Due: back-end

Remove commented tests
  enterprise/backend/test/metabase_enterprise/tenants/core_test.clj
  test/metabase/tenants/core_test.clj
Due: back-end

Update e2e test based on feedback
  e2e/test/scenarios/embedding/embedding-hub/embedding-hub.cy.spec.ts
  e2e/test/scenarios/embedding/modular-embedding-settings.cy.spec.ts
  e2e/test/scenarios/organization/entity-picker-shared-tenant-collection.cy.spec.ts
Due: none

UXW-2537 fix row/bar viz crash after native query column rename
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  frontend/src/metabase/visualizations/lib/graph/columns.ts
Due: front-end

misc fixes (#66766)
  e2e/support/helpers/e2e-data-studio-helpers.ts
  e2e/test/scenarios/data-studio/data-model/data-studio-single-table.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/app/components/SectionLayout/SectionLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/LibrarySectionLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/Table/Table.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/Table/Table.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/Table/useTreeFilter.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/pages/DataModel/DataModel.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/pages/DependencyGraphPage/DependencyGraphPage.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/JobListPage/JobListPage.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformListPage/TransformListPage.tsx
Due: front-end

Split add-attributes-test
  test/metabase/users/models/user_test.clj
Due: none

Update test/metabase/collections_rest/api_test.clj
  test/metabase/collections_rest/api_test.clj
Due: none

handle uploads from matrix jobs (#66732) (#66735)
  .github/actions/test-driver/action.yml
  .github/workflows/drivers.yml
Due: none

Add test for upgrade-card-schema-to-latest
  test/metabase/queries/models/card_test.clj
Due: none

fix: database name
  frontend/src/metabase/query_builder/components/dataref/DatabasePane.tsx
Due: front-end

Fix copy cmd model list
  src/metabase/cmd/copy.clj
Due: back-end

Remove :put handling code for is_remote_synced
  src/metabase/collections_rest/api.clj
Due: back-end

UXW-285 filter not accessible questions in data picker (#66483)
  e2e/test/scenarios/question-reproductions/reproductions.cy.spec.ts
  frontend/src/metabase-types/api/collection.ts
  frontend/src/metabase/common/components/Pickers/CollectionPicker/components/CollectionItemList.tsx
  frontend/src/metabase/common/components/Pickers/DataPicker/utils.ts
  frontend/src/metabase/common/components/Pickers/utils.ts
Due: front-end

Update src/metabase/premium_features/settings.clj
  src/metabase/premium_features/settings.clj
Due: back-end

Update resources/migrations/056_update_migrations.yaml
  resources/migrations/056_update_migrations.yaml
Due: none

Fix CI
  frontend/src/metabase/common/components/Pickers/CollectionPicker/components/CollectionItemList.tsx
Due: front-end

Remove extraneous regex in api def
  enterprise/backend/src/metabase_enterprise/tenants/api.clj
Due: back-end

Update frontend/src/metabase-types/analytics/event.ts
  frontend/src/metabase-types/analytics/event.ts
Due: front-end

Make test parallel
  test/metabase/queries/models/card_test.clj
Due: none

Add PublishQuestionEmptyState.tsx component
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCode/CopyCodeSnippetButton.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCode/PublishQuestionEmptyState.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCodeStep.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeEmbedSetupModal.tsx
Due: front-end

Disable `done` button
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeEmbedSetupModal.tsx
Due: front-end

Add use-toggle-resource-embedding hook
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCode/PublishQuestionEmptyState.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/SdkIframeGuestEmbedStatusBar.tsx
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/hooks/use-toggle-resource-embedding.ts
Due: front-end

UXW-2536 popup remote-sync modal after request
  enterprise/frontend/src/metabase-enterprise/remote_sync/middleware/remote-sync-listener-middleware.ts
  enterprise/frontend/src/metabase-enterprise/remote_sync/middleware/remote-sync-listener-middleware.unit.spec.ts
Due: front-end

Remove the "sidebar" event type
  enterprise/frontend/src/metabase-enterprise/remote_sync/analytics.ts
Due: front-end

Add data-testid to link
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/GetCode/PublishQuestionEmptyState.tsx
Due: front-end

basic measures BE
  resources/migrations/059_update_migrations.yaml
  src/metabase/api/common.clj
  src/metabase/api_routes/routes.clj
  src/metabase/audit_app/events/audit_log.clj
  src/metabase/events/schema.clj
  src/metabase/lib/aggregation.cljc
  src/metabase/lib/common.cljc
  src/metabase/lib/core.cljc
  src/metabase/lib/fe_util.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/js/metadata.cljs
  src/metabase/lib/measure.cljc
  src/metabase/lib/metadata.cljc
  src/metabase/lib/metadata/cached_provider.cljc
  src/metabase/lib/metadata/invocation_tracker.cljc
  src/metabase/lib/metadata/protocols.cljc
  src/metabase/lib/normalize.cljc
  src/metabase/lib/schema/aggregation.cljc
  src/metabase/lib/schema/id.cljc
  src/metabase/lib/schema/metadata.cljc
  src/metabase/lib/schema/ref.cljc
  src/metabase/lib_be/metadata/jvm.clj
  src/metabase/measures/api.clj
  src/metabase/measures/models/measure.clj
  src/metabase/measures/schema.clj
  src/metabase/models/resolution.clj
  src/metabase/query_processor/middleware/measures.clj
  src/metabase/query_processor/preprocess.clj
  src/metabase/revisions/events.clj
  src/metabase/search/config.clj
  src/metabase/search/spec.clj
  src/metabase/warehouse_schema/models/table.clj
  src/metabase/warehouse_schema/table.clj
Due: back-end

🤖 backported "Treat postgres bit strings as text" (#66760)
  src/metabase/driver/postgres.clj
  src/metabase/types/core.cljc
  test/metabase/driver/postgres_test.clj
Due: back-end

Fix unit tests
  frontend/src/metabase/visualizations/echarts/graph/sankey/model/dataset.ts
Due: front-end
