Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Fix bugs
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end

Fix bugs, cleanup
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

@tsp - Improved build-values-by-key perf; some debug perf lines in frontend land
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
Due: back-end, front-end

fix tests
  src/metabase/pivot/core.cljc
  src/metabase/query_processor/pivot/postprocess.clj
Due: back-end

port format-values-in-tree
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

@tsp - removing debug logs & perf timing logs
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
Due: back-end, front-end

@tsp - adding working Pivot.add_value_column_nodes to replace addValueColumnNodes
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

Debug logs in frontend pivot impl
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
Due: back-end, front-end

WIP add-subtotals
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end

Revert "Test using js-specific i18n function"
  src/metabase/pivot/core.cljc
Due: back-end

@tsp - working converted Pivot.add_subtotals
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
Due: back-end, front-end

WIP - migrate row section getter to cljc
  frontend/src/metabase/lib/data_grid.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
  src/metabase/query_processor/pivot/postprocess.clj
  src/metabase/query_processor/streaming/csv.clj
Due: back-end, front-end

hook up new code to the FE impl
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

Start hooking up the BE, fix some bugs
  frontend/src/metabase/lib/data_grid.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  src/metabase/models/visualization_settings.cljc
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
  src/metabase/query_processor/pivot/postprocess.clj
  src/metabase/query_processor/streaming/csv.clj
Due: back-end, front-end

More formatting code ported, cleanup
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

POC - moving two pivot functions into CLJC
  .clj-kondo/config.edn
  frontend/src/metabase/lib/data_grid.js
  shadow-cljs.edn
  src/metabase/pivot/core.cljc
Due: back-end, front-end

POC continued
  frontend/src/metabase/lib/data_grid.js
  shadow-cljs.edn
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

Appease whitespace linter
  src/metabase/pivot/core.cljc
Due: back-end

@tsp - fixing bug in add-subtotal mapcat recursion
  src/metabase/pivot/core.cljc
Due: back-end

@tsp - in progress conversion of add-subtotals
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

Fixing bug in clojure vs javascript string key for valuesByKey
  src/metabase/pivot/core.cljc
Due: back-end

fix valueColumns key name
  src/metabase/pivot/core.cljc
Due: back-end

Fixing small potential bug in valuesByKey
  src/metabase/pivot/core.cljc
Due: back-end

Fix lint/formatting errors
  .clj-kondo/config/modules/config.edn
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  src/metabase/pivot/core.cljc
Due: back-end, front-end

sorting logic
  src/metabase/pivot/core.cljc
Due: back-end

Fix e2e test
  src/metabase/pivot/core.cljc
  src/metabase/query_processor/pivot/postprocess.clj
Due: back-end

Working replication of valuesByKey map construction
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end, front-end

A couple more attempts at perf improvements
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
Due: back-end

Fix some tests
  src/metabase/pivot/core.cljc
Due: back-end

Switch exports over to fully using CLJC code paths, delete now-unused code
  frontend/src/metabase/lib/data_grid.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  src/metabase/pivot/core.cljc
  src/metabase/query_processor/pivot/postprocess.clj
  src/metabase/query_processor/streaming/csv.clj
Due: back-end, front-end

empty test ns
  test/metabase/pivot/core_test.cljc
Due: none

more cleanup
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/query_processor/pivot/postprocess.clj
Due: back-end, front-end

Delete outdated postprocess tests
  test/metabase/query_processor/pivot/postprocess_test.clj
Due: none

misc cleanup/docstrings
  src/metabase/pivot/core.cljc
Due: back-end

fix function call
  src/metabase/query_processor/pivot/postprocess.clj
Due: back-end

Fix build
  src/metabase/query_processor/pivot/postprocess.clj
  src/metabase/query_processor/streaming/csv.clj
Due: back-end

cleanup, consolidation
  frontend/src/metabase/lib/data_grid.js
  frontend/src/metabase/visualizations/lib/table_format.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
  src/metabase/query_processor/pivot/postprocess.clj
Due: back-end, front-end

Bug fix
  src/metabase/query_processor/pivot/postprocess.clj
  src/metabase/query_processor/streaming/csv.clj
Due: back-end

WIP tests
  src/metabase/pivot/core.cljc
  src/metabase/pivot/js.cljs
  test/metabase/pivot/core_test.cljc
Due: back-end

fix: update saml20 for full SAML SLO support
  deps.edn
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/sso_settings.clj
  enterprise/backend/test/metabase_enterprise/sso/api/sso_test.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  test_resources/saml-slo-test-response.xml
  test_resources/sso/idp.cert
  test_resources/sso/idp.private.key
Due: back-end
