Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Add backport resolution script
  backport.sh
Due: none

[GIT-71792] Fix literal handling in legacy MBQL conversion (#83162)
  enterprise/backend/test/metabase_enterprise/serialization/v2/test_util_test.clj
  src/metabase/legacy_mbql/normalize.cljc
  src/metabase/legacy_mbql/schema.cljc
  src/metabase/lib/convert.cljc
  src/metabase/lib/normalize.cljc
  src/metabase/models/serialization.clj
  test/metabase/legacy_mbql/normalize_test.cljc
  test/metabase/lib/convert_test.cljc
  test/metabase/lib/normalize_test.cljc
  test/metabase/models/serialization_test.clj
  test/metabase/queries/models/card_test.clj
Due: back-end

jev impl
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/data_sensitivity/api.clj
  enterprise/backend/src/metabase_enterprise/data_sensitivity/core.clj
  enterprise/backend/src/metabase_enterprise/data_sensitivity/jev.clj
  enterprise/backend/src/metabase_enterprise/data_sensitivity/llm.clj
  enterprise/backend/src/metabase_enterprise/data_sensitivity/settings.clj
  enterprise/backend/test/metabase_enterprise/data_sensitivity/api_test.clj
  enterprise/backend/test/metabase_enterprise/data_sensitivity/core_test.clj
  enterprise/backend/test/metabase_enterprise/data_sensitivity/jev_test.clj
Due: back-end

Drop the nonexistent schema from Metabot's Sample Database examples (#82958)
  resources/metabot/prompts/shared/prompt_snippets/mbql-shape.selmer
  resources/metabot/prompts/tools/construct_notebook_query.md
  resources/metabot/skills/construct-notebook-query-advanced.md
  resources/metabot/skills/construct-notebook-query-core.md
  resources/metabot/skills/read-resource.md
  src/metabase/agent_api/api.clj
  src/metabase/agent_api/reference.md
  src/metabase/metabot/tools/construct.clj
  test/metabase/metabot/agent/prompts_test.clj
Due: back-end

Support :create-table
  src/metabase/funnysql/core.clj
  test/metabase/funnysql/core_test.clj
Due: back-end

Update usages of :create-table/:with-columns
  src/metabase/funnysql/core.clj
  src/metabase/internal_stats/db.clj
  src/metabase/search/appdb/index_schema.clj
  test/metabase/funnysql/core_test.clj
Due: back-end

:generated-by-default-as-identity
  src/metabase/search/appdb/specialization/postgres.clj
Due: back-end

🤖 v64 backported "[GIT-71792] Fix literal handling in legacy MBQL conversion" (#83299)
  enterprise/backend/test/metabase_enterprise/serialization/v2/test_util_test.clj
  src/metabase/legacy_mbql/normalize.cljc
  src/metabase/legacy_mbql/schema.cljc
  src/metabase/lib/convert.cljc
  src/metabase/lib/normalize.cljc
  src/metabase/models/serialization.clj
  test/metabase/legacy_mbql/normalize_test.cljc
  test/metabase/lib/convert_test.cljc
  test/metabase/lib/normalize_test.cljc
  test/metabase/models/serialization_test.clj
  test/metabase/queries/models/card_test.clj
Due: back-end

commit job timeouts
  .github/workflows/auto-backport.yml
  .github/workflows/chromatic.yml
  .github/workflows/loki-update.yml
  .github/workflows/mage.yml
  .github/workflows/optimize-images.yml
  .github/workflows/perf-test.yml
  .github/workflows/rerun-workflows.yml
  .github/workflows/sync-fork.yml
  .github/workflows/translation-context.yml
Due: none

Stop caching 404s for hashed assets (#82796)
  src/metabase/request/util.clj
  src/metabase/server/middleware/security.clj
  test/metabase/request/util_test.clj
  test/metabase/server/middleware/security_test.clj
Due: back-end

Support infinite retention days.
  src/metabase/audit_app/task/partitions.clj
  test/metabase/audit_app/task/partitions_test.clj
Due: back-end

Consolidate admin e2e tests (#82882)
  e2e/test/scenarios/admin/api-keys.cy.spec.ts
  e2e/test/scenarios/admin/authentication.cy.spec.ts
  e2e/test/scenarios/admin/database-connection-strings.cy.spec.ts
  e2e/test/scenarios/admin/database-routing/database-routing-admin.cy.spec.ts
  e2e/test/scenarios/admin/databases.cy.spec.js
  e2e/test/scenarios/admin/databases/database-writable-connection.cy.spec.ts
  e2e/test/scenarios/admin/datamodel/datamodel.cy.spec.ts
  e2e/test/scenarios/admin/datamodel/segments.cy.spec.ts
  e2e/test/scenarios/admin/error-reporting.cy.spec.ts
  e2e/test/scenarios/admin/help.cy.spec.ts
  e2e/test/scenarios/admin/i18n/content-translation/dashboards.cy.spec.ts
  e2e/test/scenarios/admin/i18n/content-translation/helpers/constants.ts
  e2e/test/scenarios/admin/i18n/content-translation/upload-and-download.cy.spec.ts
  e2e/test/scenarios/admin/multi-factor-auth.cy.spec.ts
  e2e/test/scenarios/admin/oauth-authorizations.cy.spec.ts
  e2e/test/scenarios/admin/people.cy.spec.js
  e2e/test/scenarios/admin/remote-sync.cy.spec.ts
  e2e/test/scenarios/admin/security-center-snowplow.cy.spec.ts
  e2e/test/scenarios/admin/security-center.cy.spec.ts
  e2e/test/scenarios/admin/settings.cy.spec.js
  e2e/test/scenarios/admin/sso/google.cy.spec.js
  e2e/test/scenarios/admin/sso/jwt.cy.spec.js
  e2e/test/scenarios/admin/sso/ldap.cy.spec.js
  e2e/test/scenarios/admin/sso/saml.cy.spec.js
  e2e/test/scenarios/admin/sso/shared/group-mappings-widget.js
  e2e/test/scenarios/admin/sso/shared/helpers.js
  e2e/test/scenarios/admin/tenants.cy.spec.ts
  e2e/test/scenarios/admin/whitelabel.cy.spec.js
Due: none

Put User provisioning first and unlocked on every SSO page
  enterprise/frontend/src/metabase-enterprise/auth/components/Ldap.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsJWTForm/SettingsJWTForm.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsJWTForm/SettingsJWTForm.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsOIDCForm/OidcGroupMappingSection/OidcGroupMappingSection.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsOIDCForm/SettingsOIDCForm.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsOIDCForm/SettingsOIDCForm.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsSAMLForm/SettingsSAMLForm.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SettingsSAMLForm/SettingsSAMLForm.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/UserProvisioningSection/UserProvisioningSection.tsx
  frontend/src/metabase/admin/settings/components/SettingsLdapForm.enterprise.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/SettingsLdapForm.tsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/plugins/oss/auth.ts
Due: front-end

Bump snowflake JDBC driver to pull in a fix for a connection pool bug. (#83263)
  modules/drivers/snowflake/deps.edn
Due: none

Take no path for a page that only the background pass fetches
  frontend/src/metabase/router/prefetch-background.unit.spec.ts
  frontend/src/metabase/router/prefetch.ts
  frontend/src/metabase/routes.tsx
Due: front-end

Keep asking whether the background pass is wanted
  frontend/src/metabase/router/prefetch-background.unit.spec.ts
  frontend/src/metabase/router/prefetch.ts
Due: front-end

Leave full-app embedding out of the background pass
  frontend/src/metabase/app-main.ts
Due: front-end

Register enterprise pages only where the license mounts them
  enterprise/frontend/src/metabase-enterprise/ai-controls/index.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/routes.tsx
  enterprise/frontend/src/metabase-enterprise/application_permissions/index.ts
  enterprise/frontend/src/metabase-enterprise/application_permissions/routes.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/index.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/index.tsx
  enterprise/frontend/src/metabase-enterprise/data_apps/routes.tsx
  enterprise/frontend/src/metabase-enterprise/monitor/ai-auditing/routes.tsx
  enterprise/frontend/src/metabase-enterprise/replacement/index.ts
  enterprise/frontend/src/metabase-enterprise/replacement/routes.tsx
  enterprise/frontend/src/metabase-enterprise/schema_viewer/index.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/routes.tsx
Due: front-end

Migrate Pinned items off Emotion (#83131)
  frontend/src/metabase/collections/components/PinnedItemsGrid/PinnedItemsGrid.tsx
  frontend/src/metabase/common/collections/components/PinDropZone/PinDropZone.module.css
  frontend/src/metabase/common/collections/components/PinDropZone/PinDropZone.styled.tsx
  frontend/src/metabase/common/collections/components/PinDropZone/PinDropZone.tsx
Due: front-end

Migrate CollapseSection off Emotion (#83160)
  frontend/src/metabase/common/components/CollapseSection/CollapseSection.module.css
  frontend/src/metabase/common/components/CollapseSection/CollapseSection.styled.tsx
  frontend/src/metabase/common/components/CollapseSection/CollapseSection.tsx
Due: front-end

Reindex search after the site locale change commits
  src/metabase/search/appdb/core.clj
  test/metabase/search/appdb/core_test.clj
Due: back-end

Add explicit job timeouts (#83301)
  .github/workflows/auto-backport.yml
  .github/workflows/chromatic.yml
  .github/workflows/loki-update.yml
  .github/workflows/mage.yml
  .github/workflows/optimize-images.yml
  .github/workflows/perf-test.yml
  .github/workflows/rerun-workflows.yml
  .github/workflows/sync-fork.yml
  .github/workflows/translation-context.yml
Due: none

🤖 v64 backported "Consolidate admin e2e tests" (#83302)
  e2e/test/scenarios/admin/api-keys.cy.spec.ts
  e2e/test/scenarios/admin/authentication.cy.spec.ts
  e2e/test/scenarios/admin/database-connection-strings.cy.spec.ts
  e2e/test/scenarios/admin/database-routing/database-routing-admin.cy.spec.ts
  e2e/test/scenarios/admin/databases.cy.spec.js
  e2e/test/scenarios/admin/databases/database-writable-connection.cy.spec.ts
  e2e/test/scenarios/admin/datamodel/datamodel.cy.spec.ts
  e2e/test/scenarios/admin/datamodel/segments.cy.spec.ts
  e2e/test/scenarios/admin/error-reporting.cy.spec.ts
  e2e/test/scenarios/admin/help.cy.spec.ts
  e2e/test/scenarios/admin/i18n/content-translation/dashboards.cy.spec.ts
  e2e/test/scenarios/admin/i18n/content-translation/helpers/constants.ts
  e2e/test/scenarios/admin/i18n/content-translation/upload-and-download.cy.spec.ts
  e2e/test/scenarios/admin/multi-factor-auth.cy.spec.ts
  e2e/test/scenarios/admin/oauth-authorizations.cy.spec.ts
  e2e/test/scenarios/admin/people.cy.spec.js
  e2e/test/scenarios/admin/remote-sync.cy.spec.ts
  e2e/test/scenarios/admin/security-center-snowplow.cy.spec.ts
  e2e/test/scenarios/admin/security-center.cy.spec.ts
  e2e/test/scenarios/admin/settings.cy.spec.js
  e2e/test/scenarios/admin/sso/google.cy.spec.js
  e2e/test/scenarios/admin/sso/jwt.cy.spec.js
  e2e/test/scenarios/admin/sso/ldap.cy.spec.js
  e2e/test/scenarios/admin/sso/saml.cy.spec.js
  e2e/test/scenarios/admin/sso/shared/group-mappings-widget.js
  e2e/test/scenarios/admin/sso/shared/helpers.js
  e2e/test/scenarios/admin/tenants.cy.spec.ts
  e2e/test/scenarios/admin/whitelabel.cy.spec.js
Due: none

Remove unrelated join test assertion changes
  e2e/test/scenarios/joins/joins-reproductions.cy.spec.js
  e2e/test/scenarios/joins/joins.cy.spec.js
Due: none

Load the event handlers the locale reindex test depends on
  test/metabase/search/appdb/core_test.clj
Due: none

Log the locale reindex only when it runs
  src/metabase/search/appdb/core.clj
Due: back-end

Label combined 17710/39448 test sections with cy.log
  e2e/test/scenarios/joins/joins-reproductions.cy.spec.js
Due: none

Warn on reflection in the locale reindex test
  test/metabase/search/appdb/core_test.clj
Due: none

Split the SDK environment spec per artifact
  enterprise/frontend/src/embedding-sdk-package/test/environment.unit.spec.ts
Due: front-end

Move the wizard embed settings types next to the runtime options they extend
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/types.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/utils/build-embed-attributes.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/utils/get-common-embed-settings.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/utils/is-question-or-dashboard-settings.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/types/embed.ts
Due: front-end

Move the app shell visibility selectors into app nav
  frontend/lint/module-boundaries.mjs
  frontend/src/metabase/AppComponent.tsx
  frontend/src/metabase/app/nav/AppBar.tsx
  frontend/src/metabase/app/nav/selectors.ts
  frontend/src/metabase/app/nav/selectors.unit.spec.ts
Due: front-end

Fix joins assertions that could never fail
  e2e/test/scenarios/joins/joins.cy.spec.js
Due: none

Strengthen weak joins reproduction assertions
  e2e/test/scenarios/joins/joins-reproductions.cy.spec.js
Due: none

Run pending timers instead of all timers in the initializeQB spec
  frontend/src/metabase/query_builder/actions/core/initializeQB.unit.spec.ts
Due: front-end

Let async waits outlast a cold worker's first render
  frontend/test/__support__/ui.tsx
  frontend/test/jest-setup-env.js
Due: none

Hold the path loading state open longer than a waitFor poll
  frontend/src/metabase/common/components/Pickers/EntityPicker/hooks/use-get-path-from-value.unit.spec.tsx
Due: front-end

Compile jest imports lazily
  bun.lock
  frontend/test/i18n-import-time.unit.spec.ts
  frontend/test/jest-setup-eager.js
  frontend/test/jest-setup-env.js
  frontend/test/jest-test-runner.js
  jest.base.conf.js
  package.json
Due: none

Settle requests instead of sleeping in negative tests
  enterprise/frontend/src/embedding-sdk-ee/notifications/QuestionAlertsButton.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/security_center/components/SecurityCenterBanner/SecurityCenterBanner.unit.spec.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetailPanel.unit.spec.tsx
  frontend/test/__support__/utils.ts
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
