Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Fix bad debug format string
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
Due: back-end

Ensure logs are not lost for certain kinds of error
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
Due: back-end

Fix bad variable name
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
Due: back-end

feat: jsonl
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
  src/metabase/driver.clj
Due: back-end

Closes EMB-791 custom pivot column title not being translated (#63436) (#63492)
  e2e/test/scenarios/admin/i18n/content-translation/dashboards.cy.spec.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
Due: front-end

add index on report_card.type
  resources/migrations/056_update_migrations.yaml
Due: none

Python jsonl (#63437)
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
  src/metabase/driver.clj
Due: back-end

dead code
  src/metabase/driver.clj
Due: back-end

feat: update rename-table! impls to rename-tables!*
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  modules/drivers/clickhouse/src/metabase/driver/clickhouse.clj
  modules/drivers/mongo/src/metabase/driver/mongo.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
Due: none

Delete old skipped test (#63372)
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
Due: none

Use normal title case
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/ManageSection/ManageSection.tsx
Due: front-end

Add syntax highlighting to Python script on Transform page
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonEditor/PythonEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformPage/ManageSection/ManageSection.tsx
Due: front-end

Handle json-line output
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonEditor/ExecutionOutputTable.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonEditor/utils.ts
Due: front-end

Remove unused props
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/EditorBody/EditorBody.tsx
Due: front-end

Rename PythonEditor to PythonQueryEditor
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/EditorBody/EditorBody.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonQueryEditor/ExecutionOutputTable.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonQueryEditor/PythonQueryEditor.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonQueryEditor/PythonQueryEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonQueryEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonQueryEditor/utils.ts
Due: front-end

safeguard: send pulse skip legacy alerts
  src/metabase/pulse/send.clj
  src/metabase/pulse/task/send_pulses.clj
  test/metabase/pulse/send_test.clj
  test/metabase/pulse/task/send_pulses_test.clj
Due: back-end

Move script rewriter to utils
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/utils.ts
Due: front-end

Flatten Python transform page
  enterprise/frontend/src/metabase-enterprise/transforms/index.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/NewTransformQueryPage.tsx
Due: front-end

Rename shared to common
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/PythonQueryEditor/PythonQueryEditor.tsx
Due: front-end

Remove dead code
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/EditorBody/EditorBody.tsx
Due: front-end

Reduce specialization in Transform editor
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/QueryEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
Due: front-end

Remove unused props
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
Due: front-end

Move PythonQueryEditor to top-level components
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/ExecutionOutputTable.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/PythonQueryEditor.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/PythonQueryEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/ResizableBoxHandle/ResizableBoxHandle.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/ResizableBoxHandle/ResizableBoxHandle.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/ResizableBoxHandle/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonQueryEditor/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
Due: front-end

Nest Python editor components in PythonTransformEditor
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonDataPicker/PythonDataPicker.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonDataPicker/PythonDataPicker.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonDataPicker/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/ExecutionOutputTable.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/PythonQueryEditor.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/PythonQueryEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/ResizableBoxHandle/ResizableBoxHandle.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/ResizableBoxHandle/ResizableBoxHandle.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/ResizableBoxHandle/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
Due: front-end

Restructure Python transform editor
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/PythonEditorBody.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/PythonEditorBody.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/ResizableBoxHandle/ResizableBoxHandle.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/ResizableBoxHandle/ResizableBoxHandle.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/ResizableBoxHandle/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorResults/ExecutionOutputTable.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorResults/PythonEditorResults.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorResults/PythonEditorResults.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorResults/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorResults/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonQueryEditor/utils.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/utils.ts
Due: front-end

test fixes and kondo
  test/metabase/api/downloads_exports_test.clj
  test/metabase/pulse/send_test.clj
  test/metabase/pulse/task/send_pulses_test.clj
Due: none

Split up component more
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/PythonEditorBody.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorResults/PythonEditorResults.tsx
Due: front-end

create branch emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
  branches/emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
Due: none

chore: drop unused files
  enterprise/frontend/src/embedding-sdk-bundle/hooks/private/use-translated-collection-id.ts
  enterprise/frontend/src/metabase-enterprise/table-editing/table-edit/modals/DeleteRowConfirmationModal.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/QueryEditor/EditorBody/hooks.ts
  frontend/src/metabase/admin/settings/components/widgets/GroupMappingsWidget/SettingToggle.tsx
  frontend/src/metabase/admin/settings/types.ts
  frontend/src/metabase/databases/components/DatabaseHostnameSectionField/DatabaseHostameSectionField.styled.tsx
  frontend/src/metabase/detail-view/components/Header/utils.ts
  frontend/src/metabase/home/components/EmbedHomepage/Badge.ts
  frontend/src/metabase/lib/cookies.js
  frontend/src/metabase/lib/entity-id/hooks/use-validated-entity-id.ts
  frontend/src/metabase/lib/entity-id/types.ts
  frontend/src/metabase/metabot-v3/selectors.ts
  frontend/src/metabase/querying/expressions/tokenizer/types.ts
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetailWrapper.styled.tsx
  frontend/src/metabase/visualizations/lib/get-dashboard-image.ts
Due: front-end

Add helpers for python editor
  e2e/support/helpers/e2e-python-helpers.ts
  e2e/support/helpers/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonEditor/PythonEditor.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonEditorBody/PythonEditorBody.tsx
  frontend/src/metabase/common/components/CodeEditor/CodeEditor.tsx
Due: front-end

Disable default schema
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewPythonTransformPage/CreatePythonTransformModal/CreatePythonTransformModal.tsx
Due: front-end

Add test ids
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonDataPicker/PythonDataPicker.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/PythonTransformEditor/PythonTransformEditor.tsx
Due: front-end

Fix import path
  enterprise/frontend/src/metabase-enterprise/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
Due: front-end

stop parsing dtype, driver fixes
  enterprise/backend/src/metabase_enterprise/transforms/execute.clj
  enterprise/backend/src/metabase_enterprise/transforms/util.clj
  modules/drivers/mongo/src/metabase/driver/mongo.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  src/metabase/driver/mysql.clj
  src/metabase/driver/postgres.clj
Due: back-end

Reuse transform save modal
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewPythonTransformPage/CreatePythonTransformModal/CreatePythonTransformModal.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewPythonTransformPage/CreatePythonTransformModal/index.ts
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewPythonTransformPage/NewPythonTransformPage.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/CreateTransformModal/CreateTransformModal.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/NewTransformQueryPage.tsx
Due: front-end

Add e2e test for Python transform cretion
  e2e/test/scenarios/admin/transforms.cy.spec.ts
Due: none

emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint: save prepared branch
  prepared/emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
Due: none

branch submit emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
  branches/emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
Due: none

emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint: clear prepared branch
  prepared/emb-805-check-for-csv-uploads-in-embedding-hub-checklist-endpoint
Due: none
