Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Expose `interestingness_score` on `/api/exploration/:id`
  src/metabase/explorations/api.clj
  src/metabase/explorations/models/exploration_query.clj
  src/metabase/explorations/models/exploration_thread.clj
  test/metabase/explorations/api_test.clj
Due: back-end

Guard against hydrating snippets in collection
  frontend/src/metabase/api/collection.ts
Due: front-end

🤖 backported "Lighter prometheus analytics" (#73511)
  src/metabase/analytics/core.clj
  src/metabase/analytics/impl.clj
  src/metabase/analytics/init.clj
  src/metabase/analytics/prometheus.clj
  src/metabase/analytics/settings.clj
  src/metabase/analytics_interface/core.cljc
  src/metabase/core/core.clj
  test/metabase/analytics/prometheus_test.clj
  test/metabase/test_runner.clj
Due: back-end

feat: add ai-controls and metabot-analytics upsells
  enterprise/frontend/src/metabase-enterprise/ai-controls/index.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/nav.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotCustomizationPage/MetabotCustomizationUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotCustomizationPage/index.ts
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/MetabotFeatureAccessUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/index.ts
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotSystemPromptsPage/MetabotSystemPromptsUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotSystemPromptsPage/index.ts
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUpsellPage/MetabotUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUpsellPage/index.ts
  enterprise/frontend/src/metabase-enterprise/ai-controls/routes.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/index.js
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/MetabotAnalyticsUpsellPage/MetabotAnalyticsUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/MetabotAnalyticsUpsellPage/index.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/nav.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/routes.tsx
  resources/frontend_client/app/assets/img/upsell-ai-customization.png
  resources/frontend_client/app/assets/img/upsell-ai-system-prompts.png
  resources/frontend_client/app/assets/img/upsell-ai-usage-auditing.png
  resources/frontend_client/app/assets/img/upsell-ai-usage-controls.png
Due: front-end

fix: use better locations and campaigns
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotCustomizationPage/MetabotCustomizationUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/MetabotFeatureAccessUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotSystemPromptsPage/MetabotSystemPromptsUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUpsellPage/MetabotUpsellPage.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/MetabotAnalyticsUpsellPage/MetabotAnalyticsUpsellPage.tsx
Due: front-end

Per-driver SQL emission snapshots for the workspace rewriter
  enterprise/backend/test/metabase_enterprise/workspaces/query_processor/corpus_test.clj
Due: back-end

test: extend unit tests
  frontend/src/metabase/metabot/components/MetabotAdmin/MetabotNavPane.unit.spec.tsx
Due: front-end

add chart interestingness indicator
  frontend/src/metabase-types/api/exploration.ts
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.module.css
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/TimelineDropdown.tsx
  frontend/src/metabase/ui/colors/constants/themes/dark.ts
  frontend/src/metabase/ui/colors/constants/themes/light.ts
  frontend/src/metabase/ui/colors/types/color-keys.ts
Due: front-end

Improved /api/explore/dimension performance
  src/metabase/explorations/impl.clj
Due: back-end

Add modules-backend-expert agent
  .claude/agents/modules-backend-expert.md
Due: none

hit yaml files from the classpath
  src/metabase/plugins/impl.clj
Due: back-end

move plugin files to a place survives uberjar
  bin/build/src/build/uberjar.clj
  modules/drivers/athena/resources/metabase/athena/metabase-plugin.yaml
  modules/drivers/bigquery-cloud-sdk/resources/metabase/bigquery-cloud-sdk/metabase-plugin.yaml
  modules/drivers/clickhouse/resources/metabase/clickhouse/metabase-plugin.yaml
  modules/drivers/databricks/resources/metabase/databricks/metabase-plugin.yaml
  modules/drivers/druid-jdbc/resources/metabase/druid-jdbc/metabase-plugin.yaml
  modules/drivers/druid/resources/metabase/druid/metabase-plugin.yaml
  modules/drivers/hive-like/resources/metabase/hive-like/metabase-plugin.yaml
  modules/drivers/mongo/resources/metabase/mongo/metabase-plugin.yaml
  modules/drivers/oracle/resources/metabase/oracle/metabase-plugin.yaml
  modules/drivers/presto-jdbc/resources/metabase/presto-jdbc/metabase-plugin.yaml
  modules/drivers/redshift/resources/metabase/redshift/metabase-plugin.yaml
  modules/drivers/snowflake/resources/metabase/snowflake/metabase-plugin.yaml
  modules/drivers/sparksql/resources/metabase/sparksql/metabase-plugin.yaml
  modules/drivers/sqlite/resources/metabase/sqlite/metabase-plugin.yaml
  modules/drivers/sqlserver/resources/metabase/sqlserver/metabase-plugin.yaml
  modules/drivers/starburst/resources/metabase/starburst/metabase-plugin.yaml
  modules/drivers/vertica/resources/metabase/vertica/metabase-plugin.yaml
Due: none

build a jar with drivers on the classpath, not inside the jar
  bin/build/src/build.clj
  bin/build/src/build/uberjar.clj
Due: none

Find maniests in current jar
  enterprise/backend/src/metabase_enterprise/audit_app/audit.clj
  src/metabase/plugins/impl.clj
  src/metabase/util/files.clj
Due: back-end

load local manifests as well
  src/metabase/plugins/impl.clj
Due: back-end

aot drivers
  bin/build/src/build/uberjar.clj
Due: none

Consolidate write path through the RemappingStore protocol
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/workspaces/remapping/core.clj
  enterprise/backend/src/metabase_enterprise/workspaces/table_remapping.clj
  enterprise/backend/test/metabase_enterprise/workspaces/remapping/core_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/table_remapping_test.clj
Due: back-end

Route add-transform-target-mapping! through spec-for-table (audit H7)
  enterprise/backend/src/metabase_enterprise/workspaces/table_remapping.clj
  enterprise/backend/src/metabase_enterprise/workspaces/transform_hooks.clj
  enterprise/backend/test/metabase_enterprise/workspaces/table_remapping_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/transform_hooks_test.clj
Due: back-end

WIP: summarizing product implications
  h2-to-embedded-pg-plan.md
Due: none

contextual interestingness
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/metabot/usage.clj
  resources/migrations/062/20260428_explorations.yaml
  resources/migrations/instance_analytics_views/ai_usage_log/v1/h2-ai_usage_log.sql
  resources/migrations/instance_analytics_views/ai_usage_log/v1/mysql-ai_usage_log.sql
  resources/migrations/instance_analytics_views/ai_usage_log/v1/postgres-ai_usage_log.sql
  resources/migrations/instance_analytics_views/metabot_conversations/v1/h2-metabot_conversations.sql
  resources/migrations/instance_analytics_views/metabot_conversations/v1/mysql-metabot_conversations.sql
  resources/migrations/instance_analytics_views/metabot_conversations/v1/postgres-metabot_conversations.sql
  src/metabase/contextual_interestingness/core.clj
  src/metabase/explorations/api.clj
  src/metabase/explorations/models/exploration_query.clj
  src/metabase/explorations/models/exploration_thread.clj
  src/metabase/explorations/task/runner.clj
  test/metabase/contextual_interestingness/core_test.clj
  test/metabase/explorations/api_test.clj
  test/metabase/explorations/task/runner_test.clj
Due: back-end

Remove a comment about a question that is now answered
  enterprise/backend/test/metabase_enterprise/workspaces/table_remapping_test.clj
Due: back-end

Add metabase-enterprise.workspaces.init for eager defenterprise loading
  enterprise/backend/src/metabase_enterprise/core/init.clj
  enterprise/backend/src/metabase_enterprise/workspaces/init.clj
Due: back-end

Canonicalize workspace-rewritten target before sync-table! upserts
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/workspaces/table_remapping.clj
  src/metabase/transforms_base/util.clj
  src/metabase/workspaces/table_remapping.clj
Due: back-end

right/left arrow keys to move through charts
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.tsx
  frontend/src/metabase/explorations/pages/ExplorationPage.tsx
Due: front-end

Remove set-test-drivers! call from test
  enterprise/backend/test/metabase_enterprise/workspaces/e2e_test.clj
Due: back-end

Improve scoring logic to not have unknown interestingness impact the overall score. Ensure all null scores in the database are re-synced on the next sync
  resources/migrations/062/20260428_explorations.yaml
  src/metabase/interestingness/dimension.clj
  src/metabase/interestingness/impl.clj
  test/metabase/interestingness/dimension_test.clj
  test/metabase/interestingness/impl_test.clj
Due: back-end

BOT-1410 Add ai-usage-max-retention-days setting and use it in ai-usage-trimmer
  enterprise/backend/src/metabase_enterprise/metabot/settings.clj
  enterprise/backend/src/metabase_enterprise/metabot/task/ai_usage_trimmer.clj
  enterprise/backend/test/metabase_enterprise/metabot/settings_test.clj
  enterprise/backend/test/metabase_enterprise/metabot/task/ai_usage_trimmer_test.clj
Due: back-end

rebase and tidy up
  bin/build/src/build/uberjar.clj
  src/metabase/plugins/impl.clj
Due: back-end

Hide isolation schema from "Show me the SQL" preview
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/workspaces/table_remapping.clj
  enterprise/backend/test/metabase_enterprise/workspaces/remapping/core_test.clj
  src/metabase/query_processor/api.clj
  src/metabase/workspaces/table_remapping.clj
Due: back-end

Flatten drivers into the uberjar instead of extracting nested JARs at runtime
  .clj-kondo/config/modules/config.edn
  bin/build/src/build.clj
  bin/build/src/build/uberjar.clj
  enterprise/backend/src/metabase_enterprise/audit_app/audit.clj
  modules/drivers/athena/resources/metabase/athena/metabase-plugin.yaml
  modules/drivers/bigquery-cloud-sdk/resources/metabase/bigquery-cloud-sdk/metabase-plugin.yaml
  modules/drivers/clickhouse/resources/metabase/clickhouse/metabase-plugin.yaml
  modules/drivers/databricks/resources/metabase/databricks/metabase-plugin.yaml
  modules/drivers/druid-jdbc/resources/metabase/druid-jdbc/metabase-plugin.yaml
  modules/drivers/druid/resources/metabase/druid/metabase-plugin.yaml
  modules/drivers/hive-like/resources/metabase/hive-like/metabase-plugin.yaml
  modules/drivers/mongo/resources/metabase/mongo/metabase-plugin.yaml
  modules/drivers/oracle/resources/metabase/oracle/metabase-plugin.yaml
  modules/drivers/presto-jdbc/resources/metabase/presto-jdbc/metabase-plugin.yaml
  modules/drivers/redshift/resources/metabase/redshift/metabase-plugin.yaml
  modules/drivers/snowflake/resources/metabase/snowflake/metabase-plugin.yaml
  modules/drivers/sparksql/resources/metabase/sparksql/metabase-plugin.yaml
  modules/drivers/sqlite/resources/metabase/sqlite/metabase-plugin.yaml
  modules/drivers/sqlserver/resources/metabase/sqlserver/metabase-plugin.yaml
  modules/drivers/starburst/resources/metabase/starburst/metabase-plugin.yaml
  modules/drivers/vertica/resources/metabase/vertica/metabase-plugin.yaml
  src/metabase/plugins/impl.clj
  src/metabase/util/files.clj
Due: back-end

Add good comment
  test/metabase/driver/workspace_isolation_test.clj
Due: none

m. self-review
  src/metabase/warehouses_rest/api.clj
  test/metabase/warehouses_rest/api_test.clj
Due: back-end

tasteful renames
  src/metabase/plugins/impl.clj
Due: back-end

handle oracle ee/oss divide
  deps.edn
  modules/drivers/oracle/deps.edn
  modules/drivers/oracle/resources-ee/metabase-plugin.yaml
Due: none

little cleaner
  src/metabase/util/files.clj
Due: back-end

remove build driver test
  bin/build/test/build_drivers/build_driver_test.clj
Due: none

🤖 backported "uxw-3931: check table perms with single CTE" (#73509)
  enterprise/backend/src/metabase_enterprise/data_studio/permissions/published_tables.clj
  enterprise/backend/test/metabase_enterprise/data_studio/permissions/published_tables_test.clj
  src/metabase/permissions/models/data_permissions/sql.clj
  src/metabase/permissions/published_tables.clj
  src/metabase/warehouse_schema/models/table.clj
Due: back-end

vertica follows oracle's pattern
  bin/build/src/build/uberjar.clj
  deps.edn
  modules/drivers/vertica/deps.edn
  modules/drivers/vertica/resources-ee/metabase-plugin.yaml
Due: none

preserve clj files for vertica and oracle
  bin/build/src/build/uberjar.clj
Due: none

handle group in connection properties
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Due: none
