Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Revert converting multimethod ->integer to defn
  src/metabase/driver/mysql.clj
  src/metabase/driver/sql/query_processor.clj
Due: back-end

WIP
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/EditTableDashcardVisualization.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/EditTableDataGrid.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/edit/use-table-actions.ts
  frontend/src/metabase/data-grid/types.ts
  frontend/src/metabase/data-grid/utils/columns/row-actions-column.tsx
Due: front-end

fix: snowflake rsa doesn't work with hostname
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Due: none

Revert making typed? public (don't need it no more)
  src/metabase/util/honey_sql_2.clj
Due: back-end

check for the right things
  test/metabase/api/util_test.clj
Due: none

remove react 19 as a limitation
  docs/embedding/sdk/introduction.md
Due: none

Revert converting multimethod ->float to defn
  modules/drivers/athena/src/metabase/driver/athena.clj
  src/metabase/driver/mysql.clj
  src/metabase/driver/sql/query_processor.clj
Due: back-end

Compare byte arrays
  src/metabase/models/secret.clj
Due: back-end

Try clickhouse using cast() instead of toFloat64()
  modules/drivers/clickhouse/src/metabase/driver/clickhouse_qp.clj
Due: none

Revert presto jdbc ->float implementation
  modules/drivers/presto-jdbc/src/metabase/driver/presto_jdbc.clj
Due: none

Use keyword type name for float-dbtype
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  src/metabase/driver/mysql.clj
  src/metabase/driver/sql/query_processor.clj
Due: back-end

Revert removing ->float method from bigquery clickhouse and starburst
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk/query_processor.clj
  modules/drivers/clickhouse/src/metabase/driver/clickhouse_qp.clj
  modules/drivers/starburst/src/metabase/driver/starburst.clj
Due: none

fix stack traces + task!
  bb.edn
  bin/mage.bb
  mage/mage/format.clj
Due: none

Fix schema for nil
  src/metabase/sync/sync_metadata/tables.clj
Due: back-end

Check for axis type instead of Category (#57128)
  frontend/src/metabase-lib/v1/metadata/Field.ts
  frontend/src/metabase-lib/v1/types/utils/isa.js
  frontend/src/metabase/visualizations/echarts/cartesian/chart-measurements/index.ts
Due: front-end

Move :expression-literals aggregation tests into expressions_test.clj (#57144)
  test/metabase/query_processor_test/expression_aggregations_test.clj
  test/metabase/query_processor_test/expressions_test.clj
Due: none

impl several performance improvements for the admin permissions editor pages
  enterprise/frontend/src/metabase-enterprise/advanced_permissions/index.js
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/index.ts
  enterprise/frontend/src/metabase-enterprise/feature_level_permissions/permission-management/download-permission.ts
  enterprise/frontend/src/metabase-enterprise/sandboxes/selectors.ts
  frontend/src/metabase/admin/permissions/components/PermissionsSelect/PermissionsSelect.jsx
  frontend/src/metabase/admin/permissions/components/PermissionsSelect/PermissionsSelectOption.jsx
  frontend/src/metabase/admin/permissions/components/PermissionsTable/PermissionsTable.jsx
  frontend/src/metabase/admin/permissions/constants/data-permissions.tsx
  frontend/src/metabase/admin/permissions/selectors/data-permissions/diff.ts
  frontend/src/metabase/admin/permissions/selectors/data-permissions/group-sidebar.ts
  frontend/src/metabase/admin/permissions/selectors/data-permissions/permission-editor.ts
  frontend/src/metabase/admin/permissions/utils/icons.ts
  frontend/src/metabase/core/components/Ellipsified/Ellipsified.tsx
  frontend/src/metabase/hooks/use-is-truncated.ts
  frontend/src/metabase/plugins/index.ts
Due: front-end

ignore :bb cljc things that trip up kondo
  bin/lint-migrations-file/src/lint_migrations_file.cljc
Due: none

WIP
  frontend/src/metabase-lib/v1/queries/utils/pivot.ts
  frontend/src/metabase/lib/data_grid.js
  frontend/src/metabase/services.js
  src/metabase/query_processor/pivot.clj
Due: back-end, front-end

remove `hello from the new site` and 100 `hi`s
  docs/README.md
Due: none

Merge branch 'doc-update-detection' of github.com:metabase/metabase into doc-update-detection
  docs/README.md
Due: none

test
  src/metabase/api/table.clj
  test/metabase/api/table_test.clj
Due: back-end

Switch to bar without relying on Category
  frontend/src/metabase-lib/v1/Question.ts
  frontend/src/metabase-lib/viz/display.ts
Due: front-end

fix send once alerts repeatedly sending
  src/metabase/notification/send.clj
  test/metabase/notification/payload/impl/card_test.clj
Due: back-end

cljfmt
  src/metabase/notification/send.clj
Due: back-end

wip
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCard.tsx
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
  frontend/src/metabase/visualizer/components/VisualizerModal/VisualizerModal.tsx
  frontend/src/metabase/visualizer/visualizer.slice.ts
Due: front-end

put schema to the defmethod
  src/metabase/notification/payload/impl/card.clj
  src/metabase/notification/payload/impl/dashboard.clj
Due: back-end

make visualizer serialization friendly
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCard.tsx
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
  frontend/src/metabase/visualizer/components/VisualizerModal/VisualizerModal.tsx
  frontend/src/metabase/visualizer/selectors.ts
  frontend/src/metabase/visualizer/utils/click-actions.ts
  frontend/src/metabase/visualizer/utils/column.ts
  frontend/src/metabase/visualizer/utils/data-source.ts
  frontend/src/metabase/visualizer/utils/get-initial-state-for-card-data-source.ts
  frontend/src/metabase/visualizer/utils/get-updated-settings-for-display.unit.spec.ts
  frontend/src/metabase/visualizer/utils/merge-data.ts
  frontend/src/metabase/visualizer/utils/merge-data.unit.spec.ts
  frontend/src/metabase/visualizer/utils/split-series.ts
  frontend/src/metabase/visualizer/visualizations/cartesian.unit.spec.ts
  frontend/src/metabase/visualizer/visualizations/funnel.unit.spec.ts
  frontend/src/metabase/visualizer/visualizations/pie.unit.spec.ts
  frontend/src/metabase/visualizer/visualizer.slice.ts
Due: front-end

dashboard is out of question for now
  src/metabase/notification/payload/impl/dashboard.clj
Due: back-end

skip reason nil
  src/metabase/notification/payload/core.clj
Due: back-end

Add unit tests for email page
  frontend/src/metabase/admin/settings/components/SettingsPages/EmailSettingsPage.tsx
  frontend/src/metabase/admin/settings/components/SettingsPages/EmailSettingsPage.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/widgets/BccToggleWidget.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmailReplyToWidget.unit.spec.tsx
Due: front-end

refactor email channel to directly sending postal message
  enterprise/backend/test/metabase_enterprise/data_editing/notification_test.clj
  src/metabase/channel/email.clj
  src/metabase/channel/impl/email.clj
  src/metabase/notification/api/notification.clj
  src/metabase/notification/payload/impl/system_event.clj
  test/metabase/channel/impl/email_test.clj
  test/metabase/notification/api/notification_test.clj
  test/metabase/notification/payload/impl/card_test.clj
  test/metabase/notification/payload/impl/system_event_test.clj
  test/metabase/notification/send_test.clj
Due: back-end

Use newer hooks
  frontend/src/metabase/admin/settings/components/SettingsPages/EmailSettingsPage.tsx
Due: front-end

test fixes
  deps.edn
  test/metabase/dashboard_subscription_test.clj
  test/metabase/pulse/api/pulse_test.clj
  test/metabase/pulse/pulse_integration_test.clj
  test/metabase/pulse/send_test.clj
Due: none

test for custom context
  enterprise/backend/test/metabase_enterprise/data_editing/notification_test.clj
  src/metabase/notification/api/notification.clj
Due: back-end

test fixes (2)
  test/metabase/api/downloads_exports_test.clj
Due: none

does it autosave or sth?
  deps.edn
Due: none

message schema
  src/metabase/channel/impl/email.clj
Due: back-end

final test fixes
  test/metabase/channel/impl/email_test.clj
  test/metabase/notification/send_test.clj
Due: none

fix(sdk): Ensure that questions don't flicker when fetching entity IDs (#57073) (#57129)
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Visualization.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/context/InteractiveQuestionProvider.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/context/types.ts
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestionDefaultView/InteractiveQuestionDefaultView.tsx
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/InteractiveQuestion.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/hooks/private/use-load-question.ts
  enterprise/frontend/src/embedding-sdk/hooks/private/use-sdk-dashboard-params.ts
  enterprise/frontend/src/embedding-sdk/lib/interactive-question/load-question.ts
  enterprise/frontend/src/embedding-sdk/types/question.ts
  frontend/src/metabase/api/entity-id.ts
  frontend/src/metabase/lib/entity-id/fetch-entity-id.ts
  frontend/src/metabase/lib/entity-id/hooks/use-validated-entity-id.ts
  frontend/src/metabase/lib/entity-id/types.ts
  frontend/test/__support__/server-mocks/entity-id.ts
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
