Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Update 15946 e2e test - modal() expects ModalContent to be present in DOM, but NativeQuerymodal uses ModalBody directly - add extra check for run button to be enabled
  e2e/test/scenarios/native/reproductions/15946-mongo-pre-select-table.cy.spec.js
Due: none

Reset password
  frontend/src/metabase/auth/components/ResetPassword/ResetPassword.tsx
Due: front-end

Enable replay assers again
  .github/workflows/e2e-tests.yml
Due: none

Ensure collection is present in dataset query during query conversion
  frontend/src/metabase/query_builder/components/view/ConvertQueryModal/ConvertQueryModal.tsx
  frontend/src/metabase/query_builder/components/view/ConvertQueryModal/utils.ts
Due: front-end

Unskip e2e test for #15946
  e2e/test/scenarios/native/reproductions/15946-mongo-pre-select-table.cy.spec.js
Due: none

Rank models over non-models in autocomplete (#31064)
  src/metabase/api/database.clj
  test/metabase/api/database_test.clj
Due: back-end

Fix unit tests to reflect that some expressions don't have options
  frontend/src/metabase-lib/queries/utils/get-column-key.unit.spec.js
  frontend/test/metabase-lib/lib/Dimension.unit.spec.js
Due: front-end

fix: setup url should use MB_SITE_URL if available (#31078)
  src/metabase/core.clj
Due: back-end

fix: log /api/health calls (#31081)
  src/metabase/server/middleware/log.clj
Due: back-end

fix: docker git needs config to trust source dir (#31066)
  Dockerfile
Due: none

Handle string tableId
  frontend/src/metabase/query_builder/components/view/ConvertQueryModal/utils.ts
Due: front-end

Fix the test
  enterprise/frontend/src/metabase-enterprise/auth/actions.ts
  enterprise/frontend/src/metabase-enterprise/auth/components/SSOButton/SSOButton.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SSOButton/SSOButton.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SSOButton/index.ts
  enterprise/frontend/src/metabase-enterprise/auth/containers/SSOButton/SSOButton.tsx
  enterprise/frontend/src/metabase-enterprise/auth/containers/SSOButton/index.ts
  enterprise/frontend/src/metabase-enterprise/auth/index.js
  enterprise/frontend/src/metabase-enterprise/auth/utils.ts
  frontend/src/metabase/auth/components/Logout/Logout.unit.spec.tsx
Due: front-end

Remove icon, not used
  frontend/src/metabase/auth/components/AuthButton/AuthButton.styled.tsx
  frontend/src/metabase/auth/components/AuthButton/AuthButton.tsx
  frontend/src/metabase/auth/components/AuthButton/AuthButton.unit.spec.tsx
Due: front-end

Rename button
  enterprise/frontend/src/metabase-enterprise/auth/components/SSOButton/index.ts
  enterprise/frontend/src/metabase-enterprise/auth/components/SsoButton/SsoButton.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SsoButton/SsoButton.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/auth/components/SsoButton/index.ts
  enterprise/frontend/src/metabase-enterprise/auth/index.js
Due: front-end

Add tests and refactor old ones to match actual expression field_ref format
  e2e/test/scenarios/question/reproductions/30905-custom-columns-visualization-settings-trigger-dirty-flag.cy.spec.js
  frontend/src/metabase-lib/queries/utils/get-column-key.unit.spec.js
  frontend/src/metabase-lib/references.unit.spec.ts
  frontend/src/metabase-types/api/query.ts
Due: front-end

More concise typescript for ExpressionReference
  frontend/src/metabase-types/api/query.ts
Due: front-end

Small changes for tooltip labels
  frontend/src/metabase/query_builder/components/RunButtonWithTooltip.jsx
  frontend/src/metabase/query_builder/components/view/QuestionNotebookButton.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Due: front-end

Run query -> Refresh on the label
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Due: front-end

Fix error unwrapping
  frontend/src/metabase/setup/actions.ts
Due: front-end

Fix error handling
  frontend/src/metabase/auth/actions.ts
Due: front-end

Fix system time in `parameters/utils/mbql` tests
  frontend/src/metabase-lib/parameters/utils/mbql.unit.spec.js
Due: front-end

Fix system time in `parameters/utils/mbql` tests (#31123)
  frontend/src/metabase-lib/parameters/utils/mbql.unit.spec.js
Due: front-end

Revert some changes
  frontend/src/metabase-lib/Dimension.ts
  frontend/src/metabase-lib/references.ts
Due: front-end

Revert getColumnKey to original state
  frontend/src/metabase-lib/queries/utils/get-column-key.ts
Due: front-end

Revert more files
  frontend/src/metabase-lib/queries/utils/get-column-key.unit.spec.js
  frontend/src/metabase/query_builder/actions/core/updateQuestion.ts
  frontend/test/metabase-lib/lib/Dimension.unit.spec.js
Due: front-end

Deprecate Settings
  frontend/src/metabase/lib/settings.ts
Due: front-end

Make stage index required in MLv2 methods
  frontend/src/metabase-lib/breakout.ts
  frontend/src/metabase-lib/breakout.unit.spec.ts
  frontend/src/metabase-lib/limit.ts
  frontend/src/metabase-lib/metadata.ts
  frontend/src/metabase-lib/order_by.ts
  frontend/src/metabase-lib/order_by.unit.spec.ts
  frontend/src/metabase-lib/queries/StructuredQuery.ts
  frontend/src/metabase-lib/query.ts
  frontend/src/metabase-lib/test-helpers.ts
  frontend/src/metabase/common/components/QueryColumnPicker/QueryColumnPicker.tsx
  frontend/src/metabase/common/components/QueryColumnPicker/QueryColumnPicker.unit.spec.tsx
  frontend/src/metabase/common/utils/columns.unit.spec.ts
  frontend/src/metabase/query_builder/actions/query-updates.ts
  frontend/src/metabase/query_builder/components/notebook/steps/LimitStep/LimitStep.unit.spec.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/SortStep/SortStep.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/SortStep/SortStep.unit.spec.tsx
  frontend/src/metabase/query_builder/components/view/QuestionRowCount/QuestionRowCount.tsx
  frontend/src/metabase/query_builder/components/view/QuestionRowCount/QuestionRowCount.unit.spec.tsx
Due: front-end

Fix `QuestionRowCount`
  frontend/src/metabase/query_builder/components/view/QuestionRowCount/QuestionRowCount.tsx
Due: front-end

Add wrappers for `appendStage` and `dropStage`
  frontend/src/metabase-lib/query.ts
Due: front-end

Fix `StructuredQuery` limit method
  frontend/src/metabase-lib/queries/StructuredQuery.ts
Due: front-end

Clean redundant stages in notebook
  frontend/src/metabase/query_builder/components/notebook/NotebookSteps/NotebookSteps.tsx
Due: front-end

Fix notebook stage index management
  frontend/src/metabase/query_builder/components/notebook/lib/steps.ts
Due: front-end

[CI] Enable replay asserts again (#31110)
  .github/workflows/e2e-tests.yml
Due: none

Add extra header actions to ModalContent component
  frontend/src/metabase/components/ModalContent/ModalContent.stories.tsx
  frontend/src/metabase/components/ModalContent/ModalContent.styled.ts
  frontend/src/metabase/components/ModalContent/ModalContent.tsx
Due: front-end

notes on widget types
  docs/dashboards/filters.md
Due: none

Ensure aggregation metadata has effective-type (#31100)
  src/metabase/lib/aggregation.cljc
  src/metabase/lib/stage.cljc
  src/metabase/util.cljc
  test/metabase/lib/aggregation_test.cljc
Due: back-end

Hydrate whether actions are enabled/disabled for the database on action dashcards instead of using GET /api/database/:id (#31021)
  frontend/src/metabase-types/api/actions.ts
  frontend/src/metabase-types/api/mocks/actions.ts
  frontend/src/metabase/actions/components/ActionViz/Action.tsx
  frontend/src/metabase/actions/components/ActionViz/Action.unit.spec.tsx
  frontend/src/metabase/dashboard/utils.ts
  src/metabase/models/action.clj
  test/metabase/api/dashboard_test.clj
Due: back-end, front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
