Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Run on test for pushing
  .github/workflows/repro-bot.yml
Due: none

Fixing migrations
  resources/migrations/059_update_migrations.yaml
Due: none

happy types
  frontend/src/metabase-lib/index.ts
  frontend/src/metabase-lib/metric/core.unit.spec.ts
  frontend/src/metabase-lib/query/display.unit.spec.ts
  frontend/src/metabase-lib/query/metadata.ts
  frontend/src/metabase-lib/query/test-helpers.unit.spec.ts
  frontend/src/metabase-lib/query/types.ts
  frontend/src/metabase-lib/test-helpers.ts
  frontend/src/metabase-types/api/measure.ts
  frontend/src/metabase/metrics-viewer/components/BreakoutDimensionPicker/BreakoutDimensionPicker.tsx
  frontend/src/metabase/metrics-viewer/components/BreakoutLegend/BreakoutLegend.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionBucketPicker/DimensionBucketPicker.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricResultItem/MetricResultItem.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchDropdown/MetricSearchDropdown.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchResults/MetricSearchResults.tsx
  frontend/src/metabase/metrics-viewer/utils/url-serialization.unit.spec.ts
  frontend/src/metabase/metrics/components/FilterPicker/FilterDimensionPicker/utils.ts
  frontend/src/metabase/metrics/components/FilterPicker/StringFilterPicker/hooks.ts
  frontend/src/metabase/metrics/components/FilterPicker/StringFilterPicker/utils.ts
  frontend/src/metabase/metrics/components/FilterPicker/TimeFilterPicker/TimeFilterPicker.tsx
  frontend/src/metabase/metrics/components/FilterPicker/TimeFilterPicker/constants.ts
  frontend/src/metabase/metrics/components/FilterPicker/TimeFilterPicker/hooks.ts
  frontend/src/metabase/metrics/components/FilterPicker/TimeFilterPicker/types.ts
  frontend/src/metabase/metrics/components/FilterPicker/TimeFilterPicker/utils.ts
  frontend/src/metabase/querying/filters/components/FilterPicker/CoordinateFilterPicker/CoordinateFilterPicker.tsx
  frontend/src/metabase/querying/filters/components/FilterPicker/FilterValuePicker/utils.ts
  frontend/src/metabase/querying/filters/components/FilterPicker/NumberFilterPicker/hooks.ts
  frontend/src/metabase/querying/filters/components/FilterPicker/StringFilterPicker/StringFilterPicker.tsx
  frontend/src/metabase/querying/filters/components/FilterPicker/TimeFilterPicker/TimeFilterPicker.tsx
  frontend/src/metabase/rich_text_editing/tiptap/extensions/MetabotMention/MetabotSuggestionNew.tsx
  frontend/src/metabase/visualizations/components/TableInteractive/TableInteractive.tsx
Due: front-end

linting
  frontend/src/metabase/common/components/DimensionPill/DimensionPill.module.css
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/MetricSearchInput.module.css
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/AddDimensionPopover/AddDimensionPopover.module.css
Due: front-end

add test
  src/metabase/lib/expression.cljc
  test/metabase/lib/expression_test.cljc
Due: back-end

Fix column-metadata->field-ref-source-alias-test (#70458)
  test/metabase/lib/field_test.cljc
Due: none

Trying tokens
  .github/workflows/repro-bot.yml
Due: none

Can't do push
  .github/workflows/repro-bot.yml
Due: none

Apply suggestion from @jeff-bruemmer
  README.md
Due: none

clean-up
  README.md
Due: none

update readme
  README.md
Due: none

edits
  README.md
Due: none

Add full implementation
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/MetricOverviewPage/MetricOverview/DescriptionSection/DescriptionSection.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/MetricOverviewPage/MetricOverview/MetricOverview.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/MetricOverviewPage/MetricOverview/MetricOverview.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/MetricOverviewPage/MetricOverview/QuerySourceSection/QuerySourceInfo.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/MetricOverviewPage/MetricOverview/QuerySourceSection/QuerySourceSection.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/metrics/pages/MetricOverviewPage/MetricOverview/QuerySourceSection/index.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/DescriptionSection/DescriptionSection.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/DescriptionSection/DescriptionSection.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/TableOverview.module.css
  enterprise/frontend/src/metabase-enterprise/dependencies/hooks/use-get-dependencies-count/use-get-dependencies-count.ts
  frontend/src/metabase/data-studio/common/components/OverviewVisualization/OverviewVisualization.module.css
Due: front-end

Temp
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/DescriptionSection/DescriptionSection.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/DescriptionSection/DescriptionSection.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/TableOverview.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/TableOverview.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/library/tables/pages/TableOverviewPage/TableOverview/img.png
  frontend/src/metabase/data-studio/common/components/OverviewVisualization/OverviewVisualization.module.css
Due: front-end

Ignore some generated files (#70454)
  .gitignore
Due: none

fix: Metabot not receiving transform errors from transforms
  enterprise/frontend/src/metabase-enterprise/transforms-python/components/PythonTransformEditor/PythonTransformEditor.tsx
  frontend/src/metabase-types/api/metabot.ts
  frontend/src/metabase/transforms/hooks/use-register-transform-metabot-context.ts
  frontend/src/metabase/transforms/hooks/use-register-transform-metabot-context.unit.spec.ts
  frontend/src/metabase/transforms/pages/TransformQueryPage/TransformQueryPage.tsx
Due: front-end

verbs
  README.md
Due: none

README - updates (#70460)
  README.md
Due: none

Add the notification ID for easier debugging
  src/metabase/notification/send.clj
Due: back-end

feat: admin password reset link for users
  frontend/src/metabase/admin/people/containers/UserPasswordResetModal.tsx
  frontend/src/metabase/admin/people/containers/UserPasswordResetModal.unit.spec.tsx
  frontend/src/metabase/api/user.ts
  frontend/test/__support__/server-mocks/user.ts
  src/metabase/users_rest/api.clj
  test/metabase/users_rest/api_test.clj
Due: back-end, front-end

improve auth message responses
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/slackbot/events.clj
Due: back-end

Delete obsolete comment
  src/metabase/app_db/setup.clj
Due: back-end

More IDs
  src/metabase/notification/send.clj
  src/metabase/notification/task/send.clj
Due: back-end

better auth messages
  enterprise/backend/test/metabase_enterprise/metabot_v3/api/slackbot_test.clj
Due: back-end

dedupe
  frontend/src/metabase/common/components/DimensionPill/DimensionPill.module.css
  frontend/src/metabase/common/components/DimensionPill/DimensionPill.tsx
  frontend/src/metabase/common/components/DimensionPill/index.ts
  frontend/src/metabase/common/components/DimensionPill/utils.ts
  frontend/src/metabase/metrics-viewer/components/BreakoutDimensionPicker/BreakoutDimensionPicker.tsx
Due: front-end

improve categorical dimensions autoselect
  frontend/src/metabase/metrics-viewer/types/tabs.ts
  frontend/src/metabase/metrics-viewer/utils/metrics.ts
  frontend/src/metabase/metrics-viewer/utils/tab-config.ts
  frontend/src/metabase/metrics-viewer/utils/tabs.ts
Due: front-end

polish
  frontend/src/metabase/common/components/DimensionPill/DimensionPill.tsx
  frontend/src/metabase/metrics-viewer/utils/tab-config.ts
  frontend/src/metabase/metrics-viewer/utils/tabs.ts
Due: front-end

review
  frontend/src/metabase/common/components/DimensionPill/DimensionPill.tsx
Due: front-end

Added def-listener! and fixing tests
  .clj-kondo/config.edn
  .clj-kondo/src/hooks/metabase/mq/impl.clj
  enterprise/backend/src/metabase_enterprise/action_v2/data_editing.clj
  src/metabase/driver/events/driver_notifications.clj
  src/metabase/mq/core.clj
  src/metabase/mq/impl.clj
  src/metabase/mq/init.clj
  src/metabase/mq/queue/appdb.clj
  src/metabase/mq/queue/impl.clj
  src/metabase/mq/queue/sync.clj
  src/metabase/search/task/search_index.clj
  src/metabase/settings/models/setting/cache.clj
  test/metabase/mq/test_util.clj
  test/metabase/mq/topic/memory_test.clj
Due: back-end

notes on timeouts
  src/metabase/driver/settings.clj
  src/metabase/transforms/settings.clj
Due: back-end

adjusting e2e and unit tests
  e2e/test/scenarios/data-studio/data-studio-metrics.cy.spec.ts
  e2e/test/scenarios/metrics/metrics-search.cy.spec.js
  e2e/test/scenarios/metrics/reproductions/metrics-reproductions.cy.spec.ts
  frontend/src/metabase/browse/metrics/tests/common.unit.spec.tsx
  frontend/src/metabase/browse/metrics/tests/setup.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricPill/MetricPill.tsx
Due: front-end

linting
  frontend/src/metabase/common/components/DimensionPill/index.ts
  frontend/src/metabase/metrics-viewer/components/BreakoutLegend/BreakoutLegend.module.css
  frontend/src/metabase/metrics-viewer/components/MetricControls/BinningButton/BinningButton.tsx
  frontend/src/metabase/metrics-viewer/components/MetricControls/BucketButton/BucketButton.tsx
  frontend/src/metabase/metrics/components/FilterPanel/BooleanFilterSection/BooleanFilterSection.tsx
Due: front-end

Fixed failing tests
  src/metabase/models/transforms/transform.clj
  src/metabase/permissions/models/data_permissions.clj
  test/metabase/app_db/custom_migrations_test.clj
Due: back-end

review, polish
  frontend/src/metabase/common/components/DimensionPill/DimensionPill.tsx
  frontend/src/metabase/common/components/DimensionPill/index.ts
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearch.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/MetricSearchInput.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/index.ts
  frontend/src/metabase/metrics-viewer/components/MetricSearch/index.ts
  frontend/src/metabase/metrics-viewer/components/MetricsViewerCard/MetricsViewerCard.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/MetricsViewerTabContent/MetricsViewerTabContent.tsx
  frontend/src/metabase/metrics-viewer/utils/series.ts
Due: front-end

Extract minimum versions to file
  resources/metabase/app_db/supported-db-versions.edn
  src/metabase/app_db/setup.clj
Due: back-end

Deps fix
  .clj-kondo/config/modules/config.edn
Due: none
