Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Do not pass unneeded prop that's not even defined
  frontend/src/metabase/reference/databases/DatabaseList.jsx
  frontend/src/metabase/reference/databases/TableList.jsx
  frontend/src/metabase/reference/databases/TableQuestions.jsx
  frontend/src/metabase/reference/metrics/MetricList.jsx
  frontend/src/metabase/reference/metrics/MetricQuestions.jsx
  frontend/src/metabase/reference/segments/SegmentList.jsx
  frontend/src/metabase/reference/segments/SegmentQuestions.jsx
Due: front-end

Remove seven year old TODO
  frontend/src/metabase/components/ListItem/ListItem.jsx
Due: front-end

gear info list pin moon sum sun verified warning
  frontend/src/metabase/icon_paths.ts
Due: front-end

Podman and systemd
  docs/installation-and-operation/running-metabase-on-podman.md
Due: none

Do not show x-ray card underlying type in title
  src/metabase/automagic_dashboards/core.clj
Due: back-end

Remove tests added in old parameters
  e2e/test/scenarios/dashboard-filters/old-parameters.cy.spec.js
Due: none

Prevent fields hiding joined fields
  src/metabase/lib/stage.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/order_by_test.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

Add tests
  e2e/support/commands/api/dashboard.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-auto-apply.cy.spec.js
  frontend/src/metabase/dashboard/actions/data-fetching.js
  frontend/src/metabase/dashboard/actions/parameters.js
  frontend/src/metabase/dashboard/actions/ui.js
  frontend/src/metabase/dashboard/selectors.js
Due: front-end

don't test actions on audit db :cry:
  e2e/test/scenarios/admin/databases/actions.cy.spec.js
Due: none

Add tests
  e2e/test/scenarios/dashboard-filters/dashboard-filters-auto-apply.cy.spec.js
Due: none

Tests of the changes to model-based cards
  src/metabase/automagic_dashboards/core.clj
  test/metabase/api/automagic_dashboards_test.clj
  test/metabase/automagic_dashboards/core_test.clj
Due: back-end

Ignore provided metadata on new cards (#30640)
  src/metabase/api/card.clj
  test/metabase/api/card_test.clj
Due: back-end

Render `ListItem` with the `li` HTML element
  frontend/src/metabase/components/ListItem/ListItem.jsx
  frontend/src/metabase/reference/databases/DatabaseList.jsx
  frontend/src/metabase/reference/databases/TableList.jsx
  frontend/src/metabase/reference/databases/TableQuestions.jsx
  frontend/src/metabase/reference/metrics/MetricList.jsx
  frontend/src/metabase/reference/metrics/MetricQuestions.jsx
  frontend/src/metabase/reference/segments/SegmentList.jsx
  frontend/src/metabase/reference/segments/SegmentQuestions.jsx
Due: front-end

Fixes user and collection option parsing in export command
  enterprise/backend/src/metabase_enterprise/serialization/cmd.clj
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
Due: back-end

Revert "don't test actions on audit db :cry:"
  e2e/test/scenarios/admin/databases/actions.cy.spec.js
Due: none

Address review feedback
  src/metabase/lib/breakout.cljc
  src/metabase/lib/util.cljc
Due: back-end

Omit :effective-type from legacy MBQL queries (#30469)
  src/metabase/lib/convert.cljc
  test/metabase/lib/convert_test.cljc
Due: back-end

Fix wrong test (#30499)
  test/metabase/api/card_test.clj
  test/metabase/query_processor_test/test_mlv2.clj
Due: none

Fixes ns order
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
Due: back-end

for tests to work low IDs are basically reserved
  enterprise/backend/src/metabase_enterprise/audit_db.clj
Due: back-end

Fix backported toucan v toucan2 model ref
  test/metabase/api/card_test.clj
Due: none

Prevent fields hiding joined fields (#30644)
  src/metabase/lib/stage.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/order_by_test.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

cleanup
  frontend/src/metabase/dashboard/components/AddSeriesModal/AddSeriesModal.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/utils.js
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/LineAreaBarChart.unit.spec.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  frontend/src/metabase/visualizations/visualizations/Scalar.jsx
Due: front-end

Don't sandbox embedded queries (#30628)
  e2e/test/scenarios/embedding/reproductions/30535-session-sandboxing.cy.spec.js
  enterprise/backend/src/metabase_enterprise/sandbox/query_processor/middleware/row_level_restrictions.clj
  enterprise/backend/test/metabase_enterprise/sandbox/query_processor/middleware/row_level_restrictions_test.clj
  src/metabase/api/public.clj
  src/metabase/server/middleware/session.clj
  test/metabase/server/middleware/session_test.clj
Due: back-end

Don't search indexed entities when user is sandboxed
  enterprise/backend/src/metabase_enterprise/sandbox/api/util.clj
  src/metabase/api/pulse.clj
  src/metabase/api/search.clj
  src/metabase/api/user.clj
  src/metabase/public_settings/premium_features.clj
  test/metabase/api/search_test.clj
Due: back-end

Revert "Prevent fields hiding joined fields (#30644)"
  src/metabase/lib/stage.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/order_by_test.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

jeff's feedback - first pass
  docs/permissions/data-sandboxes-draft.md
Due: none

fix link
  docs/permissions/data-sandboxes-draft.md
Due: none

Revert "Prevent fields hiding joined fields (#30644)" (#30654)
  src/metabase/lib/stage.cljc
  test/metabase/lib/join_test.cljc
  test/metabase/lib/order_by_test.cljc
  test/metabase/lib/stage_test.cljc
Due: back-end

specs
  frontend/src/metabase-types/api/dashboard.ts
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.styled.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.tsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionList.unit.spec.tsx
  frontend/src/metabase/dashboard/components/AddSeriesModal/QuestionListItem.tsx
Due: front-end

fix failing 20637 e2e test due to missing viz-settings in test data
  e2e/test/scenarios/dashboard/reproductions/20637-add-series-to-dashcard.cy.spec.js
  src/metabase/api/card.clj
Due: back-end

Add back button to return to the active dashboard (#30584)
  e2e/test/scenarios/dashboard/dashboard-drill.cy.spec.js
  frontend/src/metabase/dashboard/actions/navigation.js
  frontend/src/metabase/dashboard/components/DashCard/DashCardMenu/DashCardMenu.tsx
  frontend/src/metabase/dashboard/selectors.js
  frontend/src/metabase/query_builder/actions/ui.js
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.styled.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
Due: front-end

Add tests
  e2e/support/commands/api/dashboard.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-auto-apply.cy.spec.js
Due: none

Probably speed up tests
  .github/workflows/frontend.yml
  package.json
  yarn.lock
Due: none

Replace describe.skip with noop
  frontend/test/metabase/lib/expressions/fuzz.recursive-parser.unit.spec.js
  frontend/test/metabase/lib/expressions/fuzz.tokenizer.unit.spec.js
Due: none

fixup! Probably speed up tests
  package.json
  yarn.lock
Due: none

Fix window.location assignment problem
  enterprise/frontend/src/metabase-enterprise/auth/middleware/session-middleware.unit.spec.js
Due: front-end

upgrade jest
  package.json
  yarn.lock
Due: none

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
