Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

fixing unit test
  enterprise/frontend/src/metabase-enterprise/documents/components/Editor/extensions/Command/CommandSuggestion.unit.spec.tsx
Due: front-end

disable vertica tests due to removed image (#62426) (#62445)
  .github/workflows/drivers.yml
Due: none

update modules
  .clj-kondo/config/modules/config.edn
Due: none

Code cleanup
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/advanced_permissions/query_processor/middleware/permissions.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
  enterprise/backend/src/metabase_enterprise/sandbox/query_processor/middleware/column_level_perms_check.clj
  src/metabase/driver.clj
  src/metabase/driver/impl.clj
  src/metabase/driver_api/core.clj
  src/metabase/lib/database.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/normalize.cljc
  src/metabase/permissions/models/data_permissions.clj
  src/metabase/query_permissions/impl.clj
  src/metabase/query_processor/compile.clj
  src/metabase/query_processor/execute.clj
  src/metabase/query_processor/middleware/annotate/legacy_helper_fns.clj
  src/metabase/query_processor/middleware/cache.clj
  src/metabase/query_processor/middleware/enterprise.clj
  src/metabase/query_processor/middleware/permissions.clj
  src/metabase/query_processor/middleware/process_userland_query.clj
  src/metabase/query_processor/schema.clj
  src/metabase/query_processor/util.clj
  src/metabase/query_processor/util/add_alias_info.clj
  src/metabase/query_processor/util/nest_query.clj
  src/metabase/warehouses/models/database.clj
  test/metabase/query_processor/middleware/add_implicit_joins_test.clj
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/cache_test.clj
  test/metabase/query_processor/middleware/catch_exceptions_test.clj
  test/metabase/query_processor/middleware/results_metadata_test.clj
  test/metabase/query_processor/postprocess_test.clj
  test/metabase/query_processor/util_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
  test/metabase/test.clj
Due: back-end

fix transforms for dbs with no schema
  enterprise/backend/src/metabase_enterprise/transforms/api.clj
  enterprise/frontend/src/metabase-enterprise/transforms/pages/NewTransformQueryPage/CreateTransformModal/CreateTransformModal.tsx
Due: back-end, front-end

Better handling of deleting used cancelations (#62368)
  enterprise/backend/src/metabase_enterprise/transforms/models/transform_run_cancelation.clj
Due: back-end

change view detials icon to sidebar_open
  frontend/src/metabase/data-grid/components/RowIdCell/RowIdCell.tsx
Due: front-end

Preprocess returns MBQL 5
  test/metabase/query_processor_test/failure_test.clj
Due: none

Add RowChart labels truncation, #59899 (#62042)
  .loki/reference/chrome_laptop_Viz_Static_Viz_FunnelChart_Default.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_FunnelChart_Watermark.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_FunnelChart_With_Duplicated_Steps.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_PieChart_Labels_With_Percent.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_PieChart_Three_Rings_Percentages_And_Labels.png
  .loki/reference/chrome_laptop_viz_RowChart_Default.png
  .loki/reference/chrome_laptop_viz_RowChart_With_Long_Names.png
  e2e/test/scenarios/visualizations-charts/rows.cy.spec.js
  frontend/src/metabase/visualizations/lib/text.ts
  frontend/src/metabase/visualizations/shared/components/RowChart/RowChart.tsx
  frontend/src/metabase/visualizations/shared/components/RowChart/utils/layout.ts
  frontend/src/metabase/visualizations/shared/components/RowChartView/RowChartView.tsx
  frontend/src/metabase/visualizations/visualizations/RowChart/RowChart.stories.tsx
Due: front-end

dont require, and skip
  .github/workflows/drivers.yml
Due: none

skip in stress test
  .github/workflows/drivers-stress-test.yml
Due: none

add todos
  .github/workflows/drivers-stress-test.yml
  .github/workflows/drivers.yml
Due: none

comment out vertica
  .github/workflows/drivers-stress-test.yml
  .github/workflows/drivers.yml
Due: none

add todo
  .github/workflows/drivers.yml
Due: none

Fix: UXW-42 Debounce on the visualization resize is causing layout jumping (#62293) (#62449)
  e2e/test/scenarios/visualizations-charts/combo.cy.spec.js
  frontend/src/metabase/common/components/DebouncedFrame/DebouncedFrame.jsx
  frontend/src/metabase/query_builder/components/view/View/ViewMainContainer/ViewMainContainer.tsx
Due: front-end

fix(ci): fix JAR extraction and renaming logic in fetch-artifact to avoid losing commit-id (#62429)
  .github/actions/fetch-artifact/action.yml
Due: none

Add backport resolution script
  backport.sh
Due: none

Add RowChart labels truncation, #59899 (#62042) (#62451)
  .loki/reference/chrome_laptop_Viz_Static_Viz_FunnelChart_Default.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_FunnelChart_Watermark.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_FunnelChart_With_Duplicated_Steps.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_PieChart_Labels_With_Percent.png
  .loki/reference/chrome_laptop_Viz_Static_Viz_PieChart_Three_Rings_Percentages_And_Labels.png
  .loki/reference/chrome_laptop_viz_RowChart_Default.png
  .loki/reference/chrome_laptop_viz_RowChart_With_Long_Names.png
  e2e/test/scenarios/visualizations-charts/rows.cy.spec.js
  frontend/src/metabase/visualizations/lib/text.ts
  frontend/src/metabase/visualizations/shared/components/RowChart/RowChart.tsx
  frontend/src/metabase/visualizations/shared/components/RowChart/utils/layout.ts
  frontend/src/metabase/visualizations/shared/components/RowChartView/RowChartView.tsx
  frontend/src/metabase/visualizations/visualizations/RowChart/RowChart.stories.tsx
Due: front-end

[perf] Merge the faster walk implementation back into metabase.util.performance (#61992)
  src/metabase/util/performance.cljc
  src/metabase/util/performance/jvm.clj
  test/metabase/util/performance_test.cljc
Due: back-end

Skip running vertica tests entirely (#62452)
  .github/workflows/drivers-stress-test.yml
  .github/workflows/drivers.yml
Due: none

Attempt to reconnect during select probing if connection is closed (#60857)
  docs/developers-guide/driver-changelog.md
  enterprise/backend/test/metabase_enterprise/impersonation/driver_test.clj
  src/metabase/driver.clj
  src/metabase/driver/sql_jdbc/execute.clj
  src/metabase/driver/sql_jdbc/sync/describe_database.clj
  src/metabase/sync/api/notify.clj
  src/metabase/sync/fetch_metadata.clj
  test/metabase/driver/sql_jdbc/execute_test.clj
  test/metabase/driver/sql_jdbc/sync/describe_database_test.clj
Due: back-end

Retry have-select-privilege? on error (#61236)
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  src/metabase/driver/sql_jdbc/sync/describe_database.clj
  test/metabase/driver/sql_jdbc/sync/describe_database_test.clj
Due: back-end

add available_actions to metabot context
  enterprise/frontend/src/metabase-enterprise/api/ai-streaming/test-utils.ts
  enterprise/frontend/src/metabase-enterprise/metabot/context.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/metabot.unit.spec.tsx
Due: front-end

dashboard auto-ref should reload only dashcards
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
  frontend/src/metabase/dashboard/components/DashboardHeader/buttons/DashboardActionMenu.tsx
  frontend/src/metabase/dashboard/context/context.tsx
  frontend/src/metabase/dashboard/hooks/use-refresh-dashboard.ts
Due: front-end

upgrade to 8.2.2
  package.json
  yarn.lock
Due: none

bump mantine 8.0 > 8.1
  package.json
  yarn.lock
Due: none

update types
  frontend/src/metabase/admin/components/AdminNav/AdminNav.tsx
  frontend/src/metabase/ui/components/inputs/QuarterPicker/QuarterPicker.tsx
Due: front-end

support pin map views across the international date line (#62380)
  e2e/test/scenarios/visualizations-charts/maps.cy.spec.js
  frontend/src/metabase/visualizations/components/LeafletMarkerPinMap.jsx
Due: front-end

Skip running vertica tests entirely (#62452) (#62455)
  .github/workflows/drivers-stress-test.yml
  .github/workflows/drivers.yml
Due: none

actually fix modules
  .clj-kondo/config/modules/config.edn
Due: none

docs -fix releases link
  docs/installation-and-operation/upgrading-metabase.md
Due: none

Fix whitespace
  .github/workflows/claude-code-bug-fix.yml
Due: none

rename transform datasets to prevent foreign key overlap
  enterprise/backend/test/metabase_enterprise/transforms/api_test.clj
  enterprise/backend/test/metabase_enterprise/transforms/execute_test.clj
  enterprise/backend/test/metabase_enterprise/transforms/test_dataset.clj
  src/metabase/driver.clj
Due: back-end

[perf] Implement optimized update-keys
  src/metabase/lib/convert.cljc
  src/metabase/lib/schema/common.cljc
  src/metabase/util/performance.cljc
  src/metabase/util/snake_hating_map.clj
  test/metabase/util/performance_test.cljc
Due: back-end

Fix filter-on-implicitly-joined-column-test
  test/metabase/query_processor/preprocess_test.clj
Due: none

[perf] Add clojure.core/update-keys to discouraged vars
  .clj-kondo/config.edn
  src/metabase/driver/sql/query_processor.clj
  src/metabase/driver/sql/query_processor/boolean_to_comparison.clj
  src/metabase/driver/sql_jdbc/actions.clj
  src/metabase/legacy_mbql/normalize.cljc
  src/metabase/lib/card.cljc
  src/metabase/lib/convert/metadata_to_legacy.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/metadata/cached_provider.cljc
  src/metabase/lib/metadata/result_metadata.cljc
  src/metabase/lib/util.cljc
  src/metabase/lib_be/metadata/jvm.clj
  src/metabase/query_processor/metadata.clj
  src/metabase/query_processor/middleware/visualization_settings.clj
  src/metabase/query_processor/middleware/wrap_value_literals.clj
  src/metabase/query_processor/pivot.clj
  src/metabase/query_processor/streaming/common.clj
  src/metabase/util.cljc
  src/metabase/util/log.clj
Due: back-end
