Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix test
  frontend/src/embedding-sdk-bundle/hooks/private/use-init-data/use-init-data-internal.unit.spec.tsx
Due: front-end

Fall back to .yaml if .yml not found
  docs/configuring-metabase/config-file.md
  enterprise/backend/src/metabase_enterprise/advanced_config/file.clj
  mage/src/mage/bot/server_info.clj
Due: back-end

Search MB documentation link incorrectly has underline on hover (#77701)
  frontend/src/metabase/palette/components/PaletteResultItem.tsx
Due: front-end

Add backport resolution script
  backport.sh
Due: none

Treat a blank MB_CONFIG_FILE_PATH as unset (#77821)
  enterprise/backend/src/metabase_enterprise/advanced_config/file.clj
  enterprise/backend/test/metabase_enterprise/advanced_config/file_test.clj
  src/metabase/analytics/stats.clj
Due: back-end

Disable unsupported actions on driver change
  .clj-kondo/config/modules/config.edn
  src/metabase/sample_data/impl.clj
  test/metabase/sample_data/impl_test.clj
Due: back-end

Extract the dirigiste pool factory into metabase.util.pool
  src/metabase/channel/render/image_buffer.clj
  src/metabase/channel/render/js/common.clj
  src/metabase/channel/render/js/graal.clj
  src/metabase/sql_parsing/common.clj
  src/metabase/sql_parsing/graal.clj
  src/metabase/util/pool.clj
  test/metabase/sql_parsing/common_test.clj
  test/metabase/util/pool_test.clj
Due: back-end

Revert "🤖 backported "docs: pdfs in subscriptions" (#77647)"
  docs/dashboards/introduction.md
  docs/dashboards/subscriptions.md
  docs/questions/exporting-results.md
Due: none

Revert "🤖 backported "docs: pdfs in subscriptions" (#77650)"
  docs/dashboards/introduction.md
  docs/dashboards/subscriptions.md
  docs/questions/exporting-results.md
Due: none

cleanup experiments
  quickjs-render-bar-stacked.svg
  quickjs-render-funnel.svg
  quickjs-render-line.svg
  quickjs-render-pie.svg
  quickjs-render-treemap.svg
  quickjs-render-waterfall.svg
Due: none

init
  .github/workflows/build-static-viz-worker.yml
  .gitignore
  bun.lock
  frontend/src/metabase/static-viz/polyfill.ts
  native/static-viz-worker/README.md
  native/static-viz-worker/build.sh
  native/static-viz-worker/worker.c
  package.json
  quickjs-render-bar-stacked.svg
  quickjs-render-funnel.svg
  quickjs-render-line.svg
  quickjs-render-pie.svg
  quickjs-render-treemap.svg
  quickjs-render-waterfall.svg
  src/metabase/channel/render/js/quickjs.clj
  src/metabase/channel/render/js/renderer.clj
  test/metabase/channel/render/js/quickjs_test.clj
Due: back-end, front-end

Run static viz on in-process QuickJS via JNA
  .github/workflows/build-static-viz-quickjs.yml
  .github/workflows/build-static-viz-worker.yml
  .gitignore
  deps.edn
  native/static-viz-quickjs/README.md
  native/static-viz-quickjs/build.sh
  native/static-viz-quickjs/smoke_test.c
  native/static-viz-quickjs/staticviz.c
  native/static-viz-worker/README.md
  native/static-viz-worker/worker.c
  src/metabase/channel/render/js/quickjs.clj
  src/metabase/channel/render/js/renderer.clj
  test/metabase/channel/render/js/quickjs_test.clj
Due: back-end

Cross-compile libstaticviz for all platforms from one machine
  native/static-viz-quickjs/README.md
  native/static-viz-quickjs/build.sh
Due: none

Update file.clj
  enterprise/backend/src/metabase_enterprise/advanced_config/file.clj
Due: back-end

Den/uxw 4741 explorations new sidebar (#77674)
  frontend/src/metabase-types/api/exploration.ts
  frontend/src/metabase/comments/components/Discussion/DiscussionComment.tsx
  frontend/src/metabase/common/components/tree/Tree.tsx
  frontend/src/metabase/common/components/tree/TreeNodeList.tsx
  frontend/src/metabase/documents/components/CommentsSidesheet/CommentsSidesheet.unit.spec.tsx
  frontend/src/metabase/documents/components/Editor/CommentsMenu/CommentsMenu.unit.spec.tsx
  frontend/src/metabase/documents/components/Editor/Editor.stories.tsx
  frontend/src/metabase/explorations/components/ExplorationDocument/ExplorationDocument.unit.spec.tsx
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.module.css
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.tsx
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.unit.spec.tsx
  frontend/src/metabase/explorations/components/ExplorationSidebar/utils.ts
  frontend/src/metabase/explorations/components/ExplorationSidebar/utils.unit.spec.ts
  frontend/src/metabase/explorations/components/ExplorationVisualization/ActionToolbar.module.css
  frontend/src/metabase/explorations/components/ExplorationVisualization/ActionToolbar.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/ActionToolbar.unit.spec.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/ExplorationCommentEditor.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/ExplorationCommentEditor.unit.spec.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/ExplorationGroupVisualization.tsx
  frontend/src/metabase/explorations/components/ExplorationVisualization/utils.ts
  frontend/src/metabase/explorations/hooks/useCopyLink.ts
  frontend/src/metabase/explorations/hooks/useExplorationClickActionsMode.tsx
  frontend/src/metabase/explorations/hooks/useExplorationClickActionsMode.unit.spec.tsx
  frontend/src/metabase/explorations/pages/ExplorationPage.tsx
  frontend/src/metabase/explorations/sidebar-preferences.ts
  frontend/src/metabase/explorations/test-utils.ts
  frontend/src/metabase/visualizations/components/LegacyChoropleth.jsx
  resources/migrations/063/20260428_explorations.yaml
  src/metabase/explorations/api.clj
  src/metabase/explorations/derived_perms.clj
  test/metabase/explorations/api_test.clj
Due: back-end, front-end

🤖 backported "Search MB documentation link incorrectly has underline on hover" (#77827)
  frontend/src/metabase/palette/components/PaletteResultItem.tsx
Due: front-end

Fix test
  test/metabase/server/middleware/sdk_test.clj
Due: none

optimize memory allocation
  src/metabase/channel/render/js/engine.clj
Due: back-end

🤖 backported "Treat a blank MB_CONFIG_FILE_PATH as unset" (#77830)
  enterprise/backend/src/metabase_enterprise/advanced_config/file.clj
  enterprise/backend/test/metabase_enterprise/advanced_config/file_test.clj
  src/metabase/analytics/stats.clj
Due: back-end

🤖 backported "Search MB documentation link incorrectly has underline on hover" (#77824)
  frontend/src/metabase/palette/components/PaletteResultItem.tsx
Due: front-end

Use Lib.withPage for MCP analytics pagination
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/hooks/useMcpEventsQuery.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/query-utils.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/query-utils.unit.spec.ts
  frontend/src/metabase-lib/query/index.ts
  frontend/src/metabase-lib/query/page.ts
  frontend/src/metabase-types/api/query.ts
  src/metabase/lib/js.cljs
Due: back-end, front-end

Add pagination and sorting to MCP analytics tool calls
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpAnalyticsPage.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpAnalyticsPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpEventsTable.module.css
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpEventsTable.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpEventsTable.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/hooks/useMcpEventsQuery.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/hooks/useMcpHasData.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/query-utils.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/query-utils.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/url-state.ts
Due: front-end

Bound the MCP tool calls table height so pagination stays visible
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpEventsTable.module.css
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpEventsTable.tsx
Due: front-end

Use a defined color token for the sticky header background
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/components/McpEventsTable.module.css
Due: front-end

Add page clause to the StructuredQuery type
  frontend/src/metabase-types/api/query.ts
Due: front-end

Add comment justifying LegacyDatasetQuery cast
  enterprise/frontend/src/metabase-enterprise/audit_app/mcp-analytics/hooks/useMcpEventsQuery.ts
Due: front-end

Update table-level permissions targeting sample DB to use the correct schema
  .clj-kondo/config/modules/config.edn
  src/metabase/sample_data/impl.clj
  test/metabase/sample_data/impl_test.clj
Due: back-end

🤖 backported "Search MB documentation link incorrectly has underline on hover" (#77825)
  frontend/src/metabase/palette/components/PaletteResultItem.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
