Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

🤖 v64 backported "Restyle Sidesheet to Figma and add the offset variant (GDGT-2480)" (#83406)
  .loki/reference/chrome_laptop_Components_Sidesheet_Default.png
  .loki/reference/chrome_laptop_Components_Sidesheet_Offset.png
  frontend/src/metabase/common/components/Sidesheet/Sidesheet.mdx
  frontend/src/metabase/common/components/Sidesheet/Sidesheet.samples.tsx
  frontend/src/metabase/common/components/Sidesheet/Sidesheet.stories.tsx
  frontend/src/metabase/common/components/Sidesheet/Sidesheet.tsx
  frontend/src/metabase/common/components/Sidesheet/SidesheetTabPanelContainer.tsx
  frontend/src/metabase/common/components/Sidesheet/sidesheet.module.css
  frontend/src/metabase/dashboard/components/DashboardInfoSidebar/DashboardInfoSidebar.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/QuestionInfoSidebar/QuestionInfoSidebar.tsx
  loki.config.js
Due: front-end

🤖 v63 backported "Give Quartz a dedicated app-db connection pool to prevent deadlocks" (#81908)
  docs/configuring-metabase/environment-variables.md
  src/metabase/app_db/connection.clj
  src/metabase/app_db/connection_pool_setup.clj
  src/metabase/app_db/core.clj
  src/metabase/cmd/resources/other-env-vars.md
  src/metabase/task/bootstrap.clj
  test/metabase/app_db/connection_pool_setup_test.clj
  test/metabase/app_db/connection_test.clj
  test/metabase/task/bootstrap_test.clj
Due: back-end

Address review remarks
  src/metabase/metabot/config.clj
  src/metabase/metabot/context.clj
  src/metabase/metabot/curation.clj
  src/metabase/metabot/tools/construct.clj
  src/metabase/metabot/tools/metadata.clj
  src/metabase/metabot/tools/resources.clj
  src/metabase/metabot/tools/search.clj
  src/metabase/metabot/tools/shared.clj
  test/metabase/metabot/tools/curated_content_test.clj
Due: back-end

Address Copilot style remarks
  src/metabase/metabot/tools/construct.clj
  src/metabase/metabot/tools/resources.clj
  test/metabase/metabot/tools/curated_content_test.clj
Due: back-end

Respect curated switch in read resource
  src/metabase/metabot/curation.clj
  src/metabase/metabot/tools/construct.clj
  src/metabase/metabot/tools/resources.clj
  test/metabase/metabot/tools/curated_content_test.clj
Due: back-end

Map recents models to strings
  src/metabase/metabot/tools/resources.clj
  test/metabase/metabot/tools/curated_content_test.clj
Due: back-end

Address review remarks
  src/metabase/metabot/tools/construct.clj
  src/metabase/metabot/tools/resources.clj
  test/metabase/metabot/tools/curated_content_test.clj
Due: back-end

Drop the curated-only dynamic var
  src/metabase/metabot/tools/resources.clj
Due: back-end

Fold native filter e2e specs into the native folder
  e2e/test/scenarios/actions/actions-on-dashboards.cy.spec.js
  e2e/test/scenarios/dashboard-filters-2/dashboard-filters-reproductions-1.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-date.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-id.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-location.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-number.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-text-category.cy.spec.js
  e2e/test/scenarios/embedding/embed-resource-downloads.cy.spec.ts
  e2e/test/scenarios/embedding/embedding-dashboard.cy.spec.js
  e2e/test/scenarios/embedding/embedding-native.cy.spec.js
  e2e/test/scenarios/native/helpers/e2e-date-filter-helpers.js
  e2e/test/scenarios/native/helpers/e2e-field-filter-data-objects.js
  e2e/test/scenarios/native/helpers/e2e-field-filter-helpers.js
  e2e/test/scenarios/native/helpers/e2e-sql-filter-helpers.js
  e2e/test/scenarios/native/native-filters-remapping.cy.spec.ts
  e2e/test/scenarios/native/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/sql-field-filter-types.cy.spec.js
  e2e/test/scenarios/native/sql-field-filter.cy.spec.js
  e2e/test/scenarios/native/sql-filters-reset-clear.cy.spec.ts
  e2e/test/scenarios/native/sql-filters-source.cy.spec.js
  e2e/test/scenarios/native/sql-filters.cy.spec.js
  e2e/test/scenarios/question/reproductions-1.cy.spec.js
Due: none

Tighten ratchets
  .clj-kondo/ratchets.edn
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_Components_Feedback_Alert_Feedback.png
Due: none

Tighten ratchets (#83414)
  .clj-kondo/ratchets.edn
Due: none

Remove duplicative native e2e tests
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/native/sql-filters.cy.spec.js
Due: none

Share Metabot dashboard subscription code (#83409)
  src/metabase/metabot/tools/create_dashboard_subscription.clj
Due: back-end

Fold native e2e subset tests into their supersets
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/native/sql-filters-source.cy.spec.js
Due: none

Fold binning result checks into the binning options spec
  e2e/test/scenarios/binning/binning-options.cy.spec.js
  e2e/test/scenarios/binning/qb-regular-table.cy.spec.js
Due: none

Fold time series footer check into the distribution test
  e2e/test/scenarios/binning/binning-options.cy.spec.js
Due: none

Format binning options spec
  e2e/test/scenarios/binning/binning-options.cy.spec.js
Due: none

Merge native e2e tests that share their setup
  e2e/test/scenarios/native/card-tag-normalization.cy.spec.ts
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/native/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/native/snippet-tags.cy.spec.ts
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/native/sql-field-filter.cy.spec.js
  e2e/test/scenarios/native/sql-filters.cy.spec.js
  e2e/test/scenarios/native/suggestions.cy.spec.ts
Due: none

Raise query-execution failures as Metabot agent errors
  src/metabase/mcp/v2/tools/query.clj
  src/metabase/metabot/query_execution.clj
  test/metabase/metabot/query_execution_test.clj
Due: back-end

Repair native e2e tests that could not fail
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/native/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native_subquery.cy.spec.js
  e2e/test/scenarios/native/snippet-tags.cy.spec.ts
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/native/sql-field-filter-types.cy.spec.js
  e2e/test/scenarios/native/sql-filters-source.cy.spec.js
  e2e/test/scenarios/native/sql-filters.cy.spec.js
  e2e/test/scenarios/native/suggestions.cy.spec.ts
Due: none

Limit length of content passed to /api/v1/crm/product-feedback
  frontend/src/metabase/home/components/EmbedHomepage/EmbedHomepage.tsx
  frontend/src/metabase/home/components/EmbedHomepage/FeedbackModal.tsx
  frontend/src/metabase/home/components/EmbedHomepage/tests/EmbedHomepage.unit.spec.tsx
  src/metabase/product_feedback/api.clj
  test/metabase/product_feedback/api_test.clj
Due: back-end, front-end

Strengthen weak native e2e assertions
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/native/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/native/native_subquery.cy.spec.js
  e2e/test/scenarios/native/snippet-tags.cy.spec.ts
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/native/sql-field-filter.cy.spec.js
  e2e/test/scenarios/native/sql-filters-reset-clear.cy.spec.ts
  e2e/test/scenarios/native/sql-filters-source.cy.spec.js
  e2e/test/scenarios/native/sql-filters.cy.spec.js
Due: none

Drop unused setup from native e2e tests
  e2e/test/scenarios/native/helpers/e2e-field-filter-data-objects.js
  e2e/test/scenarios/native/helpers/e2e-field-filter-helpers.js
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/native/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/native/native_subquery.cy.spec.js
  e2e/test/scenarios/native/snippet-tags.cy.spec.ts
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/native/sql-filters-source.cy.spec.js
  e2e/test/scenarios/native/sql-filters.cy.spec.js
Due: none

Fix titles and comments in native e2e tests
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/native/native-filters-remapping.cy.spec.ts
  e2e/test/scenarios/native/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/native/native_subquery.cy.spec.js
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/native/sql-filters-source.cy.spec.js
Due: none

Keep merged native e2e tests on their original inputs
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/suggestions.cy.spec.ts
Due: none

Revert formatting goal values with the referenced column's settings
  frontend/src/metabase/visualizations/components/settings/ChartSettingGoalValue.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingGoalValue.unit.spec.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/ChartSettingSegmentsEditor.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/SegmentBoundInput.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalColumnMenuItem.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalValueInput.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalValueInput.unit.spec.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalValuePill/GoalValuePill.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/types.ts
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/use-entity-column-values.ts
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/use-referenced-entity.ts
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/utils.ts
  frontend/src/metabase/visualizations/hooks/use-answered-goal-value.unit.spec.ts
  frontend/src/metabase/visualizations/visualizations/Gauge/definition.ts
  frontend/src/metabase/visualizations/visualizations/Progress/definition.ts
  frontend/src/metabase/visualizations/visualizations/Progress/definition.unit.spec.ts
  frontend/src/metabase/visualizations/visualizations/Scalar/definition.ts
  frontend/src/metabase/visualizations/visualizations/Scalar/definition.unit.spec.ts
  frontend/src/metabase/viz-core/lib/dynamic-goals.ts
  frontend/src/metabase/viz-core/lib/dynamic-goals.unit.spec.ts
  frontend/src/metabase/viz-core/lib/settings/goal.ts
  frontend/src/metabase/viz-core/types/dynamic-goals.ts
  frontend/src/metabase/viz-core/types/widget-props.ts
Due: front-end

port remaining toast contents to the always-dark toast surface
  enterprise/frontend/src/metabase-enterprise/table-editing/table-edit/toasts/ErrorUpdateToast.tsx
  enterprise/frontend/src/metabase-enterprise/table-editing/table-edit/toasts/use-table-editing-toast-controller.tsx
  frontend/src/metabase/dashboard/actions/parameters.tsx
  frontend/src/metabase/home/components/CustomHomePageModal/CustomHomePageModal.tsx
  frontend/src/metabase/questions/components/MoveCardModal/MoveCardToast/MoveCardToast.tsx
Due: front-end

add spacing between toast action buttons
  frontend/src/metabase/common/components/UndoListing.tsx
Due: front-end

Format dynamic goal picker values with the current chart's value formatting
  frontend/src/metabase/visualizations/components/settings/ChartSettingGoalValue.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingGoalValue.unit.spec.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/ChartSettingSegmentsEditor.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/ChartSettingSegmentsEditor.unit.spec.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingSegmentsEditor/SegmentBoundInput.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalColumnMenuItem.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalValueInput.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalValueInput.unit.spec.tsx
  frontend/src/metabase/visualizations/components/settings/GoalValueInput/GoalValuePill/GoalValuePill.tsx
  frontend/src/metabase/visualizations/visualizations/Gauge/definition.ts
  frontend/src/metabase/visualizations/visualizations/Gauge/definition.unit.spec.ts
  frontend/src/metabase/visualizations/visualizations/Progress/definition.ts
  frontend/src/metabase/visualizations/visualizations/Progress/definition.unit.spec.ts
  frontend/src/metabase/visualizations/visualizations/Scalar/definition.ts
  frontend/src/metabase/visualizations/visualizations/Scalar/definition.unit.spec.ts
  frontend/src/metabase/viz-core/types/widget-props.ts
Due: front-end

add a test to verify solution
  test/metabase/query_processor/date_bucketing_test.clj
Due: none

Revisit horizontal X-axis padding for Cartesian charts
  frontend/src/metabase/viz-core/echarts/cartesian/constants/style.ts
  frontend/src/metabase/viz-core/echarts/cartesian/layout/index.ts
  frontend/src/metabase/viz-core/echarts/cartesian/layout/index.unit.spec.ts
  frontend/src/metabase/viz-core/echarts/cartesian/option/axis.ts
  frontend/src/metabase/viz-core/echarts/cartesian/option/time-axis-endpoint-labels.ts
  frontend/src/metabase/viz-core/echarts/cartesian/option/time-axis-endpoint-labels.unit.spec.ts
  frontend/src/metabase/viz-core/echarts/cartesian/option/x-axis-endpoint-labels.ts
  frontend/src/metabase/viz-core/echarts/cartesian/option/x-axis-endpoint-labels.unit.spec.ts
  frontend/src/metabase/viz-core/shared/constants/layout.ts
Due: front-end

Auto-update documentation for master (#83377)
  docs/api.json
Due: none

Update Loki Snapshots
  .loki/reference/chrome_laptop_Components_Inputs_SegmentedControl_Overview.png
Due: none

GDGT-3241 Constrain SegmentedControl items to text and icon props
  enterprise/frontend/src/metabase-enterprise/collections/components/FormCollectionAuthorityLevel.tsx
  enterprise/frontend/src/metabase-enterprise/dependencies/components/SortOptionsPicker/types.ts
  enterprise/frontend/src/metabase-enterprise/dependencies/components/SortOptionsPicker/utils.tsx
  frontend/src/metabase/embedding/components/EmbedModal/StaticEmbedSetupPane/PreviewModeSelector.tsx
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.tsx
  frontend/src/metabase/metadata/components/FieldOrderPicker/FieldOrderPicker.tsx
  frontend/src/metabase/metadata/components/FieldOrderPicker/FieldOrderPicker.unit.spec.tsx
  frontend/src/metabase/metadata/components/FieldOrderPicker/Label.tsx
  frontend/src/metabase/query_builder/components/view/QuestionDisplayToggle/QuestionDisplayToggle.tsx
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.mdx
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.module.css
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.stories.tsx
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.unit.spec.tsx
  frontend/src/metabase/ui/components/inputs/SegmentedControl/index.tsx
  frontend/src/metabase/visualizer/components/VisualizationPicker/VisualizationPicker.module.css
  frontend/src/metabase/visualizer/components/VisualizationPicker/VisualizationPicker.tsx
  frontend/src/metabase/visualizer/components/VisualizationPicker/VisualizationPicker.unit.spec.tsx
Due: front-end

set line height on SegmentedControl label
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.module.css
Due: front-end

Update src/metabase/appearance/settings.clj
  src/metabase/appearance/settings.clj
Due: back-end

[EMB-2398] Give the no-object illustration its own alt text
  e2e/test/scenarios/admin/whitelabel.cy.spec.js
  frontend/src/metabase/common/components/errors/NoObjectError.tsx
Due: front-end

[EMB-2398] Rewrap the comment on parsed-illustration
  src/metabase/appearance/settings.clj
Due: back-end
