Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

links and formatting
  docs/README.md
  docs/data-modeling/metadata-editing.md
  docs/data-modeling/start.md
Due: none

wording
  docs/data-modeling/metadata-editing.md
Due: none

Handle parameter source in FieldValuesWidget (#27686)
  frontend/src/metabase-lib/metadata/Field.ts
  frontend/src/metabase-lib/parameters/mock.ts
  frontend/src/metabase-lib/parameters/utils/parameter-source.ts
  frontend/src/metabase-lib/parameters/utils/parameter-source.unit.spec.ts
  frontend/src/metabase-lib/parameters/utils/template-tags.ts
  frontend/src/metabase-lib/parameters/utils/template-tags.unit.spec.js
  frontend/src/metabase-types/api/field.ts
  frontend/src/metabase-types/api/mocks/field.ts
  frontend/src/metabase-types/api/mocks/parameters.ts
  frontend/src/metabase-types/api/parameters.ts
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceSettings/ValuesSourceSettings.tsx
  frontend/src/metabase/parameters/utils/dashboards.ts
  frontend/src/metabase/parameters/utils/dashboards.unit.spec.js
  frontend/test/metabase-lib/lib/Question.unit.spec.js
  frontend/test/metabase/components/FieldValuesWidget.unit.spec.js
Due: front-end

Export and use `FieldValue` for clarity
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceTypeModal.tsx
Due: front-end

Handle permission errors in the param model (#27704)
  frontend/src/metabase/entities/containers/EntityObjectLoader.jsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceCardModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.styled.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceTypeModal.tsx
  frontend/test/__support__/server-mocks/card.ts
  frontend/test/__support__/server-mocks/constants.ts
Due: front-end

add note about mongodb
  docs/troubleshooting-guide/cant-see-tables.md
Due: none

Add parameter modal tests (#27659)
  frontend/src/metabase-lib/metadata/Field.ts
  frontend/src/metabase-lib/parameters/constants.ts
  frontend/src/metabase-lib/parameters/mock.ts
  frontend/src/metabase-lib/parameters/utils/parameter-source.ts
  frontend/src/metabase-lib/parameters/utils/parameter-source.unit.spec.ts
  frontend/src/metabase-lib/parameters/utils/template-tags.ts
  frontend/src/metabase-lib/parameters/utils/template-tags.unit.spec.js
  frontend/src/metabase-types/api/field.ts
  frontend/src/metabase-types/api/mocks/field.ts
  frontend/src/metabase-types/api/mocks/parameters.ts
  frontend/src/metabase-types/api/parameters.ts
  frontend/src/metabase/components/FieldValuesWidget.jsx
  frontend/src/metabase/entities/collections/constants.ts
  frontend/src/metabase/entities/containers/EntityObjectLoader.jsx
  frontend/src/metabase/parameters/components/ParameterSettings/ParameterSettings.unit.spec.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceCardModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.styled.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceTypeModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceSettings/ValuesSourceSettings.tsx
  frontend/src/metabase/parameters/utils/dashboards.ts
  frontend/src/metabase/parameters/utils/dashboards.unit.spec.js
  frontend/test/__support__/server-mocks/card.ts
  frontend/test/__support__/server-mocks/constants.ts
  frontend/test/__support__/server-mocks/database.ts
  frontend/test/__support__/server-mocks/field.ts
  frontend/test/__support__/server-mocks/table.ts
  frontend/test/metabase-lib/lib/Question.unit.spec.js
  frontend/test/metabase/components/FieldValuesWidget.unit.spec.js
  frontend/test/metabase/scenarios/dashboard-filters/dashboard-filters-source.cy.spec.js
Due: front-end

Using generic db functions for sync-new-table!
  src/metabase/sync.clj
Due: back-end

require alignment
  src/metabase/sync.clj
Due: back-end

Add values source settings to tags
  frontend/src/metabase-lib/parameters/utils/template-tags.ts
  frontend/src/metabase-types/types/Query.ts
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/ParameterLinkedFilters.tsx
  frontend/src/metabase/parameters/components/ParameterLinkedFilters/use-filter-fields.ts
  frontend/src/metabase/parameters/components/ParameterSettings/ParameterSettings.tsx
  frontend/src/metabase/parameters/components/ParameterSidebar/ParameterSidebar.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceSettings/ValuesSourceSettings.tsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.jsx
Due: front-end

Add e2e test
  frontend/test/metabase/scenarios/collections/revision-history.cy.spec.js
Due: front-end

Add series to POST request, missing by mistake
  frontend/src/metabase/dashboard/actions/save.js
Due: front-end

Formatting
  frontend/src/metabase/dashboard/actions/save.js
Due: front-end

Rename DashboardApi methods for consistent names and cases
  frontend/src/metabase/dashboard/actions/save.js
  frontend/src/metabase/services.js
Due: front-end

update data model vs. model section
  docs/data-modeling/metadata-editing.md
Due: none

transpose wide tables
  docs/data-modeling/metadata-editing.md
Due: none

docs - update "can't see tables" troubleshooting (#27712)
  docs/troubleshooting-guide/cant-see-tables.md
Due: none

Dynamic pivot table cell size (#27613)
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.jsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/constants.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/types.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/utils.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/utils.unit.spec.ts
Due: front-end

formatting - consistent with other hofs
  src/metabase/sync.clj
Due: back-end

formatting - most other with-temp forms 2 space indent
  test/metabase/sync_test.clj
Due: none

Restoring active item colors (#27480)
  frontend/src/metabase/components/SelectList/SelectListItem.styled.jsx
Due: front-end

Only update dashboard cards if their own filter changes (#27490)
  frontend/src/metabase-lib/queries/utils/card.js
Due: front-end

Add tests for the actions tab
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
  frontend/src/metabase/models/containers/ModelDetailPage/ModelDetailPage.unit.spec.tsx
Due: front-end

List implicit actions
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionListItem.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionListItem.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/StackedInsightIcon.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/StackedInsightIcon.tsx
Due: front-end

Clean up
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.tsx
  frontend/src/metabase/models/containers/ModelDetailPage/ModelDetailPage.tsx
Due: front-end

Add "New action" flow
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
Due: front-end

Handle read-only permissions
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
Due: front-end

Hide actions tab if actions are turned off
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.tsx
Due: front-end

Add Fira Code
  frontend/src/metabase/css/core/fonts.css
  resources/frontend_client/app/fonts/Fira_Code/FiraCode-Bold.woff2
  resources/frontend_client/app/fonts/Fira_Code/FiraCode-Regular.woff2
Due: front-end

Sort actions
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
Due: front-end

Make it possible to add implicit actions
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
Due: front-end

Add E2E test for action create-read-update flows
  frontend/src/metabase/actions/containers/ActionCreator/FormCreator/FieldSettingsPopover.tsx
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
  frontend/test/__support__/e2e/helpers/e2e-action-helpers.js
  frontend/test/__support__/e2e/helpers/index.js
  frontend/test/metabase/scenarios/actions/management.cy.spec.js
Due: front-end

Add server mocks for action endpoints
  frontend/test/__support__/server-mocks/action.ts
  frontend/test/__support__/server-mocks/index.ts
Due: front-end

Fix actions tab width
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.styled.tsx
Due: front-end

Add action editing flow
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionListItem.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionListItem.tsx
Due: front-end

Fix console error
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.styled.tsx
Due: front-end

Add basic actions tab
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionDetails.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionListItem.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/ModelActionListItem.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelActionDetails/index.ts
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.styled.tsx
  frontend/src/metabase/models/components/ModelDetailPage/ModelDetailPage.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend, frontend
