Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Add sidebar
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetNotebook/DatasetNotebook.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetNotebook/MetricSidebar/index.ts
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorSidebar/MetricEditorSidebar.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorSidebar/index.ts
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorSidebar/tests/common.unit.spec.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorSidebar/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorSidebar/tests/setup.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorSidebar/tests/whitelabel.unit.spec.tsx
Due: front-end

fix preview-embed-test ns
  test/metabase/api/preview_embed_test.clj
Due: none

Add footer
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/index.ts
Due: front-end

Add empty state
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/MetricEmptyState/index.ts
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorEmptyState/MetricEditorEmptyState.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorEmptyState/MetricEditorEmptyState.unit.spec.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorEmptyState/index.ts
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
Due: front-end

Add empty state
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorEmptyState/index.ts
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEmptyState/MetricEmptyState.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEmptyState/MetricEmptyState.unit.spec.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEmptyState/index.ts
Due: front-end

handle errors without crashing in SliceNameWidget (#47729)
  frontend/src/metabase/visualizations/visualizations/PieChart/SliceNameWidget.tsx
  frontend/src/metabase/visualizations/visualizations/PieChart/SliceNameWidget.unit.spec.tsx
Due: front-end

Toggle series visibility from chart legend (pie charts) (#47581)
  e2e/test/scenarios/visualizations-charts/legend.cy.spec.js
  frontend/src/metabase/static-viz/components/PieChart/PieChart.tsx
  frontend/src/metabase/static-viz/components/PieChart/legend.tsx
  frontend/src/metabase/visualizations/components/ChartWithLegend.jsx
  frontend/src/metabase/visualizations/components/LegendHorizontal.jsx
  frontend/src/metabase/visualizations/components/LegendItem.jsx
  frontend/src/metabase/visualizations/components/LegendVertical.jsx
  frontend/src/metabase/visualizations/components/legend/LegendItemDot.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingSeriesOrder.tsx
  frontend/src/metabase/visualizations/echarts/pie/constants.ts
  frontend/src/metabase/visualizations/echarts/pie/model/index.ts
  frontend/src/metabase/visualizations/echarts/pie/model/types.ts
  frontend/src/metabase/visualizations/echarts/pie/option.ts
  frontend/src/metabase/visualizations/visualizations/PieChart/PieChart.tsx
  frontend/src/metabase/visualizations/visualizations/PieChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/PieChart/use-chart-events.ts
Due: front-end

Make sure bookmarked metric appears in sidebar
  e2e/test/scenarios/metrics/browse.cy.spec.ts
  frontend/src/metabase/browse/components/MetricsTable.tsx
Due: front-end

Add more tests for readonly users
  e2e/test/scenarios/metrics/browse.cy.spec.ts
Due: none

Make sure restoring a metric works
  e2e/test/scenarios/metrics/browse.cy.spec.ts
Due: none

Use non-root collection for metric test
  e2e/test/scenarios/metrics/browse.cy.spec.ts
Due: none

well that's embarassing
  frontend/src/metabase/home/components/HomePage/HomePage.tsx
Due: front-end

update test
  e2e/test/scenarios/admin/datamodel/datamodel.cy.spec.js
  frontend/src/metabase/components/ListItem/ListItem.jsx
Due: front-end

account v host snowflake connection
  docs/databases/connections/snowflake.md
Due: none

many more enable-embedding -> enable-embedding-sdk
  enterprise/backend/test/metabase_enterprise/sso/integrations/jwt_test.clj
  enterprise/backend/test/metabase_enterprise/stale_test.clj
  enterprise/frontend/src/embedding-sdk/cli/steps/setup-embedding-settings.ts
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/enterprise.unit.spec.tsx
  frontend/src/metabase/admin/settings/selectors.js
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/SelectEmbedTypePane.unit.spec.tsx
  frontend/src/metabase/setup/tests/common.unit.spec.tsx
  frontend/src/metabase/sharing/components/SharingMenu/test/setup.tsx
  src/metabase/api/common/validation.clj
Due: back-end, front-end

Convey cancelation info when the client closes the connection (#47740)
  src/metabase/query_processor/streaming.clj
  test/metabase/async/streaming_response_test.clj
Due: back-end

add the template table and model
  dev/src/dev/migrate.clj
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/cmd/copy.clj
  src/metabase/models/channel.clj
  src/metabase/models/interface.clj
  src/metabase/models/notification.clj
  test/metabase/models/notification_test.clj
  test/metabase/test/util.clj
Due: back-end

Add empty state
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorHeader/MetricEditorHeader.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/types.ts
Due: front-end

Add empty state
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/types.ts
Due: front-end

Add empty state
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEmptyState/MetricEmptyState.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorHeader/MetricEditorHeader.tsx
Due: front-end

update cache tests
  e2e/test/scenarios/question/caching.cy.spec.js
Due: none

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
Due: front-end

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorHeader/MetricEditorHeader.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorHeader/MetricEditorHeader.tsx
Due: front-end

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorHeader/MetricEditorHeader.tsx
Due: front-end

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEmptyState/MetricEmptyState.tsx
Due: front-end

Convey cancelation info when the client closes the connection (#47740) (#47781)
  src/metabase/query_processor/streaming.clj
  test/metabase/async/streaming_response_test.clj
Due: back-end

rename all enable-embedding -> enable-embedding-sdk
  docs/configuring-metabase/config-file.md
  docs/installation-and-operation/serialization.md
  e2e/snapshot-creators/default.cy.snap.js
  e2e/test/scenarios/embedding/embedding-smoketests.cy.spec.js
  e2e/test/scenarios/sharing/public-sharing-embed-button-behavior.cy.spec.js
  enterprise/backend/test/metabase/embed/settings_test.clj
  enterprise/frontend/src/metabase-enterprise/embedding/index.js
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/common.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingOption/EmbeddingOption.tsx
  frontend/src/metabase/setup/actions.ts
  frontend/src/metabase/sharing/components/SharingMenu/MenuItems/EmbedMenuItem.tsx
  src/metabase/server/middleware/security.clj
  test/metabase/analytics/stats_test.clj
  test/metabase/api/card_test.clj
  test/metabase/api/embed_test.clj
  test/metabase/server/middleware/security_test.clj
Due: back-end, front-end

perf: Use more efficient query validation when the argument is valid
  src/metabase/legacy_mbql/util.cljc
  src/metabase/lib/schema.cljc
Due: back-end

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/ResizableBoxHandle/ResizableBoxHandle.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/ResizableBoxHandle/ResizableBoxHandle.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/ResizableBoxHandle/index.ts
Due: front-end

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.module.css
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
Due: front-end

Add frame
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
Due: front-end

Add frame
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditor.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorBody/MetricEditorBody.tsx
  frontend/src/metabase/querying/metrics/components/MetricEditor/MetricEditorFooter/MetricEditorFooter.tsx
  frontend/src/metabase/querying/notebook/components/Notebook/Notebook.tsx
Due: front-end

Add frame
  frontend/src/metabase/query_builder/components/view/View.jsx
Due: front-end

Cancel query changes
  frontend/src/metabase/query_builder/actions/models.js
  frontend/src/metabase/query_builder/actions/ui.ts
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.unit.spec.tsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/reducers.js
Due: front-end

Fix test
  e2e/test/scenarios/metrics/metrics-editing.cy.spec.js
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetEditor.jsx
Due: front-end

Fix test
  frontend/src/metabase/query_builder/components/DatasetEditor/DatasetNotebook/DatasetNotebook.jsx
Due: front-end
