Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Potential fix for e2e
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Due: front-end

Attempt to make this work?
  e2e/test/scenarios/embedding/embedding-dashboard.cy.spec.js
  e2e/test/scenarios/models/models-metadata.cy.spec.js
  frontend/src/metabase-types/store/dashboard.ts
  frontend/src/metabase/dashboard/actions/data-fetching.js
  frontend/src/metabase/dashboard/actions/tabs.ts
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.tsx
  frontend/src/metabase/dashboard/components/DashboardActions.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeader.tsx
  frontend/src/metabase/dashboard/components/DashboardHeader/DashboardHeaderView.tsx
  frontend/src/metabase/dashboard/components/DashboardTabs/DashboardTabs.tsx
  frontend/src/metabase/dashboard/components/DashboardTabs/DashboardTabs.unit.spec.tsx
  frontend/src/metabase/dashboard/components/DashboardTabs/SyncedDashboardTabs.tsx
  frontend/src/metabase/dashboard/components/DashboardTabs/use-dashboard-tabs.ts
  frontend/src/metabase/dashboard/components/DashboardTabs/use-sync-url-slug.ts
  frontend/src/metabase/dashboard/containers/AutomaticDashboardApp.jsx
  frontend/src/metabase/dashboard/containers/DashboardApp/DashboardApp.tsx
  frontend/src/metabase/dashboard/hoc/DashboardControls.jsx
  frontend/src/metabase/dashboard/hoc/DashboardControls.tsx
  frontend/src/metabase/dashboard/hoc/index.ts
  frontend/src/metabase/dashboard/hoc/types.ts
  frontend/src/metabase/dashboard/hooks/index.ts
  frontend/src/metabase/dashboard/hooks/use-dashboard-fullscreen.ts
  frontend/src/metabase/dashboard/hooks/use-dashboard-nav.ts
  frontend/src/metabase/dashboard/hooks/use-dashboard-refresh-period.ts
  frontend/src/metabase/dashboard/hooks/use-dashboard-url-params.ts
  frontend/src/metabase/dashboard/hooks/use-embed-display-options.ts
  frontend/src/metabase/dashboard/hooks/use-embed-theme.ts
  frontend/src/metabase/dashboard/hooks/use-refresh-dashboard.ts
  frontend/src/metabase/dashboard/types/display-options.ts
  frontend/src/metabase/dashboard/types/embed-display-options.ts
  frontend/src/metabase/dashboard/types/fetch-dashboard-result.ts
  frontend/src/metabase/dashboard/types/hash-options.ts
  frontend/src/metabase/dashboard/types/index.ts
  frontend/src/metabase/hooks/use-synced-query-string.ts
  frontend/src/metabase/lib/urls/utils.ts
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.styled.tsx
  frontend/src/metabase/public/components/EmbedFrame/EmbedFrame.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/AppearanceSettings.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Due: front-end

Fix querying `TIMESTAMP WITH LOCAL TIME ZONE` for oracle (#44456) (#44655)
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/oracle/test/metabase/test/data/oracle.clj
Due: none

Potential fix for e2e
  enterprise/frontend/src/embedding-sdk/components/private/QuestionTitle.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/ViewTitleHeader.tsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/AdHocQuestionLeftSide/AdHocQuestionLeftSide.tsx
Due: front-end

Add E2E repro for convertTimezone
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
Due: none

Fix querying `TIMESTAMP WITH LOCAL TIME ZONE` for oracle (#44456)
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/oracle/test/metabase/test/data/oracle.clj
Due: none

add 49.18 (#44699)
  docs/releases.md
Due: none

add 49.18 (#44699) (#44707)
  docs/releases.md
Due: none

Add repro for 32804
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Due: none

Fix testing week-of-year extraction in `general-timezone-support-test` (#44583) (#44704)
  test/metabase/query_processor_test/timezones_test.clj
Due: none

update specs
  .loki/reference/chrome_laptop_viz_PivotTable_Default.png
  .loki/reference/chrome_laptop_viz_PivotTable_Horizontal_Scroll_43215.png
Due: none

Add basic unit tests
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/InteractiveDashboard.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/components/public/StaticDashboard/StaticDashboard.unit.spec.tsx
Due: front-end

update tableinteractive spec
  .loki/reference/chrome_laptop_viz_TableInteractive_Default.png
Due: none

update loki.yml workflow
  .github/workflows/loki.yml
Due: none

Repro #35043: Date range filter - from newer to older date (#44687) (#44696)
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
Due: none

Revert "Update bin/lint-migrations-file/src/change_set/strict.clj"
  bin/lint-migrations-file/src/change_set/strict.clj
Due: none

fix labels on small slices
  frontend/src/metabase/visualizations/echarts/pie/option/constants.ts
Due: front-end

docs: add 50.7 to releases
  docs/releases.md
Due: none

add ui redux stuff
  frontend/src/metabase-types/store/state.ts
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/reducers-main.ts
  frontend/src/metabase/redux/visualizer.ts
  frontend/src/metabase/visualizer/containers/Visualizer.tsx
  frontend/src/metabase/visualizer/containers/VisualizerCanvas.tsx
  frontend/src/metabase/visualizer/store.ts
  frontend/src/metabase/visualizer/store.unit.spec.ts
  frontend/src/metabase/visualizer/useVizSettings.ts
Due: front-end

update specs
  .loki/reference/chrome_laptop_Visualizations_ChartSkeleton_Pie.png
  .loki/reference/chrome_laptop_static_viz_PieChart_All_Negative.png
  .loki/reference/chrome_laptop_static_viz_PieChart_All_Settings.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Binned_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Boolean_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Colors.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Column_Formatting.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Column_Formatting_Percentages_On_Chart.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Date_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Default_Settings.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Hide_Legend.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Hide_Total.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Invalid_Dimension_Setting_44085.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Large_Minimum_Slice_Percentage.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Long_Dimension_Name.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Missing_Colors_44087.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Missing_Currency_Formatting_2.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Missing_Currency_Formatting_3.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Missing_Currency_Formatting_44086.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Mixed_Positive_Negative.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Null_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Numeric_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Percentages_On_Chart_Boolean_Dimension_Crashes_44085.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Relative_Date_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Show_Percentages_Off.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Show_Percentages_On_Chart.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Show_Percentages_On_Chart_Dense.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Single_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Small_Minimum_Slice_Percentage.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Sorted_Metric_Col.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Tiny_Slices_Disappear_43766.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Unaggregated_Dimension.png
  .loki/reference/chrome_laptop_static_viz_PieChart_Zero_Minimum_Slice_Percentage.png
Due: none

fix map default display type with un-binned coordinates
  frontend/src/metabase-lib/viz/display.ts
Due: front-end

Add repro for 32804 (#44709)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Due: none

Add E2E repro for convertTimezone (#44705)
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
Due: none

E2E test for custom date expression error (#44694)
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
Due: none

add tests
  frontend/src/metabase-lib/viz/display.unit.spec.ts
Due: front-end

emphasis state for slice hover
  frontend/src/metabase/visualizations/echarts/pie/option/index.ts
Due: front-end

re-add aria-label that was removed to fix e2e test
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
Due: front-end

impls pr feedback
  e2e/test/scenarios/collections/trash.cy.spec.js
Due: none

impls more pr feedback
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbar.tsx
Due: front-end

fix pivot table horizontal scrollbar not appearing (#44514)
  .github/workflows/loki.yml
  .loki/reference/chrome_laptop_viz_PivotTable_Default.png
  .loki/reference/chrome_laptop_viz_PivotTable_Horizontal_Scroll_43215.png
  .loki/reference/chrome_laptop_viz_TableInteractive_Default.png
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.stories.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.unit.spec.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/constants.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/pivot-table-test-mocks.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/stories-data.ts
  package.json
Due: front-end

fix pivot table horizontal scrollbar not appearing (#44514)
  .github/workflows/loki.yml
  .loki/reference/chrome_laptop_viz_PivotTable_Horizontal_Scroll_43215.png
  e2e/test/scenarios/visualizations-tabular/pivot_tables.cy.spec.js
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.stories.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.unit.spec.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/constants.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/pivot-table-test-mocks.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/stories-data.ts
  package.json
Due: front-end

delete pivot table stories
  frontend/src/metabase/visualizations/visualizations/PivotTable/PivotTable.stories.tsx
  frontend/src/metabase/visualizations/visualizations/PivotTable/pivot-table-test-mocks.tsx
Due: front-end

remove loki changes
  .github/workflows/loki.yml
  .loki/reference/chrome_laptop_viz_PivotTable_Horizontal_Scroll_43215.png
  package.json
Due: none

Fix trash banner icon color regression (#44304)
  frontend/src/metabase/archive/components/ArchivedEntityBanner/ArchivedEntityBanner.module.css
  frontend/src/metabase/archive/components/ArchivedEntityBanner/ArchivedEntityBanner.tsx
Due: front-end

custom parse and stringify
  frontend/src/metabase/lib/api.js
  frontend/src/metabase/lib/json-big-int.ts
Due: front-end

support big integers
  e2e/test/scenarios/filters/filter.cy.spec.js
  frontend/src/metabase/components/MetadataInfo/ColumnFingerprintInfo/NumberFingerprint.tsx
  frontend/src/metabase/lib/api.js
  frontend/src/metabase/lib/number.ts
  frontend/src/metabase/lib/utils.ts
  frontend/src/metabase/visualizations/visualizations/SmartScalar/SettingsComponents/PeriodsAgoMenuOption.tsx
  frontend/src/metabase/visualizations/visualizations/SmartScalar/compute.js
  package.json
  yarn.lock
Due: front-end

+ memoize driver.u/supports? for app DB
  src/metabase/driver/util.clj
  test/metabase/driver/util_test.clj
Due: back-end

~ add a test to check we don't log the error twice for the same db
  test/metabase/driver/util_test.clj
Due: none

~ remove accidentally merged metric code
  src/metabase/search/config.clj
Due: back-end
