Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix typos in FE enterprise code translations (#67908)
  enterprise/frontend/src/metabase-enterprise/api/ai-streaming/process-stream.ts
  enterprise/frontend/src/metabase-enterprise/data-studio/data-model/components/SyncOptionsModal.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabotAdminSuggestedPrompts.tsx
  enterprise/frontend/src/metabase-enterprise/transforms/components/IncrementalTransform/IncrementalTransformSettings.tsx
Due: front-end

Fix typo
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Due: back-end

Fix typos in Metabot code
  enterprise/backend/src/metabase_enterprise/metabot_v3/query_analyzer/impl.cljc
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Due: back-end

fix(embed-js, sdk): Properly handle restricted collection access in MetabaseBrowser (#67907)
  e2e/test/scenarios/embedding/sdk-iframe-embedding/metabase-browser.cy.spec.ts
  enterprise/frontend/src/embedding-sdk-ee/tests/auth-flow/setup.tsx
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestion/components/SaveButton.tsx
  frontend/src/embedding-sdk-bundle/components/private/SdkQuestionDefaultView/SdkQuestionDefaultView.tsx
  frontend/src/embedding-sdk-bundle/components/public/CollectionBrowser/CollectionBrowser.tsx
  frontend/src/embedding-sdk-bundle/components/public/SdkQuestion/SdkQuestion-multiple-questions.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/SdkQuestion/SdkQuestion.EditorButton.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/SdkQuestion/SdkQuestion.unit.spec.tsx
  frontend/src/embedding-sdk-bundle/components/public/dashboard/tests/setup.tsx
  frontend/src/embedding-sdk-bundle/hooks/private/use-collection-data.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk/components/MetabaseBrowser.tsx
Due: front-end

Use source alias for breakout with implicit join (#67480)
  src/metabase/query_processor/util/add_alias_info.clj
  test/metabase/query_processor/implicit_joins_test.clj
Due: back-end

test - change readme
  README.md
Due: none

change in branch a
  README.md
Due: none

Fix typo in test metadata (#67909)
  enterprise/backend/test/metabase_enterprise/semantic_search/index_test.clj
Due: back-end

Fix indendation
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Due: back-end

Fix indendation again
  enterprise/backend/src/metabase_enterprise/metabot_v3/query_analyzer/impl.cljc
Due: back-end

oh no
  enterprise/backend/src/metabase_enterprise/transforms_python/impl.clj
Due: back-end

use ActionIcon for data studio toggle icon
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/DataStudioLayout/DataStudioLayout.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/DataStudioLayout/DataStudioLayout.tsx
Due: front-end

Use ActionIcon on snippet tree row ellipsis menu
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/LibrarySectionLayout.tsx
Due: front-end

Change link colors in breadcrumbs on hover
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/DataStudioBreadcrumbs/DataStudioBreadcrumbs.module.css
  enterprise/frontend/src/metabase-enterprise/data-studio/common/components/DataStudioBreadcrumbs/DataStudioBreadcrumbs.tsx
Due: front-end

Use ActionIcon for tree expand icon
  frontend/src/metabase/ui/components/data-display/TreeTable/ExpandButton/ExpandButton.tsx
Due: front-end

Update hover state on transforms runs filters
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunFilterList/FilterFieldSet/FilterFieldSet.module.css
  enterprise/frontend/src/metabase-enterprise/transforms/pages/RunListPage/RunFilterList/FilterFieldSet/FilterFieldSet.tsx
Due: front-end

fix: rollback id path slicing index
  enterprise/frontend/src/metabase-enterprise/data-studio/metrics/components/MetricHeader/MetricHeader.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/tables/components/TableHeader/TableHeader.tsx
Due: front-end

change in the same schema
  src/metabase/api/util.clj
Due: back-end

Fix typo in test metadata (#67909) (#67921)
  enterprise/backend/test/metabase_enterprise/semantic_search/index_test.clj
Due: back-end

fixup! can query filter before saved questions
  src/metabase/warehouses_rest/api.clj
Due: back-end

browser params
  docs/embedding/components.md
Due: none

Flip arrow direction in /graph
  enterprise/backend/src/metabase_enterprise/workspaces/api.clj
  enterprise/backend/test/metabase_enterprise/workspaces/api_test.clj
Due: back-end

Fix typo in group membership endpoint
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/group_manager_test.clj
  src/metabase/permissions_rest/api.clj
Due: back-end

Disable broken test
  enterprise/backend/test/metabase_enterprise/workspaces/api_test.clj
Due: back-end

Fix data studio nav collapsed logo hover
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/DataStudioLayout/DataStudioLayout.module.css
Due: front-end

fix: only expand root collection on snippets when navigating back from snippets
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/LibrarySectionLayout/LibrarySectionLayout.tsx
  enterprise/frontend/src/metabase-enterprise/data-studio/snippets/components/SnippetHeader/SnippetHeader.tsx
Due: front-end

Fixing tests
  enterprise/backend/test/metabase_enterprise/audit_app/audit_test.clj
  enterprise/backend/test/metabase_enterprise/dependencies/api_test.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/dependencies_test.clj
  enterprise/backend/test/metabase_enterprise/transforms/api/transform_tag_test.clj
Due: back-end

Use a more formal _cannot_
  enterprise/backend/test/metabase_enterprise/advanced_permissions/api/group_manager_test.clj
  src/metabase/permissions_rest/api.clj
Due: back-end

Change `guest embeds disabled` tooltip to display a link to admin settings
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-experience.cy.spec.ts
  frontend/src/metabase/embedding/embedding-iframe-sdk-setup/components/Authentication/AuthenticationSection.tsx
Due: front-end

Fix typos in Metabot code (#67918)
  enterprise/backend/src/metabase_enterprise/metabot_v3/query_analyzer/impl.cljc
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Due: back-end

Update e2e
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/select-embed-experience.cy.spec.ts
Due: none

Fixing tests
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/dependencies_test.clj
Due: back-end

staleness tracking
  enterprise/backend/src/metabase_enterprise/transforms/models/transform.clj
  enterprise/backend/src/metabase_enterprise/workspaces/impl.clj
  enterprise/backend/src/metabase_enterprise/workspaces/models/workspace_transform.clj
  enterprise/backend/test/metabase_enterprise/workspaces/execute_test.clj
  enterprise/backend/test/metabase_enterprise/workspaces/impl_test.clj
  resources/migrations/058_update_migrations.yaml
Due: back-end

fix import
  enterprise/frontend/src/metabase-enterprise/data-studio/app/pages/DataStudioLayout/WorkspaceSection.tsx
Due: front-end

Fix typos in Metabot code (#67918) (#67926)
  enterprise/backend/src/metabase_enterprise/metabot_v3/query_analyzer/impl.cljc
  enterprise/backend/src/metabase_enterprise/semantic_search/embedding.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
