Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Move focusNativeEditor to native editor helpers
  e2e/support/helpers/e2e-misc-helpers.js
  e2e/support/helpers/e2e-native-editor-helpers.ts
Due: none

Use focusNativeEditor where applicable
  e2e/test/scenarios/actions/actions-on-dashboards.cy.spec.js
  e2e/test/scenarios/models/models-query-editor.cy.spec.js
  e2e/test/scenarios/models/reproductions.cy.spec.js
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-database-source.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native_subquery.cy.spec.js
  e2e/test/scenarios/native/snippets.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-1.cy.spec.js
Due: none

Remove feature branch sentence
  .github/ISSUE_TEMPLATE/epic.md
Due: none

Remove ace_editor references in test
  e2e/test/scenarios/models/create.cy.spec.js
  e2e/test/scenarios/models/models.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-2.cy.spec.js
  e2e/test/scenarios/sharing/downloads/sharing-download-reproductions.cy.spec.js
  e2e/test/scenarios/visualizations-charts/visualizations-charts-reproductions.cy.spec.js
Due: none

Fix test
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
Due: none

Simplify epic template to allow for easier editing (#50248)
  .github/ISSUE_TEMPLATE/epic.md
Due: none

Simplify epic template to allow for easier editing (#50248) (#50436)
  .github/ISSUE_TEMPLATE/epic.md
Due: none

Remove references to native-query-editor testid in test
  e2e/test/scenarios/dashboard/dashboard-back-navigation.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-2.cy.spec.js
  e2e/test/scenarios/question/notebook-native-preview-sidebar.cy.spec.ts
Due: none

Do not show values initially when single select search does not have a filter value (#49577)
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.tsx
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.tsx
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.unit.spec.js
  frontend/src/metabase/components/SingleSelectListField/types.ts
Due: front-end

Remove duplicate test assertion
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
Due: none

Fix nesting in css
  frontend/src/metabase/query_builder/components/NativeQueryEditor/AceEditor.global.css
Due: front-end

Use font-family from variable
  frontend/src/metabase/query_builder/components/NativeQueryEditor/AceEditor.global.css
Due: front-end

Add postcss-nested
  package.json
  yarn.lock
Due: none

Use postcss-nested over postcss-nesting
  postcss.config.js
Due: none

Allow searching a single select list picker (#49739)
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Range.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List_Single_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Quarter_Year_Dropdown.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List_Single_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List_With_Value.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedQuestionView_Light_Theme_Default.png
  .loki/reference/chrome_laptop_embed_PublicOrEmbeddedQuestionView_Transparent_Theme_Default.png
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.tsx
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.unit.spec.tsx
  frontend/src/metabase/components/ListField/ListField.tsx
  frontend/src/metabase/components/ListField/ListField.unit.spec.tsx
  frontend/src/metabase/components/ListField/types.ts
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.tsx
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.unit.spec.js
  frontend/src/metabase/components/SingleSelectListField/types.ts
Due: front-end

Sdk update react next versions (#50222) (#50280)
  docs/embedding/sdk/introduction.md
  docs/embedding/sdk/next-js.md
  docs/embedding/sdk/quickstart-cli.md
  docs/embedding/sdk/quickstart.md
Due: none

Delete hybrid search
  dev/src/dev/search.clj
  src/metabase/search/postgres/core.clj
  src/metabase/search/postgres/index.clj
  test/metabase/search/postgres/core_test.clj
  test/metabase/search/postgres/index_test.clj
Due: back-end

Sort out weird imports after merge
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Summarize.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/SummarizeButton.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/index.ts
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/InteractiveQuestion.tsx
Due: front-end

Fix formatting
  test/metabase/search/postgres/index_test.clj
Due: none

add a test for accounts scenario
  src/metabase/search/config.clj
  test/metabase/api/search_test.clj
  test/metabase/search/postgres/index_test.clj
  test/metabase/search/scenarios_test.clj
Due: back-end

Update npm packages from 1.xx.y to 0.xx.y (#50409)
  docs/embedding/sdk/version.md
Due: none

Update npm packages from 1.xx.y to 0.xx.y (#50409) (#50446)
  docs/embedding/sdk/version.md
Due: none

Manually update chaneglog for master
  enterprise/frontend/src/embedding-sdk/CHANGELOG.md
Due: front-end

Add padding to selected items
  frontend/src/metabase/components/SearchField/SearchField.module.css
Due: front-end

cljfmt
  test/metabase/api/search_test.clj
Due: none

use css variables for skeleton background color
  frontend/src/metabase/ui/components/feedback/Skeleton/Skeleton.styled.tsx
Due: front-end

Sort out weird imports after merge
  e2e/test/scenarios/embedding-sdk/interactive-question.cy.spec.ts
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestionResult/InteractiveQuestionResult.tsx
Due: front-end

Manually update chaneglog for release 51
  enterprise/frontend/src/embedding-sdk/CHANGELOG.md
Due: front-end

Update more changelog entry
  enterprise/frontend/src/embedding-sdk/CHANGELOG.md
Due: front-end

aUpdate enterprise/frontend/src/embedding-sdk/package.template.json
  enterprise/frontend/src/embedding-sdk/package.template.json
Due: front-end

address pr comments
  enterprise/frontend/src/embedding-sdk/bin/generate-nextjs-compat.ts
Due: front-end

people won't like this hehe
  test/metabase/search/scenarios_test.clj
Due: none

Add alwaysShowOptions to SearchField too
  frontend/src/metabase/components/SearchField/SearchField.tsx
Due: front-end

apply theme to folder color
  frontend/src/metabase/common/components/EntityPicker/components/ItemList/ItemList.tsx
Due: front-end

show loader when query is running
  frontend/src/metabase/query_builder/components/view/View/View/View.jsx
  frontend/src/metabase/query_builder/components/view/ViewFooter/LeftViewFooterButtonGroup.tsx
  frontend/src/metabase/query_builder/components/view/ViewFooter/ViewFooter.tsx
  frontend/src/metabase/query_builder/components/view/ViewFooter/ViewFooterControl.tsx
Due: front-end

replace theme.white with themeColor
  frontend/src/metabase/ui/components/inputs/SegmentedControl/SegmentedControl.styled.tsx
Due: front-end

use name of folder chevron color
  frontend/src/metabase/common/components/EntityPicker/components/ItemList/ItemList.tsx
Due: front-end

Correctly switch to search box when not all values are shown
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.tsx
Due: front-end
