Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 40%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend
      - frontend
    carryforward: true

fix more tests
  modules/drivers/druid/test/metabase/driver/druid/query_processor_test.clj
  modules/drivers/googleanalytics/test/metabase/driver/googleanalytics_test.clj
  modules/drivers/mongo/test/metabase/driver/mongo_test.clj
Due: none

delete all perms including download perms when deleting a db
  src/metabase/models/database.clj
  test/metabase/models/database_test.clj
Due: back-end

fix lil bug where the native permissions update fn is deleting more than it should
  src/metabase/models/permissions.clj
Due: back-end

add checks for premium-features flag
  enterprise/backend/src/metabase_enterprise/advanced_permissions/models/permissions.clj
  enterprise/backend/src/metabase_enterprise/advanced_permissions/query_processor/middleware/permissions.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/models/permissions_test.clj
Due: back-end

Fix sometimes table doesn't resize (#20954)
  frontend/src/metabase/components/DebouncedFrame.jsx
  frontend/src/metabase/components/ExplicitSize.jsx
Due: front-end

Fix regression from fixing #20954 (#21051)
  frontend/src/metabase/components/DebouncedFrame.jsx
Due: front-end

Fix the repro for #20624 according to newly proposed behavior
  frontend/test/metabase/scenarios/models/reproductions/20624-model-metadata-should-override-column-settings.cy.spec.js
Due: front-end

Fix table doesn't use overridden column metadata display name
  frontend/src/metabase/visualizations/visualizations/Table.jsx
Due: front-end

add in the new field
  test/metabase/query_processor/async_test.clj
  test/metabase/test/mock/util.clj
Due: none

Manual backport: (Issue: #20228, PR: #20954) Fix sometimes table doesn't resize (#21081)
  frontend/src/metabase/components/DebouncedFrame.jsx
  frontend/src/metabase/components/ExplicitSize.jsx
Due: front-end

where do things go
  src/metabase/query_processor/middleware/add_source_metadata.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor_test.clj
Due: back-end

Fix collection bug
  frontend/src/metabase/query_builder/reducers.js
Due: front-end

Renaming for clarity
  frontend/src/metabase/query_builder/components/VisualizationResult.jsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/TimelineSidebar/TimelineSidebar.tsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
  frontend/src/metabase/timelines/questions/components/TimelineCard/TimelineCard.tsx
  frontend/src/metabase/timelines/questions/components/TimelineList/TimelineList.tsx
  frontend/src/metabase/timelines/questions/components/TimelinePanel/TimelinePanel.tsx
  frontend/src/metabase/visualizations/components/Visualization.jsx
  frontend/src/metabase/visualizations/lib/LineAreaBarPostRender.js
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
  frontend/src/metabase/visualizations/lib/timelines.js
Due: front-end

Renaming for clarity
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/VisualizationResult.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/visualizations/lib/LineAreaBarPostRender.js
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
  frontend/src/metabase/visualizations/lib/timelines.js
Due: front-end

Renaming for clarity
  frontend/src/metabase/query_builder/components/view/sidebars/TimelineSidebar/TimelineSidebar.tsx
  frontend/src/metabase/timelines/questions/components/TimelineList/TimelineList.tsx
  frontend/src/metabase/timelines/questions/components/TimelinePanel/TimelinePanel.tsx
Due: front-end

more whacking test bugs
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Due: none

should be it
  test/metabase/query_processor_test/nested_queries_test.clj
Due: none

Highlight selected events in the query builder (#21038)
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/VisualizationResult.jsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/TimelineSidebar/TimelineSidebar.tsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
  frontend/src/metabase/timelines/questions/components/EventCard/EventCard.styled.tsx
  frontend/src/metabase/timelines/questions/components/EventCard/EventCard.tsx
  frontend/src/metabase/timelines/questions/components/TimelineCard/TimelineCard.styled.tsx
  frontend/src/metabase/timelines/questions/components/TimelineCard/TimelineCard.tsx
  frontend/src/metabase/timelines/questions/components/TimelineCard/TimelineCard.unit.spec.tsx
  frontend/src/metabase/timelines/questions/components/TimelineList/TimelineList.tsx
  frontend/src/metabase/timelines/questions/components/TimelineList/TimelineList.unit.spec.tsx
  frontend/src/metabase/timelines/questions/components/TimelinePanel/TimelinePanel.tsx
  frontend/src/metabase/timelines/questions/components/TimelinePanel/TimelinePanel.unit.spec.tsx
  frontend/src/metabase/timelines/questions/containers/TimelinePanel/TimelinePanel.tsx
  frontend/src/metabase/visualizations/components/Visualization.jsx
  frontend/src/metabase/visualizations/lib/LineAreaBarPostRender.js
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
  frontend/src/metabase/visualizations/lib/timelines.js
  frontend/test/metabase-visual/visualizations/line.cy.spec.js
  frontend/test/metabase/scenarios/question/timelines.cy.spec.js
Due: front-end

whack the real obscure one
  modules/drivers/googleanalytics/test/metabase/driver/googleanalytics_test.clj
Due: none

Put user's personal collection under Our analytics (#21061)
  frontend/src/metabase/collections/components/CollectionSidebar/Collections/Collections.jsx
Due: front-end

Show tooltip with a full item name if its cut
  frontend/src/metabase/collections/components/CollectionSidebar/Collections/CollectionsList/CollectionsList.styled.jsx
Due: front-end

why does the linter only complain now
  resources/migrations/000_migrations.yaml
Due: none

Fix repro 12457 flake
  frontend/test/metabase/scenarios/question/filter.cy.spec.js
Due: front-end

Fix repro 17397 flake
  frontend/test/metabase/scenarios/question/notebook.cy.spec.js
Due: front-end

Remove redundant tests
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Due: front-end

Make Models not embeddable #20815 (#21025)
  frontend/src/metabase/query_builder/containers/QuestionEmbedWidget.jsx
  frontend/test/metabase/scenarios/embedding/embedding-smoketests.cy.spec.js
Due: front-end

[ci noskip] Test Git cache for e2e
  .circleci/config.yml
Due: none

Fix empty state icon in activity page misalignment (#20820)
  frontend/src/metabase/css/home.css
  frontend/src/metabase/home/components/Activity.jsx
Due: front-end

Fix "Show error details" keeps showing after clicked (#20824)
  frontend/src/metabase/components/ErrorDetails.jsx
  frontend/src/metabase/components/ErrorDetails/ErrorDetails.tsx
  frontend/src/metabase/components/ErrorDetails/index.ts
  frontend/src/metabase/components/ErrorDetails/types.ts
  frontend/src/metabase/containers/ErrorPages.jsx
  frontend/src/metabase/query_builder/components/VisualizationError.jsx
Due: front-end

Fix main page show indefinite loading spinner when any API failed (#20840)
  frontend/src/metabase/components/EmptyState.jsx
  frontend/src/metabase/home/homepage/components/Homepage/Homepage.tsx
Due: front-end

Fix no visual feedback when updating data model column properties (#20874)
  frontend/src/metabase/admin/datamodel/containers/MetadataEditorApp.jsx
  frontend/src/metabase/entities/fields.js
  frontend/src/metabase/lib/entities.js
Due: front-end

Fix no visual feedback when updating data model field details (#20915)
  frontend/src/metabase/admin/datamodel/components/database/MetadataTable.jsx
  frontend/src/metabase/admin/datamodel/containers/FieldApp.jsx
  frontend/src/metabase/entities/fields.js
  frontend/src/metabase/entities/tables.js
  frontend/src/metabase/lib/entities.js
Due: front-end

Fix question E2E flakes (#21085)
  frontend/test/metabase/scenarios/question/filter.cy.spec.js
  frontend/test/metabase/scenarios/question/notebook.cy.spec.js
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Due: front-end

Upgrade `@cypress/webpack-preprocessor` to the latest version (`5.11.1`) (#21067)
  package.json
  yarn.lock
Due: none

Add autolink support and better email link handling to backend Markdown parsing (#21039) (#21076)
  deps.edn
  src/metabase/pulse/markdown.clj
  test/metabase/pulse/markdown_test.clj
Due: back-end

remove enterprise refs
  docs/administration-guide/06-collections.md
  docs/enterprise-guide/authenticating-with-saml-azure-ad.md
  docs/enterprise-guide/authenticating-with-saml.md
  docs/enterprise-guide/cache.md
  docs/enterprise-guide/dashboard-subscriptions.md
  docs/enterprise-guide/data-sandboxes.md
  docs/enterprise-guide/full-app-embedding.md
  docs/enterprise-guide/sql-snippets.md
  docs/troubleshooting-guide/loading-from-h2.md
  docs/troubleshooting-guide/permissions.md
  docs/users-guide/dashboard-subscriptions.md
  docs/users-guide/interactive-dashboards.md
  docs/users-guide/sql-snippets.md
Due: none

update env vars
  docs/administration-guide/10-single-sign-on.md
  docs/administration-guide/sso.md
  docs/operations-guide/environment-variables.md
Due: none

docs - remove enterprise refs (#21091)
  docs/administration-guide/06-collections.md
  docs/administration-guide/10-single-sign-on.md
  docs/administration-guide/sso.md
  docs/enterprise-guide/authenticating-with-saml-azure-ad.md
  docs/enterprise-guide/authenticating-with-saml.md
  docs/enterprise-guide/cache.md
  docs/enterprise-guide/dashboard-subscriptions.md
  docs/enterprise-guide/data-sandboxes.md
  docs/enterprise-guide/full-app-embedding.md
  docs/enterprise-guide/sql-snippets.md
  docs/operations-guide/environment-variables.md
  docs/troubleshooting-guide/loading-from-h2.md
  docs/troubleshooting-guide/permissions.md
  docs/users-guide/dashboard-subscriptions.md
  docs/users-guide/interactive-dashboards.md
  docs/users-guide/sql-snippets.md
Due: none
