Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

breaking up document drop handler
  enterprise/frontend/src/metabase-enterprise/rich_text_editing/tiptap/extensions/HandleEditorDrop/DropHandlers/cardToCard.ts
  enterprise/frontend/src/metabase-enterprise/rich_text_editing/tiptap/extensions/HandleEditorDrop/DropHandlers/cardToDocument.ts
  enterprise/frontend/src/metabase-enterprise/rich_text_editing/tiptap/extensions/HandleEditorDrop/DropHandlers/cardToFlexContainer.ts
  enterprise/frontend/src/metabase-enterprise/rich_text_editing/tiptap/extensions/HandleEditorDrop/DropHandlers/index.ts
  enterprise/frontend/src/metabase-enterprise/rich_text_editing/tiptap/extensions/HandleEditorDrop/HandleEditorDrop.tsx
Due: front-end

Questions and models from serialization-v0 collection
  test_resources/representations/v0/pokemon-cards-limited.question.yml
  test_resources/representations/v0/pokemon-cards.question.yml
  test_resources/representations/v0/sales-data-2025-with-ratings.question.yml
  test_resources/representations/v0/sales-data-2025.model.yml
  test_resources/representations/v0/sales-data-enriched.model.yml
  test_resources/representations/v0/sales-data.question.yml
  test_resources/representations/v0/trainers-facts.model.yml
  test_resources/representations/v0/trainers.question.yml
  vamsi-export/collection-8/question-113.question.yml
  vamsi-export/collection-8/question-114.question.yml
  vamsi-export/collection-8/question-115.question.yml
  vamsi-export/collection-8/question-117.question.yml
  vamsi-export/collection-8/question-120.question.yml
Due: none

E2E tests
  e2e/test/scenarios/dependencies/dependencies.cy.spec.ts
Due: none

reworked unit test to not depend on ai-service or appdb contents
  enterprise/backend/test/metabase_enterprise/metabot_v3/task/suggested_prompts_generator_test.clj
Due: back-end

PR feedback
  enterprise/backend/src/metabase_enterprise/metabot_v3/suggested_prompts.clj
Due: back-end

remove mock of get metrics and models in favor of mt/with-empty-h2-app-db
  enterprise/backend/test/metabase_enterprise/metabot_v3/task/suggested_prompts_generator_test.clj
Due: back-end

[METABOT] Default use_verified_content to false; tweak prompts (#63843)
  enterprise/backend/src/metabase_enterprise/metabot_v3/suggested_prompts.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/task/suggested_prompts_generator.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/task/suggested_prompts_generator_test.clj
  resources/migrations/056_update_migrations.yaml
Due: back-end

Add tests for the change log table
  enterprise/backend/src/metabase_enterprise/remote_sync/models/remote_sync_change_log.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/models/remote_sync_change_log_test.clj
Due: back-end

More test fixes :wrench:
  enterprise/backend/test/metabase_enterprise/cache/task/refresh_cache_configs_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/test_util.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/load_test.clj
  src/metabase/lib/walk/util.cljc
  src/metabase/lib_be/core.clj
  src/metabase/lib_be/metadata/bootstrap.clj
  src/metabase/lib_be/models/transforms.clj
  src/metabase/models/serialization.clj
  src/metabase/parameters/params.clj
  src/metabase/queries/core.clj
  src/metabase/queries/models/card.clj
  src/metabase/queries/models/query.clj
  src/metabase/query_processor/setup.clj
  src/metabase/upload/impl.clj
  test/metabase/analytics/stats_test.clj
  test/metabase/app_db/schema_migrations_test/impl.clj
  test/metabase/collections/api_test.clj
  test/metabase/parameters/params_test.clj
  test_resources/serialization_baseline/collections/cards/aqpA3mIKUnfzYUlwjuGwT_source_question.yaml
Due: back-end

Code cleanup
  src/metabase/queries/schema.clj
Due: back-end

docs: send only attachements
  docs/dashboards/subscriptions.md
Due: none

Kondo
  src/metabase/parameters/params.clj
Due: back-end

Don't count a field as inactive if only the full version has not been used for a while
  src/metabase/warehouse_schema/models/field_values.clj
  test/metabase/sync/field_values_test.clj
Due: back-end

Test fixes :wrench:
  src/metabase/lib/schema/metadata.cljc
  test/metabase/queries/models/card_test.clj
Due: back-end

Test fixes :wrench:
  src/metabase/queries/schema.clj
  test/metabase/queries/models/card_test.clj
Due: back-end

Fix crash during reindexing of analytics on upgrade (#63770)
  enterprise/backend/src/metabase_enterprise/serialization/cmd.clj
  enterprise/backend/src/metabase_enterprise/serialization/v2/load.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/round_trip_test.clj
Due: back-end

Remove .json format from subscription options
  docs/dashboards/subscriptions.md
Due: none

Add load-representation script
  bin/load-representation
Due: none

Fix typo
  src/metabase/parameters/params.clj
Due: back-end

Alex edits
  docs/exploration-and-organization/data-model-reference.md
Due: none

Hiros document desires (#63035)
  e2e/support/helpers/e2e-ui-elements-helpers.js
  e2e/test/scenarios/documents/documents.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/documents/components/DocumentCopyForm/DocumentCopyForm.tsx
  enterprise/frontend/src/metabase-enterprise/documents/index.ts
  enterprise/frontend/src/metabase-enterprise/entities/document.ts
  enterprise/frontend/src/metabase-enterprise/rich_text_editing/tiptap/extensions/CardEmbed/CardEmbedNode.tsx
  frontend/src/metabase/entities/containers/EntityCopyModal.tsx
  frontend/src/metabase/plugins/index.ts
Due: front-end

Apply suggestions from code review
  docs/dashboards/subscriptions.md
Due: none

Remove .json format from subscription options (#63849)
  docs/dashboards/subscriptions.md
Due: none

docs - add glossary and image (#63844)
  docs/exploration-and-organization/data-model-reference.md
  docs/exploration-and-organization/images/data-reference-fields.png
  docs/exploration-and-organization/images/segments-browser.png
Due: none

docs: send only attachements (#63846)
  docs/dashboards/subscriptions.md
Due: none

Add validate-representation script
  bin/validate-representation
Due: none

Serialization for transforms
  enterprise/backend/src/metabase_enterprise/serialization/v2/extract.clj
  enterprise/backend/src/metabase_enterprise/serialization/v2/ingest.clj
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  enterprise/backend/src/metabase_enterprise/transforms/models/transform.clj
  enterprise/backend/src/metabase_enterprise/transforms/models/transform_job.clj
  enterprise/backend/src/metabase_enterprise/transforms/models/transform_job_transform_tag.clj
  enterprise/backend/src/metabase_enterprise/transforms/models/transform_tag.clj
  enterprise/backend/src/metabase_enterprise/transforms/models/transform_transform_tag.clj
  enterprise/backend/test/metabase_enterprise/models/entity_id_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/api_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/cmd_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/load_test.clj
  resources/serialization-order.edn
  test_resources/serialization_baseline/transforms/EFFQTUPv83TcPakYN_Rlu_test_transform.yaml
  test_resources/serialization_baseline/transforms/transform_jobs/CL1TVitmzJrDjdjvO2xmN_monthly_job.yaml
  test_resources/serialization_baseline/transforms/transform_jobs/PJahvcoF61oX5T4uCT_FY_daily_job.yaml
  test_resources/serialization_baseline/transforms/transform_jobs/RognTgBT2fXaxoQh4ws7z_hourly_job.yaml
  test_resources/serialization_baseline/transforms/transform_jobs/lXIFa2SUrXLgaLZJx33oU_weekly_job.yaml
  test_resources/serialization_baseline/transforms/transform_tags/57rMR6aYNYpJyNInwm2cf_daily.yaml
  test_resources/serialization_baseline/transforms/transform_tags/9E-m1vVPicsuK226FDxM9_custom_etl.yaml
  test_resources/serialization_baseline/transforms/transform_tags/DeeJHc81qKhD9qWINISO8_monthly.yaml
  test_resources/serialization_baseline/transforms/transform_tags/O22Rax9PNu1S_q5IWG8pT_daily.yaml
  test_resources/serialization_baseline/transforms/transform_tags/QHfUvL9vrdkn9NVrN2Zkg_hourly.yaml
  test_resources/serialization_baseline/transforms/transform_tags/UWRvb_rSOApXNSrLIH_g5_custom_etl.yaml
  test_resources/serialization_baseline/transforms/transform_tags/Wd5pK2wpz4r55ovqOXXuD_hourly.yaml
  test_resources/serialization_baseline/transforms/transform_tags/dUW7nvQHQBdA0Rx0gJckI_daily.yaml
  test_resources/serialization_baseline/transforms/transform_tags/qPGCJu7t97kn-X07_fgSj_weekly.yaml
  test_resources/serialization_baseline/transforms/transform_tags/wYLcUPbtF7jVPO0duGGHR_hourly.yaml
  test_resources/serialization_baseline/transforms/txz-QxFUj623m2n-gC1Qz_test_transform.yaml
Due: back-end

serialize the new column
  enterprise/backend/src/metabase_enterprise/transforms/models/transform_job.clj
Due: back-end

Removed loki flaky test (#63824)
  frontend/src/metabase/visualizations/visualizations/BarChart/BarChart.stories.tsx
Due: front-end

Remove .json format from subscription options (#63849) (#63850)
  docs/dashboards/subscriptions.md
Due: none

Remove .json format from subscription options (#63849) (#63851)
  docs/dashboards/subscriptions.md
Due: none

Small refactors & simplifications to metabot PUT endpoint and suggested prompts job
  enterprise/backend/src/metabase_enterprise/metabot_v3/api/metabot.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/task/suggested_prompts_generator.clj
Due: back-end

add new extended date range picker
  frontend/src/metabase-lib/v1/parameters/constants.ts
  frontend/src/metabase-types/api/parameters.ts
  frontend/src/metabase/parameters/components/ParameterDropdownWidget.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/ExtendedDateFilterPicker.module.css
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/ExtendedDateFilterPicker.stories.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/ExtendedDateFilterPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/README.md
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/index.ts
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/ExtendedDateFilterPicker/utils.ts
  frontend/src/metabase/querying/parameters/components/DateExtendedRangeWidget/DateExtendedRangeWidget.tsx
  frontend/src/metabase/querying/parameters/components/DateExtendedRangeWidget/index.ts
  src/metabase/lib/schema/parameter.cljc
Due: back-end, front-end

Simplify responsive max width
  frontend/src/metabase/admin/databases/containers/DatabasePage.tsx
Due: front-end
