Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Revert change for coordinates filter
  e2e/test/scenarios/question/native-query-drill.cy.spec.ts
Due: none

docs(sdk): fix dead link in sdk quickstart (#49749)
  docs/embedding/sdk/quickstart.md
Due: none

cleanup leftovers
  frontend/src/metabase/query_builder/components/view/View/View/View.jsx
  frontend/src/metabase/query_builder/components/view/View/ViewMainContainer/ViewMainContainer.jsx
  frontend/src/metabase/query_builder/components/view/ViewFooter.styled.tsx
  frontend/src/metabase/query_builder/components/view/ViewFooter/LeftViewFooterButtonGroup.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/ChartSettingsSidebar.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/ChartTypeSidebar/ChartTypeSidebar.tsx
Due: front-end

test fixes
  test/metabase/notification/payload/impl/system_event_test.clj
Due: none

docs(sdk): fix dead link in sdk quickstart (#49749) (#49750)
  docs/embedding/sdk/quickstart.md
Due: none

Fix flaky 25885 repro
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Allow searching a single select list picker
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.tsx
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.tsx
  frontend/src/metabase/components/SingleSelectListField/types.ts
Due: front-end

Remove sandboxes tests from flaky jail (#49656)
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
Due: none

Fix flaky native query drill test (#49745)
  e2e/test/scenarios/question/native-query-drill.cy.spec.ts
Due: none

Add repro for #44665
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
Due: none

Add analytics to the db list
  frontend/src/metabase-types/analytics/event.ts
  frontend/src/metabase/browse/databases/BrowseDatabases.tsx
  frontend/src/metabase/browse/databases/analytics.ts
Due: front-end

feat(sdk): deprecate the ModifyQuestion component (#49747)
  docs/embedding/sdk/questions.md
  enterprise/frontend/src/embedding-sdk/components/public/ModifyQuestion/ModifyQuestion.tsx
Due: front-end

Fix flaky test
  e2e/test/scenarios/admin/databases.cy.spec.js
Due: none

add filter picker skeleton
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/FilterPicker.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/index.ts
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/InteractiveQuestion.stories.tsx
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveQuestion/InteractiveQuestion.tsx
Due: front-end

Add "Add database" button to the sidebar
  frontend/src/metabase/nav/containers/MainNavbar/MainNavbarContainer/MainNavbarView.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/AddDatabase.tsx
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/analytics.ts
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/index.tsx
Due: front-end

Remove sandboxes tests from flaky jail (#49656) (#49754)
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
Due: none

Fix flaky native query drill test (#49745) (#49755)
  e2e/test/scenarios/question/native-query-drill.cy.spec.ts
Due: none

almost gone?
  .clj-kondo/config.edn
  enterprise/backend/src/metabase_enterprise/sandbox/api/error_page.hbs
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  src/metabase/channel/template/core.clj
  src/metabase/channel/template/handlebars.clj
  src/metabase/email/_footer.mustache
  src/metabase/email/_header.mustache
  src/metabase/email/_logo.mustache
  src/metabase/email/alert_admin_unsubscribed_you.hbs
  src/metabase/email/alert_admin_unsubscribed_you.mustache
  src/metabase/email/alert_archived.hbs
  src/metabase/email/alert_archived.mustache
  src/metabase/email/alert_new_confirmation.hbs
  src/metabase/email/alert_stopped_working.hbs
  src/metabase/email/alert_stopped_working.mustache
  src/metabase/email/alert_unsubscribed.hbs
  src/metabase/email/alert_unsubscribed.mustache
  src/metabase/email/alert_you_were_added.hbs
  src/metabase/email/alert_you_were_added.mustache
  src/metabase/email/broken_subscription_notification.hbs
  src/metabase/email/creator_sentiment_email.hbs
  src/metabase/email/follow_up_email.hbs
  src/metabase/email/legacy_no_self_service.hbs
  src/metabase/email/login_from_new_device.hbs
  src/metabase/email/messages.clj
  src/metabase/email/new_user_invite.hbs
  src/metabase/email/password_reset.hbs
  src/metabase/email/persisted-model-error.hbs
  src/metabase/email/persisted-model-error.mustache
  src/metabase/email/slack_token_error.hbs
  src/metabase/email/user_joined_notification.hbs
  src/metabase/email/warn_deprecate_pulse.hbs
  src/metabase/task/email_remove_legacy_pulse.clj
  src/metabase/task/legacy_no_self_service_emails.clj
  test/metabase/channel/template/handlebars_test.clj
Due: back-end

Fix unit tests
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.unit.spec.tsx
Due: front-end

feat(sdk): deprecate the ModifyQuestion component (#49747) (#49757)
  docs/embedding/sdk/questions.md
  enterprise/frontend/src/embedding-sdk/components/public/ModifyQuestion/ModifyQuestion.tsx
Due: front-end

Add E2E Snowplow tests
  e2e/test/scenarios/onboarding/add-initial-data.cy.spec.ts
Due: none

Add repro for 49642
  e2e/test/scenarios/filters-reproductions/filters-reproductions.cy.spec.js
Due: none

Do not show values initially when single select search does not have a filter
  frontend/src/metabase/components/FieldValuesWidget/FieldValuesWidget.tsx
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.tsx
  frontend/src/metabase/components/SingleSelectListField/SingleSelectListField.unit.spec.js
  frontend/src/metabase/components/SingleSelectListField/types.ts
Due: front-end

Add repro for 49577
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
Due: none

Fix flaky 25885 repro (#49753)
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Remove @flaky tag from no longer flaking tests (#49608)
  e2e/test/scenarios/dashboard-filters/dashboard-filters-sql-text-category.cy.spec.js
  e2e/test/scenarios/metrics/metrics-collection.cy.spec.js
  e2e/test/scenarios/models/models-metadata.cy.spec.js
Due: none

update enterprise and cleanup
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/QuestionSettings.tsx
  frontend/src/metabase/visualizations/components/ChartSettings/BaseChartSettings/BaseChartSettings.tsx
  frontend/src/metabase/visualizations/components/ChartSettings/BaseChartSettings/BaseChartSettings.unit.spec.tsx
Due: front-end

Fix type
  frontend/src/metabase/visualizer/visualizer.slice.ts
Due: front-end

Rework x/y well components
  frontend/src/metabase/visualizer/components/VisualizationCanvas/HorizontalWell/CartesianHorizontallWell.tsx
  frontend/src/metabase/visualizer/components/VisualizationCanvas/VerticalWell/CartesianVerticalWell.tsx
  frontend/src/metabase/visualizer/components/VisualizationCanvas/VerticalWell/FunnelVerticalWell.tsx
  frontend/src/metabase/visualizer/components/VisualizationCanvas/VerticalWell/SimpleVerticalWell.tsx
  frontend/src/metabase/visualizer/components/VisualizationCanvas/VerticalWell/VerticalWell.tsx
  frontend/src/metabase/visualizer/components/VisualizationCanvas/VisualizationCanvas.tsx
  frontend/src/metabase/visualizer/visualizer.slice.ts
Due: front-end

Add unit tests
  frontend/src/metabase/nav/containers/MainNavbar/SidebarItems/AddDatabase/AddDatabase.tsx
  frontend/src/metabase/nav/containers/MainNavbar/tests/common.unit.spec.tsx
Due: front-end

Fix flaky 25885 repro (#49753) (#49760)
  e2e/test/scenarios/models/reproductions.cy.spec.ts
Due: none

Correct embedding hash options type semantically
  frontend/src/metabase/dashboard/types/hash-options.ts
  frontend/src/metabase/public/hooks/use-embed-frame-options.ts
  frontend/src/metabase/public/lib/types.ts
Due: front-end

Allow smart scalar text to be translated
  frontend/src/metabase/lib/i18n.js
  frontend/src/metabase/public/LocaleProvider.tsx
Due: front-end

Stop using global variable
  frontend/src/metabase/lib/i18n.js
  frontend/src/metabase/public/LocaleProvider.tsx
Due: front-end
