Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Fix modularity
  .clj-kondo/config/modules/config.edn
  src/metabase/mcp/session.clj
Due: back-end

Ensure we can always parse formulas (#72112)
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricExpressionPill/MetricExpressionPill.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/MetricSearchInput.tsx
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricSearchInput/metricTokenHighlight.ts
  frontend/src/metabase/metrics-viewer/components/MetricSearch/utils.ts
  frontend/src/metabase/metrics-viewer/components/MetricSearch/utils.unit.spec.ts
  frontend/src/metabase/metrics-viewer/hooks/use-metrics-viewer.ts
  frontend/src/metabase/metrics-viewer/hooks/use-viewer-state.ts
  frontend/src/metabase/metrics-viewer/hooks/use-viewer-url.ts
  frontend/src/metabase/metrics-viewer/pages/MetricsViewerPage/MetricsViewerPage.tsx
  frontend/src/metabase/metrics-viewer/utils/legend.ts
Due: front-end

Use server-side streaming for table-rows-sample-query calls
  src/metabase/driver/common/table_rows_sample.clj
  src/metabase/driver/sql_jdbc/execute.clj
Due: back-end

metabot: ability to make requests via ai proxy w/o having api key configured (#71714)
  .clj-kondo/config/modules/config.edn
  resources/migrations/060/20260401_metabot_message_ai_proxied.yaml
  src/metabase/internal_stats/metabot.clj
  src/metabase/llm/anthropic.clj
  src/metabase/llm/api.clj
  src/metabase/llm/settings.clj
  src/metabase/metabot/agent/core.clj
  src/metabase/metabot/api.clj
  src/metabase/metabot/core.clj
  src/metabase/metabot/persistence.clj
  src/metabase/metabot/provider_util.clj
  src/metabase/metabot/self.clj
  src/metabase/metabot/self/claude.clj
  src/metabase/metabot/self/core.clj
  src/metabase/metabot/self/openai.clj
  src/metabase/metabot/self/openrouter.clj
  src/metabase/metabot/settings.clj
  src/metabase/slackbot/streaming.clj
  test/metabase/internal_stats/metabot_test.clj
  test/metabase/llm/anthropic_test.clj
  test/metabase/llm/api_test.clj
  test/metabase/llm/settings_test.clj
  test/metabase/metabot/agent/core_test.clj
  test/metabase/metabot/api_test.clj
  test/metabase/metabot/provider_util_test.clj
  test/metabase/metabot/self/claude_test.clj
  test/metabase/metabot/self/openai_test.clj
  test/metabase/metabot/self/openrouter_test.clj
  test/metabase/metabot/self_test.clj
  test/metabase/metabot/settings_test.clj
  test/metabase/slackbot/streaming_test.clj
Due: back-end

Do not reset limits when switching limit types
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GeneralLimitsSettingsSection.tsx
Due: front-end

Fixing lint error
  test/metabase/query_processor/middleware/permissions_test.clj
Due: none

Derive embedding session key via HMAC, not the MCP session id
  src/metabase/mcp/session.clj
  src/metabase/mcp/settings.clj
  test/metabase/mcp/session_test.clj
Due: back-end

Extract derived-hash helper in MCP session tests; add rotation note to signing secret
  src/metabase/mcp/settings.clj
  test/metabase/mcp/session_test.clj
Due: back-end

🤖 backported "Search indexing memory and CPU improvements" (#72103)
  dev/src/dev/search_perf.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  src/metabase/app_db/core.clj
  src/metabase/app_db/query.clj
  src/metabase/queries/models/card.clj
  src/metabase/search/appdb/index.clj
  src/metabase/search/filter.clj
  src/metabase/search/in_place/legacy.clj
  src/metabase/search/ingestion.clj
  src/metabase/search/spec.clj
  test/metabase/search/spec_test.clj
Due: back-end

🤖 backported "Search indexing memory and CPU improvements" (#72102)
  dev/src/dev/search_perf.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  src/metabase/app_db/core.clj
  src/metabase/app_db/query.clj
  src/metabase/queries/models/card.clj
  src/metabase/search/appdb/index.clj
  src/metabase/search/filter.clj
  src/metabase/search/in_place/legacy.clj
  src/metabase/search/ingestion.clj
  src/metabase/search/spec.clj
  test/metabase/search/spec_test.clj
Due: back-end

🤖 backported "Search indexing memory and CPU improvements" (#72101)
  dev/src/dev/search_perf.clj
  enterprise/backend/src/metabase_enterprise/semantic_search/index.clj
  src/metabase/app_db/core.clj
  src/metabase/app_db/query.clj
  src/metabase/queries/models/card.clj
  src/metabase/search/appdb/index.clj
  src/metabase/search/filter.clj
  src/metabase/search/in_place/legacy.clj
  src/metabase/search/ingestion.clj
  src/metabase/search/spec.clj
  test/metabase/search/spec_test.clj
Due: back-end

Adjust CLAUDE.md backend test instructions
  CLAUDE.md
Due: none

Revert changes to e2e to wait for metrics load
  e2e/test/scenarios/metrics/metrics-explorer.cy.spec.ts
Due: none

update release workflow permissions
  .github/workflows/release.yml
  .github/workflows/tag-for-release.yml
Due: none

update release workflow permissions (#72137)
  .github/workflows/release.yml
  .github/workflows/tag-for-release.yml
Due: none

Fix e2e test
  e2e/test/scenarios/metabot/ai-controls.cy.spec.ts
Due: none

Fix after merge
  frontend/src/metabase/metrics-viewer/components/MetricSearch/MetricPill/MetricPill.unit.spec.tsx
  src/metabase/lib_metric/ast/build.cljc
Due: back-end, front-end

Fix Kondo: allow warehouse-schema in enterprise/replacement, use metabase.util.json
  .clj-kondo/config/modules/config.edn
  enterprise/backend/test/metabase_enterprise/replacement/runner_test.clj
Due: back-end

🤖 backported "Guard export-viz-click-behavior-link against nil link models" (#72003) (#72065)
  enterprise/backend/test/metabase_enterprise/serialization/v2/load_test.clj
  src/metabase/models/serialization.clj
Due: back-end

Fix transform output tables created with nil schema
  src/metabase/transforms_base/query.clj
  src/metabase/transforms_base/util.clj
  test/metabase/transforms/util_test.clj
Due: back-end

remove dead code + unnecessary api epxansion
  .clj-kondo/config/modules/config.edn
  src/metabase/permissions/core.clj
  src/metabase/permissions/models/data_permissions.clj
  src/metabase/permissions_rest/data_permissions/graph.clj
Due: back-end

Adjust CLAUDE.md backend test instructions (#72136)
  CLAUDE.md
Due: none

update release workflow permissions (#72138)
  .github/workflows/release.yml
  .github/workflows/tag-for-release.yml
Due: none

WIP checkpoint
  src/metabase/query_processor/middleware/parameters.clj
  src/metabase/query_processor/middleware/results_metadata.clj
  test/metabase/dashboards_rest/api_test.clj
  test/metabase/queries_rest/api/card_test.clj
Due: back-end

more permission constriction
  .github/workflows/release-milestone-check.yml
  .github/workflows/release-tag.yml
Due: none

more permission constriction
  .github/workflows/release-tag.yml
Due: none

Fix release permissions (#72140)
  .github/workflows/release-milestone-check.yml
  .github/workflows/release-tag.yml
Due: none

fixes
  src/metabase/lib/types/isa.cljc
  test/metabase/lib/types/isa_test.cljc
Due: back-end

fix
  test/metabase/source_swap/compatibility_test.clj
Due: none

fixes
  test/metabase/lib/types/isa_test.cljc
Due: none

Support FKs for SQLite in tests
  modules/drivers/sqlite/test/metabase/test/data/sqlite.clj
  test/metabase/test/data/sql.clj
Due: none

Kondo
  modules/drivers/sqlite/test/metabase/test/data/sqlite.clj
Due: none

Fixed failing test
  src/metabase/query_processor/api.clj
Due: back-end

include resolver arg
  src/metabase/models/serialization/resolve.clj
Due: back-end

Add tooltip explaining most-permissive group access
  enterprise/frontend/src/metabase-enterprise/ai-controls/components/AllUsersHigherAccessTooltipIcon.module.css
  enterprise/frontend/src/metabase-enterprise/ai-controls/components/AllUsersHigherAccessTooltipIcon.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/AiFeatureAccessTable.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/GroupPermissionRow.module.css
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/GroupPermissionRow.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotFeatureAccessPage/MetabotFeatureAccessPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsSettingsSection.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsTab/GroupLimitsTab.module.css
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsTab/GroupLimitsTab.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsTab/GroupLimitsTab.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/ai-controls/pages/MetabotUsageLimitsPage/GroupLimitsSettingsSection/GroupLimitsTab/utils.ts
Due: front-end

Fixed failing test
  src/metabase/query_processor/util/nest_query.clj
Due: back-end

Clean ui theming violations
  frontend/lint/module-boundaries.mjs
  frontend/src/embedding-sdk-bundle/components/public/ComponentProvider/ComponentProvider.tsx
  frontend/src/embedding-sdk-bundle/types/theme.ts
  frontend/src/metabase/AppColorSchemeProvider.tsx
  frontend/src/metabase/AppThemeProvider.tsx
  frontend/src/metabase/app.js
  frontend/src/metabase/data-grid/hooks/use-measure-column-widths.tsx
  frontend/src/metabase/embedding-sdk/theme/MetabaseThemeV2.ts
  frontend/src/metabase/embedding-sdk/theme/index.ts
  frontend/src/metabase/embedding-sdk/theme/theme-version.ts
  frontend/src/metabase/lib/measure-container.ts
  frontend/src/metabase/styled-components/components/EmotionCacheProvider/index.ts
  frontend/src/metabase/ui/colors/derive-theme.ts
  frontend/src/metabase/ui/colors/types/index.ts
  frontend/src/metabase/ui/components/data-display/TreeTable/hooks/useColumnSizing.tsx
  frontend/src/metabase/ui/components/theme/ColorSchemeProvider/ColorSchemeContext.tsx
  frontend/src/metabase/ui/components/theme/ColorSchemeProvider/index.ts
  frontend/src/metabase/ui/components/theme/EmotionCacheProvider/EmotionCacheProvider.tsx
  frontend/src/metabase/ui/components/theme/EmotionCacheProvider/index.ts
  frontend/src/metabase/ui/components/theme/MeasurementProviders.tsx
  frontend/src/metabase/ui/components/theme/ThemeProvider/ThemeProvider.tsx
  frontend/test/__support__/ui.tsx
Due: front-end

Fix test
  frontend/test/__support__/ui.tsx
Due: none
