Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

🤖 backported "Fix quadratic :is_personal hydration that made GET /api/collection ta…" (#79088)
  src/metabase/collections/models/collection.clj
  test/metabase/collections/models/collection_test.clj
Due: back-end

🤖 backported "[malli.defn] Don't gensym internal fn name twice" (#79077)
  src/metabase/util/malli/defn.clj
  src/metabase/util/malli/fn.clj
  test/metabase/util/malli/defn_test.clj
  test/metabase/util/malli/fn_test.clj
Due: back-end

🤖 backported "Fix quadratic :is_personal hydration that made GET /api/collection ta…" (#79085)
  src/metabase/collections/models/collection.clj
  test/metabase/collections/models/collection_test.clj
Due: back-end

🤖 backported "[malli.defn] Don't gensym internal fn name twice" (#79078)
  src/metabase/util/malli/defn.clj
  src/metabase/util/malli/fn.clj
  test/metabase/util/malli/defn_test.clj
  test/metabase/util/malli/fn_test.clj
Due: back-end

Fix edits that convert a block into a list or blockquote
  src/metabase/documents/markdown.clj
  test/metabase/documents/markdown_test.clj
Due: back-end

Bound the work one replace_all can do
  src/metabase/mcp/v2/tools/document.clj
  test/metabase/mcp/v2/tools/document_test.clj
Due: back-end

🤖 backported "[malli.defn] Don't gensym internal fn name twice" (#79080)
  src/metabase/util/malli/defn.clj
  src/metabase/util/malli/fn.clj
  test/metabase/util/malli/defn_test.clj
  test/metabase/util/malli/fn_test.clj
Due: back-end

teach the export resolver's id errors to the agent
  src/metabase/models/serialization/resolve/mp.clj
  test/metabase/mcp/v2/tools/query_test.clj
Due: back-end

Update gate_test.clj
  enterprise/backend/test/metabase_enterprise/mfa/gate_test.clj
Due: back-end

Fix lint
  enterprise/backend/src/metabase_enterprise/mfa/core.clj
Due: back-end

Update core.clj
  enterprise/backend/src/metabase_enterprise/mfa/core.clj
Due: back-end

LDAP and Password auto log out when mfa enabled
  enterprise/backend/src/metabase_enterprise/mfa/core.clj
  enterprise/backend/src/metabase_enterprise/mfa/gate.clj
  enterprise/backend/src/metabase_enterprise/mfa/settings.clj
  src/metabase/auth_identity/providers/password.clj
  src/metabase/server/middleware/session.clj
  src/metabase/sso/providers/ldap.clj
  test/metabase/server/middleware/session_test.clj
Due: back-end

Update session_test.clj
  test/metabase/server/middleware/session_test.clj
Due: none

🤖 backported "Fix quadratic :is_personal hydration that made GET /api/collection ta…" (#79087)
  src/metabase/collections/models/collection.clj
  test/metabase/collections/models/collection_test.clj
Due: back-end

Require MFA enrollment on login when it is `:required` but user is not enrolled
  enterprise/backend/src/metabase_enterprise/mfa/core.clj
  enterprise/backend/src/metabase_enterprise/mfa/enrollment.clj
  enterprise/backend/src/metabase_enterprise/mfa/gate.clj
  enterprise/backend/src/metabase_enterprise/mfa/management.clj
  enterprise/backend/src/metabase_enterprise/mfa/verification.clj
  enterprise/backend/test/metabase_enterprise/mfa/login_flow_test.clj
  src/metabase/auth_identity/provider.clj
  src/metabase/auth_identity/session.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/session/challenge.clj
  src/metabase/session/settings.clj
Due: back-end

Tidying up, fixing unit tests
  src/metabase/auth_identity/provider.clj
  src/metabase/auth_identity/session.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/session/core.clj
  src/metabase/session/settings.clj
  test/metabase/session/api_test.clj
Due: back-end

2FA Enrolment pages and reset (#78837)
  .clj-kondo/config/modules/config.edn
  e2e/test/scenarios/admin-2/multi-factor-auth.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/mfa/management.clj
  enterprise/backend/test/metabase_enterprise/mfa/admin_users_test.clj
  enterprise/frontend/src/metabase-enterprise/api/multi-factor-auth.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/AccountSecurityPanel/AccountSecurityPanel.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/AdminAuthCard/AdminAuthCard.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/AdminAuthCard/AdminAuthCard.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/AuthChallengeForm/AuthChallengeForm.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/EnrolledUsersPage/EnrolledUsersPage.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/EnrolledUsersPage/EnrolledUsersPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/EnrolledUsersPage/RemoveMfaModal.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/EnrolledUsersPage/RemoveMfaModal.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/EnrolledUsersPage/index.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/MfaUsersPage/MfaUsersPage.module.css
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/MfaUsersPage/MfaUsersPage.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/MfaUsersPage/columns.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/MfaUsersPage/index.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/MfaUsersPage/use-mfa-users-query.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/UnenrolledUsersPage/UnenrolledUsersPage.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/UnenrolledUsersPage/UnenrolledUsersPage.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/components/UnenrolledUsersPage/index.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/constants.ts
  enterprise/frontend/src/metabase-enterprise/multi_factor_auth/index.ts
  frontend/src/metabase-types/api/mocks/multi-factor-auth.ts
  frontend/src/metabase-types/api/multi-factor-auth.ts
  frontend/src/metabase/admin/settingsRoutes.tsx
  frontend/src/metabase/plugins/oss/multi-factor-auth.ts
  frontend/test/__support__/server-mocks/multi-factor-auth.ts
Due: back-end, front-end

remove table
  docs/embedding/question.md
Due: none

intro
  docs/embedding/question.md
Due: none

use map over mapv
  src/metabase/driver/sql/query_processor.clj
Due: back-end

Improve collection drag-and-drop feedback
  e2e/test/scenarios/collections/collections.cy.spec.js
  frontend/src/metabase/collections/components/CollectionContent/CollectionContentView.tsx
  frontend/src/metabase/common/components/ItemsTable/BaseItemTableRow.module.css
  frontend/src/metabase/common/components/ItemsTable/BaseItemTableRow.tsx
  frontend/src/metabase/common/components/ItemsTable/BaseItemTableRow.unit.spec.ts
  frontend/src/metabase/common/components/ItemsTable/Columns.tsx
  frontend/src/metabase/common/components/dnd/CollectionDropTarget.tsx
  frontend/src/metabase/common/components/dnd/CollectionDropTarget.unit.spec.ts
  frontend/src/metabase/common/components/dnd/ItemDragSource.tsx
  frontend/src/metabase/common/components/dnd/ItemsDragLayer.module.css
  frontend/src/metabase/common/components/dnd/ItemsDragLayer.tsx
  frontend/src/metabase/common/components/dnd/ItemsDragLayer.unit.spec.tsx
  frontend/src/metabase/common/components/dnd/PinDropTarget.tsx
  frontend/src/metabase/common/components/dnd/PinnedItemSortDropTarget.tsx
  frontend/src/metabase/common/components/dnd/index.ts
Due: front-end

Make the permission check a hash lookup instead of a scan of every granted path (#79076)
  src/metabase/permissions/models/permissions.clj
  src/metabase/permissions/user.clj
  test/metabase/permissions/models/permissions_test.clj
Due: back-end

Fetch reference container data before the child's first render
  frontend/src/metabase/reference/databases/DatabaseDetailContainer.tsx
  frontend/src/metabase/reference/databases/FieldDetailContainer.tsx
  frontend/src/metabase/reference/databases/FieldListContainer.tsx
  frontend/src/metabase/reference/databases/TableDetailContainer.tsx
  frontend/src/metabase/reference/databases/TableListContainer.tsx
  frontend/src/metabase/reference/databases/TableQuestionsContainer.tsx
  frontend/src/metabase/reference/segments/SegmentDetailContainer.tsx
  frontend/src/metabase/reference/segments/SegmentFieldDetailContainer.tsx
  frontend/src/metabase/reference/segments/SegmentFieldListContainer.tsx
  frontend/src/metabase/reference/segments/SegmentListContainer.tsx
  frontend/src/metabase/reference/segments/SegmentQuestionsContainer.tsx
  frontend/src/metabase/reference/segments/SegmentRevisionsContainer.tsx
Due: front-end

Add backport resolution script
  backport.sh
Due: none

🤖 backported "Make the permission check a hash lookup instead of a scan of every granted path" (#79099)
  src/metabase/permissions/models/permissions.clj
  src/metabase/permissions/user.clj
  test/metabase/permissions/models/permissions_test.clj
Due: back-end

test setup fix
  test/metabase/driver/sql/transforms_test.clj
  test/metabase/driver/sql_jdbc_test.clj
Due: none

make source-card numeric-first across v2
  resources/mcp/v2/skills/query-dialect/SKILL.md
  src/metabase/mcp/v2/tools/query.clj
  src/metabase/metabot/tools/construct.clj
  src/metabase/models/serialization/resolve/mp.clj
Due: back-end

🤖 backported "Bump netty" (#78717)
  deps.edn
  modules/drivers/athena/deps.edn
  modules/drivers/bigquery-cloud-sdk/deps.edn
Due: none

🤖 backported "Bump netty" (#78716)
  deps.edn
  modules/drivers/athena/deps.edn
  modules/drivers/bigquery-cloud-sdk/deps.edn
Due: none

🤖 backported "Bump netty" (#78720)
  modules/drivers/athena/deps.edn
  modules/drivers/bigquery-cloud-sdk/deps.edn
  modules/drivers/hive-like/deps.edn
  modules/drivers/snowflake/deps.edn
Due: none

Allow setting custom time buckets for metric time dimensions (#79046)
  e2e/test/scenarios/metrics/metrics-dimensions.cy.spec.ts
  e2e/test/scenarios/metrics/metrics-editing.cy.spec.js
  frontend/src/metabase-types/api/metric.ts
  frontend/src/metabase-types/api/mocks/metric.ts
  frontend/src/metabase/metrics/components/MetricDimensions/DimensionSettingsPanel.tsx
  frontend/src/metabase/metrics/components/MetricDimensions/DimensionTimeGroupingSelect.tsx
  frontend/src/metabase/metrics/components/MetricDimensions/MetricDimensions.unit.spec.tsx
  frontend/src/metabase/metrics/pages/MetricAboutPage/MetricAbout/MetricAbout.unit.spec.tsx
  frontend/src/metabase/metrics/pages/MetricAboutPage/MetricAbout/use-metric-about-query.ts
  src/metabase/lib_metric/core.cljc
  src/metabase/lib_metric/dimension.cljc
  src/metabase/lib_metric/metadata/js.cljs
  src/metabase/lib_metric/projection.cljc
  src/metabase/lib_metric/schema.cljc
  src/metabase/metrics/api.clj
  src/metabase/metrics/core.clj
  src/metabase/metrics/dimension.clj
  src/metabase/metrics/transforms.clj
  test/metabase/lib_metric/dimension_test.cljc
  test/metabase/lib_metric/projection_test.cljc
  test/metabase/lib_metric/temporal_bucket_test.cljc
  test/metabase/metrics/api_dimension_test.clj
Due: back-end, front-end

remove oracle :value
  modules/drivers/oracle/src/metabase/driver/oracle.clj
Due: none

Skip fields when browsing tables of a schema-less database
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.tsx
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.unit.spec.tsx
Due: front-end

Skip fields when browsing tables of a schema-less database (#79101)
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.tsx
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.unit.spec.tsx
Due: front-end

fix bigquery
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
Due: none

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
