Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Remove unnecessary prop
  enterprise/frontend/src/embedding/data-picker/DataSelector.jsx
  frontend/src/metabase/embedding-sdk/types/components/data-picker.ts
  frontend/src/metabase/querying/notebook/components/NotebookDataPicker/EmbeddingDataPicker/EmbeddingDataPicker.tsx
Due: front-end

fix imports, not sure why it's not auto resolved
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/data_editing/data_editing.clj
  src/metabase/actions/events.clj
  src/metabase/events/core.clj
  src/metabase/events/impl.clj
  src/metabase/notification/events/notification.clj
Due: back-end

Don't add source maps
  webpack.embedding-sdk.config.js
Due: none

Don't bundle the full moment timezones file
  webpack.embedding-sdk.config.js
Due: none

Esbuild poc
  enterprise/frontend/src/embedding-sdk/index.ts
  enterprise/frontend/src/embedding-sdk/package.template.json
  esbuild.embedding-sdk.config.js
  frontend/src/metabase/visualizations/lib/exports-branding-utils.tsx
  package.json
Due: front-end

Add rsdoctor
  package.json
  webpack.embedding-sdk.config.js
Due: none

Remove empty-state images from bundle
  frontend/src/metabase/visualizations/components/EmptyVizState/EmptyVizState.tsx
  frontend/src/metabase/visualizations/components/EmptyVizState/utils.ts
  tsup.embedding-sdk.config.js
Due: front-end

Adjust imports
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveAdHocQuestion.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Breakout/use-breakout-data.ts
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Filter/hooks/use-filter-data.ts
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Filter/hooks/use-filter-handlers.ts
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/ResetButton/ResetButton.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/SaveButton.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Summarize/SummarizePicker/SummarizePicker.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Summarize/use-summarize-data.ts
  enterprise/frontend/src/embedding-sdk/components/private/QuestionTitle.tsx
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/use-common-dashboard-params.tsx
  enterprise/frontend/src/embedding-sdk/lib/interactive-question/run-question-query.ts
  enterprise/frontend/src/embedding-sdk/lib/interactive-question/update-question.ts
Due: front-end

Remove admin from bundle
  enterprise/frontend/src/embedding-sdk/store/index.ts
  enterprise/frontend/src/metabase-enterprise/sdk-plugins.js
  frontend/src/metabase/reducers-common.ts
  frontend/src/metabase/reducers-main.ts
  tsup.embedding-sdk.config.js
Due: front-end

Use mjs in package.template.json
  enterprise/frontend/src/embedding-sdk/package.template.json
Due: front-end

POC side effects
  package.json
  tsconfig.sdk.json
  webpack.embedding-sdk.config.js
Due: none

Avoid usage of `jsrsasign`. TEST IT
  enterprise/frontend/src/embedding-sdk/test/CommonSdkStoryWrapper.tsx
  frontend/src/metabase/public/components/EmbedModal/StaticEmbedSetupPane/StaticEmbedSetupPane.tsx
  frontend/src/metabase/public/lib/embed.ts
  package.json
  yarn.lock
Due: front-end

Tsup poc
  e2e/support/component-webpack.config.js
  enterprise/frontend/src/embedding-sdk/bin/generate-nextjs-compat.ts
  esbuild.embedding-sdk.config.js
  package.json
  postcss.config.js
  tsconfig.sdk.json
  tsup.embedding-sdk.config.js
  webpack.embedding-sdk.config.js
  yarn.lock
Due: front-end

Set modules: false
  babel.config.json
Due: none

fix kondo
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/data_editing/events.clj
  src/metabase/notification/core.clj
  test/metabase/notification/events/notification_test.clj
Due: back-end

Fix more unit tests
  enterprise/frontend/src/embedding/data-picker/DataSelectorDataBucketPicker/DataSelectorDataBucketPicker.unit.spec.tsx
Due: front-end

remove unused imports
  e2e/test-component/scenarios/embedding-sdk/interactive-question.cy.spec.tsx
Due: none

a transformation layer for event info before evaluating the condition
  src/metabase/notification/payload/impl/system_event.clj
Due: back-end

add a schema
  src/metabase/notification/payload/impl/system_event.clj
Due: back-end

Pull out some logic
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Search.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TablePicker.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/utils.ts
Due: front-end

add ?. to make it more resilient
  e2e/support/helpers/e2e-snowplow-helpers.js
Due: none

Wrap `AutomaticDashboardApp` with context (#57334)
  enterprise/frontend/src/embedding-sdk/components/public/StaticDashboard/StaticDashboard.tsx
  frontend/src/metabase/dashboard/containers/AutomaticDashboardApp/AutomaticDashboardApp.tsx
  frontend/src/metabase/routes.jsx
Due: front-end

Fix generated css modules hash collision
  tsup.embedding-sdk.config.js
Due: none

Reuse results in search
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Item.module.css
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Item.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Search.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TablePicker.module.css
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TablePicker.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/utils.ts
Due: front-end

Remove deprecated comment
  tsup.embedding-sdk.config.js
Due: none

add development mode warning
  enterprise/frontend/src/embedding-sdk/components/private/SdkUsageProblem/SdkUsageProblemBanner.tsx
  enterprise/frontend/src/embedding-sdk/components/private/SdkUsageProblem/SdkUsageProblemDisplay.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/hooks/private/use-sdk-usage-problem.ts
  enterprise/frontend/src/embedding-sdk/lib/usage-problem.ts
  enterprise/frontend/src/embedding-sdk/types/usage-problem.ts
Due: front-end

add explicit titles to storybook
  enterprise/frontend/src/embedding-sdk/components/private/SdkUsageProblem/SdkUsageProblemBanner.stories.tsx
Due: front-end

Reuse tree helpers when handling search results
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Search.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TablePicker.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/utils.ts
Due: front-end

WRK-371: Customizable templates for alerts
  enterprise/frontend/src/metabase-enterprise/data_editing/alerts/TableNotificationsModals/TableNotificationsListModal/TableNotificationsListModal.stories.tsx
  frontend/src/metabase/notifications/modals/AlertsModals/QuestionAlertListModal/AlertListItem.tsx
  frontend/src/metabase/notifications/modals/shared/components/NotificationChannels/NotificationChannelsPicker/NotificationChannelsPicker.tsx
Due: front-end

Avoid passing down isExpanded
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/Item.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/TablePicker.tsx
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/utils.ts
Due: front-end

Memoize
  frontend/src/metabase/metadata/pages/DataModel/components/TablePicker/utils.ts
Due: front-end

Refactored css modules plugin
  tsup.embedding-sdk.config.js
Due: none

Use the new loading flow for onLoad and onLoadWithoutCards
  frontend/src/metabase/dashboard/context/context.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/mock-context.tsx
Due: front-end

Hopefully fix the merge mess that happened here
  frontend/src/metabase/dashboard/context/context.redux.ts
  frontend/src/metabase/dashboard/context/context.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardPage/PublicOrEmbeddedDashboardPage.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardView-filters.stories.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardView.stories.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardView.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/mock-context.tsx
Due: front-end

Make a bunch of changes to satisfy the tests
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/InteractiveDashboard.tsx
  enterprise/frontend/src/embedding-sdk/components/public/StaticDashboard/StaticDashboard.tsx
  frontend/src/metabase/dashboard/context/context.redux.ts
  frontend/src/metabase/dashboard/context/context.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboardPage/PublicOrEmbeddedDashboardPage.tsx
Due: front-end

Fix type errors
  frontend/src/metabase/dashboard/context/context.tsx
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/mock-context.tsx
Due: front-end

Generalize FK-PK group matching
  src/metabase/api/dashboard.clj
  src/metabase/api/dataset.clj
  src/metabase/models/params/custom_values.clj
  test/metabase/models/params/custom_values_test.clj
Due: back-end
