Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

branch submit emb-562-support-localexx-in-the-iframe
  branches/emb-562-support-localexx-in-the-iframe
Due: none

Post stack navigation comments
  branches/emb-562-support-localexx-in-the-iframe
Due: none

fix style call
  src/metabase/channel/impl/email.clj
Due: back-end

update UI copy and docs (#60216)
  docs/permissions/database-routing.md
  enterprise/frontend/src/metabase-enterprise/database_routing/index.tsx
Due: front-end

Update modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
Due: none

docs - update sync scans (#60011)
  docs/databases/sync-scan.md
Due: none

remove now-unused function
  src/metabase/notification/payload/execute.clj
Due: back-end

Remove unused `ConfirmContent`
  frontend/src/metabase/common/components/ConfirmContent/ConfirmContent.tsx
  frontend/src/metabase/common/components/ConfirmContent/index.tsx
Due: front-end

new-iframe-embedding-setup-flow: restacked on master
  branches/new-iframe-embedding-setup-flow
Due: none

emb-506-live-previews-for-new-iframe-embed-flow: restacked on new-iframe-embedding-setup-flow
  branches/emb-506-live-previews-for-new-iframe-embed-flow
Due: none

emb-508-select-dashboards-and-questions-for-new-iframe-embedding: restacked on emb-506-live-previews-for-new-iframe-embed-flow
  branches/emb-508-select-dashboards-and-questions-for-new-iframe-embedding
Due: none

emb-549-end-to-end-tests-for-selecting-resource-to-embed-for-new: restacked on emb-508-select-dashboards-and-questions-for-new-iframe-embedding
  branches/emb-549-end-to-end-tests-for-selecting-resource-to-embed-for-new
Due: none

emb-512-code-snippet-and-authentication-step-for-new-iframe-embed: restacked on emb-549-end-to-end-tests-for-selecting-resource-to-embed-for-new
  branches/emb-512-code-snippet-and-authentication-step-for-new-iframe-embed
Due: none

emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed: restacked on emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
  branches/emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed
Due: none

emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow: restacked on emb-512-code-snippet-and-authentication-step-for-new-iframe-embed
  branches/emb-509-embed-behavior-and-appearance-for-new-iframe-embed-flow
Due: none

emb-513-persist-new-iframe-embed-flow-settings-to-user-settings: restacked on emb-510-initial-and-hidden-parameter-settings-for-new-iframe-embed
  branches/emb-513-persist-new-iframe-embed-flow-settings-to-user-settings
Due: none

emb-574-update-new-embed-route-from-embednew-to-embed-wizard: restacked on emb-513-persist-new-iframe-embed-flow-settings-to-user-settings
  branches/emb-574-update-new-embed-route-from-embednew-to-embed-wizard
Due: none

emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow: restacked on emb-513-persist-new-iframe-embed-flow-settings-to-user-settings
  branches/emb-518-add-snowplow-analytics-events-to-new-iframe-embed-flow
Due: none

WIP
  src/metabase/lib/core.cljc
  src/metabase/query_processor/util/add_alias_info.clj
  src/metabase/util/format.cljc
  test/metabase/query_processor/util/add_alias_info_test.clj
Due: back-end

spelling
  modules/drivers/bigquery-cloud-sdk/test/metabase/driver/bigquery_cloud_sdk_test.clj
Due: none

alias to xforms
  modules/drivers/bigquery-cloud-sdk/src/metabase/driver/bigquery_cloud_sdk.clj
  src/metabase/sync/sync_metadata/fields.clj
Due: back-end

Delete deprecated and unused `FormCheckbox`
  frontend/src/metabase/common/components/FormCheckBox/FormCheckBox.stories.tsx
  frontend/src/metabase/common/components/FormCheckBox/FormCheckBox.tsx
  frontend/src/metabase/common/components/FormCheckBox/FormCheckBox.unit.spec.tsx
  frontend/src/metabase/common/components/FormCheckBox/index.ts
Due: front-end

docs - update sync scans (#60011) (#60353)
  docs/databases/sync-scan.md
Due: none

[Metabot] Make streaming the default (#60311)
  e2e/support/helpers/e2e-metabot-helpers.ts
  e2e/test/scenarios/metabot/metabot.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotChat/MetabotChat.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/state/reducer.ts
Due: front-end

Appease the Kondo
  test/metabase/query_processor_test/alternative_date_test.clj
Due: none

track from with base emb-506-live-previews-for-new-iframe-embed-flow
  branches/from
Due: none

clean up deleted branches
  branches/from
Due: none

update UI copy and docs (#60216) (#60352)
  docs/permissions/database-routing.md
  enterprise/frontend/src/metabase-enterprise/database_routing/index.tsx
Due: front-end

clarify cy.log
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/sdk-iframe-embedding-setup.cy.spec.ts
Due: none

remove cy.log
  e2e/test/scenarios/embedding/sdk-iframe-embedding-setup/sdk-iframe-embedding-setup.cy.spec.ts
Due: none

cleanup default sdk iframe embed settings
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SdkIframeEmbedPreview.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SdkIframeEmbedSetupProvider.tsx
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/default-embed-setting.ts
Due: front-end

add note on DEFAULT_SDK_IFRAME_EMBED_SETTINGS
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/utils/default-embed-setting.ts
Due: front-end

remove apiKey from default state
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SdkIframeEmbedSetupProvider.tsx
Due: front-end

add live previews
  enterprise/frontend/src/metabase-enterprise/embedding_iframe_sdk_setup/components/SdkIframeEmbedPreview.tsx
Due: front-end
