Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

fix prepare-containers action (#47480)
  .github/actions/e2e-prepare-containers/action.yml
Due: none

Add backport resolution script
  backport.sh
Due: none

ci: put failing tests into e2e job summary (#47134)
  .github/scripts/handle-mochawesome-report.js
  .github/workflows/e2e-tests.yml
Due: none

walk the error to remove any visualization settings
  src/metabase/async/streaming_response.clj
  test/metabase/query_processor/streaming/csv_test.clj
Due: back-end

add a test that confirms json/csv errors are cleaned
  test/metabase/api/downloads_exports_test.clj
Due: none

Snowflake Variant cols should also work in attachments
  src/metabase/query_processor/streaming/common.clj
Due: back-end

add a test to confirm the viz-settings-for-col function doesn't throw
  test/metabase/query_processor/streaming/xlsx_test.clj
Due: none

Disallow duplicate order-by clauses in ::lib.schema.order-by/order-bys
  src/metabase/lib/schema/order_by.cljc
  src/metabase/lib/schema/util.cljc
  test/metabase/lib/order_by_test.cljc
  test/metabase/lib/schema/order_by_test.cljc
  test/metabase/lib/schema/util_test.cljc
  test/metabase/lib/schema_test.cljc
  test/metabase/query_processor/middleware/normalize_query_test.clj
  test/metabase/query_processor_test/order_by_test.clj
Due: back-end

Don't create queries with duplicate order-bys in remove_replace_test.cljc
  test/metabase/lib/remove_replace_test.cljc
Due: none

Move query-processor.util/remove-lib-uuids to lib.schema.util
  src/metabase/lib/schema/util.cljc
  src/metabase/query_processor/util.clj
  test/metabase/lib/schema/util_test.cljc
Due: back-end

Declare lib.order-by/order-bys to return ::lib.schema.order-by/order-bys
  src/metabase/lib/order_by.cljc
Due: back-end

Fix typo
  test/metabase/lib/field_test.cljc
Due: none

Bugfix part2 snowflake variants in attachments 46981 (#47488)
  src/metabase/query_processor/streaming/common.clj
  test/metabase/query_processor/streaming/xlsx_test.clj
Due: back-end

fix: Don't reuse global-fingerprinter object
  src/metabase/analyze/fingerprint/fingerprinters.clj
Due: back-end

perf: Optimize insights and fingerprinting of time series (#47414)
  deps.edn
  src/metabase/analyze/fingerprint/fingerprinters.clj
  src/metabase/analyze/fingerprint/insights.clj
  src/metabase/analyze/query_results.clj
Due: back-end

perf: Optimize insights and fingerprinting of time series (#47414) (#47491)
  deps.edn
  src/metabase/analyze/fingerprint/fingerprinters.clj
  src/metabase/analyze/fingerprint/insights.clj
  src/metabase/analyze/query_results.clj
Due: back-end

Bugfix part2 snowflake variants in attachments 46981 (#47488) (#47490)
  src/metabase/query_processor/streaming/common.clj
  test/metabase/query_processor/streaming/xlsx_test.clj
Due: back-end

Implement alternative `describe-table`
  modules/drivers/databricks-jdbc/src/metabase/driver/databricks_jdbc.clj
  src/metabase/driver/sql_jdbc/sync.clj
Due: back-end

Change duration to duration_ms
  snowplow/iglu-client-embedded/schemas/com.metabase/serialization/jsonschema/1-0-1
Due: none

🤖 backported "Delete old serialization extension points and fallbacks" (#47310)
  enterprise/backend/test/metabase_enterprise/serialization/v2/extract_test.clj
  src/metabase/models/legacy_metric.clj
  src/metabase/models/serialization.clj
Due: back-end

add instruction to change directory into mock server
  enterprise/frontend/src/embedding-sdk/cli/steps/show-post-setup-steps.ts
Due: front-end

Upgrade Macaw to 0.2.10
  deps.edn
Due: none

[serdes] a bit more valuable ns docstring
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  src/metabase/models/serialization.clj
Due: back-end

explain skipping a bit more
  src/metabase/models/serialization.clj
Due: back-end

[serdes] a bit more valuable ns docstring (#47445)
  enterprise/backend/src/metabase_enterprise/serialization/v2/models.clj
  src/metabase/models/serialization.clj
Due: back-end

Indicate which sort column is being tests in reference validator
  enterprise/backend/test/metabase_enterprise/query_reference_validation/api_test.clj
Due: back-end

Handle append. Humanize
  src/metabase/upload.clj
  test/metabase/upload_test.clj
Due: back-end

whitespace" "
  test/metabase/upload_test.clj
Due: none

Fix case
  test/metabase/upload_test.clj
Due: none

WIP
  src/metabase/upload.clj
  test/metabase/upload_test.clj
Due: back-end

[serdes] fix grammar mistakes in the doc
  src/metabase/models/serialization.clj
Due: back-end

Handle case differences between databases
  src/metabase/upload.clj
Due: back-end

align the learn more message
  enterprise/frontend/src/embedding-sdk/cli/steps/show-post-setup-steps.ts
Due: front-end

Use function arguments rather than a dynamic var
  enterprise/backend/src/metabase_enterprise/serialization/load.clj
  src/metabase/models/database.clj
  src/metabase/models/field_values.clj
  src/metabase/models/serialization.clj
Due: back-end

Upgrade Macaw to 0.2.10 (#47498)
  deps.edn
Due: none
