Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Auditv2/dashboard header (#31267)
  frontend/src/metabase/dashboard/components/DashboardHeaderView.styled.tsx
  frontend/src/metabase/dashboard/components/DashboardHeaderView.tsx
  frontend/src/metabase/dashboard/containers/DashboardHeader.jsx
  frontend/src/metabase/dashboard/containers/DashboardHeader.unit.spec.tsx
  frontend/src/metabase/entities/collections/utils.ts
  frontend/src/metabase/entities/collections/utils.unit.spec.ts
Due: front-end

Auditv2 - Frontend for instance analytics questions + models (#31220)
  frontend/src/metabase-lib/Question.ts
  frontend/src/metabase/collections/utils.ts
  frontend/src/metabase/entities/collections/utils.ts
  frontend/src/metabase/entities/collections/utils.unit.spec.ts
  frontend/src/metabase/entities/questions.js
  frontend/src/metabase/query_builder/components/SavedQuestionHeaderButton/CollectionIcon.tsx
  frontend/src/metabase/query_builder/components/SavedQuestionHeaderButton/SavedQuestionHeaderButton.jsx
  frontend/src/metabase/query_builder/components/SavedQuestionHeaderButton/SavedQuestionHeaderButton.unit.spec.js
Due: front-end

aligning after rebase
  frontend/src/metabase/collections/components/CollectionHeader/CollectionCaption.tsx
  frontend/src/metabase/dashboard/components/DashboardHeaderView.tsx
  frontend/src/metabase/query_builder/components/SavedQuestionHeaderButton/CollectionIcon.tsx
Due: front-end

Update CollectionCaption.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionCaption.tsx
Due: front-end

Remove dont-bin pseudo binning strategy
  src/metabase/lib/binning.cljc
Due: back-end

grid ratio
  frontend/src/metabase/lib/dashboard_grid.js
Due: front-end

Use createStyles API to style components in the app (#31426)
  .storybook/preview.tsx
  babel.config.json
  frontend/src/metabase/auth/components/Login/Login.styled.tsx
  frontend/src/metabase/auth/components/Login/Login.tsx
  frontend/src/metabase/ui/components/index.ts
  frontend/src/metabase/ui/components/inputs/Radio/index.ts
  frontend/src/metabase/ui/components/inputs/index.ts
  frontend/src/metabase/ui/components/layout/Box/index.ts
  frontend/src/metabase/ui/components/layout/Center/index.ts
  frontend/src/metabase/ui/components/layout/Flex/index.ts
  frontend/src/metabase/ui/components/layout/Grid/index.ts
  frontend/src/metabase/ui/components/layout/Group/index.ts
  frontend/src/metabase/ui/components/layout/Stack/index.ts
  frontend/src/metabase/ui/components/layout/index.ts
  frontend/src/metabase/ui/components/theme/ThemeProvider/ThemeProvider.tsx
  frontend/src/metabase/ui/components/theme/ThemeProvider/index.ts
  frontend/src/metabase/ui/components/theme/index.ts
  frontend/src/metabase/ui/components/typography/Text/index.ts
  frontend/src/metabase/ui/components/typography/index.ts
  frontend/src/metabase/ui/index.ts
  frontend/test/__support__/ui.tsx
Due: front-end

return user-local settings from session api
  src/metabase/api/session.clj
  src/metabase/models/setting.clj
  test/metabase/api/session_test.clj
Due: back-end

[CI] Increase timeout in multiple workflows
  .github/workflows/backend.yml
  .github/workflows/drivers.yml
  .github/workflows/e2e-tests.yml
Due: none

initial changes
  src/metabase/pulse.clj
Due: back-end

fix pivot table settings crash when the question is unaggregated (#31383)
  frontend/src/metabase/query_builder/components/SidebarContent/SidebarContent.styled.tsx
  frontend/src/metabase/query_builder/components/view/sidebars/ChartSettingsSidebar.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPartition.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingFieldsPartition.unit.spec.js
Due: front-end

Turn off replay
  .github/workflows/e2e-tests.yml
Due: none

[CI] Increase timeout in multiple workflows (#31449)
  .github/workflows/backend.yml
  .github/workflows/drivers.yml
  .github/workflows/e2e-tests.yml
Due: none

Upgrade Deploysentinel to `0.8.1` (#31431)
  package.json
  yarn.lock
Due: none

Make CSV Discovery Easier (#31345)
  frontend/src/metabase/collections/components/CollectionHeader/CollectionHeader.styled.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionHeader.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionHeader.unit.spec.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUpload.styled.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUpload.tsx
  frontend/src/metabase/collections/components/CollectionHeader/CollectionUploadInfoModal.tsx
  frontend/src/metabase/collections/containers/CollectionContent.jsx
  frontend/src/metabase/status/components/FileUploadStatus/FileUploadStatus.unit.spec.tsx
Due: front-end

Migrate a fix from another PR for a demo
  frontend/src/metabase/actions/containers/ActionParametersInputForm/ActionParametersInputForm.tsx
Due: front-end

FE: ellipsify column title in details modal to prevent text overflow (#31276)
  frontend/src/metabase/core/components/Ellipsified/Ellipsified.stories.tsx
  frontend/src/metabase/core/components/Ellipsified/Ellipsified.styled.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetailsTable.tsx
Due: front-end

[E2E] Extract `actions` E2E tests to their own group (#31432)
  .github/workflows/e2e-tests.yml
  e2e/test/scenarios/actions/actions-on-dashboards.cy.spec.js
  e2e/test/scenarios/actions/model-actions.cy.spec.js
Due: none

CSV upload loading messages (#31380)
  frontend/src/metabase/status/components/FileUploadStatus/FileUploadStatus.unit.spec.tsx
  frontend/src/metabase/status/components/FileUploadStatusLarge/FileUploadStatusLarge.tsx
Due: front-end

Extract `questionDetails`
  e2e/test/scenarios/sharing/public.cy.spec.js
Due: none

Remove redundant wait
  e2e/test/scenarios/sharing/public-question.cy.spec.js
Due: none

Move `public-sharing` to the `sharing` folder
  e2e/test/scenarios/sharing/public-sharing.cy.spec.js
Due: none

Limit the query results to speed test up
  e2e/test/scenarios/sharing/public-question.cy.spec.js
Due: none

Make tests in `public.cy.spec.js` run in isolation
  e2e/test/scenarios/sharing/public.cy.spec.js
Due: none

Remove redundant test
  e2e/test/scenarios/sharing/public.cy.spec.js
Due: none

Create a separate `public-dashboard` E2E spec
  e2e/test/scenarios/sharing/public-dashboard.cy.spec.js
  e2e/test/scenarios/sharing/public.cy.spec.js
Due: none

Merge public questions E2E tests
  e2e/test/scenarios/sharing/public-question.cy.spec.js
  e2e/test/scenarios/sharing/public.cy.spec.js
Due: none

Merge `downloads` into `sharing`
  e2e/test/scenarios/sharing/downloads/downloads.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/10803-timestamp-formatting.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/18219-temporal-units-not-formatted.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/18382-old-syntax-missing-renamed-columns.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/18440-remapped-display-value-dropped.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/18573-remapped-fields-not-renamed.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/18729-date-formatting-x-of-y.cy.spec.js
  e2e/test/scenarios/sharing/downloads/reproductions/19889-native-query-export-column-order.cy.spec.js
Due: none

ensure existance of internal user whenever new content is loaded
  enterprise/backend/src/metabase_enterprise/audit_db.clj
  enterprise/backend/src/metabase_enterprise/internal_user.clj
  enterprise/backend/test/metabase_enterprise/internal_user_test.clj
Due: back-end

cleanup
  enterprise/backend/src/metabase_enterprise/internal_user.clj
  enterprise/backend/test/metabase_enterprise/internal_user_test.clj
Due: back-end

New Dashboard Primitive - Headings (#30804)
  e2e/support/helpers/e2e-dashboard-helpers.js
  e2e/test/scenarios/dashboard/text-box.cy.spec.js
  e2e/test/scenarios/dashboard/text-dashcards.cy.spec.js
  e2e/test/scenarios/dashboard/text-parameters.cy.spec.js
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
  frontend/src/metabase/components/EntityMenu/EntityMenu.jsx
  frontend/src/metabase/css/dashboard.css
  frontend/src/metabase/dashboard/actions/cards.js
  frontend/src/metabase/dashboard/components/DashCard/DashCard.styled.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCard.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionButtons/ChartSettingsButton.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionButtons/DashCardActionButtons.tsx
  frontend/src/metabase/dashboard/components/DashboardGrid.jsx
  frontend/src/metabase/dashboard/components/TextOptions/TextOptionsButton.styled.tsx
  frontend/src/metabase/dashboard/components/TextOptions/TextOptionsButton.tsx
  frontend/src/metabase/dashboard/containers/DashboardHeader.jsx
  frontend/src/metabase/sharing/components/SharingSidebar.jsx
  frontend/src/metabase/visualizations/register.js
  frontend/src/metabase/visualizations/visualizations/Heading/Heading.styled.tsx
  frontend/src/metabase/visualizations/visualizations/Heading/Heading.tsx
  frontend/src/metabase/visualizations/visualizations/Heading/Heading.unit.spec.tsx
  frontend/src/metabase/visualizations/visualizations/Heading/index.ts
  frontend/src/metabase/visualizations/visualizations/Text/Text.css
  frontend/src/metabase/visualizations/visualizations/Text/Text.jsx
  frontend/src/metabase/visualizations/visualizations/Text/Text.styled.jsx
  frontend/src/metabase/visualizations/visualizations/Text/Text.unit.spec.tsx
  frontend/src/metabase/visualizations/visualizations/Text/index.ts
Due: front-end

Fix failed type check and unit test
  frontend/src/metabase/status/components/FileUploadStatus/FileUploadStatus.unit.spec.tsx
Due: front-end

Fix failed type check and unit test (#31462)
  frontend/src/metabase/status/components/FileUploadStatus/FileUploadStatus.unit.spec.tsx
Due: front-end

Encourage admin users to connect to a database
  frontend/src/metabase/App.tsx
  frontend/src/metabase/nav/components/DatabasePromptBanner/DatabasePromptBanner.styled.ts
  frontend/src/metabase/nav/components/DatabasePromptBanner/DatabasePromptBanner.tsx
  frontend/src/metabase/nav/components/DatabasePromptBanner/DatabasePromptBanner.unit.spec.tsx
  frontend/src/metabase/nav/components/DatabasePromptBanner/index.ts
  frontend/src/metabase/selectors/settings.ts
Due: front-end

Fix sticky parameter widgets when showing database prompt banner
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.jsx
  frontend/src/metabase/dashboard/components/Dashboard/Dashboard.styled.jsx
  frontend/src/metabase/dashboard/components/Dashboard/stickyParameters.js
  frontend/src/metabase/dashboard/components/Dashboard/stickyParameters.unit.spec.js
Due: front-end

Address review: Remove `withRouter` HoC
  frontend/src/metabase/App.tsx
  frontend/src/metabase/components/AppBanner/AppBanner.tsx
  frontend/src/metabase/nav/components/DatabasePromptBanner/DatabasePromptBanner.tsx
Due: front-end

Path conditions:
  back-end: any of: enterprise/backend, shared/src, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
