Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Fix test and use multiplier /'query duration multiplier' throughout the code
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase-types/api/mocks/performance.ts
  frontend/src/metabase-types/api/performance.ts
  frontend/src/metabase/admin/performance/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase/admin/performance/components/test-utils.tsx
  frontend/src/metabase/admin/performance/strategies.ts
Due: front-end

[Parameters] Drop operator selector from filter popover
  e2e/support/helpers/e2e-dashboard-helpers.js
  frontend/src/metabase/dashboard/components/ParametersPopover.jsx
Due: front-end

Adjust e2e tests with the new logic of selecting filters
  e2e/support/helpers/e2e-dashboard-helpers.js
  e2e/test/scenarios/custom-column/reproductions/18747-cc-connected-to-dashboard-parameter.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-chained-filters.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-date.cy.spec.js
  e2e/test/scenarios/dashboard-filters/dashboard-filters-number.cy.spec.js
  e2e/test/scenarios/dashboard-filters/parameters.cy.spec.js
  e2e/test/scenarios/dashboard/tabs.cy.spec.js
  e2e/test/scenarios/dashboard/text-dashcards.cy.spec.js
  e2e/test/scenarios/dashboard/text-parameters.cy.spec.js
  e2e/test/scenarios/sharing/reproductions/24223-remove-filter-defaults-on-subscriptions.cy.spec.js
Due: none

Support other languages for selecting default operator
  frontend/src/metabase/parameters/utils/dashboard-options.js
Due: front-end

Fix tests
  enterprise/frontend/src/metabase-enterprise/caching/components/StrategyEditorForDatabases.unit.spec.tsx
  frontend/src/metabase/admin/performance/components/StrategyEditorForDatabases.unit.spec.tsx
Due: front-end

Use cached Malli validators/explainers; make `:fn` schemas cacheable (#39947)
  enterprise/backend/src/metabase_enterprise/sandbox/api/table.clj
  src/metabase/api/database.clj
  src/metabase/api/native_query_snippet.clj
  src/metabase/domain_entities/core.clj
  src/metabase/driver/common/parameters/dates.clj
  src/metabase/driver/sql_jdbc/execute.clj
  src/metabase/email.clj
  src/metabase/integrations/google.clj
  src/metabase/lib/convert.cljc
  src/metabase/lib/metadata/calculation.cljc
  src/metabase/lib/query.cljc
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/schema/common.cljc
  src/metabase/lib/schema/expression/arithmetic.cljc
  src/metabase/lib/schema/expression/temporal.cljc
  src/metabase/lib/schema/literal.cljc
  src/metabase/lib/schema/mbql_clause.cljc
  src/metabase/models/collection.clj
  src/metabase/models/dispatch.clj
  src/metabase/models/interface.clj
  src/metabase/models/pulse.clj
  src/metabase/pulse.clj
  src/metabase/query_processor/execute.clj
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/normalize_query.clj
  src/metabase/sync/sync_metadata/sync_table_privileges.clj
  src/metabase/transforms/core.clj
  src/metabase/util/date_2/parse.clj
  src/metabase/util/malli/schema.clj
  test/metabase/test/data.clj
Due: back-end

[MBQL lib] Allow more filtering options for string PKs
  src/metabase/lib/filter/operator.cljc
  test/metabase/lib/drill_thru/column_filter_test.cljc
Due: back-end

Simplify
  frontend/src/metabase/admin/performance/components/StrategyForm.tsx
Due: front-end

[MLv2] Add `preview-expression` to eval an expression on sample data
  src/metabase/lib/core.cljc
  src/metabase/lib/expression/preview.cljc
  src/metabase/lib/hierarchy.cljc
  src/metabase/lib/js.cljs
  test/metabase/lib/expression/preview_test.cljc
Due: back-end

[MBQL lib] Github auto nag on `metabase.lib.js` changes
  .github/workflows/mbql-library-changelog.yml
Due: none

refactor helpers
  e2e/support/helpers/e2e-visual-tests-helpers.js
  e2e/test/scenarios/binning/binning-reproductions.cy.spec.js
  e2e/test/scenarios/binning/correctness/longitude.cy.spec.js
  e2e/test/scenarios/binning/qb-explicit-joins.cy.spec.js
  e2e/test/scenarios/binning/qb-regular-table.cy.spec.js
  e2e/test/scenarios/binning/reproductions/23851-drill-temporal-extraction.cy.spec.js
  e2e/test/scenarios/binning/sql.cy.spec.js
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
  e2e/test/scenarios/dashboard-cards/dashboard-drill.cy.spec.js
  e2e/test/scenarios/dashboard/x-rays.cy.spec.js
  e2e/test/scenarios/embedding/embedding-linked-filters.cy.spec.js
  e2e/test/scenarios/joins/reproductions/23293-drill-through-implicit-join-add-remove-column.cy.spec.js
  e2e/test/scenarios/joins/reproductions/30743-sort-on-breakout-column-crashes.cy.spec.js
  e2e/test/scenarios/question/reproductions/27104-wrong-filter-operator-formatting-after-aggregation.cy.spec.js
  e2e/test/scenarios/sharing/reproductions/21559-subscription-bar-sent-as-scalar.cy.spec.js
  e2e/test/scenarios/visualizations-charts/reproductions/20548-bar-duplicate-y-axis-after-changing-metrics.cy.spec.js
Due: none

fix filter.cy.spec.js
  e2e/support/helpers/e2e-visual-tests-helpers.js
  e2e/test/scenarios/filters/filter.cy.spec.js
Due: none

Fix e2e-tests-embedding-ee (#41336)
  e2e/support/helpers/e2e-visual-tests-helpers.js
  e2e/test/scenarios/binning/binning-reproductions.cy.spec.js
  e2e/test/scenarios/binning/correctness/longitude.cy.spec.js
  e2e/test/scenarios/binning/qb-explicit-joins.cy.spec.js
  e2e/test/scenarios/binning/qb-regular-table.cy.spec.js
  e2e/test/scenarios/binning/reproductions/23851-drill-temporal-extraction.cy.spec.js
  e2e/test/scenarios/binning/sql.cy.spec.js
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
  e2e/test/scenarios/dashboard-cards/dashboard-drill.cy.spec.js
  e2e/test/scenarios/dashboard/x-rays.cy.spec.js
  e2e/test/scenarios/embedding/embedding-linked-filters.cy.spec.js
  e2e/test/scenarios/embedding/embedding-questions.cy.spec.js
  e2e/test/scenarios/filters/filter.cy.spec.js
  e2e/test/scenarios/joins/reproductions/23293-drill-through-implicit-join-add-remove-column.cy.spec.js
  e2e/test/scenarios/joins/reproductions/30743-sort-on-breakout-column-crashes.cy.spec.js
  e2e/test/scenarios/question/reproductions/27104-wrong-filter-operator-formatting-after-aggregation.cy.spec.js
  e2e/test/scenarios/sharing/reproductions/21559-subscription-bar-sent-as-scalar.cy.spec.js
  e2e/test/scenarios/visualizations-charts/reproductions/20548-bar-duplicate-y-axis-after-changing-metrics.cy.spec.js
Due: none

WIP questionpicker
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/QuestionItemPickerResolver.tsx
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/QuestionPicker.tsx
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/QuestionPicker.unit.spec.tsx
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/QuestionPickerModal.tsx
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/index.ts
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/utils.ts
  frontend/src/metabase/dashboard/components/AddCardSidebar/AddCardSidebar.jsx
  frontend/src/metabase/dashboard/components/DashboardSidebars.jsx
Due: front-end

use to replace dashcard content
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/QuestionPickerModal.tsx
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
  frontend/src/metabase/dashboard/components/QuestionPickerModal/QuestionPickerModal.styled.tsx
  frontend/src/metabase/dashboard/components/QuestionPickerModal/QuestionPickerModal.tsx
  frontend/src/metabase/dashboard/components/QuestionPickerModal/QuestionPickerModal.unit.spec.tsx
  frontend/src/metabase/dashboard/components/QuestionPickerModal/index.ts
  frontend/src/metabase/visualizations/visualizations/DashCardPlaceholder.tsx
Due: front-end

much better stuff
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/TabsView.tsx
  frontend/src/metabase/common/components/EntityPicker/components/QuestionPicker/index.ts
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionItemPickerResolver.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.unit.spec.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPickerModal.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/index.ts
  frontend/src/metabase/common/components/QuestionPicker/index.ts
  frontend/src/metabase/common/components/QuestionPicker/types.ts
  frontend/src/metabase/common/components/QuestionPicker/utils.ts
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
  frontend/src/metabase/visualizations/visualizations/DashCardPlaceholder.tsx
Due: front-end

question picker
  frontend/src/metabase/common/components/CollectionPicker/types.ts
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/TabsView.tsx
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerSearch/EntityPickerSearch.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.unit.spec.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPickerModal.tsx
  frontend/src/metabase/common/components/QuestionPicker/types.ts
Due: front-end

deprecate ye olde question picker
  frontend/src/metabase/containers/QuestionPicker.jsx
Due: front-end

awesome hacky fix for crashing model detail page
  frontend/src/metabase/models/containers/ModelDetailPage/ModelDetailPage.tsx
Due: front-end

use entity picker in sandboxing modal
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/EditSandboxingModal/EditSandboxingModal.tsx
Due: front-end

create action form
  frontend/src/metabase/actions/containers/ActionCreator/CreateActionForm/CreateActionForm.tsx
  frontend/src/metabase/models/containers/FormModelPicker/FormModelPicker.tsx
  frontend/src/metabase/models/containers/FormModelPicker/index.ts
Due: front-end

keep old question picker in add-card dashboard sidebar
  frontend/src/metabase/dashboard/components/AddCardSidebar/AddCardSidebar.jsx
Due: front-end

values source card modal
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceCardModal.styled.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceCardModal.tsx
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.tsx
Due: front-end

fix rebase conflicts
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/types.ts
  frontend/src/metabase/common/components/QuestionPicker/utils.ts
Due: front-end

update types
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/types.ts
Due: front-end

update e2e tests
  e2e/support/helpers/e2e-filter-helpers.js
  e2e/test/scenarios/actions/model-actions.cy.spec.js
  e2e/test/scenarios/dashboard-cards/dashboard-sections.cy.spec.js
  e2e/test/scenarios/dashboard-cards/dashcard-replace-question.cy.spec.js
  e2e/test/scenarios/permissions/sandboxes.cy.spec.js
Due: none

fix sandbox tests
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/EditSandboxingModal/EditSandboxingModal.unit.spec.tsx
Due: front-end

type fix
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceCardModal.tsx
Due: front-end

fix tests
  frontend/src/metabase/actions/containers/ActionCreator/tests/ActionCreator-QueryActions.unit.spec.ts
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
Due: front-end

sweet sweet unit tests
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.unit.spec.tsx
Due: front-end

make stuff better
  frontend/src/metabase/common/components/CollectionPicker/components/CollectionPicker.tsx
  frontend/src/metabase/common/components/CollectionPicker/components/CollectionPickerModal.tsx
  frontend/src/metabase/common/components/CollectionPicker/types.ts
  frontend/src/metabase/common/components/CollectionPicker/utils.ts
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/EntityPickerModal.tsx
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/TabsView.tsx
  frontend/src/metabase/common/components/EntityPicker/components/NestedItemPicker/NestedItemPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionItemPickerResolver.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPickerModal.tsx
  frontend/src/metabase/common/components/QuestionPicker/types.ts
  frontend/src/metabase/common/components/QuestionPicker/utils.ts
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
  frontend/src/metabase/visualizations/visualizations/DashCardPlaceholder.tsx
Due: front-end

better last level check
  frontend/src/metabase/common/components/EntityPicker/components/NestedItemPicker/NestedItemPicker.tsx
Due: front-end

better initial value handling
  frontend/src/metabase/common/components/CollectionPicker/components/CollectionPicker.tsx
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/EntityPickerModal.tsx
  frontend/src/metabase/common/components/EntityPicker/components/EntityPickerModal/TabsView.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPicker.tsx
  frontend/src/metabase/common/components/QuestionPicker/components/QuestionPickerModal.tsx
  frontend/src/metabase/dashboard/components/DashboardGrid.tsx
Due: front-end

make svg namespace tags consistent
  frontend/src/metabase/static-viz/components/CategoricalDonutChart/CategoricalDonutChart.jsx
  frontend/src/metabase/static-viz/components/ComboChart/ComboChart.tsx
  frontend/src/metabase/static-viz/components/FunnelChart/FunnelChart.tsx
  frontend/src/metabase/static-viz/components/Gauge/Gauge.tsx
  frontend/src/metabase/static-viz/components/ProgressBar/ProgressBar.tsx
  frontend/src/metabase/static-viz/components/RowChart/RowChart.tsx
  frontend/src/metabase/static-viz/components/ScatterPlot/ScatterPlot.tsx
  frontend/src/metabase/static-viz/components/WaterfallChart/WaterfallChart.tsx
  frontend/src/metabase/static-viz/lib/svg.ts
  webpack.static-viz.config.js
Due: front-end

revert webpack changes
  webpack.static-viz.config.js
Due: none

Improve test
  test/metabase/upload_test.clj
Due: none

Create API for deleting CSV uploads
  src/metabase/api/table.clj
  src/metabase/upload.clj
  test/metabase/api/table_test.clj
  test/metabase/upload_test.clj
Due: back-end

Fix return value for upload updates
  src/metabase/api/table.clj
Due: back-end

Update comment
  test/metabase/upload_test.clj
Due: none

Add option to archive cards
  enterprise/backend/src/metabase_enterprise/uploads/api.clj
  src/metabase/upload.clj
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
