Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: no

coverage:
  status:
    project:
      back-end:
        # Project must always have at least 78% coverage (by line)
        target: 78%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 40%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - shared/src
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend
      - frontend
    carryforward: true

Tidy update-dashcards!
  src/metabase/models/dashboard.clj
Due: back-end

remove only
  e2e/test/scenarios/visualizations/line_chart.cy.spec.js
Due: none

fix tests
  test/metabase/api/public_test.clj
Due: none

Updates from suggestions
  src/metabase/models/dashboard_card.clj
  src/metabase/models/params.clj
Due: back-end

Update number of retries in Cy run mode (#28978)
  e2e/support/config.js
Due: none

simplify changes
  src/metabase/api/common.clj
  src/metabase/api/routes/common.clj
  src/metabase/server/middleware/exceptions.clj
Due: back-end

Review fixes
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.unit.spec.tsx
Due: front-end

Clean up `Action` component tests (#29093)
  frontend/src/metabase/actions/components/ActionViz/Action.tsx
  frontend/src/metabase/actions/components/ActionViz/Action.unit.spec.tsx
Due: front-end

Retain a comment
  frontend/src/metabase-lib/queries/drills/quick-filter-drill.js
Due: front-end

Handle data permission error for dashboard actions
  frontend/src/metabase/actions/components/ActionViz/Action.tsx
  frontend/src/metabase/actions/components/ActionViz/Action.unit.spec.tsx
Due: front-end

Extract `setupUnauthorizedDatabaseEndpoints`
  frontend/src/metabase/actions/components/ActionViz/Action.unit.spec.tsx
  frontend/test/__support__/server-mocks/database.ts
Due: front-end

Type error as `unknown`
  frontend/src/metabase/actions/components/ActionViz/Action.tsx
Due: front-end

Update test
  test/metabase/models/dashboard_card_test.clj
Due: none

Add a e2e repro
  e2e/test/scenarios/question/reproductions/29082-quick-filter-null.cy.spec.js
Due: none

fix ee tests
  e2e/test/scenarios/models/model-actions.cy.spec.js
Due: none

28668 Add expression function arguments interactivity (#28966)
  e2e/support/helpers/e2e-misc-helpers.js
  e2e/test/scenarios/custom-column/cc-help-text.cy.spec.js
  e2e/test/scenarios/custom-column/cc-typing-suggestion.cy.spec.js
  frontend/src/metabase-lib/expressions/types.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.unit.spec.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/helper-text-strings.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/helper-text-strings.unit.spec.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/suggest.unit.spec.js
  frontend/test/__support__/ui.tsx
Due: front-end

Refactored ExpressionWidget, ClauseStep components to TS (#28687)
  frontend/src/metabase-lib/queries/StructuredQuery.ts
  frontend/src/metabase-types/types/Query.ts
  frontend/src/metabase/components/Icon.tsx
  frontend/src/metabase/query_builder/components/AggregationPopover/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorSuggestions.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/ExpressionEditorTextfield.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/notebook/NotebookCell.jsx
  frontend/src/metabase/query_builder/components/notebook/lib/steps.types.ts
  frontend/src/metabase/query_builder/components/notebook/steps/AggregateStep.jsx
  frontend/src/metabase/query_builder/components/notebook/steps/BreakoutStep.jsx
  frontend/src/metabase/query_builder/components/notebook/steps/ClauseStep.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/FilterStep.jsx
Due: front-end

Add new design for ExpressionEditorHelpText (#28920)
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.stories.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorHelpText.unit.spec.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/helper-text-strings.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
Due: front-end

Implement new UI design, add unit tests (#28776)
  e2e/test/scenarios/custom-column/cc-help-text.cy.spec.js
  e2e/test/scenarios/custom-column/custom-column.cy.spec.js
  frontend/src/metabase-lib/metadata/Database.ts
  frontend/src/metabase-lib/metadata/Metadata.ts
  frontend/src/metabase-lib/metadata/Table.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/ExpressionEditorTextfield.styled.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
Due: front-end

Initial commit
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.jsx
Due: front-end

28668 new design for expression editor info link (#29113)
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.unit.spec.tsx
Due: front-end

Update test description
  test/metabase/models/dashboard_card_test.clj
Due: none

review
  e2e/pages/account-settings-page.js
  e2e/pages/account-settings-page.ts
  e2e/pages/types.ts
  e2e/pages/widgets/account-settings/password-form.ts
  e2e/pages/widgets/account-settings/profile-form.ts
  e2e/pages/widgets/account-settings/profile-header.ts
  e2e/pages/widgets/shared/app-nav-bar.ts
  e2e/pages/widgets/shared/button.ts
  e2e/pages/widgets/shared/input.js
  e2e/pages/widgets/shared/input.ts
  e2e/pages/widgets/shared/radio.ts
  e2e/pages/widgets/shared/select.js
  e2e/pages/widgets/shared/select.ts
  e2e/test/scenarios/onboarding/setup/user_settings.cy.spec.js
  frontend/src/metabase/account/app/components/AccountHeader/AccountHeader.jsx
  frontend/src/metabase/core/components/Radio/Radio.tsx
Due: front-end

version tweaks
  deps.edn
  modules/drivers/redshift/deps.edn
Due: none

a better way to deal with the collection flake
  e2e/test/scenarios/collections/collections.cy.spec.js
Due: none

Fix tests
  frontend/test/metabase/modes/components/drill/QuickFilterDrill.unit.spec.js
Due: front-end

Remove not-needed testid
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
Due: front-end

more test coverage and better matcher names
  src/metabase/automagic_dashboards/core.clj
  test/metabase/automagic_dashboards/core_test.clj
Due: back-end

update spec
  e2e/test/scenarios/collections/collections.cy.spec.js
Due: none

Initial commit
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
Due: front-end

Fix e2e tests
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover/FilterPopover.tsx
Due: front-end

Add styled
  frontend/src/metabase/query_builder/components/AggregationPopover/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/ExpressionEditorTextfield.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.styled.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover/FilterPopover.tsx
Due: front-end

Tests fixes
  frontend/src/metabase/query_builder/components/AggregationPopover/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover/FilterPopover.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.tsx
Due: front-end

Remove outdated ExpressionPopover
  frontend/src/metabase/query_builder/components/AggregationPopover/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/ExpressionPopover.css
  frontend/src/metabase/query_builder/components/ExpressionPopover.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield/helper-text-strings.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover/FilterPopover.tsx
  frontend/src/metabase/query_builder/components/notebook/steps/ExpressionStep.tsx
Due: front-end

Fixes for e2e tests
  e2e/test/scenarios/admin/datamodel/metrics.cy.spec.js
  e2e/test/scenarios/filters/filter.cy.spec.js
  e2e/test/scenarios/question/notebook.cy.spec.js
  e2e/test/scenarios/question/reproductions/15714-cc-postgres-percentile-accepts-two-params.cy.spec.js
  e2e/test/scenarios/question/reproductions/17512.cy.spec.js
  e2e/test/scenarios/question/reproductions/18207-string-min-max.cy.spec.js
  e2e/test/scenarios/question/reproductions/6239-sort-using-cust-exp.cy.spec.js
  e2e/test/scenarios/question/summarization.cy.spec.js
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
Due: front-end

Fix for failing e2e tests
  frontend/src/metabase/query_builder/components/AggregationPopover/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover/FilterPopover.tsx
Due: front-end

add hide button to column formatting popover in table
  e2e/support/helpers/e2e-ui-elements-helpers.js
  e2e/test/scenarios/visualizations/table.cy.spec.js
  frontend/src/metabase/modes/components/drill/FormatDrill/FormatDrill.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingHideButton.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingNestedSettings.jsx
  frontend/src/metabase/visualizations/visualizations/Table.jsx
  package.json
  yarn.lock
Due: front-end

pass settings from prop instead of using `useSelector`
  frontend/src/metabase/visualizations/components/settings/ChartSettingHideButton.tsx
  frontend/src/metabase/visualizations/visualizations/Table.jsx
  package.json
Due: front-end

fix popover not closing in sidebar
  frontend/src/metabase/visualizations/components/ChartSettingsWidgetPopover.tsx
Due: front-end
