Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Add another test for DQs getting unarchived
  test/metabase/api/dashboard_test.clj
Due: none

fix a couple tests
  src/metabase/models/card.clj
  src/metabase/util/autoplace.clj
  test/metabase/util/autoplace_test.clj
Due: back-end

fix silly typo
  test/metabase/api/card_test.clj
Due: none

Fix dashboard details on recents, with a test
  src/metabase/models/recent_views.clj
  test/metabase/api/activity_test.clj
Due: back-end

Don't revert to dashcards with archived cards
  src/metabase/api/dashboard.clj
  src/metabase/models/dashboard.clj
Due: back-end

fix a test
  enterprise/backend/src/metabase_enterprise/stale/api.clj
  src/metabase/api/collection.clj
  src/metabase/models/collection.clj
Due: back-end

Archive and unarchive DQs when used/unused
  src/metabase/api/dashboard.clj
  src/metabase/models/dashboard.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

`delete_old_dashboards` as a query param
  src/metabase/api/card.clj
  test/metabase/api/card_test.clj
Due: back-end

remove stray #p
  test/metabase/api/activity_test.clj
Due: none

workaround a bug with "changing" a type
  src/metabase/models/card.clj
Due: back-end

DOH
  src/metabase/models/dashboard.clj
Due: back-end

Fix/update tests for updating DQs
  src/metabase/models/card.clj
  test/metabase/models/card_test.clj
Due: back-end

lint
  src/metabase/api/dashboard.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

autoplace on unarchive, better error messages
  src/metabase/models/card.clj
  test/metabase/models/card_test.clj
Due: back-end

allow optionally deleting old dashcards on move
  src/metabase/api/card.clj
  src/metabase/models/card.clj
  test/metabase/api/card_test.clj
Due: back-end

small fixes for recents tests
  test/metabase/models/recent_views_test.clj
Due: none

add dashboard_count to (card) collection items
  src/metabase/api/collection.clj
Due: back-end

Autoplace Dashboard Questions on creation
  src/metabase/models/card.clj
  test/metabase/api/card_test.clj
Due: back-end

lint
  test/metabase/api/dashboard_test.clj
Due: none

Improve autoplace to be like frontend
  frontend/src/metabase/lib/dashboard_grid.js
  src/metabase/models/card.clj
  src/metabase/util/autoplace.clj
  test/metabase/util/autoplace_test.clj
Due: back-end, front-end

Exclude DQs from dashboard if archived directly
  src/metabase/models/dashboard.clj
Due: back-end

add more tests
  test/metabase/api/dashboard_test.clj
Due: none

add dashboard details to recents
  src/metabase/api/activity.clj
  src/metabase/models/recent_views.clj
Due: back-end

Handle reversions containing unowned DQs
  src/metabase/models/dashboard.clj
Due: back-end

Tests and fixes for dashboard items endpoint
  src/metabase/api/dashboard.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

Add more tests for DQs/reversions
  src/metabase/models/dashboard.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

reject moving card if in another dashboard
  src/metabase/models/card.clj
  test/metabase/api/card_test.clj
Due: back-end

do not autoplace DQs when duplicating a dashboard
  src/metabase/api/dashboard.clj
  src/metabase/models/card.clj
  test/metabase/api/dashboard_test.clj
Due: back-end

keywords aren't allowed anywhere but the top level (#48802)
  src/metabase/analytics/stats.clj
Due: back-end

chat v3 bugs fixed
  frontend/src/metabase/browse/components/ChatItems/ChatHistory.tsx
  frontend/src/metabase/home/components/HomeLayout/HomeLayout.tsx
  frontend/src/metabase/query_builder/components/ChatAssistant.jsx
Due: front-end

add allowed iframe host setting wip
  frontend/src/metabase/admin/settings/selectors/selectors.js
  frontend/src/metabase/visualizations/visualizations/IFrameViz/utils.ts
  src/metabase/public_settings.clj
  src/metabase/server/middleware/security.clj
Due: back-end, front-end

Add test
  test/metabase/query_processor/middleware/metrics_test.clj
Due: none

Convert to TypeScript
  frontend/src/metabase-types/api/table.ts
  frontend/src/metabase/lib/urls/browse.ts
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/utils.tsx
Due: front-end

Parallel test
  test/metabase/query_processor/middleware/metrics_test.clj
Due: none

Change the header icon
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/QuestionDataSource.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader/components/QuestionDataSource/utils.tsx
Due: front-end

cancel request on unmount in static question
  enterprise/frontend/src/embedding-sdk/components/public/StaticQuestion/StaticQuestion.tsx
  enterprise/frontend/src/embedding-sdk/lib/load-static-question.ts
Due: front-end

Fix bug causing dashboard cards to be removed
  src/metabase/models/card.clj
Due: back-end

Add statuses, change backend, types
  enterprise/backend/src/metabase_enterprise/sso/integrations/jwt.clj
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestion/components/Visualization.tsx
  enterprise/frontend/src/embedding-sdk/components/private/InteractiveQuestionResult/InteractiveQuestionResult.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/PublicComponentWrapper.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/PublicComponentWrapper.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/SdkError.tsx
  enterprise/frontend/src/embedding-sdk/components/private/PublicComponentWrapper/index.ts
  enterprise/frontend/src/embedding-sdk/components/private/SdkError/SdkError.tsx
  enterprise/frontend/src/embedding-sdk/components/private/SdkError/errors.ts
  enterprise/frontend/src/embedding-sdk/components/private/SdkError/index.ts
  enterprise/frontend/src/embedding-sdk/components/private/SdkError/types/error-info.ts
  enterprise/frontend/src/embedding-sdk/components/private/SdkError/types/status.ts
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/ConnectedDashboard.tsx
  enterprise/frontend/src/embedding-sdk/components/public/InteractiveDashboard/InteractiveDashboard.tsx
  enterprise/frontend/src/embedding-sdk/components/public/StaticDashboard/StaticDashboard.tsx
  enterprise/frontend/src/embedding-sdk/components/public/StaticQuestion/StaticQuestion.tsx
  enterprise/frontend/src/embedding-sdk/hooks/private/setup-sdk-auth.ts
  enterprise/frontend/src/embedding-sdk/hooks/private/use-init-data.ts
  enterprise/frontend/src/embedding-sdk/hooks/private/use-init-data.unit.spec.tsx
  enterprise/frontend/src/embedding-sdk/store/reducer.ts
  enterprise/frontend/src/embedding-sdk/store/selectors.ts
  enterprise/frontend/src/embedding-sdk/store/types.ts
  enterprise/frontend/src/embedding-sdk/test/mocks/state.ts
  enterprise/frontend/src/embedding-sdk/types/refresh-token.ts
Due: back-end, front-end

use deferred promise
  enterprise/frontend/src/embedding-sdk/lib/load-static-question.ts
Due: front-end
