Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

Sync sample data metrics on creation
  src/metabase/core/core.clj
  src/metabase/metrics/core.clj
  src/metabase/sample_data/core.clj
  src/metabase/sample_data/impl.clj
  test/metabase/metrics/core_test.clj
Due: back-end

[AI Analytics] Date filters respect retention period (#74441)
  enterprise/backend/src/metabase_enterprise/metabot/settings.clj
  enterprise/backend/src/metabase_enterprise/metabot/task/ai_usage_trimmer.clj
  enterprise/backend/test/metabase_enterprise/metabot/settings_test.clj
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationFilters/ConversationFilters.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationFilters/ConversationFilters.unit.spec.tsx
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/querying/common/components/DatePicker/DatePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/RelativeDatePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/utils.ts
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/utils.unit.spec.ts
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/DateRangePicker/DateRangePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/DateRangePicker/DateRangePickerBody/DateRangePickerBody.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SingleDatePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SingleDatePickerBody/SingleDatePickerBody.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/SpecificDatePicker.tsx
  frontend/src/metabase/querying/parameters/components/DateAllOptionsWidget/DateAllOptionsWidget.tsx
  test_resources/serialization_baseline/settings.yaml
Due: back-end, front-end

Reproduce and fix deadlock issue with remote sync
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/serialization/v2/load.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/load_test.clj
  src/metabase/app_db/query_cancelation.clj
  src/metabase/app_db/transient_error.clj
  test/metabase/app_db/transient_error_test.clj
Due: back-end

Remove a TODO
  test/metabase/sample_data/impl_test.clj
Due: none

Fix sample db driver in sample content
  resources/sample-content.edn
Due: none

test: clean memory leak
  frontend/test/jest-setup-env.js
Due: none

Add column picker to metrics viewer controls
  frontend/src/metabase/metrics-viewer/components/MetricControls/MetricControls.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/AddDimensionPopover/AddDimensionPopover.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/AddDimensionPopover/AddDimensionPopover.unit.spec.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/MetricsViewerTabContent/MetricsViewerTabContent.tsx
  frontend/src/metabase/metrics-viewer/pages/MetricsViewerPage/MetricsViewerPage.tsx
Due: front-end

docs: fix minor typo in SDK Bundle description (#74541)
  docs/embedding/sdk/introduction.md
Due: none

test: tweak jest config
  jest.config.js
Due: none

m. cast to long for linter
  enterprise/backend/src/metabase_enterprise/serialization/v2/load.clj
Due: back-end

🤖 backported "docs: fix minor typo in SDK Bundle description" (#74548)
  docs/embedding/sdk/introduction.md
Due: none

Turn off async and stop polling in embedding-sdk-info-saves-query-execution-test
  test/metabase/queries_rest/api/card_test.clj
Due: none

Remove column tabs
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/MetricsViewerTabs.module.css
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/MetricsViewerTabs.tsx
  frontend/src/metabase/metrics-viewer/components/MetricsViewerTabs/index.ts
  frontend/src/metabase/metrics-viewer/pages/MetricsViewerPage/MetricsViewerPage.module.css
  frontend/src/metabase/metrics-viewer/pages/MetricsViewerPage/MetricsViewerPage.tsx
Due: front-end

Remove schema names from sample content table definitions
  dev/src/dev/sample_database_convert.clj
  resources/sample-content.edn
  test/metabase/sample_data/impl_test.clj
Due: none

UXW-4153 link back to chart origin page
  src/metabase/explorations/api.clj
  src/metabase/explorations/groups.clj
  test/metabase/explorations/api_test.clj
Due: back-end

[Metabot] Fix AI settings inputs flickering + losing focus (#74527)
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabaseAIProviderSetup.tsx
  frontend/src/metabase/metabot/components/MetabotAdmin/MetabotSetup.tsx
  frontend/src/metabase/metabot/components/MetabotAdmin/MetabotSetup.unit.spec.tsx
Due: front-end

Increase what counts as an "old" dataset in Snowflake to 5 days.
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
Due: none

Allow overall run pass even when bigquery driver tests fail.
  .github/workflows/drivers.yml
Due: none

TransformingMetadataProvider: transform-id namespacing + full CachedMetadataProvider
  enterprise/backend/src/metabase_enterprise/workspaces/query_processor/middleware.clj
  enterprise/backend/test/metabase_enterprise/workspaces/query_processor/middleware_test.clj
  src/metabase/lib/metadata/transforming_provider.cljc
  test/metabase/lib/metadata/transforming_provider_test.cljc
Due: back-end

Fix error for pivot tables with no dimensions (#74521)
  frontend/src/metabase/visualizations/visualizations/PivotTable/settings.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/settings.unit.spec.ts
Due: front-end

Add description to auto sync toggle in remote sync setup (#74507)
  e2e/test/scenarios/admin/remote-sync.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/RemoteSyncAdminSettings/RemoteSyncSettingsForm.tsx
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/RemoteSyncAdminSettings/RemoteSyncSettingsForm.unit.spec.tsx
Due: front-end

UXW-4144 Use contextual_interestingness_score
  frontend/src/metabase-types/api/exploration.ts
  frontend/src/metabase/explorations/components/ExplorationSidebar/ExplorationSidebar.unit.spec.tsx
  frontend/src/metabase/explorations/components/ExplorationSidebar/utils.ts
Due: front-end

Update generated docs (master)
  docs/api.json
  docs/configuring-metabase/config-template.md
  docs/configuring-metabase/environment-variables.md
Due: none

m. whitespace linting error
  src/metabase/lib/metadata.cljc
Due: back-end

[AI Analytics] Make conversation list sortable by more fields (#74380)
  e2e/test/scenarios/metabot/usage-auditing.cy.spec.ts
  enterprise/backend/src/metabase_enterprise/metabot_analytics/api.clj
  enterprise/backend/src/metabase_enterprise/metabot_analytics/conversations.clj
  enterprise/backend/test/metabase_enterprise/metabot_analytics/api_test.clj
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationsPage/ConversationsTable.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationsPage/utils.ts
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/types.ts
Due: back-end, front-end

Recurse not.
  src/metabase/app_db/transient_error.clj
Due: back-end

UXW-4137 Document page loader skeleton
  frontend/src/metabase/explorations/components/ExplorationDocument/ExplorationDocument.tsx
  frontend/src/metabase/explorations/components/ExplorationDocument/ExplorationDocument.unit.spec.tsx
  frontend/src/metabase/explorations/components/ExplorationDocument/ExplorationDocumentSkeleton.tsx
Due: front-end

Improving performance of /api/exploration/dimensions
  src/metabase/explorations/impl.clj
  src/metabase/metrics/core.clj
  src/metabase/metrics/permissions.clj
  test/metabase/explorations/impl_test.clj
  test/metabase/metrics/permissions_test.clj
Due: back-end

Simplifications. Remove multimethods, remove footgun.
  src/metabase/app_db/transient_error.clj
Due: back-end

🤖 backported "[AI Analytics] Date filters respect retention period" (#74543)
  enterprise/backend/src/metabase_enterprise/metabot/settings.clj
  enterprise/backend/src/metabase_enterprise/metabot/task/ai_usage_trimmer.clj
  enterprise/backend/test/metabase_enterprise/metabot/settings_test.clj
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationFilters/ConversationFilters.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationFilters/ConversationFilters.unit.spec.tsx
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase/querying/common/components/DatePicker/DatePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/RelativeDatePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/utils.ts
  frontend/src/metabase/querying/common/components/DatePicker/RelativeDatePicker/utils.unit.spec.ts
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/DateRangePicker/DateRangePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/DateRangePicker/DateRangePickerBody/DateRangePickerBody.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SingleDatePicker.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/SingleDatePicker/SingleDatePickerBody/SingleDatePickerBody.tsx
  frontend/src/metabase/querying/common/components/DatePicker/SpecificDatePicker/SpecificDatePicker.tsx
  frontend/src/metabase/querying/parameters/components/DateAllOptionsWidget/DateAllOptionsWidget.tsx
  test_resources/serialization_baseline/settings.yaml
Due: back-end, front-end

add a test with a shared parent mp
  test/metabase/lib/metadata/transforming_provider_test.cljc
Due: none

Fix async flake: embedding-sdk-info-saves-query-execution-test (#74550)
  test/metabase/queries_rest/api/card_test.clj
Due: none

show feedback buttons in self-hosted instances
  frontend/src/metabase/metabot/components/MetabotChat/MetabotChat.tsx
  frontend/src/metabase/metabot/tests/feedback.unit.spec.ts
Due: front-end

clean up ishosted flag in setup fn
  frontend/src/metabase/metabot/tests/utils.tsx
Due: front-end

GHY-3386 wip
  src/metabase/models/serialization.clj
  test/metabase/models/serialization_test.clj
  test_resources/serialization_baseline/collections/main/queries/nested_query.yaml
  test_resources/serialization_baseline/collections/main/queries/source_card_reference.yaml
Due: back-end

Path conditions:
  back-end: any of: enterprise/backend, src/metabase
  front-end: any of: enterprise/frontend/src, frontend/src
