Repository metabase/metabase: changes, and which Codecov flags are due for each by the changed paths.
All: back-end, front-end

codecov.yml:

codecov:
    bot: "codecov-io"
    require_ci_to_pass: false

coverage:
  status:
    project:
      back-end:
        # Project must always have at least the target amount coverage (by line)
        target: 85%
        # Whole-project test coverage is allowed to drop up to 5%. (For situtations where we delete code with full coverage)
        threshold: 5%
        flags:
          - back-end

      front-end:
        target: 60%
        threshold: 5%
        flags:
          - front-end

    patch: off

flags:
  back-end:
    paths:
      - enterprise/backend
      - src/metabase
    carryforward: true

  front-end:
    paths:
      - enterprise/frontend/src
      - frontend/src
    carryforward: true

Security center: send test notifications to unsaved recipients (#74339)
  enterprise/backend/src/metabase_enterprise/security_center/api.clj
  enterprise/backend/src/metabase_enterprise/security_center/notification.clj
  enterprise/backend/test/metabase_enterprise/security_center/api_test.clj
  enterprise/backend/test/metabase_enterprise/security_center/notification_test.clj
  enterprise/frontend/src/metabase-enterprise/security_center/components/NotificationChannelConfigModal/NotificationChannelConfigModal.tsx
  enterprise/frontend/src/metabase-enterprise/security_center/components/NotificationChannelConfigModal/NotificationChannelConfigModal.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/security_center/hooks/use-notification-config.ts
  frontend/src/metabase-types/api/security-center.ts
  frontend/src/metabase/api/security-center.ts
Due: back-end, front-end

feat: add last calculated date to data complexity
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/ConversationStatsPage.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityHeader.unit.spec.tsx
Due: front-end

feat: ui to display data complexity color coding (#74363)
  .loki/reference/chrome_laptop_Design_System_Colors_Default.png
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.module.css
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexitySection.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/__snapshots__/DataComplexityCards.unit.spec.tsx.snap
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/types.ts
  frontend/src/metabase/ui/colors/constants/themes/dark.ts
  frontend/src/metabase/ui/colors/constants/themes/light.ts
  frontend/src/metabase/ui/colors/types/color-keys.ts
Due: front-end

some review comments
  frontend/src/metabase/documents/components/Editor/AnchorLinkMenu/AnchorLinkMenu.tsx
  frontend/src/metabase/documents/components/Editor/CommentsMenu/CommentsMenu.tsx
  frontend/src/metabase/metabot/components/QuestionModeSwitcher/QuestionModeSwitcher.tsx
Due: front-end

try lowercasing
  frontend/src/metabase/detail-view/components/DetailViewSidesheet/DetailViewSidesheet.tsx
  frontend/src/metabase/visualizations/components/ObjectDetail/ObjectDetailView.tsx
Due: front-end

Use chr(92) over '\' to work around sql-formatter bug for oracle (#74457)
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  test/metabase/query_processor/filter_test.clj
Due: none

🤖 backported "Fix remapping with custom values" (#74760)
  e2e/test/scenarios/dashboard-filters/dashboard-filters-number-source.cy.spec.js
  frontend/src/metabase/parameters/components/ValuesSourceModal/ValuesSourceModal.unit.spec.tsx
  src/metabase/parameters/custom_values.clj
  test/metabase/embedding_rest/api/embed_test.clj
  test/metabase/parameters/custom_values_test.clj
Due: back-end, front-end

🤖 backported "feat: ui to display data complexity color coding" (#74761)
  .loki/reference/chrome_laptop_Design_System_Colors_Default.png
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.module.css
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexityCards.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/DataComplexitySection.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/components/ConversationStatsPage/__snapshots__/DataComplexityCards.unit.spec.tsx.snap
  enterprise/frontend/src/metabase-enterprise/audit_app/metabot-analytics/types.ts
  frontend/src/metabase/ui/colors/constants/themes/dark.ts
  frontend/src/metabase/ui/colors/constants/themes/light.ts
  frontend/src/metabase/ui/colors/types/color-keys.ts
Due: front-end

🤖 backported "Security center: send test notifications to unsaved recipients" (#74762)
  enterprise/backend/src/metabase_enterprise/security_center/api.clj
  enterprise/backend/src/metabase_enterprise/security_center/notification.clj
  enterprise/backend/test/metabase_enterprise/security_center/api_test.clj
  enterprise/backend/test/metabase_enterprise/security_center/notification_test.clj
  enterprise/frontend/src/metabase-enterprise/security_center/components/NotificationChannelConfigModal/NotificationChannelConfigModal.tsx
  enterprise/frontend/src/metabase-enterprise/security_center/components/NotificationChannelConfigModal/NotificationChannelConfigModal.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/security_center/hooks/use-notification-config.ts
  frontend/src/metabase-types/api/security-center.ts
  frontend/src/metabase/api/security-center.ts
Due: back-end, front-end

fix broken storybook rendering
  enterprise/frontend/src/metabase-enterprise/custom_viz/custom-viz-plugins.tsx
  enterprise/frontend/src/metabase-enterprise/custom_viz/sandbox/index.ts
  frontend/test/__support__/custom-viz-fixtures/calendar-heatmap-fixtures.ts
Due: front-end

fix typo
  modules/drivers/teradata/src/metabase/driver/teradata.clj
Due: none

e2e test adjustment
  e2e/test/scenarios/onboarding/home/browse.cy.spec.ts
Due: none

add basic treemap viz
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/visualizations/echarts/graph/treemap/model/data.ts
  frontend/src/metabase/visualizations/echarts/graph/treemap/model/data.unit.spec.ts
  frontend/src/metabase/visualizations/echarts/graph/treemap/model/types.ts
Due: front-end

Gdgt 2390 add sources for the tgz test plugins (#73819)
  .gitignore
  e2e/support/assets/example_custom_viz_plugin.tgz
  e2e/support/assets/example_custom_viz_plugin_2.tgz
  e2e/support/config.js
  e2e/support/helpers/e2e-custom-viz-helpers.ts
  e2e/test/scenarios/visualizations-charts/custom-viz.cy.spec.ts
  enterprise/frontend/src/custom-viz/fixtures/build-example-custom-viz.mjs
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/manifests/demo-viz-2.json
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/manifests/demo-viz-security.json
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/manifests/demo-viz.json
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/public/assets/icon.svg
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/Visualization.tsx
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/index-widget-security.tsx
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/index.tsx
  enterprise/frontend/src/custom-viz/fixtures/example_custom_viz_plugin/src/types.ts
  eslint.config.mjs
  package.json
Due: front-end

Add test to verify unable to reproduce (#74606)
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
Due: none

wip: options
  frontend/src/metabase/visualizations/echarts/graph/treemap/option/option.ts
  frontend/src/metabase/visualizations/echarts/graph/treemap/option/option.unit.spec.ts
Due: front-end

fix custom values with labels
  src/metabase/parameters/custom_values.clj
  test/metabase/parameters/custom_values_test.clj
Due: back-end

fix
  src/metabase/parameters/custom_values.clj
Due: back-end

remove branch and mode from connection test
  enterprise/backend/src/metabase_enterprise/remote_sync/api.clj
  enterprise/backend/test/metabase_enterprise/remote_sync/api_test.clj
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/RemoteSyncAdminSettings/RemoteSyncSettingsForm.unit.spec.tsx
  enterprise/frontend/src/metabase-enterprise/remote_sync/components/RemoteSyncAdminSettings/TestConnectionButton.tsx
  frontend/src/metabase-types/api/remote-sync.ts
Due: back-end, front-end

add treemapviz shell
  frontend/src/metabase/visualizations/visualizations/TreemapChart/TreemapChart.tsx
  frontend/src/metabase/visualizations/visualizations/TreemapChart/index.ts
Due: front-end

GDGT-1582: Rewrite SchemaPickerInput to use Minipicker. Extend MiniPicker to support schema browsing
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/components/SchemaPickerInput/SchemaPickerInput.tsx
  frontend/src/metabase/common/components/Pickers/MiniPicker/components/MiniPickerItemList.tsx
  frontend/src/metabase/common/components/Pickers/MiniPicker/types.ts
  frontend/src/metabase/common/components/Pickers/MiniPicker/utils.ts
Due: front-end

Implement vector-of-atoms with sparse overrides for *system*
  src/metabase/root/system.clj
Due: back-end

register treemap viz
  frontend/src/metabase-types/api/visualization.ts
  frontend/src/metabase/embedding/mcp/utils/getMcpChartTypes.ts
  frontend/src/metabase/metabot/utils/chart-analysis.ts
  frontend/src/metabase/visualizations/components/EmptyVizState/utils.ts
  frontend/src/metabase/visualizations/echarts/index.ts
  frontend/src/metabase/visualizations/register.js
  frontend/src/metabase/visualizations/visualizations/TreemapChart/TreemapChart.tsx
  frontend/src/metabase/visualizations/visualizations/TreemapChart/chart-definition.ts
  frontend/src/metabase/visualizations/visualizations/TreemapChart/chart-definition.unit.spec.ts
Due: front-end

bitbucket tokens
  docs/installation-and-operation/remote-sync.md
Due: none

Fix search values remap (#74770)
  src/metabase/parameters/custom_values.clj
  test/metabase/parameters/custom_values_test.clj
Due: back-end

Update alter-root docstring for the new mutate-in-place semantics
  src/metabase/root/mutable_component.clj
Due: back-end

use sync response sandbox-host
  enterprise/backend/src/metabase_enterprise/custom_viz_plugin/api.clj
Due: back-end

swap!: read cascaded current value for un-overridden keys
  src/metabase/root/system.clj
  test/metabase/root/system_test.clj
Due: back-end

Glob for driver plugin manifest file (#74291)
  bin/build/src/build_drivers/verify.clj
  src/metabase/plugins/impl.clj
Due: back-end

Allow Admins to purchase Metabot AI
  enterprise/backend/src/metabase_enterprise/cloud_add_ons/api.clj
  enterprise/backend/test/metabase_enterprise/cloud_add_ons/api_test.clj
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabaseAIProviderSetup.tsx
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabaseAIProviderSetup.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotAdmin/MetabaseAIProviderSetup.unit.spec.tsx
Due: back-end, front-end

Update persist and refreshModelCache mutation onQueryStarted (#74631)
  e2e/test/scenarios/admin/databases/database-writable-connection.cy.spec.ts
  frontend/src/metabase/api/card.ts
Due: front-end

adjust min height of container so that there is no scroll for simple series (#74624)
  frontend/src/metabase/visualizations/components/ChartSettingsWidgetPopover.tsx
Due: front-end

GDGT-1582: Cleanup hooks
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/hooks/useCanvasLayout.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/hooks/useEdgeZoom.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/hooks/useGraphSync.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/hooks/useSchemaPreferencesStore.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/hooks/useSchemaViewerZoomMethods.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/utils/flow-graph.unit.spec.ts
  enterprise/frontend/src/metabase-enterprise/schema_viewer/components/SchemaViewer/utils/layout.ts
Due: front-end

Address remaining 'tab' references
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/components/CategoryItem.tsx
  frontend/src/metabase/metrics-viewer/components/DimensionPickerSidebar/utils.ts
  frontend/src/metabase/metrics-viewer/constants.ts
  frontend/src/metabase/metrics-viewer/hooks/use-definition-queries.ts
  frontend/src/metabase/metrics-viewer/utils/dimension-breakouts.ts
  frontend/src/metabase/metrics-viewer/utils/dimension-picker.ts
  frontend/src/metabase/metrics-viewer/utils/remap-dimension-mappings.unit.spec.ts
Due: front-end

🤖 backported "security center: only include mb email if send to all emails is on" (#74747)
  enterprise/backend/src/metabase_enterprise/security_center/notification.clj
  enterprise/backend/test/metabase_enterprise/security_center/notification_test.clj
Due: back-end

🤖 backported "Fix search values remap" (#74771)
  src/metabase/parameters/custom_values.clj
  test/metabase/parameters/custom_values_test.clj
Due: back-end

Fix temporal-unit param field qualification for BigQuery (#74680)
  src/metabase/driver/sql/parameters/substitution.clj
Due: back-end

POC 1
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/api_routes/routes.clj
  enterprise/backend/src/metabase_enterprise/core/init.clj
  enterprise/backend/src/metabase_enterprise/data_app_demo/api.clj
  enterprise/backend/src/metabase_enterprise/data_app_demo/init.clj
  enterprise/frontend/src/metabase-enterprise/data_app_demo/DataAppDemo.tsx
  enterprise/frontend/src/metabase-enterprise/data_app_demo/index.ts
  enterprise/frontend/src/metabase-enterprise/data_app_demo/loader.ts
  enterprise/frontend/src/metabase-enterprise/data_app_demo/sandbox.ts
  enterprise/frontend/src/metabase-enterprise/plugins.ts
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/plugins/oss/data-app-demo.ts
  frontend/src/metabase/routes.jsx
  resources/data_app_demo/index.js
Due: back-end, front-end
